[2020-07-22 15:56] aleksficek commented on #2562
@cjnolet Can I pick this one up? I want to get some experience in the C++ layer and this looks like an easy transition.

[2020-07-22 16:02] #1753 closed

[2020-07-22 16:02] #2402 closed

[2020-07-22 16:21] cjnolet commented on #2562
@aleksficek, I've been thinking about this a little and with the row-major output, the most efficient way to do this would be to stop the index from being added to the heap during the computation of the nearest neighbors.

I've filed https://github.com/facebookresearch/faiss/issues/1301.

[2020-07-22 16:57] #2202 closed

[2020-07-22 17:04] #1497 closed

[2020-07-22 17:09] cjnolet commented on #907
This has been incorporated into cuML 0.15 and is currently available in the nightlies. Closing.

[2020-07-22 17:09] #907 closed

[2020-07-22 17:10] cjnolet commented on #905
This has been fixed. Closing.

[2020-07-22 17:10] #905 closed

[2020-07-22 17:11] cjnolet commented on #902
We are no longer using SPMG in MNMG algorithms. Closing.

[2020-07-22 17:11] #902 closed

[2020-07-22 17:17] #1021 closed

[2020-07-22 17:18] cjnolet commented on #1010
Current solution is to use k-means++ initialization, which has been verified to find better initial centroids. Closing.

[2020-07-22 17:18] #1010 closed

[2020-07-22 17:19] aleksficek commented on #1780
I'll take on this issue

[2020-07-22 17:19] cjnolet commented on #1000
Looks like this was a row-major layout problem. The other estimators were expecting col-major. This has since been addressed. Closing.

[2020-07-22 17:19] #1000 closed

[2020-07-22 17:20] cjnolet commented on #1140
I believe this has been fixed. Please open back up if it has not. Closing.

[2020-07-22 17:20] #1140 closed

[2020-07-22 17:22] #1323 closed

[2020-07-22 17:23] cjnolet commented on #1293
@dantegd, did @tfeher's recent fix also take care of this one?

[2020-07-22 17:23] cjnolet commented on #1266
These are in cuml 0.15. Closing.

[2020-07-22 17:23] #1266 closed

[2020-07-22 17:24] #1290 closed

[2020-07-22 17:25] #1479 closed

[2020-07-22 17:29] cjnolet commented on #1535
Does this issue require any changes or can it be closed?

[2020-07-22 17:31] cjnolet commented on #1653
Our KNN now supports additional distance metrics but now these need to be wired up in both UMAP and T-SNE. Changing the title to do this.

[2020-07-22 17:33] VibhuJawa opened #2588 "[ENH]Extend default text vectorizer pre-processing to remove tokens of length 1."
**Is your feature request related to a problem? Please describe.**

We should extend default text vectorizer pre-processing to remove tokens of length 1 following scikit-learn.

Currently, we don't remove them but now that https://github.com/rapidsai/cudf/pull/5658 is in we should able to handle this too.

Scikit-learn docs on default token extractor:
[code]

**Divergence Example:** https://gist.g

[2020-07-22 17:34] VibhuJawa commented on #2588
I plan to start a pr benchmarking and addressing this soon. 😊

[2020-07-22 17:34] cjnolet commented on #1640
@atarashansky, the PCA in the cuml 0.15 nightly now accepts both `scipy.sparse` and `cupy.sparse` as input. I'm going to close this issue as resolved.

[2020-07-22 17:34] #1640 closed

[2020-07-22 17:36] cjnolet commented on #1625
Update: Single GPU is supported. Multi-GPU is still an open PR and requires a small change to the adjustment of the weights.

[2020-07-22 17:36] #1615 closed

[2020-07-22 17:38] #1650 closed

[2020-07-22 17:40] #1740 closed

[2020-07-22 17:42] #1841 closed

[2020-07-22 17:44] VibhuJawa opened #2590 "[ENH]Improve Character Filtering Performance for text-vectorizers"
**Is your feature request related to a problem? Please describe.**

The default text-pre-processing involves removing all apha-numeric characters apart from `_`, performance for which should improve when we get [cudf::strings::filter_characters](https://github.com/rapidsai/cudf/issues/5734 ) API.

https://github.com/rapidsai/cuml/blob/5d4ea797f23eba340c7c55f96ca2aa553f7464a0/python/cuml/feature_ex

[2020-07-22 17:44] cjnolet commented on #1818
@tuffr5, there were some changes made to DBSCAN recently that should have fixed a few cases where results may have been incorrect. Can you try cuml 0.14 and let us know if this has been fixed?

[2020-07-22 17:47] cjnolet commented on #1919
We've had some discussions about using a special (wrapper) allocator for our tests that can count allocations and deallocations. This should be a more accurate verification of memory leaks.

[2020-07-22 20:26] Salonijain27 commented on #2571
@mcamplaniROVCO  by one-class do you mean binary classification?

[2020-07-22 21:11] drobison00 commented on #2579
Looks like we currently do a reset_index(drop=True) on X data returned from train_test_split, but not the y data. This results in X being returned with a RangeIndex (0, n-1), and y with an Int64Range index. Attempting to assign y back to a column of X will result in range elements of y that don't exist in X to be populated by nulls. Going to remove the reset/drop from X, which produces consistent

[2020-07-22 22:00] mcamplaniROVCO commented on #2571
Hello

Sorry for my poor description. With one-class SVM I mean something similar to the Scikit-Learn One Class SVM here

https://scikit-learn.org/stable/modules/generated/sklearn.svm.OneClassSVM.html

Where the SVM is used to learn a "normal class" rather than two distinct ones as in the binary case

[2020-07-23 07:44] tfeher commented on #1293
The recent changes introduces by PRs #2543 and #2494 do fix issues with logistic regression using L1 penalty. I would expect that any converged model has correct accuracy (it is a different issue that from the Python side it is not necessarily obvious whether we are converged #2546).  I believe we can close this issue.

[2020-07-23 07:53] tfeher commented on #1865
This was solved by #2411.

[2020-07-23 07:53] #1865 closed

[2020-07-23 08:48] vinaydes commented on #1535
This issue requires changes. We still have two `isend` (and `irecv`) instances.
https://github.com/rapidsai/cuml/blob/branch-0.15/cpp/src_prims/common/cuml_comms_int.hpp#L114
and
https://github.com/rapidsai/cuml/blob/branch-0.15/cpp/src_prims/common/cuml_comms_int.hpp#L138
As mentioned above we should rename `void isend(const void* buf, ...` to `void isend_raw(const void* buf, ...)`. Similar chang

[2020-07-23 09:56] tfeher commented on #2478
The nightly images now contain the fix for both the problems encountered in this issue.

[2020-07-23 16:20] jefferythewind opened #2595 "[QST] Default t-SNE output much different from sklearn's on the Iris dataset."
I am doing some research using t-SNE, and at the same time I have been using cuML for some time and love the speed! However I have just noticed that the default behavior of t-SNE embedding is much different from the sklearn implementation when tested on the iris data set. I checked the docs online and indeed all the default parameters appear to be exactly the same. The first picture is the output

[2020-07-23 17:09] teju85 commented on #2530
I think we could support `make_scorer` with a similar UDF approach like the one currently supported in cuDF. But probably this will not happen until 0.16 or 0.17 timeframe (tagging @dantegd and @JohnZed , as per our our offline discussion on this).

[2020-07-23 20:31] teju85 opened #2596 "[BUG] RFRegressor C++ benchmark runs take a looong time"
**Describe the bug**
RFRegressor benchmark runs seem to be taking a really long time, before crashing due to OOM error.

**Steps/Code to reproduce bug**
1. Compile cuML codebase using the usual `build.sh` command
2. `cd cpp/build && ./bench/sg_benchmark --benchmark_filter=RFRegressor*`

**Expected behavior**
These benchmarks should have completed within reasonable time without any errors.

**Envir

[2020-07-23 20:59] #2484 closed

[2020-07-23 21:01] beckernick commented on #1664
Adding a more recent data point. In the 2020-07-23 nightly from about 2 PM EDT. `fit` on 506 records seems to take 35+ seconds on a V100.

[code]

[2020-07-23 21:08] hcho3 commented on #2596
@teju85

How long does it typically take to run the benchmarks?

[2020-07-23 21:35] cjnolet opened #2597 "[BUG] Many algorithms are using 32-bit cusolver workspaces when 64-bit functions are available"
While continuing to investigate https://github.com/rapidsai/cuml/issues/2459, I've noticed that some of our cusolver calls fail when computing the workspace size. Upon further inspection, it appears this happens in some of our algorithms, specifically when the data sizes grow larger than the size of an int.

A good example- it was recently found that PCA was failing in the buffer size computation

[2020-07-23 21:41] hcho3 commented on #2596
On my workstation:
[code]

[2020-07-23 21:46] hcho3 commented on #2596
`RFRegressor<float>/regression/2/manual_time` is failing with OOM:
[code]

[2020-07-23 22:16] beckernick commented on #2401
With the merging of #2487 , we now essentially support these meta-estimators. AdaBoostClassifier support will come estimator by estimator as they gain sample weights functionality.

Closing.

[2020-07-23 22:16] #2401 closed

[2020-07-23 22:16] hcho3 commented on #2596
I tried a bigger machine and got OOM on the GPU memory:
[code]

[2020-07-23 22:19] VibhuJawa opened #2598 "[FEA]Distributed TF-IDF Tranformer"
**Is your feature request related to a problem? Please describe.**

We should have a distributed TF-IDF Transformer coupled with our `hashing-vectorizer` will be a useful feature for distributed text pre-processing.

**Additional context**
We will probably need to get below working for a distributed sparse vector everything else can be the same as the existing implementation.
 https://github.com/r

[2020-07-24 00:06] cjnolet opened #2600 "[BUG] Default TSNE Barnes Hut params should match CannyLabs"
While investigating issue #2595, I found the default Scikit-learn settings for Barnes Hut can yield incorrect results. Changing these defaults to match the CannyLabs defaults yields results that much more closely Scikit-learn, both visually and quantitatively (through trustworthiness scores.).

We originally set these values to match the Scikit-learn defaults, but since Barnes-hut is the default a

[2020-07-24 00:12] cjnolet commented on #2595
@jefferythewind, thank you for providing a reproducible example. I was able to reproduce your results with the default settings in cuML.

Indeed, I believe some of this issue is directly related to differences in the recommended defaults of some of the parameters. While our defaults follow Scikit-learn, our implementation is actually an adaptation of [TSNECUDA](https://github.com/CannyLab/tsne-cud

[2020-07-24 00:31] cjnolet opened #2601 "[FEA] Move cuML MPI comms over to RAFT"

[2020-07-24 01:28] jefferythewind commented on #2595
@cjnolet thanks to you for the quick response. I can confirm that those parameters applied to the cuml TSNE produce a picture much closer to the sklearn implementation (see below). Now I see a couple of these parameters in the cuml TSNE method that are not in sklearn. Just since the default perplexity is 30 for sklearn ( and cuml ), I'm wondering why setting this to 50 is producing the same result

[2020-07-24 03:44] teju85 commented on #2596
@hcho3 thanks for starting to look into this. Unfortunately, I stopped running our c++ benchmarks for almost 2-3 months now! IIRC from that time, all of the RFRegressor tests used to complete in a few minutes at the most.

[2020-07-24 03:46] teju85 commented on #2596
From the latest call stack you posted, it appears that RF is failing during the initial stages of allocating `TemporaryMemory` itself! Can you try running each of the underlying benchmark tests separately? This should help us figure out if there's any memory leak.

[2020-07-24 03:47] teju85 commented on #2596
ah... never mind. I saw now that you did precisely that itself in your latest comment! Maybe try to add a debug statement inside `TemporaryMemory` class constructor to print memory sizes being requested to be allocated?

[2020-07-24 07:26] teju85 opened #2602 "[FEA] Inconsistent output types in predict_proba across cuML algos"
This was pointed out to me by @cdeotte. Currently the `predict_proba()` for logistic-regression seems to return cupy array whereas others seem to return numpy. We need to be consistent with our output type for `predict_proba()`.

[2020-07-24 07:29] teju85 opened #2603 "[FEA] Label (or target) type expected by classification algos is inconsistent, especially in SVM's"
This was pointed out to me by @cdeotte. SVC expects the targets to be float's, whereas RFClassifier expects it to be integers. We need to have SVC support both float/int based target arrays as inputs. Tagging @tfeher for his inputs in this matter.

[2020-07-24 08:05] tfeher commented on #2603
In the C++ layer SVC does expect float types for both the features and the target labels. It would be trivial to have a separate label type (in fact originally I had one but dropped it to simplify the cython wrappers).

From the Python side SVC accepts any numeric type as targets, it is converted to float under the hood. It is a documentation bug  that claims that y should be float or double. I wi

[2020-07-24 10:50] teju85 commented on #2546
What if we added a `_fit_status` member variable inside `LogisticRegression` class? That can be used to programmatically know the result of the training.

[2020-07-24 10:55] tfeher opened #2604 "[BUG] Logger output is not visible from a Jupyter notebook"
**Describe the bug**
When a log message is printed by the C++ layer of cuML (or by the python wrappers of the same logger) then the message shows up in the console (where Jupyter was started), but it is not visible in a from a Jupyter notebook.

**Steps/Code to reproduce bug**
[code]
This will not produce an output in the notebook itself.

**Expected behavior**
Display the log messages in the note

[2020-07-24 11:06] teju85 commented on #2604
@hcho3 found a way in spdlog to attach callbacks for logging here: https://github.com/gabime/spdlog/pull/205. Maybe we should find a way to expose this in cuML.

[2020-07-24 11:08] hcho3 commented on #2604
XGBoost has a logging callback which directs all logs to Python's `print()` function: https://github.com/dmlc/xgboost/commit/48d6e6869098662f852fa0bccb641b41663f320b

[2020-07-24 15:40] dantegd commented on #2602
This should follow the same output_type return logic that everything else (coefficients, predictions, etc.) follow. I.e. if cuML is configured to cudf outputs, then predict_proba should also return cuDF objects. Using cumlarray and base class, this shouldn't be hard to do.

[2020-07-24 19:15] Salonijain27 commented on #2603
@tfeher if the user passes `y` of dtype `int` will it increase the memory/time consumption of SVC? If yes, i think it would be nice to mention that in the docs as well.

[2020-07-24 20:07] dantegd commented on #2602
I just checked the following algorithms, and they are all using cumlarray output conversions for `predict_proba`:
[code]
and they all seem to be working well with the output formats of cuML in general. For reference of how they work, please refer to https://docs.rapids.ai/api/cuml/nightly/cuml_intro.html#accept-flexible-input-types-return-predictable-output-types and https://docs.rapids.ai/api/cum

[2020-07-24 20:41] cdeotte commented on #2603
I observed this behavior with code not reading docs.

Some Regressors can take both int and float targets. Some Regressors can only take float targets. Some Classifiers take int targets, some classifiers take float targets, some classifiers take both int and float targets. It would be better if they all can take float and int. Then someone can write a for loop which uses all of them without having

[2020-07-24 20:56] cdeotte commented on #2602
Using cuML 0.14, if we fit logistic regression with NumPy array, it returns a CuPy array when using `predict_proba()`

    model = cuml.LogisticRegression()
    X = np.random.uniform(0,1,(100,10)).astype('float32')
    y = np.random.randint(0,2,100).astype('float32')
    model.fit(X,y)
    p = model.predict_proba(X)
    print( type(p) )

This will output `<class 'cupy.core.core.ndarray'>`

[2020-07-24 21:55] dantegd commented on #2602
Thanks for the repro @cdeotte!

That is indeed fixed in the current branch-0.15 (and corresponding nightly), where `tst.py` contains the code you posted:

[code]
There were a few straggling bugs in 0.14 release with output formats like this one indeed. Other PRs like #2587 and #2506 also address squashing any remaining inconsistencies and bugs.

I was exploring earlier today how to expand testing

[2020-07-27 10:21] joehoeller commented on #2034
Is this going to be added to RAPIDS or should we just use Pyro? (I’m asking because this is still open).

[2020-07-27 11:12] tfeher opened #2608 "[FEA] Implement probability calibration using device arrays"
**Is your feature request related to a problem? Please describe.**
Probability calibration is needed for SVC to enable prediction of class probabilities (predict_proba). Currently [CalibratedClassifierCV](https://scikit-learn.org/stable/modules/generated/sklearn.calibration.CalibratedClassifierCV.html) from scikit learn is used to calibrate the probabilities. This introduces several device to host

[2020-07-27 15:47] beckernick commented on #2399
Awesome benchmark and summary @hcho3 . Do you have a sense of how 73 seconds for prediction compares to sklearn's random forest on the same data?

[2020-07-27 15:50] beckernick commented on #792
As noted above, we now fail loudly. Closing

[2020-07-27 15:50] #792 closed

[2020-07-27 16:04] daxiongshu commented on #2170
https://github.com/rapidsai/cuml/pull/2550

[2020-07-27 16:13] JohnZed commented on #2104
Most important are done for 0.15. Additional to come in 0.16.

[2020-07-27 16:18] JohnZed commented on #2534
Possible solution: limit workers set to only workers that actually have data

[2020-07-27 18:10] #2523 closed

[2020-07-27 21:09] cjnolet commented on #2595
@jefferythewind,

Both the `n_neighbors` and the setting of `perplexity` will have an effect on the amount of local vs global neighborhood structure that is preserved. In Scikit-learn, the perplexity automatically sets the `n_neighbors` to `3*perplexity`. When they are both set individually, such as in CannyLabs and cuML, you can think of `n_neighbors` as setting the effective neighborhoods under

[2020-07-27 23:55] hcho3 commented on #2518
@vinaydes The gap in the testing accuracy is explained by how the test set was chosen. The original notebook selects the last 20000 rows of the data as the test set, and **the test set happens to be "unlucky" choice such that cuML model does not perform well.** The distribution of data points in the test set is **very** skewed:

|  | Training set | Test set |
|--|--|--|
| Good loan (label = 1) | 1

[2020-07-28 01:05] hcho3 commented on #2518
@vinaydes I salvaged #2561 to improve the testing procedure.

## Results with 10-fold cross-validation
![tree1](https://user-images.githubusercontent.com/2532981/88607186-6f73f000-d033-11ea-9203-03a05ed60173.png)

In terms of CV accuracy, cuML RF performs competitively with scikit-learn's RF, when using 512 bins.

![tree100](https://user-images.githubusercontent.com/2532981/88607234-8d415500-d033-

[2020-07-28 03:13] hcho3 commented on #2518
Update: when I increased `max_depth` to 53, the CV accuracy is now worse:
[code]

[2020-07-28 15:07] robocopnixon commented on #2518
I think it's interesting that 2% seems to be such a commonly occurring gap between SKL and cuML; others have reported similarly to me in totally different applications.

[2020-07-28 15:53] JohnZed commented on #2518
Thank you, Philip! I think we should be open to increasing the default n_bins if it's really helpful.

[2020-07-28 16:22] Salonijain27 opened #2612 "[BUG]MBSGD accuracy much lower than scikit-learn"
[code]

Output:
[code]

While running the above example for `batch_size=1` the test gets `Killed` without any stack trace

[2020-07-28 17:19] beckernick opened #2614 "[FEA] Multinomial Naive Bayes should inherit from ClassifierMixin and use it for score"
Like the other classifiers, Multinomial Naive Bayes should inherit from ClassifierMixin and use it for the score method.

This will help with library compatibility and consistency.

[2020-07-28 18:07] #2579 closed

[2020-07-28 19:16] drobison00 commented on #2614
@dantegd It looks like other classifiers already implement their own override scoring functions, even when inheriting from ClassifierMixin, is there any reason why we shouldn't have naive bayes inherit from ClassifierMixin for consistency?

[2020-07-28 20:34] dantegd commented on #2614
I think those classes did their score before the ClassifierMixin existed, so probably legacy reasons?

[2020-07-28 23:24] drobison00 commented on #2612
Reproduced locally. @divyegala, do you mind taking a look to see if anything stands out?

[2020-07-29 00:29] drobison00 commented on #2614
Looks like Random Forest needs to be updated to.

[2020-07-29 01:47] #2358 closed

[2020-07-29 02:35] teju85 commented on #2597
Yes, this 64b addressing (and a single method based on `cudaDatatype`) is a recent addition, in cuda 11.0. We have 2 choices:
1. Keep using the old interface and also add the new ones for future usage purposes (inside `cusparse_wrappers`, I meant).
2. Replace old with this new and also update their usages everywhere.

Latter has more work now, but will save a ton more over the long term. Thus, I'd

[2020-07-29 02:36] teju85 commented on #2597
Also, just remembered, now that we have a migrated `cusparse_wrappers.h` to RAFT. I think these changes should rightfully happen in RAFT and then get propagated into cugraph/cuml, where needed.

[2020-07-29 02:44] teju85 commented on #2597
But we still don't have 11.0 supported in cuML. It is waiting on a 11.0 build of libcumlprims. Which in-turn is waiting on a 11.0 conda packaging to be made available. @dantegd am I right?

[2020-07-29 13:07] beckernick commented on #2614
Is random forest (for example) using a more efficient scoring function from `RF_metrics` than the standard `Metrics` namespace? I assumed the answer was yes in https://github.com/rapidsai/cuml/pull/2411#issue-433854875 so I didn't remove it, but it may be worth giving this some additional thought or even benchmarking. Is the difference worth the additional complexity?

None of this should affect N

[2020-07-29 13:55] tfeher commented on #2409
Thanks @beckernick for pointing this out. Indeed the unused fit method should be removed from SVMBase. I have removed it along with #2618.

[2020-07-29 15:24] divyegala commented on #2612
@Salonijain27 @drobison00 For accuracy purposes, it is true that a smaller batch-size will lead to a larger accuracy. Some time ago, I had a hunch that the bottleneck in MBSGD is this standard `std::shuffle` https://github.com/rapidsai/cuml/blob/branch-0.15/cpp/src/solver/shuffle.h#L38. This is done at every possible iteration and the dataset here seems to be large enough for this to cause a probl

[2020-07-29 16:10] zbjornson opened #2620 "[BUG] Barnes-Hut tSNE does not obey min_grad_norm parameter"
**Describe the bug**
The `min_grad_norm` parameter is unused in `Barnes_Hut` tSNE:

https://github.com/rapidsai/cuml/blob/640baaee711bdb9d623de768189776dedfd700b6/cpp/src/tsne/barnes_hut.cuh#L44-L58

**Steps/Code to reproduce bug**
(Don't have a repro, found through code review.)

**Expected behavior**
Like exact tSNE, it should terminate early:
https://github.com/rapidsai/cuml/blob/640baaee711bdb

[2020-07-29 17:04] Salonijain27 commented on #2612
@divyegala yes, in most cases reducing the batch-size has improved the accuracy. A good example of this would be the unit tests present in cuml for mbsgd. However, in the above example this is not always the case.
The above examples shows:
`batch_size=32` (default value) : mbsgd accuracy = **0.616814**
`batch_size=512` : mbsgd accuracy = **0.617148**

[2020-07-29 17:15] drobison00 commented on #2549
@zbjornson Are you planning on submitting this with/after #2620 ?

[2020-07-29 17:22] drobison00 commented on #863
@danielhanchen Do you know the current state of this work?

[2020-07-29 17:23] Salonijain27 opened #2621 "[DOC] Information about treelite Operator values passed in FIL's C++ test"
## Report needed documentation
We do not have documentation specifying the different treelite Operator values that FIL supports. (https://github.com/dmlc/treelite/blob/46c8390aed4491ea97a017d447f921efef9f03ef/include/treelite/base.h#L40)

**Report needed documentation**
https://github.com/rapidsai/cuml/blob/branch-0.15/cpp/test/sg/fil_test.cu
There are multiple places in the fil_test.cu file where

[2020-07-29 18:16] zbjornson commented on #2549
@drobison00 the above commit (6581922) fixes this issue, but I want to test it more before opening a PR.

#2620 requires a more substantial change since B-H doesn't calculate the gradient at all right now, AFAIK. I don't have immediate plans to work on it.

I do want to work on K-L divergence (#863). ("want" as in I have a pressing need for that feature, but not a desire per se to implement it. I

[2020-07-30 03:24] Salonijain27 opened #2624 "[BUG]Estimator_intro notebook needs to be updated"
**Describe the bug**
estimator_intro.ipynb needs to be updated . It seems like the import statement required for `make_blobs` and the `make_blobs` function itself have been updated.

**Steps/Code to reproduce bug**

**1**
[code]
Output:
[code]
We need to update the import statement to :
**`from cuml.datasets import make_blobs`**

**2.**
[code]

Output :
[code]
**The above example code runs without

[2020-07-30 04:50] mdemoret-nv commented on #2456
In order to add testing to detect incorrect uses of `CumlArray` on the `Base` class, we will need a set of conventions to adhere by. The tests will then detect any violations of the rules in derived classes during testing and indicate where the violations occurred. Below are the proposed rules/conventions:

Naming Conventions:
1. Trailing underscore, any type:
   1. Estimated attribute. Estimated

[2020-07-30 05:20] mdemoret-nv commented on #2456
Caching system work is being done here: https://github.com/mdemoret-nv/cuml/tree/bug-audit-cumlarray-use-improved

[2020-07-30 15:22] dantegd commented on #2624
The second failure is because the code snippet (and corresponding notebook I presume) are doing this
[code]

as opposed to
[code]
which is making it interpret the `y_blobs_test` cupy array as the value for `predict_model` (which should be a string), and therefore it is failing in the comparison
[code]
since it is comparing a cupy array to a string and that's how that error comes up.

I think addin

[2020-07-30 18:34] #427 closed

[2020-07-30 18:45] #2624 closed

[2020-07-30 19:02] yidong72 opened #2627 "[BUG]ForestInference cannot produce stable predictions"
**Describe the bug**
The forest inference prediction produce the different prediction result for the same inputs.

**Steps/Code to reproduce bug**
Please contact me for the ipython notebook to reproduce it as it has senstive data.
![image](https://user-images.githubusercontent.com/43824965/88963327-b0f3dd80-d275-11ea-8666-1cbbf193db36.png)

**Expected behavior**
It should produce the same result

[2020-07-30 19:31] drobison00 commented on #2627
@Salonijain27 Do you think this is related to #2518 ?

[2020-07-30 19:34] drobison00 commented on #2627
@yidong72 Could you provide something like the dtypes, and approximate number of rows for the data set you're using so I can attempt to reproduce?

[2020-07-30 19:40] drobison00 commented on #2621
@levsnv Looks like you're one of the last ones in this file. Does this request require much familiarity with the code, or a good first task for someone?

[2020-07-30 19:42] yidong72 commented on #2627
This is the dtypes summarization.
[code]
2500000 rows of data.
By the way, I already sent the notebook to @Salonijain27.

[2020-07-30 22:07] Salonijain27 commented on #2627
This does not seem to be related to #2518.
Here the prediction changes depends on the order in which the test dataset samples are passed through the trained model. In issue 2518 we keep the test dataset same for all tests.

[2020-07-31 00:49] mdemoret-nv opened #2630 "[BUG] Remove `using namespace` from header files"
Ran into an issue where a `using namespace` directive caused a build failure due to a collision between `MLCommon::swap()` and `std::swap`. A quick search of header files returns 38 hits for `using namespace` in any `.cuh`, `.h` or `.hpp` file. These should be removed from header files where possible, especially if the statement is not in a namespace directive since this will pollute the global na

[2020-07-31 01:44] levsnv commented on #2621
Hi Devin, we're discussing it, will try to post something tomorrow. Thanks!

[2020-07-31 04:36] hcho3 commented on #2518
Follow-up to https://github.com/rapidsai/cuml/issues/2518#issuecomment-664716386. I ran more exhaustive benchmark with more combination of tree depths.

**Setting max_depth to 10 or more causes cuML to fall behind scikit-learn.**

### Single tree

Click to enlarge:
![all_depths_tree1](https://user-images.githubusercontent.com/2532981/88998851-d4378080-d2a7-11ea-881d-b6847e846bd5.png)

### 100 tree

[2020-07-31 14:09] beckernick opened #2632 "[BUG] RMM-only memory leak with RandomForestRegressor"
It seems we may have an RMM-only memory leak with RandomForestRegressor. This could come up in a wide range of workloads, such as using RandomForestRegressor with RMM during hyper-parameter optimization.

In the following example:
- Without an RMM pool, repeatedly fitting the model, predicting, and deleting the model/predictions causes peak memory of 1.2GB
- With an RMM pool, repeatedly fitting th

[2020-07-31 15:58] drobison00 commented on #2630
@mdemoret-nv If this is a significant problem, and we don't want 'using' directives, this probably needs a corresponding feature request to update the style checking code.

[2020-07-31 17:52] datametrician commented on #2222
@JohnZed @cjnolet @dantegd how long would it take to implement this?

[2020-07-31 18:08] mdemoret-nv commented on #2630
I dont know if this is a "significant" problem since we have been building and developing without a style checker for a while. This bug could be broken up into 2 parts: finding and fixing existing issues (bug) and preventing future ones (fea). The amount of work really is going to depend on how strict we want to be. We need to answer the following questions first:

1. Do we allow `using namespace

[2020-07-31 19:02] tfeher commented on #2222
@datametrician This is implemented in #2618, we just need to go through the review in the next couple of days.

[2020-08-01 01:04] levsnv commented on #2621
Yes, this is a good first task.
WRT treelite operators (`kLT` and such), multi-class works exactly the same way, because only the leaf label is different (categorical). Worth double-checking, but FIL might be supporting all operators treelite supports.

[2020-08-01 03:16] #2013 closed

[2020-08-01 03:21] teju85 commented on #2630
My personal preference is to NOT allow this anywhere inside header files, certainly not in global scope! But, an exception can be made for inside:
1. an anonymous namespace
2. a function
3. a class

I'd like to hear thoughts from @dantegd and @cjnolet as well here.

[2020-08-01 04:22] cjnolet commented on #574
Looks like the new version of FAISS with pluggable memory management is about to be released. This will enable us to wrap the approximate indices and maintain ownership over the memory space.

https://github.com/facebookresearch/faiss/pull/1308/files/3f12281426e053b49708abd8a6bd015204d54a2d..bf2bd92c16b54ab4d0ec407b76683cb2baeeb21a

[2020-08-02 05:53] datametrician commented on #2222
Thanks @tfeher! Great news.

[2020-08-03 08:57] teju85 commented on #2222
@aerdem4 heads up. The above mentioned PR might get merged soon. Would you be willing to give it a try? (if yes, you'll have to use cuml nightly images)

[2020-08-03 09:12] aerdem4 commented on #2222
Thanks @teju85 for the heads up and thanks @tfeher for implementing it. The competition that I needed SVM sample weights had finished a month ago but I would be happy to use them in next suitable competitions. I can also try them on toy problems but you have already unit tests for that:)

[2020-08-03 13:26] hcho3 commented on #2518
Since the full mortgage dataset is quite big (1303607 rows), I reduced it by taking 1% of the rows randomly:
[code]
[loans_X_sample.npy](https://github.com/rapidsai/cuml/files/5016183/loans_X_sample.zip)
[loans_y_sample.npy](https://github.com/rapidsai/cuml/files/5016185/loans_y_sample.zip)

I ran 10-fold cross-validation with the sampled data, and I am observing significant different between cuML

[2020-08-03 14:41] Nyrio opened #2633 "[BUG] "Module not found" error with the single-GPU build"
**Describe the bug**
When building with the `--singlegpu` flag and then running the tests, the following exception happens:
[code]

**Temporary fix**
Delete lines 24 and 25 of `python/cuml/neighbors/__init__.py`:
[code]

[2020-08-03 14:55] beckernick commented on #2632
Thanks for digging into it @Salonijain27 ! Just to clarify, do you think it's memory *actually* not being freed, or memory being freed that RMM *thinks* isn't free (perhaps because it doesn't own it / have visibility)?

[2020-08-03 15:37] Salonijain27 commented on #2627
on exploring the notebook provided by @yidong72.  I discovered that the above mentioned error does not pop up while using a different dataset or while using mnmg Random Forest.
ex :
[code]
Output:
[code]

[2020-08-03 16:17] JohnZed commented on #2612
TODO: update docstrings to clarify that MBSGDSolver is primarily a demo of underlying SGD solver and not meant to be comparable to SGDSolver from sklearn.

See #2585

[2020-08-03 16:29] JohnZed commented on #2174
Closed by #2551

[2020-08-03 16:29] #2174 closed

[2020-08-03 16:33] JohnZed commented on #1684
Will implement in "experimental" module in 0.15

[2020-08-03 16:34] JohnZed commented on #2170
@dantegd to give a quick look at I/O only

[2020-08-03 20:22] oyilmaz-nvidia opened #2636 "[FEA] Update Cutlass version in cumlprims to v2.2.0"
cumlprims will be used by hugectr but we are getting error from cumlprims when we use the latest cutlass version. Looks like some of the files were removed in the latest version of cutlass.

[2020-08-03 20:23] oyilmaz-nvidia commented on #2636
++ @EvenOldridge for visibility

[2020-08-03 21:47] Salonijain27 commented on #2627
Based on the analysis on the notebook provided by @yidong72 it noticed that the test data passed to FIL contains the ground truth labels as well. On removing the ground truth labels from the test dataset the FIL results are reproducible in the notebook as well.

[2020-08-03 21:47] #2627 closed

[2020-08-04 13:15] #2633 closed

[2020-08-04 16:32] Salonijain27 opened #2639 "[FEA] Check the dimensions of the input data passed to FIL"
Check the dimensions of the input data in FIL and see if the number of features in the test dataset passed to FIL matches the number of features in the training dataset.
Once the feature is implemented the example code provided below should throw an error:
[code]
The line `xgb_preds = fm.predict(test_data)` should throw an error letting the user know that the number of features in the test dataset

[2020-08-04 16:58] Salonijain27 commented on #2632
Hi Nick, I think that while running the fit function the memory is being freed but RMM thinks memory isnt free.
If we run the above example and remove the predict statement from it. We can still see the memory leakage.

Also i would like to add that cuml used to run memory leakage tests for RF till the RMM library got updated and removed the support for the function :
`cuda.current_context().get_m

[2020-08-04 17:49] Salonijain27 commented on #2632
Another interesting find is that on moving `clf = cuml.ensemble.RandomForestRegressor(n_estimators=50)` out of the for loop we dont see the memory leakage any more.
[code]
It seems like RF fit function is okay but when we delete the model and free the memory RMM thinks the memory isnt freed.

[2020-08-04 19:56] beckernick commented on #2632
Nice find @Salonijain27 . I wonder if it could be the Treelite handle. From a quick test, it looks like RF Regression sets a Treelite handle and thus enters branching statement in `_reset_forest_data` to call `TreeliteModel.free_treelite_model(self.treelite_handle)`, but RF Classification does not.

[2020-08-04 23:48] taureandyernv commented on #2347
Hey @drscotthawley, we felt your pain and in mid June, we addressed the long conda solve times within Colab in PR https://github.com/rapidsai/rapidsai-csp-utils/pull/24. Can you please verify that it s fixed for your needs?  Should take about 8 minutes for the whole install.  Once you do, we should be able to close out this issue.

[2020-08-05 03:17] teju85 commented on #2636
Updates:
we had an offline discussion on this one. It's easier for us to move the required prims into raft, rather than upgrading cutlass version. @divyegala has been in-charge of this migration of prims to raft. He has gotten a list of prims from Onur, along with the ones needed for libcumlprims. Divye will be following up on this one.

[2020-08-05 05:14] hcho3 opened #2642 "[FEA] Ability to dump random forest trees as JSON"
Currently, cuML lets you print the content of the random forest trees with `print_detailed()` function. It would be also useful to have a way to dump this information as a JSON string. This way, users can interactively explore with the trees, since Python and lots of other languages have excellent JSON parsers.

XGBoost has `get_dump()` function: https://xgboost.readthedocs.io/en/latest/python/pyt

[2020-08-05 15:50] beckernick commented on #2530
@aerdem4 , given the recent cuML API enhancements in 0.15, it looks like `cross_validate` might now “just work” for cuML estimators with both CPU or GPU data.

Note that the following is a "hot" run to avoid the JIT overhead in the `%time` calls.

[code]

[2020-08-05 16:30] drscotthawley commented on #2347
Ok,...
 I did a factory reset of the runtime just to clear everything out.
Started executing the first cell, but I noticed some text saying something like “Unfortunately  Google didn’t give you...[a TPU]” so I changed Edit > Notebook Settings to TPU and restarted.

I confirm about 8 minutes to install – – it looked like conda install was being called about six different times; that’s significantly

[2020-08-05 16:30] JohnZed commented on #2642
Does treelite have exporting functionality that we could leverage? Like - convert to treelite then jsonify?

[2020-08-05 19:05] hcho3 commented on #2642
It does not. I'm thinking of writing a variant of `print_detailed()` that builds a JSON string.

[2020-08-05 21:51] #1378 closed

[2020-08-06 00:44] taureandyernv commented on #2347
Yeaaaaah....  So sadly, the first installation is just getting Colab to have a conda environemnt.  The second is an update.   The third is a partial package update as if we don't do it, we have had issues where the solver freezes if a certain package isn't updated.  Then we install RAPIDS.  Install 3 is the only one that can be removed, but the stability is wroth the about 45 second delay.

The me

[2020-08-06 08:29] aerdem4 commented on #2530
@beckernick nice! now it works out of the box with pandas dataframes. I am still getting some issues when I try to run it on cudf dataframes but it is probably an issue on my side or cudf side. So this works smooth with pandas dataframes:

[code]

[2020-08-06 11:42] tfeher opened #2644 "[FEA] Chunked pairwise distance"
**Is your feature request related to a problem? Please describe.**
cuML provides pairwise distance metrics https://github.com/rapidsai/cuml/pull/2502

For large datasets GPU memory can becomes a limitation, and chunked pairwise distances would be useful.

**Describe the solution you'd like**
Provide chunked pairwise distance metrics in cuML, like https://scikit-learn.org/stable/modules/generated/s

[2020-08-06 11:47] teju85 commented on #2644
JFYI, dbscan has a very crude implementation of this chunked (aka batched) approach [here](https://github.com/rapidsai/cuml/blob/branch-0.15/cpp/src/dbscan/runner.cuh#L145). We'll probably have to generalize this inside our C++ distance metrics and then expose it in the python layer.

Tagging @cjnolet and @JohnZed

[2020-08-06 14:32] miroenev commented on #2383
cupy 8.0.0b5 looks good [ tested with the nightly on 8/5/2020 ]

![cupy_test](https://user-images.githubusercontent.com/8701332/89544375-e721e780-d7b6-11ea-8b02-c2a3a507dac1.png)

[2020-08-06 14:32] #2383 closed

[2020-08-06 15:02] rikturr opened #2646 "[BUG] Random forest regressor predict returning all inf"
Hi all, thanks for this awesome project! I am running into a problem when trying to `predict` with a `RandomForestRegressor`. This gist has a notebook with an example and environment details:

https://gist.github.com/rikturr/e86762224cefb1fbb92d6ce328b0b0e4

The `RandomForestClassifier` works just fine. I am also encountering the same behavior with `cuml.dask.ensemble` when training on multi-node

[2020-08-06 18:02] #1605 closed

[2020-08-06 19:12] drobison00 commented on #2646
@rikturr I am not able to reproduce this, using your example notebook, with RAPIDS 0.15. Are you able to update to that version?

[2020-08-07 15:14] Nyrio opened #2652 "[ENH] Add an auto-ARIMA integration pytest that covers all code paths"
The current auto-ARIMA pytests are unit tests for some specific components, but there isn't an integration test that covers all the code yet. It is undesirable as an exception went unnoticed just because it was in a code path that I never hit.

The challenges of testing auto-ARIMA are the following:
- We cannot directly compare to a reference implementation like we do for ARIMA (the other auto-ARI

[2020-08-07 18:05] lucharo opened #2656 "[FEA] Unable to use umap.plot with cuml.umap"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I wish I could use cuML to do [...]

I wish I could use cuml.UMAP along with umap.plot to make pretty plots. umap.plot works straight away with umap.UMAP() objects whereas it does not with cuml.UMAP() (or cuml.manifold.umap.UMAP()) to be more precise.

**Describe the solut

[2020-08-07 21:09] rikturr commented on #2646
Confirmed that RAPIDS 0.15 works as expected for the single-node models. I am still having trouble on multi-GPU using `cuml.dask.ensemble` classes and will be providing an example shortly

[2020-08-08 17:36] lc5415 commented on #2656
Solved, until a basic type checking is added to `umap.plot` simply adding line 2 and 3 of the code below would fix this

[code]

[2020-08-09 07:21] MotoRZR opened #2660 "[FEA] Forest Inference Library categorical variables"
LightGBM handles categorical variables natively.  I have a need for fast inference on large number of samples (north of 5 billion) but unfortunately FIL doesn’t handle categorical variables which means have to rebuild feature sets (which, if you have many categorical fields, is a bit of nightmare).

I was hoping this could be added to the library.

[2020-08-09 07:40] teju85 commented on #2660
Tagging @canonizer and @JohnZed since we coincidentally were discussing about the priority of this exact same feature this week.

[2020-08-09 18:47] drscotthawley commented on #2347
Feel free to close it if you want.  I think I'm done trying at this point.

As I said, I did factory reset, and retried multiple times.

[2020-08-10 03:02] teju85 opened #2662 "[BUG] RF-Regressor C++ benchmark tests taking for forever to run!"
**Describe the bug**
Rf-regressor tests are supposed to completely in the same order of time as their classifier counterparts. However, for some reasons, they seem to be taking forever to complete! Hence, as per PR #2661 they have been disabled. We'll need to fix this issue and bring these tests back up.

**Steps/Code to reproduce bug**
`./bench/sg_benchmark --benchmark_filter=RFRegressor*`

**Exp

[2020-08-10 13:48] #2404 closed

[2020-08-10 14:25] dantegd opened #2664 "[BUG] cuml.dask NearestNeighbots pytest failure in CUDA 11"
**Describe the bug**
Running pytests in a CUDA 11 conda environment, the following tests are failing for me:

[code]

The particular assertion test failing can be seen here:

[code]

**Steps/Code to reproduce bug**
Build RMM, cuDF and cuML from source using CUDA 11.0 (update 1), then run the pytests under  `dask/test_nearest_neighbors.py`

**Expected behavior**
No errors

**Environment details (pl

[2020-08-10 16:12] JohnZed commented on #2384
Current status:
 * Need builds of cumlprims, but build will be ready after latest MR goes in
 * RAFT is ready to go
 * Need cuPy 7.8 with CUDA 11 support
 * Need cuDF packages (nightlies with CUDA 11 will fix)

[2020-08-10 16:22] JohnZed commented on #2170
Closed by #2550

[2020-08-10 16:22] #2170 closed

[2020-08-10 20:19] dantegd commented on #2664
Note: the numeric error seems larger in a 2xv100 system:

[code]

[2020-08-11 02:26] cjnolet commented on #2664
When the indices done match up like this, the culprit is often in the translations. For example, each partition has an offset and it performs its own local kNN with indices that start at 0 and adjusts those indices based on its offset. If these translations are incorrect, or are not adjusted at all, the indices arrays can have huge delta like this (which will often grow with the number of GPUs). I

[2020-08-11 17:13] Salonijain27 commented on #2092
In #2070 the dataset used for training is of dtype `np.float64` and since FIL does not support data of dtype `np.float64` and `convert_dtype=True` converts the dataset to the same dtype as the training data and not to `float32` the error in #2070 makes sense.
Closing this issue as PR #2099 (merged ) throws a warning statement when data with dtype `float64` is used with GPU predict in RF

[2020-08-11 17:13] #2092 closed

[2020-08-11 18:31] Salonijain27 commented on #919
Closing issue as it is no longer seen in cuml v0.15

[2020-08-11 18:31] #919 closed

[2020-08-11 23:09] Salonijain27 commented on #2632
This is seen with RF Classification as well:
[code]
Furthermore, just as seen in RF regressor, on moving the `cuml.ensemble.RandomForestClassifier(n_estimators=50)` outside of the for loop the memory leakage is not seen

[2020-08-12 02:19] JohnZed opened #2673 "[TASK] A100 Testing"
Tracking bug for A100 testing notes and issues that come up in 0.15
* [ ] Conda FAISS test on A100

[2020-08-12 03:18] JohnZed commented on #2673
Current issues

* Missing csrmvEx - appears to be cupy build issue, happens on Volta as well and goes away with source build of cupy
* Dask kNN - investigated on v100 as well in #2664

* test_knn (SG) - needs further investigation
* test_svm - needs further investigation

[code]

[2020-08-12 04:01] teju85 commented on #2673
Tagging @tfeher to help debug the svm failure above. Tamas, please consider this a higher priority request.

[2020-08-12 05:38] JohnZed opened #2674 "[BUG] Incorrect CumlArray usage in test_svm and test_nearest_neighbors"
Found during CUDA11/A100 testing (#2673), but presumably more general. Running full pytest yields two warnings:  ```
Incorrect CumlArray uses in class derived from cuml.common.base.Base:
../code/rapidsai/cuml/python/cuml/test/test_svm.py:225
../code/rapidsai/cuml/python/cuml/test/test_nearest_neighbors.py:187
[code]

[2020-08-12 05:45] JohnZed commented on #2674
In a perhaps related issue, the test_svm test is failing (in the `n_support1 - n_support2` check). Probably n_support is not CumlArray'ified properly?

[2020-08-12 10:33] tfeher commented on #2674
There can be different set of support vectors that produces the same SVM model: the number n_support can change. If the model accuracy is similar, then one can ignore this error (disable n_support check).

[2020-08-12 18:22] JohnZed opened #2679 "[FEA] Add FIL-specific README"
Since FIL differs a bit from other parts of the lib (not sklearn matching, inference focused), it'd be helpful to add a nice readme in that subdir with a minimal code example, perf numbers, and clear description of limitations and use cases.

[2020-08-12 22:01] dantegd commented on #2674
@tfeher disabling the number of vectors check, there is a slight increase in the tolerance test:

[code]

[2020-08-12 22:02] JohnZed opened #2680 "[BUG] Excessive LBFGS warnings in tests"
LBFGS issues warnings on many many lines like:

[code]

We should reduce these to a lower loglevel, or only log the first one, as they are highly repetitive

[2020-08-12 22:30] tfeher commented on #2674
The test already passes the accuracy comparison. The rest is model parameter comparison which seems not robust enough. It is possible that SVMs with different model parameters define the same decision function. In essence they are be equivalent, but the model parameter comparison would still fail. A quick and dirty fix is to disable everything after the [accuracy test](https://github.com/rapidsai/

[2020-08-13 00:02] dantegd commented on #2674
That makes total sense, for some reason I missed the fact that the tests I posted is checking the intercepts and after a long day just read tolerance and assumed it was an accuracy assertion.

[2020-08-13 06:55] Jacob-Barhak opened #2685 "[DOC] Clearly indicate deterministic algorithms for reproducible science"
In the Austin python meetup, there was a discussion about repeatability. You can find it in [this video starting from 1:38 to about 1:56](https://youtu.be/uF_WWKVqHB8?list=PLjG-IjppX96cMJvOn08J25G9IGH16ngXl&t=5900)

I understood that repeating the same GPU computation may result in a slightly different answer dues to accumulation of floating point rounding errors. I assume because of different ord

[2020-08-13 15:54] JohnZed commented on #2674
CumlArray issue fixed by PR #2683 (was a test-only issue).

[2020-08-13 19:03] yasmina-altair opened #2690 "[BUG] OneHotEncoder fails when there is more than one column and first column has more than 255 categories"
**Describe the bug**
When applying the transform function of OneHotEncoder on two columns or more, if the first column contains more than 255 distinct categories and the subsequent columns contain less than 255 categories, then the transformation fails and throws a type error. This is probably due to the variable col_idx in the code being of type uint16 for high cardinality features and uint8 for

[2020-08-13 19:22] JohnZed commented on #2298
Working now.

[2020-08-13 19:22] #2298 closed

[2020-08-13 19:41] JohnZed commented on #2534
Possible stopgap as we work on longer-term fix:
 * Raise an exception in train if dataset has zero rows and mention that it could be a dask issue as well

[2020-08-13 19:43] JohnZed commented on #2534
@Nanthini10 can you take a look?

[2020-08-13 19:45] #2674 closed

[2020-08-13 19:50] JohnZed commented on #2632
@Salonijain27 to test some other similar models to see if it's a systemic error

[2020-08-13 22:01] #2444 closed

[2020-08-13 22:08] yuqli commented on #2415
This seems something I can handle. If nobody else is working on it, can I claim this issue?

[2020-08-14 15:22] #2511 closed

[2020-08-14 15:56] dantegd commented on #2415
@yuqli I think some of these might have been fixed by #2649 and others will soon be automatically handled by a decorator #2635 (automatically generating docstrings for fit/predict/transform/etc methods). Though that decorator doesn't touch the cuml.dask docstrings, so overall checking the status around using 2635 as a base might be a very good idea and very much welcomed!

[2020-08-14 16:19] beckernick commented on #2632
@Salonijain27 @JohnZed , in the 2020-08-14 nightly (~9 AM EDT) the repeated RF Classifier  fit/predict tests now cause a segfault rather than simply grow memory uncontrollably.

On iteration two of the example Saloni added above, we fail. It appears that, on the second call to `fit`, we're not cleanly interacting with CuPy
[code]

The second time we segfault rather than get the stacktrace.

[2020-08-14 16:22] beckernick commented on #2632
Perhaps this is related to the RMM suballocator changes? cc @jakirkham as I believe he's been exploring this a bit

[2020-08-14 16:46] jakirkham commented on #2632
Would double check that the `rmm` package used includes Mark's recent fix in PR ( https://github.com/rapidsai/rmm/pull/498 ).

[2020-08-14 18:14] beckernick commented on #2632
Thanks @jakirkham . Looks like my RMM was behind.

This still happens in a fresh environment with RMM at `d8ad1eb` (last PR merged https://github.com/rapidsai/rmm/pull/499)

[2020-08-14 18:23] jakirkham commented on #2632
Thanks Nick! 😄

Yeah we are still seeing some issues with UCX-Py locally (though not on CI any more) ( https://github.com/rapidsai/ucx-py/issues/578 ). So I suspect there are still some subtle things we need to identify.

[2020-08-14 22:06] harrism commented on #2632
Can you guys turn on logging and share the logs?

You'll want to look for allocs without frees in the logs.

[2020-08-15 00:58] jakirkham commented on #2632
Just to add, this involves [enabling logging and specifying the log filename]( https://github.com/rapidsai/rmm/blob/035c39834e3bb78ec3ec6d43b73bb61d61184523/python/rmm/rmm.py#L36-L37 ).

[2020-08-15 04:03] #2585 closed

[2020-08-15 04:52] #2680 closed

[2020-08-15 14:54] awsaf49 opened #2700 "[BUG] TypeError: Implicit conversion to a host NumPy array via __array__ is not allowed"
**Describe the bug**
I was trying the colab example provided in the website and got this error.
![cuml bug](https://user-images.githubusercontent.com/36858976/90314964-68a51280-df39-11ea-927c-6e5e047bbbc9.PNG)

**Steps/Code to reproduce bug**
https://github.com/rapidsai/cuml/blob/branch-0.13/notebooks/random_forest_demo.ipynb

**Environment details (please complete the following information):**
 -

[2020-08-17 14:36] beckernick commented on #2632
Thanks @harrism . I do see allocs without frees. I tested the KNN (Reg/Clf), Random Forest (Reg/Clf) and Logistic Regression with the following script. So far, only Random Forest appears to have exhibit this memory leak issue.

[code]

Logs:

[code]

[rfr-logs.dev0.txt](https://github.com/rapidsai/cuml/files/5084864/rfr-logs.dev0.txt)
[rfc-logs.dev0.txt](https://github.com/rapidsai/cuml/files/5084

[2020-08-17 16:07] JohnZed commented on #2673
TODO: A100 test with new conda FAISS package

[2020-08-17 16:08] JohnZed commented on #2664
Should be solved by FAISS patch, but we will check within CI

[2020-08-17 19:20] divyegala opened #2703 "[FEA] Promote IncrementalPCA from experimental in 0.18 release"
We have introduced IncrementalPCA in https://github.com/rapidsai/cuml/pull/2615 and it goes in version 0.15. However, once there is more inter-operability between cupy.ndarray and CumlArray, we would want to remove from experimental in 0.16.

[2020-08-17 19:45] Salonijain27 commented on #2700
What is the type of data that is returned by `cuml_model.predicit`?
The output of `type(fil_preds_orig)`.
It could be that `fil_preds_orig` is a cupy array and you are trying to implicitly convert it to numpy and that is what is throwing an error.

[2020-08-17 19:46] Salonijain27 commented on #2700
Also for the reference of the developers, this is not seen when I notebook run the notebook using branch-0.15

[2020-08-17 21:24] Nanthini10 commented on #2534
@JohnZed Since they're all futures, the problem isn't spotted until compute is called. And checking for number of rows isn't possible on futures.

I tried adding a check for `nrows == 0` in `python/cuml/ensemble/randomforestclassifier.pyx` during the `fit` - it didn't seem to make a difference.

I think the current error is the same as what we'd want to throw if dask accidentally passed zero rows

[2020-08-17 22:08] #2531 closed

[2020-08-17 22:34] VibhuJawa opened #2704 "[BUG]Multi Partition Naive Bayes fails due to due to cuML CumlArray refactor"
**Describe the bug**
Multi Partition Naive Bayes fails due to due to cuML CumlArray refacto

**Steps/Code to reproduce bug**

### Helper Code to produce Partitions
[code]
### Main Reproducer
[code]

[code]
**Expected behavior**
I would expect it to work as it does with single partitions( Like below)
[code]
[code]

**Environment details (please complete the following information):**
[code]
**Additi

[2020-08-17 23:57] JohnZed commented on #2632
Note that this code works (using the same handle for each rep):

[code]

which seems like more evidence that the previous handle (or the allocator on it) is being accessed after it goes out of scope. I'll look through the code more and see if there is any possibility of the allocator being cached by accident somewhere...

[2020-08-18 01:58] dantegd commented on #2704
@VibhuJawa thanks for spotting the issue so timely! the issue here is that the lines that you correctly identified are trying to add 2 CumlArrays together, which was a very trivial addition to fix this, so opened PR #2705 that should fix this asap. For your case, besides the discussion we were having about the `idf_` attribute we're having in the PR, what are the exact issues you're seeing with `d

[2020-08-18 02:42] VibhuJawa commented on #2704
So in that PR, i should store the below attributes with leading `underscores`, like `df` should be stored as `__df` as it is a temporary private variable. Following [Point 4 ](https://github.com/rapidsai/cuml/issues/2456#issuecomment-666106406)in the writeup.

https://github.com/rapidsai/cuml/blob/704fe3122666e870b77be20e75618f3623baf0a0/python/cuml/feature_extraction/_tfidf.py#L129-L131

 Current

[2020-08-18 02:54] harrism commented on #2632
[code]

Does `cuml.ensemble.RandomForestClassifier` happen to use the default RMM resource to allocate device memory? If so, that memory may be orphaned or invalid after calling `rmm.reinitialize`.

What happens if you swap the order of these two statements?

[2020-08-18 03:28] #1056 closed

[2020-08-18 03:53] beckernick commented on #2632
I believe swapping the order shouldn't matter as the `clf = ` line is just aliasing the constructor. It's not called until farther down with `model = clf()`, after the reinitialize

[2020-08-18 04:08] harrism commented on #2632
Ah, didn't catch that before. Thanks.

[2020-08-18 05:15] JohnZed commented on #2632
Another oddity (as seen in the backtrace above) is that the error typically occurs in cupy code when cupy is attempting to create a devicebuffer via RMM. Still would be consistent with RF somehow deleting or corrupting the allocator though, I suppose.

[2020-08-18 07:06] jmkim opened #2706 "[BUG] dask_cudf.core.DataFrame not supported for KMeans"
**Describe the bug**
`cuml.dask.cluster.KMeans` do not accept `dask_cudf.core.DataFrame`.
I can read in [the cuML document](https://docs.rapids.ai/api/cuml/stable/api.html#cuml.dask.cluster.KMeans.fit) that `KMeans.fit` supports `Dask cuDF DataFrame`, but when I try to do, the error occurred:

[code]

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
K-Means fitting done.

**Environmen

[2020-08-18 10:48] harrism commented on #2632
Is this a single-process, single-threaded example? Or are there multiple processes? The cudaErrorContextIsDestroyed is not an error I see very often -- when I have seen it was usually due to forking a new process after the CUDA context was already created, so the child process did not get a context.

[2020-08-18 14:36] dantegd commented on #2632
@harrism it would be a single process single threaded example AFAIK. Another interesting finding, if we set the number of cuda streams in RF to 1 then the failure seems to completely go away (at least for me locally):

[code]

If I set it to anything greater than 1 then the failures come back. Also depending on whether you perform predict or change the order of things (for example creating a cuml

[2020-08-18 14:41] dantegd commented on #2632
Adding to my comment above, RF is the only model that uses multiple streams if I remember correctly, so that would explain why the rest of the models don't show this.

[2020-08-18 14:44] beckernick commented on #2632
Interesting finding @dantegd . Could this possibly be related to stream order?

[2020-08-18 14:46] dantegd commented on #2632
It definitely could, particularly because you can make it fail at different parts with different errors depending on whether you do predict or not, doing multiple predicts, and shuffling the commands above.

[2020-08-18 14:47] beckernick commented on #2632
With two streams, I'm not seeing failures consistently at the same place. Sometimes I get to the 2nd iteration, sometimes the 3rd iteration before the failure.

[2020-08-18 14:56] Salonijain27 opened #2707 "[FEA] Update threshold used in RF tests"
It would be nice to update the thresholds used in RF tests (both single GPU and MNMG) to a more realistic value.

While analyzing a recent variation seen in centos MNMG tests, it was seen that the thresholds set to check the models, ie. assert condition is low compared to how the model performs.
ex. In RF MNMG binary classification tests currently the assert condition is :
[code]
However, the RF M

[2020-08-18 16:45] JohnZed commented on #2632
Unfortunately, I still get failures with 1 stream. Running on CUDA 11:
[code]

[2020-08-18 17:02] JohnZed commented on #2632
I rolled back to an RMM from Aug 11 (before cnmem deprecation). With that version, I can't repro this crash at all. Even when adding back the predict. RMM built at `commit c3e3fe60672ec22b6219dd45bbad4b72d195ac10 (HEAD -> fix-debug-build)`. Code:

[code]

[2020-08-18 17:10] JohnZed commented on #2632
Running @dantegd 's code but with the older RMM and 8 streams, that test passes.

[2020-08-18 17:41] dantegd commented on #2632
Adding to the rabbit hole, with the latest RMM this loop passes:
[code]
but if we remove the predict it fails:
[code]

[2020-08-18 17:43] beckernick commented on #2632
We should also be careful to define what "passing" means. Does passing mean "doesn't error", or does passing mean "doesn't error and doesn't leak memory"? Based on the earlier comments, before the cnmem deprecation, these were passing but leaking memory

[2020-08-18 17:47] dantegd commented on #2632
passing == works perfectly fine no memory leak I can see

[2020-08-18 20:28] harrism commented on #2632
OK sounds like there could be an issue with stream free lists in the new pool resource. Will look later today. Anything you can do to make the repro as simple as possible will help.

[2020-08-18 21:15] JohnZed commented on #2632
We're likely to allocate memory from one stream, then kill that stream and then go back and allocate more from another stream. Does this trigger an issue in stream_ordered_memory_resource.hpp when it goes to do `get_block_from_other_stream` and synchronize this now-dead stream that allocated the memory at the beginning? Maybe there is already something that already handles this case...

The RF cod

[2020-08-18 21:47] tfeher commented on #1986
This issue can be closed, it was implemented in #2607.

[2020-08-18 21:51] JohnZed commented on #2632
Apologies that I don't know much about expected semantics in RMM, so maybe I'm misunderstanding the expected behavior, but a gtest like this in RMM fails:

* Allocate device buffers in a loop, each on a different stream, all from a pool
* Destroy the streams
* Allocate some memory on the default stream

This is similar to the random forest example.

[code]

[2020-08-18 21:52] dantegd commented on #2632
Note that even if the error(s) happen at different places when calling the code, the most common place where I am reproducing the error is around the `get_block_from_other_stream` function in `stream_ordered_memory_resource`, particularly:

https://github.com/rapidsai/rmm/blob/7e5a65e96df9a58974a899b1761b00c027eb32d7/include/rmm/mr/device/detail/stream_ordered_memory_resource.hpp#L365

[2020-08-18 22:19] JohnZed commented on #2632
My little hack to get that new RMM test to pass -- don't throw an exception if the error is a cudaErrorInvalidResourceHandle, which indicates that the stream has been destroyed. Seems like it would be much nicer if we had a cudaStreamIsDestroyed API or something similar, but I don't think there's a better way to see if a stream is invalid that just doing something with it and looking for this erro

[2020-08-18 22:35] jrhemstad commented on #2632
Thanks for the repro @JohnZed. I was able to simplify it even further. This repro will actually segfault.

[code]

As you identified, when we try and reclaim a block from another stream, we attempt to synchronize a stream that was already destroyed. Unfortunately this isn't guaranteed to return a `cudaErrorInvalidResourceHandle` and can actually segfault.

[2020-08-19 02:48] harrism commented on #2632
Thanks @JohnZed and @jrhemstad for working to find gtest repros. Soooo much easier than Python repros. :+1:

[2020-08-19 03:11] #2704 closed

[2020-08-19 04:07] JohnZed opened #2712 "[FEA] Automatically test with pool allocator and other RMM modes"
We should have a simple mechanism to enable RMM's pool allocator for all tests. Ideally we should add support for unified memory and other RMM modes.

[2020-08-19 15:26] dantegd commented on #2706
@jmkim thanks for the issue!

dask_cudf DataFrames and cuDF DataFrames are not the same thing. Our single GPU algorithms support cuDF inputs, while our multi-gpu algorithms are the ones that support dask cuDF. The KMeans you are looking for and linking docs to is `cuml.dask.kmeans` (which can also be accessed via `cuml.dask.cluster.kmeans`), not `cuml.kmeans`.

For the time being dask cudf datafra

[2020-08-19 15:26] #2706 closed

[2020-08-19 15:28] dantegd opened #2714 "[FEA] Add named parameters and indentation detection to docstring decorator"
See comments for reference:

https://github.com/rapidsai/cuml/pull/2635#discussion_r469483023

https://github.com/rapidsai/cuml/pull/2635#discussion_r469460100

[2020-08-19 16:46] #2690 closed

[2020-08-19 18:33] mdemoret-nv commented on #2714
Would like to add 2 suggestions from my code review:

1. Ability to sort parameters by their order in the function signature.
2. If Num 1 proves to be too difficult, instead a good compromise would be having an option to prepend the parameters instead of always adding them to the end.

See my comment [here](https://github.com/rapidsai/cuml/pull/2635#discussion_r473218201)

[2020-08-19 18:42] mdemoret-nv commented on #2415
It would be great to update some of the python docstrings to use the doctest format in this issue. Right now most of our examples look like:
[code]

Instead, the doctest format would be (generated by literally copying the example section into a python interactive session):
[code]

Which doesnt look better in Github markdown, but is a big improvement in Sphinx. This allows the user to see the outpu

[2020-08-19 18:44] yuqli-sturfee commented on #2415
Thanks for the reply and the instruction. Sure I will take care of them. Thanks.

[2020-08-19 18:45] yuqli commented on #2415
Thanks for the reply and the instruction. Sure I will take care of them. Thanks.

[2020-08-19 19:13] beckernick commented on #959
This would be awesome addition 👍

[2020-08-19 20:26] beckernick opened #2715 "[FEA] Enforce convert_dtype in RandomForestClassifier GPU predict"
If float64 dtype data is passed to `predict`, we currently raise an error before we get to the downstream conversion in `_predict_model_on_gpu` from the base class. This blocks predicting on the GPU with float64 data. However, it looks like we actually aren't using the `convert_dtype` argument in `_predict_model_on_gpu` to actually do conversion which means we would error if it were enforced. It w

[2020-08-19 20:39] beckernick opened #2716 "[FEA] Implement convert_dtype in SVC predict"
Today, users must manually convert data to match the dtype used during training before using `SVC.predict`. It would be nice if we implemented `convert_dtype` for predict like in KNN, LogisticRegression, and RF so that any appropriate array could be passed in.

[code]

[2020-08-19 21:32] beckernick commented on #2716
Picking this up

[2020-08-19 22:20] beckernick commented on #2715
This is actually only relevant when we train with non-float32 data, which we can't predict with on the GPU anyway. Closing.

[2020-08-19 22:20] #2715 closed

[2020-08-19 22:50] #1674 closed

[2020-08-19 22:50] #2243 closed

[2020-08-19 22:50] #2481 closed

[2020-08-20 13:35] #2534 closed

[2020-08-20 18:35] JohnZed opened #2724 "[BUG] test_cov failing for COO matrices on CUDA 11 with cupy 7.8"
As seen in this log: https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci-a100/job/cuml/job/prb/job/cuml-gpu-build/43/testReport/junit/cuml.test/test_stats/test_cov_float32_True_1500_1000_/

`cuml.test.test_stats.test_cov` is failing for COO matrices as of CUDA11 + cupy 7.8.

PR #2722 changes the test to use CSR to get past this, but we still need to root-cause the COO failure.

[2020-08-20 18:36] JohnZed commented on #2384
#2724 is the only failing test now

[2020-08-20 18:37] JohnZed commented on #2632
Fixed via PR 510 to the RMM repo.

[2020-08-20 18:49] beckernick opened #2725 "[FEA] Set PCA default n_components equal to scikit-learn default"
Currently, the default number of components for scikit-learn PCA is `n_components = min(n_samples, n_features)`. Our [default](https://github.com/rapidsai/cuml/blob/f1f63468ebc152c758e5c394a07d06c47ed7af4f/python/cuml/decomposition/pca.pyx#L215) is `n_components = 1`.

It might be useful to switch this out of the box to match scikit-learn.

[2020-08-20 19:03] beckernick commented on #1995
Coordinated with @Salonijain27 . Picking this up

[2020-08-20 19:12] cjnolet commented on #2724
It looks like the `coo_matrix.sum(axis=0)` is yielding very incorrect (what look like potentially corrupted) results. Created a [Github issue](https://github.com/cupy/cupy/issues/3822) for the Cupy project.

[2020-08-20 19:39] #2664 closed

[2020-08-20 19:43] afender opened #2727 "[FEA] Take advantage of MST in hierarchical clustering"
Minimum spanning trees come up in hierarchical clustering is to enable a single-linkage clustering and the ability to draw dendrograms like Scipy's [hierarchy package](https://docs.scipy.org/doc/scipy/reference/generated/scipy.cluster.hierarchy.linkage.html), which also enables HDBSCAN.

The kernels are being implemented in RAFT since it could also be used un cuGraph in the long run : https://gith

[2020-08-20 19:47] cjnolet commented on #2727
Ref: #1783

[2020-08-20 21:59] cjnolet commented on #2724
After diving in some more, I've found that the CUB `device_csrmv` call in `csr.py` is busted. I checked the 7.7.0 conda package and I think we haven't noticed this before because a setting `cupy.cuda.cub_enabled` has been set to `False` in the past.

[2020-08-21 20:30] wphicks opened #2737 "[DOC] Document minimum hardware requirements for usage and development"
## Documentation of minimum hardware requirements

**Needed documentation**
It would be useful to have a list of any minimum hardware requirements both for using cuML and for running the tests. This would reduce time spent debugging issues on systems that we do not intend to support.

**Documentation description**
We should list (probably in README.md) any minimum hardware requirements for using c

[2020-08-21 22:39] JohnZed opened #2738 "[BUG] dev conda environment for cuda 10.2 is missing FAISS"
All dev environments should install faiss from conda. The 10.2 environment is currently missing it. It's also missing ucx-proc. Should follow the other env styles.

See: https://github.com/rapidsai/cuml/blob/branch-0.15/conda/environments/cuml_dev_cuda10.2.yml

[2020-08-22 06:16] ngs2410 opened #2742 ""illegal memory access" using whiten=True on cuml.decomposition.PCA"
Using cuml nightly:
[code]
I find that this snippet:
[code]
Results in this exception:
[code]
Setting ```whiten=False``` sees it running without error. I also tried cuml 0.14 stable and saw the same error when using whiten.

Output of print_env.sh
<details><summary>Click here to see environment details</summary><pre>

     **git***
     Not inside a git repository

     ***OS Information***
     D

[2020-08-22 07:39] ChristofHenkel opened #2743 "[BUG] KNeighborsClassifier predict_proba is wrong when using many classes"
When using a large amount of classes (in my case 81k) probabilities of KNeighborsClassifier.predict_proba() do not sum to 1 row-wise. Its is correct when using sklearns implementation

![Screenshot from 2020-08-22 09-24-17](https://user-images.githubusercontent.com/24292431/90951437-4b9da180-e45b-11ea-8ac8-5d0c3e554e1e.png)

![Screenshot from 2020-08-22 09-29-50](https://user-images.githubusercont

[2020-08-22 22:38] cjnolet opened #2745 "[FEA] cuml.dask fit_predict and fit_transform to be performed together"
Currently, the training and inference stages of our Dask estimators have been purposefully separated because the distribution of partitions in the inference dataset might be very different than the distribution in the training dataset.

This can be inefficient when users would actually like to perform a fit_transform or fit_predict, because this is a case where we know the training partitions will

[2020-08-24 04:33] PerkzZheng opened #2746 "[FEA] cuml.dask supports Label Encoder"
**Is your feature request related to a problem? Please describe.**
`cuml.dask` supports `preprocessing.LabelEncoder`
It is already implemented in Dask with CPUs. (`dask_ml.preprocessing.LabelEncoder`)

[2020-08-24 15:22] wphicks opened #2748 "[DOC] conda env setup line produces env with wrong Python version"
## Report incorrect documentation

**Location of incorrect documentation**
Line 21 of [BUILD.md](https://github.com/rapidsai/cuml/blob/branch-0.15/BUILD.md#setting-up-your-build-environment).

**Describe the problems or issues found in the documentation**
Due to [this conda bug](https://github.com/conda/conda/issues/4756), the suggested line for setting up the build environment does not use Python

[2020-08-24 16:30] JohnZed opened #2750 "[FEA] Sparse inputs to UMAP"
Depends on #2105

[2020-08-24 16:33] JohnZed opened #2751 "[FEA] Sparse input support for tSNE"
Depends on sparse kNN

[2020-08-24 18:39] wphicks commented on #2748
Resolved by #2749

[2020-08-24 18:39] #2748 closed

[2020-08-24 20:40] JohnZed commented on #2725
Need to issue a warning to note the change.

[2020-08-24 20:42] JohnZed commented on #2604
@wphicks Can you take a look at the spdlog docs and see what options we have here?

[2020-08-24 21:53] Sandy4321 opened #2756 "[QST]will it work on windows?"
**What is your question?**

will it work on windows?

[2020-08-24 22:44] dantegd commented on #2742
I have not been able to reproduce the crash in the current commit of branch-0.15 in CUDA 10.2 and CUDA 11 environments:
[code]

This was on 8 GB GPUs which is the only significant difference I see on a first sight. If you ran it on the 1660, could you try running it instead in the 1080 to discard that difference (whiten increases VRAM consumption)? The fact that this method is being tested in CI (

[2020-08-25 14:44] Salonijain27 opened #2757 "[BUG] Dask stress test failures in 0.15"
dask stress test errors:

**Base test errors :**
`python/cuml/test/dask/test_base.py::test_get_combined_model[True-data_size0-LinearRegression-float32]` Runtime Error

`python/cuml/test/dask/test_base.py::test_get_combined_model[True-data_size0-LinearRegression-float64] `

`python/cuml/test/dask/test_base.py::test_get_combined_model[False-data_size0-LinearRegression-float32]`

`python/cuml/test/da

[2020-08-25 15:17] Salonijain27 commented on #2757
`python/cuml/test/dask/test_kneighbors_regressor.py::test_predict[dataset2-512-2-8-dask_cudf] [W]`
[code]

[2020-08-25 15:33] MattiaVerticchio opened #2760 "RAPIDS nightly installation fails on Google Colab"
**Describe the bug**
The installation script to install RAPIDS 0.15 is not working on Google Colab.

**Steps/Code to reproduce bug**
[Here is the notebook](https://colab.research.google.com/drive/1ja_LakjvMQbXRN1SAwEJHWNnWbEVpwfc?usp=sharing).

**Expected behavior**
The installation procedure runs successfully.

**Environment details:**
 - Environment location: Google Colab
 - Linux Distro/Archite

[2020-08-25 15:40] Salonijain27 commented on #2757
**Linear Regression errors :**
`python/cuml/test/dask/test_linear_regression.py::test_ols[True-float32-False-False-2-10-10000.0] distributed.worker - WARNING -  Compute Failed`
[code]

[2020-08-25 16:07] #2743 closed

[2020-08-25 20:21] #1995 closed

[2020-08-25 20:47] wphicks commented on #2604
Note from discussion on #2758: Might look at migrating old warnings to cuml.common.logger either as part of or as a follow-on to resolving this issue.

[2020-08-25 20:51] dantegd commented on #2757
@Salonijain27 could you post the environment details of where you ran them? The fails almost seem like a cascade, i.e. the first one failed and the rest failed. It would be way more useful to have a file attached with the full log rather than this, could you please post that along the output of print_env.sh?

[2020-08-26 17:26] #2716 closed

[2020-08-26 17:43] beckernick opened #2765 "[FEA] RandomForestRegressor score method should default to r-squared"
Currently, RandomForestRegressor is the only regressor that does not return the r^2 value from its `score` method. This is also inconsistent with scikit-learn, which can cause some compatibility issues.

Given the existing metrics it can return are valuable (mean squared error, mean absolute error, median absolute error), perhaps it's worth configuring the default to be r^2 but allow users to stil

[2020-08-26 21:52] beckernick opened #2767 "[BUG] RandomForestRegressor fit causes segfault when max_features * n_features is less than one"
We segfault in the initial call to fit a RandomForestRegressor model when the `max_features` is a float and `max_features*n_features` is less than one. This makes it difficult to run/configure a large hyperparameter sweep without existing knowledge of the dataset.

Perhaps we need something like this on the Cython/Python side to catch it or a different way of handling this in the CUDA/C++ layer? R

[2020-08-26 21:58] ngs2410 commented on #2742
Thanks for looking into this.

I imagine that it is something environmental. Even on the 1080 I am seeing
really perplexing and non-deterministic behavior. I wondered if it was the
random input data that was hitting some worst case scenario in the
algorithm and so added a np.random.seed() - it started working fine. Take
the seed out - still working fine. Walk away and come back - Exception. Put
th

[2020-08-27 17:04] wphicks commented on #2604
Reviewing both of the linked pieces of code here, it seems like we can either add the option to register a callback that is invoked directly by `Logger::log`, or we can add a callback that hooks into a custom sink in spdlog. From the linked discussion, I didn't see any advantage to hooking into the spdlog sink, but insight from those more familiar with the pieces here would be very welcome.

I imp

[2020-08-27 17:14] wphicks commented on #2604
One more question for the list: The POC *overrides* the default spd logging when a callback is registered rather than doing both the callback and the spdlog call. The argument in favor of this approach is that it avoids double-logging when we're not in the context of Jupyter. The application can always include spdlog logging in the callback function if it so chooses.

The argument against this is

[2020-08-27 18:08] Salonijain27 opened #2768 "[BUG]Single GPU stress test errors"
Tests that failed while using cuml 0.15 are:

Linear models :
[code]

Pickle test:
[code]
Also while running the test : `python/cuml/test/test_pickle.py::test_decomposition_pickle_xfail[data_size1-PCA-float64]` the stress tests get Killed. This happens even when we run the stress test just for the `test_pickle.py` file

Stack trace for linear regression : [linear_reg_stress_test.txt](https://githu

[2020-08-27 18:21] beckernick commented on #2767
Looks like there also may be another subtle bug here. We don't honor the `max_features` like scikit-learn when it's an integer.

https://github.com/rapidsai/cuml/blob/6dba402213dd3f70c7cb524a3d4cf5d76123c88c/python/cuml/ensemble/randomforest_common.pyx#L149-L162

[2020-08-27 19:47] JohnZed commented on #2218
See PR #2747

[2020-08-27 20:01] JohnZed commented on #2601
Need to add tests in cuML, but code has moved to RAFT

[2020-08-27 20:09] dantegd commented on #2768
The error with linear models is unfortunately expected:

[code]

[2020-08-27 20:10] JohnZed commented on #2768
For OOM test failures, need to adapt the test in 0.16 to fit in 32gb.

[2020-08-27 22:29] wphicks commented on #2604
Created a unit test [here](https://github.com/rapidsai/cuml/compare/branch-0.16...wphicks:bug-jupyter-logging#diff-82a4c159c3130110a80b6decef26af4aR38-R44) for the more general problem of redirected `sys.stdout` when logging is invoked from Python. Passing this unit test is sufficent to solve this issue but may be more than is necessary.

[2020-08-28 01:23] #2598 closed

[2020-08-28 08:05] JulianWgs opened #2771 "[BUG] KMeans random state differs from sklearn implementation"
**Describe the bug**
cuml KMeans has a default random state while kmeans has not. This gives the false impressions that cuml produces consistent results, while sklearn does not. Results are also just slightly different (10e-7 or so), which adds to the impression that all random trials just converged to the same solution.

- Was this deliberately chosen?
- Is there a guaranty that this ensures the

[2020-08-28 14:51] beckernick opened #2773 "[FEA] Implement fast solver for LinearSVC"
Perhaps related to #1664 , in the stable 0.14 and today's source build (2020-08-28) SVC(linear) has trouble scaling.

[code]

This also appears to happen with short/wide datasets (but not so few samples they are rank deficient).

[code]

[2020-08-28 20:21] beckernick commented on #2725
Closed by #2758

[2020-08-28 20:21] #2725 closed

[2020-08-28 22:02] VibhuJawa commented on #2588
Just waiting for https://github.com/rapidsai/cudf/pull/5975 to land.

 Will update this and https://github.com/rapidsai/cuml/issues/2590 together once  https://github.com/rapidsai/cudf/pull/5975 lands.

[2020-08-28 22:25] #2765 closed

[2020-08-29 09:27] #2222 closed

[2020-08-29 16:20] #2488 closed

[2020-08-31 17:09] cjnolet commented on #645
@JohnZed it looks like the Silhouette score primitive has been completed but we still need #796.

[2020-08-31 18:16] JohnZed commented on #2756
cuml does not support windows directly. When WSL2's CUDA support is out of preview, we expect to run cuML and other RAPIDS libraries on WSL2.  (See: https://docs.nvidia.com/cuda/wsl-user-guide/index.html)

[2020-08-31 18:16] #2756 closed

[2020-08-31 18:16] JohnZed commented on #2746
Targeting this for the 0.16 release.

[2020-08-31 18:20] datametrician commented on #2760
0.15 won't work on Colab because it is using Python 3.6.
Because of this, instead of installing the latest, we stopped at 0.14.

I recommend trying app.blazingsql.com for the time being, or spin up a T4 instance on your cloud of choice. I believe most T4 are <$1 an hour. I wish I had a better answer.

[2020-08-31 18:20] #2760 closed

[2020-08-31 20:18] taureandyernv commented on #2347
Sorry @drscotthawley .  If you're running colab, please use a GPU instance and ensure you're not getting K80s, which happens when their better GPUs are used.  I have the $10 a month subscription to avoid this.

Alternatively, you can use app.blazingsql.com and it quick starts you into a free (for now) RAPIDS instance.  It is a pretty nice on-boarding experience.

@Salonijain27 , please close :)

[2020-08-31 20:19] #2347 closed

[2020-08-31 20:38] cjnolet opened #2776 "[FEA] Sparse cuml array"
As I'm beginning to integrate the sparse knn C++ layer w/ the existing (dense) nearest neighbors Python layer, I'm quickly seeing a need for a sparse cuml array.

It would be great to have a container object for the arrays that underly {scipy|cupy}.sparse arrays that could be serialized on its own and referenced/passed around as a single instance.

I'm hoping to keep this very lightweight and simp

[2020-08-31 21:09] JohnZed commented on #645
Thanks! I'll schedule #796 for 0.16 as a "good first issue"

[2020-08-31 22:31] Nanthini10 opened #2777 "[BUG] Stratified Split does not retain column names"
**Describe the bug**
On using the `stratify=True` option, the columns names are not retained with `train_test_split1

**Steps/Code to reproduce bug**
[code]

**Expected behavior**

Retain the column names

[2020-09-01 18:03] wphicks commented on #2604
I have now posted 2 competing PRs with different approaches to solving this problem. Below is a summary of each:
# PR #2774
## Summary
Add a callback to cuml's logger. This callback puts the underlying spdlog call within a Python context manager. If sys.stdout is the OS-defined stdout, this context manager does nothing. Otherwise, the underlying file descriptors are manipulated to redirect output

[2020-09-01 20:50] wphicks opened #2782 "[BUG] Illegal memory access in tests with debug build"
**Describe the bug**
When cuml is built with `./build.sh -g`, and the unit tests are run, multiple tests fail with "illegal memory access" errors.

**Steps/Code to reproduce bug**
As far as I can tell, this bug cannot be reproduced by running any single unit test. It only manifests when multiple tests are run together, but it fails every time when the whole suite is run. Shuffling the tests causes

[2020-09-02 00:18] zbjornson commented on #2528
@dantegd it looks like the no-Conda-build situation got a bit worse in #2583, which made RMM a CMAKE dependency (not documented in BUILD.md or cpp/README.md). I built and installed it manually, but would it be reasonable to add RMM to the build?

It would be awesome if cuML's CI had a no-Conda build to help at least keep these setup steps documented.

[2020-09-02 01:33] dantegd commented on #2528
@zbjornson there is significant work being done not only on cuML which is why I paused updating documentation, look here for the progress: https://github.com/rapidsai/cudf/pull/6095

[2020-09-02 18:35] dantegd opened #2786 "[BUG] prims tests CUDA-MEMCHECK errors in nightly CI"
**Describe the bug**
Nightly CI is running cuda-memcheck for ml-prims tests and found the following issue:

[code]

Link to complete log: https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci/job/cuml/job/branches/job/cuml-gpu-branch-0.16/37/display/redirect

It might or might not be related to #2782

**Steps/Code to reproduce bug**
Run cuda-memcheck if ml-prims tests (release build)

**Expect

[2020-09-03 02:42] Rushil-Chakra opened #2790 "[BUG] LinearRegression cannot fit with multidimensional y in v0.15"
**Describe the bug**
Documentation on LinearRegression states that as of 0.15, it can fit with a multidimensional y. However, doing this throws a `ValueError` stating that y is expected to have only 1 column. I've traced the cause to a value of 1 being passed to check_cols in `input_to_cuml_array()` when it should be the number of columns of y.

**Steps/Code to reproduce bug**
[code]

**Expected b

[2020-09-03 04:54] bdice opened #2791 "[BUG] GLM QN solver: `stream` used in lambda capture and as argument"
**Describe the bug**
Hi all! I was compiling cuML from source and my compiler (versions listed below) errored out on this file because `stream` is lambda-captured and also used as an argument:
https://github.com/rapidsai/cuml/blob/f110e3d065342ede243ccf5b22afdaf619a8a6ea/cpp/src/glm/qn/qn_solvers.cuh#L238-L240

Error message:
[code]

**Steps/Code to reproduce bug**
Use `./build.sh` script with com

[2020-09-03 17:36] #2679 closed

[2020-09-03 17:47] #2767 closed

[2020-09-03 19:27] #2673 closed

[2020-09-03 19:27] #2384 closed

[2020-09-03 19:28] #2385 closed

[2020-09-03 20:12] divyegala opened #2794 "[TODO] Replace `raft::handle_t &handle_impl = handle;` lines"
Once #2747 is merged, many such unnecessary lines will be introduced in the code-base. These should be cleaned up

[2020-09-03 20:47] JohnZed opened #2795 "[BUG] LightGBM 3 not working with FIL"
We have worked around this with PR #2787 , but LightGBM 3 appears to not be working with FIL. Should triage and see if we can add back support (possibly a treelite issue)?

[2020-09-04 14:18] #2588 closed

[2020-09-04 17:34] taureandyernv opened #2797 "[BUG] TSNE silently fails on a T4"
**Describe the bug**
A community user tried a small dataset on TSNE and his code silently failed during `fit_transform`.  We are not sure how or why.  After debugging, it was discovered that this only fails on T4 GPUs, and during `fit`.  On the other GPUs, tested on RTX8000 and V100s, his code works fine.  This issue occurs on only T4s in both various cloud and local T4s workspaces.  We are still

[2020-09-04 17:37] taureandyernv commented on #2797
FYI for @datametrician @Salonijain27 @JohnZed

[2020-09-04 19:47] drobison00 commented on #2797
@taureandyernv Does the GPU utilization stay high during the time when it appears to be hanging?

[2020-09-04 21:38] wphicks commented on #2046
@teju85 When you take a look at #2781, would you mind thinking about whether or not it covers everything you had in mind  for this issue? If so, I'll pull off the todo [here](https://github.com/rapidsai/cuml/blob/branch-0.16/cpp/include/cuml/common/logger.hpp#L73).

[2020-09-05 23:32] hcho3 commented on #2160
Float64 support is added in https://github.com/dmlc/treelite/pull/196. I plan to break up this pull request into smaller ones for easy reviews.

[2020-09-07 08:25] aerdem4 opened #2801 "[BUG] Label Encoding after row filtering"
**Describe the bug**
If I use LabelEncoder in filtered dataframes, I get wrong result which includes nans.

**Steps/Code to reproduce bug**
You can download the dataset here: https://www.kaggle.com/c/lish-moa or you can fork https://www.kaggle.com/aerdem4/moa-feature-importance-with-rapids-lofo to reproduce the issue.

This works well:
[code]

This ends up in a column with nans:
[code]

[2020-09-07 22:31] zwzhang121 opened #2802 "ModuleNotFoundError: No module named 'cuml'"
Hi, I followed [https://rapids.ai/start.html#details](url) to install cuml & cudf, but some erroes happened.

Install commends:
`conda install -c rapidsai -c nvidia -c conda-forge -c defaults cuml=0.15 python=3.7 cudatoolkit=10.2`
`conda install -c rapidsai -c nvidia -c conda-forge -c defaults cudf=0.15 python=3.7 cudatoolkit=10.2`

errors:

Traceback (most recent call last):
  File "<stdin>", lin

[2020-09-08 20:35] taureandyernv commented on #2797
@drobison00 GPU utilization remains high, memory stays under 1GB

[2020-09-08 22:48] wphicks commented on #2738
Closed by #2741.

[2020-09-08 22:48] #2738 closed

[2020-09-09 00:45] ngs2410 opened #2804 "[BUG] cuml PCA transform() requires n_rows > 1"
**Describe the bug**
cuml PCA .transform() requires n_rows > 1 which is surprising as sklearn PCA doesn't have the same requirement.

I caught this trying to make predictions using a previously saved model that included a pipeline with a cuml PCA model. In my case, predictions are over a single example. My workaround will be to tile the example but it feels like this should not be necessary.

[cod

[2020-09-10 00:46] JohnZed opened #2806 "[BUG] Sporadic Dask RF test failures in MNMG tests"
From nightly MNMG testing, we sometimes see: ```
partitions_per_worker = 3
cluster = LocalCUDACluster('tcp://127.0.0.1:35979', workers=3, threads=3, memory=540.94 GB)

    @pytest.mark.parametrize('partitions_per_worker', [3])
    def test_rf_classification_multi_class(partitions_per_worker, cluster):

        # Use CUDA_VISIBLE_DEVICES to control the number of workers
        c = Client(cluster)

[2020-09-10 00:49] JohnZed commented on #2724
Closing as this was the well-studied cub enablement issue in cupy.

[2020-09-10 00:49] #2724 closed

[2020-09-10 00:51] JohnZed commented on #2768
TODO:
 - remove stress tests expected to fail (e.g. SVD example from Devin above)
 - Adapt overly-large failing pickle tests to fit in RAM on typical CI machine

[2020-09-10 00:52] JohnZed commented on #2802
You could check in your conda environment directory to ensure that cuml is installed or do a `conda list` to get a list of packages. I've often seen this in cases where e.g. your ipython is installed in the path but outside of your conda env, so running ipython doesn't pick up the conda packages in its path.

[2020-09-10 01:00] leofang commented on #2724
To be precise, it's CUB's bug that @cjnolet and I found. It only happens with newer CUB (such as the one that comes with CUDA 11.0) and not in CUB 1.8.0. As far as I can tell from the public development in CUB, it is not yet fixed.

[2020-09-10 01:02] JohnZed commented on #2700
Since this was occurring in 0.13 but no longer in 0.15, closing as non-reproducible.

[2020-09-10 01:02] #2700 closed

[2020-09-10 01:12] JohnZed opened #2807 "[BUG] Sporadic MNMG linear regression test failures"
These do not occur every time, but often enough to be trouble in the MNMG nightlies. Sample issue:

[code]

[2020-09-10 16:50] wxbn opened #2809 "[FEA] ANN for KNN Classifier & Regressor"
Multiple approximate nearest neighbors methods will soon be made available as alternatives to bruteforce KNN into the `NearestNeighbors` model (see #2780). Let's make this issue a reminder that it might also be interesting to make these features available for the `KNN Classifier & Regressor` models.

[2020-09-10 19:45] JohnZed commented on #2795
Possibly related to float64 support for treelite? https://github.com/dmlc/treelite/pull/198

[2020-09-10 20:04] Salonijain27 commented on #2806
PR #2810 updates the threshold value for the above RF MNMG test.
This update has been made in order to solve the sporadic test failure while a deeper dive for the RF accuracy is being carried out.
For reference, the issue for tracking RF accuracy bug : #2518

[2020-09-10 21:55] cjnolet opened #2811 "[BUG] Dask KNeighborsRegressor score() should use R2 score instead of Accuracy"
Currently, the `score()` function in the Dask KNeighborsRegressor class is using accuracy but it should be using R2 score. We might want to consider Dask versions of the `ClassifierMixin` and `RegressorMixin`

[2020-09-10 21:58] cjnolet opened #2812 "[BUG] Dask KNeighborsClassifer & KNeighborsRegressor predict() should not return indices/distances"
The Scikit-learn APIs for KNeighborsClassifier and KNeighborsRegressor `predict()` and `predict_proba()` do not return indices or distances. The current Dask versions of these estimators are returning them and this will get confusing for users who are expecting `y_hat = knn.predict(X)` to return only a single output.

[2020-09-11 14:37] cjnolet opened #2814 "[BUG] Dask KNeighbors* w/ multi-label returns incorrect results sometimes"
I encountered this recently in a Pytest and haven't yet been able to root-cause it but it seems like it could be related to a memory issue or from state being left around.

What I've noticed is that in multi-label classification/regression, the first array of labels is always consistently returning the expected values while the other labels arrays sometimes return a very different set of values. T

[2020-09-11 14:38] cjnolet opened #2815 "[TASK] Use logger in MG C++ code"
Now that we have consolidated a lot of our MG C++ code into cuML, we should go through and update the `cout`s and `printf`s to use debug logging.

[2020-09-11 14:44] cjnolet opened #2816 "[BUG] Dask KneighborsClassifier pytest predict_proba() doesn't match single GPU when n_targets=1"
This is very strange and it could be something as simple as an oversight in the array shape in the pytest when the data generator's n_targets=1.

[2020-09-11 17:00] wphicks commented on #2786
A fix is available in #2813, but it does *not* resolve #2782.

[2020-09-11 17:11] JohnZed opened #2817 "[FEA] Raise a warning if LightGBM 64-bit thresholds may cause rounding issues"
Once treelite supports float64, FIL can detect this and issue a warning.

[2020-09-11 22:00] #2806 closed

[2020-09-12 17:31] #2786 closed

[2020-09-13 02:33] cjnolet commented on #2387
I’ve been thinking about this a little more as I’ve been working on some similar kernels that need to process individual rows of a CSR.

I’m thinking even for cases where the data is extremely sparse, we could use the average degree as a heuristic to set the warp size and then map each row of the CSR to individual warps and have the threads each process the columns in parallel. This would enable w

[2020-09-13 02:51] cjnolet opened #2819 "[TASK] Increase parallelism or sparse normalization prims"
Cuml has CSR-based primitives that contain kernels, both in Python and in C, which currently map each row of the CSR to a single thread and loop over the columns serially to perform L1/l2/l_inf normalization.

The performance and the parallelism, including the sums, could be made much more parallel if we map the individual rows to warps with a warp size set to something like the average degree. Th

[2020-09-13 02:56] cjnolet opened #2820 "[TASK] Sparse CSR 2 COO primitive should use cusparse"
This issue might be dependent upon updating FAISS to make use of 32-bit integer indices. With CUDA 11, cusparse now provides an api that supports 64-bit indexing but until that is the default, we might still need to use the current custom csr_to_coo kernel in cuml for 64-bit indices while using cusparse for 32-bit indices.

[2020-09-13 03:04] cjnolet opened #2821 "[FEA] Use RMM with FAISS GPUResources"
Recent updates to FAISS now provide a means to plug in our own custom memory manager (RMM) so that we can control each allocation and deallocation.

This is needed on cuml, ideally before the approximate indices are included, since they require indexes with memory exclusively owned and managed by FAISS. This is particularly a concern when using the pool allocator, because a user could allocate mos

[2020-09-13 17:39] cjnolet commented on #2105
Cleanup and remaining tasks:
- [ ] Row-major csr2dense so k-select can coalesce accesses.
- [ ] Add warp reduction to square norm kernels (limits latency from atomics and number of writes to global memory). Try this with both load balanced indexing (requires constructing coo index arrays) and one-row-per-warp (only requires csr indptrs with warp size based on avg degree).
- [ ] Sparse pairwise dis

[2020-09-14 10:04] MatthiasKohl commented on #2387
+1: in general, I like the idea of assigning rows to warps, as it helps with coalescing.
There would only be one extreme case left where the number of rows is very small and average degree very large, but there we can use multi-stage reductions as you mentioned.
Also, how would we determine average degree? In DBScan, we have it available "for free", but if we need to launch a separate kernel, that

[2020-09-14 10:21] miguelusque opened #2822 "[FEA] Add missing data imputation methods, such as MissForest"
**Is your feature request related to a problem? Please describe.**
Hi,

I might be wrong, but I have not seen any cuML method to perform missing data imputation?

I am referring to something similar to MissForest. I assume there is something already implemented, considering RandomForest makes use of it, but I am not sure if it is exposed in the Python layer.

**Describe the solution you'd like**
T

[2020-09-14 14:04] cjnolet commented on #2387
I'm thinking the average of the difference of the `indptr` array might be the fastest way to compute this.

At some point, I wouldn't mind doing some experiments with different ways to parallelize CSR arrays and put the results into a paper. I'm sure there's better heuristics for optimal warp size than just the avg degree, I just figure it could be a reasonable starting place to add some more para

[2020-09-14 15:32] wphicks commented on #2822
I don't think we currently have anything along these lines, but sklearn [supports](https://scikit-learn.org/stable/modules/impute.html) mean, median, and mode imputation. It might be a good idea for us to start by adding that functionality and then move to more sophisticated methods like [MissForest](https://towardsdatascience.com/missforest-the-best-missing-data-imputation-algorithm-4d01182aed3).

[2020-09-14 16:00] MatthiasKohl commented on #2387
yes that makes sense, it's what I thought about, too.
But in that case, if we imagine that `indptr` has 1k-10k elements, which I think is realistic, at least for DBScan with a small batch size, it definitely is, then computing this average degree kernel is basically only launch latency of the kernel (for the reduction, every thread on the GPU only processes ~1 element).

That's OK if the array doe

[2020-09-14 16:46] wphicks commented on #2822
Oh! It looks like #2645 includes the data imputation provided by sklearn. So, once that's landed, we can consider adding in MissForest and/or other techniques.

[2020-09-14 17:18] wphicks commented on #2807
@dantegd Mentioned offline that he has reproduced this issue outside of CI. Removing the "needs triage" tag accordingly.

[2020-09-14 19:01] beckernick opened #2823 "[BUG] Setting logging level only works for the next occurrence"
In the 2020-09-14 nightlies, we appear to be honoring alternative logger levels for only the next occurrence. For workflows that can trigger many warnings (like hyperparameter optimization and AutoML), this can cause potentially thousands of warnings to be triggered.

We may want to honor logging at the module level, ideally.

[code]

[code]

[code]

[code]

[2020-09-14 19:01] beckernick commented on #2823
cc @dantegd

[2020-09-14 19:55] wphicks commented on #2823
I'm not sure that the issue is that we are honoring custom log levels for only a single occurrence (at least if I'm understanding correctly what you mean by that). For instance, I can do the following:

[code]

That being said, I can reproduce the specific cases that were posted, so there's clearly *some* sort of issue with logging level getting reset or manipulated. At minimum, we should look int

[2020-09-14 20:31] beckernick commented on #2823
Interesting. Thanks for digging into this @wphicks

[2020-09-14 23:04] wphicks commented on #2802
@zwzhang121 Were you able to resolve this, or is it still giving you trouble?

If it's still giving you trouble you might activate your conda environment and then:
1. Run `which ipython` or `which python` (depending on which you originally had trouble with) and confirm that the path for the executable correctly corresponds to your current conda environment
2. Post the output of `conda list` to mak

[2020-09-15 01:59] teju85 opened #2825 "[BUG] Ensure RAFT headers available in shipping packages"
**Describe the bug**
With changes to cuML to use RAFT headers, there are some of the raft headers will be included inside the headers of `cpp/include`. Thus, we'll have to also install those RAFT headers during the cmake install process of `libcuml++`.

**Steps/Code to reproduce bug**
If someone wants to directly use our `libcuml` conda package (for eg), they might find `header not found` kind of

[2020-09-15 02:02] cjnolet commented on #2825
I believe @dantegd is working this one. I believe the current approach is going to be copying the headers into `cuml/include` during the build / packaging. @dantegd, please correct me if I'm wrong.

[2020-09-15 02:03] dantegd commented on #2825
@cjnolet you are correct, just waiting for the PR to be merged to get into it :)

[2020-09-15 10:14] teclectic opened #2826 "estimators_ retrieval [FEA]"
Is there a possibility of retrieving the underlying estimator attributes from the cuml RandomForestRegressor object ? Rather like getting the estimators_ attribute from the sklearn RandomForestRegressor.

Maybe there is an intermediate way of doing this by loading the parameters into a treelite object, or via get_params ? Still investigating.

Many thanks for a fantastic library guys!

[2020-09-15 14:37] miguelusque commented on #2822
You are fully right. It works as you said.

[2020-09-15 16:10] wphicks commented on #2826
Glad you're enjoying cuML!

In terms of accessing the underlying decision trees, that's not currently exposed in cuML but might be something we could consider. We'd need to provide access to the decision trees stored [here](https://github.com/rapidsai/cuml/blob/cdb14e7de6a40d8d707d29b2889a89aa553125ee/cpp/src/randomforest/randomforest_impl.h#L71). We wouldn't want to use the `estimator_` attribute

[2020-09-15 16:27] wphicks commented on #2804
Failing assertion that leads to the exception is [here](https://github.com/rapidsai/cuml/blob/cdb14e7de6a40d8d707d29b2889a89aa553125ee/cpp/src/pca/pca.cuh#L229).

[2020-09-15 16:31] wphicks commented on #2804
Whoops, submitted that comment before I was done. Adding on... I don't immediately see why this assertion would be necessary *except* if the `whiten` option is true. In the case of `n_rows == 1`, whitening obviously does not make sense, so we can probably add some special handling there.

[2020-09-15 17:49] petersenjppb opened #2828 "KNeighborsRegressor"
**Is your feature request related to a problem? Please describe.**
For some applications, I have been using the scikit-learn's KNeighborsRegressor with the weights='distance' parameter.
Now, I started using cuML's KNeighborsRegressor (scikit-learn takes too long) but, the only option available for the weights parameter is 'uniform'. For these applications, weights='distance' is really needed.

**D

[2020-09-15 19:13] teclectic commented on #2826
Hi @wphicks - so I would exactly like to be able to try doing further training on underlying estimators and be able to see the changes that boosting / pruning and combining trees would have, on individual feature threshold splits.

Is there a way of extracting the information from _get_serialized_model ? This seems to resemble a dictionary with nodes and thresholds. I've been also trying to conver

[2020-09-15 19:29] hcho3 commented on #2826
@teclectic The JSON export feature in #2677 will give you a dictionary containing nodes and split thresholds. For example, the following encodes a random forest consisting of two decision tree stumps:
[code]

[2020-09-15 21:37] Nanthini10 commented on #2801
I'm looking into what is causing this. But for now a workaround is to call `reser_index(drop=True)` on the filtered df.

[code]

[2020-09-16 02:13] jakirkham commented on #1869
Looks like this can be closed now 🙂

[2020-09-16 02:35] cjnolet commented on #1869
Yes, it can. Thanks, John!

[2020-09-16 02:35] #1869 closed

[2020-09-16 02:58] jakirkham commented on #2216
Now that `SparseCumlArray` has been added with PR ( https://github.com/rapidsai/cuml/pull/2784 ), what would be the next steps here?

[2020-09-16 09:09] tfeher commented on #2773
Thanks @beckernick for opening this issue. The solver in cuml.svm.SVC is optimized for nonlinear kernels. For linear kernels there is a more efficient method which is implemented in sckit-learn's LinearSVC. We do not have the equivalent in cuML yet. The performance difference that you see is caused by the different algorithms used, and as such it is expected.

Let me transform this issue into a fe

[2020-09-16 11:09] teclectic commented on #2826
That is cool @hcho3 this will be easily convertible to a treelite model object - am I correct in saying that treelite model conversion is still a work in progress ?

[2020-09-16 13:09] cjnolet commented on #2601
The MPI comms code has been moved over and mg gtests are in PRs for both cuml and cumlprims_mg. Closing

[2020-09-16 13:09] #2601 closed

[2020-09-16 13:17] cjnolet commented on #2495
Remaining PRs:

Sparse setitem (slicing and indexing): https://github.com/cupy/cupy/pull/3533

Pointwise equality & inequality: https://github.com/cupy/cupy/pull/3945

Completed functionality:
- sparse getitem (slicing and indexing)
- pointwise divide
- pointwise multiply
- pointwise Max & min

[2020-09-16 14:08] wphicks commented on #2604
Closed by #2781

[2020-09-16 17:51] hcho3 commented on #2826
@teclectic To be clear, the JSON export feature in #2677 has no relation with Treelite. And yes, #2677 is currently waiting for review.

[2020-09-16 17:53] wphicks commented on #2604
Whoops! Thought #2781 had already been merged. Reopening until them.

[2020-09-16 17:53] cjnolet opened #2830 "[BUG] prms.whiten is modifying the components in PCA during transform() and inverse_transform()"
I noticed this while investigating #2804. After training, nothing should be modifying the trained parameters, however, when `whiten=True`, the components are being modified in `transform()` and `inverse_transform()`.

In this case, we should either be making a copy of the components, or possibly figure out how to perform the operations directly on the output.

[2020-09-16 21:19] #2604 closed

[2020-09-16 23:28] #2791 closed

[2020-09-17 00:53] zbjornson opened #2833 "[BUG] PCA param names and unused params"
**Describe the **bug****
Several of the members of `paramsPCA` appear to be named and/or documented incorrectly. I can open a PR to clean them up, but I don't know if e.g. any are preparations for future code.

1. `n_iterations`/`max_sweeps`/`iterated_power` - as far as I can tell, `n_iterations` is the one that's used, and it's only used for `COV_EIG_JACOBI` where it's the number of sweeps.

[2020-09-17 08:01] hcho3 commented on #2826
#2677 is now merged into the 0.16 branch.

[2020-09-17 16:15] #2768 closed

[2020-09-17 19:04] villagab4 commented on #1798
@cjnolet Hi Corey,

Is there a workaround to be able to run `inverse_transform()`? If not, what is the best way to copy the parameters of my `cuml.UMAP` model and transfer them to a standard `umap.UMAP` model?

[2020-09-17 19:58] hcho3 commented on #2826
@teclectic You can try the feature today by installing the cuML nightly package.

Code sample:
[code]

[2020-09-18 00:07] #2216 closed

[2020-09-18 08:58] #1986 closed

[2020-09-18 09:38] teju85 opened #2839 "[FEA] Support t-logistic regression"
**Request for an algo**
Request for supporting t-logistic regression as described [here](https://papers.nips.cc/paper/3928-t-logistic-regression). Unless someone also expresses interest in this algo, it's fine to keep this as a low-priority request.

**Additional context**
This approach _might_ be an alternative to neural nets. Cc += @MatthiasKohl

[2020-09-18 12:03] teju85 opened #2840 "[BUG] Match cuML RF parameter names with the corresponding ones in sklearn"
**Describe the bug**
A few examples are: `rows_sample`, `bootstrap_features`, etc. One approach is to keep these names, but add deprecation message for this release.

Tagging @JohnZed @hcho3 and @vinaydes for discussions.

[2020-09-18 14:34] ntaherkhani opened #2841 "Nearest Neighbor _Cosine Metric Distance_ Return Big Negative values for distances"
**Describe the bug**
Hi, I am trying to do prediction using NearestNeighbors model (cuml.neighbors.NearestNeighbors) and find similar items plus their distances.
I set "cosine" as metric distance.
when the results are returned I saw big negative values for distances.
As I know the value for distances should be between -1 and 1.
when I am trying with the same data that I trained, I am getting reaso

[2020-09-18 15:05] wphicks commented on #2685
Yes, you're right that different orders of execution in parallel systems makes it even harder to control floating point error than in serial systems, and I think that was what @Salonijain27 was getting at with the "Results not completely reproducible due to CUDA parallel computation" bullet point. In general, that is a very hard problem to work around, and most solutions involve performance penalt

[2020-09-18 15:56] cjnolet opened #2843 "[BUG] Ignore excessive warnings in pytests / CI logs"
The increase in the number of Python warnings in our CI logs from our pytests have made it increasingly challenging to hunt through the logs searching for potential CI failures.

In [this CI log](https://gpuci.gpuopenanalytics.com/blue/rest/organizations/jenkins/pipelines/rapidsai/pipelines/gpuci/pipelines/cuml/pipelines/prb/pipelines/cuml-gpu-build/runs/14624/log/?start=0), almost half of the log

[2020-09-18 19:42] hcho3 commented on #2795
Yes, dmlc/treelite#198 will address the issue. See discussion in #2799

[2020-09-18 20:39] #2790 closed

[2020-09-18 20:39] #2804 closed

[2020-09-18 21:01] cjnolet opened #2845 "[FEA] Use cupy.cuda.ElementwiseKernel instead of RawKernel"
We created a mechanism for generic typing in cupy Kernels but the cupy project has since a released a great typing mechanism and, even more specifically, their ElementwiseKernel API has gotten really good (in just about all cases providing everything we need). Unfortunately, the generic typing API we use in cuML was a bit hacked together and uses string replace in the NVRTC strings.

We should rep

[2020-09-18 21:06] cjnolet opened #2846 "[BUG] TSNE no longer supports n_components>2 but the user is left unaware"
When TSNE was first introduced to cuML, the `exact` method supported n_components>2 and it seems that feature was changed at some point. Currently, when a user sets n_components>2, there is only a debug message to let them know n_components was set back to 2 internally. As debug logging is not often turned on by default, most users get confused when they see no output or feedback and don't realize

[2020-09-18 23:15] wphicks commented on #2833
Good find, @zbjornson! A PR would be very welcome indeed. In general, we should eliminate any unused params in the C++ layer to minimize potential for confusion. They can always be added back later on. Say the word if you need any further input to put together the PR.

[2020-09-19 01:19] #2841 closed

[2020-09-19 13:21] Jacob-Barhak commented on #2685
Thanks @wphicks ,

You explained the difficulties and effort and I understand the low priority. Similar issues with python took a long time to be addressed - specifically I am discussing the nondeterministic hash seed in dictionaries that caused non deterministic behavior by default - this is gone now in advanced python versions - making things much more reproducible.

Unfortunately, my personal k

[2020-09-19 18:15] drobison00 commented on #2797
@cjnolet Noticed that this behaviour disappears when the caching preference for the Barnes Hut summarization kernel is removed. Further investigation shows that setting PreferNone, or PreferL1 caching behaviour eliminates the deadlock, while PreferShared and PreferEqual exhibit the problem.

Still investigating the root cause, but setting PreferL1 as a work around for the time being.

[2020-09-19 19:25] ntaherkhani commented on #2841
Hi,
It seems it was a bug and it fixed now, correct?
So which version should I use ?

[2020-09-20 07:15] #2826 closed

[2020-09-21 07:58] lanrete opened #2852 "[FEA]Frequent Itemset mining with GPU acceleration"
**Is your feature request related to a problem? Please describe.**
I wish to use cuML to perform GPU optimized algorithms for frequent itemset mining.

**Describe the solution you'd like**
Popular CPU based algorithms included aprior or FP-Growth

**Describe alternatives you've considered**
There are a quite a lots of paper about GPU accelerated algorithms for frequent itemset mining [https://www.

[2020-09-21 08:22] hcho3 opened #2853 "[FEA] Generalized Additive Models"
**Request for an algorithm**
It would be useful to support [Generalized Additive Models](https://blog.fiddler.ai/2019/06/a-gentle-introduction-to-ga2ms-a-white-box-model/), as a way to produce interpretable white-box models. Some relevant papers:

* ["Intelligible Models for HealthCare: Predicting Pneumonia Risk and Hospital 30-day Readmission"](http://people.dbmi.columbia.edu/noemie/papers/15kdd.

[2020-09-21 14:39] cjnolet opened #2854 "[FEA] Use index template param in UMAP"
Because of the FAISS brute force KNN initially being typed to int64_t, UMAP originally assumed int64_t for the knn indices everywhere. This has changed to int in the most recent version of FAISS, however.

An additional problem that arises from having the int64_t hardcoded everywhere is that the type of the indices array for the new sparse KNN is tthe same as the type of index arrays for the input

[2020-09-21 22:40] JohnZed opened #2857 "[BUG] SVC hang with linear kernel, degree 3, probability: True"
Reported by a user via Slack. Running on a 1080ti.

Most hyperparameters work, but hangs with "C: 25.239...", linear kernel, degree 3, probability: True"

![image](https://user-images.githubusercontent.com/904524/93828621-965c3600-fc20-11ea-846c-f93fd32360a4.png)

[2020-09-21 23:12] h4pZ commented on #2857
Hi, I was the one who reported the issue. If more info is needed just let me know. The data comes from the [MoA kaggle comeptition](http://kaggle.com/c/lish-moa/)

[2020-09-22 02:46] teju85 commented on #2857
Tagging @tfeher

[2020-09-22 09:59] tfeher opened #2858 "[BUG] Multi version install in the nightly container"
**Describe the bug**
To install cuml in the nightly container, normally I just run `python setup.py install` from the cuml/python folder. Something has changed recently, and now the same command in nightly image does a [multi version install](https://packaging.python.org/guides/multi-version-installs/).

In practice it means that instead of putting the code under `/opt/conda/envs/rapids/lib/python

[2020-09-22 10:54] tfeher commented on #2857
Thanks for the info, I will try to reproduce.

[2020-09-22 19:32] wphicks commented on #2685
Thanks very much for the feedback and additional detail, @Jacob-Barhak! Yes, I think it makes sense to keep this issue open for now as a good starting place for us to discuss the broader picture with determinism and reproducibility. Please do let us know if this becomes a stumbling block for any specific task you're taking on with RAPIDS. In the meantime, we'll keep thinking about the best ways to

[2020-09-22 21:20] h4pZ commented on #2857
Update: I just did another run with `probability=False` and it got stuck again

[2020-09-22 21:32] pseudotensor opened #2859 "branch-0.14 gone"
https://github.com/rapidsai/cuml/branches

Why is 0.14 gone?

[2020-09-22 21:32] #2859 closed

[2020-09-22 21:34] pseudotensor commented on #2859
It was gone for a moment from list above and from command line

[code]

But it's back.  Must be git fluke.

[2020-09-22 22:59] pseudotensor opened #2860 "out of memory and hang on dev tests"
v0.14 or v0.15 rapids from full conda install or independent compile on my system leads to errors like the below.  They also lead to a hang of pytest testing. I tried to kill any children of the parent, but only killing the parent finally terminated thigns.

[code]

No other rapids dev tests fail except one:

[code]

I'm installing rapids conda v0.15 like suggested:

[code]

v0.14 does same thing,

[2020-09-23 02:00] zwzhang121 commented on #2802
Thank you for your detailed answer. The problem has been fixed.

[2020-09-23 02:04] Nanthini10 opened #2862 "[FEA] Adding cupy array return option in dask label encoder"
See discussion #2789

Right now, the encoder returns only dask_cudf series. We want to add support for cupy arrays based on the input.

[2020-09-23 10:42] teclectic commented on #2826
Thanks Guys, great stuff :) -

[2020-09-23 13:18] #2802 closed

[2020-09-23 14:14] #2797 closed

[2020-09-23 14:35] tfeher commented on #2857
Thanks for the update! I believe that I have managed to reproduce the problem. Here is the code that I used:
[code]

The `verbose=True` flag gives some info about how the training progresses. Normally we should see monotonic decrease in the diff. For some targets this does not happen. This indicates that we have a problem in the solver.  Here is an example output which shows the problem.

[code]

[2020-09-23 14:59] teju85 commented on #2857
@tfeher just curious, is this happening only on this dataset or can it be repro'd using, for eg, make_blobs kind of datasets too?

[2020-09-23 15:31] tfeher commented on #2857
I think it is related to #1664 (at least the symptoms are similar), and there we could use make_regression to trigger the problem. This is the first time I see similar issue with SVC. We can probably reproduce it with make_blobs too, just need to find the rng seed that generates to the MoA dataset. :) Jokes aside, I will look into what property of the dasatet might be responsible for the problem.

[2020-09-23 22:46] #2746 closed

[2020-09-23 22:59] hcho3 opened #2864 "Use cuml.datasets.make_classification in MNMG RF example"
Follow-up to #2560

The MNMG RF example notebook should use `cuml.datasets.make_classification` instead of `sklearn.datasets.make_classification`.

[2020-09-24 02:40] hcho3 opened #2865 "[DOC] Update instructions for GCC 5.x; require GCC 7.x for Conda installation."
Conda-forge now uses GCC 7.x to build all packages. Due to the ABI differences between GCC 5.x and GCC 7.x, cuML will fail to link with Treelite if the user uses GCC 5.x, since Treelite binary from conda-forge was compiled with GCC 7.x.

Related: https://github.com/rapidsai/rmm/pull/576

TODO: The cuML build instruction in `BUILD.md` documentation should be updated:
1. GCC 7.x is strongly recommen

[2020-09-24 14:18] viclafargue opened #2868 "[FEA] Enable more metrics for Approximate Nearest Neighbors methods"
Following introduction of ANN methods in the NearestNeighbors model thanks to #2780, it could be interesting to enable some more metrics for these. They would be derived from existing ones thanks to pre- and/or post-processing.

[2020-09-24 15:08] viclafargue opened #2869 "[FEA] Update to make_monotonic function"
Following the fix for OPG KNN Classifier & Regressor #2844, it was found that the `make_monotonic` function used inside the `class_probs` function ([link](https://github.com/rapidsai/cuml/blob/ce14638be60897af4d75b6e06c24da0c7f6ea2fe/cpp/src_prims/selection/knn.cuh#L474)) can produce misleading results in case it received an array that do not contain at least one occurrence of each of the unique l

[2020-09-24 15:27] Nanthini10 opened #2870 "[FEA] Update train_test_split to use CumlArray"
Make use of CumlArray to perform splitting instead of multiple checks and conversions

See https://github.com/rapidsai/cuml/pull/2805 for more details

[2020-09-24 16:40] wphicks commented on #2858
@tfeher,  you said this was a recent change? As far as I can tell, this is the same behavior in 0.15 and 0.16, but I may be misunderstanding the issue.

Output in 0.15:
[code]

Output in 0.16:
[code]

I'm sure I'm probably missing something here; can you point out what I'm not seeing? Or maybe this was a pre-0.15 change?

[2020-09-24 16:46] wphicks commented on #2843
Just to confirm, you're talking about the huge number of warnings like the following, yes?

[code]

[2020-09-24 19:53] JohnZed commented on #2846
Proposed to throw an exception here instead of warning message, since it's really not doing what the user asked.

[2020-09-24 19:58] JohnZed commented on #2817
Could possibly do this in the cuML conversion process (before getting into treelite)

[2020-09-24 20:01] hcho3 commented on #2817
We can add a warning about float64 here:
https://github.com/rapidsai/cuml/blob/a1f9d3301ecc5ac1813049d910c0523b30bf0a14/python/cuml/fil/fil.pyx#L116-L144

[2020-09-24 21:27] tfeher commented on #2858
@wphicks thanks for looking into this. I must be wrong while thinking that it was a recent change. I have also checked with older containers and I confirm what you have found: even with 0.14 stable we have the same behavior that I report here. (Also tried checking out branch-0.15 and installing it in 0.15 container, with the same result). So please ignore the "recently" word.

Otherwise, the issue

[2020-09-24 21:29] wphicks commented on #2858
Ah great! Thanks for tracking it back even further. I'll remove the "needs triage" label; this is definitely worth looking into further.

[2020-09-25 04:17] hcho3 opened #2872 "[BUG] Refine tie-breaking logic in random forest"
**Describe the bug**
Currently, the gain evaluation logic in the random forest is not robust:
* For tree depth <= 9, the host function [`get_best_split_classification`](https://github.com/rapidsai/cuml/blob/a8fe745279aefc89850745228c19d8f5aa5396df/cpp/src/decisiontree/levelalgo/levelhelper_classifier.cuh#L201) evaluates the best split using CPU only. When ties occur (multiple split candidates with

[2020-09-25 21:48] #2801 closed

[2020-09-25 21:49] #2777 closed

[2020-09-28 10:11] tfeher opened #2876 "[FEA] scikit-learn based meta estimators"
**What are the plans / guidelines of using scikit-learn meta estimators in combination with cuML algorithms?**

Using [input/output type configurability](https://medium.com/rapids-ai/input-and-output-configurability-in-rapids-cuml-e719d72c135b) provides a great way to combine scikit-learn meta estimators with cuML algorithms. One just needs to set the input and output type to numpy, and one can al

[2020-09-28 15:16] wphicks commented on #2833
As far as I can tell, the only outstanding part of this issue after #2850 is the unused copy parameter, which may be related to #2830 and which has been clearly marked with a TODO. I'm going to go ahead and close this, but feel free to reopen if that copy parameter is worth its own issue for discussion. Many thanks for the contribution, @zbjornson!

[2020-09-28 15:16] #2833 closed

[2020-09-28 16:18] dantegd commented on #2795
Issue probably will be moved to 0.17

[2020-09-28 17:17] ajschmidt8 opened #2878 "[BUG] Latest conda packages where on `import cuml` when no GPU is available"
**Describe the bug**
The latest conda packages fail on `import cuml` if there is no GPU available.

**Steps/Code to reproduce bug**
[code]
The above steps should produce the error message shown in this screenshot

![image](https://user-images.githubusercontent.com/7400326/94463861-9eb9f100-018b-11eb-87c8-e55616d6082b.png)

**Expected behavior**
The `import cuml` command should complete without any

[2020-09-29 15:04] Nanthini10 commented on #2870
@JohnZed @beckernick Since there's no way to retain indices in CumlArray, this might not be possible. And train_test_split supports any cuDF type, so that is a problem as well.

[2020-09-29 15:42] beckernick commented on #2870
I believe you should be able to retain indices by referencing the underlying data. I think the CumlArray object exposes the original underlying memory buffer with `_owner`.

[2020-09-29 15:42] tfeher commented on #2857
I have found the root cause, will PR the fix soon.

[2020-09-29 16:06] Nanthini10 commented on #2870
Doesn't CumlArray accept only buffer data? I had to pass `df.values` to create CumlArray, it won't accept just `df`. Am I missing something?

Since I pass `df.values`, the indices are already lost.

The issues come from text data that may be passed to the split function, and CumlArray doesn't support text data

[2020-09-29 16:10] beckernick commented on #2870
Ah yes, good point. I'm not sure if the special casing required would negate the value

[2020-09-29 16:19] beckernick commented on #2870
I think this probably wouldnt reduce complexity that much. May not be worth it at the moment

[2020-09-29 18:09] Nanthini10 commented on #2870
Yeah, it's probably more work to accommodate this at the moment.

Closing now.

[2020-09-29 18:09] #2870 closed

[2020-09-30 02:44] JohnZed commented on #2876
The [blog ](https://medium.com/rapids-ai/100x-faster-machine-learning-model-ensembling-with-rapids-cuml-and-scikit-learn-meta-estimators-d869788ee6b1) is a good example that we can get good performance with this approach. (@beckernick probably has additional thoughts on challenges he saw along the way)

For the SVC example, I think that starting with the SVC meta estimator seems like a good approa

[2020-09-30 03:27] #2878 closed

[2020-09-30 06:22] Lion-Mod opened #2884 "[QST] Newbie question: 750 ti suitable?"
Good morning all, love using the cuml and cudf super cool. I'm looking to not use it via colab's gpu and run it locally. Would a 750 ti be suitable for this?

I've tried googling if its suitable but nothing seems obvious other than something to do with cuda cores (makes sense).

Any help would be greatly appreciated!

[2020-09-30 11:50] tfeher commented on #2876
The sklearn meta estimators require that our models have numpy output arrays. Many of them also need the input as numpy array. (At least those that I have tested). For SVC I needed to wrap the meta estimator into [type conversion](https://github.com/rapidsai/cuml/blob/cb7d083ff5c6e80aebc4eddcdbdd73c8abd7461f/python/cuml/svm/svc.pyx#L408-L412) statements to ensure that the input/output array types

[2020-09-30 12:43] vinaydes opened #2886 "[FEA] make_regression should be able to produce data in column major layout"
**Is your feature request related to a problem? Please describe.**
Currently `make_regression()` [code](https://github.com/rapidsai/cuml/blob/branch-0.16/cpp/include/cuml/datasets/make_regression.hpp) produces output dataset in row-major layout. Almost all the cuML APIs consume data in column major format therefore it would be useful to produce data in the same layout.

**Describe the solution you

[2020-09-30 12:44] vinaydes commented on #2886
@teju85 @Nyrio

[2020-09-30 13:05] Lion-Mod opened #2887 "[QST] cuDFs one_hot_encoding, label_encoding vs cuMLs OneHotEncoder, LabelEncoder"
I've been working with both cuML and cuDF recently. Is there a difference between the preprocessing mentioned in the question between cuDF and cuML?

Is one quicker than the other?

[2020-09-30 15:15] beckernick commented on #2876
Nowadays, we're in a pretty good place compatibility wise and most of the challenges have been resolved 😄 .

In the short term, I agree with both of you and think it's worth relying on input/output type configurability and paying the transfer costs.

Inputs that go through the scikit-learn code path for validating data will usually (but not always) hit a call to `np.asarray`, forcing CPU inputs (a

[2020-09-30 16:32] wphicks commented on #2884
Really glad you're liking cuML and cuDF! I'm afraid the 750ti is a bit too old for cuML. Right now, we support Pascal and later cards.

We should do a better job of documenting our hardware requirements, though. #2737 is tracking that issue, so please feel free to contribute to discussion there if you can think of other things that would be useful to note up front for hardware reqs.

[2020-09-30 16:32] #2884 closed

[2020-09-30 16:48] divyegala commented on #2887
@Lion-Mod the main differences between the two is that cuml's OneHotEncoder and LabelEncoder provide an sklearn-type API which enables the following, differently from cudf:

1. `transform` : ability to `fit` on a dataset, and `transform` a different dataset learned from the fitted parameters
2. `inverse_transform` : ability to invert a previously transformed dataset
3. Multi-GPU : multi-node multi

[2020-09-30 17:56] Lion-Mod commented on #2887
Ah got it, additional functionality, like it! Thank you!

[2020-09-30 17:56] #2887 closed

[2020-09-30 18:11] Lion-Mod commented on #2884
Thank you for taking the time to answer my question wphicks!

[2020-09-30 18:48] divyegala opened #2889 "[FEA] Unit pytests to run within a certain amount of memory"
Targetted for 0.17, as brought to attention by https://github.com/rapidsai/cuml/issues/2860, we should look into bringing the memory constraints required for running all our unit pytests within 8 GB

Issues for individual tests that still require changes:
- [x] #3618

[2020-09-30 18:50] divyegala commented on #2860
@pseudotensor thanks for bringing this to our attention! Tracking issue at https://github.com/rapidsai/cuml/issues/2889

[2020-09-30 19:12] Lion-Mod opened #2890 "[QST] OrdinalEncoder"
Ideally would like some form of OrdinalEncoder like sklearn. I'm currently using a list passed into label_encoding from cuDF.

Not the end of the world, making adjustments from sklearn to cuML :D

Example using the kaggle house prices dataset
`train.label_encoding("ExterCond", prefix = "enc", cats = ["Po", "Fa", "TA",  "Gd", "Ex"])`

[2020-10-01 08:37] hcho3 opened #2895 "[BUG] Bootstrapping causes accuracy drop in cuML RF"
**Describe the bug**
I have been investing the accuracy bug in cuML RF (#2518), and I managed to isolate the cause of the accuracy drop. **The bootstrapping option causes cuML RF to do worse than sklearn.**

**Steps/Code to reproduce bug**
Download the dataset in NumPy, which has been obtained from #2561:
* [loans_X.npy](https://cuml-rf-debug-example-mortgage.s3-us-west-2.amazonaws.com/loans_X.npy

[2020-10-01 08:39] hcho3 commented on #2518
Hi everyone: I found a possible cause of the accuracy drop: bootstrapping.  See #2895 for more details.

[2020-10-01 11:35] ntaherkhani commented on #2841
Hi @cjnolet , may you please answer my questions ?

[2020-10-01 13:19] beckernick commented on #2895
Just to add to this, using 500,000 rows from the Higgs Boson dataset (prepared via the first few cells of [this notebook](https://github.com/EpistasisLab/tpot/blob/development/tutorials/Higgs_Boson.ipynb): I see the following:

Default max depths, 64 bins
[code]

max depth = 20, n_bins = 64
[code]

In this example, the results seem to support the bootstrapping hypothesis, as well as provide anothe

[2020-10-01 15:41] sreekarreddy21 opened #2896 "SHAP Implementation on rapidsai [FEA]"
I tried executing SHAP on a model built using cuml, SHAP library is not supporting the use of cuml models. The runtime of SHAP is also high. Is it possible to develop a library for the explainability of models?

Can we implement SHAP library on rapidsai platform?

https://github.com/slundberg/shap

[2020-10-01 16:44] #2846 closed

[2020-10-01 17:41] hcho3 commented on #2895
@beckernick Are you using the latest cuML? The previous version (0.15) had an issue where cuML interpreted max_depth differently than sklearn.

[2020-10-01 17:59] Lion-Mod opened #2897 "[QST] Is there a way to is_month_end?"
I'm working on datetimes and have a simple is_month_start up and running but obviously is_month_end requires a bit more tinkering given different month lengths.

Approach I had was take a dataframe column and using .dt.day on it. Works fine but as soon as I try isin or a mask it doesn't like it. Series boolean compute issue.

Any help would be greatly appreciated.

[2020-10-01 18:00] #2897 closed

[2020-10-01 18:23] beckernick commented on #2895
Yes, from the nightly as of around 9 AM EDT.

[code]

[2020-10-01 18:36] hcho3 commented on #2895
Got it. It is then likely that bootstrapping is not the only issue that's causing accuracy drop. There are probably multiple factors in play. I will investigate further.

[2020-10-01 19:07] ResidentMario opened #2898 "[BUG] cuml.dask.datasets.classification.make_classification creates y value that reports wrong dtype"
**Describe the bug**

The distributed linear regression algorithm throws when fitted on simple `make_classification` example due to mismatched types. This seems to indicate some error in the implementation&mdash;the exact error is:

[code]

But the data being fed to the algorithm _is_ `float32`:

<img width="424" alt="image" src="https://user-images.githubusercontent.com/3466341/94851887-0e7fe400-

[2020-10-01 19:47] JohnZed opened #2900 "[TASK] Finalize cuPy 8 testing"

[2020-10-01 19:52] JohnZed opened #2901 "[Task] Release checklist 0.16"
Recurring tasks before each release:

**New algorithm support:**
- [x] Each new algorithm added to API docs
- [x] Each new algorithm added to README
- [x] Blog posts planned for new algos as appropriate (John)

**Docs and examples:**
- [ ] Built API docs & checked for formatting
- [ ] Verified & updated API docs (@JohnZed )

**Additional testing:**
- [x] Stress tests run (@Nanthini10 in progress)

[2020-10-01 20:10] ResidentMario commented on #2898
After some tinkering, my guess is that the `y` created by `make_classification` is actually `int` type, even though it self-reports being `float32`?

Using `cuml.make_classification`, which returns `numpy` arrays, I get an `int` value as the `y` `dtype`. If I then wrap this output using `dask_cudf.from_cudf(cudf.DataFrame(...))` it works as expected.

[2020-10-01 20:16] #1684 closed

[2020-10-01 21:53] dantegd commented on #2896
@sreekarreddy21 your timing couldn't be better. SHAP support and GPU accelerated are indeed a work in progress already, see issue #2352

PR #2891 adds a first experimental version of permutation SHAP GPU accelerated. It is scheduled for cuML 0.17 (i.e. the next release after the upcoming one in the next few weeks) to have more GPU accelerated SHAPs (Kernel, Exact, more types of data support, and o

[2020-10-01 22:05] dantegd commented on #2886
Regarding the name of the parameter, I think around our codebase I've seen it more commonly as `bool rowMajor`, but it might not be consistent (not sure about that). It'd be nice to be consistent in the naming/value of the row/column major parameter.

[2020-10-02 03:33] miroenev commented on #2895
I'll try this on the Airline delays & NYC taxi datasets and report back. Good detective work so far @hcho3 !

[2020-10-02 07:27] divyegala commented on #2898
Looks like this is a bug, that got passed under the hood. We are indeed creating `int64` labels, but since we set our own meta for `dask.array`, it incorrectly presents it as `float32`. I will work on a fix for this soon.

[2020-10-02 13:05] sudapure opened #2908 "C++ compatible documentation for production use."
I am new to cuML, i am not certain about whether there is official documentation support for C++ based implementation, which would be eventually end-up having support for production environments. any pointers or upcoming support to this would be appreciated.

[2020-10-02 13:25] tfeher commented on #2857
The fix that I had in mind does not work in general, please ignore my previous comment.

**TL;DR:** This is not a bug. SVC appears to hang because convergence is very slow due to the scale of the input parameters.

Here is an explanation why do we have this problem, and how one can avoid it.

### Problem with the input value range

The SVM solver is sensitive to the input value range, and it works

[2020-10-02 13:33] tfeher commented on #1664
Note that tho following comment applies here (just replace SVC with SVR): https://github.com/rapidsai/cuml/issues/2857#issuecomment-702732511

In short, this is not a bug, but a corner case where the SMO solver is slow. Issue #2857 lists a few ideas how to improve that. IMHO best would be to have a dedicated LinearSVR solver. I have added this point to #2773.

Thanks @beckernick for providing the

[2020-10-02 13:35] tfeher commented on #2773
Having a specific linear SVM solver would be applicable both for SVR and SVC and would resolve issues #1664 and #2857.

[2020-10-02 15:07] alexis-intellegens commented on #2895
Can I just note that the RandomForestRegressor has a similar issue where if R^2 is measured it always seems worse then the Sklearn implementation.

[2020-10-02 17:17] JohnZed opened #2911 "[TASK] Update all conda meta.yamls in RAPIDS to allow cuPy 8"
- [x] cudf
- [x] cuml
- [x] integration

- [x] cuSignal (https://github.com/rapidsai/cusignal/pull/256)
- [x] CLX (https://github.com/rapidsai/clx/pull/247)
- [x] nvtabular (https://github.com/NVIDIA/NVTabular/pull/333#pullrequestreview-502480585)

[2020-10-02 17:35] divyegala commented on #2908
Hi @sudapure. Not sure if I fully understand your question. Are you looking to link C++ cuml against your own C++ project and asking if that'll work in a production environment?

[2020-10-02 17:38] jameslamb commented on #2443
@hcho3 I saw you self-assigned this...is it something you're actively working on? I'd like to pick it up if you aren't.

[2020-10-02 17:51] JohnZed commented on #2857
Will the solver eventually give up and error out? What about warning if convergence is ongoing but very slow so the user at least sees it's still working?

[2020-10-02 17:55] Nyrio opened #2912 "ARIMA performance tracker"
The performance of ARIMA is currently far from the speed of light. We have focused on adding features so far. This issue is a tracker of performance optimizations that can be done in ARIMA if we resume the work on this model.

### ARIMA

* [ ] **P0**: single-kernel Kalman filter + hardcoded loops instead of MM/MV
* [ ] **P1**: move the optimizer to C++, and the parameters to device arrays
* [ ] **

[2020-10-02 18:04] miroenev commented on #2895
Hmm, I'm finding some conflicting results where having bootstrap as True leads to better accuracy on binary classification tasks. The accuracy gap on the NYC taxi dataset is somewhat dramatic. Below are results running on a single GPU with 3 cross-validation folds.

RAPIDS image ** = rapidsai/rapidsai:0.15-cuda10.2-base-ubuntu18.04-py3.7
RandomForest algorithm = cuml.ensemble.RandomForestClassifie

[2020-10-02 18:05] hcho3 commented on #2895
@miroenev Can you use 0.16+ and try again?

[2020-10-02 20:12] hcho3 commented on #2443
@jameslamb Nice to see you here. Welcome! Sadly this issue is already solved by #2507. Sorry for not closing this.

[2020-10-02 20:12] #2443 closed

[2020-10-02 20:14] jameslamb commented on #2443
Thanks! I'm starting to use `cudf` and `cuml` more, so I wanted to start contributing where I can.

Ha oh ok, no problem! I'll look around at the other issues.

[2020-10-02 20:55] ResidentMario commented on #2898
:eyes: Ok great, let me know when this bug gets resolved, will look forward to continuing to work on the benchmark script I was using this code for then.

[2020-10-04 18:09] sudapure commented on #2908
@divyegala Yes!

[2020-10-05 11:36] ntaherkhani commented on #2841
Hi @wphicks  ,  may you please answer my questions at least?

[2020-10-05 12:13] tfeher commented on #2857
The solver will eventually converge. Alternatively, if max_iter is set to small value, then we stop when we reach max_iter (there we have an issue reporting the fit status #1631).

With verbose=True, we give a message on the solver status at every 500 iteration, from this the user can see that it is still working. From a jupyter environment this is only visible since #2604 got solved (ie 0.16 nigh

[2020-10-05 12:18] tfeher commented on #2857
We could add a warning message when slow convergence is observed. The warning message could point the user to try a different scaling of the input features.

[2020-10-05 12:21] bilative opened #2917 "[QST] I can't import the cuml or cudf to my local pc"
Hi,
i cant import the cuml.

Firstly on my pc there is only pure python and vscode. No anaconda or smth.

when `import cuml` jupyter (in vscode) says me " No module named 'cuml' ". And i tried to !pip install cuml, i took a error like this (actually too long but privacy issues).

![aaaaaaaaaaaaa](https://user-images.githubusercontent.com/70684994/95078440-d2fa5800-071d-11eb-95f5-2123e8800f31.PNG)

[2020-10-05 14:15] wphicks commented on #2841
This issue was fixed by #2842, which should be included in the latest 0.16 nightly build. RAPIDS has a handy tool [here](https://rapids.ai/start.html#rapids-release-selector) that gives you the exact command you'll need for whatever method of install you're interested in. You mentioned an image tag, so I imagine you're looking for a Docker image, right? Depending on which CUDA, Python, and base OS

[2020-10-05 14:23] wphicks commented on #2917
Hi @bilative! It looks like you might be trying to use cuML on Windows. At the moment, we don't support Windows directly, although we may be able to add support through WSL further down the line. We _do_ have Docker images available, though I'll have to check with the rest of the team to see if anyone has had success with using them on Windows' Docker implementation.

If you have access to a Linux

[2020-10-05 14:34] kkraus14 commented on #2917
I don't believe Windows' Docker supports GPUs at this time.

[2020-10-05 14:37] wphicks commented on #2917
Ah, right you are, @kkraus14! A little more detail on the WSL side of things was provided in this answer: https://github.com/rapidsai/cuml/issues/2756

[2020-10-05 14:41] bilative commented on #2917
Thank you so much. My whole day was a mess :/ I run for nothing :/

OTHER QUESTION:
I have AWS account. Which machine (EC2) should i select for cuml?? Actually firstly i wanna try only cuml algorithms. Maybe later i can take EC2 with better performance.

[2020-10-05 14:51] wphicks commented on #2917
Would you mind posting your new question as a separate issue? Having them separated out will help other users who are looking through issue titles to see if their question has already been answered. Fresh questions are also more likely to catch the eyes of folks on the team.

I'll go ahead and close out this issue, and we can follow up in your new issue. Thanks!

[2020-10-05 14:51] #2917 closed

[2020-10-05 16:26] JohnZed commented on #1151
@wphicks to work with @dantegd on installation approach

[2020-10-05 17:52] sreekarreddy21 commented on #2896
Great, I will wait for the update to try this.
Thanks.

[2020-10-05 18:23] tuffr5 commented on #1818
Yes, thank you.

[2020-10-05 20:15] Nanthini10 opened #2920 "[BUG] Stress test failures for 0.16"
**Describe the bug**
Stress test failures and stack traces.

Still in progress, will be updating.

[code]

[stack_trace_fil.txt](https://github.com/rapidsai/cuml/files/5329822/stack_trace_fil.txt)
[stack_trace_dask_tsvd.txt](https://github.com/rapidsai/cuml/files/5329858/stack_trace_dask_tsvd.txt)
[test_knn_separate_index_search.txt](https://github.com/rapidsai/cuml/files/5367985/test_knn_separate

[2020-10-06 05:53] bilative opened #2924 "Sagemaker and cuml ec2 selection"
Hi,
I'm trying to use cuml with sagemaker but i cant understand that where i do something wrong.
My main target is use a model with gpu, not nn, only basic algorithms like decision trees or svm etc.
If i selected wrong notebook instances or wrong ec2 i dont know.

Can anyone send me to a notebook example codes(like git repo), and tell me to which EC2 i should select?

[2020-10-06 13:53] dankal444 commented on #1622
Hi, could someone modify becknick's code so that it does not produce those "contiguous" warnings?

I've tried every possible combination of F/C-contiguous arrays:
- `x_train: F/C`,
- `y_train: F/C`,
- `x_test: F/C`.

And with each combination I get some warnings. Maybe I do not understand something fundamentally. Below my version, where I try out all possible combinations:
[code]

Output:
[code]
T

[2020-10-06 15:42] beckernick commented on #1622
Hi @dankal444 . These warnings should be turned off by default in the current 0.16 nightly. Would you be able to give that a try?

[2020-10-06 17:13] vinaydes commented on #2895
I wanted to try iterating over `random_state` and observe effect on accuracy. However in the code @hcho3 posted above the line `estimator = clone(base_estimator)` in function `fit_with_custom_bootstrap` does not copy the `random_state` parameter thus all the estimators end up having same, default `random_state`. I replaced it with `copy.copy` and it worked.
After trying 50 different values for `ra

[2020-10-06 18:36] divyegala commented on #2898
@ResidentMario apart from that, any reason you are using `make-classification` instead of `make-regression` for Linear Regression? Think our `cuml.dask.make_regression` will generate labels in the correct dtype for the use case

[2020-10-06 19:08] ResidentMario commented on #2898
The trouble is that I am already using `make_classification` elsewhere. I could rewrite that code to use a regression example, but this seems like a trivial fix to make. Once this is fixed I can just pull `cuml` from nightly, which would save me a rewrite.

[2020-10-06 19:49] wphicks opened #2926 "[FEA] Linking against libcuml currently requires use of LD_LIBRARY_PATH or deprecated RPATH"
**Is your feature request related to a problem? Please describe.**
Because our CMake configuration unsets the RUNPATH for installed cuML libraries and does not set it to an appropriate install configuration, anything built against them will require either setting LD_LIBRARY_PATH (not recommended) or using the --disable-new-dtags linker flag to force use of RPATH (deprecated) rather than RUNPATH. T

[2020-10-06 19:52] divyegala commented on #2898
@ResidentMario while I could fix the meta to correct *display* the type of labels generated by `cuml.dask.make_classification` correctly, I don't believe it would be correct for us to generate `float32/float64` labels in this case. As with scikit-learn, which also generates `int64` labels, if you would try any of our classification algorithms, they would work well with the label type here. So I th

[2020-10-06 19:59] dankal444 commented on #1622
Hi @beckernick !
Sure, I will try it on newest version. What is the best way to upgrade from 0.15 to 0.16 nightly? I am using Ubuntu 18.04, python 3.8.

[2020-10-06 20:26] ResidentMario commented on #2898
Hmm, I'm not sure we're disagreeing here.

I'm planning on creating a struct using `cuml.dask.make_classification` and then consuming it using one of the `cuml.dask.*` learners. So:

Is the behavior I'm interested in.

The other benchmarks I've done so far use `cuml.make_classification` and `sklearn.datasets.make_classification`. What I am saying is that if I wanted to use `make_regression`, I wou

[2020-10-06 20:39] beckernick commented on #1622
I recommend creating a fresh environment and installing the 0.16 nightlies using the command from the [helper widget](https://rapids.ai/start.html).

You can update your existing conda environment, but updating environments can get a bit messy sometimes.

[2020-10-06 20:45] miroenev commented on #2924
Hey @bilative
I think what you're asking for is how to add a RAPIDS conda kernel to the existing SageMaker kernels that are already available for running Jupyter notebooks (e.g., pytorch, tensorflow). We have [somewhat outdated] instructions on how you can do that in our cloud-ml-examples repo https://github.com/rapidsai/cloud-ml-examples/tree/main/aws/notebook_setup

Let us know if this is helpfu

[2020-10-06 20:56] divyegala commented on #2898
@ResidentMario sorry if we're diverging a bit in our understanding of the issue at hand here. Your dependency on `cuml.dask.make_classification` is to have all `cuml.dask.*` learners to work just out-of-the-box? So, a conversion from `int` to `float` should just be handled by our side, without you having to worry about it from a user-perspective?

[2020-10-06 22:00] divyegala commented on #2898
@ResidentMario thinking more on this... will it help if I add something like a parameter called `label_dtype='int64'` so that labels can be generated for any given dtype? There may be value in not having to create a copy of the data, since we will have to go down that road to convert the data to another dtype under-the-hood. But generating labels directly of the required dtype may provide more val

[2020-10-07 05:36] vinaydes commented on #2895
The script I used for generating the accuracy data
[code]

[2020-10-07 10:29] ntaherkhani commented on #2841
Thank you so much @wphicks for your response.

[2020-10-07 11:40] dankal444 commented on #1622
Ok, I have tested it in 0.16 nightly. Now there are no exceptions, in each possible combination there is no single exception.

I also measured timings of all those possible C/F combinations and they are basically the same (+-1% of "random cpu performance noise").

[2020-10-07 15:57] jameslamb commented on #602
Hi, I've been going through the issues here looking for stuff to help on. I wanted to let you know that it looks like #1672 fixed this issue, so this can probably be closed.

[2020-10-07 16:55] dankal444 commented on #1279
I am not sure, but I think it should be named "Weighted sampling" instead of "Weighted feature sampling".
Linked sklearn function and description suggests it has nothing to do with features and their weighting.

Nevertheless, I must add this (weighted sampling) would be very useful *feature* to have. For now, it is hard to train Random Forest when one have imbalanced classes in training set. Sklea

[2020-10-07 21:31] divyegala opened #2933 "[BUG] Sporadic KBinsDiscretizer pytests fail with quantile strategy"
When this PR is merged https://github.com/rapidsai/cuml/pull/2932, it will start marking a KBinsDiscretizer tests as xfail due to sporadic failures observed in CI

[2020-10-08 00:03] ResidentMario commented on #2898
I actually just took up your suggestion and switched to using `make_regression` and rolled onwards. 😄

I do not advocate for diverging `cuml` implementation of `make_classification` from the `sklearn` one. Like you, I think that they should be kept as similar as possible to minimize user surprise. I would prioritize that over out-of-the-box classifiers (it should be pretty trivial to convert `y` t

[2020-10-08 01:04] VibhuJawa commented on #2590
So I benchmarked this and it actually got slowed down with filter_char API because the range of nonascii alphanumeric characters is really wide and other optimizations were pushed through in https://github.com/rapidsai/cuml/pull/2796

[2020-10-08 01:04] #2590 closed

[2020-10-08 05:21] teju85 commented on #2662
Closing this as a duplicate of #2596

[2020-10-08 05:21] #2662 closed

[2020-10-08 05:27] teju85 commented on #1118
#2881 from @vinaydes is going to be merged soon, which introduces an experimental backend currently focused on code modularity, readability and accuracy in mind.

[2020-10-08 08:25] viclafargue commented on #2933
Thanks for opening the issue. Since the errors pops out sporadically, I'll copy and paste it.

Fails on:
**test_kbinsdiscretizer[cudf-quantile-ordinal-5] – cuml.test.test_preprocessing**
[code]

**test_kbinsdiscretizer[cudf-quantile-ordinal-20] – cuml.test.test_preprocessing**
[code]

**test_kbinsdiscretizer[cudf-quantile-onehot-dense-5] – cuml.test.test_preprocessing**
[code]

[2020-10-08 15:44] JohnZed commented on #2300
Closed by PR #2324

[2020-10-08 15:44] #2300 closed

[2020-10-08 17:18] dantegd commented on #602
Thanks for letting us know @jameslamb !

[2020-10-08 17:18] #602 closed

[2020-10-08 19:15] #2065 closed

[2020-10-08 20:01] JohnZed commented on #2901
TODO:
 - add experimental section to API docs: IPCA, Preprocessing (@mdemoret-nv )

[2020-10-08 20:07] dantegd commented on #2926
@wphicks this is an issue only for manually installed `libcuml`, not from conda or in docker, is that correct?

[2020-10-08 20:48] wphicks commented on #2926
Yes, you're quite right! I had foolishly assumed it would still be a problem in our Docker build but didn't bother to confirm it.

Given that, the number of people this might affect goes from negligibly small to truly microscopic. I think I'll just make a PR to clearly document linking against a conda-installed cuML and call it good enough. I'm happy to either leave this issue open (since I think

[2020-10-08 21:13] wphicks commented on #2926
Going to update the docs after #2922 lands. It makes sense to just add a note about the `LD_LIBRARY_PATH` manipulation not being necessary for non-manual installs, but I don't want to slow down that PR any further by adding it now, given the CI difficulties.

[2020-10-09 17:19] JohnZed opened #2944 "[FEA] Update docs to warn that 64-bit thresholds will be rounded to 32-bit for FIL"
Includes lightgbm and sklearn-gbdt cases.

[2020-10-09 19:01] micdonato opened #2945 "[QST] cuml UMAP fit_transform crashes without error (on a jupyter notebook)"
Hi,

I am trying to run UMAP with cudf/cuml (my dataset is huge).

However, every time I try to do that, my kernel restarts, and I do not know why.

I am working on a SageMaker notebook, following the instructions found in [this link](https://towardsdatascience.com/quick-install-guide-nvidia-rapids-blazingsql-on-aws-sagemaker-cb4ddd809bf5).

The only differences are that I did not install blazings

[2020-10-09 19:31] cjnolet commented on #2945
@micdonato, can you flip the values for `min_dist` and `n_neighbors` and let us know if the notebook still crashes for you?

Specifically, `n_neighbors` is expected to be an integer value.

[2020-10-09 21:30] micdonato commented on #2945
Ok this is super weird.

First, I apologize, the parameters were wrong, and once I fixed those, everything works for the small dataset.

However, if I try to run the whole data (11,026,495 rows) the restarting happens without an error.

I wish I could send all of that but it is 2.2GB and I am not sure how to do that.

Anyway, on the full data I get the same restart issue.

What is interesting is t

[2020-10-09 22:22] #2898 closed

[2020-10-10 04:49] #1151 closed

[2020-10-11 19:02] ahmadshapiro opened #2951 "[BUG] cuml installation"
**Describe the bug**
i installed rapidsai but the cuml library isn't installed within the framework , i tried installing it on it's own but i get the following erro

**Steps/Code to reproduce bug**
pip install cuml
Collecting cuml
  Using cached cuml-0.6.1.post1.tar.gz (1.1 kB)
Building wheels for collected packages: cuml
  Building wheel for cuml (setup.py) ... error
  ERROR: Command errored out

[2020-10-11 21:32] aamirshafi opened #2952 "[QST] Error ('numpy.ndarray' object has no attribute 'to_pandas') while running MNMG Kmeans Demo Notebook"
I am trying to run MNMG KMeans algorithm on a single GPU node using [this notebook](https://github.com/rapidsai/cuml/blob/branch-0.16/notebooks/kmeans_mnmg_demo.ipynb). I am using vanilla code.

I get the following error when running the following code snippet:

[code]

The error is as follows:

[code]

This is the part of the code where dask-cudf (Dask CUDA DataFrame) is converted into Dask Dataf

[2020-10-12 01:25] dantegd commented on #2951
Thanks for the issue @ahmadshapiro

If you install RAPIDS with the commands from https://rapids.ai/start.html#get-rapids cuML definitely gets installed as part of the `rapids` conda meta-package. Otherwise, from that same table you can select to use either conda or docker to install cuML on its own. Installing with pip (with `pip install cuml`) is not currently supported for RAPIDS libraries in ge

[2020-10-12 06:56] zhangdan8962 opened #2953 "[QST] DBSCAN min_samples"
Hi,
I have tried to use DBSCAN with min_samples=30. However, there are quite a few clusters that have less than 30 elements.

`res = DBSCAN(eps=i,min_samples=30).fit(features)`
`label = set(res.labels_)`
`for l in label:`
            `num = (res.labels_ == l).sum()`
            `print('label {}:{}'.format(l,num))`

My ''features'' is an numpy array

Thank you in advance for the help!

[2020-10-12 16:04] JohnZed commented on #2900
Enabled now in CI and tested manually

[2020-10-12 16:04] #2900 closed

[2020-10-12 16:07] JohnZed commented on #2825
Closed by PR #2922

[2020-10-12 16:07] #2825 closed

[2020-10-12 16:09] JohnZed commented on #2807
Addressing for now with #2957

[2020-10-12 18:28] aamirshafi opened #2959 "[FEA] GPU-Aware MPI Backend Support for cuML in MNMG Setting"
**Is your feature request related to a problem? Please describe.**

The feature request is to add a GPU-aware MPI library as a communication backend to cuML. This backend should work as a runtime option to UCX+NCCL backend. This feature request is in the context of MNMG setting and the MPI library that we are interested in using is [MVAPICH2-GDR](http://mvapich.cse.ohio-state.edu/userguide/gdr/),

[2020-10-12 20:59] pseudotensor opened #2960 "[BUG]"
**Describe the bug**

Segfault during cuml testing

**Steps/Code to reproduce bug**

1)

[code]

Many tests pass, but then hits:

[code]

I hit CTRL-C because it hung for more than hour.

**Expected behavior**

Tests should not segfault or hang.

**Environment details (please complete the following information):**
 - Environment location: Bare-metal
 - Linux Distro/Architecture: Ubuntu 18.04 LST

[2020-10-12 23:04] Nanthini10 opened #2961 "[BUG] Stress test failure test_nearest_neighbors.py"
**Describe the bug**
Value mismatch is resulting in an AssertionError

**Steps/Code to reproduce bug**
In the `cuml/python/test/` directory, run the following:
[code]

**Environment details (please complete the following information):**
 - Environment location: Docker
 - Linux Distro/Architecture: Ubuntu 16.04 amd64
 - GPU Model/Driver: Quadro RTX 8000 440.33.01
 - CUDA: 10.2
 - Method of cuDF & c

[2020-10-12 23:52] wphicks opened #2963 "[BUG] ModuleNotFoundError when printing SimpleImputer"
**Describe the bug**
When attempting to print a `SimpleImputer` object, the following error is raised: "ModuleNotFoundError: No module named 'cuml._thirdparty.sklearn.utils.utils'"

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Though printing such an object isn't generally terribly useful, it should not raise an error. This is a particular problem in the context of a Jupyter noteb

[2020-10-12 23:54] wphicks commented on #2963
@viclafargue Tagging you in case you have any ideas from your recent preprocessing work.

[2020-10-13 06:11] kenluck2001 commented on #1464
Good day, Can I get started on this ticket? If I understand clearly, then the goal is to remove all files matching .pyx when the clean target is called. This would be a first-timer contribution and help me understand the architecture.

[2020-10-13 06:20] kenluck2001 commented on #2462
Great, I would like to work on this ticket as a first-time contribution. Please provide any pointer that can help me in getting a PR.

[2020-10-13 06:25] kenluck2001 commented on #2236
Great, I will want to work on this ticket as a first-time contribution. Please provide every pointer in the source code to help make a successful contribution.

[2020-10-13 11:50] viclafargue commented on #2960
Thank you for opening the issue. The MNMG KNN Classifier & Regressor models are known to have bugs in 0.15. These should hopefully be fixed thanks to the comprehensive bug fix #2844 that will be shipped in the 0.16 release. Would be interesting to check that everything works fine with 0.16 binaries available from `rapidsai-nightly` channel though.

[2020-10-13 12:20] viclafargue commented on #2952
Thank you for opening this issue and bringing this to our attention. It looks like `make_blobs` functions in cuML have been updated and now output respectively cuPy arrays for the single-GPU version and Dask cuPy arrays for the multi-node-multi-gpu. I'll open a PR to update the notebook accordingly.

[2020-10-13 13:58] viclafargue commented on #2963
Thank you for opening the issue. Indeed that's a problem, these preprocessing classes should probably inherit the `cuml.common.base.Base` class. The problem is that their code is in the `_thirdparty` directory in which we avoid to put cuML stuff. Maybe we can create a smaller Base class with a `__repr__` method inside the thirdparty directory? Tagging @JohnZed for thoughts on this.

[2020-10-13 14:25] viclafargue commented on #2953
Thank you for opening the issue. Could you give us a more complete snippet that would allow us to reproduce the issue? Or at least the value you used for the `eps` parameter. In the meantime, tagging who I believe are the main authors of DBSCAN @mdemoret-nv and @cjnolet .

[2020-10-13 15:40] wphicks opened #2966 "[Fea] Data imputation limited by null conversion"
**Is your feature request related to a problem? Please describe.**
In sklearn, a fairly common data imputation workflow might look something like this

[code]

The Rapids equivalent would looks something like:

[code]

Under the hood, we try to convert the cudf DataFrame to a cupy array, which fails because of null values in the DataFrame. This severely limits the usefulness of our data imputation

[2020-10-13 15:41] wphicks commented on #2966
@viclafargue: Added this issue to follow up from our external discussion.

[2020-10-13 16:24] wphicks opened #2967 "[BUG] SimpleImputer returns empty DataFrame when input contains Nan"
**Describe the bug**
When `SimpleImputer` performs a `fit_transform` on any array with Nan values, it returns an empty DataFrame

**Steps/Code to reproduce bug**
[code]
Output:
[code]

**Expected behavior**
Here is the equivalent for sklearn along with its output:
[code]

Output:
[code]

[2020-10-13 16:25] wphicks commented on #2967
CC: @viclafargue

[2020-10-13 16:57] Nanthini10 opened #2969 "[BUG] dask test_kmeans stress test failures"
**Describe the bug**
Stress test failures due to assertion errors

**Steps/Code to reproduce bug**
[code]

Both stack traces are available here -
[dask_kmeans_test_score.txt](https://github.com/rapidsai/cuml/files/5372920/dask_kmeans_test_score.txt)

[2020-10-13 19:15] pseudotensor commented on #2960
Hi @viclafargue , thanks.

What is the release strategy for RAPIDS?  Bugs will never be fixed in prior versions?  The problem with such a strategy is that new features in new releases may cause new bugs overall and break things, so it might be safer to fix minor bugs in the prior release so RAPIDS is a stable platform.  So it might leave RAPIDS in an always unstable state.

i.e. some kind of LTSne

[2020-10-13 20:56] JohnZed commented on #1480
Initial commits to dask-glm:
 * https://github.com/dask/dask-glm/pull/89
 * https://github.com/dask/dask-glm/pull/87

[2020-10-13 22:52] hcho3 commented on #2895
@vinaydes I am now seeing a different pattern, where cuML is consistently worse than sklearn (your results show that cuML sometimes does as well as sklearn):
![download](https://user-images.githubusercontent.com/2532981/95924153-e33cb380-0d6b-11eb-83b2-c5ca844c3aee.png)

My code:
[code]

The major differences are:
1) I am using 10-fold cross validation with data shuffling; and
2) I am setting `max

[2020-10-14 02:20] zbjornson commented on #2742
I'm hitting this or a similar issue with `whiten=false`. Given the same input values (seeded), repeated invocations of `ML::pcaFitTransform` either (a) return slightly different but reasonable values, (b) return nonsense values or (c) segfault. I don't have debugging symbols for libcuda so this is mostly useless, but here's a backtrace:

[code]

This is on a V100, CUDA 10.2, latest commit on branc

[2020-10-14 03:31] cjnolet commented on #2742
This sounds like a symptom of https://github.com/rapidsai/cuml/issues/2830

[2020-10-14 04:39] zbjornson commented on #2742
@cjnolet I'm running with whiten=false though. (As noted, what I posted might be a different issue than the OP.)

[2020-10-14 05:46] zhangdan8962 commented on #2953
Hi @mdemoret-nv  @cjnolet,

Since my .npy is too large for the attachment, I have uploaded my code and file on GoogleDrive.
[https://drive.google.com/drive/folders/1SIt4kypPjgFXSGg2LLko0cwYjUB6Cbo1?usp=sharing](url)

Here is my result and I am using cuml 0.14
![result](https://user-images.githubusercontent.com/54717128/95948486-9e8e3800-0dbe-11eb-9c3d-4b692c65fd5b.png)

Thank you in advance for an

[2020-10-14 06:46] yuqli commented on #2415
Sorry for the delay. I have converted the "Example" section to doctest for some modules. Just wondering how big should a pull request be? Should I submit a PR after finishing all the changes, or should I submit a PR for say every ~200 lines of code change?

Thanks!

[2020-10-14 15:21] wphicks opened #2977 "[BUG] Data imputation does not raise ValueError for empty arrays"
**Describe the bug**
When sklearn validates input prior to data imputation, it throws a `ValueError` for empty array input. Currently, our data imputation algorithms do not do so.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
The above code should raise a ValueError but does not.

**Additional context**
Follow up from discussion on PR #2973.

[2020-10-14 16:24] JohnZed opened #2979 "[FEA] Remove deprecated spmg_ipc code"
This is a real antique and should not be used. SPMG (single process, multiple-GPU) has been deprecated for a while. Should just remove this.

[2020-10-14 16:46] jameslamb commented on #2979
based on https://github.com/rapidsai/cuml/pull/2976#issuecomment-708517857, I'd like to pick this up

[2020-10-14 16:47] JohnZed commented on #2911
All merged!

[2020-10-14 16:47] #2911 closed

[2020-10-14 16:49] JohnZed commented on #2807
This test is now passing, but the ultimate fix requires updates from cuSolver. Will keep this issue alive and work with the cuSolver team to better detect very rare convergence issues.

[2020-10-14 17:22] zbjornson opened #2980 "[BUG] t-SNE is not deterministic even with random_state"
**Describe the bug**
cuML's t-SNE outputs vary from run to run, even when `random_state` is used or initial embeddings are provided (and #2549 is fixed).

**Steps/Code to reproduce bug**
[code]
![image](https://user-images.githubusercontent.com/469365/96023038-0cfae680-0e0f-11eb-984f-a3e3c8e54383.png) ![image](https://user-images.githubusercontent.com/469365/96023047-11270400-0e0f-11eb-9c52-bc327e

[2020-10-14 17:30] viclafargue commented on #2960
That's a good point. It might indeed be interesting to apply patches and have long term support for specific versions every few release cycles. Especially for people/companies looking for stability to host their services that make use of RAPIDS software. I don't know if RAPIDS is willing to put a lot of efforts on this as it is still in growth phase though. Tagging @JohnZed

[2020-10-15 06:41] #2944 closed

[2020-10-15 09:56] nils-fl opened #2989 "[QST] How to set logging to block warnings with svc"
Hi,

How can I block warnings like the one below?

I am training thousands of models in a hyperparameter search and my console is getting filled with
[code]
I tried different approaches to set the logging level with `cuml.common.logger.set_level(0)` and `logger.set_level(logger.level_error)` before each training, but it does not seem to have any effect.

[2020-10-15 10:45] teju85 commented on #2989
@tfeher ?

[2020-10-15 12:21] nils-fl opened #2991 "[QST] predict_proba for MBSGDClassifier?"
Hi,
Is it possible to add a `predict_proba` method to the `cuml.MBSGDClassifier`?

[2020-10-15 14:12] viclafargue commented on #2980
Thank you for opening the issue. Maybe @danielhanchen can give a hint on this?

[2020-10-15 14:20] beckernick commented on #2989
I believe these will now be set at debug mode by default in 0.16, and thus shouldn't come up unless specifically asked for https://github.com/rapidsai/cuml/pull/2824

[2020-10-15 14:53] #2967 closed

[2020-10-15 14:59] danielhanchen commented on #2980
Not 100% sure, but I remember this was known issue (for me at least).
The issue is that although the start embedding is initialized the same with the same random seed, other components inside TSNE are not determinstic (well not yet set deterministically).

Eg: FAISS has some randomness inside it, which I don't know if a random seed is used. Likewise, due to GPU parallelization, TSNE will output va

[2020-10-15 17:41] JohnZed opened #2995 "[BUG] Sporadic SGD test failures"
Reproduction is very inconsistent, but occasionally we see: ```

=================================== FAILURES ===================================
________________ test_sgd[dataframe-log-l1-float64-invscaling] _________________

dtype = <class 'numpy.float64'>, lrate = 'invscaling', penalty = 'l1'
loss = 'log', datatype = 'dataframe'

    @pytest.mark.parametrize('lrate', ['constant', 'invscaling',

[2020-10-15 21:01] JohnZed opened #2998 "[BUG] CI test time increased by 1/2 hour during 0.16 release cycle"
Timings are consistently a bit over 2 hours where they were previously 1.5 hours.

See the change around pipeline 96 here: https://gpuci.gpuopenanalytics.com/blue/organizations/jenkins/rapidsai%2Fgpuci%2Fcuml%2Fbranches%2Fcuml-cpu-branch-0.16/activity/

Timings are variable, but on one A100 example they look like roughly:

 * 20 min build from source
 * 4-5 min C++ and prims tests
 * 40 min single

[2020-10-16 01:54] dantegd opened #3003 "[BUG] KNNClassifyTestF failure in cuda-memcheck nightly jobs"
**Describe the bug**
The nightly job that runs cuda-memcheck on the prims test file failed in the following test:
[code]
Example log: https://gpuci.gpuopenanalytics.com/blue/rest/organizations/jenkins/pipelines/rapidsai/pipelines/gpuci/pipelines/cuml/pipelines/branches/pipelines/cuml-gpu-branch-0.16/runs/111/log/?start=0

**Steps/Code to reproduce bug**
Should be reproducible by running cuda-memch

[2020-10-16 11:02] nils-fl opened #3006 "[FEA] sample weights for cuml.LogisticRegression fit() method"
It would be great to have a `sample_weight` option in the `cuml.LogisticRegression` `fit()` method. That way one could easily implement custom penalty methods.

[2020-10-16 12:21] viclafargue commented on #3006
Thank you for opening the issue. Tagging @dantegd and @JohnZed

[2020-10-16 17:08] viclafargue opened #3009 "[BUG] MNMG KNeighborsClassifier fit with one-dimensional array output"
**Describe the bug**
MNMG KNeighborsClassifier throws an exception when the fit method is called with a one-dimensional array output.

**Steps/Code to reproduce bug**
[code]

Throws:
[code]

**Expected behavior**
The fit call should pass as expected without throwing an error.

[2020-10-16 18:49] yuqli commented on #752
Hope it's not too intruding but I am a newbie trying to find an issue to contribute. What's the status of this issue?

I did a quick  search and it seems `MLCommon::allocate` is now in `raft::allocate`, right? Most of the current usage for this function is in the test files. However here I spotted one in the source file for SVM : https://github.com/rapidsai/cuml/blob/146d90b2d2d87f89c6956b76d7d1f1

[2020-10-16 23:08] zbjornson commented on #2980
Thanks for the tips. FAISS as used here is deterministic. It looks like the variation is due to atomics and parallelization.

I tried PCA initialization, but was surprised by the extent of variation between runs:
![image](https://user-images.githubusercontent.com/469365/96320443-a53fc980-0fcf-11eb-97f2-d3aa7d639dc8.png)
 Runs 1,3,5 are similar. Runs 2,4 are similar. Run 2 looks like there's some l

[2020-10-17 09:30] danielhanchen commented on #2980
Oh in regards to the plots where TSNE suddenly diverges, I actually noticed this issue before. [By the way nice plots :) ]
https://github.com/rapidsai/cuml/pull/1383/ had many changes I did a while back, but they weren't incorporated since I left NVIDIA a while back.

To alleivate wild divergences, I leveraged 2 approaches:
(1) Mean centre components after IntegrationKernel every time during an ep

[2020-10-18 01:39] hcho3 commented on #2642
Closed by #2677

[2020-10-18 01:39] #2642 closed

[2020-10-19 08:01] chengyu0910 opened #3015 "[FEA] will you develop multi-nodes multi-gpus t-SNE tools?"
**Is your feature request related to a problem? Please describe.**
I guess the t-SNE tools used now is implemented on single gpu, because  I don't find the parameters to specify gpu id.

**Describe the solution you'd like**
will you develop multi-nodes multi-gpus t-SNE tools in soon?

[2020-10-19 13:02] #2952 closed

[2020-10-19 15:53] JohnZed opened #3016 "[FEA] Descriptor approach to CumlArray overhaul to simplify conversions"

[2020-10-19 15:54] JohnZed opened #3017 "[TASK] Expand nightly SNMG testing to true MNMG"

[2020-10-19 16:19] zbjornson commented on #1389
I started looking at this while continuing some of @danielhanchen 's work (this issue was prompted by https://github.com/rapidsai/cuml/pull/1383/files#r347689577). It looks like the only way to do this without changing any of the current usages of `unaryOp` is by adding a new function like `indexedUnaryOp`, or adding another template or function parameter like `indexed`.

Trailing return types and

[2020-10-19 16:22] JohnZed commented on #2998
TODO:
 * Expanded timing of build steps (not just pytest - @JohnZed )
 * Detailed pytest breakdown (@dantegd)
 * Look into how to improve Jenkins build time report (@JohnZed to look in)
 * Look with ops into options of optional lighter-weight test runs (e.g. just run a single target)

[2020-10-19 17:39] yuqli commented on #798
Has this issue been resolved? I checked #608 and #674 and it seems that the wrapper is not there yet. If so, can I work on this issue if no one else is assigned? Thanks!

[2020-10-19 19:20] wphicks opened #3020 "[BUG] Fallback from RF experimental backend causes hang"
**Describe the bug**
If an RF classifier using the new experimental backend is instantiated with options that cause a fallback to the default backend, it produces a hang that will not respond to `SIGINT`.

**Steps/Code to reproduce bug**
[code]
This produces a hang, but adding `max_features=1.0` eliminates it.

**Expected behavior**
The classifier should not hang, even if its parameters are not cu

[2020-10-19 19:22] wphicks commented on #3020
@vinaydes I know you've been working on the new backend quite a bit. Any ideas on where this might be coming from?

[2020-10-19 20:03] wphicks commented on #3020
Additional context: Setting `max_features` to 1 rather than `1.0` still produces the hang

[2020-10-19 20:48] hcho3 commented on #3020
@wphicks Indeed, I was able to reproduce the issue on my machine. Let me take a look.

[2020-10-19 22:20] #1987 closed

[2020-10-19 22:30] hcho3 commented on #3020
Assigning myself to find a cause. I will also write a patch.

[2020-10-20 02:22] zbjornson commented on #2980
Thanks @danielhanchen. Started landing those changes with https://github.com/rapidsai/cuml/pull/3018.

[2020-10-20 05:27] JohnZed commented on #3015
Adding multi-GPU support for t-SNE is not in the plan for the next two releases, but it is something that could be considered in the future. If you would like to share the details of your t-SNE workflow (data size, current runtime, current tools you're using), that would definitely help guide us in future planning for this feature!

[2020-10-20 07:01] vinaydes commented on #3020
Thanks @wphicks for reporting the issue. @hcho3 has already found the cause and fix for which he will create a PR soon. Thanks @hcho3 👍

[2020-10-20 10:06] tfeher opened #3022 "[BUG] ModuleNotFoundError while printing representation of preprocessor"
**Describe the bug**
Printing one of the experimental preprocessor triggers a ModuleNotFoundError.

**Steps/Code to reproduce bug**
[code]
Output:
[code]
**Expected behavior**
Print a representation of the estimator without error.

**Environment details (please complete the following information):**
 - Environment location: Docker
 - Linux Distro/Architecture: Ubuntu 18.04
 - GPU Model/Driver: V10

[2020-10-20 14:02] wphicks commented on #3022
Probably related: #2963

[2020-10-20 15:13] tfeher commented on #3022
Thanks @wphicks, it is indeed the same problem. Closing this as a dubplicate of #2963.

[2020-10-20 15:13] #3022 closed

[2020-10-20 15:23] vinaydes commented on #3020
Looks like the hang is in the logger module. When log APIs are called in a multi-threaded part of code, I see a hang. Disabling multi-threading in RF, by commenting out `#pragma omp parallel ...` lines in `randomforest_impl.cuh` solved the issue. Commenting out Logging statements also solves the issue. @hcho3's PR #3021 moved logging from multi-threaded to single threaded, thus the hang is avoided

[2020-10-20 16:00] wphicks opened #3023 "[BUG] Overly-confident RF probabilities with unbalanced data"
**Description**
When an RF classifier is trained on unbalanced training data, it is more likely than the equivalent sklearn classifier to predict probabilities of exactly 0 or exactly 1.

**Steps to reproduce**
I first observed this on a real dataset ([BNP](https://www.kaggle.com/c/bnp-paribas-cardif-claims-management/data)), and the effect is more dramatic there than on the artificially-generated

[2020-10-20 16:00] #2977 closed

[2020-10-20 19:07] zbjornson commented on #2980
Hrm, even with mean-centering and constraining to a bounding box, roughly 1 in 4 runs still give wonky results, and no runs give great results. Here are a few examples of the same dataset run several times with PCA init:

| Exact | Good B-H |  Bad B-H 1 | Bad B-H 2 | Bad B-H 3 |
| --- | --- | --- | --- | --- |
| ![exact](https://user-images.githubusercontent.com/469365/96632197-99584e00-12d4-11eb-

[2020-10-20 20:39] #2979 closed

[2020-10-20 21:25] JohnZed opened #3024 "[FEA] [TRACKER] New RF backend to feature completeness"
Features remaining:

Top priorities:

 * [x] ~Feature subsampling  (issue #3024)~
 * [ ] Tested to depths 30+ (issue #1552)
 * [ ] Accuracy issue root-cause (issue #3526)
 * [ ] Performance tuning (issue #3527)
 * [ ] ~Performance and accuracy comparison to old backend~
 * [ ] First set of expanded unit tests
 * [x] ~functional issues (issue #3529, issue #3530)~

Next priorities:
 * [ ] Additional

[2020-10-20 21:26] JohnZed commented on #3020
Relates to #3024

[2020-10-20 21:27] JohnZed opened #3025 "[FEA] Add feature subsampling to new RF backend"
Relates to #3024 . Will match sklearn semantics as closely as possible and document any deviations.

[2020-10-20 22:19] JohnZed opened #3026 "[TRACKER] Improve CI build/test times"
**Short term:**

* [ ] Investigate cause of recent 1/2 hour regression (#2998 )
* [ ] Speed up top single GPU tests
* [ ] Speed up top Dask tests

**Longer term:**

* [ ] Support tests running in parallel
* [ ] Ensure no CI test requires more than 4GB GPU memory

[2020-10-20 23:14] dantegd commented on #3026
To aid on the time reduction effort, here are statistics I gathered from analyzing logs of the past couple of weeks for python tests.

Taking into account tests that take more than 1 ms to execute, the slowest 50 test files and their number of tests are:
[code]

And the list of tests that take more than 10 seconds to run is:

[code]

[2020-10-21 00:13] #2549 closed

[2020-10-21 00:54] #3020 closed

[2020-10-21 00:57] dantegd commented on #798
@yuqli indeed, this issue is still open, so a contribution for the cython wrappers would be highly appreciated!

[2020-10-21 01:03] #78 closed

[2020-10-21 01:09] #255 closed

[2020-10-21 01:10] #220 closed

[2020-10-21 01:17] teju85 opened #3027 "[BUG] cuml logger wrapper doesn't seem to work well in multi-threaded environments"
**Describe the bug**
If any of the logger methods are called from inside a multi-threaded C++ code block (eg: from inside an 'omp pragma') and further when this code is called from python, it is resulting in a hang.

It still needs to be established whether this hang manifests only when called from python or even from C++.

**Steps/Code to reproduce bug**
1. pick any omp parallel code block
2. ins

[2020-10-21 02:44] vinaydes commented on #3027
Thanks, @teju85 for creating the issue.

For testing if it hangs for C++ code, I added following to C++ logger test
[code]
C++ test did not hang. So for now, it looks like it hangs only for Python.
Also printing `omp_get_thread_num()` is completely optional. It is there to see which thread is stuck.

[2020-10-21 02:48] vinaydes commented on #3020
PR #3021 works around the root cause of this issue. The root cause (bug in the logger in multi-threaded environment) is tracked separately with Issue #3027.

[2020-10-21 03:24] JohnZed opened #3028 "[TEST] Dask Kneighbors classifier and regressor tests should be sped up"
test_kneighbors_classifier and test_kneighbors_regressor add up to 24 minutes in a recent run: https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci-a100/job/cuml/job/branches/job/cuml-gpu-branch-0.17/lastStableBuild/testReport/cuml.test.dask/

We should get these down to more like 2 minutes.

Relates to #3026

[2020-10-21 03:25] JohnZed opened #3029 "[TEST] Dask test_datasets should be sped up"
In a recent run, test_datasets took 7.5 minutes. We should get that down to more like 1 minute.

Relates to #3024

[2020-10-21 03:29] JohnZed opened #3030 "[TASK] Dask test_umap and SG test_umap should be sped up"
Dask Test_umap took about 4.5 minutes in a recent test. Should get it down to about a minute.
SG test_umap was about 3 min.

Relates to #3026

[2020-10-21 03:33] JohnZed opened #3031 "[TEST] test_make_blobs should be sped up"
Takes about 5.5 minutes now. We should be able to get this down to under 1 minute as it is single GPU.

Relates to #3026

[2020-10-21 08:53] viclafargue commented on #1358
MNMG KNN Classification & Regression has been implemented.

[2020-10-21 08:53] #1358 closed

[2020-10-21 14:13] wphicks commented on #3027
I think I can claim responsibility for this one. If we disable [the callback](https://github.com/rapidsai/cuml/blob/branch-0.17/python/cuml/common/logger.pyx#L348) to use Python's `print` for logging, the hang goes away. I'll look into it and see if I can figure out what's going on.

[2020-10-21 15:36] dantegd commented on #3026
@JohnZed why did you link PR #2988 in the description of the issue? That's a FIL change that seems totally unrelated to build times?

[2020-10-21 15:47] JohnZed commented on #3026
@dantegd Fixed! It should be 2998 not 2988

[2020-10-21 16:48] wphicks commented on #3027
Fix is available here: #3037. Reviews would be very welcome; note the comment on that PR about the difficulty with  creating a clean unit test for this issue.

[2020-10-21 17:35] wphicks commented on #563
Following up on discussion from #2918, this enum exists, but in KMeans we are still pulling an integer in from the Python layer. #2918 should help facilitate a transition.

[2020-10-22 02:47] pseudotensor commented on #2374
Yes, I would like this feature as well, simplifies use of scikit-learn like cuml functions.  Currently I hit:

[code]

[2020-10-22 19:54] tfeher opened #3041 "[FEA] ColumnTransformer with cuDF DataFrame input"
**Is your feature request related to a problem? Please describe.**

Sklearn provides [ColumnTransformer](https://scikit-learn.org/stable/modules/compose.html#columntransformer-for-heterogeneous-data) to compose pipelines that apply different transformation on different columns. Here is an example:

[code]

Unfortunately this does not work with cuDF DataFrame input, it returns the following error:

[2020-10-22 19:56] JohnZed opened #3042 "[TEST] Speed up test_array"
Relates to #3026

[2020-10-22 19:59] JohnZed opened #3043 "[TEST] Speed up dask.coordinate_descent test"
Relates to #3026

[2020-10-22 20:17] JohnZed opened #3045 "[TEST] Speed up test_linear_model, test_kmeans, and test_incremental PCA"
Each of these is well over a minute on unit tests for now. Probably all have similar issues of being over-parametrized.

Related to #3026

[2020-10-22 20:21] JohnZed opened #3046 "[TEST] Speed up test_metrics, test_trustworthiness"
These seem like they should be fairly light tests, well under a minute, but each is 80-90 sec now. Let's aim for halving that at least.

[2020-10-22 20:22] JohnZed opened #3047 "[TEST] Speed up test_fil"
Takes 2:40 in a recent SG test. Would be great to get it under a minute. If there are additional rare tests needed, can add them to stress or quality tests.

Relates to #3026

[2020-10-23 10:03] venkywonka opened #3048 "[TASK] Naming convention refactor from camel-case to underscore in prims metrics"
The following functions under [metrics](https://github.com/rapidsai/cuml/tree/branch-0.17/cpp/src_prims/metrics) in prims (along with their extensions in cuml) will need to have their names refactored from the `camelCase` format to the `under_score` format like the rest of functions in cuml and prims -
* `adjustedRandIndex`
* `completenessScore`
* `contingencyMatrix`
* `homogeneityScore`
* `klDive

[2020-10-23 10:20] venkywonka opened #3049 "[TASK] fusing metrics and scores directories in src_prims"
The functions under [metrics](https://github.com/rapidsai/cuml/tree/branch-0.17/cpp/src_prims/metrics) and [score](https://github.com/rapidsai/cuml/tree/branch-0.17/cpp/src_prims/score) in src_prims can be semantically categorized under a common name (whether that can be named 'metrics' or 'scores' is open for discussion).

It is exposed in cuml under a common rubric as [metrics](https://github.co

[2020-10-23 14:05] BioGeek opened #3050 "[BUG] Received unsupported input type: <class 'dask_cudf.core.DataFrame'> when doing cuml_model.predict(X_test_dask) on Google Colab"
**Describe the bug**
I used the [rapidsai-csp-utils](https://github.com/rapidsai/rapidsai-csp-utils) to install RAPIDS and related libraries on Google Colab.
Then I copy/pasted and executed the code from the [Random Forests Multi-node, Multi-GPU demo notebook](https://github.com/rapidsai/cuml/blob/branch-0.17/notebooks/random_forest_mnmg_demo.ipynb).

In the last cell, I get the error:

[code]

**

[2020-10-23 15:51] yasmina-altair opened #3053 "[FEA] OneHotEncoder support in sklearn Pipeline"
**Is your feature request related to a problem? Please describe.**
I would like to use cuml.preprocessing.OneHotEncoder as part of Pipeline so that I can assemble additional steps and multiple preprocessors. However, OneHotEncoder alone in a Pipeline fails. For example:
[code]

**Describe the solution you'd like**
OneHotEncoder works with Pipeline similar to sklearn's OneHotEncoder:
[code]
**Descr

[2020-10-23 16:37] viclafargue commented on #3050
Thank you for opening the issue. It seems like you are running an up to date (`0.17`) notebook with RAPIDS softwares in version `0.14`. This can unfortunately fail as API specifications change with different versions.

[2020-10-23 16:53] viclafargue commented on #3053
Thank you for opening the issue. It looks like the `fit_transform` method of the `OneHotEncoder` class should be able to take a `y` parameter to be compatible with Scikit-Learn's `Pipeline`. This will be corrected.

[2020-10-23 17:58] venkywonka commented on #3048
hey @viclafargue I would like to be assigned this issue, don't have access to assign myself; can you?

[2020-10-23 18:06] JohnZed commented on #3049
Agreed! I'd vote for metrics as a name.

[2020-10-23 18:11] taureandyernv commented on #1486
Closing because it is completed, will open with new issue on doc searching in docs repo

[2020-10-23 18:11] #1486 closed

[2020-10-23 19:37] #2355 closed

[2020-10-23 21:05] #2556 closed

[2020-10-23 21:57] wphicks opened #3055 "[BUG] Correct Series equality checks following cudf update"
**Describe the bug**
Following the resolution of https://github.com/rapidsai/cudf/issues/6499, `Series` equality checks now raise a `ValueError` if the types of their indexes do not match. We should review where we are making use of these checks and update to first check if the respective indexes are equal.

**Steps/Code to reproduce bug**
A particular instance of this issue in our `TargetEncoder`

[2020-10-23 23:42] cjnolet opened #3057 "[BUG] Unexpected outliers in TSNE results"
With cuML version 0.16, I'm noticing some strange outliers suddenly in the rapids-single-cell example notebooks. Please refer to the [notebook](https://github.com/clara-parabricks/rapids-single-cell-examples/blob/master/notebooks/hlca_lung_gpu_analysis.ipynb) in the repository for the expected output. Below is the output I am getting when running the notebook with 0.16:

![image](https://user-imag

[2020-10-24 01:25] zbjornson commented on #2980
I have a version working with FFT. It gives higher embedding quality, solves the cluster spreading issue and is more consistent between runs. However, there's still something upstream of the main loop (e.g. in the perplexity search) that, compared to CannyLab's impl, is causing less spacing between blobs, more variability between runs and lower embedding quality, as well as occasional "pinpoint" r

[2020-10-24 01:49] cjnolet commented on #2980
@zbjornson This looks like a pretty significant change and I do think it's worth investigating more closely as a potential alternative for cuml. Please bear with me (and anyone else who might be interested) while I/we get get spun up on the details of this approach.

Undortunately, today I found what appears to be a regression in 0.16 and I'm concerned this was introduced in recent changes: https:

[2020-10-24 02:00] cjnolet commented on #3057
Ok addition to isolating the cause of these outliers, I think this exposes a larger problem, which is that we need a better way to test for potential issues like this.

Something to keep on mind: I wonder if we would create a test harness on some real-world datasets and find a good density-based or graph clustering to use for validation, in addition to trustworthiness.

[2020-10-25 02:21] zbjornson commented on #2980
About to open a PR for this.

Argh... I'll bisect if I have time this weekend.

Section 4 of https://arxiv.org/abs/1712.09005 had an answer:

CannyLab's impl doesn't do this, so it's a bit odd that this impl needs it. Anyway, that's one way to resolve the spacing issue.

I haven't resolved the occasional "pinpointing" issue. I'm not using any randomization, so I think that means it's due to some a

[2020-10-26 09:01] viclafargue commented on #3048
Thank you @cjnolet

[2020-10-26 09:58] viclafargue commented on #3050
Maybe @Salonijain27 have more information about this?

[2020-10-26 10:27] viclafargue commented on #3023
Tagging @Salonijain27 who might be of precious help here

[2020-10-26 10:30] #2989 closed

[2020-10-26 13:11] yasmina-altair opened #3059 "[BUG] 2+ cuML preprocessors for single variable in Pipeline"
**Is your feature request related to a problem? Please describe.**
I want to build Pipelines with two or more cuML preprocessors that could fit on a DataFrame with a single column. For example:
[code]

**Describe the solution you'd like**
I want to fit preprocessors sequentially in a Pipeline on a single variable similar to sklearn:
[code]
**Describe alternatives you've considered**
Use preprocess

[2020-10-26 16:18] #3027 closed

[2020-10-26 22:02] wphicks commented on #3059
Thanks very much for the report, @yasmina-altair! This is definitely a bug. I'm working on tracking down the exact point of failure, but it looks like we're naively converting single-series data frames to `Series` rather than keeping them as the correct input type. We'll get a fix in ASAP and I'll keep you up-to-date on progress in this thread.

[2020-10-27 00:21] Salonijain27 commented on #607
Unable to reproduce the error with cuml version 0.16. The maximum memory utilized on a 32GB V100 is 1888MiB while running a test with the above mentioned criteria

[2020-10-27 16:39] Salonijain27 commented on #1736
@dantegd can we close this bug? this seems to be a stale issue.

[2020-10-27 18:44] tzemicheal opened #3063 "[FEA] Extra-trees training in cuML"
**Is your feature request related to a problem? Please describe.**
SKlearn provides training and inference for ExtraTrees regression/classification.
https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.ExtraTreesRegressor.html
[code]
**Describe the solution you'd like**
It would be great to have ExtraTreeRegressor/ExtraTreeClassifier as part of cuML to use for various ensemble learni

[2020-10-27 18:49] tzemicheal opened #3064 "[FEA] Sklearns' Extra-trees inference in FIL"
**Is your feature request related to a problem? Please describe.**
Add support for ``ExtraTreesRegressor`` and ``ExtraTreesClassifier`` sklearn's randomized trees  inference in FIL.

[2020-10-27 19:11] wphicks commented on #2823
Just saw this issue again with a `RandomForest` model, so this is clearly somewhat generic.

[2020-10-27 20:03] mikacashman opened #3066 "[QST] Dask scheduler with MNMG RFR codebase"
Hi there, I have been working with support from NVIDIA-RAPIDS with ORNL on slack and was advised to post my issues here.

I have been observing some flaky behavior when running a MNMG version of the RF-regression code I am working with (using dask).   I have run multiple runs back-to-back on two different data sets (at least 5 runs on each) and have been recording the behavior.  Below are reports

[2020-10-27 20:55] JohnZed opened #3068 "[BUG] Dask LabelEncoder test failing on centos"
Many failures of the following form are showing up on a recent PR test  (https://gpuci.gpuopenanalytics.com/blue/organizations/jenkins/rapidsai%2Fgpuci%2Fcuml%2Fprb%2Fcuml-gpu-build/detail/cuml-gpu-build/15631/pipeline)

This is blocking checkin of that important change.

[code]

[2020-10-27 21:46] jakirkham commented on #3066
Thanks for writing this up! Could you please share the code used as well? 🙂

[2020-10-27 21:53] #1736 closed

[2020-10-27 22:15] #1055 closed

[2020-10-27 22:15] cjnolet commented on #2901
@JohnZed can this be closed?

[2020-10-27 22:17] mikacashman commented on #3066
Adding code:

Code specific to HPC setup.  Consists of (1) a bsub run script which sets up the dask-scheduler before calling (2) the python code.  Uses conda setup so personal setup needed for my system under a switch (ISMIKA).  I can add the input files used for building the issue report if needed/desired.  This launches from a batch node and the dask-based code runs on six 32GB V100 GPU nodes.

[2020-10-27 22:17] #2504 closed

[2020-10-27 22:18] #848 closed

[2020-10-27 22:47] wphicks commented on #3059
Fix is now available in #3069. After it gets reviewed and merged, you should see the proper behavior in the 0.17 nightly build. @yasmina-altair, please don't hesitate to ping me if you need more info on how to install the nightly build once the fix is in.

[2020-10-27 23:25] miroenev commented on #3066
Hey @mikacashman, given the high amount of ORLN specific setup its a bit tricky to reproduce your workload.

My guess is that your first error (no dask workers) is intermittently possible because you are ending up with collisions on your port scheduler -- i.e., whenever your shuffle function lands on a used port in the 4k-6k range (possibly by other dask workers). One way to confirm would be to ru

[2020-10-28 01:11] mdemoret-nv opened #3071 "[FEA] Support pytest warnings capture"
Currently, our C++/Python logger is not captured by Pytest and shown as part of the output. This can hide necessary warnings or cause developers to use two different systems for showing warnings. An example output is shown below:

With `cuml.common.logger.warn()`
[code]
With `warnings.warn()`
[code]

Part of this issue should be determining what about the warnings causes pytest to capture them, an

[2020-10-28 13:05] yasmina-altair commented on #3059
thank you @wphicks, really appreciate it

[2020-10-28 16:07] wphicks commented on #3071
For awhile, I've been quite tempted to update [this callback](https://github.com/rapidsai/cuml/blob/branch-0.17/python/cuml/common/logger.pyx#L90) so that it uses a Python logger for output rather than just a print statement. That logger would do no formatting whatsoever, leaving spdlog responsible for formatting but also direct messages to the correct Python logging level, which would allow us to

[2020-10-28 16:37] petket-5 opened #3076 "[QST] Combine RandomForest trees"
Hi,

I have been using cuml's RandomForestClassifier as a drop-in replacement for sklearns equivalent and so far I am very happy with it. The code I am working is based around the idea that multiple trees are created seperately and then combined using sklearns following syntax ([Taken from here](https://stackoverflow.com/questions/28489667/combining-random-forest-models-in-scikit-learn)):

[code]

[2020-10-28 16:44] Salonijain27 commented on #3076
Hi Peter, I believe what you are looking for is what cuML's multi node multi gpu (MNMG) implementation does.
MNMG RF creates trees on different GPUs simultaneously and then combines it into on large RF which is then used for prediction.
Due to the complex nature of cuML's RF I dont think it can be combined by just using the above code.