[2021-02-04 01:18] cjnolet commented on #3446
@mdemoret-nv IIRC, the problem here is our need to support CUDA versions prior to the new function deprecation, so there has not yet been a straightforward path to updating (aside from potentially compiling different wrappers depending on the CUDA version).

[2021-02-04 01:26] cjnolet commented on #3360
@rilango, am I correct in understanding that you've since been able to get past this error? Are you also seeing the expected output?

[2021-02-04 02:17] mdemoret-nv commented on #3446
That makes sense. Have we considered muting them with `DISABLE_CUSPARSE_DEPRECATED`? I'm worried that constantly having these warnings in the build log is potentially hiding other warnings that might be important. For example:
[code]
(I have been burned by this warning in the past)

[2021-02-04 04:23] cjnolet opened #3456 "[FEA] Expose sparse + dense API function in semiring"
It is currently possible to compute pairwise distances / kNN where one side is sparse and another dense with the semiring primitive but a function needs to be exposed on the API to make this possible.

This will be useful for both enabling sparse inputs in kmeans and will allow kNN to accept inputs where one side is sparse and another dense (which will be useful for umap which has been trained on

[2021-02-04 04:24] cjnolet commented on #3456
This issue will close #3116

[2021-02-04 05:09] vinaydes commented on #3024
I agree. I'll send a PR today for deprecation. We can aim for removing it in 0.19 release.

[2021-02-04 06:40] levsnv commented on #3336
PR was merged into 0.18. Closing since the PR addressed the issue. If someone finds a need for the in-between column count to have shared memory speed, they can open a new issue.

[2021-02-04 06:40] #3336 closed

[2021-02-04 14:26] #3233 closed

[2021-02-04 15:54] cjnolet opened #3457 "[FEA] Switch cuml code to use brute-force knn from RAFT"
The brute-force KNN was recently placed in RAFT. We should switch to using it. We should also remove the existing brute-force knn code from cuml and consider moving the classification/regression prims as well.

[2021-02-04 16:00] wphicks commented on #1739
Reappeared in https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci/job/cuml/job/prb/job/cuml-gpu-test/CUDA=10.1,GPU_LABEL=gpu,OS=ubuntu16.04,PYTHON=3.7/588/testReport/junit/cuml.test/test_linear_model/test_linear_regression_model_default_float64_/. Reopening to facilitate further discussion.

[2021-02-04 16:11] wphicks commented on #1739
Observed in both CUDA 10.1 and 10.2 at least. @dantegd believes that this may be a Volta/Pascal but not Turing/Ampere issue

[2021-02-04 16:58] cjnolet opened #3458 "[FEA] PCA initialization for TSNE"
UMAP uses a spectral embedding to initialize points and it was recently demonstrated in [this paper](https://www.biorxiv.org/content/10.1101/2019.12.19.877522v1) that the choice of initialization is important to preserving global structure. The paper also demonstrates that TSNE can preserve global structure fairly well by using PCA to initialize the embeddings.

The PCA initialization is done dire

[2021-02-04 17:05] cjnolet commented on #1058
@oyilmaz-nvidia, I notice we have an `eigSelDC` [function in RAFT **already](https://github.com/rapidsai/raft/blob/branch-0.18/cpp/include/raft/linalg/eig.cuh#L93) (which was moved from cuml a few months ago). Does this issue include any further work or can it be closed?

[2021-02-04 17:17] JohnZed opened #3459 "[FEA] Upgrade FAISS to 1.7.x"
Will allow proper RMM support

[2021-02-04 17:33] rilango commented on #3360
@cjnolet, I still have this issue. To get past this issue I either use a different dataset or skip this part of the code.

[2021-02-04 17:46] wphicks commented on #1739
Now reproduced on Volta/ CUDA 11 and with both `float32` and `float64`

[2021-02-04 20:59] beckernick opened #3461 "[FEA] Gracefully accept scikit-learn-specific parameters in estimator APIs as pass-throughs"
Some estimators do not accept all parameters accepted by their corresponding scikit-learn estimator, while others do. For API compatibility, it would be nice to support these arguments to constructors as "pass-through" parameters and perhaps raise a warning or error if they are passed and not None. This additional API compatibility would improve the process of building cuML into downstream librari

[2021-02-04 21:35] #3366 closed

[2021-02-04 23:29] beckernick opened #3462 "[FEA] Add _estimator_type attribute to all clustering estimators"
In closing https://github.com/rapidsai/cuml/issues/2393 , https://github.com/rapidsai/cuml/pull/2411 added the `_estimator_type` attribute to all classifiers and regressors, like scikit-learn. For compatibility purposes, it would be nice to also include this for clustering estimators as well (`_estimator_type = "clusterer"`). Scikit-learn provides this via a [ClusterMixin class](https://github.com

[2021-02-05 01:07] cjnolet opened #3463 "[FEA] Expose C++ sparse pairwise distances through 'cuml.metrics.pairwise_distances'"
UMAP & TSNE should provide good end-to-end example algorithms that accept both sparse and dense inputs.

[2021-02-05 02:16] cjnolet commented on #3360
@rilango, I've embedded the first 10k points from the example file using Scikit-learn's Barnes-Hut implementation and I get the following output:
![Figure_1](https://user-images.githubusercontent.com/1242464/106979472-62dffb00-672c-11eb-940d-2f4eed8d7173.png)

This doesn't look like the single-GPU 1M cells notebook, which ideal should look like this:

![image](https://user-images.githubusercontent

[2021-02-05 02:23] cjnolet commented on #3421
We have decided to defer this feature in order to dig into the remaining problems w/ reproducibility in a future release. This was originally prioritized as an alternative to fix https://github.com/rapidsai/cuml/issues/3360, but we will continue on Barnes-Hut for now.

[2021-02-05 04:08] #2864 closed

[2021-02-05 04:13] cjnolet opened #3464 "[FEA] Expose sparse knn API on MNMG KNN"
After @lowener’s recent updates, the sparse kNN API is very similar to the dense API. This should allow us to integrate the APIs into the MNMG KNN so that it can accept both sparse and dense inputs.

[2021-02-05 04:30] #3376 closed

[2021-02-05 11:12] neergaard commented on #1121
@cjnolet Did you figure out exactly what the issue was? I am experiencing exactly the same issues as described by @tomwhite in both this issue and https://github.com/theislab/scanpy/pull/830
- cuML UMAP produces significant outlier points (2-3 orders of magnitude)
- cuML UMAP 'main' cluster is skewed to the top right or left corners

An immediate solution to my problem is to remove the outliers ma

[2021-02-05 13:33] cjnolet commented on #1121
@neergaard I will try and reproduce this issue. Can you provide a dataset that is causing this to happen for you?

In the meantime I will try this on the original dataset provided by @tomwhite.

[2021-02-05 14:44] neergaard commented on #1121
@cjnolet Yes, I have the following dataset https://drive.google.com/file/d/1fMg89LWeOqIlH9OMzZzyUpOO1PkfLqFP/view?usp=sharing you can use. I'm running on a GTX 1080Ti with CUDA 11 and 450.102.04 NVIDIA driver.

[2021-02-05 14:50] cjnolet commented on #3346
@vinayprabhu, I've created a reproducible example script that takes Keras & Tensorflow out of the mix so we can get to the root cause of the issue. If you are able to run this on a more recent version of RAPIDS, it would be helpful to know if it still fails for you.

Here's a function to load the Fashion mnist dataset that does not require Keras/Tensorflow.:
[code]

[code]

I get the following out

[2021-02-05 16:59] wphicks opened #3465 "[BUG] Mismatch between cuml and sklearn output for specific inputs"
**Describe the bug**
For specific training and test inputs to `LinearRegression`, cuml and sklearn produce significantly different outputs

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
While this is a somewhat unlikely and artificial example, I would still expect cuml and sklearn output to be a closer match. This was discovered accidentally while working toward a more sophisticate

[2021-02-05 17:30] cjnolet commented on #1121
@neergaard, Thanks for the quick reply and for supplying a dataset! I have verified this data has outliers in the current 0.18 branch. I've also verified the original dataset in this PR returns the expected output in the current 0.18 branch. Looking at the dataset you've provided, I notice many of the distances are very very small. I was able to produce results that were a tad closer to UMAP-learn

[2021-02-05 17:36] cjnolet opened #3467 "[BUG] Outliers in some UMAP datasets"
I'm creating a new issue to track a bug reported by @neergaard in ##1121 because I've verified the original dataset in that issue produces the expected output.

Using the dataset provided [here](https://github.com/rapidsai/cuml/issues/1121#issuecomment-774075109), I was able to reproduce this issue. Increasing the number of epochs seemed to help a little but I was not able to fully reproduce the r

[2021-02-05 17:55] dantegd commented on #3465
@wphicks I just repro'd and saw the difference, but it seems there is a typo in the comment of the last line:

[code]
seems like the comment accidentally added a `5` in there, there is still a significant difference but just wanted to confirm that I'm seeing the expected result from scikit

[2021-02-05 17:56] viclafargue commented on #3318
[Here](https://github.com/facebookresearch/faiss/blob/a17a631dc326b3b394f4e9fb63d0a7af475534dc/gpu/impl/PQCodeDistances-inl.cuh#L58) is statement causing the invalid read. By looking into FAISS issues, I came across [this issue](https://github.com/facebookresearch/faiss/issues/1421) mentioning this exact same statement. The problem has already been identified (even though not experienced) and a fi

[2021-02-05 18:07] wphicks commented on #3465
Nope, I'm afraid that `1.5625` is genuinely what I get on my machine. Interesting that there's a discrepancy between our setups, though...

[2021-02-05 20:28] cjnolet commented on #3371
@teju85, I am also adding to this list an investigation of your idea to compute the outer product. If I understand the intent correctly, this would involve a similar design to CUTLASS by partitioning C into tiles?

[2021-02-05 21:13] rilango commented on #3360
Absolutely. It is an acceptable solution.

[2021-02-05 21:52] dantegd commented on #3465
particularly how they look almost the same except for a digit! I'm also using scikit 0.23.1, very interesting

[2021-02-05 22:04] beckernick commented on #3461
I suspect any solution would also need to innocuously handle the following scenario, which may call down to the Base class depending on the estimator implementation.

[code]

[2021-02-06 03:05] teju85 commented on #3371
Yes, that's correct @cjnolet , but it comes at the risk of a much more complicated load-store pattern!

[2021-02-07 22:47] vinayprabhu commented on #3346
Thanks Corey for the prompt reply!
I will try this tomorrow and update my response here.

[2021-02-08 11:01] neergaard commented on #1121
@cjnolet You're welcome, appreciate the quick action on opening a new issue!

[2021-02-08 16:34] wphicks opened #3470 "[DOC] Add docstrings to functions, classes, and methods in api_context_managers.py"
## Report needed documentation

**Report needed documentation**
While the estimator guide offers a great breakdown of how to use many of the tools in `api_context_managers.py`, it would be helpful to have information right in the docstring during development to more easily understand what is actually going on in each of the provided functions/classes/methods. This is particularly important for oth

[2021-02-08 17:00] JohnZed opened #3471 "Release 0.18 checklist"
Recurring tasks before each release:

**New algorithm support:**
- [x] Each new algorithm added to API docs (@JohnZed)
- [x] Each new algorithm added to README  (@JohnZed)
- [x] Blog posts planned for new algos as appropriate (John)

**Docs and examples:**
- [x] Built API docs & checked for formatting
- [x] Verified & updated API docs (@divyegala)

**Additional testing:**
- [ ] Stress tests run (@

[2021-02-08 17:44] viclafargue commented on #3354
Closed by #3348

[2021-02-08 17:44] #3354 closed

[2021-02-08 22:12] mdemoret-nv commented on #3425
Talked with Ops today about this issue. They are looking into the potential fixes listed and will get back to me later this week.

[2021-02-09 15:39] cjnolet opened #3477 "[BUG] Gtest failure for Hellinger Distance"
This failure is still a little bit of a mystery. It fails in the same assertion when the whole test suite is executed. I found and fixed a couple very small thrust initialization problems but they only shifted the failed assertion to a different number.

I am unable to reproduce when running only that test case in isolation and compute-sanitize doesn’t show any problems. The PR in which this behav

[2021-02-09 17:39] JohnZed opened #3478 "[FEA] Expose sparse distances via semiring to Python API"
Should plug into pairwise_distances and automatically select correct algorithm based on input data.

[2021-02-09 17:47] vinayprabhu commented on #3346
Update:
1: Works with BlazingSQL that now supports tf!
![image](https://user-images.githubusercontent.com/7390549/107397945-fe1dfb00-6ab3-11eb-9b2a-6181f347e924.png)

2: Still fails in colab environ :(
Am giving kora a shot today. Let's see
![image](https://user-images.githubusercontent.com/7390549/107398695-bd72b180-6ab4-11eb-8f2f-b066bedabd94.png)

This was in the context of a me remotely teachi

[2021-02-09 19:13] wphicks commented on #1895
I've been doing some research on this, and I was initially quite excited about it, but I've cooled on it somewhat. IWYU definitely solves a problem that we have (missing includes where we should have them, extra includes where we don't), but the difficulty of getting it set up in our codebase may outweigh the potential benefits, especially when there are other tools that offer an 80% solution for

[2021-02-10 02:09] #1739 closed

[2021-02-10 02:33] vinayprabhu commented on #3346
OK.  This is kinda weird.
I tried Py3.8 on colab using kora:

[code]
Result:
- cuml.decomposition.PCA works
- cuml.neighbors.KNeighborsClassifier still fails!
[code]

![image](https://user-images.githubusercontent.com/7390549/107456488-208c3480-6b05-11eb-8aff-58cef38b0e02.png)

[2021-02-10 16:23] wphicks opened #3481 "[BUG] Sporadic failure in test_kbinsdiscretizer with uniform strategy"
**Describe the bug**
In [this CI run](https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci/job/cuml/job/prb/job/cuml-gpu-test/CUDA=10.2,GPU_LABEL=gpu,OS=centos7,PYTHON=3.8/639/), `test_kbinsdiscretizer` failed with `uniform` strategy. This appears to be a distinct issue from #2933, which seems to stem from a `cupy.percentile` bug which should be fixed soon. Nevertheless, we should keep in min

[2021-02-10 16:31] wphicks commented on #3481
So we don't lose the logs:

`test_kbinsdiscretizer[numpy-uniform-onehot-dense-20]`
[code]

`test_kbinsdiscretizer[numpy-uniform-onehot-20] `

[code]

`test_kbinsdiscretizer[numpy-uniform-ordinal-20]`

[code]

[2021-02-10 17:17] viclafargue commented on #3465
I could reproduce the issue. On DGX, the predictions are still different but look a bit more similar as observed by Dante. However there are large differences on coefficients and intercept. I'll look into this.

[code]

[2021-02-10 21:37] wphicks commented on #3481
Just to document it somewhere, I've discovered that when the training inputs are large enough to cause an overflow in the `linspace` call [here](https://github.com/rapidsai/cuml/blob/branch-0.18/python/cuml/_thirdparty/sklearn/preprocessing/_discretization.py#L197), it is possible to get results that diverge from sklearn because sklearn uses `np.digitize` directly while we're still using the custo

[2021-02-10 23:42] dantegd opened #3482 "[BUG] Cannot compile algorithm googletests without compiling C API libcuml.so"
**Describe the bug**
We should be able to compile the googletests of the libcuml++ algorithms without needing to compile the C wrappers (i.e. libcuml.so).

**Steps/Code to reproduce bug**
Configure the compilation of `libcuml++.so` and `test/ml` with:

[code]
This leads to:

[code]

**Expected behavior**
C++ algorithm tests shouldn't need the C API wrappers to be compiled

**Environment details (p

[2021-02-11 03:16] tribuipi commented on #3234
I got the same problem when running with GridSearchCV and Dask on cuml 0.17 (no problem on 0.16):

[code]

Error logs:
[code]

[2021-02-11 03:29] JohnZed opened #3483 "[FEA] Preprocessing module out of experimental"
Requires high test code coverage, including for imported third party code.
Also close out:
 - [ ] #3234
 - [ ] #3481
 - [ ] #3435
 - [ ] #2933
 - [ ] #3041

[2021-02-11 03:49] JohnZed opened #3484 "[FEA] Import compatible meta-estimators (e.g. pipelines) from sklearn into namespace"
Topic for discussion!

Many sklearn meta-estimator features, like Pipeline and GridSearch are fully compatible with cuML models. Many users do not know this. They try to import "cuml.pipeline.Pipeline", find nothing, and assume we do not support these features.

It does not seem wise to simply duplicate these already well-built classes. Alternatively, we could simply import from sklearn into our n

[2021-02-11 14:43] razamit opened #3485 "[QST] Working with cuml in Pycharm"
Hi

I am working with Pycharm on ubuntu.
I installed the rapids environment as explained here: https://rapids.ai/start.html#rapids-release-selector

Trying to import it like this:

from cuml import RandomForestClassifier as cuRF

Does not work.
What am I doing wrong?

Thanks

Amit

[2021-02-11 17:14] viclafargue commented on #3318
A warning was added in #3472. FAISS should be updated to a version that contains a fix for this.

[2021-02-11 17:14] #3318 closed

[2021-02-11 17:19] wphicks commented on #3318
For clarity, #3459 should fix the underlying problem

[2021-02-11 17:19] drobison00 commented on #3485
Hi @razamit

Try this for the import:

[code]

Also, be sure that you've set the PyCharm interpreter to use the rapids-0.17 conda environment created by the installation command you linked (https://www.jetbrains.com/help/pycharm/configuring-python-interpreter.html).

conda create **-n rapids-0.17** -c rapidsai -c nvidia -c conda-forge -c defaults rapids-blazing=0.17 python=3.7 cudatoolkit=10.1

[2021-02-11 17:33] JohnZed commented on #3373
Proposal:

* 0.19 adds deprecation warnings for all positional args (same approach as skl)
* 0.20 for full switchover to positional-only

[2021-02-11 18:10] viclafargue commented on #3465
The difference seems to be explained by the different methods used in cuML and sklearn. cuML uses ordinary least squares (with eigen or SVD decomposition) whereas sklearn uses non-negative least squares from Scipy. This seems like this example is a corner case. It produces poor results with eigendecomposition and literally crashes with SVD decomposition as cuSolver seems to be unable to find a sol

[2021-02-11 18:19] viclafargue commented on #3483
Also:
#3201

[2021-02-11 18:21] wphicks commented on #3465
Awesome! Thanks for digging into it, @viclafargue. For my part, I'd like to understand why we're using OLS where sklearn uses NNLS and whether that difference is justified, but that's probably just something I need to work through, not necessarily something that indicates a genuine problem.

In terms of making sure that this would not come up in more realistic scenarios, I'm working on hooking Hyp

[2021-02-11 20:04] #3284 closed

[2021-02-11 21:05] wphicks commented on #3465
@beckernick is having some trouble posting right now, but he was kind enough to point out a couple of interesting things on this. First, if sklearn were using NNLS, wouldn't it force all coefficients to be >0? Second, if we force sklearn to use NNLS by passing `positive=True`, we get a very interesting result:
[code]

I'd like to make sure we're confident that we understand what's going on under t

[2021-02-11 23:06] wphicks commented on #3234
@tribuipi Thanks very much for alerting us that this comes up with dask parallelization and for the great reproducer code! I put together a fix for this today and will probably submit the PR tomorrow. This should be fixed with the 0.19 release, and once the PR is in, you can use our nightly builds in the meantime if this continues to be a blocker for you.

[2021-02-12 11:15] viclafargue commented on #3465
My bad, you're right it uses `scipy.linalg.lsts` when the positive parameter is unset. NNLS seems to produce similar predictions, that's interesting. Would also be interesting to check the coefficients and biases.

The least square function of Scipy can call multiple LAPACK methods ([gelsd](http://www.netlib.org/lapack/explore-html/d7/d3b/group__double_g_esolve_ga94bd4a63a6dacf523e25ff617719f752.h

[2021-02-12 11:47] viclafargue commented on #3465
The three LAPACK methods seems to produce somewhat similar results, distinct from the one of cuML : [lapack_methods_vs_cuml.py.txt](https://github.com/rapidsai/cuml/files/5971507/lapack_methods_vs_cuml.py.txt)

[2021-02-12 18:14] JohnZed opened #3496 "[FEA] Evaluate perf and number of failures when running pytests under compute-sanitizer"
Try both --quick-run and regular pytest. Report timings and number of failures here. We'll evaluate next steps based on those results.

[2021-02-12 22:41] ibrisa commented on #3336
Thank you so much! We can now run it :)

[2021-02-15 04:43] Santyk1993 opened #3498 "[FEA] Balancing class weights in imbalanced datasets."
I am trying to use an imbalanced dataset in cuml Random Forest. But there is no inbuilt balancing parameter similar to sklearn's RF parameter - "class-weights". I wish to see a parameter for class balancing that I can use in cuml RF.

The solution could be similar to the sklearn RF 'class-weights' parameter, or a different method to deal with imbalance between classes.
Are there any recommended st

[2021-02-16 17:01] wphicks commented on #3496
Tried to run this over the weekend but got interrupted by a thunderstorm at 23%. I'll try again overnight.

[2021-02-16 17:48] wphicks opened #3501 "[FEA] Improve build time"
Creating this issue to help track recent discussion and work on improving cuML's build time. This is really a subset of #3026, but there's been enough conversation specifically about build time that it seemed like it warranted its own space.

There are at least 3 parts to this as I see it right now:

1. **Ninja**: With PR #3487, it is now relatively easy to switch from `make` to `ninja` locally, b

[2021-02-16 18:15] JohnZed opened #3503 "[FEA] Add demo of FIL on Dask"
This is a common request. It is straightforward to do using typical Dask ops in an embarrassingly parallel approach, but a clean demo would really help users.

Could add it to the FIL demo notebook: https://github.com/rapidsai/cuml/blob/branch-0.18/notebooks/forest_inference_demo.ipynb

[2021-02-16 18:25] viclafargue opened #3504 "[FEA] Additional approximate nearest neighbors metrics"
For now, only raw metrics directly available in FAISS are available for approximate nearest neighbors searches in cuML. Post-processing in ANN would allow for new metrics to be available.

[2021-02-16 19:34] drobison00 commented on #3485
@razamit Did this resolve your issue?

[2021-02-16 20:21] #2896 closed

[2021-02-16 20:39] drobison00 commented on #3485
Going to assume this is resolved. Feel free to open again if you have additional problems.

[2021-02-16 20:39] #3485 closed

[2021-02-16 20:48] Nanthini10 commented on #3133
PR ready to be merged - https://github.com/rapidsai/cuml/pull/3409

[2021-02-16 21:36] ibrisa opened #3505 "[BUG] Accuracy when Max_Features Set to Square Root"
**Describe the bug**
I’m using nightly v0.18 RAPIDS on x86 to run the random forest regression algorithm. I used to get very close MSE/R2 scikit-learn and CUML results when 'max_features' was set to the default (per documentation this is 1):

| SKLearn MSE | cuML MSE | SKLearn R2 | cuML R2 |
|-------------|----------|------------|---------|
| 0.004       | 0.005    | 0.81       | 0.78  |
| 0.004

[2021-02-16 22:02] wphicks commented on #3237
PR #3497 makes us a lot more friendly to non-Dask multithreading. If anyone else knows of anything that would make non-Dask multithreading problematic, we should document it. Otherwise, we can close this.

[2021-02-16 22:03] wphicks commented on #2926
This should still be addressed. It will make our CMake configuration a little more standard and avoid some weird edge cases. Not a high priority, though.

[2021-02-16 22:06] wphicks commented on #3295
Not sure if anything has changed here. @Micka: I think you're running the current round of stress tests. Can you confirm whether or not this is still a problem?

[2021-02-16 22:07] wphicks commented on #3055
Given how long it's been since we saw an issue stemming from this, I'd say we're in the clear. Closing.

[2021-02-16 22:07] #3055 closed

[2021-02-16 22:08] wphicks commented on #3317
Still relevant. Waiting on appropriate version of cupy.

[2021-02-16 22:11] wphicks commented on #3081
Still relevant.

[2021-02-16 22:11] JohnZed commented on #3143
The sklearn approach takes lat/lon in and out:
  https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.haversine_distances.html

[2021-02-16 22:12] wphicks commented on #3330
Still unaddressed but low priority. Have not gotten additional requests for this feature yet.

[2021-02-16 22:13] wphicks commented on #3080
Still relevant but may be affected by Hypothesis work.

[2021-02-16 22:17] wphicks commented on #3023
Confirmed that this issue still exists in 0.18.

[2021-02-16 22:21] wphicks commented on #3168
In general, it doesn't seem like this is something that the team is interested in enforcing, so I'll close this, and we can just stop worrying about this rule in PR review.

[2021-02-16 22:21] #3168 closed

[2021-02-16 22:22] wphicks commented on #3167
In general, it doesn't seem like this is something that the team is interested in enforcing, so I'll close this, and we can just stop worrying about this rule in PR review.

[2021-02-16 22:24] wphicks commented on #3169
Addressed by #3362

[2021-02-16 22:24] #3169 closed

[2021-02-16 22:58] #2203 closed

[2021-02-17 04:15] mdemoret-nv commented on #3171
Work on this issue is still ongoing in the linked PR. Several Ops issues have slowed down development and prevented including this PR in 0.18. Merging shortly to `branch-0.19`

[2021-02-17 09:19] viclafargue commented on #3504
Actually a duplicate of #2868

[2021-02-17 09:19] #3504 closed

[2021-02-17 10:21] teju85 commented on #3269
Sorry for the delayed response. (I somehow missed your last message @Matrix-World !)

Yes, that's correct

this is a sample code showing how to use the C++ API exposed by `libcuml++.so`. In other words, while reading through kmeans_example, assume that this code were outside of cuML repo and all you had access to were the header files in `/opt/conda/include/cuml` and shared library in `/opt/conda/

[2021-02-17 15:46] wphicks commented on #3496
Quick run has reached 50% completion after 15.5 hours. I'm going to kill it and start it up again over the weekend.

[2021-02-17 17:35] dantegd commented on #3501
Both items 1 and 2 are being looked by ops RAPIDS wide by @dillon-cullinan if I'm not mistaken, just leaving this for reference

[2021-02-17 18:14] drobison00 commented on #3505
@ibrisa
I can reproduce what you're describing, using your code; however, I'm not clear that the comparison is correct. In your call to sklRFR, you were not passing max_features, so it was defaulting to 1.0, or n_features based on SKlearns documentation.

If I update your call to be
[code]

The SKlearn results are more in line with cuML
SKLearn MSE:   0.019
SKLearn r2:   0.22

vs

CuML MSE:      0

[2021-02-17 18:23] drobison00 commented on #3498
@hcho3 Any thoughts on this?

[2021-02-17 18:24] ibrisa commented on #3505
@drobison00

Thank you so much for figuring that out so quickly! Really appreciate it and what a silly oversight on my end. That's great news that the results are closer now, but why do you think there was such a drastic drop in performance?

[2021-02-17 18:28] ibrisa commented on #3305
Hi @Nanthini10,

An update on this ticket - I tried rerunning this using the dask version of the code but specifying only 1 GPU and it gave similarly poor performance metrics.

| SKLearn MSE | cuML MSE | SKLearn R2 | cuML R2 |
|-------------|----------|------------|---------|
| 0.004       | 0.042    | 0.81       | -0.78  |
| 0.004       | 0.036   | 0.82       | -0.55   |
| 0.004       | 0.032

[2021-02-17 19:28] drobison00 commented on #3505
@ibrisa I'm not deeply familiar with the specific implementation here, so I may be missing something; but, shifting from using your entire n_feature set for each split to using only sqrt(n_features) is going to effectively give the algorithm less information to work with when deciding how to split. In this case, it may be that your training data is a good representation for the overall problem and

[2021-02-17 19:28] #3505 closed

[2021-02-17 21:25] wphicks commented on #2685
Given that there hasn't been any recent discussion on this issue and work on reproducibility has spun off into more narrowly-focused issues, I think we can close this. If there is a specific cuML feature for which reproducibility/determinism is causing a problem in a specific use case, we can open individual issues and knock them out one at a time.

[2021-02-17 21:25] #2685 closed

[2021-02-17 21:27] wphicks commented on #2737
Probably still of value but not a high priority.

[2021-02-17 21:28] zachmayer commented on #2435
I'd still like this feature!

[2021-02-17 21:59] tunguz commented on #2435
Yes, I'd very much like to have this feature.

[2021-02-17 22:07] MotoRZR commented on #2660
This issue still needs to be addressed

[2021-02-17 22:28] tfeher commented on #2409
The issue was fixed in #2618.

[2021-02-17 22:28] #2409 closed

[2021-02-17 22:38] beckernick commented on #2379
People interested in this feature may find [this RAPIDS blog post](https://medium.com/rapids-ai/100x-faster-machine-learning-model-ensembling-with-rapids-cuml-and-scikit-learn-meta-estimators-d869788ee6b1#c4b5) useful. You can now pass cuML estimators to scikit-learn's BaggingRegressor.

[2021-02-17 22:39] beckernick commented on #2418
@Salonijain27 are we good to close this?

[2021-02-17 22:55] jakirkham commented on #2344
Looks like they are still there in 0.19

[2021-02-18 00:10] petersenjppb commented on #2828
Hi.
This issue still needs to be addressed.

[2021-02-18 01:18] #3171 closed

[2021-02-18 08:21] #2742 closed

[2021-02-18 09:26] viclafargue commented on #2509
Merged in #3307

[2021-02-18 09:26] #2509 closed

[2021-02-18 09:54] MatthiasKohl commented on #2406
fixed in https://github.com/rapidsai/cuml/pull/2407 and obsoleted in https://github.com/rapidsai/cuml/pull/3382

[2021-02-18 09:54] #2406 closed

[2021-02-18 09:56] MatthiasKohl commented on #2839
IMO we should keep this alive as a low-priority request for now.

[2021-02-18 14:44] jsignell commented on #3234
I just ran into this issue as well and am excited that the fix will be in soon! In the meantime is there any way to workaround this issue?

[2021-02-18 15:19] tfeher commented on #2546
The warning message is correctly displayed in the Jupyter notebook:
[code]
This basically solves the main inssue here. We might want to add a few notes what to do in case the max iterations are reached, along the line what sklearn does
[code]
I am preparing a small PR to implement this.

Since sklearn does not return a fit status, I think we can also skip it.

[2021-02-18 15:33] wphicks commented on #3234
Sorry you ran into this one too, @jsignell! Now that I know that it has become a problem for multiple users, I'll push to get that PR merged ASAP so that y'all can start using the nightly builds. In the meantime, can you tell me specifically which estimator type you're working with? Is it `LogisticRegression` like @tribuipi or something else? Depending on the estimator, we may have a Dask-native v

[2021-02-18 15:42] jsignell commented on #3234
Thanks @wphicks! I am running into this using `RandomForrestClassifier`

[code]

[2021-02-18 15:43] wphicks commented on #3234
Ah sorry! I posted this and then immediately thought of a better solution. If you use `GridSearchCV` from `dask_ml`, that should take care of the issue. For instance, @tribuipi's example would become:

[code]

We're still aiming to provide better drop-in compatibility, but hopefully that will get you unstuck for now.

[2021-02-18 15:45] wphicks commented on #3234
Ah, and with `RandomForestClassifier` you *do* have the option of using a Dask version of the model, via `cuml.dask.ensemble.RandomForestClassifier`. The `GridSearchCV` from  `dask_ml` is still probably your better option though. Once you go to actually use that model for inference, though, you can use the Dask version to take full advantage of parallelism.

[2021-02-18 15:52] jsignell commented on #3234
Yeah I am currently using `cuml.dask.ensemble.RandomForestClassifier`

[2021-02-18 15:55] wphicks commented on #3234
Oh! My apologies, I'm probably missing something about your workflow. Is your code something short enough you could post it here?

[2021-02-18 15:57] jsignell commented on #3234
I'm trying to make an MRE. Let me see what I can come up with

[2021-02-18 16:18] Jacob-Barhak commented on #2685
Hi William,

It is ok to close the issue, yet the discussion needs to remain here and in
our minds.

The comment here is important for the future. Model reproducibility is
important. The fact that scientists cannot reproduce their own models is
alarming. Yet if the scientist will not have proper deterministic tools
towards reproducibility, then the scientist will have an excuse.  In this
case the

[2021-02-18 16:48] tfeher commented on #2858
The issue still exist in the recent dev containers.

[2021-02-18 17:05] JohnZed opened #3517 "[FEA] SHAP promoted from experimental"

[2021-02-18 17:07] JohnZed opened #3518 "[FEA] Single-linkage agglomerative clustering"

[2021-02-18 17:08] JohnZed opened #3519 "[FEA] HDBSCAN"
(May span to release 0.20 depending on distance calculation approach used in v1)

[2021-02-18 17:09] drobison00 commented on #3414
@cjnolet Thoughts on this?

[2021-02-18 17:11] JohnZed opened #3520 "[FEA] Promote experimental RF backend to default for regression as well"
See #3024 for more details on subtasks needed for feature completeness.

[2021-02-18 17:24] drobison00 commented on #3404
@Santyk1993 did this resolve the issues you were seeing?

[2021-02-18 17:26] JohnZed opened #3521 "[FEA] Finish move of all prims to RAFT"
TODO:
 - Break out prims into logical groups to move one at a time and add as checklist

[2021-02-18 17:30] aerdem4 commented on #2379
@beckernick I think what could be interesting is the opposite actually. Running sklearn models in parallel on GPU with random data and feature subsampling. Otherwise running cuml models sequentially with subsampling is just several lines of code for the user.

[2021-02-18 17:31] drobison00 commented on #3161
@JohnZed Is this still an issue?

[2021-02-18 17:39] JohnZed opened #3522 "[DOC] Add simple doc to use CI containers for docker build for first time builders"
See e.g. challenges run into on this PR: https://github.com/rapidsai/cuml/pull/3388

Folks should be able to pull CI build container and run build.sh very easily with a short doc at the top of Build.md

[2021-02-18 17:54] drobison00 commented on #3140
It sounds like this is something that isn't likely to change in the near future, outside the workflow described by cjnolet. Closing for now; if there is a specific workflow that requires the ability to directly serialize Dask cuml models we can revisit.

[2021-02-18 17:54] #3140 closed

[2021-02-18 18:22] beckernick opened #3523 "[FEA] Expose or calculate standard errors for logistic regression (and other GLMs)"
I'd like to be able to access the standard errors of coefficients for logistic regression and other GLMs. One way to compute the standard errors could be to take the square root of the diagonal of the covariance matrix. It might be nice to expose the standard errors in a friendly way for users.

[2021-02-18 19:13] wphicks commented on #3481
We don't have a consistent reproducer for it, but I think we can remove the flag at this point. At this point, we need thorough analysis more than triage, really.

[2021-02-18 19:56] JohnZed commented on #3523
Would a wrapper for bootstrap standard error/confidence intervals be appealing or do you only want the analytical version? The bootstrap approach could be flexible to many estimators and have very nice statistical properties.

[2021-02-18 20:24] mdemoret-nv commented on #2630
This issue still needs to be addressed and can be included as part of PR #3402. Will add as a linked issue

[2021-02-19 05:16] teju85 opened #3525 "[FEA] Add support for weighted feature subsampling"
**Is your feature request related to a problem? Please describe.**
Current RF implementation only supports uniform subsampling of features (as of 0.18). We also need to extend this to support weighted subsampling in RF.

**Describe the solution you'd like**
Ideally, we need to expose a `feature_weights` option in the constructor for both classifier/regressor. It's default value is `None` (aka unif

[2021-02-19 05:26] teju85 opened #3526 "[TRACKER] RCA for RF accuracy issue"
Current RF implementation almost always ends up with slightly lesser accuracy than sklearn counterpart. The exact reason(s) are unknown at this point and we also do not even know how each parts in our RF implementation affect the final accuracy. As such, this will be the top priority item for us until we figure this out.

@vinaydes is planning to write directed tests to help root-cause the reasons

[2021-02-19 05:38] teju85 opened #3527 "[TRACKER] Improve performance of the new RF backend"
New RF backend can be considerably slower depending on `max_depth` and `n_bins`! Initial profiling shows `computeSplit` kernels are by far the biggest bottlenecks.

## low hanging fruits
new backend exposes the following parameters to be tuned as per the depth and the number of samples available in the current node to be split. They are:
1. [`n_blks_for_cols`](https://github.com/rapidsai/cuml/blob

[2021-02-19 05:40] teju85 commented on #3024
JFYI, did some updates in synopsis.

[2021-02-19 07:32] teju85 opened #3528 "[FEA] hybrid approximation technique in cuML RF"
**Is your feature request related to a problem? Please describe.**
Currently we do either global quantile or adaptive per-node histogram based approximations in RF. Both these methods have their own benefits. One thing that came up during a discussion with @vinaydes was the idea of doing a hybrid approximation. Meaning use both global quantile bins AND compute per-node histogram bins as approximat

[2021-02-19 07:38] teju85 opened #3529 "[BUG] quantile computation in RF is not correct"
`preprocess_quantile` in RF does not correctly compute the bin ID's and their thresholds. For eg: in the current implementation, there's always the chance of missing out on those elements which fall in the last bin, especially when `n_bins` does not evenly divide the `n_rows`.

Tagging @vinaydes who has a fix for this and will be filing a PR soon.

[2021-02-19 07:41] teju85 opened #3530 "[BUG] new RF backend still causes OOM due to the usage of TemporaryMemory struct"
The new RF backend still ends up allocating `TemporaryMemory` object, which is not required in this path. So, there are cases when even the new backend ends up crashing due to OOM.

Tagging @vinaydes who has a fix for this and will be filing a PR.

[2021-02-19 09:47] teju85 opened #3531 "[FEA] Add support for computing feature_importances in RF"
**Is your feature request related to a problem? Please describe.**
RF implementation should support computing `feature_importances_` property, just like how it is exposed in [sklearn](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html#sklearn.ensemble.RandomForestClassifier.feature_importances_).

**Describe the solution you'd like**
1. By default, we sh

[2021-02-19 10:10] teju85 commented on #2603
@tfeher like we discussed today, the documentation on SVC is still not clear about the underlying type conversion (and slightly more memory usage + runtime). Please file a PR for this and then we can close this issue.

I'll file a separate issue to check the input label consistency across other algos that @cdeotte mentioned above.

[2021-02-19 12:48] teju85 opened #3532 "[VERIFY] Have consistent format for accepting targets across cuML algos"
As described by @cdeotte [here](https://github.com/rapidsai/cuml/issues/2603#issuecomment-663725498), the input label type accepted by `fit` methods by various cuML algos are not uniform. Atleast this was the case in 0.14 release that Chris was looking into.

Filing this issue separately and tagging @JohnZed and @dantegd to see if they can assign someone to check if this is still the case and help

[2021-02-19 15:01] Santyk1993 commented on #3404
@drobison00  I read in issue #3388 that the issue with pickling the 'cuml.Dask' version of Random Forest Classification is now fixed. That's great to hear.

I had worked around the issue at that time, by simply not saving the model, and using it in the same run.
Currently, I am not running the Dask version of cuml RF, but I shall update in this thread as soon as I try it.

Thank you.

[2021-02-19 15:37] dantegd commented on #3532
Actually this has been mostly fixed by https://github.com/rapidsai/cuml/pull/2635 (which was merged for release 0.15) with most fit/predict/transform functions generating their docstrings with a decorator that centralizes the functionality. Doing a quick check that there are no stragglers / exceptions that have an older or outdated docstring would be a good idea so we can use this issue to track i

[2021-02-19 15:59] Nanthini10 commented on #3305
@ibrisa Thanks for the update! I was able to reproduce similar behavior and it looks like the predictions are not lining up. There's going to be an update for RandomForest estimators soon - https://github.com/rapidsai/roadmap/issues/299 which might fix the issue. I'll try to get you an update soon.

[2021-02-19 18:31] JohnZed commented on #3531
Definitely agreed. Not sure we'll have enough bandwidth to get this for 0.19 (given work going to new backend) but should be highly prioritized high after that.

[2021-02-19 19:55] ibrisa commented on #3305
@Nanthini10 Great news that you were able to reproduce it! Unfortunately, the link to the roadmap is broken. Is there a timeline for when the RF update will come out?

[2021-02-19 20:55] beckernick commented on #2485
As noted in https://github.com/rapidsai/cuml/pull/3409#discussion_r578717597 , we can now close this issue. Both of these can be deprecated in favor of `@cuml.internals.api_return_any()`. More detailed information can be found in the [Estimator Guide](https://github.com/rapidsai/cuml/blob/branch-0.19/wiki/python/ESTIMATOR_GUIDE.md#option-2-manual-estimator-method-decoration).

[2021-02-19 20:55] #2485 closed

[2021-02-19 22:06] Nanthini10 commented on #3305
@ibrisa Oh sorry! It should come out in about 6 weeks with 0.19

[2021-02-19 22:41] #2546 closed

[2021-02-19 22:57] wphicks opened #3535 "[FEA] Make `pydocs` a CMake Target"
Because the `pydocs` target of `build.sh` invokes a handcrafted Makefile rather than a CMake-derived target, `cmake --build` cannot be used to build the Python docs (necessitating the reversion in PR #3534).

[2021-02-20 02:30] teju85 commented on #3532
@dantegd the request is not only about the docstring but providing a uniform support inside the *implementation* of all these algos for the input label types. IOW, I think it is fine to keep these types separate based on the algo at the `libcuml++` layer. But at the python layer, we should add a type converter logic which will type-cast to the right type as expected by the C++ layer.

From your ab

[2021-02-20 11:12] miguelusque commented on #2822
Hi!

I think this feature request is still relevant.

Regards,
Miguel

[2021-02-20 12:25] teju85 commented on #3302
This is being targeted for 0.19 release and @Nyrio is working towards it. So, certainly not stale.

[2021-02-20 19:08] lowener opened #3536 "[BUG] MBSGD stress test failures"
**Describe the bug**
Stress test failures due to `cudaErrorMemoryAllocation`

**Steps/Code to reproduce bug**
`pytest --run_stress -v python/cuml/test/test_mbsgd_regressor.py::test_mbsgd_regressor_vs_skl[500000-1000-500-f64-constant-none]`

**Additional context**
Stack trace:
[logs_mbsgd.txt](https://github.com/rapidsai/cuml/files/6016076/logs_mbsgd.txt)

[2021-02-22 06:01] teju85 commented on #3525
After discussions with @vinaydes , it appears that unfortunately, our current approach of using no temporary memory for generating uniform feature sampling does NOT work with weighted sampling! :(

[2021-02-22 06:28] vinaydes commented on #3525
It can be made to work, but the computational cost would be too high as we are trading extra compute for zero memory.

[2021-02-22 06:50] teju85 opened #3537 "[FEA] Ability to generate feature index sets for each data sample on RF trees"
**Is your feature request related to a problem? Please describe.**
For each bootstrap data sample that was used to build a tree in the RF, we need to generate a list of feature indices that were used to arrive at the leaf node for that sample. Such index sets could further be used for higher-order feature interaction analysis using algorithms like [RIT](http://www.statslab.cam.ac.uk/~rds37/papers/

[2021-02-22 06:58] teju85 opened #3538 "[FEA] Ability to train larger datasets from managed memory (atleast for RF)"
**Is your feature request related to a problem? Please describe.**
If the dataset is large enough not to fit in the GPU memory, we should be able to provide an option for the users to train RF model by keeping the dataset entirely on managed-memory.

This can be a more generic request for all algos in cuML. However, to begin with, we could limit ourselves to RF algo.

**Additional context**
We sho

[2021-02-22 07:05] teju85 opened #3539 "[FEA] Support for other ways to do MNMG-RF"
**Is your feature request related to a problem? Please describe.**
Current MNMG RF is more like a model-parallel approach. We distribute the data among the workers and also distribute the work of building separate trees on each of them. Each worker then builds a tree based on *only* the data that is available to it.

Although, this is an embarrassingly parallel approach to build trees in RF. This

[2021-02-22 10:28] teju85 opened #3540 "[BUG] Update CMakeLists_standalone.txt for cuML cpp examples"
We currently have 2 examples dbscan and kmeans showing how to setup a C++ project and use libcuml++ inside them. They also come with `CMakeLists_standalone.txt` which are supposed to be used by such folks to start right-off-the-bat. However, they don't seem to be updated, especially after all the library-related changes that have went into the cmake files of cuML project. We should keep these stan

[2021-02-22 10:48] akifcorduk commented on #3540
The minimum standalone possible Cmake configuration that works for me:
[code]

Blas package found by cmake's find_package was incompatible with Faiss library. So it is required to give the blas library path of the conda environment as a cmake argument. I also had to copy raft include directory(which was under include/cuml/) to one level higher(include/) to be able to find raft header files in my p

[2021-02-22 14:04] lowener opened #3541 "[BUG] CUDA OOM in multiple Stress Test for v0.18"
**Describe the bug**
Stress test failures due to out of memory errors.

Concerned tests:
*PCA*
- python/cuml/test/test_pca.py::test_pca_fit_then_transform[blobs-True-ndarray-float32]
- python/cuml/test/test_pca.py::test_pca_fit_then_transform[blobs-True-ndarray-float64]
- python/cuml/test/test_pca.py::test_pca_fit_then_transform[blobs-False-ndarray-float32]
- python/cuml/test/test_pca.py::test_pca

[2021-02-22 15:31] dantegd commented on #3541
@lowener I was wondering if you could attach information about the system it was run, it would be useful for reference. Running and attaching the output of https://github.com/rapidsai/cuml/blob/branch-0.19/print_env.sh

[2021-02-22 15:34] lowener opened #3542 "[BUG] KMeans score bug in stress test v0.18"
**Describe the bug**
Significant difference in score for kmeans:
`actual = -7648552.0, desired = array(-7648742.5, dtype=float32), rtol = 1e-05`

**Steps/Code to reproduce bug**
`pytest --run_stress -v python/cuml/test/test_kmeans.py::test_score[50-10-500000]`

**Additional context**
[logs_kmeans.txt](https://github.com/rapidsai/cuml/files/6023057/logs_kmeans.txt)

[2021-02-22 15:42] dantegd commented on #3538
I believe @cjnolet has done some performance analysis of Naive Bayes with managed memory (correct me if I'm misremembering).

But it would be excellent to have a comprehensive list of results for different types of algorithms! Another thing that will be very useful that is coming very soon is using FAISS 1.7 (#3509 ) that allows for plugging a memory manager, so we should be able to have a single

[2021-02-22 15:50] lowener commented on #3541
I updated the issue.

[2021-02-22 15:54] cjnolet commented on #3538
Here's the original issue about pluggable management filed with the FAISS team: https://github.com/facebookresearch/faiss/issues/1203

[2021-02-22 16:49] brunogasperini opened #3543 "[FEA] Allow FIL-loaded xgboost models to predict on dataframes with null values"
Hello RAPIDS team,

I'm trying to use FIL to score a cudf object which has null values, but I am getting an error suggesting me to replace these null values.

I'm using an XGBoost (trained on GPU) model which was trained on data that has null values. Not sure if it matters, but my model object is the standard XGBoost binary format.

I went over the API documentation but couldn't find anything rela

[2021-02-22 17:13] drobison00 commented on #3543
@wphicks Any thoughts on this?

[2021-02-22 17:17] brunogasperini commented on #3543
Sorry, forgot to mention I'm using `cuml=0.15.0`. I went through the changelog files for the more recent versions, but couldn't find any updates regarding FIL and missing values.

[2021-02-22 17:22] JohnZed commented on #3435
Closed by #3489

[2021-02-22 17:22] #3435 closed

[2021-02-22 18:18] wphicks opened #3544 "[FEA] Add tips for faster build times to BUILD.md"
Adding this mostly for my own sake to keep track of this. We should add tips for using existing tools and settings to improve build times to BUILD.md

[2021-02-22 19:36] wphicks commented on #3543
Right now, we are converting to a cupy array before running inference via the `input_to_cuml_array` function. Because `cupy` does not currently support `null` values, we cannot accept `cudf` input with nulls. This is not just a limitation on `FIL` but on a broad swathe of our estimator infrastructure. @mdemoret-nv: Thoughts on potential workarounds in future development in that direction?

It does

[2021-02-22 20:49] brunogasperini commented on #3543
Thanks for the suggestion, @wphicks. Initially, I had them with NaNs, but then it consumed too much memory (so with null values I can move from float to int type).

[2021-02-22 21:39] Nanthini10 commented on #3133
Merged https://github.com/rapidsai/cuml/pull/3409

[2021-02-22 21:39] #3133 closed

[2021-02-22 22:50] cjnolet commented on #3371
@divyegala is trying out the hash table optimization in [this PR](https://github.com/rapidsai/cuml/pull/3479)

[2021-02-22 23:02] dantegd commented on #3543
@wphicks in general it is not a trivial change by any means, particularly for C++ based algorithms, and probably would be a case by case on how easy it is for each algorithm. For the general python infrastructure, the cuda array interface has  a `mask` attribute which we can use being while being dtype agnostic to not run into the CuPy limitation, or dtype size inflation as @brunogasperini points

[2021-02-22 23:03] cjnolet commented on #3456
I'm a little stuck on the utility of this one. While it's possible to do in Scikit-learn, sparse datasets tend to assume extremely high dimensionality and I can't think of any use-cases off the top of my head that would require having to train a sparse model with extremely high dimensional data and then later querying that sparse model w/ a dense representation of that data.

@teju85, @jeaton32, d

[2021-02-23 01:29] mdemoret-nv commented on #3543
I agree with everything @dantegd said above. Fixing this issue library-wide would be more complex than supporting an additional array input type that can handle `null` values. Converting all arrays to `cupy` is necessary because it allows our C++ API to take a single `double`/`float` pointer for the input data. Just from an interface perspective, supporting `null` values would require changes to m

[2021-02-23 02:05] brunogasperini opened #3547 "[QST] Which iteration does FIL use for prediction a XGBoost with early stopping?"
Hello RAPIDS Team,

I'm using FIL to get predictions from an XGBoost model (loaded from the standard XGBoost binary format). The model has been trained with early stopping.

If I were to use the standard `predict()` method from XGBoost, I could get the predictions from the best iteration (and not last iteration) with `pred = bst.predict(dtest, ntree_limit=bst.best_ntree_limit)`, where `bst` is the

[2021-02-23 12:55] lowener opened #3548 "[BUG] Dask datasets stress tests fails"
**Describe the bug**
Stress tests of `dask/test_datasets.py` are failing because of output difference.
Concerned tests:

- python/cuml/test/dask/test_datasets.py::test_make_regression[False-F-23-True-True-1.0-0.5-6--4.0-1-7-1000-1000000]
- python/cuml/test/dask/test_datasets.py::test_make_regression[False-F-23-True-True-1.0-0.5-6--4.0-3-7-1000-1000000]
- python/cuml/test/dask/test_datasets.py::tes

[2021-02-23 14:42] viclafargue commented on #3197
Closed by #3307

[2021-02-23 14:42] #3197 closed

[2021-02-23 14:47] viclafargue commented on #1882
Old issue, now irrelevant.

[2021-02-23 14:47] #1882 closed

[2021-02-23 15:13] lowener commented on #3295
This is still a problem as of v0.18.

[2021-02-23 15:42] dantegd commented on #3541
I wonder if this and #3548 are due to the 16 GB in the P100 GPUs, perhaps we should check the required memory for the stress tests and document and add appropriate failures to the suite. cc @JohnZed

[2021-02-23 16:18] beckernick commented on #3523
Agreed. Bootstrapped standard errors would be very appealing and appropriate, within the context of performance considerations

[2021-02-23 16:38] beckernick commented on #669
I think it may be worth re-opening this issue for tracking purposes.

A variety of issues exist requesting the ability to specify observation-level weights for various estimators and primitives. As the implementation may need to vary across estimators, it may make sense to keep these issues separate but linked together like an epic. Perhaps this issue can serve as that link, as it's the most broad

[2021-02-23 17:14] JohnZed commented on #669
Long term definitely viable. We will evaluate in more detail whether it can make it into 0.19 and mark it as P1 or P0 if so.

[2021-02-23 17:22] lowener commented on #2920
The stress tests of `test_fil.py` and `test_nearest_neighbors.py` listed here are still failing as of v0.18.

[2021-02-23 17:56] #3377 closed

[2021-02-23 17:57] wphicks commented on #3543
Seeing the mask attribute, I agree that we could potentially do this in a limited subset of estimators more easily than I'd initially envisioned. I'll go ahead and edit the description accordingly, and we can think about possible approaches from there.

[2021-02-23 19:21] drobison00 commented on #3547
@wphicks Do you know the answer here?

[2021-02-23 19:22] wphicks commented on #3547
Deferring to @canonizer.

[2021-02-23 19:22] drobison00 commented on #3536
Can this, https://github.com/rapidsai/cuml/issues/3541, and https://github.com/rapidsai/cuml/issues/3548 all be rolled into a single bug report, or do you think they're all sufficiently different?

[2021-02-23 19:49] beckernick commented on #206
This was implemented in https://github.com/rapidsai/cuml/pull/2645 . It's currently in the experimental namespace, and https://github.com/rapidsai/cuml/issues/3483 tracks moving it out of the experimental namespace. See https://docs.rapids.ai/api/cuml/nightly/api.html#cuml.experimental.preprocessing.Normalizer for the current documentation.

[2021-02-23 19:49] #206 closed

[2021-02-23 20:00] beckernick commented on #1092
This has been resolved by a combination of https://github.com/rapidsai/cuml/pull/2411 and https://github.com/rapidsai/cuml/pull/3040

Closing!

[2021-02-23 20:00] #1092 closed

[2021-02-23 20:03] beckernick commented on #1054
This has been resolved as of the current nightlies. @WEldred please re-open if this issue pops up for you again.

[code]

[2021-02-23 20:03] #1054 closed

[2021-02-23 20:21] beckernick commented on #1387
@cjnolet is this now ready to be closed given the various enhancements to dask, cuml, and cupy?

[2021-02-23 20:24] beckernick commented on #1595
This has been implemented and is documented here: https://docs.rapids.ai/api/cuml/nightly/api.html#cuml.metrics.roc_auc_score

[2021-02-23 20:24] #1595 closed

[2021-02-23 20:27] beckernick commented on #1596
This has been implemented and is available via `cuml.metrics.log_loss`. We may need to update the documentation, as I don't see it listed (updating this issue to reflect that).

[2021-02-23 21:08] cjnolet commented on #1387
@beckernick, absolutely it is. Thank you for bringing this to my attention!

[2021-02-23 21:08] #1387 closed

[2021-02-23 21:38] canonizer commented on #3547
FIL imports models (including XGBoost models) via treelite. It then predicts using all the trees in the treelite model. As far as I can tell, treelite doesn't have the concept of the best iteration, and so FIL cannot use it.

There are the following questions then, about what happens in case of early stopping rounds:

1. How many trees does XGBoost save into JSON in case of early stopping? Are all

[2021-02-23 22:01] beckernick commented on #3125
For folks thinking about this issue, I suspect this function which is part of the estimator check will trip us up https://github.com/scikit-learn/scikit-learn/blob/95119c13af77c76e150b753485c662b7c52a41a2/sklearn/utils/estimator_checks.py#L2512

[2021-02-24 02:53] #3477 closed

[2021-02-24 04:18] ramanan-subramanian opened #3553 "[QST] Any existing / in-development hyperparameter tuning wrappers?"
My team has been working with the cuML library to try and see if we can train models with hyper-parameter optimisation, similar to how we would optimise for scikit-learn estimators with `GridSearchCV`. We were unsuccessful in finding any such meta-estimators native to the Rapids library.

We then tried a benchmark: train both (1) `scikit-learn` `RandomForestClassifier`  and (2) `cuML` `RandomFores

[2021-02-24 11:29] lowener commented on #3536
I joined this issue and #3541 together because they are both Cuda Memory issues. #3548 is different because it's an output difference.
I'm closing this one.

[2021-02-24 11:29] #3536 closed

[2021-02-24 15:44] cjnolet opened #3555 "[FEA] Move FusedL2NN To Raft"
This is a requirement for the knn graph connectivity algorithm in SLHC & HDBSCAN

[2021-02-24 15:58] beckernick commented on #3553
https://rapids.ai/hpo provides an overview of the hyperparameter optimization frameworks with which RAPIDS integrates, many of which can run entirely on GPUs. Notebook examples can be found in https://github.com/rapidsai/cloud-ml-examples, for a variety of frameworks, including Optuna, Dask-ML, Hyperopt, SageMaker, AzureML, and more.

Regarding the overall performance, how large is your dataset an

[2021-02-24 21:44] ardaasik opened #3556 "[FEA] Making predictions with serialized models without a gpu."
**Is your feature request related to a problem? Please describe.**

I have been impressed with the training and processing speeds of Rapids.ai stack and I am really enjoying it lately, however it is not very practical when you need to deploy the trained model since you need to create a fairly big conda environment on a target system that requires a gpu and cuda. It makes it impossible to put your

[2021-02-24 23:53] dantegd commented on #3406
Results have been updated with 11.2 update 1

[2021-02-25 00:10] #3234 closed

[2021-02-25 00:33] wphicks commented on #3234
We finally got this fixed up in #3497, so you should be able to make use of the next nightly build if this has been a blocker for you. The nightly build should be posted sometime tomorrow morning (US Pacific time), and you'll be able  to install it in a fresh conda environment named "rapids-core-0.19" via (adjust cudatoolkit version to meet your needs):

[code]

If for any reason you still see an

[2021-02-25 05:35] teju85 commented on #3531
Here's one use-case that requires this attribute to be present: https://github.com/willb/fraud-notebooks/blob/develop/03-model-random-forest.ipynb

[2021-02-25 14:32] trivialfis commented on #2980
Adding myself to this thread.  I would like to take a look into t-sne impl in cuml too.

[2021-02-25 16:37] drobison00 commented on #3553
@ramanan-subramanian Does this approach to HPO work for what you're trying to do?

[2021-02-25 16:56] drobison00 commented on #3556
Hi @ardaasik RAPIDS requires a compute capability of 6.0, so you might look into something like a Jetson TX2 as a possible edge device.

Can you provide more information on the specific device constraints your working with, and the models you want to run?

[2021-02-25 16:59] JohnZed opened #3559 "[FEA] Support sample_weights in logistic regression"
Part of #669

We would like to support sample_weights in logistic in the same manner used in sklearn.

[2021-02-25 17:10] JohnZed commented on #3518
Dupe of #3099

[2021-02-25 17:10] #3518 closed

[2021-02-25 17:38] JohnZed opened #3560 "[FEA] Add python context manager for nvtx ranges"
Right now we need to pair push and pop for nvtx ranges. Would be convenient and pythonic to have a context manager to do:

[code]

with no matching pop needed. Would be safer in the case of exceptions or early returns as well

[2021-02-25 17:42] JohnZed opened #3561 "[BUG] Rare unspecified launch failure in random projection RandomMatrixCheck test"
Seen in: https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci/job/cuml/job/prb/job/cuml-gpu-test/CUDA=11.0,GPU_LABEL=gpu-a100,OS=ubuntu18.04,PYTHON=3.8/667/

Example failure: ```
23:11:38 [----------] 2 tests from RPROJTestF2
23:11:38 [ RUN      ] RPROJTestF2.RandomMatrixCheck
23:11:39 unknown file: Failure
23:11:39 C++ exception with description "CUDA error encountered at: file=/opt/conda/en

[2021-02-26 05:48] moi90 commented on #3198
@hcho3 Thanks for the explanation.

Still, the documentation should not be silent about this issue, as it will be a common setup.

[2021-02-26 10:19] tfeher commented on #1310
This was implement by #2132.

[2021-02-26 10:19] #1310 closed

[2021-02-26 10:23] tfeher commented on #947
The training can still converge if the diff parameter oscillates. This will be addressed with a debug message which gives advice how to improve the convergence.

[2021-02-26 11:11] tfeher commented on #3356
SVM had a memory bug that was fixed recently #3233. Additionally, there is a known issue with the memory consumption of SVM #2122. I am closing this issue as a duplicate of those. Feel free to reopen if you think your issue is unrelated the aforementioned issues.

[2021-02-26 11:11] #3356 closed

[2021-02-26 11:30] tfeher commented on #2603
The [convert_dtype arg description](https://docs.rapids.ai/api/cuml/nightly/api.html#cuml.svm.SVC.fit) already explains that "When set to True, the train method will, when necessary, convert y to be the same data type as X if they differ. This will increase memory used for the method."

The extra O(n_rows) runtime that the dtype copy adds is negligible compared to the O(n_rows^2) - O(n_rows^3) run

[2021-02-26 11:30] #2603 closed

[2021-02-26 14:49] viclafargue commented on #3561
I ran the Pytest and C++ tests with compute-sanitizer. It appeared that only the C++ test named `QuasiNewtonTest.multiclass_logistic_vs_sklearn` has an error : `Invalid __global__ read of size 8 bytes`. This may create some problems with following tests that include random projection. However, other causes are not to exclude, as this problem first appeared on this specific FAISS upgrade PR.

[2021-02-26 15:03] beckernick opened #3563 "[FEA] Propagate original function name through decorators"
When profiling NearestNeighbors with [snakeviz](https://jiffyclub.github.io/snakeviz/) I noticed that the wrapped name of the `kneighbors` method is "inner_get", from the API decorator internals. If possible, it would be nice to propagate the name "kneighbors" through the stack of decorators. It's possible that this also happens to other methods, too.

In profiling of larger workflows, it would be

[2021-02-26 17:45] drobison00 commented on #32
@dante Is this still an issue that is being looked at?

[2021-02-26 17:46] drobison00 commented on #81
@cjnolet Is this still an ongoing issue?

[2021-02-26 18:02] cjnolet commented on #81
I'm going to close this because we are actually working to remove the cutlass dependency so we can eventually move our dense distance prims to raft.

[2021-02-26 18:02] #81 closed

[2021-02-26 18:16] drobison00 commented on #186
@cjnolet Is this still something being worked on?

[2021-02-26 18:19] drobison00 commented on #191
@dantegd Since we don't support pip, is this good to close?

[2021-02-26 23:03] #3228 closed

[2021-02-26 23:03] dantegd commented on #3224
Issue superseded by #3517

[2021-02-26 23:03] #3224 closed

[2021-02-27 19:19] WangWenhao0716 commented on #3302
The 0.19 nightly version is online, and I want to know whether or when the "precomputed" choice will appear in this nightly version? Thanks a lot!

[2021-03-01 03:24] teju85 commented on #3302
@WangWenhao0716 the work has currently not started, but for sure we'll be filing PR during this month. We'll update this issue once this feature hits nightly builds.

[2021-03-01 03:26] WangWenhao0716 commented on #3302
@teju85 Thanks a lot for your contribution.

[2021-03-01 15:17] beckernick opened #3567 "[BUG] Confusion matrix should convert dtype as necessary"
`confusion_matrix` should automatically convert dtypes as appropriate in order to avoid failing, like other metric functions.

[code]

[code]

[2021-03-01 16:03] rsshah1993 commented on #3360
+1 to this issue. TSNE hangs with 100% GPU utilization with no errors or warnings. Only happens on certain datasets. Was able to replicate this error on both 0.17 and 0.18.

Environment Details:
Environment location: Docker
Linux Distro/Architecture: ubuntu18.04

Docker environment with image based off: nvidia/cuda:10.2-cudnn7-devel-ubuntu18.04

Method of cuDF & cuML install:
conda install -c rapi

[2021-03-01 16:33] bingoko opened #3568 "[BUG] cudaErrorInvalidValue:invalid argument for large dataset"
**Describe the bug**
I ran the official demo code provided by Rapids.AI (Random Forest classifier, https://docs.rapids.ai/api/cuml/stable/api.html#random-forest).
It ran ok with small dataset. However, when I increased the size of the dataset 1000x, it throughs a runtime error.

**Steps/Code to reproduce bug**
[code]
If we reduced the number above, there is no bug at all.

**Expected behavior**
Th

[2021-03-01 17:01] #3471 closed

[2021-03-01 17:22] lowener opened #3569 "[BUG] CI failures on test_hinge_loss"
**Describe the bug**

A fail of `cuml.test.test_metrics.test_hinge_loss[2-cudf-30-10-7] ` was detected during a recent CI job:
https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci/job/cuml/job/prb/job/cuml-gpu-test/CUDA=10.2,GPU_LABEL=gpu,OS=centos7,PYTHON=3.8/706/testReport/junit/cuml.test/test_metrics/test_hinge_loss_2_cudf_30_10_7_/

I will mark this test as XFAIL in order to continue the

[2021-03-01 18:29] jsignell commented on #3234
Sorry I forgot to report back. We ended up setting `nthreads=1` in the dask cluster and that was a good enough workaround for now.

[2021-03-01 18:52] cjnolet commented on #3371
I just noticed a  very subtle but important optimization to the current COO SPMV kernel:

Our stride pattern across the nnz of B is currently in warp sequential order (e.g. two warps would process in the order of `warp1, warp2, warp1, warp2`). This is not the optimal stride, as the rows that span both warp1 and warp2 for any chunk will need at at least 2 (or n_warps of span) atomic reduces.

A ver

[2021-03-01 19:27] drobison00 commented on #3568
I'm not able to repro this exact behavior locally; however, running the repro code I do get the error below.
@wphicks @hcho3 Any thoughts.

[code]

[2021-03-01 19:36] drobison00 commented on #3568
@bingoko It shouldn't be an issue with data of this size, but can you just verify that you're not running out of memory during this process, just to be safe.

[2021-03-01 19:40] drobison00 commented on #3569
@Nanthini10 Do you want to take this?

[2021-03-01 19:48] Nanthini10 commented on #3569
Yes, I'm looking into this @drobison00

[2021-03-01 21:39] bingoko commented on #3568
@drobison00  Thanks.

I did the test on different machines, it works fine on RTX 2080 Ti (11GB) machine. I think the problem comes from GPU hardware. Old GPU seems cannot deal with this size of the data.

Is there any way to sort this data size issue out in the software layer?

[2021-03-02 04:48] #947 closed

[2021-03-02 08:49] rilango opened #3571 "[BUG] cuml.dask.neighbors.NearestNeighbors: Crash with core dump on compute...."
[code]

Following error occurs on compute(). There is a core dump created. Please let me know how I can share it.

tornado.application - ERROR - Exception in callback functools.partial(<bound method IOLoop._discard_future_result of <zmq.eventloop.ioloop.ZMQIOLoop object at 0x7f36a3e9dd90>>, <Task finished coro=<UCX.close() done, defined at /opt/conda/envs/rapids/lib/python3.7/site-packages/distrib

[2021-03-02 17:36] beckernick commented on #3523
After doing some research, we should be able back out the covariance matrix and thus the analytical standard errors from the logit coefficients predicting on the original data, which is likely sufficient for some use cases.

[2021-03-02 17:38] beckernick commented on #3523
After doing some research, we should be able back out the covariance matrix and thus the analytical standard errors from the logit coefficients predicting on the original data, which is likely sufficient for some use cases.

[code]

[2021-03-02 19:12] #3319 closed

[2021-03-03 09:01] trivialfis opened #3573 "[BUG] Incorrect delete in `csr_add_calc_row_counts_kernel`"
https://github.com/rapidsai/cuml/blob/9fa6e17de0127384899009439c3bf100f74b0deb/cpp/src_prims/sparse/linalg/add.cuh#L92

The correct version should be `delete[] arr` instead of `delete arr`?  I haven't run into any failing test, just found it while browsing the code.

[2021-03-03 09:02] trivialfis commented on #3573
Happy to open a PR if that's a bug.

[2021-03-03 09:37] teju85 opened #3574 "[FEA] FIL to support col-major inputs"
**Is your feature request related to a problem? Please describe.**
cuML RF training expects input to be col-major whereas FIL today expects row-major. This means that users will have to maintain 2 copies of the input dataset, especially when they are trying to do k-fold CV and/or HPO. Natively supporting col-major in FIL will help minimize the memory footprint.

**Describe the solution you'd like*

[2021-03-03 14:06] frankier opened #3576 "[BUG] Checking whether array is contiguous doesn't interoperate with PyTorch (not compliant with CUDA array interface v2?)"
**Describe the bug**
Checking whether array is contiguous doesn't interoperate with PyTorch. This means passing PyTorch tensors currently appears as broken when they have more than one dimension.

**Steps/Code to reproduce bug**

With PyTorch 1.7.1 and cuml 0.18. Running the following:

[code]

Gets:

[code]

**Expected behavior**
It should work. The problem seems to be that PyTorch does not set t

[2021-03-03 16:45] cjnolet commented on #3360
@rsshah1993, we are still working to resolve this issue. While we know where the lockup is occurring on the dataset posted in this issue, we're still unsure of the root cause. It would be helpful for us to verify whether your data is indeed hanging in the same place as the dataset provided by @rilango. Are you able to provide one (or even multiple) of the datasets which are causing these hangs for

[2021-03-03 16:57] cjnolet opened #3577 "[FEA] In-place k-select for sparse knn on string matching"
One of the challenges with providing optimized primitives for sparse datasets is the large number of different degree distributions that can be encountered in practice. In some recent discussions with @teju85 @beckernick @VibhuJawa @aerdem4 and @randerzander, we have isolated some potential upper bounds specific to the string matching use-case which can offer some additional memory savings (and po

[2021-03-03 17:35] teju85 commented on #3577
@cjnolet can you please elaborate on this? Does this mean the dimensionality of such datasets are a few hundred to thousand? Or are the number of non-zero elements per row are a few hundred to thousand?

[2021-03-03 17:36] teju85 commented on #3577
and if it is the latter, do you know what's the typical dimensionality of such datasets?

[2021-03-03 17:42] cjnolet commented on #3577
@teju85,

The dimensionality (vocabulary) is expected to be high. The number of nonzeros for any given row (e.g. the number of tokens) is expected to be bounded by a few hundred to thousand.

[2021-03-03 20:04] frankier commented on #3576
Workaround: convert to cupy arrays first

[code]

[2021-03-03 21:08] beckernick opened #3580 "[FEA] Support cuDF dataframes with Decimal dtype columns as input to estimators"
As cuDF continues to implement support for Decimal columns, we should accept Decimal columns as part of dataframe inputs to cuML estimators.

In PySpark, we can do this with the following:

[code]

[2021-03-03 21:23] beckernick commented on #3580
The underlying error actually comes from cuDF, but using this issue to track the ability to accept these inputs in cuML

[2021-03-03 22:14] dantegd commented on #3560
I think we should just switch to using the `nvtx` package directly as opposes to our own wrappers https://nvtx.readthedocs.io/en/latest/ (pypy mantainers are Keith and Ashwin from cuDF) which already has context managers

[2021-03-04 06:59] ardaasik commented on #3556
Hi @drobison00, I think I failed to explain myself. I said IOT devices just for the sake of example. I belive that we shouldn't need compute capability of 6.0 - or any GPU for that matter- to be able to just predict with trained model.

Think of a solution where we can get the trained weights and somehow feed them to sklearn equivalent of the model. So that you won't even need to import cuml, enab

[2021-03-04 12:45] nuass opened #3583 "Questions about GPU memory utilization"
When I use kmeans for training, GPU memory is only used a small part, how to maximize the use of GPU memory.

 GPU Memory-Usage2360MiB / 32480MiB

[2021-03-04 19:54] rsshah1993 opened #3584 "[BUG] Silhouette Score Error"
**Describe the bug**
It appears that the calculation for the Silhouette scoring is inconsistent especially with singleton clusters. See below:

**Steps/Code to reproduce bug**
[code]
It looks like for vecs[3] (which is a singleton cluster) produces a score of 0 while vecs[4] produces a score of 1. Is this the expected behavior? Another example:

[code]

**Expected behavior**
I believe example one

[2021-03-05 03:48] venkywonka commented on #3104
@cjnolet both LOBPCG and LinearOperator PRs have been merged in cupy, just updating here ✌🏾

[2021-03-05 03:51] venkywonka commented on #3101
@cjnolet , apologies for the delay; LOBPCG has been merged in cupy [here](https://github.com/cupy/cupy/pull/4281). Updating here ✌🏾

[2021-03-05 06:33] cjnolet commented on #3104
Great work @venkywonka! Enabling sparse inputs to both TSVD and PCA (without the numerical instabilities or memory footprint of other methods) is indeed still a very important feature.

Just out of curiosity, do you have a rough idea of the speedup of the final implementation?

[2021-03-05 15:11] #2807 closed

[2021-03-05 15:46] venkywonka commented on #3104
So, roughly getting top 25 (k) eigenvalues from a sparse diagonal matrix of size 5000x5000 (n) is 5 times faster in cupy than scipy.
the more the k, more speedup.

[2021-03-07 17:31] dantegd commented on #3462
This has been closed by #3257 in the `ClusterMixin`:

https://github.com/rapidsai/cuml/blob/branch-0.19/python/cuml/common/mixins.py#L263

[2021-03-07 17:31] #3462 closed

[2021-03-08 09:01] frankier opened #3587 "[BUG] Importing CuML 0.19 nightly makes PyTorch 1.8.0 freeze on tensor creation"
**Describe the bug**
CuML 0.19 seems to cause problems with PyTorch 1.8 (Python 3.8.8, CUDA 10.2)

**Steps/Code to reproduce bug**

[code]

**Expected behavior**
A random tensor in GPU memory is printed

**Actual behaviour**

Frozen with 100% CPU usage. py-spy says it's on the line `x = torch.rand(4, 2, device=cuda_dev, dtype=torch.float)`

**Environment details (please complete the following info

[2021-03-08 09:22] frankier opened #3588 "[DOC] More guidance about concurrent usage for many small problems on single GPU"
## Report needed documentation

Firstly, thanks for the project! I'm really looking forward to being able to combine these classical ML approaches with deep learning all on the GPU.

There should be some kind of example of solving multiple small problems e.g. with `LogisticRegression` concurrently from Python. Currently it's not clear how best to do this, or to what extent it is even supported. Sa

[2021-03-08 13:40] Nyrio commented on #2387
This is not an inactive issue. This optimization is important for DBSCAN's performance and it is in my backlog.

[2021-03-08 13:42] lowener commented on #3573
Yes I agree with you it should be `delete[]`. You can create the PR with the change.

[2021-03-08 14:18] Nyrio commented on #2953
I believe the question has been answered.

[2021-03-08 14:18] #2953 closed

[2021-03-08 15:08] wphicks commented on #3569
Seeing a similar but slightly different version of this here: https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci/job/cuml/job/prb/job/cuml-gpu-test/CUDA=11.0,GPU_LABEL=gpu-a100,OS=ubuntu18.04,PYTHON=3.8/712/testReport/junit/cuml.test/test_metrics/test_hinge_loss_5_cupy_30_10_7_/

[2021-03-08 15:59] wphicks opened #3590 "[BUG] Invalid read in logSoftmaxKernel discovered by compute-sanitizer in test_metrics.py"
Running compute-sanitizer on the Python tests in test_metrics.py shows an invalid read in `ML::GLM::logSoftmaxKernel`. See output in [this gist](https://gist.github.com/wphicks/0182dd17ced81222e7a7beb173f3fe9c#file-full_run-txt-L301) for details.

[2021-03-08 16:03] wphicks opened #3591 "[BUG] Unspecified launch failure while running test_metrics.py under compute-sanitizer"
When running Python tests under compute-sanitizer, an unspecified launch failure terminates execution, as shown [here](https://gist.github.com/wphicks/0182dd17ced81222e7a7beb173f3fe9c#file-full_run-txt-L2812).

[2021-03-08 16:04] wphicks opened #3592 "[Tracker] Eliminate errors discovered while running Python tests under compute-sanitizer"
This issue will serve as a tracker for issues discovered while running Python tests under compute-sanitizer. The full outputs from invocations with and without `--quick_run` are available in [this gist](https://gist.github.com/wphicks/0182dd17ced81222e7a7beb173f3fe9c). Quick run invocation errored out after 15 hours. Full run errored out after 20 hours. Once the errors that prevented completion ar

[2021-03-08 16:54] wphicks commented on #3496
Got an initial run of this to go through while I was on vacation. Quick run errored out after 15 hours and full run errored out after 20 hours. I've opened #3592 to track issues discovered with compute-sanitizer, so I think we can close this out and continue discussion/work there.

[2021-03-08 16:54] #3496 closed

[2021-03-08 17:26] #3459 closed

[2021-03-09 13:32] lowener commented on #3571
I am running in a different error while trying to reproduce this, in the `fit_transform()` method of PCA.

Here are the details of my crash:
- Environment location: Docker
- Linux Distro/Architecture: ubuntu18.04
- GPU Model/Driver: GV100 and driver 440.64
- CUDA: 11.0
- Method of cuDF & cuML install:
- Container derived from rapidsai/rapidsai-dev:0.19-cuda11.0-devel-ubuntu18.04-py3.8

Code:
[code

[2021-03-09 15:40] lowener commented on #3583
Hi, can you provide us more details on your usage of KMeans? The dataset you're using, it's size, and an example of your use of KMeans?

[2021-03-09 22:25] weiji14 commented on #2823
I'm getting a similar issue with [DBSCAN](https://docs.rapids.ai/api/cuml/stable/api.html?highlight=dbscan#cuml.DBSCAN) too on `cuml=0.18` and was wondering why the warnings couldn't be silenced. Also tried using a `with` block but that didn't seem to work either:

[code]

[code]

[2021-03-10 05:13] kshitizgupta21 opened #3597 "[BUG] train_test_split with stratify=True not working"
**Describe the bug**
`cuml.preprocessing.model_selection.train_test_split` not making stratified splits with `stratify=True`

Additionally, `stratify` in cuml's [train_test_split](https://docs.rapids.ai/api/cuml/stable/api.html?highlight=train_test_split#cuml.preprocessing.model_selection.train_test_split) seems to have different syntax compared to sklearn. In cuml docs we read that `stratify` is

[2021-03-10 05:38] kshitizgupta21 opened #3598 "[DOC] Doc for OneHotEncoder's `sparse` says it's False by default but it's actually True by default"
## Report incorrect documentation

**Location of incorrect documentation**
https://docs.rapids.ai/api/cuml/stable/api.html?highlight=one%20hot%20encoder#cuml.preprocessing.OneHotEncoder

**Describe the problems or issues found in the documentation**
Documentation says `sparse=False` by default but it's actually true by default

**Steps taken to verify documentation is incorrect**
[code]
**Suggeste

[2021-03-10 05:55] kshitizgupta21 opened #3599 "[BUG] Not able to add missing indicator in SimpleImputer"
**Describe the bug**
Not able to add missing indicator in SimpleImputer. Doing so leads to `AttributeError: module 'cupy' has no attribute 'setdiff1d'`.  And indeed from the cupy vs numpy [comparison table](https://docs.cupy.dev/en/stable/reference/comparison.html) it seems like cupy has no setdiff1d function like numpy.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Be able to add

[2021-03-10 15:39] hcho3 opened #3602 "[BUG] Using latest libfaiss causes RAFT handle constructor to hang"
**Describe the bug**
Using the latest `libfaiss` package (1.7.0) causes the RAFT handle constructor to hang.

**Steps/Code to reproduce bug**
1. Create a fresh Conda environment from conda/environments/cuml_dev_cuda11.0.yml:
[code]
2. Build `libcuml` from the source:
[code]
3. Run a single Google C++ test which will hang:
[code]
4. Now downgrade `libfaiss` to 1.6.3 and then re-build `libcuml`:
[co

[2021-03-10 16:00] dantegd commented on #3602
This is quite interesting, I just tried to repro locally with no issues:
[code]
And CI also uses `libfaiss` 1.7 now. @hcho3 could you also attach the output of https://github.com/rapidsai/cuml/blob/branch-0.19/print_env.sh to help isolate the factor that is causing this?

[2021-03-10 19:43] hcho3 commented on #3602
Here is the output of print_env.sh:
<details><summary>Click here to see environment details</summary><pre>

     **git***
     commit 8b78fa34c4b2f4a0beb952f74387bd749fdb30e2 (HEAD -> branch-0.19, origin/branch-0.19, origin/HEAD)
     Author: levsnv <36520083+levsnv@users.noreply.github.com>
     Date:   Tue Mar 9 20:34:03 2021 -0800

     Add predict_proba() to XGBoost-style models in FIL C++ (#2

[2021-03-10 19:44] hcho3 commented on #3602
Also, I get the following error when I try to run the gtest executable for the first time:
[code]
The error goes away when I run `./build.sh libcuml` the second time, but then the test hangs.

[2021-03-10 21:47] dantegd commented on #3602
Can't see anything particularly out of place in your environment. The weirdest part is that the current `branch-0.19` is _not_ compatible with faiss 1.6.3 AFAIK (@viclafargue feel free to correct me)

[2021-03-11 00:09] hcho3 opened #3604 "[BUG] GCC 7.5 fails to build cuML in a Docker container"
**Describe the bug**
I tried building cuML from the source within a Docker container, and got the error message

This error is despite the documented support for GCC 7.x in cuML.

**Steps/Code to reproduce bug**
Here is the Dockerfile:
[code]
With this Dockerfile, I tried building the latest cuML from the source:
[code]

**Expected behavior**
The build should succeed.

**Environment details (pleas

[2021-03-11 00:13] dantegd commented on #3604
I believe what you are seeing has been documented with a solution here https://docs.rapids.ai/notices/rdn0002/

[2021-03-11 00:28] hcho3 commented on #3604
Got it. Let me try the solution in that link. If it work, I'll submit a pull request to update the build instruction in `BUILD.md`. Thanks!

[2021-03-11 05:06] hcho3 commented on #3602
This is interesting: I tried waiting a while and got
[code]

So it's not indefinite waiting; the test just take a looong time. Perhaps there's some JIT compiling going on?

[2021-03-11 07:17] hcho3 commented on #3602
Indeed, the test runs very fast when I run it the second time. It must be due to JIT.

[2021-03-11 09:28] teju85 opened #3606 "[FEA] use bin-id's instead of raw-values on computeSplit* kernels of RF"
**Is your feature request related to a problem? Please describe.**
Today, inside the `computeSplit*` kernels of RF, we loop over the quantile thresholds to compute bin-id's and use this info to then compute split metrics. Thus, we are repeatedly doing this computation on every sample at every node.

**Describe the solution you'd like**
Thus, we need to precompute the bin-id's of every value in the

[2021-03-11 10:45] frankier commented on #3587
To help replicate, here is a minimal `Dockerfile` which replicates the problem:

[code]

The environment I have tested is converting this to an SIF for use with Singularity in a SLURM cluster. Here is the output of nvidia-smi on the host machine:

[code]

I would guess that it could also be replicated without Mamba/Singularity, but I haven't checked. I can supply an SIF file if you tell me where t

[2021-03-11 13:38] dantegd commented on #3602
Ah that makes sense, it totally sounds like it is jit compiling faiss for some reason, and the handle test doesn’t touch faiss so it would pass with 1.6.3. I’ll try to repro in a Turing machine later today to see if it triggers generally in gpus with compute 75.

[2021-03-11 13:38] #3604 closed

[2021-03-11 14:31] viclafargue commented on #3602
I could also see a slowdown with libfaiss 1.7.0 running on RTX 8000. This is visible on this specific test but also on other unrelated things (including things that do not use FAISS). JIT compilation might explain this. We might need to create our own version of the package with all the CUDA architectures.

[2021-03-11 14:37] dantegd commented on #3602
@hcho3 or @viclafargue could you try creating a new conda environment with the latest cuml nightly packages (like with the instructions from  https://rapids.ai/start.html#get-rapids) and see if it triggers the same? I’ll be in my computer in an hour or so.

[2021-03-11 16:02] dantegd commented on #3602
Adding info: this deos not happen with CUDA 10.2 in my 2070S machine

[2021-03-11 16:05] dantegd commented on #3602
As far as I can see in the conda-forge libfaiss `libfaiss` does include archs 75 and 80 on the CUDA 11 package, so still digging: https://github.com/conda-forge/faiss-split-feedstock/blob/df8cd2ea6e2fcbe2e55a20c30c36956d018993c4/recipe/build-lib.sh#L23

[2021-03-11 16:14] viclafargue commented on #3602
I could reproduce it on a DGX with the latest 0.19 Docker image that has libfaiss 1.6.3. It's really strange.

[2021-03-11 16:16] hcho3 commented on #3602
@viclafargue Do you mean that you experience the delay even when you build cuML with libfaiss 1.6.3 ? When I tried it, the delay only occurred with libfaiss 1.7.0.

[2021-03-11 16:31] viclafargue commented on #3602
Sorry, I did not compile again. After compilation, the problem disappeared indeed.

[2021-03-11 16:59] viclafargue commented on #3602
Do you think it is plausible that it would be related to the change in [CMakeLists.txt line 310 and 315](https://github.com/viclafargue/cuml/blob/e3bd4d518b9a46180af942251661c3d26de9a6f5/cpp/CMakeLists.txt#L310) during FAISS update? The value of `FAISS_GPU_ARCHS` needed to be set differently according to the newer version of the library. But, this value is only used for static compilation of FAISS

[2021-03-11 17:17] noob-procrastinator commented on #1783
Any development regarding HDBSCAN? Using UMAP+ HDBSCAN is quite the wonder!

[2021-03-11 17:25] cjnolet commented on #1783
@noob-procrastinator there has absolutely been progress on HDBSCAN. We are currently in the process of integrating single-linkage hierarchical clustering (https://github.com/rapidsai/raft/pull/140) as a core building block to HDBSCAN. The major challenge here was being able to scale these algorithms with a knn graph to lower the `n^2` memory requirement.

I have a draft PR open for HDBSCAN so you

[2021-03-11 17:46] wphicks commented on #3412
Linking PR #3600 in case CI failure is related

[2021-03-11 18:47] dantegd commented on #3602
Indeed, those are only used for static compilation. The conda package is generated from the conda-forge feedstock I posted above (which also adds cuda arch depending on cuda version)

[2021-03-11 18:49] hcho3 commented on #3602
Note. The hang occurs only intermittently on the bare metal. However, I found out that the issue can be reproduces reliably if I build cuML inside a Docker container:
[code]

[2021-03-11 21:49] #3598 closed

[2021-03-11 22:03] #3576 closed

[2021-03-12 01:19] JohnZed opened #3607 "[DOC] Ensure that all docstrings list when sparse inputs supported"
Kneighbors does not show that sparse inputs are permitted. Should update this but also audit other sparse-accepting models to update them too.

- [ ] Kneighbors - should update to use generate_docstring in the same style as PCA does (with a sparse flag)

[2021-03-12 06:19] frankier commented on #3587
Just to spell this one out: this does not occur when `from cuml.linear_model import LogisticRegression` is removed. That's why I'm filing it here and not with PyTorch.

[2021-03-12 12:26] teju85 commented on #3602
@hcho3 you are noticing this failure intermittently on bare-metal because the output of jit compilation gets cached in some user location, whereas this location starts fresh whenever you launch a fresh container.

[2021-03-12 16:40] Nyrio opened #3608 "[ENH] DBSCAN precomputed: modify and use `raft::matrix::slice`"
In `precomputed.cuh`, `raft::matrix::slice` could be used instead of `dist_to_adj_kernel`, but this requires adding support for a unary operation in `raft::matrix::slice`.

It's an easy change but I'm logging it for later as I don't have time to do it now.

[2021-03-12 17:09] hcho3 commented on #3347
#3609 will fix this issue.

@jameslamb Would you like to try out the updated versions of `predict()` and `predict_proba()` in #3609? In general, we try to closely match the behavior of scikit-learn; any mismatch is considered a bug.

[2021-03-12 17:19] Nanthini10 commented on #3597
Thanks for reporting this!

Yes, it's a known discrepancy from sklearn. Will update it to use any array in the future.

I've found the source of the issue with the classes, and the fix should be up soon.

[2021-03-12 19:46] dantegd commented on #3587
@frankier if I'm not mistaken this another manifestation of this issue: #3602 (cuda 10.2 shows the symptom in Pascal), and it actually is this issue https://github.com/conda-forge/faiss-split-feedstock/issues/36#issuecomment-797610944 which there is a PR in progress to solve. In the meantime, if you can use cuML 0.18 that is unaffected (if that doesn't solve things, then this would be a different

[2021-03-12 20:08] cjnolet opened #3610 "[BUG] Sparse Cosine to support empty rows"
On the diagonals for rows in a sparse matrix which don't have any nonzeros (e.g. empty rows), the computed cosine similarity will be 1. While I think this case is generally invalid, it's worth thinking through a fix because so it doesn't surprise users.

Thanks to @lowener for finding this issue.

[2021-03-13 06:30] frankier commented on #3587
Okay. I did take a quick look at that, but noted that it seemed to be specific to Turing, although you're now mentioning Pascal? Note that the GPUs used here at V100 which is Volta. Are you sure it's the same issue? I admit I did not wait more than 10 minutes ever (given it comes out of my rather meager computing allocation).

[2021-03-13 06:33] frankier commented on #3588
Looks like someone was trying to do this before here: https://github.com/rapidsai/cuml/issues/1320

[2021-03-13 06:40] frankier commented on #3587
Okay I read a bit further and it seems like lots of architectures are affected. Seems reasonable to assume it's the same issue for the time being.

[2021-03-14 20:33] #2106 closed

[2021-03-14 21:42] #2182 closed

[2021-03-15 02:58] #3347 closed

[2021-03-15 03:22] jameslamb commented on #3347
Sorry I wasn't able to get back to you before this was merged. I'd be happy to look this week and see if there are other differences with the `scikit-learn` API for classifiers.

Related to this, I looked tonight and saw that this project doesn't currently run the `scikit-learn` estimator checks (documented in ["Rolling Your Own Estimator"](https://scikit-learn.org/stable/developers/develop.html#r

[2021-03-15 11:30] Nyrio opened #3615 "[ENH] Support for scattered precomputed distance matrix for MNMG DBSCAN"
Support for precomputed distance matrices in DBSCAN was added in #3585
The precomputed distance matrix is quadratic in size, which means two things:

- If you can fit it in memory, your dataset is probably too small to take advantage of MNMG.
- Sending the complete matrix to all the nodes is long and therefore MNMG is currently extremely slow.

Is there a use case for supporting a distance matrix

[2021-03-15 14:05] frankier commented on #3587
Testing with the new faiss now

[2021-03-15 15:59] #3087 closed

[2021-03-15 15:59] #2998 closed

[2021-03-15 16:19] wphicks commented on #3465
Still relevant and still worth investigating, I think. Not a super high-priority issue at the moment, though, so no recent updates.

[2021-03-15 16:22] wphicks commented on #2046
I believe #2781 answers this specific issue. There are other issues tracking additional flexibility in logging output, so I think we can close this one out.

[2021-03-15 16:22] #2046 closed

[2021-03-15 17:15] dantegd commented on #3602
@hcho3 @viclafargue there is a new `libfaiss` package now on conda-forge that solves the issue

[2021-03-15 18:09] miguelusque commented on #2101
I think this feature request is still relevant.

[2021-03-15 18:11] #2103 closed

[2021-03-15 18:33] dantegd opened #3618 "[BUG] cuml.dask random forest pytest OOM's on 10GB GPU"
**Describe the bug**
Related to #3120, single GPU tests indeed seem to perfeclty stay under 4 GB, but the following test runs OOM on a 10GB 3080:

[code]

with

[code]

**Steps/Code to reproduce bug**
Build or install cuML and run `cuml/test/dask/test_random_forest.py::test_rf_classification_multi_class`

**Expected behavior**
Either ensure all tests run with at most 4 GB of VRAM, or add a pytest

[2021-03-15 23:48] #3610 closed

[2021-03-16 04:00] #1596 closed

[2021-03-16 05:24] #3584 closed

[2021-03-16 16:13] vinaydes opened #3620 "[BUG] Build failure while trying to use gcc/g++ 9.3 for cuML build on Ubuntu 16.04"
**Describe the bug**
Encountered following build failure while trying to build cuML

[code]

**Steps/Code to reproduce bug**
I started with Ubuntu 16.04 and created cuml-dev environment for with yaml file for 11.0
[code]
Additionally installed gcc/g++ 9.3 using:
[code]
Then I executed `cmake ../cpp && make -j 10`. While shared libraries (`libcuml.so` and `libcuml++.so`) build fine, build fails for

[2021-03-16 16:28] JohnZed commented on #3481
@wphicks is this still an issue or is it possibly related to the other quantization/percentile failures that stemmed from a now-fixed cupy issue?

[2021-03-16 16:31] wphicks commented on #3481
Unfortunately, I think this must be a separate issue. If memory serves, `cupy.percentile` is not invoked with this strategy, which is what led me to think this is distinct.

[2021-03-16 16:59] #3484 closed

[2021-03-16 17:07] JohnZed opened #3622 "[FEA] Add trivial import timeout test in CI"
When FAISS was not compiled with the right GPU architectures, load time spiked into the minutes. Could add a trivial test that just imports all relevant libraries and does one trivial CUDA operation with a timeout to confirm this has not gone crazy.

[2021-03-16 17:18] mdemoret-nv commented on #3620
I am by no means an expert on this, but I have had success compiling cuML with the conda compilers by running the following after creating the environment:
[code]
The versions of `gxx_linux-64` and `gcc_linux-64` correspond to the gcc/g++ version you would like to install and the `sysroot_linux-64` version corresponds to the desired `GLIBC_X.XX`. So the above command would install gcc/g++ 7.5 and

[2021-03-16 17:23] jakirkham commented on #3620
Yes the conda-forge compilers are cross-compilers. As a result they contain their own sysroot. By default Conda is probably installing CentOS 6 based sysroot (so GLIBC 2.12), which wouldn't work if you need GLIBC 2.17. Though conda-forge also supplies a CentOS 7 based toolchain (so GLIBC 2.17), which should work with any packages needing GLIBC 2.17 (like packages using CUDA 11.0+, which requires C

[2021-03-16 17:46] Nanthini10 opened #3623 "[FEA] Accept any column for stratify train_test_split"
**Is your feature request related to a problem? Please describe.**
Match sklearn's train_test_split to accept any array-like input to split the data in a stratified fashion.
See more: https://github.com/rapidsai/cuml/issues/3597

**Describe the solution you'd like**
https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html
Use the input to `stratify` as the cl

[2021-03-16 18:36] dantegd commented on #3602
Will close the issue since it seems that things have been fixed around, feel free to re-open or open another one if something doesn't work as expected.

[2021-03-16 18:36] #3602 closed

[2021-03-16 18:59] kshitizgupta21 opened #3625 "[DOC] ForestInference.load's model_type arg should list `xgboost_json` as supported model_type"
## Report needed documentation

**Report needed documentation**
ForestInference.load's model_type arg should list `xgboost_json` as supported model_type

**Describe the documentation you'd like**
With 1.0.0 release XGBoost authors introduced experimental support of using JSON for saving/loading XGBoost models and related hyper-parameters for training, aiming to replace the old binary internal form

[2021-03-16 20:05] hcho3 commented on #3347
@jameslamb Yes, a PR would be great. Thanks!

[2021-03-16 20:06] John-8704 opened #3626 "[BUG] How can we fit cuml KMeans on GPU and save the model and later load on a CPU machine for slower inference?"
I am trying to use KMeans in CUML for fitting the data, but for inference or prediction I want to do it on CPU? Is it possible somehow? I really need a way to predict on CPU.

[2021-03-16 20:18] #3555 closed

[2021-03-17 01:35] vinaydes commented on #3620
This solved the issue for me. Thanks @mdemoret-nv's. Although I used `conda` instead of `mamba`. I also was puzzled a little bit as even after installing these packages, `which g++` was still pointing to old compiler. Looks like the packages create environment variable `$CC` and `$CXX` which are promptly picked by `cmake`.

[2021-03-17 01:35] #3620 closed

[2021-03-17 05:24] kshitizgupta21 opened #3627 "[DOC] FIL documentation still says it doesn't support multi-class classification"
## Report incorrect documentation

**Location of incorrect documentation**
https://docs.rapids.ai/api/cuml/stable/api.html?highlight=forest%20inference#cuml.ForestInference

**Describe the problems or issues found in the documentation**
Based on https://github.com/rapidsai/cuml/issues/2174 it seems like multi-class classification is supported in FIL so the doc is misleading when it says under Know

[2021-03-17 12:29] viclafargue commented on #3626
This code seems to be working:

[code]

[2021-03-17 14:25] Demokritus opened #3628 "How to install CUML correctly if the system GLIBC version is different from the value specified in the package?"
Each time I try to import cuml in python interactive shell an error pops up:
"ImportError: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by /scratch/gsergei/miniconda3/envs/py37/lib/python3.7/site-packages/cuml/cluster/../../../../libcuml.so)"

CUML was installed with Anaconda in virtual environment on the remote machine running on Linux OS where I do not have root privilege. Thus I a

[2021-03-17 16:43] dantegd commented on #3628
@Demokritus we just had an issue with resolution recently that tackles this problem #3620, particularly the solution posted in https://github.com/rapidsai/cuml/issues/3620#issuecomment-800454555 should be helpful. Let us know if that helps solve the issue.

[2021-03-17 18:38] JohnZed commented on #3143
Closed by #3579

[2021-03-17 18:38] #3143 closed

[2021-03-17 18:40] JohnZed commented on #3359
Primary goals closed by #3484
We could potentially add `make_pipeline` too but we can file that separately.

[2021-03-17 18:40] #3359 closed

[2021-03-17 18:43] JohnZed commented on #2933
@wphicks similar to the other issue (#3481), maybe this one is actually closed by cupy fix?

[2021-03-17 18:47] wphicks commented on #2933
Yep, with https://github.com/rapidsai/integration/pull/230 in place, I think it's worth removing the xfail and seeing if we see it again. I was not 100% certain that the cupy issue was the only problem here, but I'm confident enough that I think we should give it a go.

[2021-03-17 20:35] esnvidia commented on #3567
Adding to this bug:

Code:
[code]

[code]

Code that does work by converting `torch.tensor` with `.cpu()`:

[code]

[2021-03-17 22:04] dantegd opened #3629 "[BUG] FIL C++ test runs out of memory on 8 GB GPU"
**Describe the bug**
The following test throws an OOM on a 2070S:

[code]

[2021-03-18 11:41] Demokritus commented on #3628
The problem is not actual to me anymore as the admin has updated system GLIBC to a newer version on the system where I tried to install cuml.

[2021-03-18 11:45] Demokritus opened #3630 "CMake Error at cmake/EvalGpuArchs.cmake:64 (message): No supported GPU arch found on this system"
When I try to compile CuML from source code on Linux OS it gives me an error:
"CMake Error at cmake/EvalGpuArchs.cmake:64 (message):
  No supported GPU arch found on this system
Call Stack (most recent call first):
  CMakeLists.txt:290 (evaluate_gpu_archs)"

I used CUDA 10.2, GCC 4.8.5.

Could you give a workaround for this hurdle?

SMALL UPDATE:
Commenting out  60th line in cpp/cmake/EvalGpuArchs

[2021-03-18 13:59] hcho3 commented on #3630
Can you post the model of your graphics card?

[2021-03-18 15:23] dantegd commented on #3630
Also just wanted to comment that gcc 4.8.5 might prove problematic, the current cuML version is supported and tested with >= 7.5

[2021-03-18 15:56] #1880 closed

[2021-03-18 16:58] Demokritus commented on #3630
NVIDIA Tesla V100

[2021-03-18 17:37] frankier commented on #3587
Yep that fixed it.

[2021-03-18 17:37] #3587 closed

[2021-03-18 18:58] divyegala commented on #3628
@Demokritus closing this issue since it's not present for you anymore. Feel free to reopen if something occurs

[2021-03-18 18:58] #3628 closed

[2021-03-18 19:18] divyegala commented on #3630
@Demokritus could you provide more information? Your CUDA driver version (using `nvidia-smi`), whether you are using a conda environment to build from source, and if yes, the details of your environment?

[2021-03-18 19:27] canonizer commented on #3629
Judging by the error message, the reason is that the test runs for too many rows. 20K rows and 100K columns give 2G elements, which uses 8GB of memory.

Running it for fewer rows should fix it.

[2021-03-18 19:36] hcho3 commented on #3625
#3633 adds `model_type='xgboost_json'` to the list of supported model types.

[2021-03-18 19:51] hcho3 commented on #3627
Thanks for reporting. #3634 should update the doc to indicate the availability of multi-class classification in FIL.

[2021-03-18 19:58] dantegd commented on #3629
Sounds about right, forgot to add for context the reason I raised it as an issue was due to #3120

[2021-03-18 20:06] Demokritus commented on #3630
Driver version - 440.33.01.
I tried to build without conda environment.

[2021-03-18 20:19] mdemoret-nv commented on #3620
Using `conda` is perfectly fine. I only suggested `mamba` since it takes much less time to solve the environment when RAPIDS libraries are installed and tends to work better in my experience. In the end, the result should be the same or very similar.

[2021-03-18 20:22] divyegala commented on #3630
@Demokritus is there a constraint against using conda? If not, we highly recommend using conda to resolve dependencies to build cuML from source. For CUDA version 10.2, you can use https://github.com/rapidsai/cuml/blob/branch-0.19/conda/environments/cuml_dev_cuda10.2.yml to create a conda environment which will pull all the required dependencies for you, and then you can build from source in that

[2021-03-18 21:08] #2478 closed

[2021-03-18 22:30] hcho3 commented on #3023
Confirmed that the issue exists in the latest `branch-0.19`:
[code]

[2021-03-18 22:47] hcho3 commented on #3023
Strangely, reducing `max_samples` makes the new backend less confident but the old backend more confident:
`max_samples=0.1`:
[code]
`max_samples=0.01`:
[code]

[2021-03-18 22:54] wphicks commented on #3317
Still valid and now addressable since the cupy fix was backported to the version we are now using

[2021-03-18 22:55] #3237 closed

[2021-03-18 22:57] wphicks commented on #3080
Still worth doing, although this is probably lower-priority than build improvements for CI times.

[2021-03-18 23:44] #3167 closed

[2021-03-19 00:29] #3627 closed

[2021-03-19 09:43] viclafargue commented on #3626
I don't see any disadvantage apart from the fact that this method may not work with every estimators. Know that if you're only interested in storing your trained cuML estimator it is possible to [persist it with pickling](https://docs.rapids.ai/api/cuml/stable/pickling_cuml_models.html). It will then be redeployed to GPU allowing faster predictions/transformations.

This is something specific to S

[2021-03-19 10:23] frankier commented on #3588
I've tried a few things now that https://github.com/rapidsai/cuml/issues/3587 has been fixed. The first thing I tried was as above: threading using joblib:

[code]

In this case after waiting several minutes I get the following on stdout:

[code]

And in loggy it might be typical to have e.g.:

[code]

So it appears this approach gets livelocked/deadlocked somehow (high cpu usage in one processor/

[2021-03-19 10:59] lowener commented on #3630
EvalGpuArchs.cmake is creating a small binary under `cpp/build/eval_gpu_archs` to determine whether your GPU is supported. What is the output when you run this binary ? We expect it to be more than 60.

[2021-03-19 11:00] frankier commented on #3588
Relevant previous issue: https://github.com/rapidsai/cuml/issues/3237

BTW the above are both on 0.19 nightly

[2021-03-19 11:02] Demokritus commented on #3630
I got "ALL"

[2021-03-19 22:16] divyegala commented on #3630
@Demokritus running that binary should not produce "ALL". Did you try creating that conda environment and building with that? Could you also share how you are building? Whether using `build.sh` script in the root of the repo or using CMake directly? If the latter, please share your CMake arguments

[2021-03-19 22:33] mikacashman opened #3641 "[FEA] new RF backend feature requests"
In accordance with #3024 there are a few features that are essential to the way we are using cuml RF.

**1. The histogram split algorithm**
It appears only global_quantile is enabled in the experimental backend currently.

**2. High depths (up to 1000 or unlimited)**
On the existing issue I see a priority for testing depths 30+.  For our uses we frequently desire very deep trees (up to 1000 or mor

[2021-03-19 22:34] dantegd commented on #3630
I would suggest running the script https://github.com/rapidsai/cuml/blob/branch-0.19/print_env.sh on the system and attaching the output here as well as any cmake logs produced, that'll significantly help the troubleshooting

[2021-03-19 22:46] hcho3 commented on #3641
Thanks for your feedback. As for the fifth item: RF currently offers a method `get_json()` which lets you obtain a JSON representation of the tree model. You can parse the JSON representation to compute various path information.

[2021-03-19 22:51] John-8704 commented on #3626
@viclafargue Thanks for clarifying it. This saved hours of re-training using scikit-learn kmeans implementation. I think there should be a way to do this directly in cuml, since not everyone uses GPU's in their production environment for inference.

Is there a way I could turn this post into a feature request?

[2021-03-19 23:04] BenWynne-Morris commented on #3361
These features would still be a useful.

[2021-03-19 23:04] mikacashman commented on #3641
Thanks @hcho3, we will look into that as a solution.

[2021-03-19 23:21] dantegd commented on #3626
@John-8704 turning it into a feature request would be very welcomedd

[2021-03-19 23:59] wphicks commented on #2889
@mdemoret-nv, was this fixed by #3306?

[2021-03-20 00:01] wphicks commented on #2860
Possibly fixed by #3306. Since discussion on this seems to have transferred to #2889, I'm going to close this out for now, but please feel free to reopen or ask further questions if #2889 does not address the full scope of this issue.

[2021-03-20 00:01] #2860 closed

[2021-03-20 00:04] JohnZed commented on #3588
Thanks for the detailed issue, @frankier! A couple of things here:

* Performance with multiple streams is not well-optimized yet. It's on our radar and something we're hoping to improve in the future, but there are surely unnecessary device syncs at various points that need to be optimized away. The machinery is there in the API to make this optimizeable in the future, though. In particular, we w

[2021-03-20 00:21] dantegd commented on #2889
@wphicks there is still (at least one) dask test that doesn't run under 8: #3618 (even less so 4 as targetted by #3120)

[2021-03-20 03:46] dantegd commented on #3630
@divyegala btw the evalgpuarchs  can print `ALL`: https://github.com/rapidsai/cuml/blob/branch-0.19/cpp/cmake/EvalGpuArchs.cmake#L38

[2021-03-20 05:11] #3064 closed

[2021-03-20 12:29] John-8704 commented on #3626
@dantegd I have edited the post, I hope that would suffice. I guess someone should change the labels attached to this post.

[2021-03-20 17:14] Demokritus commented on #3630
It has been done. I attached the text file with the output of print_env.sh.
[my_env.txt](https://github.com/rapidsai/cuml/files/6176029/my_env.txt)

[2021-03-21 15:27] lowener commented on #3630
Line 43-44 you have your problem:

Which would explain why evalgpuarchs is printing `ALL`.

[2021-03-22 04:24] dantegd opened #3643 "[FEA] Switch to use CPM for CMake dependency management"

[2021-03-22 13:52] viclafargue commented on #3571
@rilango, thank you for opening an issue. Can you give us more information? :

- Does it reproduce with 0.18 or 0.19 RAPIDS versions?
- Which versions of UCX and UCX-py are you using?
- Did you compile UCX from source for Infiniband usage?
- Did you try disabling Infiniband and/or NVLink?

[2021-03-22 14:25] wphicks commented on #1966
@starlett3 Given that it has been some time since this was reported, I'm going to close it, but please do reopen if this is still relevant to your work. The basic story is that TensorRT is not generally used for the sorts of models that cuML trains, but there are tools and workflows that can help make TensorRT models and cuML models work well together.

If this is indeed still of interest to you,

[2021-03-22 14:25] #1966 closed

[2021-03-22 14:55] wphicks commented on #3535
Still a good idea; low priority and likely to come in along with other CMake improvements.

[2021-03-22 17:06] cjnolet opened #3645 "[BUG] Logistic regression coefficients (for feature importance) significantly differ from Scikit-learn"
Linking in the initial issue from our `rapids-single-cell-examples` repository: https://github.com/clara-parabricks/rapids-single-cell-examples/issues/29

TLDR; there has been an ongoing discrepancy of the resulting gene rankings between Scikit-learn and cuML. We originally thought a bug fix in cuML's regularization would solve this issue but it doesn't appear to have done so. This use-case specif

[2021-03-22 17:07] cjnolet commented on #3645
cc @avantikalal

[2021-03-22 20:59] Salonijain27 commented on #2418
Yes, we can close it

[2021-03-22 21:20] beckernick commented on #2418
@Salonijain27 it looks like we deprecated in 0.16 so we should be okay the remaining occurrences. I see a few in randomforestclassifier.pyx

[2021-03-22 22:12] lowener opened #3646 "Remove deprecated feature"
Mainly `seed` and `output_type` parameters that were deprecated for 0.17/0.18

[2021-03-23 07:08] mao965671492 commented on #2389
thank you very much!

[2021-03-23 09:12] frankier commented on #3588
Thanks for the help. I managed to get both the threading and multiprocessing approaches working and have made a small benchmark based on the type of workload I am trying to run here: https://github.com/frankier/batchlogit . I think the benchmark might have some problems e.g. it's also benchmarking make_classification at the moment, but I think it still gives some kind of an indication of relative

[2021-03-23 16:27] willb commented on #3041
I'm commenting to follow this issue and to indicate that it still needs to be addressed.

[2021-03-23 16:46] JohnZed commented on #3481
@wphicks does it make sense if @lowener takes a look at this one?

[2021-03-23 18:25] wphicks commented on #3481
@JohnZed Yes that would be great! I haven't dug into the uniform failure at all at this point, only the quantile one.

[2021-03-23 19:17] #3590 closed

[2021-03-23 20:07] #3559 closed

[2021-03-23 23:23] dantegd opened #3649 "[BUG] ARIMA pytest fails on CUDA 11.2"
**Describe the bug**
Just ran the pytest suite on my workstation with the new RAPIDS 11.2 packages so this is the python side of #3406, the following tests failed:

[code]

**Steps/Code to reproduce bug**
Build libcuml and cuml on CUDA 11.2

**Expected behavior**
Tests pass

**Environment details (please complete the following information):**
 - Environment location: Bare metal
 - Linux Distro/Arc

[2021-03-24 10:32] viclafargue opened #3651 "[ENH] Remove `check_cupy8` decorator"
Now that RAPIDS comes with CuPy 8.0+, checking for CuPy version is not needed anymore. We should probably remove `check_cupy8` from the code. This PR should be part of the effort to get [preprocessing module out of experimental.](https://github.com/rapidsai/cuml/issues/3483)

[2021-03-24 10:33] viclafargue commented on #3483
Adding #3651

[2021-03-24 15:02] dantegd opened #3652 "[BUG] (Very) sporadic `BatchedMatrixTests` failure in CI"
**Describe the bug**
This test fail seems not happen often at all, but we just saw it in #3589 in the CUDA 11 job: https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci/job/cuml/job/prb/job/cuml-gpu-test/CUDA=11.0,GPU_LABEL=gpu-a100,OS=ubuntu18.04,PYTHON=3.8/842/ (might need to see the full log since Jenkins didn't report the fail explicitly).

For reference, the failure is:

[code]

**Expecte

[2021-03-24 17:00] meigaoms opened #3653 "[FEA] Logistic regression with lbfgs and l2 penalty"
**Is your feature request related to a problem? Please describe.**
[LogisticRegression](https://docs.rapids.ai/api/cuml/stable/api.html#regression-and-classification) in cuML uses a different solver that the equivalent Scikit-learn, except when there is no penalty and solver=lbfgs is used in Scikit-learn. I'm seeing large difference with cuML logisticRegression with L2 penalty from sklearn Logisti

[2021-03-24 17:05] Demokritus opened #3654 "gmake[3]: *** No rule to make target `benchmark/lib/libbenchmark.a', needed by `bench/sg_benchmark'. Stop."
**The description**
By the end of building process after launching the command
$ ./build.sh bench
and after getting reached 100% in building
I got the following error message:
gmake[3]: *** No rule to make target `benchmark/lib/libbenchmark.a', needed by `bench/sg_benchmark'.  Stop.
gmake[2]: *** [bench/CMakeFiles/sg_benchmark.dir/all] Error 2
gmake[1]: *** [bench/CMakeFiles/sg_benchmark.dir/rule]

[2021-03-24 20:27] dantegd opened #3656 "[FEA] Test function `array_equal` should print useful info when test fails"
**Is your feature request related to a problem? Please describe.**
When we get failures in CI in tests that do `assert array_equal...` we get logs like:

[code]

which are very hard to parse by humans. It would be very good to add functionality to print things like absolute and relative differences that made the test fail.

[2021-03-24 20:52] cjnolet commented on #3406
W/ 11.2.2 I get failures in the following gtests on a V100 in Centos7:

[code]

[code]

[2021-03-24 20:53] divyegala commented on #3630
@Demokritus can I close this issue?

[2021-03-24 20:55] meigaoms commented on #3653
This [post](https://stats.stackexchange.com/questions/284712/how-does-the-l-bfgs-work) mentioned that L-BFGS has many variants. Does cuML and sklearn implements different L-BFGS variants?

[2021-03-25 01:10] #3625 closed

[2021-03-25 06:27] #3131 closed

[2021-03-25 08:48] Demokritus commented on #3630
Yes, as I managed to solve the problem by removing
[code]

[2021-03-25 08:51] Demokritus commented on #3630
Yes, you may close the thread as I managed to solve the problem by deleting
in cpp/cmake/EvalGpuArchs.cmake a piece of code in 58:62 lines:
[code]
It appears to be working for me.

[2021-03-25 16:10] JohnZed opened #3659 "[BUG] Occasional PCA test failure in CI"
Small tolerance issue?
https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci/job/cuml/job/prb/job/cuml-gpu-test/CUDA=10.1,GPU_LABEL=gpu,OS=ubuntu16.04,PYTHON=3.7/856/testReport/junit/cuml.test/test_pca/test_pca_defaults_True_300_200_/

[code]

[2021-03-25 16:13] JohnZed opened #3660 "[BUG] Occasional adjusted_rand_index CI failure in gtests"
https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci/job/cuml/job/prb/job/cuml-gpu-test/CUDA=10.2,GPU_LABEL=gpu,OS=centos7,PYTHON=3.8/861/consoleText

[code]

[2021-03-26 02:00] #3597 closed

[2021-03-26 12:02] #3630 closed

[2021-03-26 14:18] beckernick opened #3662 "[BUG] Dask KNeighborsClassifier predict fails on dask array input"
In the 2021-03-26 nightly (and perhaps earlier), `cuml.dask.neighbors.KNeighborsClassifier` fails while predicting on dask array input.

[code]

[code]

[2021-03-26 14:25] beckernick opened #3663 "[BUG] Dask KNeighborsClassifier fit fails on cupy backed dask array"
In the 2021-03-26 nightly (and perhaps earlier), `cuml.dask.neighbors.KNeighborsClassifier` fails during `fit` on dask array input if the arrays are backed by CuPy.

[code]

[code]

[2021-03-26 19:27] siegrikw commented on #1653
@cjnolet hello when attempting the proposed solution to using additional metrics with umap I noticed that changing the metric does not change the embedding returned by the cuml implementation of umap while the original implementation of umap does. Here is the example case ran to test this behavior based on your proposed solution. Is there something happening that I am missing, or is there some int

[2021-03-26 20:11] cjnolet commented on #1653
@siegrikw,

My apologies, the method that should be invoked on the `NearestNeighbors` estimator is `kneighbors_graph()` and you will want it to return distances by setting mode to `distance` like this: `kneighbors_graph(a, mode='distance')`. Can you see if this works for you?

[2021-03-26 22:19] cjnolet opened #3665 "[FEA] UMAP / TSNE should warn when `knn_graph` argument is invalid"
While providing an intermediate workaround solution to a user in #1653, I made a mistake and wrote `nearest_neighbors.kneighbors` in a code example instead of `nearest_neighbors.kneighbors_graph`. However, this wasn't made immediately obvious to the user as they attempted to pass a 2-element tuple into UMAP using the `knn_graph` argument but it was ignored without any warning or failure.

There ar

[2021-03-27 00:23] divyegala commented on #3662
@viclafargue can you take a look at this one?

[2021-03-27 00:24] divyegala commented on #3663
@viclafargue and take a look at this one too?

[2021-03-27 00:24] divyegala commented on #3654
@teju85 any idea on this one?

[2021-03-27 17:06] siegrikw commented on #1653
@cjnolet ,

Yes it does appear to work. Thank you for the quick response.

[2021-03-28 02:40] gandroz commented on #1653
Is it possible to use such a temporary hack with TSNE ? or even with KMEANS ?

[2021-03-28 03:34] #3544 closed

[2021-03-28 09:51] trivialfis commented on #3547
I'm not familiar with the treelite loading process.  But if you are using latest xgboost, there's a feature that one can slice up the model.  See https://xgboost.readthedocs.io/en/latest/python/model.html#slice-tree-model for details.  This way you don't have to worry about how many trees you are using.

[2021-03-29 01:22] ibrisa commented on #3305
Still an active issue

[2021-03-29 08:08] teju85 commented on #3530
The above PR has already solved this issue. Closing.

[2021-03-29 08:08] #3530 closed

[2021-03-29 08:08] teju85 commented on #3529
The above PR has already solved this issue. Closing.

[2021-03-29 08:08] #3529 closed

[2021-03-29 08:13] teju85 commented on #3528
We've been noticing that using a higher value of `n_bins` is enough to improve accuracy. So, we might not need this after all. Closing for now. If in case needed, we can reopen this or file a new issue.

[2021-03-29 08:13] #3528 closed

[2021-03-29 08:15] teju85 commented on #1769
This could be next task for @mdoijade once he's done with cutlass-deprecation and has addressed fused-kNN.

[2021-03-29 11:26] viclafargue commented on #3662
Thanks for pointing that out Nick. There's indeed a problem with `KNeighborsClassifier` but also `KNeighborsRegressor` when providing an unexpanded vector ( shape (n_rows,) ) as labels. I'll work on a fix.

[2021-03-29 11:30] viclafargue commented on #3663
Yes, some operations on Dask arrays do not work when the array is backed by CuPy. This is apparently the case with the `unique` operation. I think the best option would be to make these operations work in Dask.

[2021-03-29 13:22] beckernick commented on #3663
Depending on the compatibility requirements, we could potentially update the internal unique function to use `np.empty_like` or NEP-35

[2021-03-29 14:52] beckernick commented on #3663
https://github.com/dask/dask/issues/7482

[2021-03-30 01:45] #3302 closed

[2021-03-30 02:54] teju85 commented on #3302
@WangWenhao0716 and @Jie2World this feature is now in 0.19 branch (Thanks @Nyrio). Can you folks try this out and give us feedback?

[2021-03-30 03:26] WangWenhao0716 commented on #3302
Thanks, I may try it. However, because I’m no longer work on this part and I’m also no longer in the before research group, it may be a little difficult for me.

发自我的iPhone

------------------ Original ------------------
From: Thejaswi. N. S ***@***.***&gt;
Date: Tue,Mar 30,2021 10:55 AM
To: rapidsai/cuml ***@***.***&gt;
Cc: Wenhao Wang ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [rapids

[2021-03-30 04:04] wangjinzhulala opened #3670 "Simple LineaRegression does not work on Colab!"
Hi, I've been passed the simple LineaRegression example codes into Colab, but it does not work!

I have no idea why this is happening.

================ Example code==================

import cudf
import numpy as np

# Both import methods supported
# from cuml import LogisticRegression
from cuml.linear_model import LogisticRegression

X = pd.DataFrame()
X['col1'] = np.array([1,1,2,2], dtype = np.f

[2021-03-30 04:35] #3457 closed

[2021-03-30 09:14] viclafargue commented on #3670
Thanks for opening the issue. You probably have a very old version of CuPy. I think that you can update your RAPIDS environment inside Colab with the following code :

[code]
Also take a look at the [getting started Colaboratory notebook](https://colab.research.google.com/drive/1rY7Ln6rEE1pOlfSHCYOVaqt8OvDO35J0#forceEdit=true&offline=true&sandboxMode=true).

[2021-03-30 16:48] beckernick opened #3671 "[DOC] LogisticRegression coef array does not include intercept if fit_intercept=True"
The docstring for LogisticRegression's `coef_` attribute says https://github.com/rapidsai/cuml/blob/edfba64146cf4cef57cf2f569d3718f3cae96ad5/python/cuml/linear_model/logistic_regression.pyx#L168-L175

This is incorrect, and should be updated. This attribute will (correctly) not ever contain the intercept.

[2021-03-30 19:26] #2071 closed

[2021-03-30 20:50] kshitizgupta21 opened #3672 "[FEA] ROC Curve"
I wish cuML had a roc_curve function (like in scikit-learn). Right now it already has the area under roc curve function. Interestingly, cuML also has the precision-recall curve function implemented so it's a bit of a surprise to the user to see there's no function to get the roc curve.

[2021-03-30 21:11] dantegd commented on #3671
It used to be true at some point quite some time ago, but great catch, this should be updated

[2021-03-30 21:16] dantegd commented on #3653
@meigaoms yes, in particular depending on the penalization you use, cuML uses 2 variants:

1. The classical LBFGS from the Nocedal book (i.e. https://link.springer.com/book/10.1007/978-0-387-40065-5)
2. If there is a L1 term, then it does Orthant-Wise Limited-memory Quasi-Newton from https://www.microsoft.com/en-us/research/publication/scalable-training-of-l1-regularized-log-linear-models/

[2021-03-31 00:08] mdemoret-nv opened #3673 "[FEA] Consider Adding Flake8 Plugins to Catch Python Doc Errors"
Since the python documentation isn't built for PRs, many docstring issues get committed into the active branch and are only caught right before release. There are flake8 extensions which can check docstrings for errors and flag them during the style check.

Two extensions that I have in mind are `flake8-docstrings` and `flake8-rst-docstrings`. These can be added to flake8 with
[code]
Enabling thes

[2021-03-31 00:47] #3651 closed

[2021-03-31 01:59] #3670 closed

[2021-03-31 19:49] beckernick opened #3682 "[BUG] RandomForestClassifier score failing due to output_class handling"
In today's nightly, `RandomForestClassifier.score` is failing with an output class handling error.

[code]

[code]

[2021-03-31 20:14] hcho3 commented on #3682
The bug is most likely introduced in #3609. I will submit a pull request today.

[2021-03-31 23:54] lowener commented on #3483
The `_thirdparty_adapters` folder is already well tested, but the `@cuda.jit` decorator interferes with the code coverage tool and the lines are not marked as hitted.

[2021-04-01 01:15] #3568 closed

[2021-04-01 01:17] #3682 closed

[2021-04-01 02:09] vinaydes commented on #3406
@venkywonka Has found and fixed a bug in the BatchedLevelAlgo test. That should fix this issue.

[2021-04-01 02:27] cjnolet commented on #3406
I'm working to figure out the UMAP side.

[2021-04-01 03:25] #3671 closed

[2021-04-01 04:14] venkywonka commented on #3406
working on fixing the BatchedLevelAlgo test bug, will send a PR asap

[2021-04-01 06:58] teju85 commented on #1179
I believe this issue already has, in parts, been addressed my the following folks in the past:
1. @MatthiasKohl  with his updates to the [include_checker](https://github.com/rapidsai/cuml/blob/branch-0.19/cpp/scripts/include_checker.py)
2. @mdemoret and @dantegd with their updates to the include dependencies

Thus closing this issue. In case we find any more inconsistencies. Let's follow up with s

[2021-04-01 06:58] #1179 closed

[2021-04-01 11:48] MatthiasKohl opened #3692 "[BUG] using random state in dataset utils"
**Describe the bug**
The dataset utils should accept a cupy random state for the `random_state` argument. This doesn't work atm.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Code above should return randomly generated dataset.

**Environment details (please complete the following information):**
 - Environment location: [Bare-metal]
 - Linux Distro/Architecture: [Ubuntu 16.04 amd

[2021-04-01 15:49] JohnZed opened #3695 "[FEA] Update CI to new XGBoost 1.4.0rc package"
Package is ready in the rapidsai-nightly conda channel now.

Needs integration repo update as well.

[2021-04-01 15:52] viclafargue commented on #3663
For the 0.19 release, we will probably just raise an exception with an informative message when the MNMG KNN Classifier is given a Dask array backed by CuPy.

[2021-04-01 16:16] #3373 closed

[2021-04-01 16:19] JohnZed commented on #3649
@Nyrio can you take a look?

[2021-04-01 16:24] beckernick commented on #3663
XGBoost is failing similarly (cross-referencing for additional tracking) https://github.com/dmlc/xgboost/issues/6820

[2021-04-01 16:36] dantegd commented on #3607
Example of usage of docstring generator for sparse inputs: https://github.com/rapidsai/cuml/blob/fb088d9978af5f866a9f1687fc9ce6f51d172c16/python/cuml/decomposition/pca.pyx#L425

[2021-04-01 19:06] #3478 closed

[2021-04-01 19:50] #3599 closed

[2021-04-02 18:34] JohnZed opened #3705 "[BUG] Occasional sparse pairwise hellinger test failure in CI"
Seeing occasional failures in `cuml.test.test_metrics.test_sparse_pairwise_distances_corner_cases[matrix_size1-0.2-hellinger]` in CI (ubuntu 18.04, CUDA 11.2 in this case).
https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci/job/cuml/job/prb/job/cuml-gpu-test/CUDA=11.2,GPU_LABEL=gpu,OS=ubuntu18.04,PYTHON=3.8/943/testReport/junit/cuml.test/test_metrics/test_sparse_pairwise_distances_corner_ca

[2021-04-02 18:39] hcho3 opened #3706 "[BUG] Out-of-bounds access to shared memory in new RF backend"
**Describe the bug**
One of the tests in gtest is crashing due to an out-of-memory access to the shared memory.

**Steps/Code to reproduce bug**
1. Apply the following patch to the `branch-0.19` branch, to use the new RF backend in `cpp/test/sg/rf_depth_test.cu`:
[code]
2. Run a unit test under the compute sanitizer:
[code]
3. Observe out-of-bounds memory accesses by `ML::DecisionTree::computeSpli

[2021-04-02 18:41] hcho3 commented on #3706
cc @teju85 @vinaydes @venkywonka

[2021-04-05 04:37] vinaydes commented on #3706
This issue is before or after merging @venkywonka's recent PR #3616?

[2021-04-05 06:20] hcho3 commented on #3706
I observed it before the PR got merged.

[2021-04-05 16:25] JohnZed commented on #3503
Closed by #3698

[2021-04-05 16:25] #3503 closed

[2021-04-06 02:10] #3607 closed

[2021-04-06 14:50] viclafargue commented on #3692
Thanks for opening the issue. I could reproduce it. The code of this function comes from another part of the codebase where it had a slightly different role. I could fix the bug and simplify the code.

[2021-04-06 15:58] beckernick commented on #3006
This was implemented in https://github.com/rapidsai/cuml/pull/3572 . Given https://github.com/rapidsai/cuml/issues/3559 also covered sample weights for logistic regression, rather than close this issue I will update it to request KNN sample weights as per the most recent comment

[2021-04-06 23:51] divyegala commented on #3567
@JohnZed @dantegd should we divide this issue into two parts, or should I look to solve this in one PR? The second bug added here seems like it's going something to do with torch so that would involve more testing

[2021-04-07 00:12] JohnZed opened #3720 "[TASK] Release 0.19 checklist"
Recurring tasks before each release:

**New algorithm support:**
- [x] Each new algorithm added to API docs (@JohnZed)
- [x] Each new algorithm added to README  (@JohnZed)
- [X] Blog posts planned for new algos as appropriate (John)

**Docs and examples:**
- [ ] Built API docs & checked for formatting
- [ ] Verified & updated API docs (@JohnZed - Friday or Monday after next updates)

**Additional

[2021-04-07 00:42] cjnolet commented on #3720
@afender has updated cugraph with the RAFT commit here: https://github.com/rapidsai/cugraph/pull/1509

[2021-04-07 04:07] hcho3 commented on #3706
Fixed in #3715

[2021-04-07 04:07] #3706 closed

[2021-04-07 15:22] JohnZed opened #3724 "[DOC] Update rapids.ai/xgboost to include information on FIL and GPUTreeSHAP"
Users looking for more on XGBoost will often be interested in inference and explainability solutions for XGBoost as well. Should update our site to include links to those resources.

[2021-04-07 15:33] #3695 closed

[2021-04-07 15:51] JohnZed commented on #3567
Yes, should split it into two separate issues, agreed

[2021-04-07 19:32] hcho3 commented on #3720
cuML is now using the latest XGBoost as of today.

[2021-04-07 20:07] dantegd commented on #3720
@divyegala @JohnZed  I've kept the `libcumlprims` conda package up to date (current `main` is just from a couple days ago), so that should be covered

[2021-04-07 21:05] #3662 closed

[2021-04-07 23:00] lowener commented on #3212
I just encountered a missing reference to `cusparseScsrmv` while using conda environment `conda/environments/cuml_dev_cuda11.2.yml` and `cuml_dev_cuda11.0.yml`.

It was solved on my side by using `cuml_dev_cuda10.2.yml`. And this may be due to `cusparseScsrmv` being deprecated in CUDA 11+, while still being used in `raft` and `cub` libraries.

[2021-04-08 01:10] #3406 closed

[2021-04-08 13:24] wphicks commented on #3212
@lowener It sounds like that might be a new bug unrelated to this one, which was fixed in #3281. Do you want to open a new issue to make sure we can get debug buildings in all supported versions of CUDA?

[2021-04-08 15:41] viclafargue commented on #3692
Closed by #3716

[2021-04-08 15:41] #3692 closed

[2021-04-08 16:21] JohnZed commented on #3720
@cjnolet will add single-linkage to readme + API docs
(also remove experimental tag from SHAP in readme)

[2021-04-08 16:53] Nyrio commented on #3649
After some tricky debugging, I opened a PR to fix this :)

@dantegd @JohnZed

[2021-04-08 21:23] dantegd commented on #3583
Will close the issue due to inactivity, if there are any additional questions or issues feel free to re-open or create a new issue, thanks!

[2021-04-08 21:23] #3583 closed

[2021-04-08 21:34] dantegd opened #3733 "[BUG] test_thirdparty::test_min_max_axis pytest failure in CI"
**Describe the bug**
Have seen it only once in #3730, but since PR #3676 was merged very recently it's good to keep an eye on, if it fails again we might need to add an `xfail` for release.

Failure:

[code]

**Environment details (please complete the following information):**
 - Environment location: CI
 - Linux Distro/Architecture: Ubuntu 16.04 amd64
 - GPU Model/Driver: V100
 - CUDA: 10.1

[2021-04-10 12:15] #3573 closed

[2021-04-11 05:49] sxz294 commented on #1619
Hi, I'd like to work on this ticket as a first-time contributor.

[2021-04-11 16:55] dantegd commented on #3643
Most of the work is done in https://github.com/rapidsai/raft/pull/187

[2021-04-12 19:23] wphicks opened #3740 "[BUG] Flaky RF Classification test (test_random_forest.py::test_rf_classification_seed)"
**Describe the bug**
I have just observed this test fail locally in my 0.20 development environment with the following output:

[code]

**Environment details (please complete the following information):**
 - Environment location: Bare-metal
 - Linux Distro/Architecture: Ubuntu 20.04
 - GPU Model/Driver: Quadro RTX 8000
 - CUDA: 11.0
 - Method of cuDF & cuML install:  from source

[code]

[2021-04-12 20:30] cjnolet opened #3741 "[BUG] SLHC pytests sometimes encounter invalid intermittent state."
This is a strange bug that we've seen happen several times in the release CI for both the pairwise/knn linkage options of `AgglomerativeClustering`. The exception is actually a failed assertion by the single-linkage labeling code so that it fails gracefully when encountering invalid state rather than returning incorrect clusters.

The failed assertion in this case means that even though the MST re

[2021-04-12 20:30] cjnolet commented on #3741
Referencing https://github.com/rapidsai/cuml/issues/3741

[2021-04-12 20:36] cjnolet opened #3742 "[TASK] Remove CTK 11.2+ assertion in UMAP reproducibility gtests"
While upgrade to CTK 11.2, we found that the UMAP reproducibility gtests seem to have broken somewhere. Further investigation led me to notice that the spectral clustering algorithm no longer seems to be honoring the random seed. I created a raft issue for that (https://github.com/rapidsai/raft/issues/195) and found that the pytests were using the random initialization already (which don't seem to

[2021-04-12 21:27] cjnolet commented on #3741
For stack trace info, here's an example of the failures: https://gpuci.gpuopenanalytics.com/view/RAPIDS%20-%20GPU%20Matrix/job/rapidsai/job/gpuci/job/cuml/job/branches/job/cuml-gpu-matrix-branch-0.19/37/

[2021-04-12 22:36] #3733 closed

[2021-04-12 22:39] JohnZed opened #3744 "[TRACKER] Flaky tests tracker"
Some of these are xfailed, some have other workarounds. Should get to the root cause of each. Adding this as a tracker:

Xfailed/retried/skipped:
- [x] [UMAP reproducibility](https://github.com/rapidsai/cuml/issues/3742)
- [x] [SLHC python](https://github.com/rapidsai/cuml/issues/3741)
- [x] [Sparse hellinger](https://github.com/rapidsai/cuml/issues/3705)

Still flaky and not yet xfailed?
 - [ ] [

[2021-04-14 11:35] viclafargue opened #3747 "[BUG] MNMG Random Forest testing update"
Some MNMG Random Forest tests require some updates :

`cuml.test.dask.test_random_forest.test_rf_instance_count` appears to be failing in MNMG nightly tests.
Additionally, `cuml.test.dask.test_random_forest.test_rf_regression_dask_fil` seems to fail intermittently. Increasing the threshold should be sufficient for this one.

cc @hcho3

[2021-04-14 16:25] fcomitani opened #3748 "[BUG] Typo in UMAP"
**Describe the bug**
Not a proper bug. The UMAP implementation has a typo in the `target_weights` argument, where the original UMAP uses `target_weight`. This creates issues of compatibility when working with both libraries.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
`cuml.UMAP` should use the `target_weight` keyword rather than `target_weights`.

[2021-04-14 19:49] cjnolet commented on #3458
Linking #1029 and preferring use of this issue since we have made progress on sparse PCA since the original.

[2021-04-14 19:52] cjnolet commented on #1029
I’ve created a more up to date issue for this feature and referenced this issue so that we don’t lose the history trail. Now that we have have a sparse PCA in the Python layer that can accept sparse inputs, I don’t think it should be too hard to port that back to c++, at least for an initial version. If for some reason we need more speed or find issues with numerical stability, we can always try u

[2021-04-14 19:52] #1029 closed

[2021-04-15 11:47] tfeher commented on #3645
The cuML's QN solver stops much earlier than sklearn for this test case. A few issues with QN stopping condition was spotted by @achirkin while updating the QN solver default parameters. He will fix the issues with the stopping condition and have a look how these affect this issue.

[2021-04-15 15:09] quasiben opened #3750 "[BUG] Import of cuML leads to strangeness"
**Describe the bug**
When importing cuML, it seems like there is some monkeypatching which leads to unintended host->device transfers.  For example, the code snippet below demonstrates that with a cuml import (but no cuml usage) a dask dataframe is converted to a dask-cudf dataframe

[code]

**Steps/Code to reproduce bug**
Follow this guide http://matthewrocklin.com/blog/work/2018/02/28/minimal-bu

[2021-04-15 15:59] viclafargue commented on #3750
Probably related to this issue [cudf/#7946](https://github.com/rapidsai/cudf/issues/7946). The cuML codes imports `dask_cudf`. It seems that the problem is reproducible by just importing `dask_cudf`.

[2021-04-15 16:36] JohnZed opened #3751 "[FEA] Prep for CalVer, eliminate all references to 0.20 in source"
Next release planned to be `21.06` instead of `0.20`

[2021-04-15 20:08] divyegala opened #3753 "[BUG] Interoperability of cuML (confusion matrix) with torch arrays"
Splitting from #3567. Bug has got to do with interoperability of cuml's confusion matrix with torch arrays. However, testing for this is likely to go beyond just confusion matrix.

Adding to this bug:

Code:

from cuml.metrics import confusion_matrix
print(confusion_matrix(y_true=labels.type(dtype=torch.int32).to(device),
                                   y_pred=pred.argmax(1).type(dtype=torch.in

[2021-04-16 16:26] JohnZed commented on #2377
As per the above, we would recommend using the cuSignal Kalman filter instead. We do not have plans to add KF to cuML. Thanks!

[2021-04-16 16:26] #2377 closed

[2021-04-16 18:09] #3567 closed

[2021-04-18 22:58] RAMitchell opened #3764 "[BUG] Random forest classification accuracy gap"
This is a specific diagnosis for the random forest classification accuracy issue described in #2518. The following script reproduces the accuracy gap between cuml/sklearn on a small amount of synthetic data, and implements a hacky fix in python demonstrating how we can fix the accuracy gap.

[code]

![rf](https://user-images.githubusercontent.com/7307640/115162994-c908d700-a0fa-11eb-8d5a-cad25380b

[2021-04-19 06:45] venkywonka opened #3765 "[BUG] RF parameter `max_features`, when set other than `1.0`, overrides `bootstrap_features = False`"
**Describe the bug**
The RF parameter `max_features`, when set other than `1.0` , overrides the parameter `bootstrap_features`, when set to `False`. This happens for both RF Classifier and Regressor.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
The classifier/regressor is expected to NOT enable feature-sampling (feature bootstrapping) and throw a warning stating that `bootstrap_f

[2021-04-19 07:58] vinaydes commented on #3765
Note the buggy behavior is observed for both old (level) and new (batched) backend.

[2021-04-19 15:55] JohnZed commented on #608
@cjnolet I think we have all of these now except for v-measure. Can you confirm? I'd suggest we close this and just open a ticket for any remaining metrics we want to prioritize. It's been a while since someone requested an accuracy metric we hadn't already implemented, which is great to see.

[2021-04-19 15:55] #608 closed

[2021-04-19 16:13] JohnZed opened #3767 "[TRACKER] Performance improvements for 0.20"
Tracking issue for specific improvements:

[2021-04-19 16:43] JohnZed opened #3768 "[FEA] Speed up sklearn imports to FIL / treelite"
Tracked as treelite issue: https://github.com/rapidsai/cuml/pull/3565

[2021-04-19 16:43] hcho3 commented on #3768
The link should be dmlc/treelite#3565

[2021-04-19 16:44] hcho3 commented on #3768
Links should be https://github.com/dmlc/treelite/issues/263 and https://github.com/dmlc/treelite/issues/265

[2021-04-20 06:43] teju85 commented on #3764
@RAMitchell Thank you for finding this! We certainly need to dig more on this one. Can you please post the same plot when you increase the depth, for eg: all the way to 16?

[2021-04-20 06:49] venkywonka opened #3769 "[BUG] deprecating `bootstrap_features` parameter in RF classifier/regressor python class"
**Describe the bug**
Currently, both in `RandomForestClassifier` and `RandomForestRegressor`, `bootstrap_features` exists as a parameter for initialization. This parameter decides if feature-sampling is to be enabled in the respective algorithms. This parameter can be deprecated as there already exists a parameter that provides information on feature-sampling, namely the `max_features` parameter.

[2021-04-20 06:59] venkywonka commented on #3764
sure @teju85

[2021-04-20 10:26] venkywonka commented on #3764
For the given dataset generated with `make_classification` parameters (`n_samples=20, n_features=2, n_redundant=0`), the models start quickly overfitting at depth 4 itself as seen below:

![image](https://user-images.githubusercontent.com/23023424/115373908-f1bbca00-a1e9-11eb-8b99-ced32fe1e695.png)

So I introduced some noise by adding redundant features but they all seem to quickly overfit beyond

[2021-04-20 15:12] lowener commented on #3740
I also noticed this with the following stress test:
`FAILED python/cuml/test/test_random_forest.py::test_rf_classification_seed[small_clf2-float32] - assert 0.9865 == 0.98654`

[2021-04-20 15:37] lowener commented on #2920
As of v0.19 some tests are still failling:
`test_fil.py::test_fil_regression[11-90-1000-500000]`
`test_nearest_neighbors.py::test_knn_separate_index_search[braycurtis-50-1000-70000-dataframe]`
`test_nearest_neighbors.py::test_knn_separate_index_search[braycurtis-50-1000-70000-ndarray]`

[2021-04-20 16:22] lowener commented on #3542
I still see this error in this test with v0.19:
`actual = -5612906.0, desired = array(-5612967.0)`

Random seed: 457979

Environment details

- Linux Distro/Architecture: Ubuntu 18.04 x86_64
- GPU Model/Driver: V100 and driver 460.39
- CUDA: 11.2
- Method of cuDF & cuML install:
   from source: 1291502170f3cc515960dfd084029eafadd54529

[2021-04-20 16:27] ajschmidt8 opened #3771 "[FEA] Update CMake Version to `3.18`"
**Is your feature request related to a problem? Please describe.**

The `rapidsai/integration` repo uses CMake version `3.18` when building the RAPIDS containers ([link](https://github.com/rapidsai/integration/blob/branch-0.19/conda/recipes/versions.yaml#L39-L40)). This `3.18` version conflicts with `cuml`'s own CMake version, which is set to `3.14...3.17` ([link](https://github.com/rapidsai/cuml/

[2021-04-20 16:36] kkraus14 commented on #3771
Having CMake set to `3.14...3.17` sets a minimum requirement for 3.14 and then sets the CMake policies to 3.17. It doesn't set an upper limit on cmake version. This is perfectly safe to do.

[2021-04-20 17:25] ajschmidt8 commented on #3771
@kkraus14, okay. thanks for clearing that up. I guess that explains why containers still build correctly.  I'll leave it up to you to determine whether or not this issue can be closed or should stay open.

[2021-04-20 19:25] dustinvanstee opened #3772 "[BUG] Unable to import CUML using nightly docker build container"
**Describe the bug**
I want to test out the functionality of cuml with some of the newest algorithms.  I used one of the latest nightly build docker images and when I run the docker container and import cuml, I get the following error.

[code]

**Steps/Code to reproduce bug**
I used a docker image from the documentation page https://rapids.ai/start.html#get-rapids

docker
```docker pull rapidsai/r

[2021-04-21 02:53] AliceChenyy commented on #3750
Hi Benjamin, this bug is badly blocking the GPU accelerated adoption of machine learning pipeline platform. The platform only used CPU before. Now in order to accelerate machine learning algorithms using GPU, we want to use knn from cuml.

[2021-04-21 16:49] divyegala opened #3780 "[TODO] Investigate the use of `late_exaggeration` in TSNE BarnesHut and Exact"
FITSNE uses a `late_exaggeration` parameter to modify the exaggeration in the latter phases of training. This was copied over to BarnesHut and Exact, but it remains untested so it was removed by #3423. While the authors of FITSNE suggest this should theoretically be applicable to BarnesHut and Exact both, we must investigate its practical usage before adding the parameter.

cc @cjnolet for visibil

[2021-04-21 16:57] divyegala opened #3781 "[FEA] Condense TSNE parameters into a struct"
As TSNE has grown, the parameter list has become lengthy. We should condense it into a struct.

[2021-04-21 20:38] Salonijain27 commented on #3772
Hi @dustinvanstee ,
I pulled the docker container mentioned above. However, I was unable to reproduce the error mentioned.
It is possible that the error got resolved in the new nightly image.
Please can you pull the docker nightly image again and try.

[2021-04-22 00:45] wphicks opened #3783 "[BUG] Include `<cstddef>` where needed and use `std::size_t` where possible"
A missing definition of `size_t` in `fil.h` prompted #3782. We should prefer `std::size_t` in all C++ code and ensure that we are including the appropriate header wherever `size_t` or `std::size_t` is referenced

[2021-04-22 03:51] #3421 closed

[2021-04-22 14:44] venkywonka commented on #3764
In my previous plots, I seem to have have incorrectly added noise, apologies 😅(thanks for pointing out @vinaydes )
I have re-run the same by adding noise through the `flip_y` parameter in `sklearn.datasets.make_classification` . The noise prevents models from reaching `accuracy=1.0` (since that's not very helpful).
the following plot is with @RAMitchell 's initial (and very helpful) script; but wi

[2021-04-22 16:36] JohnZed opened #3786 "[TASK] Investigate CI test time slowdowns"
Saw a number of times ~ 2:09 for ubuntu 18.04 tests early in 0.20 release cycle.

[2021-04-22 18:17] lowener opened #3787 "[BUG] Random Forest stress test failing: test_rf_host_memory_leak"
**Describe the bug**
`python/cuml/test/test_random_forest.py::test_rf_host_memory_leak[large_clf2-classification]` is failing with version 0.19 with the following output:
`assert (16947105792 - 16945065984) < 2000000.0`

**Environment details (please complete the following information):**
 - Environment location: Docker
 - Linux Distro/Architecture: [Ubuntu 18.04 amd64]
 - GPU Model/Driver: [V100

[2021-04-22 18:20] lowener opened #3788 "[BUG] SVM stress test failing: test_svm_skl_cmp_datasets"
**Describe the bug**
`python/cuml/test/test_svm.py::test_svm_skl_cmp_datasets[10001-5000-blobs-params0]` is failing with version 0.19 with the following output:
`assert array([[0.99998918]]) > (1 - 1e-05)`

**Environment details (please complete the following information):**
 - Environment location: Docker
 - Linux Distro/Architecture: [Ubuntu 18.04 amd64]
 - GPU Model/Driver: [V100 and driver 460

[2021-04-22 20:19] RAMitchell commented on #3764
If you are adding large amounts of noise to the dataset you might consider regenerating the dataset inside the repetitions so the error bars include dataset variation.

[2021-04-22 20:54] #3747 closed

[2021-04-23 00:24] hcho3 commented on #3768
See https://github.com/dmlc/treelite/pull/264

[2021-04-23 01:07] dantegd opened #3789 "[FEA] Centralize dataset generation in pytests"
**Is your feature request related to a problem? Please describe.**
_Many_ of our tests use simple `make_regression` and `make_classification` generators for running tests. Yet most algorithms currently re-implement a lot of logic, and also probably generate more data than we need for unit tests. Recently we introduced a[ simple, configurable function](https://github.com/rapidsai/cuml/blob/0a21e878

[2021-04-23 12:40] dantegd commented on #3771
I think the issue can be closed, particularly because a modernization of our canoe is coming relatively soon and there are other issues tracking it.

[2021-04-23 12:40] #3771 closed

[2021-04-23 12:40] dustinvanstee commented on #3772
Hi @Salonijain27 yes you are right.  I rebuit the docker container and now its working just fine.  Thanks for checking.  Closing this issue.

[2021-04-23 12:40] #3772 closed

[2021-04-23 12:42] dantegd commented on #3748
Thanks for the issue @fcomitani ! Indeed we should match.

Description of task: This issues needs to introduce the new name of the parameter, and  deprecate the old one for one version before removing it the next.

[2021-04-23 20:30] dantegd commented on #191
Direct pip/windows support would be a RAPIDS wide thing as opposed to any single repo/project, so will close this issue and any news/changes about this would be published in our blogs. For now I would recommend anyone that lands here to see resources around WSL2 https://medium.com/rapids-ai/running-rapids-on-microsoft-windows-10-using-wsl-2-the-windows-subsystem-for-linux-c5cbb2c56e04.

[2021-04-23 20:30] #191 closed

[2021-04-23 20:34] dantegd commented on #204
Prims have moved to raft and been changed significantly so issue can be closed.

[2021-04-23 20:34] #204 closed

[2021-04-23 20:40] #494 closed

[2021-04-23 20:42] dantegd commented on #493
Closing, since https://github.com/rapidsai/raft/issues/97 seems like the approach to go with.

[2021-04-23 20:42] #493 closed

[2021-04-23 20:43] dantegd commented on #657
Kalman Filter is no longer in cuML but in cuSignal https://docs.rapids.ai/api/cusignal/stable/api.html#kalman-filter so this is no longer relevant

[2021-04-23 20:43] #657 closed

[2021-04-23 20:47] dantegd commented on #423
The margin at some point had been bumped back to 1e-3 https://github.com/rapidsai/cuml/blob/8cccaf281d3a32115ee1e5fcea7fb8b7eabb4927/python/cuml/test/test_pca.py#L71 so closing this issue since it's no longer relevant.

[2021-04-23 20:47] #423 closed

[2021-04-26 01:09] dantegd opened #3792 "[BUG] Make tsne (and potentially others) googletest less verbose by default in CI"
**Describe the bug**
Was following CI and noticed how incredibly verbose tsne is which is making our logs even longer than they already were, where those logs (debug level if I’m not mistaken) are only useful if the tsne test fails. From a single run (tried including the full logs of the test, and it didn’t fit in github’s character limit for issues!):

[code]

[2021-04-26 10:27] cyy857 commented on #3139
Hi I ran into this same problem, too. Do you have any updates on this? Plus, the workaround of "Don't pass init option, but then can't select." does not work for me.

[2021-04-26 11:20] ysq151944 opened #3793 "[FEA]Add Post-pruning Method in RF"
**Is your feature request related to a problem? Please describe.**
For every hour, I need to training a dataset whose size is increasing rapidly, and in each training round I need to try different complexity of DT to get a relative good result.

For now cuml only provide pre-pruning params like max_depth, min_impurity_decrease, etc., yet the proper values of pre-pruning params may vary heavily. So

[2021-04-26 13:43] vinson2233 opened #3794 "[BUG] import cuml gives AttributeError: module 'cuml' has no attribute 'internals'"
**Describe the bug**
importing cuml raise errors

[code]

**Steps/Code to reproduce bug**
`import cuml`

**Expected behavior**
the libraries imported without issues

**Environment details (please complete the following information):**
 - Environment location: GCP
 - Linux Distro/Architecture: Debian GNU/Linux 10 (buster)
 - GPU Model/Driver: [T4 and driver 450.80.02]
 - CUDA: [11.0]
 - Method of c

[2021-04-26 15:31] dantegd commented on #3794
Hi @vinson2233, thanks for the issue! I just tried reproducing the issue and didn't run into the problem:

[code]

Could you try running this script https://github.com/rapidsai/cuml/blob/branch-0.20/print_env.sh and putting the output in here? This might help triage what is the problem. Thanks!

[2021-04-26 16:07] vinson2233 commented on #3794
[code]

[2021-04-26 16:29] venkywonka opened #3795 "[BUG] Incorrect feature-sampling in Random Forest old-backend & it's lack of coverage in tests"
**Describe the bug**
* The RF old-backend's method of feature-sampling currently randomly samples the indices of the features *with replacement*  instead of randomly shuffling the indices [[link](https://github.com/rapidsai/cuml/blob/branch-0.20/cpp/src/decisiontree/decisiontree_impl.cuh#L292-L294)]. This method is incorrect and results in failing of tolerance test with scikit learn's RF.
* Moreov

[2021-04-26 17:17] zbjornson commented on #3780
I actually did test late_exaggeration in all three versions here: https://github.com/rapidsai/cuml/pull/3058#issuecomment-721914845

![image](https://user-images.githubusercontent.com/469365/116123993-edc3f800-a680-11eb-86ea-d0c0d1732549.png)

[2021-04-26 18:43] cjnolet commented on #3780
@zbjornson,

Your experiment on `make_blobs` is very helpful here. This parameter was removed from the FIT-SNE PR to keep those changes more localized to the new implementation and make sure FIT-SNE ends up in the next release. `late_exaggeration` is definitely a welcome change to Barnes-hut and the exact implementations.

[2021-04-26 19:08] rsshah1993 opened #3796 "[BUG] Unexpected scores from trustworthiness metric"
**Describe the bug**
Unexpected results from `cuml.metrics.trustworthiness`.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
I believe the first score should be atleast 0.5 depending on the ordering of neighbors for each data point. The second should be 1.0 because all data points are part of the neighborhood for all rows. To confirm, I tested with sklearn and also got these values.

[2021-04-26 21:12] #1998 closed

[2021-04-27 01:59] #3795 closed

[2021-04-27 11:39] achirkin commented on #3645
As we've anticipated, the issue was in the stopping conditions, forcing cuML solver to stop much earlier than sklearn. With PRs #3766, #3774, #3777, cuML is now much more careful as for when to stop the optimization process. Yet, if you use the default parameters for both variants, some difference still remains:
[code]
However, this discrepancy now is due to sklearn's default iteration limit `100`

[2021-04-27 11:39] #3645 closed

[2021-04-27 16:43] lizequn commented on #3670
Hi,
I experienced the exact same issue on Google Colab.
I'm using the [this](https://colab.research.google.com/drive/1rY7Ln6rEE1pOlfSHCYOVaqt8OvDO35J0#forceEdit=true&offline=true&sandboxMode=true) script to install cuml on colab.

[2021-04-27 19:02] Nanthini10 commented on #3796
I was able to get 1.0 for the second call
[code]

However, the first one was 0.0 and there seems to be a problem, I'm looking further to see where the problem is stemming from.

[2021-04-27 19:33] Nanthini10 commented on #3793
Unfortunately, this is not something we're planning to do in the immediate future; we might get back to this later.

[2021-04-27 19:40] Nanthini10 commented on #3793
Thank you for the feature request and the details of the approach! This isn’t on the short term roadmap, but we’ll file it as a feature request for the future.

[2021-04-27 20:14] Nanthini10 commented on #3139
@cyy857 @pseudotensor
Can you try to use `‘scalable-k-means++’` as the argument instead of `init='scalable-kmeans++'` to see if the error persists? There seems to be a typo in the documentation of the argument.

[2021-04-27 20:25] rsshah1993 commented on #3796
Ah yep you're right, the second one was a mistake on my side. Thanks!

[2021-04-28 09:19] viclafargue commented on #3670
Did you update your environment? You can do so with the following :

[code]

[2021-04-28 10:06] lucharo commented on #2656
Hello, I am using `cuml 0.18` and the method `.to_output` does not exist anymore. More over I don't seem able to overwrite the type of my embeddings:

[code]

## Solution

I can now plot using `umap.plot.points` by setting up the cuml output context around the plot:
[code]

[2021-04-28 13:13] rsshah1993 opened #3801 "[BUG] AgglomerativeClustering: Duplicate data samples cause incorrect cluster assignments"
**Describe the bug**
Getting unexpected clustering results from AgglomerativeClustering.

**Steps/Code to reproduce bug**
[code]
**Expected behavior**
Expecting outputs to be `[0, 0, 1]` or `[1, 1, 0]`.

**Environment details (please complete the following information):**
 - Environment location: Docker
 - Linux Distro/Architecture: Ubuntu 18.04
 - GPU Model/Driver: V100/455.32.00
 - CUDA: 11.1
 -

[2021-04-28 13:49] rsshah1993 opened #3802 "[FEATURE] Support n_clusters=1 in AgglomerativeClustering"
**Describe the bug**
When I set `n_clusters=1` for AgglomerativeClustering I get the following traceback:
[code]

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Program not to crash, sklearn assigns all points to cluster 0.

**Environment details (please complete the following information):**
- Environment location: Docker
- Linux Distro/Architecture: Ubuntu 18.04
- GPU Model/Driver

[2021-04-28 15:10] cjnolet commented on #3802
@rsshah1993, thank you for reporting this. Indeed, this would be useful to support so that we can match Scikit-learn more closely. I've converted this into a feature request. I don't think supporting this will take too much effort.

[2021-04-28 15:22] cjnolet commented on #3801
I believe I know the cause of this bug. We assume absolute distance of 0 is on the diagonal in the pairwise distance matrix and so we set it to the max for the MST to converge to the correct solution. A reasonable fix for this case would be to do this only for the diagonal elements in order to support duplicate data samples.

Here's a small example of getting the correct solution by making the fir

[2021-04-28 21:49] dantegd commented on #3659
It seems it just happened again in https://github.com/rapidsai/cuml/pull/3803 it might be good to quickly tackle this if indeed it is just a small margin error

[2021-04-29 00:34] divyegala opened #3805 "[FEA] Promote FITSNE from experimental"
I'll attach embeddings of some popular datasets using cuML t-sne (FFT), cuML t-sne (BH), and sklearn t-sne (BH)

[2021-04-29 00:35] divyegala commented on #3805
Boston Dataset:

1. cuML FFT
![boston_90_30_fft](https://user-images.githubusercontent.com/14876585/116488778-11856a80-a848-11eb-9e9b-750a577cfc4c.png)

2. cuML BH
![boston_90_30_barneshut](https://user-images.githubusercontent.com/14876585/116488799-1b0ed280-a848-11eb-9f59-70ebb3b9e33d.png)

3. sklearn BH
![boston_90_30_sklearn](https://user-images.githubusercontent.com/14876585/116488802-1f3af00

[2021-04-29 00:36] divyegala commented on #3805
Breast Cancer Dataset:

1. cuML FFT
![breast_cancer_90_30_fft](https://user-images.githubusercontent.com/14876585/116488824-3679dd80-a848-11eb-905b-ef928d794c53.png)

2. cuML BH
![breast_cancer_90_30_barneshut](https://user-images.githubusercontent.com/14876585/116488836-3d085500-a848-11eb-9580-afd9dfda63b2.png)

3. sklearn BH
![breast_cancer_90_30_sklearn](https://user-images.githubusercontent.co

[2021-04-29 00:37] divyegala commented on #3805
Diabetes Dataset:

1. cuML FFT
![diabetes_90_30_fft](https://user-images.githubusercontent.com/14876585/116488888-61fcc800-a848-11eb-9a13-d992db40140d.png)

2. cuML BH
![diabetes_90_30_barneshut](https://user-images.githubusercontent.com/14876585/116488902-6a550300-a848-11eb-89b4-a876e7598808.png)

3. sklearn BH
![diabetes_90_30_sklearn](https://user-images.githubusercontent.com/14876585/116488910

[2021-04-29 00:39] divyegala commented on #3805
Digits Dataset:

1. cuML FFT
![digits_90_30_fft](https://user-images.githubusercontent.com/14876585/116488994-a6886380-a848-11eb-974f-9b7cf5361244.png)

2. cuML BH
![digits_90_30_barneshut](https://user-images.githubusercontent.com/14876585/116489002-adaf7180-a848-11eb-93c5-ee16219fdc92.png)

3. sklearn BH
![digits_90_30_sklearn](https://user-images.githubusercontent.com/14876585/116489023-b86a068

[2021-04-29 00:40] divyegala commented on #3805
Iris Dataset:

1. cuML FFT
![iris_90_30_fft](https://user-images.githubusercontent.com/14876585/116489061-d5063e80-a848-11eb-93a6-a45eb0356c76.png)

2. cuML BH
![iris_90_30_barneshut](https://user-images.githubusercontent.com/14876585/116489076-da638900-a848-11eb-9866-c1d88afbe379.png)

3. sklearn BH
![iris_90_30_sklearn](https://user-images.githubusercontent.com/14876585/116489091-e2232d80-a848-1

[2021-04-29 12:10] rsshah1993 commented on #3802
@cjnolet sounds good, thanks for the quick response!

[2021-04-29 14:27] cjnolet commented on #574
This has been implemented. Closing.

[2021-04-29 14:27] #574 closed

[2021-04-29 14:39] cjnolet opened #3807 "[FEA] Investigate approximate nearest neighbors in UMAP/TSNE/HDBSCAN"
The computation of the all-nearest-neighbors KNN is the bottleneck in UMAP and TSNE and both of these algorithms can get away with using approximate neighbors as the number of points grows very large.

We should investigate using approximate nearest neighbors functions within UMAP and TSNE, for example using nn-descent from RAFT, and see how much we can improve overall performance. In general, the

[2021-04-29 19:28] #3720 closed

[2021-04-29 20:16] lowener opened #3810 "[BUG] PCA Stress test failure: test_sparse_pca_inputs OOM"
Describe the bug
The following tests are failing with version 0.19 with `cudaErrorMemoryAllocation: out of memory`:
FAILED python/cuml/test/test_pca.py::test_sparse_pca_inputs[True-False-False-20000-4000]
FAILED python/cuml/test/test_pca.py::test_sparse_pca_inputs[True-False-False-20000-8000]
FAILED python/cuml/test/test_pca.py::test_sparse_pca_inputs[False-False-True-20000-8000]
FAILED python/cum

[2021-04-29 20:44] dantegd commented on #3810
@divyegala I think you wrote those tests, I presume you ran them in a 48 GB RTX 8000?

[2021-04-29 23:14] dantegd opened #3812 "[BUG] No autoarima e2e pytest"
**Describe the bug**
The pytests for autoarima test individual functions:

[code]

Unfortunately this misses testing the `forecast` path, which led to the issue seen in #3811

[2021-04-29 23:22] dantegd opened #3813 "[BUG] mbsgd_classifier and test_imputer_sparse failures with CuPy 9"
**Describe the bug**
PR #3806 unblocks using CuPy by removing the use of the `core` package, but it ran into the following issues:

[code]

It happened in CI, with the imputer failures happening only in 11.2

<details><summary>Click here to see the full log</summary><pre>
=================================== FAILURES ===================================
_______ test_mbsgd_classifier_vs_skl[500-20-10

[2021-04-30 01:55] divyegala commented on #3810
@dantegd that is correct... I'll self-assign. What is the peak memory usage we are looking for with stress tests?

[2021-04-30 02:21] jieYM opened #3814 "[FEA] Export pmml file"
Is there have a way to export pmml file?

[2021-04-30 16:23] dantegd commented on #3046
Bot of this have been reduced in execution time, so will close this issue and use the more recent issue for tracking

[2021-04-30 16:23] #3046 closed

[2021-04-30 16:26] zbjornson commented on #3805
It looks like a lot of those differences can be reduced by adjusting late_exaggeration.

It also looks like there are flyaways in the Iris dataset in cuML B-H.

[2021-04-30 18:41] #3792 closed

[2021-05-01 15:36] soumyasanyal opened #3816 "[BUG] TSNE computation stuck at gradient updates"
**Describe the bug**
The TSNE computation is (seemingly) stuck at the gradient updates step with no progress for over 1 hour now. The GPU on which it runs is at 100% utilization constantly and uses ~1.5GB GPU memory. The RAM/CPU usage is also within the compute capacity. Also, it seems I cannot exit the code using `ctrl+C`, I had to manually send SIGKILL to stop the code. The strange thing is the

[2021-05-03 14:36] beckernick opened #3817 "[BUG] train_test_split fails if X is a dataframe and y is an array"
`train_test_split` fails if X is a dataframe and y is an array. We are able to mix and match in the reverse scenario, though. See https://stackoverflow.com/questions/67370308/attributeerror-cupy-core-core-ndarray-object-has-no-attribute-iloc/67370710#67370710 for context.

[code]

[2021-05-03 14:57] Nanthini10 commented on #3814
@jieYM  Can you provide more context on what you're trying to achieve and what problem this feature would solve?

[2021-05-03 15:09] Nanthini10 commented on #3794
I'm able to reproduce this either - can you try uninstalling the rapids libraries and trying again?

[2021-05-03 16:16] lowener opened #3819 "[BUG] CI failure on test_explainer_permutation_shap"
CI Failed on `cuml.test.explainer.test_explainer_permutation_shap.test_different_parameters[5-SVR-10-50-float32]`
Error Message:
[code]

Link to the logs: https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci-v0.20/job/cuml/job/prb/job/cuml-gpu-test/CUDA=11.2,GPU_LABEL=gpu,OS=ubuntu18.04,PYTHON=3.8/105/testReport/junit/cuml.test.explainer/test_explainer_permutation_shap/test_different_paramete

[2021-05-03 16:18] lowener commented on #3744
- [ ]  [test_explainer_permutation_shap](https://github.com/rapidsai/cuml/issues/3819)

[2021-05-03 16:35] viclafargue opened #3820 "[BUG] MNMG nightly tests remaining sporadic RF tests failures"
MNMG nightly tests only has a few remaining test failures. Fixing these would make it possible to have a perfect MNMG testing for the first time!

[code]

@hcho3 can you help on this? On my side, I'll investigate the `test_rf_broadcast` test and look for any regression related to CuPy update in it.

[2021-05-03 20:52] cjnolet commented on #3816
@soumyasanyal, thank you for opening this issue. I believe this might be related or even caused by https://github.com/rapidsai/cuml/issues/3360. We are still working to fix this in the Barnes-Hut implementation but our 0.20 release will include the more recent FIT-SNE method as an alternative. It's likely going to be experimental for release 0.20 but we are seeing good results with it so far. If y

[2021-05-03 23:32] #3705 closed

[2021-05-04 05:26] saffranzachary opened #3822 "[FEA] Ability to Run cuML Model on AWS Lambda"
**Is your feature request related to a problem? Please describe.**
I wish I had the ability to launch a cuML model on AWS Lambda. For a mixture of reasons, this isn't possible.

**Describe the solution you'd like**
I'd love to be able to export cuML models to their Scikit-Learn equivalents, or to ONNX models.

**Describe alternatives you've considered**
If there were a way to use pip to install a

[2021-05-04 16:11] JohnZed commented on #3820
@lowener to take a first look and sync with @hcho3 if more details needed.

[2021-05-04 16:17] JohnZed commented on #3813
@lowener can you look at the imputer issue in preproc?

[2021-05-04 16:18] JohnZed commented on #3813
@divyegala what do you think about the MBSGD issue? Seems surprising to see a change here with cupy 9, right?

[2021-05-04 16:56] divyegala commented on #3813
@JohnZed very weird. I'll go through and see if we are doing any cupy specific pre or post-processing here

[2021-05-05 15:25] viclafargue commented on #3796
The problem seems to arise because the trustworthiness calculations use KNN in the background. When several points are identical, the ordering of the indices of the nearest neighbors is undefined. Fixing this would most probably require a modification in the KNN algorithm.

[2021-05-05 16:52] dantegd commented on #3819
This is a very small unlikely failure that comes from low number of permutations, I also found a couple extra fixes that can be submitted alongside this.

[2021-05-05 21:56] hcho3 commented on #3820
@viclafargue I filed #3830 to fix `test_rf_regression_dask_fil`. On the other hand, I was not able to reproduce the failure of `test_rf_classification_dask_fil_predict_proba`, even when I ran it 20 times in a row.

[2021-05-05 23:50] lowener commented on #3820
I was able to reproduce the error of  `test_rf_classification_dask_fil_predict_proba` so I made a PR, see #3830

[2021-05-06 04:40] teju85 opened #3832 "[PERF] RF fit method spends a significant amount of time in transposing the input array"
**Describe the bug**
RF fit method spends a very large amount of time in transposing the input array when: the input is a numpy array and is stored in `C` order. Thus, most of the optimizations we are doing in the RF C++ backend don't end up showing equivalent end-to-end speedups!

**Expected behavior**
Ideally, we should copy the input numpy array to cupy as-is and then perform transpose (when re

[2021-05-06 04:40] teju85 commented on #3832
Tagging @venkywonka and @vinaydes as they're already working on RF perf optimizations.

Tagging @dantegd, JFYI.

[2021-05-06 10:56] viclafargue commented on #3813
When looking into `test_imputer_sparse` failure I could identify what looks like a bug in CuPy : see [cupy/#5175](https://github.com/cupy/cupy/issues/5175).

[2021-05-06 12:14] viclafargue commented on #3820
Thanks guys! On my side, I could discover the reason behind the `test_rf_broadcast` failure. It wasn't related to CuPy update. I created a fix for it, see #3833.

[2021-05-06 16:39] #3623 closed

[2021-05-06 22:08] cjnolet commented on #3741
@divyegala believes he may have found the root cause of this issue while debugging some behaviors we've been seeing in HDBSCAN.

[2021-05-07 11:01] tfeher commented on #3653
With L2 regularization cuML and sklearn use the same LBFGS algorithm. Recently we have discovered problems with the stopping condition (see discussion in #3645). This problem is now fixed. It is highly likely that this was causing the differences.

The fix is available in the 0.20 (nightly) packages. Using that we expect to see the same score.

Note there is a difference in the definition of `tol`

[2021-05-07 11:01] #3653 closed

[2021-05-07 11:18] tfeher commented on #1293
Artem's recent fix for the QN solver stopping condition (#3766, #3774, #3777) also affects convergence for the case with L1 regularization.

@dantegd do we have any concrete example where the accuracy still differs? If yes, then @achirkin could have a look. Otherwise we could close this issue.

[2021-05-07 14:06] tzemicheal opened #3838 "[FEA] Isolation Forest implementation with FIL inference capability"
**Is your feature request related to a problem? Please describe.**
An implementation to IsolationForest (unsupervised tree based anomaly detection). The scikit has the following implementation https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.IsolationForest.html.  The implementation of isolationForest could be extended from existing random forest/decision tree algorithm in rapids

[2021-05-07 15:16] dantegd opened #3839 "[BUG] Test `test_stratified_binary_classification` in CI"
**Describe the bug**
The pytest `test_stratified_binary_classification` has failed in CI in back to back runs in PR https://github.com/rapidsai/cuml/pull/3835 and https://github.com/rapidsai/cuml/pull/3836

Since it seems to be very frequent, the PR 3835 will skip the test for now

See logs: https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci-v0.20/job/cuml/job/prb/job/cuml-gpu-test/CUDA=11.

[2021-05-07 16:48] afender opened #3840 "[FEA] Transfer the logger to RAFT"
Seems like it is pretty useful and stand-alone. We are looking for something exactly like this in another project and cuGraph could benefit from it too.

https://github.com/rapidsai/cuml/blob/branch-0.20/cpp/include/cuml/common/logger.hpp

+cc @hlinsen and @divyegala

[2021-05-07 18:58] Nanthini10 commented on #3839
The error occurs intermittently due to randomness, setting a random state fixes it. I'll have a fix soon for this

[2021-05-07 20:51] cjnolet commented on #3840
+1 for this. We talked about it briefly awhile ago but it would be nice to finally have this where we can share it.

[2021-05-08 18:30] zahs123 opened #3843 "How can i use AgglomerativeClustering?"
I have downloaded rapids19 to i can use AgglomerativeClustering. Traditionally i would pass a distance matrix and a dendogram would be computed. It is not clear to me though how i can use this function in cuml to 1) get distance matrix 2)produce dendogram ... can somebody please post how i can do this using cuml?

[2021-05-10 07:49] aliabdoli opened #3846 "[FEA] Support exogenous variables in ARIMA model"
**Supporting exogenous variables in ARIMA model**

As far as I can see, right now, there is no support for exogenous variables when running ARIMA model. It means that the model sees all inputs as endogenous variables.

Just wondering if it is possible pls (or there is already a way that I m missing here) to support SARIMAX with exog variables the same as tsa.

https://www.statsmodels.org/stable/ge

[2021-05-10 15:23] Nanthini10 commented on #3843
I'm not sure what you mean by that - is there something you tried  that didn't work?

If you're just looking for example usage, the API is similar to the [`sklearn.cluster.AgglomerativeClustering`](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.AgglomerativeClustering.html#sklearn-cluster-agglomerativeclustering) refer to [`cuml.AgglomerativeClustering`](https://docs.rapids.ai/a

[2021-05-10 16:18] JohnZed commented on #3832
Was this closed by https://github.com/rapidsai/cuml/pull/3835 @dantegd and @teju85 ?

[2021-05-10 17:14] teju85 commented on #3832
That's correct, @JohnZed . Closing this one.

[2021-05-10 17:14] #3832 closed

[2021-05-11 01:12] jieYM commented on #3814
I want to share my training model to other people by pmml file.

[2021-05-11 01:17] burlachenkok commented on #204
Ok

[2021-05-11 11:57] trivialfis opened #3849 "[BUG] UMAP test is not built."
This file https://github.com/rapidsai/cuml/blob/branch-0.20/cpp/test/sg/umap_test.cu is not included in CMakeLists.txt https://github.com/rapidsai/cuml/blob/1ea479b4da0412f8f893405a4f94829a74803416/cpp/test/CMakeLists.txt#L82

Is this an oversight or an expected behaviour?  Or maybe I'm missing something?

The code in this file seems to be outdated.

[2021-05-11 12:31] trivialfis commented on #2945
It's probably due to out of memory.  The connectivity graph is memory hugry.

[2021-05-11 14:06] tfeher opened #3850 "[FEA] Multiple regression targets in LinearRegression"
**Is your feature request related to a problem? Please describe.**

Currently cuML's LinearRegression only support a single regression target, in other words `y` has to have only one column.
In contrast, scikit-learn [supports multiple regression targets.](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html#sklearn.linear_model.LinearRegression.fit)

**Desc

[2021-05-11 16:04] viclafargue commented on #3201
Answered by #3270

[2021-05-11 16:04] #3201 closed

[2021-05-11 16:05] viclafargue commented on #2868
Answered by #3533

[2021-05-11 16:05] #2868 closed

[2021-05-11 16:09] #3342 closed

[2021-05-11 16:26] #3839 closed

[2021-05-11 16:57] JohnZed commented on #3626
We will consider this a feature request for simplification of this process in a future release (and documenting better). Thank you for filing!

[2021-05-11 18:14] #1500 closed

[2021-05-11 18:15] #1511 closed

[2021-05-11 22:33] cjnolet commented on #3843
@zahs123, `cuML's AgglomerativeClustering` does not accept a distance matrix directly, but it could. Is this a feature you are interested in using? If so, we can convert this issue into a feature request.

[2021-05-11 22:35] cjnolet commented on #3816
@soumyasanyal, just checking in- have you been able to try the `fft` method? If it does fix your issue, I suggest we close this as a duplicate of #3360.

[2021-05-11 22:59] #2495 closed

[2021-05-12 11:34] soumyasanyal commented on #3816
Hi @cjnolet , thanks for checking! I've not tried the `fft` method yet. For the time being, I switched to using [`MulticoreTSNE`](https://github.com/DmitryUlyanov/Multicore-TSNE) for my project. I'll close this issue now, and update the thread later if I get time to experiment with the `fft` method on my data.

[2021-05-12 11:34] #3816 closed

[2021-05-12 16:34] mdemoret-nv commented on #3849
@dantegd It might be worthwhile to audit all of the CMakeLists.txt files to make sure no other `*.cu/cpp` files are missed. Thoughts?

[2021-05-12 16:42] mdemoret-nv commented on #3840
+1 for this as well. Might be out of the scope of this issue, but having a unified Python/C++ logger that works across cuML and RAFT would be ideal.

[2021-05-12 16:53] dantegd commented on #3849
@mdemoret-nv good idea, I just went ahead and checked the lists for PR #3844 and the only file missing is this one indeed

[2021-05-12 17:01] viclafargue commented on #3849
@dantegd the `umap_parametrizable_test.cu` file was indeed intended to replace the earlier `umap_test.cu` file. The new file should cover earlier testing and add some more. The older version was kept in the codebase, but I think that we should be able to safely remove it now.

[2021-05-12 17:04] mdemoret-nv commented on #3849
@viclafargue Sounds good.

Since this is limited to only this file and there is already a UMAP PR ready for review, I'm not opposed to including the fix in PR #3848 and adding this issue to the linked issues in the PR. @dantegd Thoughts? Should we create a new PR or add to the existing?

[2021-05-12 18:50] dantegd commented on #3849
Adding to the existing sounds fine for me

[2021-05-12 19:04] mdemoret-nv commented on #3846
@aliabdoli Thank you for the feature request! Going to ping my colleague who is more familiar with the ARIMA code to help determine the level of effort needed to implement this request.

@Nyrio Wondering if we could get your perspective on this request? Is there any way to support exogeneous variables currently?

[2021-05-12 19:14] dantegd commented on #2830
@divyegala just wanted to ask since you're assigned if you have any updates on the status of this?

[2021-05-12 19:19] dantegd commented on #1934
The failures for mnmg tests are being tracked on #3820 and CUDA 10.1/10.2 are no longer supported, so will close this issue and any problems we can report them on the linked issue.

[2021-05-12 19:19] #1934 closed

[2021-05-12 20:35] teju85 commented on #3846
Adding exogenous variables support in ARIMA has been one of the items in the todo list.

Louis is on vacation this week and can update once he's back with more details regarding this feature.

[2021-05-12 22:04] #798 closed

[2021-05-12 22:54] hcho3 opened #3853 "[FEA] Ability to export cuML RF models and run prediction on machines without a GPU"
**Is your feature request related to a problem? Please describe.**
This is similar to #3556 and #3822, but for random forests specifically.

**Describe the solution you'd like**
When the latest Treelite (1.3.0) is brought into cuML, we will be able to convert cuML RF to a Treelite object and then serialize it as a checkpoint. Treelite now offers a binary checkpoint format so that tree models can b

[2021-05-12 23:32] cjnolet commented on #3742
Assigning @trivialfis since this should (hopefully) be covered by #3848

[2021-05-13 02:29] teju85 commented on #1484
Just to update this: @RAMitchell 's experiments [here](https://github.com/rapidsai/cuml/pull/3845#issuecomment-837414987) show that cuML's MAE is indeed following MSE.

[2021-05-13 03:30] hcho3 opened #3856 "[FEA] Handle exceptions with all uses of Treelite C API"
Treelite's C API uses the return value to indicate any errors. All calls to C API functions should be wrapped with a check that checks that the return value is `0`, and if not, convert the error code into a Python exception.

[2021-05-13 07:22] trivialfis commented on #3849
Pushed into it.  Thanks for the replies.

[2021-05-13 10:37] victorconka opened #3857 "[BUG] SparseRandomProjection cudaErrorInvalidValue:invalid argument"
**Describe the bug**
A clear and concise description of what the bug is.

I have multiple datasets to which I apply SparseDimensionalProjection in a loop one by one, something like this:
[code]
I get the following error:

[code]

This does not happen if GaussianRandomProjection is used instead of SparseRandomProjection. Neither does sklearn.random_projection.GaussianRandomProjection cause any prob

[2021-05-13 15:40] dantegd commented on #3767
Linking #3845

[2021-05-13 15:54] dantegd commented on #3520
Linking PR #3845

[2021-05-13 20:02] Nanthini10 opened #3858 "[BUG] Dask RandomForestRegressor hangs intermittently"
**Describe the bug**
Single-node multi-GPU run of `cuml.dask.ensemble.RandomForestRegressor`  hangs intermittently on `fit` call

**Steps/Code to reproduce bug**

Run a few times to reproduce the error. It failed one out of 5 runs for me.

<details>

[code]

</details>

**Expected behavior**
Should run consistently.

**Environment details (please complete the following information):**
 - Environme

[2021-05-13 20:16] trivialfis opened #3859 "[FEA] Option for hiding CXX symbols."
CXX symbol clash can happen between libraries, which may lead to weird errors that are difficult to reproduce and fix.  One time I ran into an `cudaErrorInvalidValue` error caused by it in XGBoost.  This kind of error corrupts the program and is impossible to debug if you don't know about symbol clash.  I'm suspecting that I might be running into it in cuml in one of my environments, even if I'm w

[2021-05-13 20:38] trivialfis commented on #2980
Hi, may I ask what's the current status of this?  I would like to look into it after UMAP. ;-)

[2021-05-13 21:19] cjnolet commented on #2980
@trivialfis, the new (experimental) FFT implementation has lower variance and better numerical stability but it's not completely deterministic. It would be great if you were able to make this deterministic as well.

[2021-05-13 22:25] dantegd commented on #3859
@trivialfis for cython, it can be added to compiler options either file based or in the extension definition if I'm not mistaken (i.e. here https://github.com/rapidsai/cuml/blob/ef13080fa686bac6504b77062f5fb2e0727bfe7f/python/setup.py#L193).

That said, this is something we can look into after #3844 is merged. Not entirely sure immediately, but the first option that comes to my mind is to add the

[2021-05-13 22:38] mdemoret-nv commented on #3859
@dantegd I looked at the linked documentation and it doesn't mention any downsides to hiding CXX symbols. Do you know any downsides to enabling this by default for cuML?

[2021-05-13 22:42] mdemoret-nv commented on #3856
@hcho3 Do you have a link to an example in the code? I'm not sure if this is in the C++ code or via Cython. If it's Cython, there might be some built in options to handle return value exceptions. Will need to dig in more.

[2021-05-13 22:48] hcho3 commented on #3856
Here is an example of unprotected call to a C API function:
https://github.com/rapidsai/cuml/blob/ef13080fa686bac6504b77062f5fb2e0727bfe7f/python/cuml/fil/fil.pyx#L100-L105

The return value should be examined, as follows:
https://github.com/rapidsai/cuml/blob/ef13080fa686bac6504b77062f5fb2e0727bfe7f/python/cuml/fil/fil.pyx#L141-L144

To reduce the amount of boilerplate code, we should create a ut

[2021-05-13 23:43] hcho3 opened #3861 "[FEA] Remove duplicated files from RAFT"
As noted in rapidsai/raft#229 and #3860, there are a few files that are duplicated in cuML and RAFT, such as `cpp/test/prims/test_utils.h`. We should locate and remove the duplicated files.

[2021-05-14 01:28] dantegd commented on #3859
@mdemoret-nv nope, I came to the same conclusion as you while reading, but would like to have an exclusive PR (that only touches this) and corresponding testing to be sure that there are no unexpected side effects.

[2021-05-14 02:15] trivialfis commented on #3859
For downsides:
- The exception might turn into abort if the API is not taken care.
- I encountered different behaviours when doing a toy project with llvm.

[2021-05-14 02:22] Terra4m opened #3863 "How to perform a Kmeans on a Geotiff image loaded with CUCIM?"
**What is your question?**

[2021-05-14 02:27] dantegd commented on #3813
Closed by #3836

[2021-05-14 02:27] #3813 closed

[2021-05-14 04:07] trivialfis opened #3864 "[BUG] UMAP transform accuracy."
I tried to compare the results between CPU UMAP and GPU UMAP with fashion mnist dataset, it seems the CPU implementation is more accuracy from a visualization point.  The comparison is made between branch-0.20 of cuml and 0.5.1 of CPU UMAP, both are run with seed:

| CPU                                                                                                                     | GPU

[2021-05-14 04:54] cjnolet commented on #3864
We synced offline about this and are both able to product the correct result and match the reference implementation by adjusting `n_epochs=200` (which is what it should be getting set to for a dataset with <= 10k samples). However, setting `n_epochs=0` (the default) should automatically get set to 200 during optimization and this doesn't seem to be happening.

Here's an image of the result when `n

[2021-05-14 05:36] trivialfis commented on #3864
Actually, for both fit and transform, when the number of epochs is small, CPU result is better than GPU.

[2021-05-14 05:52] cjnolet commented on #3864
Yep, I do agree that I have seen slower convergence of the optimizer in the past with both training and inference. For example, setting `n_epochs=25` does converge faster on CPU. At one point I had dived deeply into the cause and traced it to the consistency issues from the data races during the optimization step. However, I would have expected that to go away by setting `random_state` to a nonzer

[2021-05-14 15:29] #3768 closed

[2021-05-15 04:12] Cliff-Lin opened #3865 "[BUG] Why tSNE is stuck depending of the distribution of data?"
**Describe the bug**
I have some feature sets whose dimension is 128. If the iteration of tSNE is more than 1000, it can finish in a few minutes for most sets. However, it is stuck for more than 12 hours on other sets. Since I don't know how long it will take, I terminate it before it finish. Is there any option I can obtain the iterations it has ran? What is the condition causing it stuck?

**Ste

[2021-05-15 10:51] #3198 closed

[2021-05-15 14:50] trivialfis commented on #3859
I will try looking into it once @dantegd 's PS is merged

[2021-05-15 15:01] trivialfis commented on #2980
Thanks for sharing the information.  It will be on my to-do list.

[2021-05-17 02:40] Cliff-Lin commented on #3865
I've tried fft mode. I can see the running iteration, but it runs 1000x or 10000x slower than the default setting for all sets.
It should be weird, right?

[2021-05-17 03:49] cyy857 commented on #3750
Hello, is there any update on this issue? Thanks!

[2021-05-17 14:48] armstrys commented on #3108
I am seeing a similar error with a conflict on ```__glibc``` even when running the rapids install command from the website with all channels listed. Below is the output from running that script. Let me know if I can provide any other info to help diagnose! For what it's worth, I was successfully able to install both ```cuspatial``` and run some operations with ```cudf``` on the same machine in an

[2021-05-17 18:16] mdemoret-nv commented on #3861
Moving to the Tech Debt project. Should ensure there are no additional duplicates between cuML and RAFT.

[2021-05-17 19:10] hcho3 commented on #3764
@RAMitchell I re-ran your script with my prototype #3862 and now the accuracy gap is closed:
![rf](https://user-images.githubusercontent.com/2532981/118543256-e5536000-b708-11eb-8491-0263cd4f2747.png)

[2021-05-17 20:11] mdemoret-nv commented on #3863
Thanks for your question! Unfortunately, since the cuCIM library is relatively new, I am not too familiar with it. Do you have any example code showing how you are loading GeoTIFF images with cuCIM? From there, I can help with converting the data into the right format and running Kmeans in cuML.

[2021-05-17 21:02] mdemoret-nv commented on #3865
Thanks for your bug report! I can answer a few of your questions but will need the help of a couple of my colleagues to diagnose the root cause of the problem.

First, can you give us more information to help us reproduce the issue on our end? You mentioned that some feature sets work and others get stuck. Do you have examples of both of these feature sets that we could try?

Regarding your other

[2021-05-17 21:07] divyegala commented on #3865
Adding onto @mdemoret-nv's suggestions here it's possible for the hang to occur for different datasets when the underlying solver is `method=barnes_hut`. @Cliff-Lin we recently introduced `method=fft` which is more stable. Could you try running those sets for which it hangs with this method? It's an experimental feature but it will be nice to get your input for it

[2021-05-17 21:16] mdemoret-nv commented on #3857
Viktor, to figure out whats going on here, we will need a little more information.

1. Can you send us the full contents of the error message?
   1. We will need the stack frame information to understand where the error is occurring.
2. Second, can you give us more information about the data in `ds_list` from your example?
   1. If you can send us the data directly, that would be ideal.
   2. Othe

[2021-05-18 00:13] #2895 closed

[2021-05-18 00:21] hcho3 commented on #3188
Fixed in #3243

[2021-05-18 00:21] #3188 closed

[2021-05-18 01:30] Terra4m commented on #3863
Hi Michael, thanks for the quick jump-in.
It is as simple as:

![Screenshot from 2021-05-17 18-27-51](https://user-images.githubusercontent.com/84164453/118576727-efdc1c80-b73d-11eb-97d3-f04db3dcd80b.png)

[2021-05-18 02:37] mdemoret-nv commented on #3859
@dantegd Lets revisit this once your PR is merged. The changes will be very small and easy to implement. Seems like the best course of action is to just try and see what happens in build/test.

[2021-05-18 02:55] Cliff-Lin commented on #3865
The links below are the sample sets:
- [short.npy](https://drive.google.com/file/d/1ZLBHaM-kchPVpWhLvoa94M4s0OLowNhq/view?usp=sharing)
- [long.npy](https://drive.google.com/file/d/1v4qdtH1GpJo5i-Ek1c_qxzmv1fIzBME_/view?usp=sharing)

`short.npy` can be processed in a few minutes under the default setting of tSNE while `long.npy' can not. The feature numbers and dimensions of them are the same.
May

[2021-05-18 09:08] victorconka commented on #3857
@mdemoret-nv Michael, if you need any more details, please let me know.

1. Full error message
[code]
2. code to generate similar kind of data and reproduce error:
[code]
3. The error happends every time on different iterations. usually 'i' doesn't go higher than 10.

[2021-05-18 14:22] viclafargue commented on #3857
Thanks for posting this issue @victorconka. Thank you for following it @mdemoret-nv.
This algorithm was written a long time ago and would need an update. I could find the reason behind the crash. Indeed, [this line](https://github.com/rapidsai/cuml/blob/4d069915b9d12fa8b301d1c5e4bb4abe5198d1a4/cpp/src/random_projection/rproj.cuh#L76) computes an estimate of the maximal size for an allocation that

[2021-05-18 17:41] divyegala commented on #2830
@dantegd sorry, no updates! Is it something we are trying to get in for 21.06?

[2021-05-18 21:15] cdeotte opened #3874 "[FEA] cuml.preprocessing.TargetEncoder.TargetEncoder"
## Report incorrect documentation

**Location of incorrect documentation**
https://docs.rapids.ai/api/cuml/stable/api.html#preprocessing-metrics-and-utilities

**Describe the problems or issues found in the documentation**
This target encoder has a smooth parameter. The parameter is a ratio but makes more sense to be an absolute counts value.

**Suggested fix for documentation**
Either add to the

[2021-05-18 21:17] daxiongshu commented on #3874
Thank you for raising the issues. I think this is more like a feature request. I'll work on a PR changing the `smooth` argument to be absolute count rather than ratios.

[2021-05-18 21:55] hcho3 commented on #3252
Fixed in #3845

[2021-05-18 21:55] #3252 closed

[2021-05-18 23:08] hcho3 commented on #3853
Closing, since it's now possible to export cuML RF models as a checkpoint file that can be later be loaded into a machine without a GPU.

[code]

Later on a machine without a GPU:
[code]
Note that only Treelite needs to be installed on the target machine; cuML is not required.

[2021-05-18 23:09] #3853 closed

[2021-05-19 01:41] dantegd commented on #2360
Closing issue due to age, and @Nanthini10 response should solve it. If not, feel free to reopen or open a new issue, thanks!

[2021-05-19 01:41] #2360 closed

[2021-05-19 02:39] cyy857 commented on #2706
@dantegd Hello, similar problem here. You mean, single GPU support cuDF, multi-GPU supports dask cuDF, right? I'm running multi-node multi-GPU DBSCAN, but error occurred as "X matrix format <class 'dask_cudf.core.DataFrame'> not supported". Is there any workaround or solution now? Thanks very much!

[2021-05-19 09:04] daxiongshu commented on #3874
This is the PR I'm working on: https://github.com/rapidsai/cuml/pull/3876

@cdeotte do you think it is necessary to check:
- if `smooth` is an integer? I mean float also works as long as it's not negative.
- if `smooth` is too big? let's say 40 is a good value for the default value. what number would be too large?

[2021-05-19 11:38] UmashankarTriforce commented on #2081
@teju85 @cjnolet Is this issue still open? I would like to work on this feature!

[2021-05-19 11:44] teju85 commented on #2081
@UmashankarTriforce I think @viclafargue recently got the PR #3770 done which addresses this issue? I'll let Victor confirm.

[2021-05-19 11:49] UmashankarTriforce commented on #1802
@teju85 Is this issue still open? I would like to work on it!

[2021-05-19 12:02] teju85 commented on #1802
Yes @UmashankarTriforce this is still unresolved. This basically involves one going through all the C++ unit-tests defined [here](https://github.com/rapidsai/cuml/tree/branch-21.06/cpp/test) and trying to come up with a design to reduce code duplication.

[2021-05-19 12:09] UmashankarTriforce commented on #3673
@mdemoret-nv @teju85 I wish to work on this issue! Could you please give me some pointers?

[2021-05-19 12:18] viclafargue commented on #2081
For now, we chose to use the [`nvtx`](https://nvtx.readthedocs.io/en/latest/) Python module which is very complete as it allows to configure a message, domain, category and color in a straightforward fashion. It is indeed in use in `cuDF` and `ucx-py`. The design can still probably be improved however. Happy to discuss any new idea @UmashankarTriforce.

[2021-05-19 17:52] cdeotte commented on #3874
@daxiongshu i don't think it's necessary to check. A float, negative number, or large number will all work. I think that you only need to check that it's a number and not a string.

I think a better default value is probably 20. The value 20 says that when we see 20 samples in train, we use the computed target mean 50% and the global mean 50%. Then when we see 40 samples in train, we use the compu