[2019-04-26 00:31] teju85 commented on #449
Closing this one as a duplicate of issue #93 .

[2019-04-26 00:31] #449 closed

[2019-04-26 07:22] jirikraus commented on #498
Since there is a cuML to ml-prims dependencies anyhow I think just moving all resources that are required by ml-prims to a ml-pirms handle and make that part of the `cumlHandle_impl` is the best option.

[2019-04-26 13:20] AK-ayush commented on #404
In order to solve this issue, you can update the `LD_LIBRARY_PATH` with location of `libcuml.so` after installation using pip.

* `find / -name libcuml.so` <- it will print the absolute path of libcuml.so.
   `/path/to/libcuml.so`

* now update the LD_LIBRARY_PATH using:
  `export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/path/to`

After that try `import cuml`, hopefully it should work...

[2019-04-28 07:38] ksangeek opened #509 "[BUG] cuml build with --multi-gpu option fails"
**Describe the bug**
A `cuml` conda build with --multi-gpu option fails. It looks for a library `libCUML.so`, but I don't that being provided by `cuml` repository nor any other projects in `rapidsai`.

**Steps/Code to reproduce bug**
I am trying to build `cuml` with multi-gpu support for `linux-ppc64le` with CUDA 10.1.
On using the build script from https://github.com/rapidsai/cuml/blob/branch-0.7

[2019-04-28 13:13] dantegd commented on #509
Hi @ksangeek, the only way currently to get ‘libcumlMG‘ is to install it from the ‘nvidia‘ conda channel as you correctly pointed out, since it’s based on non open source code (the license is in the conda channel indeed).

So this is not a bug but the current state of support (or lack thereof) for multi gpu algorithms (except for nearest neighbors) for PPC. Versions for ppc won’t be available for

[2019-04-28 13:13] #509 closed

[2019-04-28 13:20] ksangeek commented on #509
Thank you @dantegd for providing this information.
Shall I open a feature request to track multi-gpu library availability for PPC?

[2019-04-28 15:35] dantegd commented on #509
Yes, a feature request to track it would be most welcome. Thanks!

[2019-04-29 05:43] ksangeek opened #510 "[FEA] Provide libcumlMG for linux-ppc64le"
**Is your feature request related to a problem? Please describe.**
I wish I could build `cuml` with `--multi-gpu` option for linux-ppc64le.
As I understand from the response for issue https://github.com/rapidsai/cuml/issues/509 the pre-req library for that `libcumlMG` is currently not available for PPC.

**Describe the solution you'd like**
Provide `libcumlMG ` conda package for linux-ppc64le or t

[2019-04-29 17:58] Bluesn0w commented on #404
still the same issue. I have sourced bashrc and made sure $LD_LIBRARY_PATH reflects the changes in virtualenv before i import cuml.

PS: cuml is  the only package I have issue. cudf works perfectly (also installed through pip)

!echo $LD_LIBRARY_PATH
:/usr/local/cuda-10.0/lib64:/root/.virtualenvs/RAPIDS/lib/python3.6/site-packages/libcuml.so

import cuml
-------------------------------------------

[2019-04-29 18:03] AK-ayush commented on #404
@Bluesn0w set the LD_LIBRARY_PATH as follows:

`export LD_LIBRARY_PATH=/usr/local/cuda-10.0/lib64:/root/.virtualenvs/RAPIDS/lib/python3.6/site-packages/`
**do not include the libcuml.so in LD_LIBRARY_PATH**

[2019-04-29 18:27] Bluesn0w commented on #404
Thanks @AK-ayush. I can confirm it works.  In that case, will you suggest me to copy this file to somewhere so it won't just associate with 1 specific virtualenv?

I am also wondering why this needs to be set at LD_LIBRARY_PATH? cudf uses some libs, eg librmm.so, why it does not need to set in environment variable?

Thanks!

[2019-04-29 22:52] taureandyernv opened #514 "[FEA]Groupby.std() should be implemented"
Although mentioned in the docs, Groupyby.std() is not implemented.  we should create the function of this widely used capability, as this was part of the pygdf and h20ai capability set.

[2019-04-29 22:53] #514 closed

[2019-04-30 01:47] AK-ayush commented on #404
Hi @Bluesn0w
Answer to your first question:
I wouldn't recommend to copy this file somewhere central location because there may be different versions in different virtualenvs, in that case it will cause issue.

and the answer to second question:
In @datametrician 's word- `pip has been a nightmare for our build infrastructure and until pip sets new standards we would rather not fight with build an

[2019-04-30 05:10] teju85 opened #517 "[FEA] Add support for transposed input layout for distance matrix ml-prim"
**Is your feature request related to a problem? Please describe.**
Title says it all! Current distance matrix prim only works with row-major input datasets. It is better to support col-major cases as well for increased flexibility and ease of usage of this prim in cuML.

**Describe the solution you'd like**
Expose transposed input layout for distance matrix ml-prim.

**Describe alternatives you've

[2019-04-30 15:44] randerzander opened #518 "[FEA] Add NearestNeighbors.predict method"
cuML.NearestNeighbors exposes distance and indices matrices, but not a `predict` method.

If a user wants to do classification based on the results of the model, they need to manually cross reference indices and raw data to find each neighbor's classification, then also manually summarize neighbor classifications into the resulting prediction.

cuML should add a `predict` method like [scikit-learn

[2019-04-30 16:18] dantegd commented on #490
@oyilmaz-nvidia was wondering what is the status of this bug and if the solution will be able to make it for 0.7?

[2019-04-30 16:18] cjnolet commented on #518
The current implementation is actually based on sklearn's `NearestNeighbors` class. I created #267 to capture the requirement for KNNClassification/Regression.

[2019-04-30 16:23] Bluesn0w commented on #404
@AK-ayush , Thank you!

[2019-04-30 17:45] tlkh commented on #404
I think we should place this under the installation instructions for pip - no doubt many people will go that route and face issues.

[2019-04-30 17:45] #404 closed

[2019-04-30 20:09] dantegd opened #521 "[FEA] Enable CI check for black listed CUDA Runtime API calls and Copyright headers"
PR #500 has been merged and includes a script to check "black listed" synchronous CUDA calls. Even though it was merged, CI is not running the tests currently, so this issue is to keep track when they can be enabled.'

PR #618 similarly has been merged and enables Copyright header checks.

[2019-05-01 14:00] Salonijain27 commented on #490
I ran a few tests to see when would the above error occur:
the TSVD algo works perfectly fine for dataset of size 2**21 but for 2**22 and above it causes the error.
The original demo uses the entire 2**22 dataset (100% of the dataset) and gives us all answers as same. Here we are splitting the dataset into 80/20 for training and testing and it gives an error
when we fit the model on the first 80%

[2019-05-01 17:07] cjnolet commented on #442
Supervised training is going to be delivered for 0.7. More distances based on Lp norms and extensions can be delivered for 0.8.

[2019-05-01 20:20] #452 closed

[2019-05-01 20:25] cjnolet commented on #294
Linking #292

[2019-05-01 20:26] cjnolet commented on #294
Linking #516

[2019-05-01 20:28] cjnolet commented on #304
@teju85, Given the amount of work we have on our plates for 0.7, can we push this to 0.8?

[2019-05-01 20:31] #158 closed

[2019-05-01 20:32] cjnolet commented on #226
We are swapping out our kmeans implementation so I don't believe this ticket will be relevant any longer. We can re-open or create a new one if this problem remains in the new implementation.

[2019-05-01 20:39] #85 closed

[2019-05-01 20:43] cjnolet commented on #71
We are replacing kmeans and have not seen nor heard of any recent reports of tsvd tests failing. Closing for now.

[2019-05-01 20:43] #71 closed

[2019-05-01 23:00] #429 closed

[2019-05-02 11:54] jirikraus opened #530 "[FEA] Activate ci/checks/black_lists.sh"
**Is your feature request related to a problem? Please describe.**
According to the cuML [DEVELOPER_GUIDE.md](https://github.com/rapidsai/cuml/blob/branch-0.7/cuML/DEVELOPER_GUIDE.md) we want to avoid certain CUDA Runtime API calls that incur implicit synchronization of the default stream (e.g. synchronous `cudaMemcpy`), by pass the allocator infrastructure (e.g. `cudaMalloc`) or synchronize to wi

[2019-05-02 13:52] cjnolet commented on #518
I'm going to close this, since it's a duplicate of #267. Feel free to open it back up if you feel I am wrong in my assessment.

[2019-05-02 13:52] #518 closed

[2019-05-02 15:37] #489 closed

[2019-05-02 16:37] teju85 commented on #304
With the amount of work we have, I'd even go further to claim that we should probably revisit this item in 0.9!

[2019-05-02 18:00] dantegd commented on #488
Solved via #526

[2019-05-02 18:00] #488 closed

[2019-05-02 18:33] cjnolet commented on #530
Is this a duplicate of #521 ?

[2019-05-02 19:49] dantegd commented on #530
It is a duplicate indeed

[2019-05-02 19:49] #530 closed

[2019-05-02 19:53] dantegd opened #538 "[FEA] Expose enum to indicate loss function of coordinate descent API"
**Is your feature request related to a problem? Please describe.**
The parameter for `cdFit` function of coordinate descent is an `int`, with 0 indicating `SQRT_LOSS`. See PR #507.

**Describe the solution you'd like**
Exposing an enum of possibilities would be a good improvement for the API, enhancing accessibility and potentially reducing bugs.

[2019-05-02 20:16] Msabih opened #539 "build error invalid host type"
I am trying to build cuml with cuda-10.1, gcc7 and cmake 3.12. I have successfully compiled cudf. When I try to install cuml with

python setup_pip.py install

or
[code]

I am pretty sure that my libopenblas is correct but I am not sure why I am having this error.

[2019-05-03 01:22] dantegd commented on #539
Hi @Msabih thanks for the issue.

That error can happen if the LAPACK compliant library is not found correctly. The easiest way to solve it is to use the cmake libraries to specify the location of a BLAS and LAPACK libraries. Since you're using conda, I would highly recommend using `openblas` as you're doing (since it is a requirement of pyarrow which is required for cuDF, chances are high you hav

[2019-05-03 15:03] cjnolet opened #548 "[FEA] Establish API to enable visualization of dimension reduction algorithms"
@exactlyallan and I have discussed the need for users to be able to visualize our dimension reduction algorithms using libraries like Datashader. Our current Python and C++ APIs follow sklearn, which provides an abstraction at the layer of a model, allowing only for it to be trained in its entirety, thus hiding from the user the evolution of the trained parameters during optimization.

The API pro

[2019-05-03 17:03] wxbn commented on #548
Thanks for the great insights! I think it would be interesting to have different types of callback functions inside the optimizer to be able to get a view on internal states and statistics. Including one that would be called at the end of each learning step of a dimensionality reduction algorithm. This callback would be provided with a device pointer containing the transformed data at this step an

[2019-05-04 05:41] #485 closed

[2019-05-04 05:45] cjnolet commented on #223
This should finally be fixed in 0.7. There is a new option in the dbscan constructor that indirectly controls the batch size. I also fixed a major bug that was causing incorrect results when catching was used. Hopefully 0.7 will fix this issue when it is released. Closing this for now. Please reopen if this issue remains.

[2019-05-04 05:45] #223 closed

[2019-05-04 05:46] #442 closed

[2019-05-04 05:47] #309 closed

[2019-05-04 05:48] #419 closed

[2019-05-04 05:51] cjnolet commented on #316
Built a “symmetrize” prim for COO matrices that takes care of this requirement.

[2019-05-04 05:51] #316 closed

[2019-05-04 05:55] #245 closed

[2019-05-04 05:56] #199 closed

[2019-05-04 05:56] #184 closed

[2019-05-04 05:57] cjnolet commented on #157
@oyilmaz-nvidia  Is this complete?

[2019-05-04 06:00] cjnolet commented on #102
Update: we do have an SVM implementation in the works.

[2019-05-04 06:00] #102 closed

[2019-05-04 06:04] #174 closed

[2019-05-04 13:21] quasiben opened #554 "Unnecessary Copies of Data"
cuML should track issue https://github.com/rapidsai/cudf/issues/1606 and review where copies of data might be unnecessary

[2019-05-05 15:27] cjnolet opened #555 "[FEA] DBSCAN: Move vertex degree, adjacency graph, & weakly CC into prims"
Now that cuML contains a set of sparse primitives, including container objects for coordinate and compressed sparse row formats, it would be a good idea to pull the sparse algorithms out of DBSCAN, and conform them to the structure of the other sparse primitives.

This would increase readability within DBSCAN, while also making these components reusable and more maintainable. The cuGraph team is c

[2019-05-05 15:28] cjnolet commented on #555
To track progress:
- [ ] Vertex degree primitives
- [ ] CSR adjacency graph primitive
- [ ] Weakly CC primitive

[2019-05-05 15:35] cjnolet commented on #95
#555 will push all the components that compose DBSCAN into primitives, which will be tested more thoroughly in isolation.

[2019-05-05 15:43] cjnolet opened #556 "[FEA] UMAP: Test C++ components more thoroughly"
Thus far, I have been testing UMAP by unit testing its underlying sparse primitives that compose its algorithmic components, however, testing the larger UMAP components, like the fuzzy simplicial set construction, has been a manual process, with the functional python tests being the only automated verification of correctness.

In order to increase the C++-level testing, we should, at the very leas

[2019-05-05 16:21] cjnolet commented on #548
@wxbn, I certainly like the idea of callbacks! I recall using this feature in Keras to get performance metrics as well. Using this approach would also allow us to just add a couple extra configuration options to the existing API without the need for a complete overhaul.

In the most generalized case, there tends to be basic 3 steps to many of these nonlinear dimensionality reduction / manifold lea

[2019-05-06 05:29] oyilmaz-nvidia commented on #157
This is complete.

[2019-05-06 05:29] #157 closed

[2019-05-06 05:59] #502 closed

[2019-05-06 08:51] anirbankonar123 commented on #404
Has anybody installed this in Google colab pls ? I am facing same error in Google colab env. Tried setting LD_LIBRARY_PATH with path to libcuml.so, didnt work

[2019-05-06 09:05] AK-ayush commented on #404
@anirbankonar123 please have a look at this gist.

[2019-05-06 15:31] cjnolet opened #560 "[FEA] Common code formatting across C++ code"
Because many developers have set different formatting settings in their IDEs, patches in cuML's C++ code often include unecessary reformats of tabs->spaces, pulling different structures on new lines, etc... This makes the PRs less concise & harder to read, while adding unecessary changes that can be avoided if we standardize on the formatting settings for our IDEs.

For those using Nsight, Eclipse

[2019-05-06 15:57] anirbankonar123 commented on #404
Excellent , thanks a lot

[2019-05-06 16:15] AK-ayush commented on #404
glad it helped.

[2019-05-06 16:24] dantegd commented on #560
This might be good to go hand in hand with #304

[2019-05-06 17:10] cjnolet opened #562 "[TASK] Investigate variance in UMAP trustworthiness results"
Because UMAP is non-deterministic, we are finding that occasionally the trustworthiness pytests fail with a very small margin (e.g. .899 instead of .90).

In order to minimize the impact of these tests on our CI system, we should probably run these tests in a few different trials and average the results together. It would be ideal if we could still print when this happens so that we can make note

[2019-05-06 17:13] cjnolet commented on #555
Another point worth mentioning is that the vertex degree primitive will enable the ball-radius query, pushing our `NearestNeighbors` API closer to matching sklearn.

[2019-05-06 17:17] dantegd opened #563 "[FEA] Kmeans: expose different distance metrics and use an `enum` intead of an `int` in the C++ api"
**Is your feature request related to a problem? Please describe.**
New kmeans API looks like:

[code]
where `int metric` can be refer to any metric in the prim `Distance::Distanctype`:

[code]

The python API doesn't expose the available metrics, using by default the `EucExpandedL2Sqrt`.

**Describe the solution you'd like**
Expose the different metric options in the python API, and change the C++

[2019-05-06 18:27] cjnolet opened #564 "[FEA] K-Means: Expose inertia through public C++ / Python APIs"
To support our hyperparameter tuning requirement, we will need cuml's kmeans API to support the same `score` function as the sklearn, which is the intertia (sum of distances to nearest centroids).

This is already being computed in the cuML kmeans and could just be exposed via a getter method.

[2019-05-06 18:38] wxbn commented on #548
Great idea! This method should in fact save a lot calculations when modifying the hyper-params n_components, min_dist and n_epochs, if we take the example of UMAP.

From what I've read in the UMAP research paper, the embedding optimization step only updates a subset of all lower dim. data points at each iteration. Which of these ideas do you think is better suited/more realistic for real-time visu

[2019-05-06 20:07] JohnZed opened #566 "[BUG] Occasional CI failures due to conda install timeouts"
**Describe the bug**
CI tests sometimes fail with 504 gateway timeout failures on conda servers. E.g.:
[code]

**Steps/Code to reproduce bug**
Re-trigger CI tests repeatedly when conda servers are busy.

**Expected behavior**
We could retry a few times with a delay in these cases.

**Environment details (please complete the following information):**
GPUCI

[2019-05-06 22:32] cjnolet opened #569 "[DOC] Add current build status and nightly build info to README.MD"
The README.md is the first thing a potential user will see when they go to our github page.

[2019-05-07 13:11] cjnolet opened #574 "[FEA] Enable FAISS approximate indexes in kNN"
Currently, all of our algorithms that are using kNN are utilizing only the brute-force method, which boils down to a matrix multiply with a min-heap for k-selection. This can get very expensive as data size grows, specifically as the data grows more wide.

The real power behind the FAISS API is the GPU product quantization (PQ) technique that they include for doing efficient & fast approximate nea

[2019-05-07 13:16] cjnolet opened #575 "[TASK] Remove h20GPU from thirdparty"
Release 0.7 includes our own implementation of k-means, which is based on our own ml primitives but the h20 code was never removed from the thirdparty directory in the codebase.

The h20gpu submodule needs to be removed from git and from the cmake build.

[2019-05-07 14:23] dantegd commented on #574
Is this related to #50 ? Feels like a subset of it but not a duplicate, but just wanted to check

[2019-05-07 14:59] cjnolet commented on #574
Thank you for pointing this out. This issue is more related to enabling a more efficient nearest neighbors search for the back-end algorithms.

#50 is meant to provide more options for users of the public-facing `NearestNeighbors` API. This is indeed a subset of #50, but would have more near-term impact in the C++ algorithms layer.

[2019-05-07 16:26] teju85 commented on #560
@cjnolet @dantegd I already have a `clang-format` based solution in my WIP branch here: https://github.com/teju85/cuml/tree/enh-ext-enable-clang-format-ml-prims. Once we decide upon the format "rules" in the .clang-format file, we can easily extend this to files under cuML folder as well.

So, whenever you guys get time, if you can review the `.clang-format` hosted in the project root folder, that

[2019-05-08 13:51] cjnolet opened #583 "[FEA] Expose transpose prim through cython and use in "numba_utils.row_matrix""
This is a good issue for someone looking to span the entire stack from the CUDA/C++ primitives layer through cython and into the Python layer.

Currently there are some algorithms that require, as input, arrays with a row-major memory layout. Because cudf and Pandas using a column-major memory layout, the underlying array needs to be transposed to row-major.

We have been using Numba's `cuda.jit`

[2019-05-08 14:03] cjnolet opened #585 "[FEA] Airspeed velocity metrics to track historical benchmark performance"
As the cuML project grows and more algorithms are contributed, it's going to become vital that we are tracking the benchmarks of our algorithms so that we can continue to minimize their execution times and memory usage.

For instance, currently we are keeping no historical benchmarks or metrics for our algorithms or primitives so regressions can be quite possible as the algorithms are updated if t

[2019-05-09 05:03] dantegd commented on #554
Solved via #573

The copies of to_gpu_matrix are a different matter than the to_gpu_array that the original cuDF issues discusses, and for the time being are unavoidable. Still might be worth to monitor the column refactor going on on cuDF to see if there is any chance to alleviate that a little bit.

[2019-05-09 05:03] #554 closed

[2019-05-09 12:48] cjnolet opened #593 "[FEA] Take GMM/HMM across the finish line"
PRs for GMM/HMM algorithms were started as an intern project but will need a little effort to take fully across the finish line. Creating this issue as an epoch-level tracker.

Cleanup & preparation:
- [ ] HMM Python contains some functions that can be removed
- [ ] CMakelists needs some work
- [ ] Not all wrapped MAGMA prims are needed. Survey which ones can be reused.
- [ ] Numerical instability

[2019-05-09 12:50] cjnolet commented on #593
Tagging @dantegd and @oyilmaz-nvidia to fill in any tasks I missed.

[2019-05-09 13:25] quasiben commented on #554
Thanks @dantegd for looking at this!

[2019-05-09 14:39] teju85 commented on #441
Which cuda version are you on, @cjnolet ?

[2019-05-09 14:39] teju85 commented on #437
@cjnolet see my comment in issue #441

[2019-05-09 14:40] cjnolet commented on #441
V10.0.130

[2019-05-09 14:41] cjnolet commented on #441
Would you mind doing a memcheck on the kNN tests to verify that FAISS does not throw such errors either?

[2019-05-09 14:41] teju85 commented on #441
ah ok.. I don't have a v10.0 dev-env. Let me get one and check this out.

[2019-05-09 14:43] teju85 commented on #441
you're right. kNN tests show errors though! (v9.2 itself)
[code]

[2019-05-09 15:20] teju85 commented on #441
@cjnolet I'm unable to repro this ml-prims issue on v10.0 also. All the unit-tests pass for me in the branch I mentioned above.

[2019-05-09 16:08] cjnolet commented on #441
Interesting. This one does still fail for me 10.0. My driver version is `410.48`

[2019-05-09 16:18] robocopnixon commented on #585
I would loop in @kevingerman and @Salonijain27 as they have been working on this.

[2019-05-10 00:00] dantegd opened #598 "[BUG] Outdated prim test files"
**Describe the bug**
While creating the folder refactor PR #597 I ran into some outdated mlprim test files that were not being build and are using old APIs so they are broken currently. The files

**Steps/Code to reproduce bug**
Try to build the files `add_and_sub_dev_scalar.cu` and `vector_broadcast.cu` from the prims test folder.

**Expected behavior**
Either the tests should be updated if they

[2019-05-10 03:43] dantegd commented on #432
mlprims unit tests have been part of CI for a few weeks now, closing.

[2019-05-10 03:43] #432 closed

[2019-05-10 03:44] dantegd commented on #323
This was solved during release of version 0.6, closing.

[2019-05-10 03:44] #323 closed

[2019-05-10 03:50] dantegd commented on #539
Given lack of activity in the issue,  and the significant debugging and updating of Cmake infrastructure will close the issue. Additionally pip is no longer supported, so using setup_pip is discouraged right now. If the issue arises again @Msabih feel free to reopen or open a new issue. Thanks!

[2019-05-10 03:50] #539 closed

[2019-05-10 03:55] #89 closed

[2019-05-10 03:55] #92 closed

[2019-05-10 03:56] dantegd commented on #110
Linking PR #407 that should close this

[2019-05-10 03:58] #122 closed

[2019-05-10 03:58] dantegd commented on #176
@cjnolet @taureandyernv do you know if we can close this issue?

[2019-05-10 04:02] dantegd commented on #490
@Salonijain27 I believe this was fixed for release 0.7, right? So can we close this issue?

[2019-05-10 04:03] dantegd commented on #486
Will close this issue since its a cuDF issue and has been inactive for quite a while. @krajendrannv feel free to try the imminent v0.7 and report any issue you find. Thanks!

[2019-05-10 04:03] #486 closed

[2019-05-10 04:03] #478 closed

[2019-05-10 04:05] #436 closed

[2019-05-10 04:05] #428 closed

[2019-05-10 04:47] Salonijain27 commented on #490
yes this is fixed, thank you!

[2019-05-10 13:04] #490 closed

[2019-05-10 16:14] chirayuG-nvidia opened #600 "[FEA] Investigate custom data-ordering kernels instead of cub sort in contingency matrix ml-prim"
**Is your feature request related to a problem? Please describe.**
Contingency matrix prim currently uses cub::sort on dataset with large input label cardinality. It is primarily done to avoid L2 thrashing for update to matrix indices. However, just a ordering operation can be used to achieve similar results without using a perfect sort.

**Additional context**
https://github.com/rapidsai/cuml/blo

[2019-05-11 19:46] dantegd opened #602 "[BUG] linear_regression and ridge should throw warning when n_cols=1 forces algorithm to change"
**Describe the bug**
`eig` solver of the class `linear_regression` and `ridge` classes do not support number of columns to be 1. Right now the code deals with this by forcing the algorithm to be the solver to be `svd` when calling the `fit` function with a dataset with 1 column.

This is a good solution, but it's done silently so the user does not know about the change. A warning (or error?) shoul

[2019-05-13 12:39] jirikraus commented on #425
I am in favor of keeping the behavior as it is. Rational is that first it is least surprising, because
- keeps `device_buffer` and `host_buffer` consistent
- buffer is immediately usable after construction, which is mostly important for `host_buffer`

And second with

[code]

a workaround which only adds a single additional line exists.

[2019-05-13 13:29] miguelangel opened #603 "[FEA] Implement Unscented Kalman Filter"
**Is your feature request related to a problem? Please describe.**
Hi,

I have just noticed you have implemented Kalman Filters in RAPIDS v0.7.

Would it be possible to have Unscented Kalman FIlters implemented too?

I have been using UKF for self-driving car purposes and would love to see how it performs in RAPIDS.

Thanks!

Miguel

[2019-05-13 19:06] dantegd commented on #603
Thanks @miguelangel this is on our radar, though this issue is a duplicate of #130

[2019-05-13 19:06] #603 closed

[2019-05-13 19:22] miguelangel commented on #603
This is great! Thank you for letting me know!

[2019-05-13 20:31] dantegd commented on #603
yup: ensemble, unscented and unscented square

[2019-05-14 11:26] cjnolet opened #605 "[DISCUSS] Sparse primitives API to support datatypes larger than int"
Currently, cuML's sparse primitives API was modeled to support integration with both cuSparse and nvGraph. As such, it has hard-limit on using integers for the `rows` and `cols` index arrays for the COO & CSR container types.

Given that cuML has high priority requirements to push for scale, we should figure out how to push beyond this limitation and enable our primitives to scale even further.

F

[2019-05-14 13:00] cjnolet commented on #262
We now have a prim for building adjacency matrices out of epsilon neighborhoods:

[code]

[2019-05-15 00:51] #82 closed

[2019-05-15 00:51] #46 closed

[2019-05-15 00:51] #575 closed

[2019-05-15 00:51] #270 closed

[2019-05-15 00:51] #392 closed

[2019-05-15 00:51] #374 closed

[2019-05-15 00:51] #294 closed

[2019-05-15 00:52] #264 closed

[2019-05-15 05:57] doggyChe opened #607 "[BUG] cuml-0.7.0 kmeans|| initialization causes out of memory error on device"
the scalable kmeans++ or kmeans|| initialization always lead to oom of gpu usage.

[2019-05-15 11:34] cjnolet commented on #607
@doggyChe Thank you for opening an issue about this.

Can you please provide details on your environment as well as the dataset you are using so that we can get a better idea of what is happening here?

A code snippet would also be helpful.

[2019-05-15 12:47] doggyChe commented on #607
@cjnolet
My system environment:  centos7, 4 * nvidia p40 gpus, currently kmeans use gpu:0.
Dataset: a numpy array with dimension 64 and length 100000,  cluster into 10000 classes.
The gpu memory usage is high when I use scalable-kmeans++ or kmeans|| initialization,  but it works well if I use random initialization.

when training:
+------------------------------------------------------------------

[2019-05-15 13:30] cjnolet commented on #607
Thank you @doggyChe. Just for completeness, this is CUDA 9.2?

[2019-05-15 13:38] dantegd commented on #607
Also @doggyChe are you using `float` or `double` precision?

[2019-05-15 13:49] cjnolet opened #608 "[FEA] Simple performance metrics for hyperparam tuning of classifiers"
In order to support GPU accelerated hyperparam tuning in Dask-ML, and for better test coverage of our C++ algorithms, our metrics API should be expanded with common performance metrics, including accuracy, precision, recall, support, F1 score, and confusion matrix. Essentialy, this should be able to reproduce [1], [2], and [3]. Multilabel confusion matrix would also be ideal.

These measures shoul

[2019-05-15 16:33] doggyChe commented on #607
yes, cuda 9.2, cuml 0.7.0, and cudf 0.7.1

[2019-05-15 16:34] doggyChe commented on #607
I have no idea, I use this function to transform a numpy array of float32 to cudf:

    def transform_from_numpy_to_cudf(self, data_frame):
        data_frame = pd.DataFrame(
            {'fea%d' % i: data_frame[:, i] for i in range(data_frame.shape[1])})
        pdf = cudf.DataFrame()
        for c, column in enumerate(data_frame):
            pdf[str(c)] = data_frame[column]
        return pdf

[2019-05-15 22:47] miguelangel opened #609 "[DOC] LinearRegression 'normalize' parameter ignored if 'fit_intercept' equals False"
## Report incorrect documentation

**Location of incorrect documentation**
Hi,

I would add the following comment to normalize parameter in this page:
https://rapidsai.github.io/projects/cuml/en/0.7.0/api.html#cuml.LinearRegression

In addition to that, the parameters have a typo. They say **normalizeboolean** and **intercept_boolean**, instead of **normalize** and **intercept**:

![image](https:/

[2019-05-16 02:04] cjnolet commented on #286
@taureandyernv has demonstrated that this works with UMAP!

An automated test suite for saving/loading might be useful before claiming success, but it looks like this might work out of the box.

[2019-05-16 13:08] #555 closed

[2019-05-16 14:43] #257 closed

[2019-05-16 16:24] taureandyernv commented on #286
Tested and it fails.  We have no good way of accessing, saving, and loading the model - only the dataframe.  I have verified that the `fit` returns a none type, and the variable containing the model is encapsulated.  Can we please make this a feature?

[2019-05-16 19:43] cjnolet commented on #176
We understand why this is happening. It's related to FAISS' use of single precision.

[2019-05-16 19:43] #176 closed

[2019-05-16 19:44] #421 closed

[2019-05-16 19:52] cjnolet opened #610 "[FEA] Prototype of multiGPU data distribution using Dask + NCCL for K-Means"

[2019-05-16 19:54] cjnolet opened #611 "[FEA] Prototype of Multi-GPU data distribution using Dask + NCCL for Random Forest"

[2019-05-16 19:56] JohnZed commented on #472
Includes logistic regression with LBFGS
Includes `linear_models.LogisticRegression`

[2019-05-16 20:03] oyilmaz-nvidia commented on #221
Checked this on PCA and we only allocate memory on a single GPU. Don't know why this is happening. It might be related to a low level cuda thing.

[2019-05-17 05:42] abhii-p commented on #564
Will this be implemented soon? This would really help for tuning K value. In scikit learn implementation of kmeans we already have inertia_ attribute for it.

[2019-05-17 13:40] dantegd commented on #564
Hi @abhii-p it is currently planned to be included in the next release version (0.8), so the expected timeline to have it available is a few weeks. Thanks for asking!

[2019-05-18 02:39] JohnZed opened #613 "[BUG] Crash in DBSCAN with somewhat-large dataset in 0.7"
**Describe the bug**
DBSCAN crashes with a `FAIL: call='cudaMemcpyAsync(dst, src, len * sizeof(Type), cudaMemcpyDefault, stream)'. Reason:an illegal memory access was encountered`

Initially found on a dataset of size 3 million rows x 400 columns. I tried repro'ing on smaller datasets and found that the error occurs one the datset size exceeds roughly 50,000 rows and 400 cols.

**Steps/Code to rep

[2019-05-18 03:08] cjnolet commented on #613
@Salonijain27 is this also failing in your stress tests?

[2019-05-18 03:14] dantegd commented on #613
@cjnolet I can reproduce with @JohnZed test in head of 0.8, here is the full trace:

[code]

[2019-05-18 03:53] cjnolet opened #614 "[FEA] C++ primitive: make_blobs()"
This data generator will allow us to test many of our algorithms more extensively in the C++ layer. Supervised algorithms can treat the blob centroids as the labels and unsupervised algorithms can treat the resulting clusters as the groupings.

This algorithm is actually really simple in sklearn and can be done in CUDA using our gaussian & uniform sampling w/ replacement primitives.

[2019-05-18 04:26] dantegd commented on #613
Following investigation, running the following:

[code]
 did *not* crash with either float32 or float64, with 50kx401 to recreate the smaller size that crashed in the issue. Since that test takes a while to load will leave it running with multiple sizes/parameters overnight and report further findings.

[2019-05-18 08:00] danielhanchen opened #615 "[FEA] Faster array conversion to F-Contiguous"
Currently, cuML accepts cuDF and Numpy arrays as input into algorithms.

Numpy arrays have to be F-Contiguous, and so if C-Contiguous, np.array(X, order = 'F') is applied. However, this is not parallelized, and using BLAS directly to move data to F-Contiguous layout via blas.scopy is much faster.

[2019-05-18 16:24] dantegd commented on #613
Last attempt report: Trying to repro with a different dataset (`make_blobs` from Scikit-learn) was unsuccesful at trying to produce the exception. Here is the code used:

[code]

[2019-05-20 14:31] cjnolet opened #617 "[FEA] Support FAISS' new column-major inputs in kNN"
The current kNN implementation performs a costly transpose of column-major inputs, like those from cuDF, before the knn can be performed on the data. The need for this transpose is the result of FAISS' requiring row-major inputs to the brute-force kNN function we are using.

As per https://github.com/facebookresearch/faiss/issues/767, the FAISS team's brute force knn now supports column major inpu

[2019-05-20 16:09] cjnolet commented on #517
With FAISS now supporting column major inputs for their `bruteForceKNN` function, the KNN and UMAP algorithms now have a path to supporting col-major inputs as well.

DBSCAN, on the other hand, requires the use of our distance primitive as its first step, which forces the input to the algorithm to be in row-major order.

@minseokl & @LeviBarnes, has there been any progress on this issue?

[2019-05-20 17:10] LeviBarnes commented on #517
I haven't done anything on this front. And, in fact, our need for this in SVM is reduced.

[2019-05-20 19:04] cjnolet commented on #610
Even though the new comms abstraction is using NCCL, it is still using the MPI interface, which imposes certain semantics on the initialization of the communicator. This causes the need to continue to flesh out Thejaswi's Dask+MPI PoC and make it work end-to-end with the new comms abstraction layer.

Tasks:
- [ ] Harden Dask+MPI PoC & make robust
- [ ] Expose NCCL comms impl through cython
- [ ] I

[2019-05-21 10:44] teju85 commented on #613
I'm able to repro @JohnZed's crash and noticed that this illegal mem access is arising out of our distance prim.
[code]

[2019-05-21 11:39] cjnolet commented on #613
@teju85,

Any ideas why this might be happening? Do you think it might be CUTLASS related?

[2019-05-21 13:59] teju85 commented on #613
CUTLASS is a fairly stable library. So, my guess is that we are passing incorrect params. Didn't get time to look deeper into this issue, after that.

[2019-05-21 16:19] JohnZed opened #619 "[DOC] Add testing standards README"
There are a number of known best practices to build useful estimator tests, though it's always tricky. E.g.:
 * Ensure stable data/random seeds
 * Test both long+skinny and short+fat
 * Test with single column or single row
 * Run fit multiple times to ensure no lingering/cached data causes issues
 * Try both numpy and cudf inputs
 * Compare against known-good sklearn implementation
 * Test at the

[2019-05-21 16:52] JohnZed commented on #608
Maybe just aim for `accuracy` in 0.8? Then we'd have something applicable to classification in addition to the R2 score we already have for regression.

[2019-05-21 17:50] JohnZed commented on #286
Minimally need to document clearly how to do this, including what models do not save successfully.

[2019-05-21 22:30] JohnZed commented on #613
Hi, @teju85 do you know who I should assign this bug to for further investigation? Are you the right person to pick it up? Thanks!

[2019-05-21 22:39] cjnolet commented on #613
If it's the distance primitive itself, the best individuals would be @teju85 or @minseokl.

I'll also try and find some time to reproduce tonight or early tomorrow to get a better idea. We're doing some fused ops in the distance computation so it could be the distance primitive or the lambda that it's fusing.

[2019-05-22 06:49] teju85 commented on #521
@dantegd @raydouglass when can this check be enabled? Having such checks reduces the amount of effort we currently spend on code reviews and also the chances of missing such violations.

@raydouglass specifically, I'd like to know when will the `PR_TARGET_BRANCH` be enabled in our CI tests?

[2019-05-22 16:30] teju85 commented on #613
Minseok is busy with another project currently. So, @JohnZed assign this bug to me. I'm debugging this crash right now.

[2019-05-22 16:59] teju85 commented on #613
I think this is most likely due to integer overflow in the address arithmetic. Tracking the call stack and trying to use 64b indexing to avoid this issue. Will update my status here, after I'm done with the changes.

[2019-05-22 17:19] muellren commented on #310
`test_linear_kalman_filter[numpy-double-10-2]` fails for me (branch-0.7, commit 41510a2) non-deterministically as follows:
- 5 out of 10 runs: exception `lkf.h line=259: kf::linear: LU decomp, info returned val=2` (or `val=17`)
- 1 out of 10 runs: assertion failure: `sqrt(rmse_x/n) < 0.1`, actual value 40.85.
- 1 out of 10 the test passes.

[2019-05-23 03:50] randerzander opened #904 "[BUG] dask-cuml should depend on cuml"
I was attempting to create a minimal rapids environment by conda installing dask-cudf and dask-cuml, but ran into a surprising error, in that cuml was not also installed as a dependency.

[2019-05-23 18:05] dantegd opened #625 "[TASK] Remove redundant/unnecessary tests and speed up test suite"
**Describe the bug**
Test coverage has improved significantly, yet it came at the cost of a significant increase of runtime. A good portion of this is the fact that we are running the algorithms with what is essentially the same input data twice many times, for example:

[code]

Are running the same data, just with different input format (cuDF dataframe vs numpy array). So from an algorithm standp

[2019-05-23 19:37] #110 closed

[2019-05-24 06:04] teju85 commented on #613
#627 should fix this issue.

[2019-05-24 19:25] rlratzel opened #628 "[FEA] Add additional GPU arch types to detect in build script"
As requested in PR #626 , additional GPU arch types should be added to the auto-detect code to support quicker builds on additional platforms.

At the moment, only the GPU architectures that CI supports are present, but more should be included.

[2019-05-24 19:28] rlratzel opened #629 "[FEA] Add an option to clean the faiss build artifacts in build.sh"
As requested in PR #626 , an option to also clean the faiss build artifacts should be added.

Rather than adding the faiss build dir to the existing clean target, perhaps a new `deep-clean` target can be added since devs don't often want to re-create faiss artifacts.

[2019-05-25 10:24] jeremypoulain opened #632 "[FEA] huber & modified_huber"
Hello everyone,

Are there some interests or plans to add the huber , and modified_huber as additional loss for the cuml.SGD class.

I use to work on text classification problems with linear models, and those 2 loss functions are really useful ,and usually outperforms SVM's hinge loss.

Here are the code implementation from scikit learn :
[(https://github.com/scikit-learn/scikit-learn/blob/7813f7e

[2019-05-27 06:11] doggyChe commented on #607
KMeans.fit: initialize cluster centers using k-means++ algorithm.
KMeans|| - Iteration 0: # potential centroids sampled - 1
KMeans|| - Iteration 1: # potential centroids sampled - 5849
KMeans|| - Iteration 2: # potential centroids sampled - 11943
KMeans|| - Iteration 3: # potential centroids sampled - 17942
KMeans|| - Iteration 4: # potential centroids sampled - 24024
KMeans|| - Iteration 5: # pot

[2019-05-27 12:21] doggyChe opened #634 "[BUG] number of clustering centers are limited to 1025 when using kmeans and random initialization"
When using kmeans and random initialzation in cuml 0.7.1/0.7.2, python 3.6 and cuda 9.2/10.0,  there are only 1025 cluster centers in the cluster results, it seems that "n_clusters" argument doesn't work at all.

code snippet:
model = KMeans(n_clusters=30000, n_gpu=-1, init="random", random_state=1, verbose=True)
model.fit(data_frame)  # data_frame is a 1000000*128 matrix.

cuda version:
+--------

[2019-05-28 13:05] #628 closed

[2019-05-28 16:06] dantegd opened #637 "[FEA] Configurable output type in Python API"
**Is your feature request related to a problem? Please describe.**
The output type of the Python API is fixed, depending on the algorithm, to be either cuDF series, dataframes or numba device arrays (usually cuDF objects).

**Describe the solution you'd like**
There are two main improvements to be had:

1. Allow the output to be set by the user to be either cuDF, Numpy, Numba or CuPy (the formats

[2019-05-28 16:20] dantegd commented on #625
Tackling this in #612

[2019-05-29 04:17] teju85 opened #638 "[FEA] Introduce Index template param for the rest of dbscan algo for indexing logic"
**Is your feature request related to a problem? Please describe.**
PR #627 solves another crash seen with dbscan due to indexing-related issues. However, it only confines itself to the vertex-degree part of the algo, as changing the index arithmetic in adjgraph part would have been too massive and also out-of-scope of that PR.

**Describe the solution you'd like**
Filing this issue to take the `In

[2019-05-29 09:23] teju85 commented on #248
The first task of `libcuml++.so` build has been complete now. However, the proper C-build into `libcuml.so` is missing. @muellren wants this for his application which is C-only and having a `libcuml.so` would simplify his workflow.

[2019-05-29 09:37] muellren commented on #248
I am currently only using dbscan and both fp64 and fp32 variants are available as C exports in `libcuml++.so` already. I assume that once `libcuml.so` becomes available those will be moved over.

[2019-05-29 13:01] ksangeek opened #639 "[BUG] setuptools is a run dependency for cuml conda package"
**Describe the bug**
`setuptools` is listed as a run dependency for cuml conda package

**Steps/Code to reproduce bug**
While working on the cuML conda recipe for `linux-ppc64le` I realized that there is no need to have `setuptools` as a run-dependency for `cuml`.
This is the recipe where it is marked as a run dependency.
https://github.com/rapidsai/cuml/blob/1f508d989c1d7974c475f115f6ea063aea8aab

[2019-05-29 16:26] cjnolet commented on #569
I just noticed cudf is now doing this for their nightly build and docs at the top of their README.md file. This should make it even easier for us to integrate into our README.

[2019-05-29 16:37] teju85 opened #642 "[FEA] Expose a Matrix::Descriptor struct as a facade across prims and algos"
**Is your feature request related to a problem? Please describe.**
`Matrix::Descriptor` has been an internally used data structure, especially for multi-gpu development, as @akkamesh and @cjnolet have rightfully noted, it makes sense to use it as a pervasive data-structure across prims and algos to create uniform API. For eg: we currently pass `ptr, M, N, isRowMajor` as 3 inputs for each matrix re

[2019-05-29 17:14] egoolish commented on #267
Is this currently being worked on? I'd be interested in contributing a Python implementation of a KNN predict method if not.

[2019-05-30 01:03] cjnolet commented on #226
I am being told this is still an issue on 0.7, unfortunately. Tagging @akkamesh, have you noticed this behavior?

[2019-05-30 11:51] ksangeek commented on #639
This issue has been fixed. Hence closing the issue. Thanks!

[2019-05-30 11:51] #639 closed

[2019-05-30 13:32] dantegd commented on #226
I just notice that there was another kmeans issue opened during the large weekend regarding number of clusters, which I just reproduced: #634 I wonder if there is a relationship (as in an int type not being enough for a step of the algo)

[2019-05-30 22:53] akkamesh commented on #226
It works fine with `init='random'`, `out of memory` error occurs only with default initialization method i.e `init=scalable-k-means++`.

[scalable-kmeans++](https://arxiv.org/abs/1203.6402) by nature samples more than `num_clusters` and then performs a sequential loop of `num_clusters` iterations to extract the required clusters. For this approach, the memory footprint is largely defined by the si

[2019-05-31 19:56] beckernick opened #645 "[FEA] Silhouette score - expose C++ layer to python"
**Is your feature request related to a problem? Please describe.**

Users currently need to go back to the host to use pre-existing functions for evaluating clusters quality without ground truth labels. A user who wanted to calculate the [silhouette score](https://scikit-learn.org/0.20/modules/generated/sklearn.metrics.silhouette_score.html#sklearn.metrics.silhouette_score) did the following:

[co

[2019-05-31 20:12] cjnolet commented on #645
Thank you for bringing this to our attention.

We have an intern currently working to building out our metrics API in CUDA. The silhouette score is one of the metrics on his list.

[2019-05-31 20:15] beckernick commented on #645
👍 thanks @cjnolet

@rnyak , for you to be able to track progress

[2019-05-31 21:12] cjnolet commented on #645
@venkywonka @teju85

[2019-06-03 08:31] doggyChe commented on #226
when using random initialization, the cluster centroid number is limited to 1025, no matter how many cluster_number the user set.

[2019-06-03 15:32] Sterls opened #647 "[DOC] Addition of common errors faced in cuML and how to overcome them"
Hi,

I recently used cuML to predict "string" classes and faced the following error:
"nvstrings object has no attribute to_gpu_array".

It was quite difficult to figure out why this error existed and it is clear that cuDF can handle strings, however cuML needed a label encoder to convert the string classes to integers.

Since this error isn't linked to a particular model type, maybe there can be a

[2019-06-03 16:46] akkamesh opened #648 "[BUG] LinAlg::reduce_rows_by_key fails when nkeys > 1024"
**Describe the bug**
MLCommon::LinAlg::reduce_rows_by_key fails when `nkeys > 1024`. This directly impacts the correctness of k-means when `num_clusters > 1024`.

**Steps/Code to reproduce bug**
Add unit test with input `{0.00001f, 2048, 2, 1025, 1234ULL}` in `cpp/test/prims/reduce_rows_by_key.cu` to reproduce the error.

**Expected behavior**
Unit tests and k-means to succeed without any failure.

[2019-06-03 17:08] LeviBarnes commented on #648
I'll take a look at this today.

[2019-06-03 18:09] akkamesh commented on #648
@LeviBarnes - Thanks. I did spend some time on this and got a fix implemented. I will create a PR and add you to it. If the changes fix all the issues with `nkeys > 1024' then we can merge otherwise feel free to build on top of that.

[2019-06-04 18:04] akkamesh commented on #648
Fixed in PR #649.

[2019-06-04 18:04] #648 closed

[2019-06-04 18:47] cjnolet opened #653 "[DOC] Outline general C++ algorithm design guidelines in developer guide."
From recent discussions pertaining to stateful vs stateless & c-based APIs, we should outline our general guidelines and design approach for our C++ algorithms inside our developer guide.

[2019-06-05 00:54] JohnZed opened #654 "[FEA] Add ARIMA estimator"
**Is your feature request related to a problem? Please describe.**
We want to model time series with autoregressive moving average models - estimating parameters and allowing forecasting of future time steps.

**Describe the solution you'd like**
Ideally we could follow the statsmodels ARIMA APIs. Could consider other APIs like pmdarima if they are a better fit.

[2019-06-05 01:02] JohnZed opened #655 "[FEA] Add Holt-Winters forecasting"
**Is your feature request related to a problem? Please describe.**
Holt-Winters (aka triple-exponential smoothing) is a simple but popular method for forecasting and smoothing time series. We'd like a GPU-accelerated version in cuML.

**Describe the solution you'd like**
If there is a good existing API, it would be nice to match that. Possibly statsmodels?

[2019-06-05 13:07] beckernick opened #656 "[DOC] Dockerfile refers to ml-prims directory"
Does this Dockerfile that refers to `ml-prims` need to be updated to reflect the restructuring of cuML in #597 ?

https://github.com/rapidsai/cuml/blob/69b6633a8f040e003c80e54be007741ff26e8fad/Dockerfile#L7

This step fails on a fresh build of cuML after building cuDF for me.

[2019-06-05 14:12] mike-wendt commented on #657
Transferred as this is in the docs for this repo

This may be fixed already but ask @taureandyernv for more info

[2019-06-05 14:14] cjnolet opened #658 "[FEA] kNN to perform merge on device"
When cuML's kNN implementation is given multiple input chunks of memory to search, the multiple output index and distance arrays need to be merged into a single output array. This is currently done on host, but FAISS provides a kernel for doing this on device, so long as the multiple arrays have been concatenated by column (_note, this will require a transpose of the outputs_).

The FAISS project

[2019-06-05 14:21] cjnolet opened #659 "[FEA] Sampling without replacement primitive"
Many algorithms can benefit from a uniformly distributed sampling without replacement primitive. We currently have a `permute` primitive, which is fast, but does not guarantee uniform distribution.

A sampling without replacement, or shuffle primitive, that guarantees uniform distribution could be accomplished with the following algorithm:

[code]

[2019-06-05 15:29] cjnolet opened #660 "[FEA] Integrate UCX into cuML's comms layer"
A Python wrapper around UCP has recently been contributed to RAPIDS [1] by @Akshay-Venkatesh and is being integrated into Dask.

This library enables the initialization of UCP endpoints in Python. Since it is directly wrapping the underlying UCP application context, worker, and endpoint objects from the ucp C API, I believe these objects could be passed into the cuML comms API, after initializatio

[2019-06-05 15:38] cjnolet opened #661 "[FEA] nccl-py Cython wrapper"
In the same spirit as #660, it would be very useful if we could use a Python wrapper around NCCL to initialize a NCCL communicator in Python (using an existing distributed system like Dask).

The initialized NCCL communicator could then be pushed down to c++ to initialize the cuML comms API. Even better, the initialization of the cuML comms API could be exposed through Cython as well.

Initially,

[2019-06-07 16:30] alawami opened #663 "[BUG] SVD algorithm in linear regression notebook produce larger error than EIG"
**Describe the bug**

SVD algorithm in linear regression notebook produce larger error than EIG on Rapids 0.6

**Steps/Code to reproduce bug**

Run the notebook:

https://github.com/rapidsai/notebooks/blob/branch-0.7/cuml/linear_regression_demo.ipynb

On NGC container:

0.7-cuda10.0-devel-ubuntu18.04-gcc7-py3.6

Expected behavior
A clear and concise description of what you expected to happen.

SVD

[2019-06-08 05:20] teju85 commented on #248
With the merge of #375 and #641, we now have a proper C++ shared lib as well as a wrapper C shared lib getting built as part of our build process. Thus, closing this issue.

[2019-06-08 05:20] #248 closed

[2019-06-08 09:34] lk1983823 opened #665 "[QST] Can cuml and cudf installed on nvidia jetson tx1/tx2/nano?"
**What is your question?**
I know that anaconda can be installed using Archiconda. However, I dont know wheter cuml and cudf can installed on nvidia jetson tx1/tx2/nano? Or does these two packages have aarch64 version?

[2019-06-10 07:44] teju85 commented on #645
@cjnolet @beckernick JFYI

@venkywonka has taken this up as his next task to implement this particular metric. Once he has a PR will update this thread notifying of the same.

[2019-06-10 15:41] JohnZed commented on #560
Closed by https://github.com/rapidsai/cuml/pull/662

[2019-06-10 15:41] #560 closed

[2019-06-10 15:55] cjnolet commented on #441
Linking https://github.com/facebookresearch/faiss/issues/768

I'm still able to reproduce this on Centos7 w/ CUDA10. If nobody else is able to reproduce and we find CI is not having an issue, I'm thinking these particular errors are likely related to my environment.

[2019-06-10 16:19] cjnolet commented on #562
As pointed out to me by @wxbn, one interesting side-effect of our kNN being single-precision is that we might be getting collisions of distances, which could be causing the order of the resulting indices to be fairly inconsistent across runs. This might also explain why the distance matrix in our kNN notebook matches sklearn while the index matrix does not.

In the case of the trustworthiness scor

[2019-06-10 16:52] oyilmaz-nvidia commented on #437
I am also getting the same error for covariance matrix using cuda v10.0.

[2019-06-10 16:54] oyilmaz-nvidia commented on #441
I am also getting the same error with cuda 10.

[2019-06-10 17:25] oyilmaz-nvidia commented on #437
The error coming from the "cublasCreate" function. Error "cudaErrorInvalidDeviceFunction" means "The requested device function does not exist or is not compiled for the proper device architecture" based on the cuda documents. I guess it's more related to proper device architecture because device function definitely exist. Don't think there is code level problem in covariance matrix function.

[2019-06-10 17:47] JohnZed commented on #427
Additionally, any algorithm taking a matrix as input should documented the expected order (row-major or column-major) clearly in the parameter-level item in the docstring.

[2019-06-10 17:50] divyegala opened #667 "[BUG] SGD produces nans in predict method"
**Describe the bug**
SGD produces nans when using its predict method on the Kaggle house prices dataset (I have preprocessed to remove nans from the training dataset, and did one-hot encoding on categorical columns)

**Steps/Code to reproduce bug**
Read the data as:
[code]

Train as:
[code]

Test as:
[code]

Output:
[code]

**Expected behavior**
sklearn's linear_model.SGDClassifier produces proper

[2019-06-11 14:54] beckernick opened #669 "[FEA] Add option to accept sample weight vectors to fit methods"
**Is your feature request related to a problem? Please describe.**
In sklearn, `estimator.fit` can (almost always?) accept a `sample_weight` parameter (defaulting to None) that allows users to pass in a weights vector that determines how much weight each sample should receive (with length equal to the number of samples).

This would be a useful feature for cuML estimators, too. As an example, see

[2019-06-11 16:43] #369 closed

[2019-06-11 22:16] bittremieux commented on #212
I presume the Euclidean distance is used now, the same as the scikit-learn? It's a bit confusing that the cuML docs explicitly mention DBSCAN's sensitivity to the distance metric, but it doesn't specify which distance metric is actually used or allows to specify the distance metric.

It would be nice if different distance metrics could be used for DBSCAN.

[2019-06-12 16:50] oyilmaz-nvidia commented on #667
@divyegala Is there a specific reason to set alpha=50? 50 is very unusual number and it's typically a number between 0 and 1. Because of the alpha, the solver is not able to converge to a solution. Do you observe the same thing with a reasonable alpha (between 0 and 1)?

[2019-06-12 16:52] oyilmaz-nvidia commented on #667
@divyegala scikit-learn's results should be also very unstable. Maybe, we can add a warning when alpha is too high like 50.

[2019-06-12 16:56] divyegala commented on #667
Right, I was doing that because I really wanted to observe the effect of a high penalty l1 regression and see how many dimensions could be reduced. Also, the results are unstable even when I keep an alpha between 0 to 1, I did try a lot of values.

[2019-06-12 16:57] divyegala commented on #667
scikit-learn is giving stable values with that alpha.

[2019-06-12 17:00] oyilmaz-nvidia commented on #667
Btw, maybe you didn't notice but our implementation is mini-batched stochastic gradient descent. It's slightly different than skl's implementation.

[2019-06-12 17:04] divyegala commented on #667
I did notice it and played around with batch size too. While at times, I got fewer nans and some numbers, those still didn't make sense. I was testing with the house prices dataset and was getting negative values in my predictions.

[2019-06-13 19:48] JohnZed commented on #286
Follow on: make KNN save-able

[2019-06-14 07:21] taureandyernv commented on #665
Sadly no (technically not yet, and it probably wouldn't be officially supported).  RAPIDS, and its libraries like cuML, require Pascal architecture and higher.  The Jetson boards use Maxwell Architecture.  RAPIDS does work on the Xavier boards.

[2019-06-15 23:10] JohnZed opened #690 "[DOC] Finish documentation of randomforest.pyx and other RandomForest functions"
Should note that the module is experimental.
Explain limitations around shared memory, differences in parameters from sklearn, including max_features.

[2019-06-15 23:12] JohnZed commented on #690
Need to address all TODO comments in the docstrings as well.

[2019-06-15 23:26] Salonijain27 opened #691 "[FEA] Pre and post processing of labels for Random Forest wrapper"
Functions for pre and post processing of labels need to be added in the cython wrapper for Random Forest Classification

[2019-06-16 00:35] cjnolet opened #692 "[DOC] Python developer guide should include notes on pickling guidelines"
Currently, the Python developer guide does not include any notes on pickling. It is very important that the requirements related to pickling objects be spelled out so that they can be followed by developers of new wrappers.

It would also be good to mention that new wrappers be added to the `test_pickle.py` so that it can be tested for regressions over the long term.

[2019-06-16 00:41] cjnolet opened #693 "[FEA] Pickle serialization of multi-GPU models"
There are a few different models in cuML core that have multi-GPU support, where pointers to objects living on many different GPUs are stored as instance variables.

There's no clear-cut way to support pickle serialization of this type of model and there are many different types of deserialization settings where things could go really wrong. An example of this would be a user pickling a multi-GPU

[2019-06-16 01:14] cjnolet opened #694 "[DISCUSS] [DOC] More specific guidelines related to thread safety & guarantees in cuML's threading model"
Currently, our developer guide states the following about cuML's threading guidelines:

[code]

This statement does not offer much in the way of specifics, and the statement `cuML is single threaded` was not the case in cuML even at the time the developer guide was written. We should modify this statement and be very clear about both cuML's threading model and its thread safety requirements.

For

[2019-06-17 04:30] teju85 commented on #694
Let me explain what I believe Jiri and myself had in mind when these statements were written...

cuML APIs can be safely called from multiple threads, as long as they are using different `cumlHandle`.

Let's take a step back. RAPIDS is supposed to be an end-to-end GPU-accelerated ecosystem for data-science. This means, atleast in our backend (ie C++ layers), we shouldn't have any cpu-intensive tas

[2019-06-17 06:32] cjnolet commented on #694
As thread safety typically implies proper internal synchronization (or immutability) is used in order for a single instance of an object to be used by multiple threads, my initial interpretation of the statement `cuml is thread safe` implies that a single `cumlHandle` instance should, in fact, be usable by different threads concurrently.

For this reason, it confuses me why we make the statement `

[2019-06-17 10:20] myrtw commented on #691
Simply noting that this feature is necessary for Random Forest classification for datasets where labels do not meet the "labels should be contiguous numbers from 0 to number of unique labels" requirement.

[2019-06-17 10:32] teju85 commented on #691
There's a `make_monotonic` ml-prim implemented by @cjnolet. That should be enough here, I think.

[2019-06-17 12:36] jirikraus commented on #694
First let me clarify that the section about thread safety in the developer guide did not got attention during initial review, which is fine as the developer guide is meant to be a living document. A consequence of this is that it is largely in the draft state of my initial proposal. In that form it can be considered as a placeholder to not for get about thread safety, which is an important topic f

[2019-06-17 14:14] cjnolet commented on #694
Thank you for the explanations here!

I was seeking clarification here because I was unsure if this was implying that cuml needed to be able to be executed on hardware, or in environments, in which threading was not an option, even for the libraries on which it depends. I believe this would be a good clarification to make in the developer guide.

I should have been more explicit about my own confu

[2019-06-17 14:51] JohnZed opened #698 "[DOC] Organized RandomForest benchmarks notebook vs. sklearn (single and multi-cpu), xgboost"

[2019-06-17 14:51] JohnZed commented on #286
TODO for 0.8 - clearly document which models are picklabe. New doc page?

[2019-06-17 14:54] jirikraus commented on #694
Great so it seems we are on the same page. To summarize the status is:
1. Regarding thread safety we just need clarifications of the initial proposal.
2. Regarding the use of CPU threads and OpenMP we need to define rules. Two possible options I see (incomplete list) are:
    - Keep it as it is and consider the existing uses of OpenMP as legacy we eventually want to remove.
    - Allow OpenMP as a

[2019-06-17 15:07] JohnZed opened #699 "Run stress tests on 0.8"

[2019-06-17 15:10] JohnZed opened #700 "Evaluate dask-cuml for 0.8"

[2019-06-17 16:07] cjnolet commented on #694
I jumped the gun a bit on this statement: `Once dask-cuml is made ubiquitous within cuml core, the need for explicit threading in these particular instances will go away, as OPG will be enabling the concurrency here`

Though we are investing in OPG within some of our recent Dask work, there have been some recent discussions related to benchmarking of SPMG vs OPG w/ comms in order to determine whet

[2019-06-17 16:19] cjnolet opened #702 "[FEA] CI to properly check build w/ OMP disabled."
One of cuML's use-cases requires OMP be able to get disabled in the build. This provides an option for users who do not need OMP and should only effect users of SPMG algorithms, as they will schedule computations and memory movements across GPUs in serial.

This feature is accomplished in cuML by turning off OMP as a compile-time dependency, making algorithms who are not properly disabling it, fai

[2019-06-17 16:49] JohnZed opened #703 "[FEA] Merge dask-cuml into cuml repo"
Currently, when we change interfaces in cuml, nothing checks that we have left dask-cuml in a working state. CuDF is working to add dask-cudf into their repo. We should do the same and just merge this functionality in to cuml.

[2019-06-17 17:43] RFinkelberg opened #704 "[FEA] Support for regression evaluation metrics"
**Is your feature request related to a problem? Please describe.**
Scikit-learn includes a number of common regression metrics like mean squared error, explained variance score, etc. These are useful in evaluating model performance, and cuml would benefit from having easily accessible, built in support for them.

**Describe the solution you'd like**
A set of functions with signatures resembling
[c

[2019-06-17 18:26] cjnolet commented on #704
MSE would be a nice addition to our Python API. This is trivial to accomplish with our prims.

In the meantime, we do expose an r2 score, which tends to be a little more useful than MSE because it does not depend on the scale of the inputs.

Have you taken a look at [1]?

[1] https://github.com/rapidsai/cuml/blob/branch-0.8/python/cuml/metrics/regression.pyx#L29

[2019-06-17 18:55] RFinkelberg commented on #704
I hadn't. I'll look into it, thanks. I'm assuming it's regular r2 and not adjusted r2?

[2019-06-17 19:19] cjnolet commented on #704
Correct, it is the same score implemented in sklearn, without some of the options, like multioutput, in the meantime. If there is a requirement for these options, we can add them.

[2019-06-18 01:25] teju85 opened #709 "[FEA] Expose DistanceType in Python API"
DistanceType enum, which is currently in our C++ layer, need to be exposed to python API. Refer to the comment by @akkamesh [here](https://github.com/rapidsai/cuml/pull/695#issuecomment-502905687)

[2019-06-18 01:28] cjnolet commented on #709
It would be really nice to have a common Cython wrapper for common enums and types like this that will eventually be used by many algorithms.

[2019-06-18 05:02] wuxianliang commented on #703
[code]
this line in nearest_neighbor.py should be changed

[2019-06-18 05:28] cjnolet commented on #703
Hi @wuxianliang,

Are you referring to this line in Dask-cuml? I build this today with cuml from branch-0.8. The tests ran okay. Are you experiencing issues related to that import?

[2019-06-18 09:08] wuxianliang commented on #703
I was using rapidsai-nightly repo 0.8a. I found structures changed in cuml, now in 0.8a it is
[code]
in 0.7 it was
[code]
I changed import line locally, then it works again.

[2019-06-18 12:00] cjnolet commented on #703
Thank you, @wuxianliang. Thank you for bringing it to our attention and you are correct, this file was moved in cuml and not fixed in dask_cuml. A straggling `__pycache__` folder caused me to miss this.

I'm capturing changes to reconcile dask-cuml with the current 0.8 cuml branch in [this PR](https://github.com/rapidsai/dask-cuml/pull/46). This should run tests with the current cuml nightlies.

[2019-06-18 19:34] RFinkelberg opened #715 "[TASK] Use cupy indexing to support non cudf input types for `train_test_split`"
Currently `train_test_split` uses `iloc` to index into its `X` and `y` input data. This requires these inputs to be cudf types. If this was changed to use cupy indexing, it could support non cudf types as well.

More detailed information about `train_test_split` is available in #644

[2019-06-19 01:20] dantegd commented on #709
@cjnolet @teju85 I was wondering what are your thoughts regarding having some more centralization/standardization of enums of algorithms in the C++ side as well? This happens to a certain extent  It'd be neat if those structures were grouped in an easy to find location/folder, so that new developers can reuse and follow practices. Thoughts?

[2019-06-19 17:42] taureandyernv opened #727 "[DOC]Add cuML Train Test Split to docs"
## Report incorrect documentation

**Location of incorrect documentation**
https://docs.rapids.ai/api/cuml/nightly/

**Describe the problems or issues found in the documentation**
I was looking for a way to create a training set without going to pandas in the docs.  Someone had to mention it.  It's brand new though.

**Steps taken to verify documentation is incorrect**
Docs search function can't f

[2019-06-19 19:42] Salonijain27 commented on #699
PR #718  modifies the stress tests and runs them on the changes made  in 0.8

[2019-06-20 11:36] adriantorrie commented on #286
Any chance of baking in native support to serialise to the ONNX format (ONNX-ML variant)?

This would allow:
- Quick productionising of models using the [onnxruntime](https://github.com/microsoft/onnxruntime) and served with docker via the [onnx-server](https://github.com/microsoft/onnxruntime/tree/master/dockerfiles#onnx-runtime-server-preview) image/container.
- Integration with tools such as [M

[2019-06-20 15:20] #471 closed

[2019-06-20 15:21] #690 closed

[2019-06-20 15:50] cjnolet opened #735 "[BUG] DBSCAN batching causing issues in stress tests"
@Salonijain27 has found a bug in DBSCAN when running the stress tests. Specifically, when the option of `2e6` was used as the match batch size bytes.

Further tests, with both larger and smaller batch sizes, succeeded. Intuition is telling me this might be caused by an incorrect batch size computation, incorrect use of the batch size, or a possible alignment issue resulting from memory alignment o

[2019-06-20 19:15] JohnZed commented on #286
Hi, @adriantorrie - TensorRT can parse ONNX for deep learning models. We haven't worked on native ONNX integration, but it would be cool to leverage the sklearn-onnx project if it's workable. I'm not sure how sklearn-onnx works internally, but if it queries sklearn models via public apis to get details, it may be pretty easy to bridge to cuml, since we follow the same apis.

[2019-06-20 19:16] JohnZed commented on #286
TODO for 0.8 - do we need a notebook example for save/load via pickle? Or is just the test good enough?

[2019-06-20 19:22] cjnolet opened #737 "[FEA] NearestNeighbors support for k > 1024"
Our current kNN tools limit us to k <= 1024 and there might be use-cases which could make use of queries where k is much larger, for instance, into the 10's of thousands. It would be useful to investigate different indexing structures for KNN which might make this possible- perhaps using space partitioning or projecting to a lower dimensional space so that a different indexing structure or approxi

[2019-06-20 19:26] JohnZed opened #738 "[ENH] Update API docs for new algorithms in 0.8"

[2019-06-20 21:25] nagarjunredla commented on #665
The Jetson TX2 uses Pascal architecture. I've got cudf to install on the TX2 with workarounds similar to the ones for Xavier and I'm currently trying to install cuml. It would be helpful if there was some more support. I still have a few dependency issues, will post once I have updates.

[2019-06-20 21:36] cjnolet commented on #700
Opening this back up because pending CI issues are dragging on and I don't want to lose sight of this for the release.

So far I have verified locally w/ the libcumlmg that `test_linear_regression.py` and `test_nearest_neighbors.py` succeed when run.

Unfortunately, the following two issues arose in CI:
- The random projection algorithm is doing a binomial sampling w/o replacement on host, which i

[2019-06-20 22:15] cjnolet opened #740 "[BUG] std::binomial_dist should be removed from Random Projection algorithm"
Unfortunately, since the conda packages are built in Ubuntu, with a newer version of glibc than Centos, using symbols that make use of the newer glibc features causes runtime linker errors.

This particular case is a result of a function being used in libm. We are able to fix it by removing the offending function call from the code and replacing it with the corresponding cuda version in our prims

[2019-06-20 22:16] cjnolet commented on #740
Linking #700

[2019-06-20 22:24] cjnolet commented on #735
Tagging @teju85.

The stress tests are failing for Saloni w/ a 500kx1k matrix using `max_memory_per_batch` w/ `[1e5, 5e5, 1e6, 5e6]` but are not failing with `1e9` or `5e9`. I was not able to reproduce this with 5k or 50k inputs and I have been running it for quite some time now with 500k inputs.

One thing to note- I have not seen the memory on the device change at all between batches, indicating

[2019-06-20 22:48] lk1983823 commented on #665
Thanks for your reply. Hope you can keep updating.

发自我的 iPhone

[2019-06-21 01:03] #738 closed

[2019-06-21 01:03] #472 closed

[2019-06-21 01:20] lk1983823 commented on #665
Thanks for your reply. Hope you can keep updating.

[2019-06-21 02:06] JohnZed commented on #727
Closed by PR #741

[2019-06-21 02:06] #727 closed

[2019-06-21 02:36] cjnolet commented on #286
@taureandyernv ^^^

[2019-06-21 03:03] cjnolet commented on #267
@egoolish, this is not being worked on and would be a great addition to cuML.

[2019-06-21 04:55] dantegd opened #749 "[BUG/TASK] Make the memory structures in the Python layer consistent"
**Describe the bug**
At the beginning of cuML, cuDF data structures were used to store internal state variables (such as `model.coef_` and 'model.intercept_`). Yet as time has moved on more and more classes just use numba device arrays (since much of the added functionality/overhead of cuDF such as bitmasks) are not needed.

Not only has this introduced an inconsistent behavior in the classes, it

[2019-06-21 05:35] #740 closed

[2019-06-21 05:39] #614 closed

[2019-06-21 05:42] cjnolet commented on #735
Linking #613. My stress test just completed successfully w/ 500kx1k matrix using `max_memory_per_batch=2e6`:

[code]

[2019-06-21 06:00] cjnolet opened #750 "[DISCUSS] [FEA] Dask cuML to live underneath standard cuML API"
Currently, cuML uses single-process-multi-gpu (SPMG) to enable MG support for a few of the algorithms and Dask cuML is it's own separate code-base. Since the cuML team has decided that one-process-per-gpu (OPG) is the way forward, it would save the user the pain of having to install a separate package, and using two separate APIs for running MG algorithms.

The proposed solution that's being activ

[2019-06-21 06:11] cjnolet opened #751 "[FEA] Support for RMM device allocator in `chunk_to_device`"
There is interest in the RMM device allocator being used in the `chunk_to_device` utility in cuML to enable SPMG RMM operation. Currently, RMM support is not widespread throughout all the cuML algorithms.

If this particular algorithm is to be used by the cuGraph, possibly within the new RAFT project, we will need to give it RMM support.

[2019-06-21 06:18] cjnolet opened #752 "[FEA] cumlHandle & deviceAllocator/rmmAllocator support in all remaining algorithms & primitives"
Our `cumlHandle` has support for an RMM device allocator, but not all prims and algorithms are currently using the `cumlHandle`. cuML contains an rmmAllocatorAdaptor, but it is also not the default and this would need to be injected into the handle in order to be used.

While we do inject the `rmmAllocator` into the `cumlHandle` in our Python layer, not all algorithms in the Python layer appear to

[2019-06-21 06:22] cjnolet commented on #498
I'm on board with the idea of passing either the `cumlHandle_impl` or just passing the relevant handles / allocators / comms implementations directly to the prims layer. We have already been doing this with some of the new prims.

[2019-06-21 06:23] cjnolet commented on #548
Linking #624 as this PR is ready for review.

[2019-06-21 06:23] cjnolet commented on #492
Can this issue be closed?

[2019-06-21 06:25] cjnolet commented on #752
Linking #448

[2019-06-21 06:26] cjnolet commented on #659
This can be used in train/test splits, random projections, mini-batch SGD, pasting in RF, and many other places.

[2019-06-21 06:27] #415 closed

[2019-06-21 06:28] cjnolet commented on #373
I believe @chirayuG-nvidia took care of this in a PR during 0.7 and it's outlined in our developer guide. Closing for now.

[2019-06-21 06:28] #373 closed

[2019-06-21 06:29] cjnolet commented on #372
I believe this is done, @teju85. Can it be closed?

[2019-06-21 06:30] cjnolet commented on #299
This is being done currently in our `Base`  class in Cython. Closing.

[2019-06-21 06:30] #299 closed

[2019-06-21 06:30] cjnolet commented on #281
Can this issue be closed?

[2019-06-21 16:11] Salonijain27 commented on #735
I ran the individual stress tests and they passed but when i pass two values for max_bytes_per_batch in the pytest file the code gets `Killed`

[2019-06-21 22:22] cjnolet commented on #735
@Salonijain27, I was able to reproduce this behavior as well, when multiple tests were run back to back. Very strange it only happens with certain batch sizes.

[2019-06-21 22:24] cjnolet commented on #613
Has anyone verified that this issue is fixed? I'm wondering if it is somehow related to #735. There does not appear to be a memory leak in the batching, as the memory does not changed across 500k batches. This leaves the possibility that:
1. a memory leak is occurring after the batching
2. in the cython layer
3. Some other problem is occurring (incorrect memory addressing, etc...)

[2019-06-21 22:26] Salonijain27 commented on #735
Cool, so it was not just my environment. Thank you for letting me know!!

[2019-06-21 22:46] cjnolet opened #769 "[DOC] Add PR review checklist"
As the rate of PRs continues to increase and reviews are becoming more of a daily routine, I'm finding that sometimes small details get missed in the noise because either we are not used to looking for them, or the shear volume of changes causes us to gloss over them accidentally.

It would be very useful if we could add a very easy-to-follow checklist that outlines the types of things we, as a te

[2019-06-21 22:51] cjnolet commented on #661
Closing this because I believe this might be an effort undertaken on by the NCCL team.

[2019-06-21 22:51] #661 closed

[2019-06-21 22:55] cjnolet commented on #700
Aside from upstream problems in the `dask-cuda` project, this is good to go

[2019-06-21 23:00] #625 closed

[2019-06-22 05:33] cjnolet commented on #769
Also tagging @dantegd since we has discussed this together offline.

[2019-06-22 05:52] cjnolet opened #771 "[FEA] Dask.array backed by CuPY for MG algorithms"
The Dask.dataframe has proven to be a useful data structure for representing data sets that can be broken across row boundaries but the Dask.array provides much more flexibility in terms of a distributed numpy-like abstraction that can more efficiently deal with blocked matrices and slice across both row and column boundaries.

Since Dask cuML is going to be getting merged w/ cuML proper at the be

[2019-06-22 05:53] cjnolet commented on #611
Closing this issue, as random forest will not be using the cuml communicator.

[2019-06-22 05:53] #611 closed

[2019-06-22 06:07] cjnolet commented on #692
After having gone through the process of making a couple classes pickleable, I'm thinking this could just be a short blurb that mentions something along the lines of:
- Don't store cython objects or pointers in instance variables
- If cython objects NEED to be stored as instance variables, they need to be explicitly removed and re-linked in the `__getstate__` and `__setstate__` functions
- The fol

[2019-06-22 06:08] cjnolet commented on #693
This will be much easier to implement once #750 is implemented.

[2019-06-22 06:21] teju85 commented on #372
Yes. This has already been addressed. Closing

[2019-06-22 06:21] #372 closed

[2019-06-22 06:23] teju85 commented on #492
Not yet. The doxygen build has been currently commented out of the cmake flow since there are various places with improper comments.

[2019-06-22 06:57] teju85 commented on #521
Pinging for any updates on this one. We recently added clang-format check to our build flow as well. Thus, having `PR_TARGET_BRANCH` (or anything equivalent) supported in our CI flow would help enable such checks during PR process as well.

Currently, PR #725 proposes to skip clang-format during to development. However, since CI flow for clang-format cannot be enabled without this support, enablin

[2019-06-24 00:34] cjnolet commented on #703
@wuxianliang, my previous reply to you was incorrect. For some reason, anaconda.org that was causing old build versions to install by default in the rapidsai nightlies for several projects. This packaging difference was corrected in a more recent build so no changes should be needed to build dask-cuml 0.8a.

One thing to note is that there is also a pending bug in dask-cuda that causes `LocaCUDACl

[2019-06-24 01:53] #700 closed

[2019-06-24 12:14] danielhanchen opened #774 "[FEA] X + X.T faster symmetrization"
Currently, coo_symmetrize in coo.h performs X + X.T after converting data from (indices, distances). This means that after getting distances, to do f(X + X.T), the steps are:

1. Given D(N, K) and Indices(N, K), first use from_knn to convert D, Indices to COO layout. This uses some extra memory (3NK more) and requires some computation.
2. Call coo_symmetrize which will allocate an extra 6NK space

[2019-06-24 15:30] JohnZed opened #778 "Update README to have performance best practices tips and clear call out to benchmarks notebook."

[2019-06-24 15:32] JohnZed commented on #778
Notes:
 - use GPU array
 - large data size / large feature counts
 - check double/single precision
 - benchmarks notebook

[2019-06-24 15:39] JohnZed opened #779 "CI support for MNMG algorithm testing"

[2019-06-24 16:07] JohnZed commented on #68
Hi, @amilworks - we're currently working on planning for next steps of planning for multi-GPU algorithms and just wanted to mention that PCA is high on the list for multi-GPU algorithm scaling. Stay tuned in the next release or two for more details and an updated schedule.

[2019-06-25 10:33] tfeher opened #788 "[FEA] column major option for distance prims"
The distance prims currently support row major input data. Some cuML algorithms use column major data layout, and they would benefit from column major distance prims. @teju85

[2019-06-25 11:28] ravigumm opened #905 "[BUG] pytest test_nearest_neighbors.py hangs with more than 1 GPU"
With 0.8.0a or 0.9.0a versions of dask-cuml, pytest is hanging when more than 1 GPU is available.
It is hanging at the line "wait(dfs)".
[code]
When I have CUDA_VISIBLE_DEVICES=2,3 then also only one out of 2 futures are shown in finished state. When I have 4 GPUs, then also only one out of 4 futures are shown in finished state. Not sure if I am missing something in running this test.

[2019-06-25 14:13] cjnolet commented on #788
Is this a duplicate of #517 ?

[2019-06-25 14:23] cjnolet opened #791 "[FEA] Capture sklearn datasets in header file(s) for c++ testing"
This, when also used with our new `make_blobs` prim, will allow us to test our c++ algorithms end to end on some of the same datasets we are using for our python tests.

Capturing these datasets should be a straightforward process. This will increase the quality of our c++ algorithms API while helping us better isolate whether or not bugs are coming from c++, cython, or raw python.

We should also

[2019-06-25 14:43] beckernick opened #792 "[BUG] LinearRegression.fit silently fails with multi-dimensional y array"
**Describe the bug**
When a `y` array of more than one dimension is passed to `LinearRegression.fit`, we only return the coefficients for one of the dimensions. This may be tied to the logic of why we can only accept a cudf.Series or numpy array as input types (rather than a cudf.DataFrame as well), but I haven't had a chance to look into it.

Essentially, if we're solving Ax=b and b has > 1 colum

[2019-06-25 14:59] tfeher commented on #788
Hmm, yes, it is.

[2019-06-25 15:04] oyilmaz-nvidia commented on #792
Thanks Nick for the bug report. We currently only support one dimensional y. If you know that a customer is interested in multiple dimensional y, please let us know. We can support that as well. In the meantime, we’ll improve the error message.

Onur Yilmaz | NVIDIA
Solutions Architect
cell: (201) 455 9226
email: oyilmaz@nvidia.com
________________________________
From: Nick Becker <notifications@

[2019-06-25 15:23] beckernick commented on #792
@oyilmaz-nvidia makes sense. There is interest in least squares solutions to linear matrix equations but with CuPy v7.0 slated to have the equivalent of `np.linalg.lstsq` and it currently being available when built from source, I think there's no need to prioritize supporting multi-dimensional y arrays.

[2019-06-25 15:52] JohnZed commented on #609
Thank you for the bug report! The doc pages (all across RAPIDS) were incorrectly formatted, leading to these corrupted parameter descriptions. (This seems to have been a Sphinx bug?) They are fixed now in the 0.8 release.
Agreed that we need to update the doc for that ignored param as well.

[2019-06-25 16:01] JohnZed commented on #393
I believe this is closed by PR #681 (MBSGD), right @dantegd ?

[2019-06-25 16:14] dantegd commented on #393
Yes it is @JohnZed

[2019-06-25 16:14] #393 closed

[2019-06-25 16:17] oyilmaz-nvidia commented on #602
This bug was reported in another issue and fixed couple of months ago. We can close it.

[2019-06-26 00:22] dantegd commented on #792
@beckernick PR #773 adds a ton of dimension and datatype checks and should take care of the correctness check of this

[2019-06-26 00:28] #788 closed

[2019-06-26 00:29] #137 closed

[2019-06-26 00:31] #426 closed

[2019-06-26 00:32] #564 closed

[2019-06-26 00:35] cjnolet commented on #645
Covered in #697

[2019-06-26 01:01] cjnolet opened #796 "[FEA] Cython wrapper for silhouette score"

[2019-06-26 01:02] cjnolet opened #797 "[FEA] Cython wrapper for Rand and adjusted Rand index scores"

[2019-06-26 01:02] cjnolet opened #798 "[FEA] Cython wrapper for KL divergence"

[2019-06-26 01:03] cjnolet opened #799 "[FEA] Cython wrapper for mutual information score"

[2019-06-26 01:04] cjnolet opened #800 "[FEA] Cython wrapper for homogeneity score"

[2019-06-26 01:04] cjnolet opened #801 "[FEA] Cython wrapper for completeness score"

[2019-06-26 01:04] cjnolet opened #802 "[FEA] Cython wrapper for v-measure"

[2019-06-26 01:09] cjnolet commented on #645
And #796

[2019-06-26 01:16] cjnolet opened #803 "[FEA] Add c++ util for singleToDoublePrecisionPerfRatio"
This is needed so that we can earn users in the Python layer when they are using a device that might have lowered performance in double precision computations.

This ticket entails adding a function to ml_cuda_utils.h which calls singleToDoublePrecisionPerfRatio in the cuda runtime API and wrapping this utility function in Cython.

[2019-06-26 01:19] cjnolet opened #804 "[FEA] Cython wrapper for MSE"
This is a c++ primitive and it would be very useful if it were wrapped in our Cython metrics API.

[2019-06-26 01:22] cjnolet opened #805 "[FEA] Cython wrapper for accuracy"
Our random forest c++ API introduced a new primitive for computing accuracy when given a set of actual labels and predicted labels. This primitive is used in the ‘score’ function of the RFClassifier class.

We should include this in our Cython metrics API so it can be used for scoring other algorithms.

[2019-06-26 04:18] teju85 commented on #788
Darnn.. sorry @tfeher I should have remembered that I filed this issue before suggesting you to file this one!

[2019-06-26 15:04] PovelikinRostislav opened #906 "[DOC] incorrect package name in the README.md"
Change the `... dask_cuml` with `... dask-cuml` in the command

[2019-06-27 09:40] kychennv opened #1964 "[FEA] could rapids support an api for xgboost, such as cm_xgboost"
could rapids support an api for xgboost, such as cuml_xgboost?

[2019-06-27 15:54] teju85 commented on #709
Makes sense to standardize enums.

[2019-06-27 20:25] JohnZed commented on #659
See PR #789

[2019-06-27 20:28] JohnZed commented on #632
Yes, this is a potentially-interesting algorithm and should fit in well with the existing optimizers. It may take another release or two before we get to it, but we'll definitely add it to the list.

[2019-06-27 20:29] JohnZed commented on #779
This is just a placeholder. Will need to work with ops team on a real issue for this.

[2019-06-27 20:44] JohnZed commented on #669
Agreed this will be useful for most estimators. It will be an estimator-by-estimator process to add it, but we could start with linear models and get some commonality there. Not going to make it to 0.9 given current load there, but we'll keep it for a near future release.

[2019-06-27 23:56] dantegd opened #817 "[FEA] Implement custom exceptions and warnings for some Python behaviors"
**Is your feature request related to a problem? Please describe.**
Currently we are just using the default Python exceptions, but sometimes they can be a little insufficient for being as helpful as possible for users. Scikit-learn defines a few exceptions, some of which might be great as inspiration to create analogue ones for cuML: https://scikit-learn.org/stable/modules/classes.html#module-sklea

[2019-06-28 13:35] wuxianliang commented on #703
Now with this new command on rapids.ai
[code]
actually dask_cuml==0.6 is installed. Is it a part of this merge?
[code]
it courses problem still.@cjnolet

[2019-06-28 14:45] jeaton32 opened #818 "[FEA] Auto find-k for kmeans"
In the early versions of k-means in nvGRAPH, we had an outer wrapper that would enable the user to ask for the 'correct' k to be found automatically. The user input a range for k-min and k-max, then the routine would run k-means and using a special metric (residual over dispersion) do a bisection search to find k-opt.  This has been lost in the latest version, it should be restored.

**Describe th

[2019-06-28 22:07] cjnolet opened #821 "[FEA] Testing API to bridge C++ & Pytests"
## Basic need

While we require the use of a distributed system, such as Dask, for initializing comms, we are able to use pytest for calling down to cython-wrapped c++ functions for writing and running end-to-end MNMG tests without the need for a dependency on CUDA-aware MPI.

This process is not simple by any means, and expecting folks that live primarily in the C++ layer to write cython-wrapped

[2019-06-28 22:09] cjnolet commented on #821
Tagging @dantegd @oyilmaz-nvidia @JohnZed @jirikraus @teju85 @mt-jones for feedback, ideas, and suggestions.

[2019-06-29 06:45] teju85 commented on #821
Current setup we have is:
1. algo-level unit-tests based on googletest framework for verifying C++ API
2. end-to-end pytests to verify python wrappers
This has a nice separation-of-concerns, where C++ devs don't really have to bother about python tests. Thus, I'm having difficulty understanding why we'd need such a bridge.

If what we need is the `comm` object, why not just expose it via cython, j

[2019-06-29 11:06] cjnolet commented on #821
@teju85, the purpose of this ticket is to enable MNMG algorithms to be tested end to end in c++ without the need for a CUDA-aware MPI dependency. The goal is to get automated tests into the codebase early while also enabling developers in the c++ layer a path to testing.

Does this make sense? Ideally, the c++ developers would just write the tests and wrap them in cython pytests as I have done in

[2019-06-29 13:31] cjnolet commented on #821
Another option could be to use a standard MPI to bootstrap NCCL and UCX endpoints for testing against the standard comms impl  but until we have this capability, the path of least residence is to use Dask.

[2019-07-01 05:51] seunghwak commented on #821
I don't fully understand the entire context yet, but I assume we are currently relying on Dask to run Multi-Node Multi-GPU analytics, and I guess our short-term priority for testing is on Dask based scenarios. We may need to think more about C++ only scenarios in the future, but based on my current understanding, we may better work on Dask based scenarios first before thinking about other possibil

[2019-07-01 16:14] cjnolet commented on #653
Combined with a more thorough guideline, which outlines the expectations and criteria for algorithms / prims development, it would also be nice to include a summary checklist that developers can easily follow, that might help them get through the acceptance criteria quickly. Something like:

- [ ] C++ API is stateless and contains C wrappers.
- [ ] Existing prims are used wherever possible and new

[2019-07-01 20:33] cjnolet opened #825 "[FEA] Conda recipe for cuda-aware MPI"
Currently we use Dask to bootstrap our UCX and NCCL comms. Through the Nvidia conda channel, NCCL2 is able to be installed using conda. Conda recipes are also now being built and tested for UCX and ucx-py.

While Dask provides a mechanism for initializing a cumlCommunicator within the Python layer, it does couple us to Python and this makes it harder to build a standalone test binary that can be e

[2019-07-01 20:44] dantegd commented on #825
tagging @jakirkham and @kkraus14 for thoughts

[2019-07-02 12:08] jirikraus commented on #825
I am all for this. Besides easing multi GPU tests for C++ developers having a MPI implementation as a second implementation in the repository can potentially significantly help with debugging.

[2019-07-02 16:38] deltadu opened #828 "[FEA] SKL preprocessing scalers"
Hi, is anybody working on SKL style scalers, e.g. sklearn.preprocessing.MinMaxScaler?  https://scikit-learn.org/stable/modules/classes.html#module-sklearn.preprocessing
If not, I would do it.

I plan to do it with cudf APIs, e.g. .mean(), .std(), please offer suggestions and comments, thanks in advance.

[2019-07-03 18:59] randerzander opened #830 "[BUG] 0.9 rapidsai-nightly conda package not compatible with cudf 0.9"
I'm trying to install the latest nightly packages, but it looks like cuml still depends on cudf and rmm 0.8.

[code]

[2019-07-03 20:53] #830 closed

[2019-07-04 05:53] teju85 commented on #825
I very strongly support this. It certainly makes our testing process WAAY simpler.

[2019-07-04 12:31] cjnolet commented on #825
Wondering if it would make sense to start from, or contribute to, this project: https://github.com/conda-forge/openmpi-feedstock

@jakirkham does this seem like a reasonable package to add to our growing ecosystem of conda packages since we already have UCX in the works?

[2019-07-06 13:54] teju85 commented on #825
@cjnolet @jirikraus Building a conda-recipe almost certainly involves copying of the installed files at `--prefix` path over to the `$PREFIX` conda env-var. But, as per [this thread](https://www.eclipse.org/lists/ptp-user/msg02826.html), it seems like that openmpi will not work if the configure-prefix path and installed path are not the same!? Any ideas? Anybody knows if/how `openmpi-feedstock` is

[2019-07-06 14:14] teju85 commented on #825
@cjnolet IMO, it's much easier for us to maintain such a recipe. If you want, here's my repo showing the same: https://github.com/teju85/ompi-recipe.git

If you want to try it out: `conda install -c teju85 ompi-cuda`
If you want with-ucx: `conda install -c teju85 ompi-cuda-ucx`

[2019-07-06 19:39] jakirkham commented on #825
It could makes sense to build CUDA enabled OpenMP libraries in conda-forge. Though I haven't thought about this much.

Also SciPy is next week. So I'm mainly thinking about that right now. Happy to give this more thought after. 🙂

[2019-07-07 00:09] dantegd commented on #828
@deltadu no one is working on this right now as far as I know. But ideally this functionality should be available for any gpu type of input we support (i.e. cudf as well as cuda array interface compliant structures like Numba and cupy), so cudf apis might not be the best way to go. Either using cupy or even better existing ml-prims in cuML would be a better solution.

[2019-07-09 02:35] kovasb commented on #50
Upping this -- currently using FAISS directly due to lack of this functionality.

[2019-07-09 15:59] cjnolet commented on #825
@teju85, I installed your `ompi-cuda` package. The `lib`, `include`, and `bin` dirs look correct, but the gcc that it installed seemed to mess with my ld path and cause some strange issues to result when building cuml's Python from source.

[2019-07-09 16:42] deltadu commented on #828
@dantegd Thanks for the reply Dante. Ok I got you. When do you expect the conflict between nccl and cupy to be resolved? Implementing in cupy is comparatively easier for me, as SKL's labelEncoder is in numpy.

I'm half way through cudf implementation, and can do a cupy version afterwards

[2019-07-09 17:06] wickedfoo commented on #574
The main difference with the approximate methods is that Faiss needs to own its own data structures for the index, and the index needs to be trained on a sample of the data. The approximate techniques can't be used via the same interface that you are using at the moment (the brute-force implementation where you provide both the vector data and the queries, which could be different every call). Fai

[2019-07-10 05:01] ravigumm commented on #510
@dantegd Do you have any update on this ?

[2019-07-10 11:38] teju85 commented on #825
Ah.. I didn't really check cuml build-from-source afterwards! Do you know what's the recommended approach while preparing conda recipes which contain built-from-source binaries?

[2019-07-10 15:32] cjnolet commented on #825
I don't know much about conda recipes, unfortunately, so I wouldn't be the right person to answer this. It appears that the MPI recipe is installing some gcc dependencies, which are being added to the default path. The new gcc doesn't seem to be using the same `ld` path and thus isn't able to compile cuml's cython against some of the installed libs (like cuda).

[2019-07-10 15:42] kstanski opened #836 "[FEA] Predict class probabilities for input of Random Forest"
**Description**
I would like Random Forest to be able to predict class probabilities. I am more than happy to implement it.

I believe it is very useful in some contexts (e.g. medical diagnostics) to get the probabilities as output and then to tune the threshold as opposed to predicting classes by majority vote.

**Solution**
It would be best to have a `predict_proba` method of the Random Forest c

[2019-07-10 16:20] deltadu commented on #828
@dantegd @randerzander Let's talk more about this, so if I do it in cupy, should the output still be cudf.Series?

Another thing is that since SKL's scale is implemented in numpy, cupy implementation may look similar to SKL's, is that ok (maybe a little more work for law team) and should I put code in the thirdparty/sklearn folder?

[2019-07-11 00:32] #698 closed

[2019-07-11 00:54] cjnolet opened #838 "[FEA] Stress tests & performance benchmarks for UCX in cuML Comms"
An initial (very experimental) implementation of UCX for point-to-point has been integrated into the standard cuML communications facade. It was taken largely from [ucx-py](https://github.com/rapidsai/ucx-py) and from the popular ucx [hello_world example](https://github.com/openucx/ucx/blob/master/test/examples/ucp_hello_world.c).

As a simple end-to-end test is provided in the initial comms PR (#

[2019-07-11 04:10] jakirkham commented on #825
Probably need to build with this ( https://github.com/conda-forge/staged-recipes/pull/8229 ) as well. Here's an example ( https://github.com/conda-forge/staged-recipes/pull/8637 ). Admittedly you may still encounter issues, but can chat with you more about them next week.

[2019-07-11 07:01] teju85 opened #839 "[FEA] [DEBT] rename 'my*' device functions inside cuda_utils.h to something more apt!"
**Is your feature request related to a problem? Please describe.**
All the math functions (sin, cos, ...) to be run on device have templated wrappers in the form of `my*` names inside cuda_utils.h. That's an unfortunate naming prefix which has stayed on from our initial days of cuML. :( These need to be cleaned up and named something more standard.

[2019-07-11 17:06] cjnolet opened #841 "[FEA] UCX / NCCL Comms on Dask workers are subject to serialization & movement"
While the current cuML comms implementation relies on NCCL & UCX comms handles to be maintained on Dask workers, their resource pointers are held open using scheduled tasks. This means it's possible that the tasks may be moved off of the workers at any point, should the workers content for resources.

We need to figure out a reasonable way to handle this and, perhaps, discuss options with the Dask

[2019-07-11 18:28] paulhendricks opened #842 "[BUG] AttributeError: 'PCA' object has no attribute 'trans_input_'"
**Describe the bug**
When using `cuml.decomposition.pca.PCA.transform` method, we get the following error:

[code]

**Steps/Code to reproduce bug**

[code]

Error message:

[code]

**Expected behavior**
The PCA object should successfully transform the scaled inputs.

**Environment details (please complete the following information):**
 - Environment location: Docker
 - Linux Distro/Architecture: U

[2019-07-11 20:15] JohnZed commented on #653
A few more (we can break these into categories and combine redundant ones over time):

- [ ] Complete docstrings explaining the API, restrictions, and gotchas.
- [ ] Docstrings include references to the underlying algorithm (e.g. the paper or sklearn algo that was implemented or a description of the algo that was used if it is nonstandard)
- [ ] Python APIs use `input_to_dev_array` to accept flexi

[2019-07-12 15:25] oyilmaz-nvidia opened #844 "[FEA] Random Forest Python Wrapper for Regression"
**Is your feature request related to a problem? Please describe.**
Python wrapper is needed for regression using random forest

[2019-07-12 21:23] cjnolet opened #845 "[FEA] Propagate (and handle) UCX errors to CommsBase"
CommsBase uses `ucx-py` (Cython/Python) to establish a UCP listener and connects UCP endpoints to each of the ranks. These initialized UCP endpoints are then passed down to the C++ layer so they can be used to exchange messages.

Unfortunately, if a UCP error occurs on a request within `isend()`, `irecv()` or `waitall()`, an exception is thrown in C++ and execution is halted.

The C++ algorithms u

[2019-07-12 21:33] cjnolet opened #846 "[FEA] Establish a context for initialized comms, which can be shared across different model instances"
The `CommsBase` interface was established as an base class where subclasses can easily initialize and utilize a `cumlHandle` that has had an initialized `cumlCommunicator` injected into it.

One downfall of having to initialize these comms for every algorithm is that some comms implementations, such as NCCL, can introduce significant latencies into workflows. For example, on a DGX with 8 GPUs, NCC

[2019-07-12 23:42] cjnolet commented on #846
Will definitely need to look at the threading implications here. Sharing a common comms instance and handles across different model instances should be fine so long as it’s shared within a single thread, since the cuml communnicator and cuml handle are not thread safe.

[2019-07-13 00:00] cjnolet opened #847 "[FEA] Python wrapper for cumlCommunicator"
This would be very useful for enabling multi-node multi-gpu support, with MPI semantics, directly within the Python ecosystem.

This should be very straightforward to accomplish.

[2019-07-13 01:48] cjnolet opened #848 "[FEA] Implement commSplit for Std Comms impl"
While an existing distributed system is needed for the initial bootstrapping of NCCL comms, new NCCL communicators should be able to get built easily from within an initialized cumlComms instance.

This function will enable the creation of subcommunicators that will be able to expose different topologies for optimizing computations. One obvious use would be for performing operations that take adva

[2019-07-13 18:39] cjnolet commented on #846
Finished this refactor. Will be included in #812

[2019-07-13 18:39] #846 closed

[2019-07-13 18:40] cjnolet commented on #841
As per [this Dask issue](https://github.com/dask/dask/issues/5091), the recommendation is to modify the worker object to add the necessary state for cuML. This will be included in #812

[2019-07-13 18:40] #841 closed

[2019-07-14 16:49] cjnolet commented on #750
Based upon the input to fit and predict functions, I see 3 different types of inputs that would affect how the algorithms are executed:

1. A single GPU array (eg. numpy, dataframe, numba, cupy) is passed in, `n_gpus=1` (the default): Single GPU algorithm is executed as it is currently.
2. A single GPU array is passed in, `n_gpus > 1`: `default_comms()` is called to use an existing, or initialize

[2019-07-14 19:32] dantegd commented on #842
Thanks for the report @paulhendricks fix is done in PR 849 and should be merged pretty soon.

[2019-07-15 18:37] JohnZed commented on #637
This is a tricky one, but super valuable so thanks for bringing it up. The current approach (a mix of cudf types, cuda arrays, occasional numpy) is not very clear.

I suspect that always using the same output format (numba device arrays) would provide the most consistency for our APIs, at the cost of some usability for those who are using this as a drop-in replacement for sklearn. It also seems li

[2019-07-15 20:14] JohnZed commented on #663
Hi, @alawami - thanks for submitting the report! I looked over the notebook and don't see any major issues. SVD is not really guaranteed to give a lower error than eig on any particular test set. It is more stable (less likely to have issues solving poorly-conditioned problems). On some other example datasets, SVD does better than EIG, so I believe they trade places. In this example problem, since

[2019-07-15 20:14] #663 closed

[2019-07-15 21:47] cjnolet commented on #821
It would be very useful if cuML could provide an `mpiexec`-like script that could use Dask bootstrap the `UCX+NCCL` `cumlCommunicator` and inject it into an existing C++ interface. For instance, it would be great if this script could somehow enable the execution of a call to `GTEST_RUN_ALL()` in order to ease the integration of MG C++ GTests in CI.

@JohnZed mentioned this interesting idea today a

[2019-07-15 21:52] dantegd commented on #842
@paulhendricks PR has been merged, will close the issue. Feel free to reopen it if you run into it again, or inform us of any other problems you run into. Thanks!

[2019-07-16 21:20] divyegala opened #854 "[DOC] In-depth documentation for Handles and Streams"
From what I observed, and from conversation with @cjnolet, every cuml algorithm creates a handle which uses the default stream (`NULL`, we checked up to `cumlHandle_impl ` constructor). Without knowing that greater concurrency can be achieved when running two things together just by setting different handles and streams, we lose out on a powerful feature (I know that this is covered in the Develop

[2019-07-17 00:49] burkecp opened #856 "[BUG] cuDF DataFrame columns are indexed by... strings?"
When attempting to slice a cuDF DataFrame, I've noticed that the columns are indexed in STRINGS!! This needs to be changed. I should never have to type:
``` pca.loc[:,'0']```

where ```pca = PCA(...).fit_transform(features)```

Please change this value to an integer.

Using an integer results in the following error:

[code]

Running current cuML/cuDF stable on Ubuntu 16.04 in an anaconda environme

[2019-07-17 16:23] randerzander opened #858 "[QST] Should libcumlmg-0.0.0.dev0 be versioned?"
Installing cuml from the rapidsai-nightly conda channel includes the "libcumlmg-0.0.0.dev0" package.

Shouldn't this have a real version number?

[2019-07-18 14:50] jlevy44 opened #907 "Cosine K-NN"
Hey there, any chance of incorporating a cosine similarity metric for the knn construction?

Thanks!

[2019-07-19 07:36] danielhanchen opened #861 "[FEA] TSNE - Transform function for new embeddings"
Currently, TSNE was designed to only perform fit_transform(X) on data. However, it is possible to transform new unseen data given the previous dataset's embeddings using 2 approaches:

1. Freeze the original embeddings, and only perform gradient descent on the remaining new data.
2. Use a new proposed weighting strategy based on the t distribution used in TSNE (ie 1/(1+d^2)).

Option 1. is preferr

[2019-07-19 07:42] danielhanchen opened #862 "[FEA] TSNE - Cosine distances"
Currently TSNE supports euclidean distance only. However, it has been noted by many sources that in very high dimensional space, the L2 distance breaks down due to the curse of dimensionality, and hence cosine distance which measures angles is more reasonable.

Currently the nearest neighbors wrapper in cuML supports cosine distances and thus it is possible for a cosine distances implementation of

[2019-07-19 07:46] danielhanchen opened #863 "[FEA] TSNE - Kullback Leiback Divergence for early stopping"
Currently only the gradient norm is used for early stopping. However, one can calculate the actual Kullback Leiback divergence during the gradient updates for further diagnosis of whether TSNE has reached a stable configuration.

[2019-07-19 08:21] danielhanchen opened #864 "[FEA] TSNE - Adabound / Adam optimizer rather than pure SGD"
TSNE now uses the original Hinton + Maaten optimization method which is a a glorified momentum based gradient descent ie:

V_t+1 = momentum * V_t  -   eta * dY_t+1
Y_t+1 += V_t+1

Then they incorporate gains or a simpler version of Adam, where each parameter in Y has their own changing learning rate ie:

V_t+1 = momentum * V_t   -  eta*gains*dY_t+1
Y_t+1 += V_t+1

However, it has been shown that b

[2019-07-19 16:02] Salonijain27 opened #866 "[FEA] Error command if cuml does not support the entered sklearn variable"
When the cuml algorithm does not accept the same variables as sklearn an error statement informing the user of this should be printed when the user uses such a variable.

[2019-07-19 16:06] Salonijain27 commented on #844
Solved with PR #851

[2019-07-19 16:48] cjnolet commented on #863
Will the new [KLDivergence](https://github.com/rapidsai/cuml/blob/branch-0.9/cpp/src_prims/metrics/klDivergence.h#L62) prim help you here?

[2019-07-19 17:57] danielhanchen commented on #863
Oh so in the naive kernel I already incrementally updated the KLD loss. I just didn't put it in the Barnes Hut version yet. But I'll check the new prim out.

Most likely I'll continue using the naive TSNE version since no repeat calculations are made, and just P*log(P/Q) is used. Ie I have P, Q but they're not in a vector, but discarded during the algorithm. So I need an incremental version.

[2019-07-22 17:55] cjnolet opened #868 "[FEA] UMAP GTests to use trustworthiness"
Unfortunately, when UMAP was being implemented, cuML did not have a C++-based trustworthiness score nor any good datasets for testing.

The necessary pieces for validating UMAP are now in place, as we have a C++ trustworthiness prim and @danielhanchen's new t-sne implementation in #682 introduces a `digits.h` dataset that is being used to test t-SNE in the C++ layer.

In order to make the current

[2019-07-23 01:10] teju85 commented on #863
What do you mean by incremental KLD version?

[2019-07-23 10:02] danielhanchen commented on #863
@teju85 So the KL prim is KL_Prim(P, Q) and KL = sum(P * log(P / Q)) is done.

In TSNE, P and Q are not formed explicity as a vector, they're formed on the go. Hence the KL divergence im using will incrementally add to KL.

[2019-07-23 10:13] teju85 commented on #863
got it. Makes sense now. Thanks @danielhanchen for explaining.

minor point: you can reduce a couple of lines of code in yours if you decide to use the [KLDOp defined here](https://github.com/rapidsai/cuml/blob/branch-0.9/cpp/src_prims/metrics/klDivergence.h#L37)

[2019-07-24 16:07] cjnolet opened #873 "[FEA] UMAP should be able to take a matrix of distances as input"
There have been a few feature requests for custom distance metrics that are non-trivial to integrate with our current KNN solution. Also, the umap-learn implementation allows the user to pass in a symmetric matrix of distances. If cuML's umap implementation could support this as well, it would enable users to run their own custom distance metrics in the meantime.

This specific feature has been re

[2019-07-24 16:38] #842 closed

[2019-07-24 16:46] cjnolet opened #874 "[FEA] MCMC Sampler(s)"
Metrpolis-hastings is a very `quick and dirty` algorithm for implementing MCMC as a building block for a better probability and statistics package. cuML would benefit immensely from having some MCMC algorithms available, specifically as building blocks for other algorithms.

[1] Provides a great very quick overview to different types of algorithms for performing MCMC and why one is better than the

[2019-07-24 16:55] cjnolet commented on #874
This ticket encompasses the research and implementation of different MCMC samplers, starting with the following checklist:

- [ ] Metopolis-Hastings
- [ ] Hamitonian Sampler
- [ ] No U-turn Sampler

[2019-07-24 20:09] danielhanchen commented on #868
:)

[2019-07-25 00:13] egoolish opened #875 "[FEA] HoltWinters lacks in-sample predictions akin to statsmodels' .predict()"
Statsmodels offers two similar functions for sample prediction:
- `.predict(start, end)` which returns both in-sample and out-of-sample predictions between `start` and `end`.
- `.forecast(steps)` which returns `steps` out-of-sample predictions.

Currently, cuML's HoltWinters algorithm (https://github.com/rapidsai/cuml/pull/835) only supports out-of-sample prediction in its `.forecast()` method.

F

[2019-07-25 00:22] egoolish opened #876 "[FEA] HoltWinters - .score() should return gradient logL rather than SSE."
Statsmodels' HoltWinters `.score()` method returns a vector of the gradient of logL with respect to each parameter.

Currently, cuML HoltWinters (https://github.com/rapidsai/cuml/pull/835) uses the SSE as a measure of fitness, and this SSE is thus returned in the `.score()` method.

Future iterations of cuML HoltWinters should return gradient logL rather than SSE in `.score()` in order to better m

[2019-07-25 14:02] cjnolet opened #878 "[FEA] Provide MNMG anti-patterns in wiki"
Now that we have had some time to work through different MG and MNMG designs, it would be very useful if we could add a wiki document for best practices and anti-patterns of MNMG design so that we can capture the best decisions, leading to great scalability, maintainability, and performance and avoid the bad ones, which could limit scale and impost unnecessary constraints on the usability of our A

[2019-07-25 21:34] egoolish opened #880 "[FEA] HoltWinters - Missing functions for Hessian, Fisher information, and logLikelihood"
cuML's HoltWinters currently does not support functionality for returning the Hessian, the Fisher information matrix, and the log likelihood of a model.

These features are present in the statsmodels API and thus should be incorporated at some later date.

[2019-07-26 16:02] danielhanchen commented on #863
Yep soz for the delay! I'll defs use that :)

[2019-07-26 22:43] divyegala opened #886 "[FEA] HoltWinters - Expose Line Search Step Size to user"
Currently, step-size for updating while optimizing alpha, beta, and gamma values are calculated is sqrt(3)/2 in a 1*1*1 cube (or gradient sized cube). We wish to allow the user to select this step size and control optimization.

This is the current version: ` optim_params_.linesearch_step_size = (Dtype)-1;`, where `optim_params_` is of type `struct OptimParams`.

This issue will be mentioned in th

[2019-07-26 22:57] rlratzel opened #887 "consolidate cpu and gpu build envs"
Currently the gpu builds fail unless specific packages are added in the ci/gpu/build.sh script. The cpu build does not need to add these packages because it gets conda packages from a separate conda .yaml file.  Both build scripts should ideally install the same build dependencies the same way.

[2019-07-26 23:01] divyegala opened #888 "[BUG] HoltWinters - issues in HoltWinters Optimization"
There are several issues in HoltWinters Optimization when optimizing alpha, beta, and gamma values:
1. Precision - There's an instability when using floating points. For example, floating points work fine when the training dataset has big numbers (say, 300 and upwards) and obtain the same answers as double points. However, if you normalize these values to be between 0 and 1, floating point optimiz

[2019-07-26 23:13] divyegala opened #889 "[BUG] HoltWinters - Double Exponential Smoothing fails"
While HoltWinters is Triple Exponential Smoothing by default, we want to have the ability to use Single and Double Exponential Smoothing too. However, the code-path taken by Double Exponential Smoothing fails. This can be tested out by putting `optim_gamma=false` in the relevant section of the code. This issue will be mentioned where this bug exists.

[2019-07-26 23:16] divyegala opened #890 "[TASK] HoltWinters - Test global and shared kernels"
In `cpp/src/holtwinters/internal/hw_eval.h` and `cpp/src/holtwinters/internal/hw_optim.h`, need to test shared and global kernels. Will mention this issue in the relevant sections of the code.

[2019-07-26 23:20] divyegala opened #891 "[TASK] HoltWinters - kernel optimizations"
There are certain kernels in `cpp/src/holtwinters/internal/hw_decompose.h` that can be optimized. Specifically:

1. `conv1d_kernel`
2. `season_mean_kernel`

[2019-07-29 15:36] cjnolet opened #893 "[FEA] MNMG Developer Guide"
Release 0.9 is providing our first MNMG algorithms. It has taken a few iterations to get a reasonable abstraction together to enable the building of different MNMG algorithms, but now that we have something, we should put it in a developer guide.

Some key concepts-
- General overview of the `cumlCommunicator`, `cuml.dask` packages and MG paradigms
- Differences between algorithms architected for

[2019-07-31 04:23] JohnZed opened #910 "Ensure correct attribution of copyrights and credit for TSNE"
We need to reference the cannylabs license and credit the original code to their implementation before release.

[2019-07-31 04:29] datametrician commented on #910
A blog would be nice as well. How we started, what we changed :)

[2019-07-31 04:36] JohnZed commented on #910
Yes, that would be great too... we want to make sure we are giving well-deserved credit to the cannylabs folks while showing the reasons for the changes. Maybe @danielhanchen you could take a look into that after getting everything set for the 0.9 release of tsne?

[2019-07-31 05:38] #904 closed

[2019-07-31 05:39] #900 closed

[2019-07-31 10:30] danielhanchen commented on #910
Yep blog sounds like a great idea! But yes I'll immediately acknowledge CannyLab's fanstatic implementation!

[2019-07-31 15:27] danielhanchen commented on #910
I placed my PR @ #911

[2019-08-01 02:39] cjnolet opened #913 "[FEA] Provide commStreamSynchronize() function in comms facade"
Currently, if a rank fails while it is part of a NCCL clique, the other ranks will hang indefinitely.

Unfortunately, using `cudaStreamSynchronize()` is a blocking call and so executing it after collective operations in nccl causes asynchronous failures, like a rank dying, to go unreported, causing an infinite loop. In a Dask environment, this means the remaining workers need to be restarted.

Sin

[2019-08-01 02:41] #874 closed

[2019-08-01 11:04] tfeher opened #914 "Consider using cuDF unordered_map in LRU cache prim"
The LRU cache prim #853 is a software managed cache in device memory. The data to be cashed has integer keys, and these keys are assigned to a cache slot. The index management can be considered as an unordered_map<int,int>, with a specific policy to replace the least recently used elements when a bucket is full.

The aim of this issue is to reduce code duplication and improve performance of the ha

[2019-08-01 18:44] #913 closed

[2019-08-01 20:15] MikeChenfu opened #917 "Feed cuML model into sklearn.GridSearchCV [QST]"
**What is your question?**
I am trying to use sklearn.GridSearchCV to determine the hyperparameter of cuML model, but I got some errors regarding to the estimator scores. I appreciate if anyone has suggestions about this problem. My demo code and errors are shown below.

[code]

[code]
​

[2019-08-02 00:59] dorisnvidia opened #919 "SVD algorithm in linear regression fails with out of memory error, while EIG does not"
**Describe the bug**
Customers in SAS reported OOM error when using SVD algo in linear regression. In the test case, there are 25 million rows of 21 floats. The dataframe takes a bit over 5GB of device memory, running on a V100-32GB gpu. EIG works fine.

**Steps/Code to reproduce bug**
A reproducer python code is attached.
[svdBug.py.txt](https://github.com/rapidsai/cuml/files/3459177/svdBug.py.tx

[2019-08-02 10:01] danielhanchen commented on #919
@dorisnvidia  Thanks so much for this bug report (plus thanks to SAS for using cuML!) ! We'll definitely try our very very best to diagnose the issue!

[2019-08-02 17:58] danielhanchen commented on #285
@bgp2112 @mmshad Hiii! Sorry for the late delay. (I'm sure you've already tried CannyLab's TSNE). But anyways in cuML v9, TSNE is finally part of cuML!!

If you're still going to use TSNE in the future, consider cuML's implementation! cuML's version is approx 1500x faster than sklearn, and approx 30 - 50% faster than even CannyLab's version!!!! [Eg MNIST 60,000 takes approx 3s or so + looks the sa

[2019-08-02 18:08] mmshx commented on #285
@bgp2112 , thank you for the update. This is great since it saves us a lot of time. I'll give it a try using the notebook and will let you know how it works for us.

[2019-08-02 18:09] mmshad commented on #285
@bgp2112 , thank you for the update. This is great since it saves us a lot of time. I'll give it a try using the notebook and will let you know how it works for us.

[2019-08-03 07:41] #774 closed

[2019-08-05 17:40] JohnZed opened #927 "[BUG] Use of cudaGetDeviceProperties in minimax prim (and others?) leads to bottlenecks"
We commonly use cudaGetDeviceProperties to figure out max shared mem and a few other properties. Calling this function from a prim used in tight inner loops leads to slowdowns and appears to lead to cross-device contention in a multi-GPU context. (Just eliminating this call speeds up multi-GPU RF tree building by up to 20x in some cases.)

Ideally we'd just cache this info once at startup. Particu

[2019-08-05 17:40] JohnZed commented on #927
Adding @teju85 who probably has better ideas than me on how to make this nice and general.

[2019-08-05 19:32] #285 closed

[2019-08-05 19:35] JohnZed commented on #927
Maybe a terrible, overcomplicating idea... but what about stashing this info (properties of current GPU) in the cumlHandle?

[2019-08-05 19:47] cjnolet commented on #927
I agree with the `and others`, if this is impacting performance by 20x or more, we should probably be providing a utility / helper for this.

Maybe providing the getter in the cumlHandle that uses a thread-local to cache the results when called for the first time? (since the cumlHandle is not advertised to be thread-safe).

[2019-08-05 21:11] as2384 opened #929 "Bazel Support"
Hi,

Do you know if support will be added for bazel? Or whether there is already support for this?

Thank you,

[2019-08-06 09:50] teju85 opened #931 "[FEA] Do not create `cumlHandle` inside the C++ API"
**Is your feature request related to a problem? Please describe.**
Currently, as part of PR #865, we are creating multiple `cumlHandle`s for each thread, to be thread-safe while accessing the internal resources. That can work for most cases, but our users can get surprises if we start creating and using such resources internally inside our C++ API. Solution is to use the "internal streams" concept

[2019-08-06 15:27] #917 closed

[2019-08-07 17:58] as2384 commented on #929
Hi,

Hope your week is going well - Just wanted to touch base again with you - will you be adding any support for Bazel in the near future?

Thanks again!

[2019-08-07 22:11] cjnolet opened #933 "[BUG] HoltWinters compiler warning"
The following compiler warning is printed when building `HoltWinters`:

[code]

[2019-08-08 05:22] teju85 commented on #927
20x is HUGE!

I agree that caching this info inside cumlHandle is a good place to start. And any prim that needs these device information should explicitly ask for it in its API. Let me start a PR proposing these changes soon.

[2019-08-08 06:49] teju85 commented on #927
@JohnZed @cjnolet PR #934 has been created for this. Can you folks review it?

[2019-08-08 15:42] tfeher opened #935 "[FEA] Different Input and output type for LinAlg::unary_op and binary_op"
**Is your feature request related to a problem? Please describe.**
I need to create a boolean mask based on values of one or two arrays. In Python with numpy arrays I could just do
`mask = alpha > 0`

**Describe the solution you'd like**
I would like to use the LinAlg::unary_op / binary_op operators for this problem. If these functions would allow different input and output types, then one could c

[2019-08-08 19:24] JohnZed opened #937 "Improve documentation of Dask-RF predict method"
Unclear about whether it accepts cudf or arrays.

[2019-08-08 19:25] JohnZed opened #938 "Add checks for one partition per worker in Dask-RF data distribution"
Right now, if you don't have a 1-1 mapping of workers and partitions, you'll get a relatively mysterious crash in Dask-RF

[2019-08-08 19:26] JohnZed opened #939 "Dask-RF documentation and examples"

[2019-08-08 19:26] JohnZed opened #940 "KMeans MNMG documentation and examples"

[2019-08-08 19:27] JohnZed opened #941 "FIL documentation and examples"

[2019-08-08 19:28] JohnZed opened #942 "FIL benchmarks"

[2019-08-08 19:39] JohnZed opened #943 "Get cumlprims conda package into nvidia channel"

[2019-08-08 19:55] JohnZed commented on #669
Priority is for KMeans based on requests

[2019-08-08 21:05] cjnolet opened #944 "[FEA] Update all cuML notebooks in the notebooks repository"
While demonstrating some of the cuML notebooks for potential users, we have seen some cases where the code in the notebooks could be updated to take advantage of newer syntax, features, and usage patterns.

These notebooks don't fail, but they should be updated so that users are getting the best possible examples for using RAPIDS & cuML.

We should be doing this each release anyway, but I'm making

[2019-08-09 10:24] tfeher opened #946 "[FEA] SVM working set selection using priority"
**Is your feature request related to a problem? Please describe.**
The working set selection algorithm fundamentally influences the number of outer iterations in the SMO algorithm and therefore the total training time.

Currently we use a FIFO strategy similar to ThunderSVM. An alternative priority based selection is also implemented experimentally, but it is not possible to use that currently.

*

[2019-08-09 10:53] tfeher opened #947 "[FEA] Improve stopping condition for SVM training"
**Is your feature request related to a problem? Please describe.**
In certain cases the SVM training fails to converge to the target tolerance in a reasonable time.
One such case is the following:
[code]
Likely cause is an oscillation in the diff parameter. Such oscillation could happen if the same set of vectors are getting in and out of the working set,

**Describe the solution you'd like**
- De

[2019-08-09 12:39] tfeher opened #948 "[FEA] Improve SVM KernelCache performance"
**Is your feature request related to a problem? Please describe.**
Calculating the kernel matrix in SVM takes a significant fraction of training time.

**Describe the solution you'd like**
- Use multiple streams to overlap cache.GetCols with cache.AssignCacheIdx, The StoreCols method can be overlapped with SMOBlockSolve and working set selection, it only needs to finish before the next GetCols.

-

[2019-08-10 16:31] tfeher opened #955 "[FEA] Use CUTLASS in nonlinear kernel matrices"
**Is your feature request related to a problem? Please describe.**
The polynomial and tanh kernels implemented in kernelmatrices.h use cuBLAS followed by separate kernel call for the nonlinearity. Using CUTLASS one could apply the nonlinearity in an epilogue function, this way we could spare a trip to the global memory.

**Describe the solution you'd like**
- Implement a CUTLASS version for the po

[2019-08-12 04:59] teju85 opened #956 "[FEA] Improve perf of SelectReduce in SVM code"
**Is your feature request related to a problem? Please describe.**
Current code appears to be doing more work than needed. More background for this can be found in [here](https://github.com/rapidsai/cuml/pull/912/files#r311852168)

**Describe the solution you'd like**
Solution is to have a single kernel call that'd do the full work of `SelectReduce`. It is as follows:
[code]

Tagging @tfeher for d

[2019-08-12 09:16] tfeher opened #958 "[FEA] Group SVM model parameters by class"
**Is your feature request related to a problem? Please describe.**
Currently our SVM classifier does not follow the same layout as  Sklearn / LibSVM while exposing the model parameters through the following attributes:
- n_support_ we have total number of SVs while Sklearn has number per class
- support_idx_ we store it in ascending order, while Sklearn has it sorted by class then ascending order

[2019-08-12 09:20] tfeher opened #959 "[FEA] Multi-class classification in SVM"
**Is your feature request related to a problem? Please describe.**
Currently only binary classification is supported.

**Describe the solution you'd like**
Implement multi-class classifier.

**Additional context**
Watch out for parameter layout #958

[2019-08-12 15:16] #941 closed

[2019-08-12 19:47] DavidEverlaw opened #963 "[BUG] UMAP.fit_transform inconsistent with UMAP.fit followed by UMAP.transform"
**Describe the bug**
`UMAP.fit_transform()` is inconsistent with `UMAP.fit()` followed by a `UMAP.transform()`. Spacing between points are not similar between the two approaches.

**Steps/Code to reproduce bug**

[code]

[code]

![output_1_0](https://user-images.githubusercontent.com/31972654/62892905-30536e80-bcfe-11e9-9120-ccd3a7ac6a86.png)

[code]

![output_2_0](https://user-images.githubuserco

[2019-08-12 20:20] dantegd opened #964 "[FEA] Create `include` folder in `cpp` to build libcuml API header files for distribution"
**Is your feature request related to a problem? Please describe.**
Currently the libcuml package is included in our distribution mechanisms (aka conda package), but with no header files included in the package. This is perfectly fine for our own consumption, in Python particularly, but is less than ideal for external libraries/developers that would like to use libcuml from a conda package instead

[2019-08-12 20:52] cjnolet commented on #963
@DavidEverlaw, thank you for filing this issue. I believe the test case you are running will be different than `umap-learn` because of a subtle difference in umap-learn's `transform()`.

In both cuML and umap-learn implementations, the `fit_transform()` just returns the trained embeddings directly, since `input_df == transform_df`.

The subtle difference in `transform()` is that umap-learn keeps a

[2019-08-12 21:17] DavidEverlaw commented on #963
umap-learn looks a bit more consistent than cuml's umap.
But the characteristics are a bit more varied within each variant for fit_transform and fit.transform in the cpu world of umap-learn.

Not sure if the feature is needed, but perhaps a note on the differences is running fit_transform vs fit.transform that is different from the umap-learn implementation.

[code]

[code]

[code]
![output_5_1](h

[2019-08-12 22:28] cjnolet opened #968 "[FEA] cuml.dask.datasets (make_blobs, make_regression, make_classification)"
cuML 0.9 introduces a new function `dask_make_blobs` into the package `cuml.test.dask.utils` in order to quickly generate a dask.Dataframe and dask_cudf.Dataframe for testing.

In PR #957, we have discussed possibly moving these packages to a more public location within cuML (like cuml.dask.datasets). This will also require that we match more closely the single GPU functions we are replacing in sk

[2019-08-13 15:59] JohnZed opened #974 "Update README.md for 0.9"
Double-check on new algorithms, any other updates needed

[2019-08-13 16:00] JohnZed commented on #937
Closed by https://github.com/rapidsai/cuml/pull/957

[2019-08-13 16:00] #937 closed

[2019-08-13 16:00] JohnZed commented on #938
Changed this to M:1 mapping of partitions to workers in https://github.com/rapidsai/cuml/pull/957

[2019-08-13 16:00] #938 closed

[2019-08-13 16:08] JohnZed opened #975 "Update online docs rst to point to new Dask and RF models"

[2019-08-13 23:31] JohnZed opened #984 "[FEA] Should support unlimited max_depth for layer-wise RF"
Some users want to experiment with very deep trees, but we are currently limited to max_depth of 32 by the fast layer-wise algorithm. Would be nice to support deeper trees.

[2019-08-14 00:19] JohnZed commented on #975
Closed by PR #976

[2019-08-14 00:19] #975 closed

[2019-08-14 00:19] #974 closed

[2019-08-15 15:38] cjnolet opened #998 "[BUG] Dask algorithms to gracefully handle clusters with zero workers"
Currently, some of our Dask algorithms rely on being able to split data across some number of workers.

However, when a cluster is empty or Dask fails to start any workers, there are division by zero errors that occur as a result.

[2019-08-15 15:49] cjnolet opened #999 "[BUG] NearestNeighbors and UMAP issuing warnings for _should_downcast defaults"
K-Means was fixed so that the deprecated `_should_downcast` parameter now knows whether or not it has been changed, and sets the `convert_dtype` in the fit() function accordingly. This alleviates the confusion resulting from users having to see a deprecation warning from `_should_downcast` even when they had never set it to begin with.

This same fix needs to be made for NearestNeighbors and UMAP,

[2019-08-15 15:57] cjnolet opened #1000 "[BUG] DBSCAN doesn't seem to work well with cuml.datasets.make_blobs"
We discovered this in the DBSCAN demo notebook during the 0.9 release. It appears even the scikit-learn version of DBSCAN doesn't like the data that's generated from cuml's make_blobs.

We should probably investigate this, perhaps by comparing the scikit-learn make_blobs and cuml make_blobs side by side.

[2019-08-15 16:08] cjnolet commented on #963
Thank you for investigating further! I will take a look at the neighborhood structure between the two implementations and see if I can get a better idea as to why the distances might be a little greater in cuml.

[2019-08-15 17:38] cjnolet opened #1001 "0.10 Tech Debt Tracker"
Tracking tech debt for 0.10

[2019-08-15 19:00] JohnZed opened #1002 "[BUG] Occasional crashes in TSNE with Barnes-Hut in 0.9"
This issue appeared in CI before we switched the default to be "exact", so it is still lurking in Barnes-Hut.

[2019-08-15 19:10] cjnolet commented on #1002
#1001

[2019-08-15 19:11] cjnolet commented on #1000
#1001

[2019-08-15 19:11] cjnolet commented on #999
#1001

[2019-08-15 19:11] cjnolet commented on #998
#1001

[2019-08-15 19:12] #944 closed

[2019-08-15 19:12] #940 closed

[2019-08-15 19:12] #939 closed

[2019-08-15 19:21] cjnolet opened #1004 "[TASK] Dask RF to serialize and pass trees for predict, rather than data"
The current Dask RF Implementation moves the data around the workers for pediction but the upper bound of the data size is assumed to be much larger than the upper bound on the trees, especially as the scale increases.

Rather than moving the data to the trees, the trained forests should be getting serialized and moved to the data.

[2019-08-15 19:25] cjnolet opened #1005 "[TASK] Dask RF predict() to support same types as other Dask algorithms"
Currently the Dask RF predict function only supports numpy as input. This can be confusing for users who are expecting it to work the same way as our other Dask algorithms (accepting a Dask cuDF Dataframe).

It would even be nice if it could support a regular host-based Dask Dataframe, but we want to make sure users aren't being surprised.

It would increase performance if #1004 were implemented b

[2019-08-15 21:03] cjnolet commented on #893
#1001

[2019-08-15 21:04] #943 closed

[2019-08-16 00:10] cjnolet opened #1010 "[BUG] K-Means finds incorrect centroids on trivial dataset"
This can be reproduced easily by using make_blobs to generate data with random seed set to 7.

The sklearn implementation consistently finds the right centroids but the a couple of the centroids in cuml end up very close to each other and are not correct.

This can be visualized easily using the kmeans demo notebook and setting the random seed to 7.

[2019-08-16 04:38] randerzander opened #1013 "[BUG] rapidsai-nightly cuml 0.10 conda package incompatible with cudatoolkit=10.0"
After installing cudf 0.10 nightly, I'm trying to install the cuml 0.10 nightly, with cudatoolkit=10.0.

Conda seems to be unable to find CUDA 10.0 compatible packages for nccl or cuml.

[code]

[2019-08-16 04:52] teju85 opened #1014 "[FEA] [DEBT] RF/DT simplify the minmax code"
**Is your feature request related to a problem? Please describe.**
There's some overlap of code used for `minmax` computation in RF and the one available in ml-prims at `stats/minmax.h`. It will our code simpler if we consolidate the common parts. This was briefly discussed in PR #961  [here](https://github.com/rapidsai/cuml/pull/961#discussion_r313328753). Filing a separate issue for this to make

[2019-08-16 05:06] teju85 commented on #1014
#1001

[2019-08-16 05:28] teju85 commented on #1000
Darn... our `make_blobs` is busted! :(
Here's a sample run generating 5 blobs with a total of 1024 2-d dataset.

![image](https://user-images.githubusercontent.com/532947/63145324-a3b5f280-c014-11e9-82ad-75ee576deba3.png)

[2019-08-16 05:49] teju85 commented on #1000
my bad. Spoke too soon!

Here's the output of our `make_blobs` with:
[code]
![image](https://user-images.githubusercontent.com/532947/63146168-ab2acb00-c017-11e9-81dc-bb5d9737ae76.png)

Looks like `make_blobs` is working fine.

[2019-08-16 06:21] danielhanchen commented on #1002
#990 :)

[2019-08-16 07:12] vishalmehta1991 commented on #1014
Hi @teju85 ;
The algorithm we need does following:
1. loads a flag; that points which node the current sample belongs. 0xFFFFFFFF denotes invalid sample or leafed out.
2. For every column; Scans through a the all samples of that column,
3. Minmax is then updates such that
min[nodeid + colid] = min(min[nodeid + colid] , data[colid*nrows + sampleid] )

[2019-08-16 07:14] vishalmehta1991 commented on #1014
However, with no of nodes = 1 and flags = nullptr, the algorithm is just simple minmax

[2019-08-16 08:51] danielhanchen commented on #1002
The main issues are:
1. The Sorting Kernel has many out of bounds mem accesses, and sometimes stays stuck in an infinite loop [fixed]
2. The Repulsion Kernel also has out of bounds mem accesses. [fixed]
3. Other kernels like the Tree Building Kernel accesses element 1034 when the maximum shared kernel mem is 1024. [fixed]

There are some possible other out of bounds issues, and will continue inves

[2019-08-16 10:47] teju85 commented on #931
#1001

[2019-08-16 15:23] dantegd opened #1017 "[TASK] Update faiss submodule and cmake scripts"
**Is your feature request related to a problem? Please describe.**

The faiss submodule we're using right now is a few months old relative to the FAISS `master` branch.

**Describe the solution you'd like**
 Tasks:

- [ ] Update FAISS submodule
- [ ] Update cmakelists in `cuml` to use new flags/options
- [ ] Look into sidestepping `lapack` requirement.
- [ ] Update calls to FAISS functions if any

[2019-08-16 15:35] cjnolet commented on #1002
I’ll take a look at the details of the sorting kernel but we shouldn’t need to be writing custom kernels for sorting. We should be striving to use cub for these sorts of operations operations where at all possible.

[2019-08-16 15:37] cjnolet commented on #1004
#1001

[2019-08-16 16:51] cjnolet commented on #1000
@teju85 Would you mind taking a moment to try feeding the results of `make_blobs` into the cuml & sklearn DBSCAN algorithms?

It didn't seem that we had been doing anything different than what we were doing with any of the other algorithms, but the cuml DBSCAN was segfaulting and sklearn was spitting out warnings as it was training.

I admit, I did not have a whole lot of time to troubleshoot, so

[2019-08-16 17:27] cjnolet opened #1020 "[TASK] Bring GMM/HMM Code up to date"
We have wonderful and very near-complete implementations of  GMM, HMM, and GMMHMM. Unfortunately, they are diverging further and further as we release without going back and cleaning them up.

Since @MehdiAbbanaBennani did such a thorough job testing, these algorithms really aren't very far from release and would be low hanging fruit. The code was written before our current directory structure, so

[2019-08-16 17:31] #927 closed

[2019-08-16 17:42] cjnolet opened #1021 "[FEA] Evaluate UMAP MNMG by training on a large subset w/ embarrassingly parallel transform()"
@JohnZed brought up a very neat idea for initially side-stepping some of the complexity in making UMAP MNMG by training on a representative sample and doing a `transform()` embarrassingly parallel.

This could work well and would initially be pretty trivial to try. We should try it out and see how it behaves (eg how much data was needed to train? how much did this approach differ from using a sing

[2019-08-16 18:59] #910 closed

[2019-08-16 19:03] cjnolet opened #1023 "[FEA] Test comms syncStream()"
0.9 introduced a new method into the comms for users to synchronize the underlying stream. This function was necessary so that asynchronous errors in the underlying distributed stream sync can be handled without blocking.

It would be very useful if we could test a scenario where an asynchronous error occurs. It shouldn't be hard to do, as we should be able to have 1 worker throw an error while th

[2019-08-16 19:47] cjnolet opened #1962 "[FEA] [CUML] Random Projection Demo Notebook"
We need a demo notebook for random projection. This should be a simple demo.

[2019-08-16 19:48] cjnolet opened #1961 "[FEA] [CUML] Metrics Demo Notebook"
cuML has been building out the sklearn.metrics API on GPUs. It would be nice to see a single demo notebook that could show off these metrics side by side with sklearn.

So far we have accuracy_score, adjusted_rand_score, & r2_score. We are adding more each release.

[2019-08-16 19:51] cjnolet opened #1960 "[FEA] [CUML] Single-GPU Random Forest Demo"
This seems to be missing from the cuml demo notebooks.

[2019-08-16 20:37] cjnolet commented on #1010
![image](https://user-images.githubusercontent.com/1242464/63196771-18545580-c044-11e9-9f39-62d94ea05898.png)

[code]

[2019-08-16 20:54] cjnolet commented on #1000
I went ahead and ran it to reproduce the issue.

Here's how I'm generating the blobs (using cuml.datasets):

[code]

[code]

I get the following error:

[code]

If I use `n_samples=10000`, it works w/ cuml's `make_blobs`. This would almost make me wonder if it's size related.

However, what's really weird is that `n_samples=100000` works if the only change is `sklearn.datasets.make_blobs`.

[2019-08-17 06:44] danielhanchen commented on #1002
@cjnolet  Yep you're right! But I think the current sort kernel doesn't exactly sort an array, but rather sorts the levels of a tree, by moving children nodes. Sometimes the moves are unsuccessful because in the previous kernel (Summarizaration), it rarely goes out of bounds. Anyways should be fixed :)

[2019-08-18 13:44] cjnolet opened #1026 "[FEA] UMAP support random seed from python layer"
There are a few places in umap where random numbers are generated and it would be useful for deterministic testing to accept an optional random seed parameter from the user.

Currently random numbers are generated when the random initialization option is used. They are also generated for sampling in the optimizer, both for sampling of the attraction and the negative sampling of the repulsive force

[2019-08-18 13:49] cjnolet opened #1027 "[FEA] Create cuMF submodule"
We are going to be using cuMF to implement some matrix factorization algorithms within cuML.

We need this to be a submodule. We should be able to use / wrap their source files directly, so it shouldn’t be necessary to link against any of their build artifacts.

#1001

[2019-08-19 05:18] teju85 commented on #1000
This is definitely size related! I thought we had nailed this once-and-for-all, but seems not to be the case. :(

[2019-08-19 08:14] tfeher commented on #956
Thansk @teju85 for this code. I would return to this after/during addressing #959 and #958.

Currently ComputeUpperAndLower is called a single time after training is finished. For multi class classification we will have_class * (n_class-1)/2 classifiers. There might be some small changes in the data layout, therefore I would wait with this until we make progress with #959 and #958.

[2019-08-19 12:25] danielhanchen opened #1029 "[FEA] TSNE PCA Intialization"
Currently, TSNE's embeddings are intialized from random sampling from a uniform(-0,0001, 0.0001) distribution.

It has been shown that to allow TSNE to be stable during its gradient updates, and to preserve global structure more effectively, utilizing a Randomized SVD or PCA or even a Spectral Embedding as the intial conditions can help.

Currently, cuML has excellent implementations for Truncated

[2019-08-19 13:45] dantegd commented on #637
Definitely can be considered part of #1001 due to the current inconsistent behavior

[2019-08-19 13:47] dantegd commented on #749
Also linking it to #1001 since this issue is mainly under the hood improvements and also is tech debt accumulated from the earlier cython classes

[2019-08-19 14:52] randerzander opened #1030 "[BUG] Missing 0.10 nightly for dask-cuml"
I'm rebuilding my workflow dev container which pulls all RAPIDS nightly packages from `-c rapidsai-nightly`.

`dask-cuml` is not currently being published with a `0.10` version:
[code]

[2019-08-19 14:54] randerzander commented on #1013
This seems to have been resolved sometime over the last few days.

[2019-08-19 14:54] #1013 closed

[2019-08-19 15:14] cjnolet commented on #1030
The dask-cuML repository is deprecated and I don't believe any further releases will be getting published. We have moved all the contents into the `cuml.dask` package within cuML.

[2019-08-19 15:17] cjnolet commented on #1000
That's what's strange about this- If I have the exact same size make_blobs,
all I have to do is switch from cuml to sklearn and it works. Because of
this, I'm not so sure it's size related.

On Mon, Aug 19, 2019 at 1:18 AM Thejaswi Rao <notifications@github.com>
wrote:

[2019-08-19 15:52] cjnolet commented on #887
#1001

[2019-08-19 15:58] cjnolet commented on #854
#1001

[2019-08-19 15:59] cjnolet commented on #848
We are going to need this in order to interface with some of the other projects.

[2019-08-19 16:00] cjnolet commented on #694
#1001

[2019-08-19 16:00] cjnolet commented on #293
#1001

[2019-08-19 16:01] cjnolet commented on #658
#1001

[2019-08-19 16:01] cjnolet commented on #779
#1001

[2019-08-19 16:02] cjnolet commented on #735
#1001

[2019-08-19 17:33] arnoldrw opened #1031 "[FEA] Lars solver for Lasso just like sklearn's LassoLARS"
**Is your feature request related to a problem? Please describe.**
A LARS solver for LASSO is needed for Feature selection algorithms as the LARS explores all the paths to give a full piecewise linear solution path.

**Describe the solution you'd like**
Ideally I can replace the sklearn [LassoLARS](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LassoLars.html#sklearn.linear

[2019-08-19 17:37] randerzander opened #1032 "[QST] Should cuml branch-0.10 depend on libcumlprims=0.9?"
I looked [here](https://anaconda.org/nvidia/libcumlprims/files) but there doesn't seem to be a libcumlprims=0.10 published.

Would such a package be published only at cuml 0.10 release?

[2019-08-19 18:37] Salonijain27 opened #1033 "[FEA] Update tests to check the default configurations"
Update the existing tests to include a check for the performance of various models on their default parameter configuration.

[2019-08-20 01:19] cjnolet commented on #1000
Also, I mistyped my reply on Friday. It should have said:

"However, what's really weird is that the `n_samples=10000` works if the only change is `sklearn.datasets.make_blobs`.

I have updated it so that it is correct.

[2019-08-20 02:40] #1030 closed

[2019-08-20 04:21] teju85 commented on #956
Agreed. IMO, this is an opportunistic item for 0.10 release. (meaning if we get time, let's get it done for 0.10) Tagging @JohnZed to comment, in case he thinks otherwise.

[2019-08-21 01:57] cjnolet commented on #876
#608

[2019-08-21 01:58] cjnolet commented on #805
#608

[2019-08-21 01:58] #805 closed

[2019-08-21 01:58] cjnolet commented on #804
#608

[2019-08-21 01:58] cjnolet commented on #802
#608

[2019-08-21 01:59] cjnolet commented on #801
#608

[2019-08-21 01:59] cjnolet commented on #800
#608

[2019-08-21 01:59] cjnolet commented on #799
#608

[2019-08-21 01:59] cjnolet commented on #798
#608

[2019-08-21 01:59] cjnolet commented on #797
#608

[2019-08-21 01:59] #797 closed

[2019-08-21 01:59] cjnolet commented on #796
#608

[2019-08-21 02:00] cjnolet commented on #704
#608

[2019-08-21 02:00] #659 closed

[2019-08-21 02:01] #655 closed

[2019-08-21 02:01] cjnolet commented on #645
#608

[2019-08-21 02:02] #548 closed

[2019-08-21 02:03] cjnolet commented on #242
#608

[2019-08-21 02:09] cjnolet opened #1042 "[FEA] Enable Dask hyperparameter optimization in XGBoost"
This is an issue that has been lingering for some time now and has likely gotten lost in various priorities that have popped up across releases. Creating this issue to track the progress, since we no longer use the RAPIDFIRE board.

CC @quasiben @dantegd @jakirkham

#608

[2019-08-21 02:10] cjnolet commented on #608
@jakirkham

[2019-08-21 10:27] cjnolet commented on #1000
Here's a script that can be used to reproduce this issue:

[code]

And here's the output:

[code]

What brought this issue to my attention was failing CI testing during release, which makes me pretty confident that I'm not the only one encountering this behavior.

[2019-08-21 14:03] jakirkham commented on #1042
Listing some issues that I've been pointed to since starting looking at this in no particular order.

* https://github.com/rapidsai/cuml/issues/608 (as also listed above)
* https://github.com/rapidsai/cuml/issues/1042 (Dask hyper opt with xgboost)
* https://github.com/dask/dask-ml/issues/516 (value of prescattering data before running Dask Grid Search)
* https://github.com/rapidsai/cudf/issues/188

[2019-08-21 14:06] jakirkham commented on #1042
Listing some Gists that I've been pointed to try and benchmark things. Some of these are older and some of these are newer.

Older Gists:

* https://gist.github.com/quasiben/9cdbe0c88f1d9f996e5612f6ef7123ca
* https://gist.github.com/quasiben/a96ce952b7eb54356f7f8390319473e4

Newer Gists:

* https://gist.github.com/quasiben/91b0b80b2d244ef95242bcc23ce32a5a
* https://gist.github.com/quasiben/77b7e88

[2019-08-21 18:04] dantegd commented on #1032
Yes, libcumlprims nightly 0.10 is not gonna be release until a few weeks from now most likely

[2019-08-21 18:04] #1032 closed

[2019-08-21 18:30] rlratzel opened #1045 "[BUG] Nightly unit test run failures - 20190821"
Creating this issue to document the unit test failures seen on 2019-08-21.

The following tests were failing:
`../cuml/python/cuml/test/dask/test_kmeans.py::test_end_to_end` and
`../cuml/python/cuml/test/dask/test_random_forest.py::test_rf_classification`

output can be seen in the `docker-test-cuml` job 121 (internal link)
cc @cjnolet

Failing build matrix is as follows:

![image](https://user-im

[2019-08-21 19:09] JohnZed opened #1046 "Binary support vector machine (SVM) classifier - initial version"

[2019-08-21 19:10] JohnZed commented on #1046
Creating a master issue to track this, @tfeher

[2019-08-22 19:06] JohnZed opened #1048 "Add support for serializing cuML Random Forest models"
Suggested course:
 * Pickle the regular attributes (parameters) of the python object
 * Use RF -> treelite in memory conversion, then treelite -> protobuf for the state of the underlying model

[2019-08-22 19:22] JohnZed commented on #703
Complete in 0.9.

[2019-08-22 19:22] #703 closed

[2019-08-22 19:23] JohnZed commented on #73
Using __cuda_array_interface__ as our interopt core via input_utils everywhere

[2019-08-22 19:23] #73 closed

[2019-08-22 19:40] JohnZed commented on #779
Blocked on getting cumlprims / MG builds into CI builds

[2019-08-22 19:59] JohnZed opened #1049 "Incorporate new python-level benchmarking suite for cuML"
[ ] Get @JohnZed 's initial runner code, update accordingly for automated running and addition of new algo benches
- [ ] Package & publish `ASVDb`
- [ ] set up nightly automation / Jenkins job
- [ ] Look into support for publishing additional metrics to ASV
- [ ] Add individual algorithm benchmarks to suite ( https://github.com/rapidsai/cuml/#supported-algorithms )
  - [ ] dbscan
  - [ ] kmeans

[2019-08-23 03:58] MehdiAbbanaBennani commented on #1020
Thanks Corey !

Recently, I have been thinking about some choices I had made during the implementation, I would suggest the following changes :
- For GMMs, I have been considering full covariance matrix, which raises several challenges for memory and time complexity. For large dimensional data, I would expect this approach not to be relevant due to the curse of dimensionality. Therefore, I think t

[2019-08-23 12:06] vishalmehta1991 opened #1050 "[BUG] DASK RF random seed bug"
**Describe the bug**

Random Forest uses tree id as a seed to bootstrap the rows.
for a forest of size 100, the seeds would be [0,100)

Dask however divides the workload into n workers, with same tree ids.
For example 2 dask workers will seed using the same [0.50)

@JohnZed @oyilmaz-nvidia

[2019-08-23 13:04] cjnolet opened #1051 "[FEA] PoC to determine potential benefits & tradeoffs of decomposing MNMG algorithms into tasks"
After discussing some our MNMG designs with others, and applying some careful thought into some of the drawbacks / scale / worst cases for our current implementation of using barrier synchronous designs within a task-scheduled architecture, it would be immensely insightful if we could do a quick proof of concept using a different approach.

With these MNMG algorithms, we care about scale, performa

[2019-08-23 13:07] #821 closed

[2019-08-23 18:10] JohnZed opened #1053 "Test and support CUDA 10.1"
We will have separate issues for new features we want to take advantage of from CUDA 10.1, but we need to commit to at least testing on 10.1 so it's fully supported.

[2019-08-23 20:20] WEldred opened #1054 "Train_Test_Split - incorrectly splits data when train_size=int passed"
**Describe the bug**
Passing integer split point in train_size parameter does not work correctly.

[code]

Train_Test_Split has code line that forces train_size parameter to always be treated like proportion instead of physical split point when int parameter passed.  split_idx is properly calculated during interrogation of train_size parameter type, but then erroneous re-set to proportion value pr

[2019-08-24 02:57] cjnolet opened #1055 "[FEA] Start integrating primitives into RAFT"

[2019-08-26 15:00] JohnZed opened #1056 "Reduce code duplication between dask RF classification and regression."

[2019-08-26 15:19] JohnZed opened #1057 "Add support for scikit-learn RF to FIL"
Probably not too bad with treelite

[2019-08-27 13:51] oyilmaz-nvidia opened #1058 "[FEA] Add wrapper for new eigen decomp function in CUDA 10.1"
cuSolver has new eigen decomposition function that allows selective eigenvector and eigenvalues generation which will possible provide extra speed-up for many ML algorithms including PCA, tSVD, Linear Regression.

A wrapper for this new function should be added into ml-prims to use this new function.

[2019-08-27 13:53] oyilmaz-nvidia opened #1059 "[FEA] Support new eig decomp function in CUDA 10.1 in PCA"
Use new eig decomp function of cuSolver in PCA

[2019-08-27 13:57] oyilmaz-nvidia opened #1060 "[FEA] Support new eig decomp function in CUDA 10.1 in tSVD"
Use new eig decomp function of cuSolver in tSVD.

[2019-08-29 12:19] Pezhvuk commented on #285
The Notebook no longer seems to be available :(.

[2019-08-29 20:43] JohnZed commented on #1050
Maybe nicer to have C++ accept a random seed then dask can be smart about making the seeds unique per worker.

[2019-08-29 21:42] vishalmehta1991 commented on #1050
We could add a parameter in RF params struct on C++
The python wrapper can pass that along.

Does that make sense ?

[2019-08-31 15:00] danielhanchen commented on #285
Hi @Pezhvuk Oh yep we decided the notebook was too complicated. However, the basic demo has been uploaded. You can check it out in https://github.com/rapidsai/notebooks/pull/211. (Direct link: https://nbviewer.jupyter.org/github/rapidsai/notebooks/blob/695bd4efdaac88d617ccdbe0f0e724092e4fe03b/cuml/tsne_demo.ipynb)

For the old notebook which showcases the full functionality of cuML TSNE, the old p

[2019-09-02 09:50] Pezhvuk commented on #285
@danielhanchen Thank you so much for all this information. The memory issue is certainly there, but there are some other issues that I cannot explain/debug, because the verbosity = 1/2 parameter does not print out anything. Namely, running the t-SNE, with slightly different parameters, on the same dataframe yields vastly different runtimes. The runtimes are either several seconds (fab!) to unknown

[2019-09-02 12:07] danielhanchen commented on #285
@Pezhvuk Well glad on the fast second runs! Also sorry about the issues :(
For verbosity = 1 (i think 2 is same as 1 for cuML's TSNE), you should see output in either the Python Console or if you are using Jupyter Notebook, in the console. If not, I'll investigate.

Yep I also found my TSNE implementation to have vastly different times (ie first run is fast, but then second or later runs either sl

[2019-09-02 12:12] Pezhvuk commented on #285
@danielhanchen Thank you for such a prompt reply!

In summary, hooray to all of it. I cannot wait for the next release, and just all the future releases and features.

If I could contribute to the implementation, or anything else, do let me know. I'd be glad to help. :)

[2019-09-02 13:20] danielhanchen commented on #285
@Pezhvuk Thanks so much once again! :)

Oh thanks so much for your potential help then :) Since cuML is open source, if you have time and you would like to contribute, (either by say providing ideas / finding issues etc [as you've already done thanks again!]), then feel free to!!

But ye once again thanks for trying out cuML :)

[2019-09-03 02:56] cjnolet commented on #1002
@danielhanchen is this issue complete now that the PR w/ the Barnes hut fixes has been merged?

[2019-09-03 02:59] cjnolet opened #1062 "[BLOG] K-means Blog"
Provide k-means blog to summarize / showcase both single- and multi-gpu k-means algorithm.

[2019-09-03 03:11] cjnolet opened #1063 "[BUG] CommsBase incorrectly destroying subsets if available workers"
Commsbase enables the NCCL initialization of subsets of the total available workers so that only workers containing partitions will be used in the underlying clique.

Unfortunately, the subset of workers is not actually stored on CommsBase, so all available workers are used when destroy() is called.

As a result, a failure occurs when only a subset of workers contain data partitions . This is a si

[2019-09-03 03:16] cjnolet opened #1064 "[FEA] make_blobs to support array of centroids as input"
The current make_blobs implementation within cuml does not support, as input, a set of initial centroids. Enabling this feature will allow us to use it within a distributed environment, such as in Dask, in order to generate a distributed dataset for integration tests.

[2019-09-03 03:30] cjnolet opened #1065 "[FEA] Investigate using MPI in cuml Dask algorithms"
During our integration of collective communications in 0.9, some significant drawbacks were discovered, resulting specifically from limitations imposed by NCCL.

Some of these drawbacks are:
- a prohibitive startup latency that grows with the number of devices / transports
- the inability to multi-thread workers, because of a possible deadlock condition, since CUDA cannot guarantee concurrent prog

[2019-09-03 03:48] teju85 commented on #1064
@cjnolet not sure about your ask here.
the `centers` [argument](https://github.com/rapidsai/cuml/blob/branch-0.10/cpp/src/datasets/make_blobs.hpp#L37) of `make_blobs` does exactly this.

[2019-09-03 04:25] cjnolet commented on #1064
Indeed, I see this is supported and tested in our pytests.

Unfortunately, I got a strange error in the centers argument when I swapped the same input for the sklearn version, so this may be a bug and not a feature request.

I’ll post the error receiving here.

[2019-09-03 06:38] danielhanchen commented on #1002
@cjnolet  Oh yep this issue can be closed :)

[2019-09-03 12:36] #1002 closed

[2019-09-03 14:47] naveenmiriyalu opened #1067 "[QST] GPU kernels produced are different on P9 and x86 platforms"
**cuml 0.7.0 on x86 and P9 produces different GPU kernels **

I am doing lasso regression fit  using the mortgage dataset (https://github.com/rapidsai/notebooks/tree/master/cuml/data/mortgage.npy.gz)

Questions:
A. What is the reason behind this difference ? Which component in the software stack would influence the change in the kernels generated ?
B. Is there a way we can ensure we produce identi

[2019-09-03 17:39] naveenmiriyalu opened #1069 "[BUG] Difference in ridge regression fit time"
**Describe the bug**
Observe difference in the fit time of ridge regression method in cuml with two different types of cuml installation . One is with the conda install and the other with conda recipe installation

**Steps/Code to reproduce bug**
Part1 installation -- Direct conda install
conda install scikit-learn
conda install -c rapidsai -c nvidia -c numba -c conda-forge -c anaconda \
    cuml=

[2019-09-04 05:37] JohnZed commented on #1069
Thank you for the detailed report! @naveenmiriyalu - does this happen even if you run fit twice and measure the second time? Also, does the issue still occur with cuML 0.9? The first possibility coming to mind is that CUDA could be JIT-recompiling the code for your particular architecture on the first run when using conda but building for exactly your architecture in the first pass for the source

[2019-09-04 05:40] JohnZed commented on #1067
What indication did you see that the kernels are different? Are you seeing this by disassembling the compiled code? If so, could you share the resulting outputs?

[2019-09-04 09:14] oyilmaz-nvidia opened #1070 "[DEBT] Removing all the warnings and printfs from cuML"
There are some warnings coming up during building the cuML. These warnings should be cleared to make sure the code is clear.

There are also some printfs that prints some messages when the tests are run. We should also remove these messages from the release version of cuML.

[2019-09-05 17:42] cjnolet commented on #1062
Benchmarking checklist:

- [ ] >2 nodes- 4, 8, 16 to test scale (follow hibench data volumes)
- [ ] 1 GPU per node vs multiple GPUs on a single node to test NVLink vs TCP/IB effects
- [ ] Benchmark Spark ML
- [ ] Benchmark Dask-ML K-means

[2019-09-06 01:42] naveenmiriyalu commented on #1067
@JohnZed Apologize for the delay in the reply . I got to know the difference in the kernels by observing the nvprofs on both the platforms . I am attaching the snapshots of both the platforms

**x86- snapshot**
![x86-kernelsummary-snapshot](https://user-images.githubusercontent.com/4938025/64394805-81445180-d075-11e9-9edc-db3043a1c36b.PNG)

**p9--snapshot**
![p9-kernelsummary-snapshot](https://use

[2019-09-06 02:00] kkraus14 commented on #1067
@JohnZed @naveenmiriyalu The Power9 install is CUDA 10.1 whereas the x86 environment is CUDA 10.0 FYI

[2019-09-06 04:17] teju85 commented on #1067
Some questions:
0. Are you seeing noticeable difference in performance between these two platforms? If so, how much?
1. From the snapshots above, the cmdlines used to launch itself seem to be different for x86 and p9?
2. Which cuML algo are you trying to run on the dataset?
3. Can you attach the output of `nvprof --print-gpu-trace <yourCommand>`, instead?
4. @kkraus14 do we have a cuda-10.1 for x8

[2019-09-06 04:55] kkraus14 commented on #1067
We don't have cuda-10.1 conda packages built quite yet, but I believe building from source should work without issue.

[2019-09-06 16:19] naveenmiriyalu commented on #1067
Which cuda libraries would generate the kernels ?? I took a brief cursory look at the fit routines and most of them were pointing to the cuBLAs routines .  Instead of cuML , we could just try a basic test routine and check how the kernels generated look like . Is there a way we can try ,some sample code ??

[2019-09-06 23:26] ChrisMLroy opened #1078 "[BUG] KNN is returning squared distances"
**Describe the bug**
The distances being returned from cuML NearestNeighbors kneighbors() are the squares of the actual Euclidean/Minkowski-2 distances.

**Steps/Code to reproduce bug**
[code]

[code]

**Expected behavior**
[code]

**Environment details**
 - Environment location: NGC
 - Linux Distro/Architecture: Ubuntu 18.04
 - GPU Model/Driver: DGX-1 V100 and driver 418.40.04
 - CUDA: 10.1
 - Me

[2019-09-07 01:09] cjnolet commented on #1078
This is expected behavior since we are using FAISS and the squared Euclidean is the most performant. We compare this against skl, with the metric set to “seuclidean”

With that said, this is the only metric supported currently, so we have not bothered to add an option for it. We will be re-vamping our nearest neighbors implementation soon (MNMG KNN is planned for 0.11) but in the meantime, I think

[2019-09-09 13:40] dantegd commented on #1070
@oyilmaz-nvidia some warnings are coming from the build process of treelite, so part of this task should be making the build of treelite silent (with optional verbosity)

[2019-09-09 13:44] dantegd commented on #1067
@kkraus14 @naveenmiriyalu building cuML for CUDA 10.1 won’t work until a couple of PRs (particularly one updating our FAISS submodule to the latest commit) land (eta early this week). Just a FYI

[2019-09-09 19:09] taureandyernv opened #1079 "[FEA] adding `to_datetime()` feature for time dependent data sets"
**Is your feature request related to a problem? Please describe.**
We need a built in way to extract and manipulate time information from our notebook's columns.  As we get into more time series and forecasting, some public datasets require extracting and altering the date/time information.

**Describe the solution you'd like**
See `pandas.to_datetime()`: https://pandas.pydata.org/pandas-docs/stab

[2019-09-09 19:11] taureandyernv commented on #1079
moving to cudf

[2019-09-09 19:11] #1079 closed

[2019-09-09 19:57] cjnolet commented on #693
Now that we have MNMG K-means w/ embarassingly parallel prediction, I've noticed that many other algorithms will be able to follow a similar pattern,
1. fit() is performed in parallel using comms on all the workers
2. resulting model is brought back to a single worker (eg. similar to rank0 in MPI)
3. model is broadcasted to all workers containing data partitions for predict, which is done embarass

[2019-09-09 20:17] cjnolet commented on #693
Also, I think we can define a similar distributed design pattern for algorithms that might need their parameters spread over multiple GPUs/nodes.

However, aside from possibly UMAP/TSNE, or storing an approximate nearest neighbors model, I'm not seeing any other immediate use cases off the top of my head.

[2019-09-09 21:47] cjnolet commented on #1027
As this was the original plan, more recent discussions & investigations from the team have led us to prefer building MF on top of our own primitives.

[2019-09-09 21:47] #1027 closed

[2019-09-09 21:51] cjnolet commented on #1010
Not sure if related, but I it looks like the scalable kmeans|| initialization might have a bug in the sampling of the centroids. While benchmarking on 64 workers w/ 1M, 10M, and 100M rows (20 features, 5 clusters) using the make_blobs dataset with several different levels of variance between points and their clusters, I was not able to get past this exception.

[code]

It appears as though each ra

[2019-09-09 21:59] cjnolet opened #1080 "[BUG] KMeans is not using `n_init` or `n_gpu` parameters"
The kmeans single GPU Python class accepts these parameters, even though they don't appear to be getting used. This is likely left over from our old H20 implementation should be removed.

[2019-09-09 22:56] cjnolet commented on #693
Here's a diagram of the pattern I'm describing:
[mnmg.pdf](https://github.com/rapidsai/cuml/files/3592897/mnmg.pdf)

[2019-09-10 09:31] vishalmehta1991 opened #1081 "[BUG] Accuracy issue in RF with max_features=sqrt,log"
**Describe the bug**
RF in cuml implements a bagging classifier as described here
https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.BaggingClassifier.html#sklearn.ensemble.BaggingClassifier

This was implemented as a response to PR #460
Discussion https://github.com/rapidsai/cuml/pull/460#issuecomment-487605429

As a result of this implementation sub sampling of feature only happe

[2019-09-10 10:51] teju85 opened #1083 "[FEA] cuml c++ bench: print various accuracy metrics after the benchmark runs"
**Is your feature request related to a problem? Please describe.**
Current cuml-bench proposal in PR #1082 does not print any accuracy metrics after running each benchmark. It makes sense to also compute it and print it for verif purposes.

[2019-09-10 20:26] hcho3 opened #1084 "[BUG] Treelite format needs to be updated to accommodate 32-bit and 64-bit floats"
**Describe the bug**
#837 added Treelite as a submodule. Currently, Treelite uses single-precision floating-point (`float`) to store test thresholds and leaf outputs in decision trees. This is good for XGBoost models, but however, some other packages such as LightGBM use double-precision floating-point (`double`).

**Steps/Code to reproduce bug**
See dmlc/treelite#98, dmlc/treelite#95, where Treel

[2019-09-10 22:19] canonizer commented on #1084
What about also supporting float16 for models?

[2019-09-10 22:23] hcho3 commented on #1084
@canonizer Good idea. I also have a client who wants to use integer types (floating-point math is slow on microcontrollers)

[2019-09-10 22:30] hcho3 commented on #1084
@canonizer Can you point me to a reference implementation of float16? The standard C does not provide 16-bit floating-point type.

[2019-09-10 23:15] jakirkham opened #1085 "[FEA] Generally handling CUDA array-like objects"
**Is your feature request related to a problem? Please describe.**

When working with cuML estimators, it would be helpful if they could take any object that supports the `__cuda_array_interface__`.

**Describe the solution you'd like**

Internally input data could be turned into some standard object (like a CuPy array) via some internal compatibility function that leverages `__cuda_array_interfac

[2019-09-10 23:15] jakirkham commented on #1085
Should add if this seems reasonable, I'd be happy to draft a PR. 😉

[2019-09-10 23:43] JohnZed commented on #1085
Hi, @jakirkham - almost all estimators should use input_to_dev_array (https://github.com/rapidsai/cuml/blob/b96498be3e2f04d6bc929b6fa32e029cf7a5c494/python/cuml/utils/input_utils.py#L66). That should use `cuda.is_cuda_array` to check for `__cuda_array_interface__`. It looks like the metrics api is older and doesn't use this api yet. So this would be a great update! Basically anywhere input is not

[2019-09-10 23:58] jakirkham commented on #1085
That's great to hear! I guess I just got unlucky then. Happy to submit a fix. 🙂

[2019-09-11 00:01] dantegd commented on #1085
Addin to @JohnZed response, this is already the case almost everywhere. We would love to see PRs for the stragglers that don't use `input_utils`! I'm also preparing a PR to update the code in `input_utils` to streamline it and make it so very slightly more efficient as well :)

[2019-09-11 16:45] Salonijain27 opened #1089 "[BUG] RF using CPU predict for the score function"
The score function in both RF classification and regression calls the predict function in C++ and therefore uses the CPU version of predict and not the GPU one.

[2019-09-11 16:50] gforsyth commented on #796
I can take this if no one else is working on it currently.

[2019-09-11 18:21] Salonijain27 opened #1090 "[FEA] Change Dask RF aggregation from CPU to GPU"
Dask RF is doing the aggregation of results in the CPU and therefore returning CPU data, requesting the option/change of doing this in the GPU and returning GPU memory.

[2019-09-11 18:25] Salonijain27 opened #1091 "[FEA] Switch Dask RF classification to use GPU predict instead of CPU predict"
The Dask RF classification model is using the CPU predict function and not the GPU predict.

[2019-09-11 18:51] jakirkham opened #1092 "[BUG] Switch to rmm.to_device in RegressorMixin"
Recently we tried to use `rmm.to_device` in `RegressorMixin` as part of the move to handle GPU array-like objects in PR ( https://github.com/rapidsai/cuml/pull/1086 ). However we encountered some issues using `rmm.to_device` with cuDF Series objects. ( https://github.com/rapidsai/rmm/issues/129 ) As a result, we used `numba.to_device` instead, which didn't have this issue. Though ultimately we wou

[2019-09-12 18:15] jakirkham opened #1094 "[QST] cuML warning about non-column ordered data"
**What is your question?**

I created this simple notebook that uses scikit-learn's `GridSearchCV` with CuPy and cuML. It seems to run ok with our recent fixes (thanks all!).

However am seeing a warning which doesn't totally make sense to me. Namely it cuML is warning the data is not column ordered. I'm pretty sure I've formatted the arrays to be Fortran order. Though I could be missing something

[2019-09-12 22:45] Salonijain27 opened #1096 "[BUG] Running out of memory and error message for RF regression stress test"
The RF regression stress test runs out of memory when `max_depth=16` and `max_features=1.0` and hence the test fails and displays the following message:
[code]
When the `max_features` changes from 1.0 to any other value the code crashes and gives the following message:
[code]

[2019-09-13 14:43] andrewssobral commented on #286
Hello guys,
Following this closed thread, do you know where I can find a reference for cuML model save / load using Pickle or Joblib?
Thanks in advance

[2019-09-13 16:02] andrewssobral commented on #286
I think I found what I was looking for:
https://github.com/rapidsai/cuml/blob/master/python/cuml/test/test_pickle.py

[2019-09-13 16:11] naveenmiriyalu commented on #1067
@dantegd When could we possibly try to build cuML with CUDA 10.1 ?

[2019-09-13 17:04] naveenmiriyalu commented on #1067
@teju85 How do I send you the gpu traces ..Each one is approx 300MB in size ?

[2019-09-15 16:10] cjnolet opened #1099 "[FEA] Break sparse prims into separate directories"
Currently, the bulk of the sparse prims are inside two files, `coo.h` and `csr.h`. This was done originally because there were too few prims to break out from the start, but now that the prims have grown, it's a good time to separate them.

It would be ideal if we could mirror the directory structure of the dense prims as much as possible. While we are doing this, we should also update the CSR/COO

[2019-09-15 16:18] cjnolet opened #1100 "[FEA] Update UMAP to use `device_buffer`"
The UMAP implementation predates the device buffer and uses `MLCommon::allocate` everywhere, which will not use RMM if it's set on the input handle.

The need to explicitly free allocated CUDA memory also makes the code less readable and more prone to memory leaks.

UMAP should be updated to use `device_buffer` in place of all `MLCommon::allocate` calls. It would also be nice if this done in the s

[2019-09-15 20:19] cjnolet opened #1101 "[FEA] Update T-SNE to use device_buffer"
T-SNE is using the device allocator everywhere, but we should strive to use the new(er) `device_buffer` API everywhere for consistency and maintainability. When allocated on the stack, the `device_buffer` will automatically free memory at the end of functions. This significantly cleans up the code, making it less error-prone as it is maintained and new features are added.

[2019-09-15 20:23] cjnolet opened #1102 "[FEA] KNN to use internal streams from cumlHandle"
PR #1015 implements the ability to set the number of internal streams in the cuml handle.

KNN currently creates new streams in a for-loop and synchronizes them at the end. Once we are able to configure the number of internal streams in the cuml handle, we should reuse streams as much as possible in algorithms & prims and not create new ones. RF will be getting updated to reuse the streams in the

[2019-09-15 20:27] cjnolet opened #1103 "[FEA] [DEBT] Update Random Projection to use `device_buffer`"
This is a really simple change, especially since random projection is one of the simpler algorithms and it is already using the `device_allocator`.  It will be more clean and maintainable if we use the `device_buffer` container for device memory.

[2019-09-15 22:20] #1063 closed

[2019-09-15 22:22] cjnolet commented on #1045
@rlratzel I'm having trouble recalling if the root cause was fixed or not. These tests appear to be passing in our nightlies.

[2019-09-15 22:24] cjnolet commented on #1004
#1095 should make this possible.

[2019-09-15 22:26] cjnolet commented on #931
After your internal streams PR is merged, I'm going to include a note about this in the threading section of the C++ developer guide as well.

[2019-09-16 06:07] teju85 commented on #931
@cjnolet Since we are anyways waiting for Vishal's RF accuracy bug fix, I just updated the same internal streams PR itself with a point inside Performance section. Please review.

[2019-09-16 06:14] teju85 commented on #1067
May be try google drive and linking its location here?

If that's not possible, @dantegd is there a way Naveen can send us this huge log file?

[2019-09-16 09:21] Salonijain27 opened #1105 "[BUG] Using the default values of the mbsgd model throws an error"
Creating a mbsgd model using the default value of the parameters assigned in the cython layer causes the following errors:
for example, in the classification test we get:
[code]
This happens with both mbsgd classifier and regressor models
The default value of eta0 (initial learning rate value) = 0.0 and the default learning_rate type = 'constant' and this causes the sgd.pyx solver throws the above

[2019-09-16 18:49] dantegd opened #1109 "[BUG] t-SNE seg fault in CUDA 10.1"
**Describe the bug**
We don't have CI for 10.1 (update 2) yet, but in my workstation after updating FAISS in PR #1104 I get the following seg fault in the google test of t-SNE:

[code]

**Steps/Code to reproduce bug**
Build cuML branch of PR #1104 in an environment with CUDA 10.1 update 2 and run the `test/ml` google test executable.

**Expected behavior**
Tests should run cleanly

**Environment d

[2019-09-16 18:53] danielhanchen commented on #1109
@dantegd Thanks again for finding the issue! I'll defs try to fix it :)

[2019-09-16 22:12] cjnolet commented on #1062
Rough draft complete and waiting for feedback.

[2019-09-18 10:49] teju85 opened #1118 "[TASK] [DEBT] C++ RF code base cleanup"
Current RF/DT codebase has become unwieldy after adding so many features to it. Filing this issue and listing out a few initial set of items that should help clean it.
1. We have separated definitions and declarations for *internal* code into `.h` and `.cuh`. This is not required. Putting them inside a single `.cuh` will reduce a lot of code duplication that has happened due to this separation.
2.

[2019-09-18 11:27] vishalmehta1991 commented on #1118
I can take up this for 0.11 release.

[2019-09-18 11:28] #1081 closed

[2019-09-18 11:29] vishalmehta1991 commented on #1081
PR #1087

[2019-09-18 15:26] Denisevi4 commented on #669
+ Linear models pretty please?

[2019-09-19 06:20] teju85 opened #1120 "[TASK] Cleanup: provide `make check-format` and `make fix-format` targets for clang-formatting"
The current approach of automatically running clang-format check has run into various issues (couple of frequent ones):
1. If one is trying to do quick experiments, failures from this check can be frustrating
2. This checker itself can add a bit of overhead, especially if running inside NFS mounts (git commands inside run_clang_format.py are the main culprits)

Because of this, we either:
1. run f

[2019-09-19 06:39] JohnZed commented on #669
Sorry, this didn't make it to the current release, but we'll add it to the list for an upcoming release.

[2019-09-19 09:41] tomwhite opened #1121 "[BUG] UMAP produces outlier points"
**Describe the bug**
When running UMAP on a 130K row dataset (single cell data), the embedding has a couple of outlier points that are a long distance from the others. This doesn't happen when using the regular UMAP library on a CPU.

RAPIDS:

![X_umap_gpu](https://user-images.githubusercontent.com/85085/65232296-d302c800-dac8-11e9-85f6-fc959e17cf20.png)

Regular UMAP:

![X_umap](https://user-imag

[2019-09-19 11:34] cjnolet commented on #1121
Tom,

Thank you for reporting this. I will look into it.

[2019-09-19 14:06] cjnolet commented on #1121
I just ran the following code locally on a GV100:

[code]

I'm getting the following as output

![image](https://user-images.githubusercontent.com/1242464/65248781-c11d2700-dac0-11e9-990e-c17b902b4769.png)

I think some of the changes I checked in last week may have resolved this problem. Can you verify the latest nightly build of cuml with your notebook?

[2019-09-19 14:29] naveenmiriyalu commented on #1067
@teju85 Please check the link . I have uploaded the files to the link below .
 https://drive.google.com/open?id=1SsTVrpKnrcPlxHRak83FJ2_gs5wSEjqg

[2019-09-19 14:30] naveenmiriyalu commented on #1067
@dantegd Is the cuML with CUDA 10.1 available to build now ??

[2019-09-19 15:34] tomwhite commented on #1121
@cjnolet that sounds very promising and thank you for the prompt response.

I tried to update the notebook to install the latest nightly, which I assume is 0.10.0a, but I get runtime errors in cuml. Is there an example colab notebook that uses the latest nightly packages?

[2019-09-19 18:13] avantikalal opened #1122 "[FEA] Nonnegative constraints in linear regression and Lasso"
**Is your feature request related to a problem? Please describe.**
I would like to use cuML to accelerate a bioinformatics application that uses linear regression both with and without lasso. However, for my application all the coefficients need to be nonnegative.

Is it possible to add nonnegative constraints to the cuML functions (https://github.com/rapidsai/cuml/blob/branch-0.10/python/cuml/lin

[2019-09-19 19:32] JohnZed opened #1123 "Update numba version to match cudf"

[2019-09-19 22:12] rlratzel opened #1124 "[BUG] DBSCAN notebook aborts with a core dump"
the `dbscan_demo` notebook test run aborts with a core dump. This error is shown:
[code]
along with a stack trace.

Link to log is [here](https://gpuci.gpuopenanalytics.com/job/docker/job/tests/job/docker-test-notebooks/CUDA_VERSION=9.2,LINUX_VERSION=ubuntu16.04/19/console) (search for `EXIT CODE: 134`)

[2019-09-20 04:30] teju85 opened #1125 "[FEA] prims: implement `make_regression`"
**Is your feature request related to a problem? Please describe.**
We need the SKL's equivalent of `make_regression` to be implemented inside ml-prims.

**Describe the solution you'd like**
Similar to `make_blobs` we need `make_regression` to be implemented inside ml-prims, followed by exposing it in `cuml++`.

[2019-09-20 04:31] teju85 opened #1126 "[FEA] cuml++: bench: Add support for RF regression as well."
Current PR #1082 adds only RF classifier for benchmarking. We need to add Rf regressor as well to be complete. However, this depends on issue #1125 to be implemented first.

[2019-09-20 06:53] danielhanchen opened #1127 "[BUG] Distance metrics for trustworthiness are seg-faulting for CUDA 10.1"
This is related to the TSNE bug #1116

To summarize, trustworthiness allows many distance metrics to be passed. However, only 2 metrics EucExpandedL2Sqrt and EucUnexpandedL2Sqrt do not require any extra workspace.

It seems like for CUDA 10.1, the other metrics need extra workspace (probably).

So I tested all distance metric instances:
*FAILED* means it didn't work on 10.1

1. *FAILED* EucExpande

[2019-09-23 17:41] cjnolet commented on #1127
Looking a bit more into this, I notice the trustworthiness prim is just bypassing the workspace computation that the distance prim is doing.

It should be a trivial change to modify the trustworthiness score so that, for each batch, it calls the proper function on the distance prim to compute the workspace, then allocates and uses the workspace, freeing it when done.

[2019-09-23 22:10] dantegd opened #1130 "[BUG] ptxas warnings during compilation"
**Describe the bug**
Warnings during compilation from faiss build step:

[code]

Seem innocuous for now, but worth looking into them soon.

**Steps/Code to reproduce bug**
Build cuml either with all the steps or with `build.sh`

**Expected behavior**
No warnings

[2019-09-24 12:32] tfeher commented on #935
More use cases:
 - working set selection in SVM could use such prims
 - unary op could be used as type cast (currently blob tests in SVM uses that)

[2019-09-24 13:22] teju85 opened #1134 "[TASK] [DEBT] cmake: cleanup of cmake files to follow "Effective CMake""
There are a lot of places where we deviate away from the guidelines as given by Daniel Pfeifer [here](https://www.youtube.com/watch?v=bsXLMQ6WgIk) in his CppCon talk. Many of such deviations should be fixed for a more maintainable CMake code in cuML.

Filing this task-tracking issue so that we don't forget.

Thanks to @trivialfis for pointing it out in PR #1129 .

[2019-09-24 14:25] cjnolet commented on #735
I believe #1132 may have solved this.

[2019-09-24 14:25] cjnolet commented on #1124
I believe #1132 has solved this problem.

[2019-09-24 19:58] cjnolet opened #1137 "[FEA] cumlCommunicator irecv to support MPI_ANY_RANK"
Currently, the cumlCommunicator expects a rank between 0 and n_ranks-1. It should be pretty easy to support MPI_ANY_RANK using a constant that equates to -1.

Currently, UCX uses the first high 32-bits of the 64-bit tag to filter for the sending rank and lower 32-bits to filter for the tag. In the case where -1 is passed for the source rank, we can just mask the sending rank and filter by tag.

[2019-09-24 21:35] tfeher opened #1139 "More Thrust in SVM"
**Is your feature request related to a problem? Please describe.**

SVM working set selection use several helper kernels defined in ws_utils.h/.cu. Many of these could be replaced using fancy iterators from Thrust. An example of such change is seen in commit 022741b0.

The same is true for LinAlg::range.

**Describe the solution you'd like**
Consider expressing these algorithms using Thrust. Check

[2019-09-24 22:50] dantegd opened #1140 "[BUG] trustworthiness seg fault pytest"
**Describe the bug**
Build cuML and run pytests. At the very least CUDA 10.0 and 10.1 have shown this problem, trustworthiness seg faults:

[code]

[2019-09-25 00:25] tfeher opened #1141 "Divide SmoBlockSolve kernel into smaller pieces."
**Describe the solution you'd like**
Refactoring of the SmoBlockSolve kernel for better readability.

[2019-09-25 07:40] naveenmiriyalu commented on #1067
@dantegd  May I try building with CUDA 10.1 now ? Is there anything I could try cuML with 10.1?

[2019-09-25 19:49] dantegd opened #1144 "[BUG] pytest seg fault in CUDA 10.1 with current RAPIDS nightlies in CI"
**Describe the bug**
After running all tests in a CUDA 10.1 environment (local as well as CI) with current RAPIDS nightlies (cuDF, RMM, etc.), pytest just segfaults:

[code]

**Steps/Code to reproduce bug**
Build libcuml++/cuml, run pytest in any of the python test files using cuDF/RMM/etc. installed from conda.

Output from `cuda-gdb` running `pytest` (and `bt`):

[code]

**Expected behavior**
Py

[2019-09-25 23:16] JohnZed opened #1146 "Add metrics module to docs TOC"

[2019-09-25 23:17] JohnZed opened #1147 "Add sample notebook for SVM"

[2019-09-26 10:34] teju85 commented on #1118
One more item from [here](https://github.com/rapidsai/cuml/blob/branch-0.10/cpp/src/randomforest/randomforest_impl.cuh#L90):

Instead, I think it is much faster (and no extra memories required) if we replace it with:
`MLCommon::Random::permute(outkeys->data(), nullptr, nullptr, 1, n_rows, false, stream);`
The input and output pointers being null was a special case created in this prim to exactly a

[2019-09-26 13:38] #1080 closed

[2019-09-26 19:35] cjnolet commented on #1000
I believe this might be related to cuml's `make_blobs` currently being row-major. We have had some discussions and will fix this, possibly in 0.11.

[2019-09-26 21:35] dantegd opened #1151 "[FEA] cuML and cuGraph sharing of handle and comms"
**Is your feature request related to a problem? Please describe.**
cuML cuGraph have many needs in common. To be more efficient across projects we should look to share not only algorithmic components but also some infrastructure ones. In particular the cuGraph team wants to adopt the cumlHandle and cumlComms, which definitely can be useful beyond just cuML. This issue is for tracking those efforts

[2019-09-26 21:38] dantegd commented on #1151
Will need merge of PR #964 first

[2019-09-27 05:20] teju85 opened #1155 "[FEA] cpp-bench: refactor the `read_csv` method into a more common place"
Filing this issue as per the comment by @cjnolet [here](https://github.com/rapidsai/cuml/pull/1148#discussion_r328778905). It certainly makes sense to move this logic somewhere which can help increase reuse. However, I'd also like to caution that this function was tailor-made for numerical values only and also only tested for dense csv files! So, we might want to spend some effort on making this f

[2019-09-27 05:31] teju85 opened #1156 "[FEA] cpp-bench: add support to specify different benchmark workloads from a config file"
Currently, most existing benchmarks expect a `getInputs`-like method to return a vector of input params which form as inputs to the fixtures.

@cjnolet's suggestion [here](https://github.com/rapidsai/cuml/pull/1148#discussion_r328783631) is really cool!! If we can support some sort of a config file that these fixtures could parse to automatically populate this vector, then the advantage is that th

[2019-09-27 05:43] teju85 commented on #1156
This has a bigger impact for our bechmarking strategy. Thus, we should just include this work in our 0.11 release. Tagging @JohnZed for any discussions and also help in scheduling/planning for it in our next release.

[2019-09-27 05:57] xiaonans opened #1157 "KMeans_MGMN: max_iter parameter in cuml.dask.cluster.kmeans.KMeans does not have an effect. [BUG]"
**Describe the bug**
Max_iter parameter in cuml.dask.cluster.kmeans.KMeans does not have an effect. When I run the https://github.com/rapidsai/notebooks/blob/branch-0.10/cuml/kmeans_demo_mnmg.ipynb,  I set max_iter=1 in cumlKMeans, but found the training time cost was almost the same comparing with not setting this parameter. Even I set max_iter=0, the training time is still the same.

**Steps/Cod

[2019-09-27 14:51] tfeher opened #1160 "[FEA] Use libRMM to wrap raw pointers as multi dimensional DeviceNDArray"
**Is your feature request related to a problem? Please describe.**
RMM provides a facility to wrap raw pointers as DeviceNDArray, but it currently works only for 1D arrays. Because of this numba_utils.py has another implementation of device_array_from_ptr.

**Describe the solution you'd like**
Once https://github.com/rapidsai/rmm/issues/135 is resolved, we should remove the redundant code from num

[2019-09-27 21:36] cjnolet commented on #605
I have updated some of the CSR primitives for DBSCAN in this PR: https://github.com/rapidsai/cuml/pull/1132

[2019-09-27 21:42] cjnolet commented on #1157
Hi @xiaonans, I have confirmed that the `max_iter` parameter is being passed down the C++ layer: https://github.com/rapidsai/cuml/blob/branch-0.10/python/cuml/cluster/kmeans.pyx#L306.

We discussed this  offline already, but after seeing your verbose logging, I believe the centroids are already being initialized to locations which are lower than the given tolerance parameter, and so training termi

[2019-09-27 21:42] #1157 closed

[2019-09-27 21:43] #1046 closed

[2019-09-27 21:43] #735 closed

[2019-09-27 21:43] #1124 closed

[2019-09-27 21:44] #1060 closed

[2019-09-28 10:22] teju85 opened #1169 "[BUG] build-fail: treelite: due to overwriting of headers during installation process"
**Describe the bug**
Latest compilation of libcuml++ seems to persistently fail with the following errors while trying to build FIL (which depends on treelite).
[code]
Full log can be found here: [run.log](https://github.com/rapidsai/cuml/files/3665331/run.log)

**Steps/Code to reproduce bug**
[code]

**Environment details (please complete the following information):**
 - Environment location: [Ba

[2019-09-28 10:37] teju85 commented on #1169
Have filed PR https://github.com/dmlc/treelite/pull/121 against treelite for a proposed fix for this issue.

[2019-09-28 10:38] teju85 commented on #1169
Once the above PR gets finalized, will fail a PR here to fix this build issue.

[2019-09-30 08:15] vishalmehta1991 commented on #984
@JohnZed  This Issue is completed and merged in 0.10

[2019-09-30 08:41] ravigumm commented on #1140
I observed the same on ppc64le.

[2019-09-30 09:38] tfeher opened #1172 "[FEA] Add LD parameters for distance prims"
**Is your feature request related to a problem? Please describe.**

To calculate distance for a subset of vectors in column major format, we would need to specify ld parameters for the underlying gemm-like operation.

One such use case is SVM's RBF kernel, which is using the distance prims to calculate euclidean distances. During prediction we deal with a batch of input data that is a subset of al

[2019-09-30 13:40] JohnZed commented on #1147
@tfeher will work on this.

[2019-10-01 04:31] teju85 commented on #1134
Listing a few initial items:
1. Better to use `cuml_SOURCE_DIR`, instead of `PROJECT_SOURCE_DIR`. Ref: [here](https://github.com/rapidsai/cuml/pull/1129#discussion_r327432087)
2. Use `target_*` interface instead of global calls. Ref: [here](https://github.com/rapidsai/cuml/pull/1129#discussion_r327432509)
3. Use a separate module inside our `cpp/cmake` folder for each of cub/cutlass/googlebench/go

[2019-10-01 09:21] teju85 opened #1179 "[TASK] [DEBT] c++ cleanup: update #include to follow a uniform standard"
Currently, the double-quotes vs angle-bracket #include's are just all over the place. PR #1129 introduces a script to check and enforce a uniform way of #include'ing the headers. As per [this](https://gcc.gnu.org/onlinedocs/cpp/Search-Path.html), a safe way to write #include's will be to:
1. if referring to header files in the current directory, use double-quotes
2. else, use angle-brackets and up

[2019-10-01 13:03] UmashankarTriforce commented on #847
I would like to work on this issue. May I know about this issue in detail?

[2019-10-01 13:38] tfeher opened #1181 "[QST] Better control of n_batch parameter for SVM predict"
During SVM prediction we evaluate the Kernel matrix (`K`) values for `n_batch` input vector, and `n_support` support vectors. To store the result, we need a temporary buffer `K[n_batch*n_support]`.

Currently n_batch_max == 4096. The actual batch size is limited by the following factors:
- `n_batch` <= `n_rows`
- Memory size of `K` <= `buffer_size`

The ideal value of n_batch would allow maximum p

[2019-10-01 13:56] teju85 commented on #935
@tfeher now with PR #1142 getting merged, do you think you can get to this during 0.11 timeframe?

[2019-10-01 14:13] tfeher opened #1184 "[FEA] IntType template parameter for SVM"
**Is your feature request related to a problem? Please describe.**
SVM currently uses 32bit ints as input parameters for the matrix dimension. While it is unlikely to train for larger matrices in the near future, for prediction it could make sense to allow larger ints.

**Describe the solution you'd like**
Add IntType template parameter for SVM to avoid overflow with large matrix dimensions.

[2019-10-01 14:30] cjnolet commented on #847
@UmashankarTriforce, sure, this issue is still available.

Most of cuML's Python layer has been designed with a C++ library that has been wrapped in Cython.

In 0.9, we introduced our [cumlCommunicator API](https://github.com/rapidsai/cuml/blob/branch-0.10/cpp/src_prims/common/cuml_comms_iface.hpp#L34). We are interested in having that API wrapped in Cython as well. To start, we could probably jus

[2019-10-01 15:20] tfeher opened #1185 "[FEA] SVM replace custom CUDA kernels with unary/binary prims"
**Is your feature request related to a problem? Please describe.**
PR #1142 enables different input and output types for unary/binary ops. This can be used to reduce the number of custom kernels in the current SVM implementation.

**Describe the solution you'd like**

Replace the following functions with ml-prim version:

- [ ] set_bool_flag in results.h
- [ ] set_upper / set_lower in ws_utils.h
-

[2019-10-01 15:22] tfeher commented on #935
Thanks Thejaswi for the PR #1142! Since this Issue is specifically about the prims, I have created a new one (#1185) which aims for using the modified prims in SVM, and we can close this one.
Yes, we can definitely target 0.11 with the corresponding changes in SVM.

[2019-10-01 15:22] #935 closed

[2019-10-01 16:55] teju85 opened #1189 "[FEA] adding FIL to cpp-bench"
**Is your feature request related to a problem? Please describe.**
PR #1145 adds FIL to python benchmarks. Adding similar tests to the cpp-bench would benefit future benchmarking and development of FIL for our c++ devs.

**Describe the solution you'd like**
Add similar benchmark for FIL inside cpp-bench as well.