[2020-04-23 21:50] arnoldrw opened #2130 "[BUG] CUML MBSGDClassifier is significantly slower to fit on scale=100 data vs scale=1 data"
**Describe the bug**
In benchmarking using sklearn's make_classification method I am seeing that different values of the scale parameter make a significant impact on MBSGDClassifier's performance. For example, recent testing showed a scale of 1 fit in 23s. But a scale of 100 took 3min and 42s to fit.

**Steps/Code to reproduce bug**
Two notebooks are attached. This notebook was used as the base fo

[2020-04-23 22:03] levsnv commented on #1189
working on this, should be a quick one to draft, at least

[2020-04-24 00:15] #1921 closed

[2020-04-24 00:15] #2041 closed

[2020-04-24 00:15] #2060 closed

[2020-04-24 00:15] #2063 closed

[2020-04-24 03:21] #1992 closed

[2020-04-24 03:50] #1524 closed

[2020-04-24 08:05] #2113 closed

[2020-04-25 13:04] #1989 closed

[2020-04-25 21:13] #2100 closed

[2020-04-26 03:11] cjnolet opened #2133 "[FEA] Support sparse input for LinearRegression and regularized variants"
This shouldn’t be too hard to implement efficiently right in the Python layer using CuPy as its already using cuSolver to perform the sparse QR: https://github.com/cupy/cupy/blob/master/cupyx/scipy/sparse/linalg/solve.py#L48

This is very useful in cases where `A` is extremely sparse, such as in preprocessing of cellxgene count matrices for single-cell analysis: https://github.com/cupy/cupy/blob/m

[2020-04-26 07:51] teju85 commented on #2097
Thanks @MatthiasKohl for filing this issue.

For 2: we already have an `[include_checker.py](https://github.com/rapidsai/cuml/blob/branch-0.14/cpp/scripts/include_checker.py)` which is run as part of our CI script [here](https://github.com/rapidsai/cuml/blob/branch-0.14/ci/checks/style.sh#L43), but we need to enable it across all source folders.

[2020-04-26 23:29] #2038 closed

[2020-04-27 01:08] #1398 closed

[2020-04-27 01:08] #2011 closed

[2020-04-27 03:20] cjnolet opened #2136 "[FEA] UMAP Fuzzy Simplicial Set optimizations"
There are a couple places in the current fuzzy simplicial set computations that can be optimized a little bit.

These are not a high priority because the fuzzy simplicial set computation is already very fast and isn’t currently a bottleneck, however, the changes are very trivial so it’s worth doing during our tech debt release

[2020-04-27 03:34] cjnolet opened #2137 "[FEA] Investigate potential optimizations to symmetrize and reduce"
The end of the fuzzy simplicial set computation includes sparse X+X.T symmetrization that combines with a reduction function for all overlapping elements in the resulting symmetric matrix. Currently, this has been consolidated to a single kernel, which parallelizes over the rows of a sparse CSR. This is very fast, but it does perform column lookups in place, which causes many random reads per thre

[2020-04-27 04:36] #2079 closed

[2020-04-27 05:38] teju85 opened #2138 "[BUG] We shouldn't expose our dependent library symbols across libcuml++.so"
**Describe the bug**
While discussing RAFT integration, @dantegd described the reason for (re)cloning of dependencies of cuml [here](https://github.com/rapidsai/cuml/pull/2125#discussion_r415362166). Ideally, all symbols from these libraries that we depend upon should not have been exposed across `libcuml++.so` interface!

**Expected behavior**
If a user **only** has `libcuml++.so` and all headers

[2020-04-27 06:01] hcho3 commented on #2138
@teju85 https://github.com/dmlc/xgboost/pull/5590 may be relevant to you, where we hid all C++ symbols from `libxgboost.so` and only exposed C API symbols.

[2020-04-27 06:04] teju85 commented on #2138
@hcho3 unfortunately, we have to expose C++ symbols since our cython layer depends on those!

[2020-04-27 06:05] hcho3 commented on #2138
@teju85 Got it. It should be however possible to selectively hide some symbols by using compiler attributes.

[2020-04-27 06:07] teju85 commented on #2138
Agreed. That's essentially the hope behind filing this issue.

[2020-04-27 06:09] hcho3 commented on #2138
dmlc/xgboost#5590 used a white-list approach: hide all symbols, except a few symbols  that were "blessed" with a special macro.
Alternatively, we can consider a black-list approach: expose all symbols except those we elect to hide.

[2020-04-27 06:12] teju85 commented on #2138
Good point. For now, if we can hide symbols from:
1. treelite (and its dependencies)
2. faiss
3. spdlog
then that should be sufficient. Would you like to take this up, @hcho3 ?

[2020-04-27 06:12] hcho3 commented on #2138
Is this issue blocking RAFT adoption?

[2020-04-27 06:14] teju85 commented on #2138
No, shouldn't be a blocking issue, but certainly very useful if this got done soon.

[2020-04-27 06:15] hcho3 commented on #2138
Got it. I'll take a look at this issue once I make progress on speeding up Treelite serialization.

[2020-04-27 06:17] teju85 commented on #2138
Great! Thanks for volunteering. Agreed, this can certainly wait after the treelite-speedups work is over.

[2020-04-27 06:17] hcho3 commented on #2138
Feel free to assign this issue to me.

[2020-04-27 06:44] #2112 closed

[2020-04-27 06:50] #1952 closed

[2020-04-27 06:58] cjnolet commented on #1834
The refactor to use distributed data handler has been done. What remains is refactoring to use delayed prediction mixin and cuml array.

[2020-04-27 06:59] cjnolet commented on #2010
Closing this as duplicate of #1834, since that tracks cuml array and delayed prediction mixin

[2020-04-27 06:59] #2010 closed

[2020-04-27 07:12] #2136 closed

[2020-04-27 09:22] wxbn commented on #2066
Thanks, yes indeed the `fit` function of cuML's `KNeighborsClassifier` should be returning `self` like in the Scikit-learn API.

[2020-04-27 15:58] JohnZed commented on #2138
I believe we already do this for libdmlc and libprotobuf since we had issues with that? See https://github.com/rapidsai/cuml/blob/branch-0.14/cpp/CMakeLists.txt around line 318. Wish there were a more cmake-native way of doing it though.

[2020-04-27 16:02] teju85 commented on #2138
So, we should probably extend this for treelite, faiss and spdlog also?

[2020-04-27 16:16] #1991 closed

[2020-04-27 17:23] Salonijain27 opened #2141 "[BUG] RF pickling throws an error for small forests"
The RF pickling code throws an error while trying to read the treelite model protobuf bytes . The error is thrown while running the `LoadProtobufModel` function in treelite file `protobuf.cc`.
 Code to reproduce the error:
[code]

Output:
[code]

[2020-04-27 17:26] Garfounkel opened #2142 "[FEA] Support for sample weights for contingency_matrix prim"
**Is your feature request related to a problem? Please describe.**
Currently we have implemented `confusion_matrix` in python leveraging Cupy in https://github.com/rapidsai/cuml/blob/branch-0.14/python/cuml/metrics/confusion_matrix.py. In order to use the `contingency_matrix` prims inplace of the current Cupy implementation of `confusion_matrix` we need support for sample weights in the `contingen

[2020-04-27 17:26] Salonijain27 commented on #2141
On increasing the n_estimators and max_depth parameters for RF the code runs without any errors

[2020-04-27 17:42] divyegala commented on #2137
As discussed with @cjnolet offline, I will be taking this on once burndown for 0.14 starts

[2020-04-27 17:47] Salonijain27 commented on #2141
I checked the features of the model passed to `TreeliteExportProtobufModel`  in RF's C++ function, `save_model`. The num_features and num_trees of the model were the same as cuml's RF model.
Furthermore, I updated the RF C++ code to check if there was any corruption of data that took place while passing the information from C++ to python. To do this I added the `TreeliteLoadProtobufModel` function

[2020-04-27 19:03] hcho3 opened #2143 "[BUG] CuML CMake build attempts to generate gpu arch 35 and fails"
I was compiling cuML on my local workstation, and it has two GPUs:
* GeForce GT 710: used for display. Compute capability 7.5
* Quadro RTX 8000: used for CUDA compute. Compute capability 3.5

Build fails with the following error:
[code]

The CMake log says that it's generating code for GPU arch 35 and 75:
[code]

Since `atomicAdd(double*, double)` is only supported in Compute capability 6.0 and hi

[2020-04-27 19:06] hcho3 commented on #2143
Todo. Revise `cmake/EvalGpuArchs.cmake` to require arch 60 and higher.

[2020-04-27 22:22] #2143 closed

[2020-04-28 00:22] VisuMap opened #2147 "[QST]"
Does the TSNE algorithm implemented in cmml has a maximal perplexity?  I used the following code to create a TSNE object, the perplexity parameter seems to have no impact on the result.

from cuml.manifold import TSNE
tsne = TSNE(n_components = 2, method = 'barnes_hut', perplexity=5000)
embedding = tsne.fit_transform(A)

[2020-04-28 00:39] manopapad opened #2148 "[BUG] transpose(math_t,int,cudaStream_t) always uses the default stream"
**Describe the bug**
`MLCommon::LinAlg::transpose(math_t, int, cudaStream_t)` does not honor the stream argument that is passed to it, instead uses the default stream.

**Steps/Code to reproduce bug**
Profile an example that uses this function, passing a non-default stream argument. The profile will show activity on the default stream. Also apparent from the code, unless I'm missing something: htt

[2020-04-28 01:33] ybdesire opened #2149 "[QST] how to add self-defined metrics for cuml dbscan ?"
**What is your question?**

We can add self-defined metric for [sklearn.dbscan()](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.DBSCAN.html), since the distance should not only be "euclidean".

My question is how can we modify / add self-defined distance calcution funtion for cuml.dbscan() ?

[2020-04-28 04:30] Salonijain27 commented on #1998
@nikiforov-sm, I have opened an issue for the error
[code]
#2141

[2020-04-28 05:13] nikiforov-sm commented on #1998
@Salonijain27 Thank you for the update.
Did you manage to reproduce the error with PCA?

[2020-04-28 06:57] levsnv commented on #1189
PR #2152 has a working draft. there are some design decisions to discuss

[2020-04-28 13:23] Nyrio opened #2154 "[BUG] S-ARIMA: NaN log-likelihood when sar.L1 is very close to 1"
**Describe the bug**
With seasonal models, when `sar.L1` is very close to 1, the log-likelihood can take the value `nan`.

Details:

- `sar.L1` has to be extremely close to 1. Even 0.9999 doesn't trigger the bug in the example below
- Many different orders trigger the bug. For simplicity the example below uses `p=q=Q=0` but this is not a requirement.

**Steps/Code to reproduce bug**
[code]

This o

[2020-04-28 16:02] teju85 commented on #238
This is done. Closing.

[2020-04-28 16:02] #238 closed

[2020-04-28 16:20] #1720 closed

[2020-04-28 18:19] JamesMaki commented on #1998
@nikiforov-sm @Salonijain27

I was able to reproduce the PCA error, this will probably need to be opened as a bug as well. Could you use Truncated-SVD instead for now? It seems to be working correctly.

[2020-04-28 19:09] JamesMaki opened #2157 "[BUG] PCA fit followed by transform not changing dataframe shape"
https://github.com/rapidsai/cuml/issues/1998#issuecomment-617805886

cuML PCA transform method is not reducing number of columns of dataframe it is called on.

pca.fit followed by pca.transform does not match behavior of pca.fit_transform

[code]
returns:
[code]

Regular cuML PCA also behaves the same.

[code]
returns
[code]

Multi-GPU and single-GPU pca.fit_transform works as expected and returns

[2020-04-28 20:04] #2066 closed

[2020-04-28 20:52] #2001 closed

[2020-04-28 23:15] JohnZed opened #2158 "[BUG] Test_umap spews "bruteForceKnn is deprecated; call bfKnn instead" warnings"
Running test_umap.py, I see lots of messages like: ```
cuml/test/dask/test_umap.py::test_umap_mnmg[10-iris-False-0.1-10000-10] bruteForceKnn is deprecated; call bfKnn instead
bruteForceKnn is deprecated; call bfKnn instead
bruteForceKnn is deprecated; call bfKnn instead
bruteForceKnn is deprecated; call bfKnn instead
bruteForceKnn is deprecated; call bfKnn instead
bruteForceKnn is deprecated; call

[2020-04-29 01:54] ybdesire commented on #2149
@wxbn  Thanks for checking this case. Would you share any suggestions for this question?

[2020-04-29 01:56] hcho3 opened #2159 "[BUG] No module named 'treelite.gallery'"
[code]

I saw this error on my workstation when I rebuilt cuML from scratch. I moved to a brand new EC2 instance and built cuML fine, and after a few builds, got this error message again.

[2020-04-29 02:02] hcho3 commented on #2159
Location of error:
https://github.com/rapidsai/cuml/blob/ecf2a3a4da61513b364f6ef24de3fe148ff9ecd8/python/cuml/fil/fil.pyx#L43-L44

[2020-04-29 02:08] dantegd commented on #2159
It seems to be having trouble finding `treelite.gallery.sklearn` in spite of finding the `treelite` python package, I guess you’re the best person to ask if that could be an error of version mismatch in treelite? @Salonijain27 have you run into this before?

Treelite is an optional dependency of Python cuML (that’s why the `has_treelite` check) since there is no conda package, that would be someth

[2020-04-29 02:13] dantegd commented on #2149
@ybdesire this is currently not possible (as far as I’m aware, correct me if I’m wrong @cjnolet @teju85). For fully custom (i.e. not any typical distance/metric) we’ve had in mind to do something similar as to how cuDF uses Numba for user defined functions, but haven’t quite gotten to it.

[2020-04-29 02:28] hcho3 commented on #2159
I applied this patch to see what `treelite` represents:
[code]

Output:
[code]

This is not what you'd expect if `treelite` were a proper module. You'd see something like
[code]

[2020-04-29 02:47] teju85 commented on #2149
@dantegd is correct. Currently, since all these metrics are "hard-coded" at C++ layer (for performance reasons), it is very difficult to support custom user-defined metrics at python layer. Thus, maybe for now, if this new metric is common enough, just add them to list of ones we support already in cuML?

[2020-04-29 02:57] hcho3 commented on #2159
Installing Treelite with `python setup.py install` fixed the issue. The output is now
[code]

It would be the best to produce a better message to users. I lost many hours today because of this issue. I'll prepare a pull request.

[2020-04-29 03:08] ybdesire commented on #2149
Thanks @dantegd and @teju85 for the help. I have a special metric which is a complex hash diff distance. Would you show me the c++ code for dbscan ? I want to check if I can modify the c++ code directly for my case. Or would you share more suggestions for my case ? Such as if there is any other GPU based DBSCAN lib support metric?  Thanks!

[2020-04-29 03:17] hcho3 opened #2160 "[FEA] Roadmap for paying down tech debt in Treelite"
cuML uses dmlc/treelite to implement FIL and tree serialization. Treelite currently has many outstanding issues:
* Model serialization is slow (https://github.com/dmlc/treelite/issues/156)
* LightGBM and sklearn models require float64, but Treelite uses float32 (dmlc/treelite#77 dmlc/treelite#94 dmlc/treelite#155)
* Treelite doesn't support majority voting for multi-class classifiers (dmlc/treelit

[2020-04-29 03:25] hcho3 commented on #2159
It turns out that I had directory `treelite/` right next to my test script. So it was trying to load from that directory even though it was not really a proper Python module. I'm going to close this issue for now. Sorry for the noise.

[2020-04-29 03:25] #2159 closed

[2020-04-29 03:28] teju85 commented on #2149
@ybdesire not sure about other gpu-dbscan libraries that can do what you want. You can look at our C++ layer and see if you can customize it for your needs.
1. C++ main entrypoint function for dbscan: https://github.com/rapidsai/cuml/blob/branch-0.14/cpp/src/dbscan/dbscan.cuh#L60
2. here is the place where we define how to compute pairwise distance metric, adjacency matrix and also generate vertex

[2020-04-29 04:19] Salonijain27 commented on #1998
@nikiforov-sm  yes, i am able to reproduce the PCA error mentioned in : https://github.com/rapidsai/cuml/issues/1998#issuecomment-617805886

[2020-04-29 06:56] nikiforov-sm commented on #1998
@JamesMaki  @Salonijain27  Thank you for your updates.
I can use Truncated-SVD instead of PCA and it's successfully reduce columns, but predict is not working as I described in [#1998 (comment)](https://github.com/rapidsai/cuml/issues/1998#issuecomment-617107720)

[2020-04-29 08:23] wxbn commented on #2106
You can take a look at the different multi-node multi-gpu algorithms that cuML provide to speed up part of your ML pipeline. Unfortunately, the cuML project does not for now provide the possibility of distributing an already existing Keras or Tensorflow project on GPUs. Might be an idea for the future though. Tagging @JohnZed

[2020-04-29 08:34] wxbn commented on #2122
Tagging @tfeher for thoughts

[2020-04-29 08:35] wxbn commented on #2122
You seem to be the main author of the algorithm. Do you want the issue to be assigned to you or do you want to recommend someone else?

[2020-04-29 08:50] wxbn commented on #2101
Tagging @Salonijain27 for thoughts

[2020-04-29 08:56] #2093 closed

[2020-04-29 09:14] wxbn commented on #2130
Thanks for reporting the issue. I could successfully reproduce it. Tagging @oyilmaz-nvidia for thoughts.

[2020-04-29 09:16] wxbn commented on #2141
Any update on this issue? Who should be assigned for it?

[2020-04-29 09:25] hcho3 commented on #2141
I'm working on it. Please assign me.

[2020-04-29 09:28] wxbn commented on #2147
Thanks for reporting this issue. The `perplexity` parameter should normally be set between 5 and 50 and the `n_neighbors` parameter should be at least 3 * `perplexity` in order to get satisfying results. Tagging @danielhanchen for more details.

[2020-04-29 09:39] wxbn commented on #2157
Both issues should be fixed thanks to the already merged PR #2107. The changes will appear in the next release.

[2020-04-29 09:39] #2157 closed

[2020-04-29 09:46] hcho3 commented on #2141
Updates. I narrowed down the error to `LoadProtobufModel()`.

The model consists of 85 bytes:
[code]
These bytes are generated when cuML invokes `TreeliteExportProtobufModel()` in
https://github.com/rapidsai/cuml/blob/510bd22f63c6cf6e79971d22de4bec154a9cac58/cpp/src/randomforest/randomforest.cu#L328-L341

The 85 bytes are saved to the pickle and then read back into memory in
https://github.com/rap

[2020-04-29 10:21] danielhanchen commented on #2147
Oh so currently, TSNE uses an adaptive approach to determining the best perplexity. [As data size increases, so does perplexity]. To manually set it, call `TSNE(learning_rate_method = None)`. Originally, it's `TSNE(learning_rate_method = "adaptive")`. See https://rapidsai.github.io/projects/cuml/en/latest/api.html#tsne for more details.

[2020-04-29 10:40] wxbn commented on #2148
Thanks for reporting the issue. We are working on it.

[2020-04-29 11:56] wxbn commented on #2149
@dantegd @teju85 @cjnolet Do you think it would be interesting to open a new issue for a feature allowing the use of a `metric` parameter as a custom metric function or as a metric string to choose from a set of typical distance/metric?

@ybdesire Do you consider your issue resolved?

[2020-04-29 13:27] teju85 commented on #2149
@wxbn potentially possible. But might involve too much work inside dbscan code (like I mentioned, the current code is specialized and optimized for L2 distance).

[2020-04-29 15:30] MatthiasKohl opened #2163 "[FEA] Improve computing number of batches in DBScan"
**Is your feature request related to a problem? Please describe.**
DBScan currently uses the `computeBatchCount` helper function, but there are several issues around it:
1. the maximal memory used by DBScan never depends on the input data type, which is what `computeBatchCount` currently counts on.
2. We can assume that the sparse adjacency matrix has much less elements than the dense adjacency ma

[2020-04-29 15:31] MatthiasKohl commented on #2163
I'll work on this early next week

[2020-04-29 15:39] MatthiasKohl opened #2164 "[BUG] Possible bug in DBScan C++"
**Describe the bug**
In [runner.cuh](https://github.com/rapidsai/cuml/blob/branch-0.14/cpp/src/dbscan/runner.cuh#L191), `adjlen` is used as the parameter describing the length of the sparse adjacency matrix (number of non-zero values). However, this parameter actually describes the maximum nnz across all batches, or otherwise the length of the `adj_graph` workspace, which is not necessarily the le

[2020-04-29 15:39] MatthiasKohl commented on #2164
I'll work on this along with Issue #2163

[2020-04-29 16:19] #2102 closed

[2020-04-29 17:03] VisuMap commented on #2147
Does this mean that the maximal perplexity is 50 for BH-tSNE in RAPIDS?

[2020-04-29 19:03] tfeher commented on #2122
You can assign it to me, I will pick this up. Thanks.

[2020-04-29 21:17] fengyu05 opened #2167 "[BUG]no kernel image is available for execution on the device"
**Describe the bug**
I set up the env with docker and try run the example, here is what I see.

The docker image:rapidsai/rapidsai:0.13-cuda10.1-base-ubuntu16.04-py3.7

[code]

This is my cuda env
[code]

[code]

**Steps/Code to reproduce bug**
Follow this guide http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports to craft a minimal bug report. This helps us reproduce the issue you'r

[2020-04-29 21:42] #2158 closed

[2020-04-29 21:55] JohnZed commented on #2121
Alright, whose idea of a joke was it to tag this with Good First Issue? I'm looking at you @wxbn ! ;)

[2020-04-29 23:23] #799 closed

[2020-04-30 02:12] ybdesire commented on #2149
@wxbn still no. I am considering other solutions.

[2020-04-30 02:12] #2149 closed

[2020-04-30 03:32] divyegala opened #2168 "[BUG] cuml.metrics.adjusted_rand_score gives a score of 0 when both arrays to compare consist 0s"
**Steps/Code to reproduce bug**
[code]

Output:
[code]

[2020-04-30 06:02] #1737 closed

[2020-04-30 06:31] danielhanchen commented on #2147
@VisuMap  Oh. You can try any perplexity, ie 100, 1000, 10000 etc up to you. However, as @wxbn mentioned, generally speaking, TSNE should be run with perplexities from 3 to 50 or so. However, with larger datasets, one should select larger perplexity numbers or else the algorithm cannot converge in a resonable time.

[2020-04-30 08:43] wxbn commented on #2167
Unfortunately, it seems like your GPUs are not compatible with RAPIDS. RAPIDS libraries require GPUs with NVIDIA Pascal architecture (or better) and CUDA compute capability 6.0+ : [see requirements](https://medium.com/dropout-analytics/which-gpus-work-with-rapids-ai-f562ef29c75f).

[2020-04-30 09:15] wxbn commented on #2168
Could successfully reproduce the issue. Doesn't seem to be related to recent changes as I could reproduce the behavior before these. Tagging @teju85 and @Salonijain27 for more information

[2020-04-30 11:00] teju85 opened #2169 "[FEA] Support libsvm-like load/store methods in our SVM"
**Is your feature request related to a problem? Please describe.**
During an offline discussion with @tfeher , he brought this topic up. Currently both [libsvm](https://github.com/cjlin1/libsvm/blob/557d85749aaf0ca83fd229af0f00e4f4cb7be85c/svm.cpp#L2647) and [thundersvm](https://github.com/cjlin1/libsvm/blob/557d85749aaf0ca83fd229af0f00e4f4cb7be85c/svm.cpp#L2647) provide the same storage formats.

[2020-04-30 15:47] #2141 closed

[2020-04-30 16:35] JohnZed opened #2170 "[FEA] Add TargetEncoder preprocessor"
Target encoding uses the outcome variable (typically the mean of the outcome) to represent levels of a categorical variable. In its simplest form, it takes `df.groupby('categorical_feature1')['target'].mean()`, but there are a number of smoothing tricks typically applied to avoid overfitting. @cdeotte and other Kagglers have worked on some of these implementations.

Would be a nice addition, parti

[2020-04-30 17:14] ravusairam opened #2171 "[BUG]Unable to build cuML libraries"
I am facing issues in build cuML libraries. I got the cuml-branch-0.14 code and trying to build the cuml binaries. I was able to succesfully build one of the previous versions of cuML few weeks back.
Am I missing something?
![bug](https://user-images.githubusercontent.com/1856446/80739314-d9175780-8b33-11ea-815a-9da2bc2561fd.PNG)

[2020-04-30 17:57] Salonijain27 commented on #1998
@nikiforov-sm the fix for the random forest bug #2141  has been merged

[2020-04-30 18:12] dantegd commented on #2171
Hi @ravusairam, could you provide more details of how/where are you compiling?

If you’re using a conda environment (and the `build.sh` script at the root of the repo potentially, but not necessarily):
This looks like it might be an issue with cmake/make using a system installed protobuf as opposed to the conda envrionment one. My first suggestion is to try adding the conda prefix to LD_LIBRARY_PA

[2020-04-30 18:51] ravusairam commented on #2171
Hi @dantegd , I am building on T4 machine using the steps mentioned below
https://github.com/rapidsai/cuml/blob/branch-0.14/BUILD.md.
I tried with both build.sh script at the root of the repo aswell as creating build folder -> cmake .. and make -j after which I am seeing this error. I have built cuML library previously on the same machine but a different version almost a month back, haven't had an

[2020-04-30 19:16] JohnZed commented on #1896
Current plan:
 * Run this on internal prometheus cluster
 * Start by installing nightly conda packages (no need for new build)
 * Launch just the MNMG tests on a single node (for now) with varying numbers of workers (e.g. 2 GPU, 3 GPU, 8 GPU so we at least get one odd-number-of-workers test)

[2020-04-30 19:58] VisuMap commented on #2147
Thanks. The software happily accepts any perplexity values, but seems to silently ignore large values.

[2020-04-30 20:26] mike-wendt opened #2173 "[BUG] Conda clang definitions mismatch"
In the `libcuml` conda package it is still set to use the `rapids` channel `libclang`:
https://github.com/rapidsai/cuml/blob/branch-0.14/conda/recipes/libcuml/meta.yaml#L31

#1972 has been merged and dropped `libclang` in the environments files in favor of:
https://github.com/rapidsai/cuml/pull/1972/files#diff-70968aeb4a464b61ced8342de44cc1c1L9-R10

Prior to 0.14 release we should fix the `meta.ym

[2020-04-30 21:17] #2008 closed

[2020-04-30 21:19] #2148 closed

[2020-04-30 23:24] JohnZed opened #2174 "[FEA] Support multiclass inference for RF now that FIL supports it"
Right now, we raise an exception if someone tries to do multiclass inference with RF. FIL now supports MC, so we should allow it. Also need to add appropriate unit tests.

[2020-05-01 04:05] ravusairam commented on #2174
@JohnZed Where can we get updated feature list for FIL and Random forest? I am looking at the following location and it says in the limitation that it supports only binary classification.  Is it in the latest release (0.14) that we have multi-class FIL?
https://rapidsai.github.io/projects/cuml/en/latest/api.html#forest-inferencing

[2020-05-01 04:41] danielhanchen commented on #2147
https://github.com/rapidsai/cuml/blob/1395f233f2b0f52b55053e77e3f51a5e4db59a96/python/cuml/manifold/t_sne.pyx#L336

Actually @VisuMap , you are correct. I rechecked TSNE, and it seems to clip all values over the dataset size to the max dataset size: ie:

`if self.perplexity > n:
            warnings.warn("Perplexity = {} should be less than the "
                          "# of datapoints = {}.".f

[2020-05-01 05:34] nikiforov-sm commented on #1998
@Salonijain27 Thank you! Should I update cuML version upto 0.14?

[2020-05-01 06:25] JohnZed commented on #2174
The upcoming 0.14 is expected to add multi-class support for FIL (and by extension RF), but that is not in the previous version, 0.13 yet. Some of the docs will need a refresh before 0.14 goes final - we'll make sure these features get documented by then. Thanks!

[2020-05-01 09:53] #2167 closed

[2020-05-01 09:58] ravusairam commented on #2174
Thank you @JohnZed

[2020-05-01 13:30] #801 closed

[2020-05-01 14:41] teju85 commented on #2168
PR #2176 is able to reproduce this at C++ unit-tests itself. Let me now see what's happening.

[2020-05-01 14:47] Salonijain27 opened #2177 "[BUG] RF print_summary and print_detailed functions dont print the forest"
The RF functions to print the forest structures do not print the forest information.
This happens for dask and non-dask RF models. Checked with branch-0.13 and it works in 0.13 but not in 0.14.
It could be due to the update made to use logger. Needs further investigation.

ex code obtained from the metrics_demo notebook (https://github.com/rapidsai/cuml/blob/branch-0.14/notebooks/metrics_demo.ipyn

[2020-05-01 16:08] ravusairam commented on #2171
@dantegd I am seeing this issue is there in 0.13 and 0.14 releases. I am able to successfully build 0.12 release.

[2020-05-01 16:17] VisuMap commented on #2147
Thanks. My dataset (from flow cytometry) has over 250 000 datapoints, but TSNE seems to clip the perplexity to a value blow 1000, which is way too small for my applications.

[2020-05-01 16:26] #2070 closed

[2020-05-01 16:33] danielhanchen commented on #2147
@VisuMap Interesting. So is there a way to know whether perplexity has been clipped? Does Python issue a warning msg? If not, it's probably that higher perplexities are not affecting the final output of the embedding.

[2020-05-01 16:55] ravusairam commented on #2171
Hi @dantegd I tried again with build.sh at the root of the repo and the code seems to be building. But the other approach of doing cmake .. in build folder and make -j is not building the code.

[2020-05-01 17:44] VisuMap commented on #2147
Yes, I tried the suggestion, but it has no impact on resulting map. It only increased the learning time from 9  to 54 seconds.  An indication that the perplexity has be clipped it that  the training time always stayed at 54 seconds, regardless whether perplexity is 500 or 5000 or 100 000. It is well know, that the training time for bares_hut tSNE is sensitive to perplexity.

[2020-05-01 18:02] danielhanchen commented on #2147
@VisuMap  Hmm fascinating. It's possible too large perplexity values might not be actually affecting the output. Although I can't say for sure. Have you tried maybe increasing the learning_rate or increasing / decreasing n_neighbors etc? https://rapidsai.github.io/projects/cuml/en/latest/api.html#tsne shows a whole list of possible tunable parameters.

Maybe standardising all columns could help so

[2020-05-01 18:34] mnicely commented on #1758
Hi @JohnZed

See https://github.com/rapidsai/cusignal/pull/69 for my latest implementation of a multi-point KF. Still a good bit of work to do, but I seems to be working well using a test script provided by @JasonAtNvidia

[2020-05-01 21:25] mike-wendt commented on #2173
@dantegd do you have someone to fix this?

[2020-05-01 22:07] VisuMap commented on #2147
Thanks. Any n_neigbhors larger than 1024 causes TSNE.fit_transform() to terminate prematurely (after 10 minutes). It looks like TSNE clips perplexity to about 330.

[2020-05-02 05:50] danielhanchen commented on #2147
@VisuMap Oh yes n_neighbors > 1024 is not recommended. 1024 is the maximum # of n_neighbors a GPU can handle. It's possible then that large perplexity values are not affecting the output.

How about learning_rate [originally 200 maybe 400, 1000?] ? Or early exaggeration [originally 12, maybe 24, 48?] You can also try increasing n_iter [1000 to say 2000]

[2020-05-02 17:27] VisuMap commented on #2147
The software happily accepted n_neighbors=1000; but produced unusable maps. According to your estimation, my dataset would need at least 14GB which is above the 12GB limit of google-colab. This might be the reason for unexpected output maps I got.

Better learning-rate or early exaggeration would speedup the training, but not compensate the limitation of perplexity, which is the problem raised her

[2020-05-02 23:08] VibhuJawa opened #2181 "[BUG]Import on latest nightly fails with no module `cuml.raft`"
**Describe the bug**
Import on latest nightly fails with no module  `cuml.raft`

**Steps/Code to reproduce bug**
[code]
**Expected behavior**

**Environment details (please complete the following information):**
[code]

Full conda list:
https://gist.github.com/VibhuJawa/30f2f3743e73515bd3de655261376a89

[2020-05-03 00:16] dantegd commented on #2181
@VibhuJawa thanks for the report! I saw the nightly logs, PR #2180 fixes the thing that broke the package, unfortunately CI is blocked by a dask-cuda issue https://github.com/rapidsai/dask-cuda/issues/288. Will probably disable it in that PR to fix the nightly ASAP though

[2020-05-03 00:28] dantegd opened #2182 "[BUG] dask-cuda ucx cluster issue affecting test_comms send_recv test that depends on ucx cuda cluster"
For details see https://github.com/rapidsai/dask-cuda/issues/288

To solve an issue with the nightly asap, I disabled the tests in PR #2180

[2020-05-03 18:19] #2181 closed

[2020-05-03 19:07] chaithyagr commented on #1675
I have opened what seems to be the last PR for src/ directory files. I have ignored randomForest and kalman filter for now as you suggested above.

Moving towards src_prims, it is weird but I am a bit stuck on how to make changes without a major change, I think the movement of cuda_utils.h to cuda_utils.cuh must be the last change as it will have the maximum impact. Also, I am still trying to ease

[2020-05-03 23:51] dantegd commented on #2171
@ravusairam thanks for the report! That was very useful to confirm my suspicion that indeed a different protobuf (probably in the system folders), as opposed to the one in the conda environment was being picked up. Created PR #2187 that should help alleviate those issues, will be testing to be sure.

[2020-05-04 03:09] teju85 commented on #1675
This is good progress. Thanks @chaithyagr for doing this!

Sadly, for the `src_prims`, I think the only way is all-or-nothing, because it gets used at multiple places inside `src`. :( So, I'm ok if you create a monolithic PR for this one. I'll somehow manage the review for it.

[2020-05-04 05:36] divyegala opened #2189 "[BUG] shuffle=True is very slow for `cuml.dask.make_regression` when n_parts > 1 and order='C'"
While I had identified this issue when I was writing `make_regression`, I didn't profile how debilitating it really is. Indexing with an unordered list for `dask.array` is really slow, as it breaks the array into very, very small chunks trying to find the corresponding element. The tests before were only testing with n_parts=1, which is why this issue didn't surface until I started testing with n_

[2020-05-04 06:00] danielhanchen commented on #2147
@VisuMap I'm mostly sure the code is correct in terms of perplexity, since it's only invoked during the bisection search for the best sigma for each datapoint. I can possibly recheck the code and get back to you.

But for now, it seems like maybe perplexities over 330 for that particular dataset aren't doing anything. It could be due to float32 precision or some other issue. I'll see what I can do

[2020-05-04 06:39] Salonijain27 commented on #1998
@nikiforov-sm  yes please, you can use the nightly release of cuml-0.14

[2020-05-04 15:29] divyegala opened #2190 "[BUG] MNMG PCA calls fit and transform both even on an individual fit call"
While working on #1626, I noticed that MNMG PCA calls `fit` and `transform` both for an individual `fit` call (and by extension, tSVD too). While the added computational cost is minimal, this is a huge memory blowout due to the need of allocating the entire transformation array, with an added memory constraint of `O(m * n_components)` for no reason. While most likely address this in a PR separate

[2020-05-04 16:17] Nyrio commented on #1502
@JohnZed can you close the issue?

[2020-05-04 16:17] #1502 closed

[2020-05-04 19:32] JohnZed opened #2192 "Remove outdated or redundant notebooks and clean up failing ones"

[2020-05-04 19:33] JohnZed commented on #2192
Recent failures (per @efajardo-nv )
[code]

[2020-05-04 21:07] #2173 closed

[2020-05-04 22:35] #2189 closed

[2020-05-04 22:47] dantegd opened #2194 "[FEA] Use CMake 3.17 new CUDA features and FindCUDAToolkit"
CMake 3.17 added a set of very useful CUDA related features:

- Features to control behavior: https://cmake.org/cmake/help/v3.17/prop_gbl/CMAKE_CUDA_KNOWN_FEATURES.html#prop_gbl:CMAKE_CUDA_KNOWN_FEATURES
- FindCUDAToolkit https://cmake.org/cmake/help/v3.17/module/FindCUDAToolkit.html#module:FindCUDAToolkit
- Standardized CMAKE_CUDA_RUNTIME_LIBRARY to control cudart linking https://cmake.org/cmake/

[2020-05-04 22:51] kkraus14 commented on #2194
Strong +1 from me.

[2020-05-05 10:25] Nyrio commented on #2192
I can't reproduce the failure in `arima_demo` with the latest state of `branch-0.14`. In which cell is it supposed to happen? Can I get the full exception message? Which version/commit?

[2020-05-05 13:34] #2190 closed

[2020-05-05 15:22] tfeher opened #2197 "[FEA] Handle sparse input for SVM"
**Is your feature request related to a problem? Please describe.**
cuML's SVM implementation currently uses dense arrays. It works reasonable well even if the number of nonzeros are only 20% of the input data, but it is not ideal for very sparse problems.

**Describe the solution you'd like**
Allow sparse format for the feature matrix X.

**Additional context**
The feature matrix enter only during

[2020-05-05 15:28] tfeher opened #2198 "[FEA] SVM row major input"
**Is your feature request related to a problem? Please describe.**
SVM currently uses column major input matrices.  Row major input needs to be transposed which is done by creating a copy of the feature matrix in column major format. This increases the memory consumption of SVM.

**Describe the solution you'd like**
Implement support for row major feature matrix.

**Additional context**
Since the

[2020-05-05 16:06] dantegd commented on #2194
@kkraus14 do you have any input on whether it might be too soon to up the required version of cmake to 3.17? Perhaps we might want to schedule a version release (0.14 or 0.15 perhaps?) to sync the cmake version among projects, and 3.17 seems like a good opportunity to do that with the CUDA improvements.

[2020-05-05 16:11] #1582 closed

[2020-05-05 16:12] Garfounkel commented on #1582
Closing since this was solved by #1659.

[2020-05-05 16:33] kkraus14 commented on #2194
If there's conda / apt / yum packages for it then I'm perfectly fine with it. The vast majority of users just pull our packages and the ones who don't would benefit from these new CUDA features to better control builds.

[2020-05-05 17:34] divyegala opened #2200 "[FEA] SG and MNMG tSVD to not have `fit` call `fit_transform`, but keep it separate"
This is not a trivial enough task, in terms of code refactoring. `fit_transform` is needed to be called currently on every `fit` call because we need to construct `explained_variance_` and `explained_variance_ratio_` attributes for the trained model from the input data as well as from the input data transformed into the decomposed space. However, those attributes are not a necessity when one calls

[2020-05-05 17:38] divyegala commented on #2200
Further thoughts - this is actually trivial in the case of SG tSVD, and may also be just a little bit extra effort for MNMG tSVD. Since in the MNMG version, we pass along a parameter `_transform`, we can set that parameter to `False` when `compute_explained_variance=False`, and downstream cython have a conditional on `_transform` to call either `fit` or `fit_transform`

[2020-05-05 21:00] JohnZed commented on #2192
@Nyrio - I also can't reproduce the error. I just pulled the latest version and tried it out locally.

[2020-05-05 21:52] cjnolet opened #2202 "[FEA] make_blobs C++ primitive column-major output"
The current `make_blobs` prim generates a row-major array for the resulting blobs. A naive attempt was made in #1226 to produce column-major output, but this required a full copy of the output data. Unfortunately, the need for this feature really extends over to our distributed algorithms and we just simply are not able to scale our benchmarks to reasonable sizes when our generators need to make c

[2020-05-06 01:05] #2192 closed

[2020-05-06 04:50] dantegd opened #2203 "[DOC] Update Python dev documentation"

[2020-05-06 06:02] teju85 commented on #2168
@divyegala can you re-check now that #2176 has been merged?

[2020-05-06 06:07] teju85 commented on #2097
@MatthiasKohl how about you pick up item no 2 and fix it properly? It should involve the following steps:
1. update [style.sh](https://github.com/rapidsai/cuml/blob/branch-0.14/ci/checks/style.sh#L45) to include all sub-folders of `cpp` which contain source and header files
2. Run the above script and make it pass on include_checker

[2020-05-06 14:26] MatthiasKohl opened #2206 "[BUG] DBScan propagating labels through non-core points"
**Describe the bug**
In DBScan, currently, labels are actually propagated through non-core points.
This is not how the original paper describes it, nor how it is implemented in scikit-learn.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Should produce same results as scikit-learn

[2020-05-06 14:26] MatthiasKohl commented on #2206
will be fixed by me along #2163 and #2164

[2020-05-06 18:16] Salonijain27 commented on #1879
Closed by PR #2131

[2020-05-06 18:16] #1879 closed

[2020-05-06 19:06] #1983 closed

[2020-05-06 22:34] dantegd commented on #2171
@ravusairam PR #2187 was merged, and some memberf of the team have confirmed that it does alleviate concerns of system libraries being prioritized for things like protobuf in the build. Will close this issue for now, but if you encounter it again feel free to reopen or opening other issues you run into. Thanks!

[2020-05-06 22:34] #2171 closed

[2020-05-07 11:51] cjnolet commented on #2104
Linking https://github.com/facebookresearch/faiss/issues/848

**Some notes about support for the rest of the scipy distances:**

Base metrics supported "out of the box" by FAISS:
- METRIC_INNER_PRODUCT
- METRIC_L1,
- METRIC_Linf
- METRIC_Lp metrics are supported (includes use of Index::metric_arg (C++))
- METRIC_Canberra
- METRIC_BrayCurtis
- METRIC_JensenShannon are available as well

Metrics tha

[2020-05-07 15:10] MatthiasKohl commented on #2097
@teju85 Thanks for the suggestions, opened PR #2213 for this

[2020-05-07 16:52] dantegd opened #2216 "[FEA] CumlArray/Base style configurable/automatic sparse support"
This issue is about creating input/output functionality, similar to the dense algorithms, for sparse inputs/outputs.

It seems to me there are 3 main formats we want to support:
1. cupy sparse array
2. scipy sparse array
3. cudf dataframes
4. cugraph objects perhaps?

So the first thing I would propose, is a new SparseCumlArray (SCA) that uses CumlArrays to be able to go sparse_format->SCA->sparse

[2020-05-07 17:47] cjnolet commented on #2216
Referencing this issue as well, as I think this issue would solve it: https://github.com/rapidsai/cuml/issues/1869

[2020-05-07 18:01] dantegd commented on #2216
@cjnolet totally missed that issue! Definitely two parts of the same issue :smile:

Do you think we need anything else beyond the 3 first formats I mentioned here?

[2020-05-07 19:07] Salonijain27 commented on #1934
For the above code:
The sklearn score fluctuates by a max difference of 0.02 with the mean being 0.87. However, the cuml RF r2 score ranges from 0.60 to 0.84 depending of the `random_state` value for `train_test_split` function

[2020-05-07 19:23] cjnolet commented on #574
@wickedfoo, understood. I think this state will be okay for an API like Scikit-learn because generally a user would train the model once and then call `kneighbors` on it multiple times. Ideally, they would also be able to save the model to disk.

I'm excited to support the PQ indices in cuML sometime in the near future and I've been investigating what it will take to integrate. It would really hel

[2020-05-07 19:40] JohnZed opened #2218 "Tracker for migration to native RaftHandle"

[2020-05-07 19:41] JohnZed commented on #1151
Comms integration can slip to beginning of 0.15 to ensure stability, but getting raft handle in is still high priority for 0.14.

[2020-05-07 20:01] Salonijain27 commented on #1934
@vishalmehta1991  @vinaydes  any idea why this is happening?

[2020-05-07 20:07] chaithyagr commented on #1675
Quick question, I found a wrapper: `cpp/src_prims/common/cub_wrapper.h`, which is primarily a .h file, as needed.
However, it includes cub.cuh , so by the rules, it must be a .cuh file.
It feels weird to make this change, and we use sort functions from cub.cuh

[2020-05-07 20:11] chaithyagr commented on #1675
I'm afraid, we need to use cuda_utils.h for `ceildiv`

[2020-05-08 00:21] ngs2410 opened #2219 "[BUG] Memory leak in cuml RandomForestClassifier?"
**Describe the bug**
Doing a large grid search (~4,000 iterations) using the cuml RandomForestClassifier results in permanent memory growth and the process eventually being killed.

**Steps/Code to reproduce bug**
Taking the example code from the cuml RandomForestClassifier in the documentation and bumping up the dataset size makes the behavior easy to spot. The growth is faster if doing .fit() an

[2020-05-08 04:45] teju85 commented on #1675
ah... good catch regarding `ceildiv`. Thanks @chaithyagr

[2020-05-08 04:47] teju85 commented on #1675
@chaithyagr regarding cub_wrapper, it must be named as `cub_wrapper.cuh` itself, as it calls cub device routines. In other words, files that include and use device-side methods from thrust and also from cub should just be named with `.cuh` extension (if they are headers) and `.cu` (if they are source files)

[2020-05-08 09:17] aerdem4 opened #2222 "[FEA] sample_weight for SVM"
**Is your feature request related to a problem? Please describe.**
I can't weight my samples on the current SVM implementation.

**Describe the solution you'd like**
In sklearn equivalent, I can use sample_weight while fitting on the data. I would like to have the same.

**Describe alternatives you've considered**
One alternative is to make the weights discrete and upsample the data based on that.

[2020-05-08 09:51] teju85 commented on #2222
@tfeher this sounds like a reasonable request to be added in your next deliverables on SVM. What say?

[2020-05-08 10:37] tfeher commented on #2222
Thanks @aerdem4 for opening this issue. Sample weights can be implemented together with class weights. The latter is already on our to do list for multi-class classification. This is just a small addition to that. We shall have this soon.

[2020-05-08 10:54] aerdem4 commented on #2222
Actually class weights are a small addition to sample weights, because once you have the sample weights it becomes very easy to implement the class weights. The user can also do it. Therefore, I believe that sample weights are more important since they are superset of class weights. Thank you very much for considering it.

[2020-05-08 13:16] chaithyagr commented on #1675
I think the majority of the changes are done.
As a wrap-up and in my opinion, a final step:

Although we could the changes, I feel there is a need to check the above rules in an actual CI script test.
I can compile some simple scripts I used in a bash file. This script, while doesn't completely model the actual set of rules stated, as I am not sure how to exactly be sure if a file has device funct

[2020-05-08 13:38] teju85 commented on #1675
@chaithyagr that's a good idea (I was planning to ask you about adding such a "checker" after the prims header rename PR was done!). Yes, adding such a check (inside `cpp/scripts/`) will certainly help guide devs to write cleaner code. I can help you with getting it enabled in our CI.

However, I'm not sure if IWYU and this check need to be in the same PR. I'd prefer if we did these 2 separately.

[2020-05-08 16:27] JohnZed commented on #2219
Thank you for reporting! Coincidentally, someone else just reported this yesterday, and we have begun work on a fix. Will keep this issue updated when the fix is ready.

[2020-05-08 18:08] #1553 closed

[2020-05-08 18:26] #2069 closed

[2020-05-09 03:39] raybellwaves commented on #1684
Something along these lines?
[code]

[2020-05-09 18:52] chaithyagr commented on #1675
I tried to add in most of checks in this one simple code:
`find -name '*.hpp' -or -name '*.h' -or -name '*.cpp' -or -name '*.c' | grep -v 'cpp\/build' | xargs grep "#include.*.cuh\|__device__\|threadIdx\|blockIdx"`

Currently here is the output, which lists all possibly bad cases:
[code]

The second part of checks, that is check if threadIdx and blockIdx exists is a very crude way to look for devi

[2020-05-10 02:56] teju85 commented on #1675
Why not use the `__global__` keyword reserved for kernel definitions, instead of threadIdx/blockIdx?

[2020-05-10 08:59] chaithyagr commented on #1675
Ahh, I forgot to add `__global__`.

Perhaps `threadIdx` and `blockIdx` could be used more so for warning.

[2020-05-10 19:24] jefferythewind opened #2229 "[BUG] ModuleNotFoundError: No module named 'cuml.utils' After Fresh Nightly Install"
"No module" error when importing cuml after fresh install of nightly

**Steps/Code to reproduce bug**
Create a new environment in conda, then run the installation code that is posted on the website, and try to import cuml. ( Note: i first installed the stable version, but ran into [this bug](https://github.com/rapidsai/cuml/issues/2141), and noticed it should be fixed in the nightly version, so I

[2020-05-10 23:25] jefferythewind commented on #2229
Just to the naked eye here, it does look like `cuml/metrics/_ranking.py` tries to import from `cuml.utils`, however, just by inspection I do not see the `utils` package inside `cuml`.

[2020-05-11 09:27] Nyrio opened #2232 "[ENH] Use verbosity and logger in ARIMA"
ARIMA needs to be updated to use the new verbosity level and the Cython and C++ logger.

_(please assign to me)_

[2020-05-11 09:33] Nyrio opened #2233 "[ENH] Avoid unnecessary allocations and memory transfers in ARIMA"
For small orders, the performance of ARIMA is limited by unnecessary allocations and copies, e.g:

- many arrays and matrices are allocated each time the log-likelihood is evaluated (which is done repeatedly in `fit`)
- in `predict`, the log-likelihood is unnecessarily copied to host though it is not needed
- etc

[2020-05-11 09:43] Nyrio opened #2234 "[FEA] Add alternative seasonality tests for auto-ARIMA"
The initial auto-ARIMA PR introduces the Wang, Smith & Hyndman's test to decide whether seasonal differencing is needed.

In the future it would also be nice to have other options such as:

- CH (Canova & Hansen, 1995)
- OCSB (Osborn, Chui, Smith & Birchenhall, 1988)
- HEGY? (Hylleberg, Engle, Granger & Yoo, 1990)

[2020-05-11 09:48] Nyrio opened #2235 "[FEA] Implement the STL decomposition in CUDA (Seasonal and Trend decomposition using Loess) to speed-up auto-ARIMA"
The seasonality test used in auto-ARIMA relies on the non-batched implementation of the STL decomposition provided by statsmodels for the seasonality test used to find D.
A CUDA implementation would speed-up this bit.

[2020-05-11 14:33] #968 closed

[2020-05-11 14:33] #2075 closed

[2020-05-11 15:19] dantegd opened #2236 "[FEA] Default to keep order in 'input_to_cuml_array`"
As suggested by @cjnolet, this feature makes the `order` parameter of `input_to_cuml_array` be mandatory when an algorithm requires specifically an F or C ordered matrix. This will improve clarity of the cython code, particularly for devs that have not worked in a certain algorithm, and will make it clearer that the correct order is being used.

Tasks:
- [ ] Change default `order` in `input_to_cum

[2020-05-11 15:24] Garfounkel commented on #2229
Thank you for reporting the issue. Although I was not able to reproduce it by running the commands you included with your issue report. Can you try again from a fresh conda environment? We recently moved everything from `cuml/utils` to `common` in #2214 so we will keep an eye on this issue.

[2020-05-11 15:37] jefferythewind commented on #2229
@Garfounkel I will go back and try again, but in fact before I created this bug report I did the exact steps, which entails creating and activating a fresh environment for the installation.

[2020-05-11 15:42] Garfounkel commented on #2229
Indeed, but on the latest version of the code `metrics/_ranking.py` imports from `cuml.common` which should not cause any error. https://github.com/rapidsai/cuml/blob/b8f1a6654b3e1ce31bb806ba814cb9d5e69e86ea/python/cuml/metrics/_ranking.py#L19-L20

[2020-05-11 15:45] Garfounkel commented on #2229
Actually, I just noticed that this commit https://github.com/rapidsai/cuml/commit/eeb288d0bf1dd9760ef86e99e28c2c30a34995b8 fixes this issue, so probably when you tried yesterday it was not merged in the nightly yet. It should work now. If you can confirm that it is working as intended now I will close the issue.

[2020-05-11 16:07] JohnZed commented on #2177
Related to #2215

[2020-05-11 16:17] JohnZed opened #2238 "[FEA] Begin testing with scikit-learn 0.23"
Also TODO: ping ops to update gpuci repo

[2020-05-11 16:26] JohnZed opened #2239 "[FEA] Pandas support for input_utils"

[2020-05-11 17:42] jefferythewind commented on #2229
@Garfounkel Yes I confirm that the steps I outlined above now no longer cause an issue. Thanks for your quick response here. I will let you close it out.

[2020-05-11 18:22] DavidEverlaw opened #2241 "[BUG] Supervised UMAP fitting fails with Euclidean target_metric"
**Describe the bug**
When fitting UMAP with target data using `target_metric = 'euclidean'`
The pipeline errors:
`
RuntimeError: Exception occured! file=/conda/conda-bld/libcuml_1588017329454/work/cpp/src_prims/sparse/csr.h line=414: FAIL: call='cudaGetLastError()'. Reason:invalid configuration argument
`

**Steps/Code to reproduce bug**
<details>
  <summary>Click to expand setup code</summary>

[

[2020-05-11 18:56] Garfounkel commented on #2229
Thank you @jefferythewind for confirming this is no longer an issue. Closing.

[2020-05-11 18:56] #2229 closed

[2020-05-11 18:57] cjnolet commented on #2241
@DavidEverlaw, thank you for filing this bug. I have verified that I am able to reproduce with the current nightly (0.14).

[2020-05-11 19:07] dantegd opened #2243 "[DOC] Update overall docstring for return type of predict/transform style functions"
The docstrings for all predict/transform style functions need to be updated to reflect the new configurable output types and default behavior.

[2020-05-11 21:57] #1990 closed

[2020-05-11 23:05] dantegd opened #2246 "[BUG] Sporadic mbsgd default pytest failure"
Happened in a couple of PRs, here is the error:

[code]

Link to example log: https://gpuci.gpuopenanalytics.com/blue/organizations/jenkins/rapidsai%2Fgpuci%2Fcuml%2Fprb%2Fcuml-gpu-build/detail/cuml-gpu-build/10809/pipeline

[2020-05-11 23:05] miguelusque opened #2247 "[BUG] DBSCAN issue when invoking fit_predict on a sliced dataframe"
**Describe the bug**
Hi!

After slicing a dataset with `.iloc ` before invoking `DBSCAN.fit_predict()` method, cuML produces an error where scikit-learn does not.

**Steps/Code to reproduce bug**

Please, find attached a repro file in pdf format:
[dbscan issue.pdf](https://github.com/rapidsai/cuml/files/4612515/dbscan.issue.pdf)

**Expected behavior**
No runtime error. Same behaviour than scikit-l

[2020-05-11 23:11] miguelusque commented on #2247
This is not an error. Apologies.

[2020-05-11 23:11] #2247 closed

[2020-05-12 00:15] levsnv commented on #2174
working on #2248

[2020-05-12 01:15] levsnv commented on #2174
currently, the FIL path does not work, looks like random predictions (see PR for trigger)

[2020-05-12 01:50] levsnv commented on #1679
python support for cuML RF going into review stage, tracked in #2174

[2020-05-12 04:37] cjnolet commented on #2241
@DavidEverlaw, I've found the issue and have opened https://github.com/rapidsai/cuml/pull/2249 with the fix.

[2020-05-12 14:58] divyegala opened #2250 "[FEA] `build_pred_or_trans_arys` from `cuml.common.opg_data_utils_mg` to have more initialization functionality"
Introduced in #2231, this function initializes a list of `CumlArray.zeros`. Instead, we could be passing the init function for the array as a function to this function, to allow for more user control in building arrays. In that case, this could possibly be used for initializing the input data as `CumlArray`. Furthermore, a more descriptive name to this function to encompass the more well-rounded f

[2020-05-12 16:11] Garfounkel commented on #1982
This issue was closed in #2131.

[2020-05-12 16:11] #1982 closed

[2020-05-12 16:22] #2239 closed

[2020-05-12 16:22] #2241 closed

[2020-05-12 23:13] gumdropsteve opened #2253 "[QST] client=??? for cuml.dask.linear_model LinearRegression"
**What is your question?**
Noticed that by default `client=None` for for cuml.dask.linear_model LinearRegression, but it also runs when I pass in my dask.distributed Client that's found;
[code]

Wondering, is passing in `client=client` different from leaving the default `client=None`?

Why is default `client=None`, and what cuML does when `client=None`?

[2020-05-13 06:08] nikiforov-sm commented on #1998
It seems to be not working correctly with shuffle=True:

[code]

But it works with shuffle=False.
Version = 0.14.0a+2432.g612e973

[2020-05-13 10:39] nikiforov-sm commented on #1998
The same error if we use dask_dataframe.sample to get 50% of dataset to the CUDA:

[code]

[2020-05-13 10:57] nikiforov-sm commented on #1998
@JamesMaki  @Salonijain27
Given all the methods currently used to reduce the size of the original dataset (500_000_000 rows * 100 columns) due to an OOM error, I have two questions:
1. Will the OOM error be fixed when using a cluster of two DGX-2 with full dataset? Can the cluster use shared memory?
2. Are you considering a revision to reduce the size of artifacts (metadata) for dask_cuda.RandomFo

[2020-05-13 13:30] dantegd commented on #2253
What happens when you call the `cuml.dask` algorithms with `client=None` (the default value), they call `dask.distributed` default_client function:

https://github.com/rapidsai/cuml/blob/51c90b260ac49da0445f5c3665d30750614bc864/python/cuml/dask/common/base.py#L38

Which gets the current "global client" of Dask/distributed. For basic usage, for example when no client has been explicitly created by

[2020-05-14 01:02] gumdropsteve commented on #2253
Ok thanks!

[2020-05-14 01:02] #2253 closed

[2020-05-14 08:34] kalyaneces commented on #607
Is there any update on this ?

[2020-05-14 08:38] teju85 commented on #607
This should have been fixed in 0.13 release itself. Can you folks retry this using our latest release, @doggyChe and @kalyaneces ?

[2020-05-14 10:54] kalyaneces commented on #607
@teju85 Thanks for the reply. still facing the issue. I am using 0.13

libcudf                   0.13.0               cuda10.2_0    rapidsai
libcugraph                0.13.0               cuda10.2_0    rapidsai
libcuml                   0.13.0               cuda10.2_0    rapidsai

Every 0.1s: nvidia-smi

[2020-05-14 16:19] #1731 closed

[2020-05-14 16:20] #1645 closed

[2020-05-14 17:34] cjnolet commented on #2104
## Cosine
[code]

## Correllation
[code]

[2020-05-14 19:50] JohnZed commented on #1834
Updated approach uses CumlArray but does not use prediction mixin yet.

[2020-05-15 13:22] arnoldrw opened #2266 "[FEA] Predict class probabilities for MGSGDClassifier"
**Is your feature request related to a problem? Please describe.**
I would like to be able to use MGSGDClassifier to predict class probabilities.

**Describe the solution you'd like**
Implementation in a predict_proba method similar to what was done for random forest
https://docs.rapids.ai/api/cuml/nightly/api.html?highlight=predict_proba#cuml.dask.ensemble.RandomForestClassifier.predict_proba

an

[2020-05-16 11:55] chaithyagr commented on #1020
Hello, @cjnolet is anyone working on this?
I would not mind working on this in some of my free time.
Please let me know about the status of this issue and also where I can find the earlier implementations.

[2020-05-16 11:56] chaithyagr commented on #1020
Also, isnt this issue related/dup of #593 ?

[2020-05-16 12:02] chaithyagr commented on #2035
@teju85 is anyone working on this? I may need to read some theory, but can I work on this if possible?

[2020-05-16 15:05] dantegd commented on #1020
@chaithyagr the tasks are related. This task is just about bringing the code up to date with the current status of cuML branch-0.14/.15 regarding coding standards, folder structure etc. #593 is a checklist beyond that of tasks that still need to be done after that.

To my knowledge no one is working on this currently.

[2020-05-16 21:36] MehdiAbbanaBennani commented on #1020
Hi there ! I hope you are well :)
Please don't hesitate if you have any questions on the code, I will be very happy to help :)

[2020-05-18 08:25] teju85 commented on #2035
@chaithyagr So far nobody. Yes, sounds like a good next step for you! You can start by looking at corresponding sklearn [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.QuantileTransformer.html) as well as the [code](https://github.com/scikit-learn/scikit-learn/blob/483cd3eaa/sklearn/preprocessing/_data.py#L2144). Also, like I mentioned above, most of it shou

[2020-05-18 08:37] wxbn commented on #2040
It seems like the cuML documentation is now up to date with the one of UMAP-learn.

[2020-05-18 08:38] #2040 closed

[2020-05-18 10:36] nikiforov-sm commented on #1998
@JamesMaki @Salonijain27
The errors mentioned [here](https://github.com/rapidsai/cuml/issues/1998#issuecomment-627767083) and [here](https://github.com/rapidsai/cuml/issues/1998#issuecomment-627900649) are also present in version 0.14.0a+2783.g1e5a5dd

[2020-05-18 15:02] #1761 closed

[2020-05-18 17:06] Nyrio opened #2273 "[BUG] `input_to_cuml_array` fails to handle numpy array views in Fortran order"
**Describe the bug**
See the short example below.

**Steps/Code to reproduce bug**

[code]

**Expected behavior**
The device array should have exactly the same content as the given numpy ndarray.

[2020-05-19 00:00] #2110 closed

[2020-05-19 14:23] ravusairam opened #2278 "[BUG]cuml 0.13 fails to build as cub version v1.8.0 is unavailable"
cuml 0.13 is unable to build after doing "./build.sh", as git was unable to checkout "cub v1.8.0". When I changed to "cub 1.8.0" it seemed to be building. May be third party version should be in sync with the tag names. I think the same issue will be there in cuml 0.14 aswell.
![image](https://user-images.githubusercontent.com/1856446/82338232-466b2980-9a0a-11ea-8034-feba89eee269.png)

[2020-05-19 17:03] Nanthini10 commented on #2278
Thanks for pointing this out! This is a problem in 0.13, it's fixed in 0.14. Will post the fix for 0.13 soon

[2020-05-19 18:57] Salonijain27 commented on #1998
Here: https://github.com/rapidsai/cuml/issues/1998#issuecomment-627767083 and https://github.com/rapidsai/cuml/issues/1998#issuecomment-627900649 , you are passing dask_cudf dataframe and dask_cudf series into the dask-ml function `train_test_split`. The `train_test_split` function uses a series function `.sample` (https://docs.dask.org/en/latest/dataframe-api.html?highlight=series#dask.dataframe.

[2020-05-19 22:40] jakirkham commented on #1513
Issue ( https://github.com/cupy/cupy/issues/3314 ) is potentially related.

[2020-05-20 04:27] JohnZed commented on #1998
@nikiforov-sm to follow up on your questions:
 (1) Yes, a cluster of two DGX-2s should roughly double the amount of data you can use for training. (Note that for inference the full tree still needs to be able to fit in each worker though, so there will always be limits for extreme large tree size.)
 (2) We're always looking for ways to improve memory consumption for RF and related algorithms. We h

[2020-05-20 05:36] varun992 commented on #1042
Hi,

Is there any update on this? The lack of hyper parameter optimization methods through dask xgboost is seriously limiting users to be able to adapt to dask as a production solution.

Regards,
Varun

[2020-05-20 05:39] levsnv commented on #2174
@JohnZed suggests to move to 0.15. The feature mostly works (except for Dask, see linked PR inside PR), but there are some design discussions to finalize to make it robust.

[2020-05-20 05:41] levsnv commented on #2174
once 0.15 branches are created, I will open a new PR for that branch.

[2020-05-20 08:07] nikiforov-sm commented on #1998
@Salonijain27  @JohnZed
Thank you for the updates.

[2020-05-20 16:03] Nanthini10 commented on #2278
Closed by https://github.com/rapidsai/cuml/pull/2277

[2020-05-20 16:03] #2278 closed

[2020-05-20 16:47] gfiameni commented on #2012
Hi all, I interested into the weighted version of the Jaccard Score (sklearn.metrics.jaccard_score(.., .., average='weighted')). May I ask if there is any tentative release date for this?
Thanks!

[2020-05-20 22:16] hcho3 opened #2286 "[BUG] test_regressor_pickle test failing for LogisticRegression"
**Describe the bug**
The unit test `python/cuml/test/test_pickle.py::test_regressor_pickle[True-data_size0-LogisticRegression-float32]` is failing.

**Steps/Code to reproduce bug**
1. Check out the latest source from branch-0.14. I used commit b25c43627a420436f2921e3b43745441c924f4f2.
2. Build cuML:
[code]
3. Run the test:
[code]

Error log:
[code]

**Expected behavior**
The test should pass.

**E

[2020-05-21 16:04] Nanthini10 commented on #1913
What version of cuml are your using?

With `'0.14.0a+2783.g1e5a5dd40'`, I am able to import TSNE

[2020-05-21 18:35] dantegd commented on #2286
Interesting, this test is passing both in CI as well as locally for me without issues. Could you attach the output of https://github.com/rapidsai/cuml/blob/branch-0.14/print_env.sh ? That would be useful to narrow down why this could be happening.

[2020-05-21 19:21] JohnZed opened #2296 "Release 0.14 checklist"
Recurring tasks before each release:

**New algorithm support:**
- [x] Each new algorithm added to API docs
- [x] Each new algorithm added to README
- [ ] Blog posts planned for new algos as appropriate (John)

**Docs and examples:**
- [x] Built API docs & checked for formatting
- [x] Verified & updated API docs
- [ ] Confirmed notebooks & notebooks-extended are working

**Additional testing:**
-

[2020-05-21 19:22] JohnZed commented on #2219
Closed by #2265 and #2282

[2020-05-21 19:22] #2219 closed

[2020-05-21 19:24] JohnZed commented on #2177
Closed by #2215

[2020-05-21 19:24] #2177 closed

[2020-05-21 19:29] JohnZed opened #2297 "[TASK] Test FIL with latest XGBoost 1.1"

[2020-05-21 19:29] JohnZed opened #2298 "[BUG] New notebooks and docs from index.rst not displaying on docs.rapids.ai"

[2020-05-21 19:39] JohnZed opened #2299 "[BUG] clean up small test failures in MNMG nightlies"
Mostly - expanding test set sizes as GPUs increase

[2020-05-21 19:45] hcho3 commented on #2286
Here is the output from `print_env.sh`:

<details><summary>Click here to see environment details</summary><pre>

     **git***
     commit 465c7c47776e408a272fe428b203015d822efe4b (HEAD -> branch-0.14, origin/branch-0.14, origin/HEAD)
     Merge: 070b2fdd1 b03aa0621
     Author: Dante Gama Dessavre <dante.gamadessavre@gmail.com>
     Date:   Thu May 21 08:54:45 2020 -0500

     Merge pull request

[2020-05-21 19:46] JohnZed commented on #2296
@dantegd :

* Add elasticnet, etc. MNMG -> to API docs
* Make_classification -> api docs
* make_arima -> api docs
* OneHotEncoder -> api docs

[2020-05-21 19:49] JohnZed commented on #2296
@Salonijain27 - to run stress tests

[2020-05-21 20:08] hcho3 commented on #2286
Upgrading cuDF and RMM to latest nightlies fixed the problem.
[code]

[2020-05-21 20:08] #2286 closed

[2020-05-21 21:14] cjnolet commented on #2299
Here's the error for the dist KNN. It's a pretty trivial one.
[code]

[2020-05-21 22:01] Salonijain27 opened #2300 "[BUG] RF when n_bins > num samples the fit is not right"
When n_bins > number of samples (num_rows) for Random Forest, code in decisiontree_imp.cuh throw a warning :
`Calling with number of bins > number of rows!` and sets `n_bins=n_rows`
However, the tree built when this happens is equal to the tree built when `n_bins=1`.
The tree build when n_bins is manually set to n_rows the tree built is different.

Ex:
(default n_bins is used below, default value

[2020-05-22 00:01] cjnolet opened #2303 "[FEA] Create fixture for client in Dask tests"
We currently have a Dask test fixture for the Dask cluster and each individual test needs to create and close their own client. @dantegd recently found a bug in the tests that was caused by not closing a client, which was affecting other tests downstream. (It's likely I might have been the cause of this bug...).

We should consider exposing the client through the fixture, rather than the cluster,

[2020-05-22 03:13] #2273 closed

[2020-05-22 15:56] MatthiasKohl opened #2306 "[FEA] DBScan connected components performance improvements"
**Is your feature request related to a problem? Please describe.**
There could be a few issues with DBScan related to its performance, specifically the connected components part:

1. For now, it seems like the distance matrix calculation is always the bottleneck. However, if the distance matrix is neither extremely sparse nor extremely dense then the bottleneck could be in the connected components

[2020-05-22 16:08] drobison00 commented on #2238
Tested with CI container 0.21.3 baseline, as well as 0.22.1, and 0.23.1 on the Ubuntu 18.04 py37 container, everything passes.

[2020-05-22 16:09] nikiforov-sm commented on #1998
@Salonijain27  @JamesMaki
We have an error with predict after dask.sample

[code]

[2020-05-22 17:05] #2238 closed

[2020-05-22 23:13] JohnZed commented on #1042
Hi, @varun992 - Please check out the new XGBoost (and random forest) examples on Dask here: https://github.com/rapidsai/cloud-ml-examples/tree/master/dask

Please let us know how it goes!

[2020-05-22 23:13] #1042 closed

[2020-05-23 00:48] #2299 closed

[2020-05-24 09:54] nikiforov-sm commented on #1998
Due to the lack of the ability to use shuffle in train_test_split, we switched to shuffling dask_dataframe.
But now we have an error in predicting if we train the model for the collection of data from a file:

[code]

[2020-05-24 10:52] nikiforov-sm commented on #1998
We have error with unpickling pickled cuml.dask.RFR.
But I found [[FEA] Saving and loading of distributed models #1841](https://github.com/rapidsai/cuml/issues/1841) and it's open.
Are there any alternative solutions for saving and loading pre-trained cuml.dask.RFR?

[2020-05-25 01:48] ybdesire opened #2311 "[FEA] Provide access to cuml.DBSCAN core samples"
**What is your question?**

Is it possible for `cuml.DBSCAN` return core samples as `sklearn.cluster.DBSCAN` attribute `core_sample_indices_`? Or How can we get the `cuml.DBSCAN` core samples ?

I checked the cuML doc but still not find such api.

[2020-05-25 08:00] teju85 opened #2313 "[FEA] go back to using C++ make_blobs at python layer"
**Is your feature request related to a problem? Please describe.**
Previously, C++ `make_blobs` only supported row-major outputs. Thus, at python layer it was reimplemented using cupy for flexibility. Now, with PR #2312 , it is better to go back to using C++ version itself.

**Describe the solution you'd like**
Go back to using `make_blobs` from C++ for the python layer.

Tagging @cjnolet and @div

[2020-05-26 14:59] dibyendu commented on #2167
I got the same error on my NVIDIA Pascal series cards.

[code]

[code]

[code]

[2020-05-26 15:07] dibyendu opened #2315 "[BUG] no kernel image is available for execution on the device"

[2020-05-26 15:32] #2315 closed

[2020-05-26 15:38] mike-wendt opened #2317 "Remove hard-coded ucx-py version"
In #2264 ucx-py was hard coded to use 0.14 on the 0.15 branch. This is not the correct process and needs to be reverted.

In the future if this occurs, ask ops for help in releasing the 0.15 ucx-py nightly or file a PR [here](https://github.com/rapidsai/ucx-split-feedstock) updating this [axis](https://github.com/rapidsai/ucx-split-feedstock/blob/master/ci/axis/nightly.yml) file to build the night

[2020-05-26 16:27] njan-creative opened #2318 "[BUG] PCA fit_transform works but not transform after that"
**Describe the bug**

In case of PCA only fit_transform reduces the columns.
After that transform does not reduce the columns.

**Steps/Code to reproduce bug**

[code]

**Expected behavior**
Expected output :
[code]

First fit_transform reduces it to 800 columns
After that the transform returns the actual number of columns without transforming.
Current output :
[code]

**Environment details (pleas

[2020-05-26 18:22] andreliuNV opened #2321 "[FEA] Add parameter to run only CPU or GPU portions of benchmarks"
**Is your feature request related to a problem? Please describe.**

For benchmarking CuML performance against platforms that do not have NVIDIA GPUs (Mac, for example) it would be beneficial to be able to run just the CPU portions of these benchmarks, and gather the performance numbers for a comparison against a platform with NVIDIA GPUs.

**Describe the solution you'd like**

A parameter or varia

[2020-05-26 19:11] Nanthini10 commented on #2318
Can you tell me what version of cuml are you running and what is the type of `tr_input`? I was not able to reproduce this error on cuml version `'0.14.0a+2783.g1e5a5dd40'
`

Here is the code

[code]

**Output:**
[code]

[2020-05-26 19:11] wxbn commented on #2167
It is essential to check both the architecture and the CUDA compute capability of the card. The GeForce GTX TITAN X has CUDA compute capability 5.2 whereas RAPIDS libraries are only compatible with cards having CUDA compute capability of at least 6.0.

[2020-05-26 19:40] JohnZed commented on #2296
@Nanthini10 doing a run-through of notebooks-contrib cuml notebooks

[2020-05-26 19:40] Salonijain27 commented on #2297
I ran test_fil.py file for unit test, quality test and stress tests, using CUDA-10.2. The unit tests ran successfully.
While running the quality and stress tests the code would use dense FIL models which would cause the code to run out of memory.
Updated the FIL code to use `auto` options for algo and storage_type parmeters. This helps to update the tests to use the sparse FIL models for predictio

[2020-05-26 23:38] Salonijain27 commented on #2296
so far the stress tests like in the previous release crashes without any stack trace for mbsgd classifier and mbsgd regressor

[2020-05-27 03:15] njan-creative commented on #2318
Can you let me know where I can get the version from ?

[2020-05-27 04:25] dantegd opened #2327 "[TASK] Make verbosity level int value consistent between Python and C++"
After PR #2323 the Python cuML package has a behavior similar to Scikit-learn: higher verbosity value means more verbose printing. The C++ layer currently has the opposite behavior: https://github.com/rapidsai/cuml/blob/7cccddd075b3ce1ffe57e5895173208e15a8dbbb/cpp/include/cuml/common/logger.hpp#L52

This task captures the need for the C++ behavior to be consistent with the Python one.

[2020-05-27 14:27] Nanthini10 commented on #2318
If you pull the latest 0.14 branch on the cuml repository, it should be available.

`git clone -b branch-0.14 https://github.com/rapidsai/cuml.git`

This version is currently not available in Kaggle.

[2020-05-27 16:07] dantegd opened #2331 "[BUG] Reduce time to run slow running notebooks in CI"
Notebooks are now tested as part of PR CI. Here are (roughly) the times taken for the notebooks, as reported by the `real` time metric in seconds:

linear_regression_demo: 718
nearest_neighbors_demo: 55.2
random_forest_demo: 43.1
forest_inference_demo: 36
arima_demo: 31.2
kmeans_demo: 10.2

Clearly, 12 minutes to run the linear regression notebook is too much of a hit for a single notebook, so tha

[2020-05-27 16:22] dantegd commented on #2318
@njan-creative release 0.14 is expected in general to be done very soon, so availability in the kaggle should follow not long thereafter. It might also be possible to install a nightly build from conda in there, but I'm not sure since I haven't tried it.

[2020-05-27 18:07] njan-creative commented on #2318
thanks for the update.

[2020-05-27 18:07] #2318 closed

[2020-05-27 18:25] Salonijain27 opened #2332 "[BUG] Stress test failures 0.14"
On running the stress test for 0.14 the following failures were observed:
1. in test_arima.py file the `test_integration[float64-key8-data8]` throws an assertion error :
[code]
2. The mbsgd classifier and mbsgd regressor tests crash without any stack trace (as seen in previous release)

[2020-05-27 18:26] Salonijain27 commented on #2296
Created the issue #2332  to document and keep track of the stress test results

[2020-05-27 19:51] Salonijain27 commented on #1998
Sorry, but at the moment the pickling and unpickling of dask RF models is not supported.
Also, I am looking into the error posted above :
https://github.com/rapidsai/cuml/issues/1998#issuecomment-633206582

[2020-05-27 20:26] Salonijain27 commented on #1998
One option is to call the internal dask rf python function `_concat_treelite_models` and then pickle the model returned. ex:
[code]
The output of `_concat_treelite_models` is the model used to predict the labels on different workers in dask RF.
Once this model is pickled you can unpickle the model and then treat it as a non dask RF model. You can then pass chunks of/ entire (depending on the size

[2020-05-27 22:20] DavidEverlaw opened #2333 "[BUG] Semi-Supervised UMAP, with euclidean target_metric, reduction errors when input passes a certain size."
**Describe the bug**
UMAP errors for supervised reduction with different sized input when using target labels and a `target_metric` of `euclidean`

**Steps/Code to reproduce bug**

*Categorical Metric Working Input*
[code]
*Categorical Output*
[code]

*Euclidean Metric Erroring Input*
[code]
*Output with error*
[code]

**Expected behavior**
`fit_transform` should not error with `euclidean` `target

[2020-05-27 22:22] DavidEverlaw commented on #2333
https://github.com/rapidsai/cuml/issues/1604
Possibly related

[2020-05-27 23:14] cjnolet commented on #2333
Linking to https://github.com/rapidsai/cuml/issues/2241. Looking into this.

[2020-05-28 08:13] ybdesire commented on #2311
@teju85 Would it be possible to share some info about the question ?

[2020-05-28 10:52] teju85 commented on #2311
@ybdesire currently even the underlying C++ implementation does not expose core samples information. How important is this information for you? (to help us prioritize this accordingly)

Also tagging @MatthiasKohl who's currently working on further improving dbscan implementation.

[2020-05-28 11:08] MatthiasKohl commented on #2311
As @teju85 writes, this would require a feature request. However, especially with the latest changes to DBScan, this would be quite a simple feature to implement.
Please keep me in the loop once this is prioritized.

[2020-05-28 13:55] Nyrio commented on #2332
A relative difference of 0.01 for the ARIMA integration test is ok (the two implementations are quite different). I can't reproduce, but I'll change the margins or use a better comparison metrics (e.g MASE). Do we need a fix for 0.14 or 0.15?

[2020-05-28 19:09] cjnolet commented on #2296
I ran the benchmarks notebook but T-SNE was taking a significantly longer time than expected. Looking into it.

[2020-05-28 19:36] JohnZed opened #2343 "[TASK] Double-check all links in README.md"

[2020-05-28 21:13] jakirkham opened #2344 "[FEA] Drop numba_utils"
**Is your feature request related to a problem? Please describe.**

The [`numba_utils`]( https://github.com/rapidsai/cuml/blob/6bb2c5b1daa96f953e76eb859915e1c0267c8339/python/cuml/common/numba_utils.py#L1 ) module is deprecated. It's functionality can be reproduced simply by just using CuPy or Numba these days.

**Describe the solution you'd like**

Would be good to rewrite any usages of `numba_ut

[2020-05-29 07:03] nikiforov-sm commented on #1998
@Salonijain27
Thank you for this update.
Option to call _concat_treelite_models works.

[2020-05-29 15:28] ybdesire commented on #2311
Thanks @teju85 for the update.
core sample points could be used for incremental cluster (merge new sample to exists cluster if similar as core points). Also keep the API the same as sklearn is great for code compatible.

[2020-05-29 17:05] beckernick commented on #1523
This looks to be closed by #1814 .

Closing

[2020-05-29 17:05] #1523 closed

[2020-05-29 19:19] divyegala opened #2346 "[BUG] Delete `tsvd_spmg.h`"
Since we are not supporting SPMG APIs anymore, we can go ahead and delete https://github.com/rapidsai/cuml/blob/branch-0.15/cpp/src/tsvd/tsvd_spmg.h

[2020-05-29 21:14] #2327 closed

[2020-05-29 21:17] #129 closed

[2020-05-29 21:17] #130 closed

[2020-05-29 21:17] #131 closed

[2020-05-29 21:18] #93 closed

[2020-05-29 21:18] #59 closed

[2020-05-29 21:19] #304 closed

[2020-05-29 21:19] #324 closed

[2020-05-29 21:20] #320 closed

[2020-05-29 21:21] dantegd commented on #310
Kalman Filter is no longer supported in cuML

[2020-05-29 21:21] #310 closed

[2020-05-29 21:21] dantegd commented on #281
Scikit-learn is not a runtime dependency for users as of 0.15

[2020-05-29 21:21] #281 closed

[2020-05-29 21:22] dantegd commented on #241
The new spdlog based loggging exposed with the `verbose` parameter fills this need.

[2020-05-29 21:22] #241 closed

[2020-05-29 21:23] #227 closed

[2020-05-29 21:23] #221 closed

[2020-05-29 22:45] dantegd commented on #451
This has been enabled in nightly CI tests:

https://github.com/rapidsai/cuml/blob/2774154e8a034032b0d492b4d665b4cfadf94d92/ci/gpu/build.sh#L165

[2020-05-29 22:48] #899 closed

[2020-05-29 22:48] #416 closed

[2020-05-29 22:49] #403 closed

[2020-05-29 22:54] #656 closed

[2020-05-29 22:56] #629 closed

[2020-05-29 22:58] #615 closed

[2020-05-29 22:59] #569 closed

[2020-05-30 00:02] #856 closed

[2020-05-30 00:02] #858 closed

[2020-05-30 00:07] dantegd commented on #825
If I'm not mistaken, the conda openmpi package has had cuda awareness for a while (enabled with the environment variable `OMPI_MCA_opal_cuda_support=true` before launching mpi jobs), so we can close this

[2020-05-30 00:07] #825 closed

[2020-05-30 00:09] #906 closed

[2020-05-30 00:10] #903 closed

[2020-05-30 00:10] #901 closed

[2020-05-30 00:10] #898 closed

[2020-05-30 00:10] #897 closed

[2020-05-30 00:12] #1105 closed

[2020-05-30 00:12] dantegd commented on #1096
@Salonijain27 can this issue be closed?

[2020-05-30 00:46] jakirkham commented on #825
Yeah that sounds right. If there are issues, please feel free to let us know [here]( https://github.com/conda-forge/openmpi-feedstock/issues ).

[2020-05-30 02:15] Salonijain27 commented on #1096
yes

[2020-05-30 02:15] #1096 closed

[2020-05-30 02:46] teju85 commented on #451
Sorry, reopening this for some discussions...
@dantegd is there any confirmation for our nightly CI is indeed running cuda-memcheck?

Another point: this issue particularly tries to enable `./test/ml` with cuda-memcheck. However, the current nightly CI logic only has enabled `./test/prims`.

[2020-05-30 04:16] drscotthawley opened #2347 "[FEA] Speed up conda environment solve for Colab notebooks"
**Is your feature request related to a problem? Please describe.**

I've started up the [sample Conda notebook](https://colab.research.google.com/drive/1rY7Ln6rEE1pOlfSHCYOVaqt8OvDO35J0#forceEdit=true&offline=true&sandboxMode=true)  and the initial install is *taking forever* because `conda` is stuck on "Solving Environment" for the `conda-forge` channel:

[code]
^ And it's been stuck there for 30

[2020-05-30 04:45] drscotthawley opened #2348 "[BUG] Example Colab notebook: AttributeError: module 'cudf' has no attribute '_lib'"
**Describe the bug**

**EDIT:** At the time of writing I didn't realize cuML and cuDF are in different repo's.  The error appears whether one executes `import cuml` and/or `import cudf`, but since it seems to be cuDF-specific, perhaps this bug report should be closed & a new one started in the cuDF repo instead?

I'm really excited to try out your package!
I just [opened a Feature Request](https:/

[2020-05-30 10:57] BlackHC opened #2349 "[BUG] Cannot install cuml=0.13 with conda"
**Describe the bug**
I cannot install cuml=0.13 with conda in a new environment.

**Steps/Code to reproduce bug**

[code]

**Expected behavior**
Finding a way to install cuml.

**Environment details (please complete the following information):**
 - Environment location: Bare-metal
 - Linux Distro/Architecture: Ubuntu 18.04 amd64
 - GPU Model/Driver: 1080Ti and driver 430.64
 - CUDA: 10.1
 - Method

[2020-06-01 03:52] aj-prime opened #2351 "[QST]Running cuML with NCCL and MPI"
I was wondering how I can run cuML with NCCL and MPI.

I am able to run a distributed sample code (nearest neighbor given as an example) on two workers.
It looks like this code is using pt2pt UCX communication. Is there any algorithm that uses NCCL collectives?

[2020-06-01 07:02] teju85 commented on #607
Sorry for the delayed response.

@dantegd this seems to be an issue with our memory utils? Any idea what's causing this?

[2020-06-01 12:38] nikiforov-sm commented on #1998
@Salonijain27
Did you manage to reproduce the error with predicting with shuffled dask_dataframe?

[2020-06-01 14:22] dantegd commented on #607
This is an out of memory issue:
[code]

at the end of the log, and GPU 0 has almost no free memory so this seems expected:

[code]

@kalyaneces you can control which GPU is used by setting the `CUDA_VISIBLE_DEVICES` environment variable

[2020-06-01 14:32] cjnolet commented on #2351
Hi @aj-prime,

All of the distributed algorithms that use the [C++ communications layer](https://github.com/rapidsai/cuml/blob/branch-0.15/cpp/src_prims/common/cuml_comms_iface.hpp) API use NCCL currently. For example, the distributed nearest neighbors implementation uses it to broadcast batches to other ranks. UCX is used there to `gather` the results of each batch since the NCCL public API doesn

[2020-06-01 14:38] Salonijain27 commented on #1998
Hi, @nikiforov-sm,
I was able to reproduce the error. The problem was that when you load the dataset from the csv file, the data returned is of `dtype=np.float64`. I created a PR #2099 to throw an assertion error when float64 data is used for Dask RF

[2020-06-01 15:20] Salonijain27 commented on #2332
Need to update cuml/test/test_pca.py  so that:
[code]
is only checked when we run the sklearn model.
Since the code skips the sklearn model for stress tests, we see an error while running the stress tests for pca

We need to increase the `SCORE_ESP` value in cuml/test/kmeans.py for `test_score` function:
[code]
[code]

[2020-06-01 15:22] Salonijain27 commented on #2332
@Nyrio  this happens when i run the stress test  for arima:
`pytest --pdb python/cuml/test/test_arima.py -v -s --run_stress`
and thank you!

[2020-06-01 15:43] Nanthini10 commented on #2349
I'm unable to reproduce this error.

Can you try uninstalling conda and reinstalling or creating a new environment?

I a new env, you could try ensuring that the specified packages satisfy the requirements to rule out that as the issue. If they don't satisfy, install the required versions.

[2020-06-01 15:48] JohnZed opened #2352 "[FEA] Initial integration with SHAP - Python layer"

[2020-06-01 15:49] JohnZed opened #2353 "[FEA] Auto ARIMA support"

[2020-06-01 15:52] BlackHC commented on #2349
I've created a new environment, hence the empty conda list.

I have the same issue on two separate machines.

[2020-06-01 15:54] #1830 closed

[2020-06-01 16:03] nikiforov-sm commented on #1998
Hi, @Salonijain27
Thank you for the update.
The same error produced if I have ```dtype=float32``` by reading csv with ```.astype('float32')```:
[code]
instead
[code]

[2020-06-01 16:04] Salonijain27 commented on #2332
Just like in previous release the `python/cuml/test/test_umap.py::test_umap_fit_transform_score[1000-500000]` test gets  `Killed`

In `dask/test/test_kmeans.py` the condition for updating `n_parts` needs to be updated.
https://github.com/rapidsai/cuml/blob/6bb2c5b1daa96f953e76eb859915e1c0267c8339/python/cuml/test/dask/test_kmeans.py#L79

Here the assert condition to check :
`assert len(cumlLabels.

[2020-06-01 16:14] Salonijain27 commented on #1854
cython refactor PR : #2237

[2020-06-01 16:16] JohnZed commented on #1854
Pickling will be handled as part of general distributed model pickling cleanup.

[2020-06-01 16:16] #1854 closed

[2020-06-01 16:20] JohnZed commented on #1379
Outdated by CumlArray and related

[2020-06-01 16:20] #1379 closed

[2020-06-01 16:21] JohnZed opened #2355 "[FEA] Port cuML to use RAFT C++ comms"
Requires raftHandle in cuML

[2020-06-01 16:35] dantegd commented on #2349
This is a totally new conflict I hadn't seen. It seems to be having an issue between ucx and openmp:

[code]

which I'm a bit confused. @BlackHC could you run this script: https://github.com/rapidsai/cuml/blob/branch-0.15/print_env.sh that'll help knowing a few more details that'll help clue this in.

cc @jakirkham who might be able to help more than me

[2020-06-01 16:42] JohnZed commented on #2332
@divyegala can you take a look at the MBSGD crash? Feel free to ping @dantegd as well

[2020-06-01 16:44] JohnZed commented on #2332
@Salonijain27 to fix kmeans test issue with n_parts

[2020-06-01 17:11] cjnolet opened #2358 "[BUG] T-SNE freezing in benchmarks"
The T-SNE benchmark is locking up, sometimes after the first and sometimes after the second benchmark. From time to time, it locks up before any of the benchmarks get completed.

I added some debug statements to determine that it's locking up in the C++ layer but I have yet to determine exactly where. It's locking up in both the 0.14 and 0.15 environments.

[2020-06-01 17:23] teju85 commented on #1863
this is now already part of 0.15. Closing.

[2020-06-01 17:23] #1863 closed

[2020-06-01 17:24] cjnolet opened #2359 "[BUG] Random projection crashing in benchmarks notebook"
I've been able to reproduce this on both branch-0.14 and branch-0.15. i don't get any logging output and the kernel just restarts. I have not  yet verified whether or not this is happening in the python or C++ layer.

[2020-06-01 17:35] arnoldrw opened #2360 "[BUG] Misleading input type error message for SGD"
**Describe the bug**
When calling MBSGDClassifier.fit with a column of type float64, an error message is thrown stating

This is confusing, as the input is of type float64. The actual expected input type is float32 in this instance, so the error message should be flipped eg:

TypeError: Expected input to be of type in float32 but got float64

**Steps/Code to reproduce bug**
See attached.
[sgd_wron

[2020-06-01 17:39] arnoldrw commented on #2123
@dantegd we have been advised that this is due to including the index in the csv write in step 1. Attached is an updated version that reads from a csv that doesn't include the index and adds an additional column that does not suffer from this issue.
[add_a_column.zip](https://github.com/rapidsai/cuml/files/4712664/add_a_column.zip)

@paulhendricks for visibility

[2020-06-01 19:40] JohnZed opened #2361 "[FEA] Update HoltWinters to use CumlArray"
Breaking this out from #1716 as it is the last remaining model that needs conversion. Maybe not "good first issue", it it has a few complexities. Maybe a "good second issue" though?

[2020-06-02 16:45] isaienkov opened #2366 "[QST] Memory leakage in set_params method."
I am working on some project where I need to set parameters to models iteratively many times. But it looks like some gpu memory leakage here. I attach my playground code and outputs. Please give me a feedback, is it my mistake or not?

**Code:**
[code]
**Output:**
[code]

[2020-06-02 17:13] teju85 opened #2367 "[FEA] Enable customizing pool allocator adapter in cuML"
Currently ongoing PR #2339 adds support for exposing rmm's pool allocator via `rmmPoolAllocatorAdapter`. However, it only exposes a default ctor, thereby relying on default options for the underlying rmm pool allocator (for eg: allocate 50% of total memory upfront in the pool). It is better and more flexible to expose an interface to pass custom options to this adapter.

[2020-06-02 17:24] Salonijain27 commented on #2366
Thank you for reporting the issue, I am looking into it.

[2020-06-02 17:26] isaienkov commented on #2366
Thanks, will wait for updates.

[2020-06-02 17:48] divyegala opened #2368 "[BUG] PCA only flips sign when calling `fit_transform`"
This exists in both the SG and the MNMG versions, as seen at https://github.com/rapidsai/cuml/blob/branch-0.15/cpp/src/pca/pca.cuh#L135. While this doesn't change the results of our `inverse_transform`, it removes determinism in our algorithms when calling `fit` and `transform` as compared to `fit_transform`. While the equivalence of `X * V^T = U * S` sits true when flipping signs in `fit_transfor

[2020-06-02 19:18] Salonijain27 commented on #2366
PR #2369  fixes the issue you have mentioned above

[2020-06-03 01:48] cjnolet commented on #2351
@aj-prime, assuming the above answers your question, I'm going to close this for now. Please feel free to open this back up in you have further questions.

[2020-06-03 01:48] #2351 closed

[2020-06-03 05:44] divyegala commented on #2368
Offline, we figured out a way to take the second approach. Because we perform EVD on a symmetric matrix (covariance of the dataset), we get: `U = V^-1 = V^T` as the eigenvector is an orthogonal matrix, implying the left and right eigenvectors are orthonormal to each other

[2020-06-03 07:31] Ahwar commented on #2348
According to minimum requirements describe at https://rapids.ai/start.html it should be
CUDA & NVIDIA Drivers: One of the following supported versions:
      10.0 & v410.48+    10.1.2 & v418.87+    10.2 & v440.33+
But driver on Google Colab has version Driver Version: 418.67       CUDA Version: 10.1

[2020-06-03 09:07] BlackHC commented on #2349
Thank you!

I've run the script on my machine (in that environment):

<details><summary>Click here to see environment details</summary><pre>

     **git***
     Not inside a git repository

     ***OS Information***
     DISTRIB_ID=Ubuntu
     DISTRIB_RELEASE=18.04
     DISTRIB_CODENAME=bionic
     DISTRIB_DESCRIPTION="Ubuntu 18.04.3 LTS"
     NAME="Ubuntu"
     VERSION="18.04.3 LTS (Bionic Beaver

[2020-06-03 10:48] BlackHC commented on #2349
I've found the issue. My channel_priority was set to strict, and it breaks lots of things, turns out.

"As of version 4.6.0, Conda has a strict channel priority feature. Strict channel priority can dramatically speed up conda operations and also reduce package incompatibility problems. We recommend it as a default. However, it may break old environment files, so we plan to delay making it conda's

[2020-06-03 14:13] dantegd commented on #2348
@Ahwar that is true, there is a minor mismatch of the driver version, but that shouldn't cause an issue with cuDF's Python code AFAIK, so it wouldn't be the cause of this issue.

@drscotthawley I would recommend cross posting this issue in the cuDF repository since more people might be able to help with this particular error over there https://github.com/rapidsai/cudf.

[2020-06-03 14:14] dantegd commented on #2349
@BlackHC thanks for the update, its good to know that this can come up from strict channel priority!

I'll close the issue for now, but if you face any other problem don't hesitate to open more issues. Thanks!

[2020-06-03 14:14] #2349 closed

[2020-06-03 14:32] #2366 closed

[2020-06-03 15:27] taureandyernv commented on #2348
for a bit on an independent investigation.  I'm reopening this on cudf and escalating.  `_lib` is there, but not getting picked up in import

[2020-06-03 15:29] kkraus14 commented on #2348
Sounds like this notebook is just outdated and needs to be updated based on the massive refactor that landed in cudf.

[2020-06-03 15:30] taureandyernv commented on #2348
@kkraus14 i was slacking you when i googled and found this issue.  Its affecting `0.13` once you fix importing `six` for `numba`.   This wasn't happening until a week ago

[2020-06-03 15:47] taureandyernv commented on #2348
this is not a cudf error.  Local install works fine.  I'll make an issue in `rapidsai/rapidsai-csp-utils`

@drscotthawley I'm sorry for the inconvenience.  I maintain the Colab code.  I found this while solving another bug.  If your workload is just cudf and cuml, please try app.blazingsql.com.   The current length of the RAPIDS installation is a colab issue due to ever worsening situation when ne

[2020-06-03 16:31] Salonijain27 commented on #2300
PR #2324 throws an error when n_bins > n_samples

[2020-06-03 18:53] #2297 closed

[2020-06-03 20:32] beckernick opened #2372 "[BUG] KMeans doesn't support cupy arrays for init argument"
KMeans currently fails when trying to pass a CuPy ndarray to the `init` argument during construction. The reason is that CuPy ndarrays don't behave the same way as numpy arrays when doing an equality relational operation. This section of the code may need a small update, or the documentation should explicitly indicate users need to pass a numpy ndarray, rather than a generic ndarray. Or, perhaps C

[2020-06-03 21:41] drscotthawley commented on #2348
@taureandyernv Thanks for getting back to me.
Feel free to close.... But, uh, I'd love to get a notice somehow of when it's ok to try on Colab again.

Regarding app.blazingsql.com:  After I log in via Google, all I see is a JupyterHub logo and
"**400 : Bad Request
OAuth state missing from cookies**"

...that was with Brave browser and shields down.  With Chrome it's:
"**500 : Internal Server Error

[2020-06-04 06:20] dantegd commented on #2372
@beckernick thanks for the issue! CuPy arrays definitely should be supported as inputs for the constructor, and should be a pretty easy fix to change the logic of the if conditionals you pointed out. It does seem like an unexpected (un-pythonic) behavior of cupy to fail when compared to a string like that, so it might be worth raising an issue with the cupy folks.

[2020-06-04 08:34] gumdropsteve opened #2374 "[FEA] dask train test split"
**Is your feature request related to a problem? Please describe.**
I wish I could use cuML to `train_test_split` a dask_cudf.DataFrame.

**Describe the solution you'd like**
[code]
https://ml.dask.org/modules/generated/dask_ml.model_selection.train_test_split.html

**Describe alternatives you've considered**
Running normal train_test_split then making dask_cudf.DataFrames from the results.

[2020-06-04 08:52] Ahwar commented on #2348
I tried that colab code with version 0.11, 0.12 and 0.13. Every version has same problem.
That is why I am also convinced that this issue is only on Google Colab. It perfectly works on ` app.blazingsql.com`.
Thanks @taureandyernv! for telling about ` app.blazingsql.com`.It really helped me a lot. I used cuML for the first time and it is amazingly fast.

@drscotthawley! I also faced the same **OAut

[2020-06-04 10:49] dkobak opened #2375 "[FEA] t-SNE initialization, learning rate, and exaggeration"
I was in contact with Victor Lafargue who suggested I ping @danielhanchen for all cuML t-SNE-related questions. So here it goes. It's three suggestions, including some questions.

1) Recent research https://www.nature.com/articles/s41467-019-13056-x (disclaimer: mine) suggests that smart non-random initialization can be very important for good embeddings. For example,  UMAP uses Laplacian Eigenmap

[2020-06-04 10:56] dkobak commented on #2147
Assuming that cuML uses the standard heuristic of using 3*perplexity nearest neighbors, and assuming that n_neighbors is clipped to 1024 because it's the GPU limit, then increasing perplexity over 1024/3=341 will not increase the computation time (because n_neighbors saturated already) and increasing perplexity over 1024 will not affect the embedding (because it will yield the uniform kernel over

[2020-06-04 11:06] dkobak commented on #2147
I briefly looked into the code and it seems that the n_neighbors is indeed clipped at 1024, but it also seems that the warning is being shown.

https://github.com/rapidsai/cuml/blob/branch-0.15/cpp/src/tsne/tsne.cu#L48

(I am not sure if n_neighbors is set to 3*perplexity for any non-default perplexity value. I did not find it in the code.)

[2020-06-04 11:14] danielhanchen commented on #2375
Hi @dkobak.

1. Anyways fantastic research paper! Good work! Yes you are correct that PCA init or say Laplacian Eigenmaps etc will generate much better TSNE outputs. Currently, TSNE does support random or PCA init. The reason why random is the default is because Sklearn (https://scikit-learn.org/stable/modules/generated/sklearn.manifold.TSNE.html)'s default is random. However, I agree with your su

[2020-06-04 11:19] danielhanchen commented on #2147
'''
 if n <= 2000:
                self.n_neighbors = min(max(self.n_neighbors, 90), n)
            else:
                # A linear trend from (n=2000, neigh=100) to (n=60000,neigh=30)
                self.n_neighbors = max(int(102 - 0.0012 * n), 30)
[code]

[2020-06-04 12:14] dkobak commented on #2147
@danielhanchen I don't fully understand this heuristic here. The original BH t-SNE paper used n_neighbors = 3 * perplexity, and all existing implementations that I know of (including sklearn) use the same heuristic. That's the behaviour I would expect. Of course this means cuML can only meaningfully use perplexity up to 1024/3.

[2020-06-04 12:20] dkobak commented on #2375
@danielhanchen Thanks for a quick reply!

1. Yes! Strongly agree with using PCA init by default even though `sklearn` does not. The documentation here https://docs.rapids.ai/api/cuml/stable/api.html?highlight=tsne#cuml.TSNE only mentions random init as supported. If PCA init is already implemented, that's great. By the way, as described in our paper, it's better to scale the initialization to have

[2020-06-04 17:22] JohnZed commented on #2311
Converted this to a feature request - in scope for 0.15 unless we find that this will cause too much complexity.

[2020-06-04 17:22] JohnZed commented on #2311
Note from @teju85
[code]

[2020-06-04 18:30] dlymarg opened #2377 "[FEA] Timetable on the return of Kalman filters?"
Hi, I am working on a project that uses Kalman filters for signals analysis and I would like to use the cuML version of the algorithm. I noticed that cuML had support for Kalman filters on a single GPU in previous versions, but it has been deprecated as of v0.13. Is there an estimate as to when it may return to cuML (or cuSignal)?

Issue #1758 mentions the issues with the version of Kalman filter

[2020-06-04 19:35] drscotthawley commented on #2348
@Ahwar  thanks, I thought I did that last night but... Well, today it's working (on blazingsqlcom)!  So, I'm able to run the welcome notebook there and everything runs to completion. Great.

[2020-06-04 22:26] dantegd commented on #2377
Hi @dlymarg there is a work in progress PR in the cuSignal repo: https://github.com/rapidsai/cusignal/pull/69 that might interest you.

[2020-06-05 05:46] MatthiasKohl commented on #2311
as a side-note : the memory requirements of DBScan are quite high in any case compared to the number of input points (even if the algorithm gets updated at some point) and the number of core-points is bounded by the number of input points.
So another option could be to just over-allocate the array of indexes in Python, then resize the array interface once we know the real size. On release, we just

[2020-06-05 11:43] danielhanchen commented on #2375
@dkobak  Oh yep. PCA scaling is done. Although slightly differently. I think (can't remember 100%) it was uniform but within [-0.0001f, 0.0001f].

Interesting! n/early_exaggeration sounds much better then.

Oh yes ok I misread that. You essentially would like after 250 iterations or so, to instead of
``` VAL *= (1 / early_exaggeration) ``` to become ``` VAL *= (post_exaggeration / early_exaggerati

[2020-06-05 11:48] danielhanchen commented on #2147
@dkobak I think empirically, n_neighbors for extremely large datasets can cause GPU memory to be excessively used. So I can't remember which study I based my findings on, when ```learning_rate_method = "adpative"``` n_neighbors will linearly decrease to 30 to conserve performance and memory usage.

On the other hand, to revert to normal expected behaivor, setting ```learning_rate_method = None```

[2020-06-05 12:13] dkobak commented on #2375
Yes, exactly!

[2020-06-05 12:18] dkobak commented on #2147
I see. The problem here is that for large datasets your heuristic leaves perplexity fixed at 30 but sets n_neighbors also to 30. This result in a uniform (and not Gaussian) kernel over the 30 nearest neighbors. So it's quite different from standard t-SNE behaviour. I personally am a big fan of using uniform kernel (with 10-15 neighbors) because it's much faster, but that's not exactly what people

[2020-06-06 01:27] #1626 closed

[2020-06-07 03:40] resnant commented on #2375
Hi @danielhanchen
It would be great if we can use PCA init in TSNE!
You mentioned PCA init is already implemented in cuML TSNE, but I could not find out it in the latest code.
https://github.com/rapidsai/cuml/blob/branch-0.15/python/cuml/manifold/t_sne.pyx#L239
Is it in other repo or branch?

[2020-06-07 06:09] danielhanchen commented on #2375
@resnant Oh I just checked. Seems like I was wrong. I was working on https://github.com/rapidsai/cuml/pull/1383 [TSNE PCA Init + 50% Memory Reductions]. It included PCA Init, 50% mem reductions and some stability fixes. Just forgot it didn't get merged yet.

I'm not so sure when I'll get back to it, but I'll see what I can do!

[2020-06-07 21:30] aerdem4 opened #2379 "[FEA] BaggingRegressor"
**Is your feature request related to a problem? Please describe.**
Bagging different regression models by randomization (sampling rows and columns) is a common technique which makes models more robust. A Kaggle user was using Rapids for his solution but for BaggingRegressor, he had to move back to sklearn. https://www.kaggle.com/c/trends-assessment-prediction/discussion/156725 Considering that bag

[2020-06-07 22:02] JohnZed commented on #2374
Thank you for submitting this! `train_test_split` for Dask is certainly a logical feature for cuML to add and is on our priority list for 0.15. Adding this issue to that release target.

[2020-06-07 23:21] cjnolet commented on #2374
In the meantime, if your data is already shuffled randomly across the cluster, Dask’s `random_split` function does work with Dask_cudf.

Here’s an example of where this is used on TPCxBB: https://github.com/rapidsai/tpcx-bb/blob/master/tpcx_bb/queries/q28/tpcx_bb_query_28.py#L346

[2020-06-08 02:37] cjnolet opened #2381 "[FEA] Simple method for sparse inputs to PCA"
The example demonstrates a very simple trick to mean center a sparse matrix after the matrix multiply is performed, thus allowing us to compute the principal components on a sparse matrix without having to turn it dense. Instead, only the covariance matrix is made dense, which is on the order of `n_features * n_features`.

The example demonstrates this works for a 100kx5k sparse matrix, which is n

[2020-06-08 06:22] shreer1998 opened #2382 "[BUG] Quantile per tree doesn't calculate quantiles based on data sampled for the tree (CPP)"
**Describe the bug**
In c++ API, using quantiles per tree with rows_sample less than 1 for random forest does not take quantiles from the data points sampled for a particular tree. Quantiles are calculated on the forest level from the first rows_sample% of the data.
Using Train Data = {9,8,7,6,5,4,3,2,1,0} (row wise) , Quantile Per tree = true, row_sample =0.7 and n_bins = 3. The quantiles for all

[2020-06-08 07:42] nikiforov-sm commented on #1998
Hi, @Salonijain27 , @JamesMaki
I have the same error with dataframe with dtypes=float32 only.
Here is the test script.
[code]

Is there workaround to get shuffled part of dataset into training process?

[2020-06-08 08:11] resnant commented on #2375
@danielhanchen Got it. Your work is awesome! It will be very helpful to me if it merged. Thanks anyway.

[2020-06-08 15:54] JohnZed opened #2383 "[FEA] Support cuPy 8.0 RCs"
Run test on 8.0b5

Also run a simple cupy -> XGBoost example

[2020-06-08 16:42] JohnZed opened #2384 "[FEA] CUDA 11 support for cuML builds"

[2020-06-08 17:09] cjnolet opened #2385 "[FEA] Release 0.15 Checklist"
Recurring tasks before each release:

**New algorithm support:**
- [x] Each new algorithm added to API docs (JZ double-check)
- [x] Each new algorithm added to README (Corey to update with IPCA as well - Naive Bayes too)
- [ ] Blog posts planned for new algos as appropriate (John)

**Docs and examples:**
- [ ] Built API docs & checked for formatting (Will H)
- [ ] Verified & updated API docs
- [x]

[2020-06-08 17:10] cjnolet commented on #2385
Just creating this proactively in order to merge https://github.com/rapidsai/cuml/pull/2380
cc @raydouglass

[2020-06-09 02:01] mdemoret-nv commented on #2384
Testing progress so far:

Was able to successfully build and run the majority of the C++ tests. All tests passed in `cpp/build/test/ml` and `cpp/build/test/prims`. The tests in `cpp/build/test/ml_mg` fails with the following output:
[code]

To repro, these were the final steps:
1. Install CUDA 11
2. Create new environment with just the necessary packages for C++ `conda create -n cuml_cuda11 -c con

[2020-06-09 12:48] geometrylearner opened #2386 "cuml/ensemble/randomforestregressor out of memory"
**Describe the bug**
When I was training `cuml.ensemble.RandomForestRegressor` on a dataset from kaggle, there was a RuntimeError interrupt the training, reason out of memory;

**Steps/Code to reproduce bug**
`RuntimeError                              Traceback (most recent call last)
<timed exec> in <module>
cuml/ensemble/randomforestregressor.pyx in cuml.ensemble.randomforestregressor.RandomFore

[2020-06-09 17:25] MatthiasKohl opened #2387 "[FEA] Improve perf of DBScan csr_row_op kernel"
**Is your feature request related to a problem? Please describe.**
Scaling DBScan to large sizes requires small batch sizes to avoid running out of memory. The `csr_row_op` kernel has quite bad performance at small batch sizes.

Details:
If we look at this kernel https://github.com/rapidsai/cuml/blob/branch-0.15/cpp/src_prims/sparse/csr.cuh#L649-L670, we can see it will issue `B` threads (`B` is t

[2020-06-09 17:46] geometrylearner commented on #2386
I typed nvidia-smi to check the usage of GPU memory while the error happened, it's
`~/anaconda3/envs/rapids/bin/python  4119MiB` for this process but meanwhile my total GPU memory is 11GB as a 2080ti rtx. Why the limitation of mine left to meet?

[2020-06-09 17:48] dantegd commented on #2384
Great news about the `ml` and `prims` tests. The fail you saw in `ml_mg` is because it was run on a device with less than 2 GPUs:

[code]

So that is expected

[2020-06-09 17:51] mdemoret-nv commented on #2384
Makes sense. Do you see any need to test this locally? Or should I continue with the Python tests?

[2020-06-09 19:01] dantegd commented on #2384
The Python tests are probably a higher priority

[2020-06-09 19:41] Nanthini10 commented on #2386
It's hard to point out what might be going on without more context.

Could you share more details about the dataset (size of the data), and how what are the parameters of the model (n_estimators, max_depth), or the snippet of code that produces this error?

[2020-06-09 20:02] geometrylearner commented on #2386
Thanks for reply, here is the setting of model:
`
from cuml.ensemble import RandomForestRegressor as RFR
`
`
model = RFR(
                    max_features=1.0, n_bins=8,
                    split_algo=0, min_rows_per_node=2,
                    n_estimators=100, accuracy_metric='mse'
        )
`

The size of data set be csv-files nearly **200MB** in total, and be read by `cudf.read_csv`, I don't c

[2020-06-09 20:19] Nanthini10 commented on #2386
What is the shape of the dataframe on which you're calling `model.fit` on?

[2020-06-09 20:55] geometrylearner commented on #2386
Thanks
`df.shape`

`(5877, 1411)`

`train_df, val_df = df.iloc[train_ind], df.iloc[val_ind]`

`model.fit(train_df[features], train_df[target])`

[2020-06-09 22:31] hcho3 commented on #2160
dmlc/treelite#167 has revamped CMake build system for Treelite.

[2020-06-10 05:28] Salonijain27 commented on #1998
Hi @nikiforov-sm ,
The issue in the above example is that on saving your data to the csv file you are saving all the partitions into a single file. Therefore, when the data is read from the file it contains only a single partition. The data should have atleast the same number of partitions as the workers you are using to fit  and predict the Dask Random Forest model.
The data should be saved and l

[2020-06-10 07:17] ravusairam commented on #2382
The performance of using quantile per tee degrades as the cutlines calculated for quantiles per tree is not based on the sampled data for that tree. Is somebody looking into it?

[2020-06-10 11:41] ma-siddiqui opened #2388 "[QST] Import error in Python 6"
I am facing below error while import cuml. The issue only occurs with python 3.6.

Here is the log for this error:

Python 3.6.10 | packaged by conda-forge | (default, Apr 24 2020, 16:44:11)
[GCC 7.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "../python3.6/site-packages/cuml/__i

[2020-06-10 11:43] ma-siddiqui opened #2389 "[BUG] TypeError: create_target_machine() got an unexpected keyword argument 'jitdebug'"
I am facing error TypeError: create_target_machine() got an unexpected keyword argument 'jitdebug' while importing cuml in python 3.6 .Here is the error log

Python 3.6.10 | packaged by conda-forge | (default, Apr 24 2020, 16:44:11)
[GCC 7.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>

[2020-06-10 13:02] cjnolet opened #2390 "[FEA] Random projection should store parameters as cumlarray"
Random projection currently stores internal parameters as an internal object that is created in the cython layer but opaque to the python layer. This means pickling the random projection model will not actually pickle the trainer parameters.

To follow the design of the rest of the cuml models, random projection should instead of CumlArray to manage the arrays that comprise its trained state so th

[2020-06-10 13:29] cjnolet opened #2391 "[FEA] Pool allocator tests"
When running the cuml benchmarks notebook with the pool allocator for release 0.14 benchmarks, we found a bug in an estimator that wouldn’t have been found otherwise.

It would be useful if we ran our tests with the pool allocator just to make sure other estimators may not have similar bugs.

This could be as simple as perhaps keeping the default RMM allocator but providing a simple pytest mark /

[2020-06-10 23:43] adamjm commented on #1518
Sorry to comment on a closed issue. But is libcumlprims ever likely to be made available on ppc64le?

[2020-06-11 07:49] meimeixu520 commented on #2389
Hi,I also meet this error,do you solve it?Can you tell me?Look foward your reply!Thank you very much!

[2020-06-11 08:59] ma-siddiqui commented on #2389
Unfortunately the issue occurs for all versions of python 3.6  and lower.  Fortunately, the issue doesn't appear on python 3.7 , so to get rid of this problem I moved to python 3.7 and all good now.

[2020-06-11 11:31] danielhanchen commented on #2147
@dkobak  Hmm interesting. Oh I'll have to check where again, but it was from the original BH TSNE paper, where using early exaggeration = 24 was used on larger datasets. I remember there was no mention of what constitutes "large", hence my heuristic of 10,000

[2020-06-11 11:32] danielhanchen commented on #2375
@resnant  Thanks a lot!!! I'll see what I can do.

[2020-06-11 12:25] meimeixu520 commented on #2389
Thank for your reply!I try change python=3.7,but it still not work.If you have another method for it,please tell me.Best regards!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Muhammad Ajmal Siddiqui"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月11日(星期四) 下午4:59
收件人:&nbsp;"rapidsai/cuml"<cuml@noreply.github.com&gt;;
抄送:&nbsp;"别做白日梦了😔"<1398629150@qq.com&gt;;"Comment"<comment@no

[2020-06-11 13:24] andrew1337 commented on #2389
i solved same problem by downgrading **llvmlite** from _0.33.0rc1_ to _0.32.1_
`pip install -U llvmlite==0.32.1`
hope it can helps anybody

[2020-06-11 13:38] beckernick opened #2393 "[FEA] Add an _estimator_type attribute to estimators"
In scikit-learn, estimators have an `_estimator_type` attribute that indicates whether they are a classifier, regressor, or clusterer, etc.. This attribute is necessary for some scikit-learn API contracts, particularly around cross validation and meta-modeling. See [here](https://github.com/scikit-learn/scikit-learn/blob/29f83f83f2b9bf236996fa50e54d34c77a9e08e3/doc/developers/develop.rst#estimator

[2020-06-11 13:40] dannysid commented on #2389
@andrew1337 thank you for the fix! It worked for me.

[2020-06-11 13:41] meimeixu520 commented on #2389
You are great! It also work for me!Thanks very much!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"andrew1337"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月11日(星期四) 晚上9:24
收件人:&nbsp;"rapidsai/cuml"<cuml@noreply.github.com&gt;;
抄送:&nbsp;"别做白日梦了😔"<1398629150@qq.com&gt;;"Comment"<comment@noreply.github.com&gt;;
主题:&nbsp;Re: [rapidsai/cuml] [BUG] TypeError: create_target_machine(

[2020-06-11 13:50] beckernick opened #2395 "[FEA] Add an n_features_in_ attribute to estimators"
In scikit-learn, "estimators that expect tabular input should set a n_features_in_ attribute at fit time to indicate the number of features that the estimator expects for subsequent calls to predict or transform" (from the [docs](https://github.com/scikit-learn/scikit-learn/blob/29f83f83f2b9bf236996fa50e54d34c77a9e08e3/doc/developers/develop.rst#universal-attributes)). This attribute is necessary

[2020-06-11 14:18] dylrich commented on #2389
@andrew1337 Thanks a ton!

[2020-06-11 14:20] beckernick opened #2396 "[FEA] Update output dtype of predict to match dtype of input target"
In scikit-learn, predict methods for classifier models generally appear to return an output array with the same dtype of the input target (y) array. This is necessary for API contract expectations around meta-estimators like StackingClassifier and others. Currently, cuML doesn't enforce the same contract. As an example, logistic regression by default returns a float64 array and randomforest classi

[2020-06-11 14:26] cjnolet opened #2397 "[FEA] Allow instantiation of point-to-point-only communicator"
We do this for the collectives already, making p2p optional. It would be useful for folks not interested in collectives if we also did this for point to point.

[2020-06-11 14:36] beckernick opened #2398 "[FEA] Update logistic regression to adhere to configurable input/output types"
Currently, logistic regression's `predict_proba` does not enforce the configurable input types contract. Passing a numpy array to the fit method for logistic regression does not update the `output_type` attribute, which is also not used in the `predict_proba` method.

Perhaps we could add `out_type = self._get_output_type(X)` to the `predict_proba` for logistic regression (and any other places if

[2020-06-11 14:55] beckernick commented on #2393
Note that the `Mixin` classes already implement this attribute, so another approach would be to have more estimators inherit from the existing Mixins.

https://github.com/rapidsai/cuml/blob/f1f1c7f6a08e344f0834e79e58cc4b7bad6a0201/python/cuml/metrics/base.py#L59-L61

https://github.com/rapidsai/cuml/blob/f1f1c7f6a08e344f0834e79e58cc4b7bad6a0201/python/cuml/metrics/base.py#L21-L24

[2020-06-11 16:18] beckernick opened #2399 "[FEA] Speed up RF -> FIL conversion for inference"
In today's nightly (cuml commit `f1f1c7f6a`), the `predict` method of random forest classifier takes quite a bit of time the first time it's called on 1M rows binary classification, but is much faster the second time. Perhaps this could be related to #1922 ?

[code]

After this, I added a print statement in the `predict` method to see if it's using the GPU path, which it appears to be.

https://gi

[2020-06-11 17:09] beckernick opened #2400 "[FEA] Switch convert_dtype default to True in estimator fit methods"
Estimator fit methods, where necessary, have a `convert_dtype` argument. When `convert_dtype=True`, the fit method will typecast the input data so as to allow the fit to succeed and avoid raising TypeErrors. By default, calls to fit with incorrectly typed data will raise a TypeError. Defaulting to True would allow much cleaner integration with meta-modeling APIs (because the scikit-learn fit contr

[2020-06-11 17:09] beckernick opened #2401 "[FEA] Support using cuML estimators inside sklearn meta-estimators"
Meta-estimators allow users to combine multiple models into a single model for potentially enhanced predictive power. A minimal example of this concept is a `Voting Classifier`, in which the predictions of 1+ models are collected and a vote is made of which label to assign based on the predictions of the input models. Another powerful approach is stacking, in which the results of 1+ models are fed

[2020-06-11 18:08] cjnolet commented on #2358
I have a minimum reproducible example using `branch-0.15`:

[code]

At first, it appears as if the algorithm is executing successfully until it suddenly locks out. Here's an example output:

[code]

[2020-06-11 18:16] cjnolet commented on #2358
Just had another freeze in a different place

[code]

[2020-06-11 18:24] cjnolet opened #2402 "[FEA] Update T-SNE to use device_buffer"
There are very few algorithms left that do not use `device_buffer`.  Like many algorithms, T-SNE was written just before the `device_buffer` was created so it's still using the underlying allocator directly.

The allocations done on heap should be replaced with stack `device_buffer` to make the code generally easier to maintain.

[2020-06-11 19:09] JohnZed commented on #2389
Thanks for the workaruond, @andrew1337 ! @ma-siddiqui - can you let us know which version of RAPIDS you were using? Is that 0.13?

[2020-06-11 19:17] JohnZed commented on #2399
The time for the first prediction includes conversion to FIL format. The FIL-converted tree is cached after the first call. If you have a tiny dataset and don't want to pay the setup cost, you can use the CPU-based predict call, which is much lower throughput but lower latency.

[2020-06-11 19:26] JohnZed commented on #2388
Closing as a duplicate of #2389

[2020-06-11 19:26] #2388 closed

[2020-06-11 19:38] sujanb commented on #2389
I had similar issue with numba and solved it by doing the following
[code]

[2020-06-11 19:40] JohnZed commented on #2377
TODO for 0.15: Find a way to document this more clearly to point people to cusignal when it's in.

[2020-06-11 19:46] JohnZed commented on #2358
Need checked-in stress tests that run TSNE multiple times back to back.

[2020-06-11 19:55] JohnZed commented on #2303
Closed by #2308

[2020-06-11 19:55] #2303 closed

[2020-06-11 20:52] beckernick opened #2404 "[BUG] Estimators relying on solvers for fit don't capture new attributes due to shallow copy"
As noted in #2403 , estimators that delegate to a solver for `fit` are making a shallow copy of the estimator. This shallow copy means that attributes set on the self of the solver class do not propagate up to the self for the estimator class.

Because of this, other methods of the estimator class (like `predict` and `predict_proba`) do not have access to attributes that they expect to have (parti

[2020-06-11 21:41] cjnolet commented on #2358
Strangely, `cuda-memcheck` is also not showing spewing out any memory errors.

[2020-06-11 22:00] aleksficek commented on #1290
@cjnolet Hey, I was wondering if I could pick up this issue? I'm on the ops team but would like to spend some time each week contributing to cuML.

[2020-06-11 22:15] cjnolet commented on #1290
@aleksficek absolutely you can pick this issue up! Let me know if you need anything.

[2020-06-12 01:56] beckernick commented on #2396
A bit more testing confirms that this does indeed look to be the pattern. Classifiers match output dtypes for their discrete valued output, regressors output float64 for their continuous valued output.

[code]

[2020-06-12 08:21] MatthiasKohl opened #2406 "[BUG] Division error in DBScan computeBatchCount leads to number of batches being off by 1"
**Describe the bug**
In DBScan, when computing the number of batches, there is a test of whether or not `batch_size * num_rows` can be addressed with `Index_` type without overflow. This test can be off by 1.

**Steps/Code to reproduce bug**
Call DBScan `computeBatchCount` with `Index_` type `int` and `n_rows := 2000000`. The returned number of batches is 1863 but it should be 1864 to avoid intege

[2020-06-12 08:23] MatthiasKohl commented on #2406
I'll work on this myself, as it is a very quick fix

[2020-06-12 13:22] nikiforov-sm commented on #1998
Hi @Salonijain27 ,
Thank you for this update, it works!

Is there workaround to get feature importance from fitted model of dask_cuml.RandomForestRegressor?

[2020-06-12 17:03] beckernick opened #2409 "[QST] Does SVMBase need to implement fit if all subclasses reimplement fit"
Currently, SVMBase implements a full `fit` method. Both subclasses `SVR` and `SVC` implement their own `fit` method rather than relying on inheritance.

Would it make sense to remove the `fit` implementation from SVMBase for code and responsibility clarity?

[2020-06-12 18:38] JohnZed commented on #2399
I'm going to rephrase this as a feature request to speed up FIL translation and leave it in the FEA queue.

[2020-06-12 18:50] JohnZed commented on #2389
Unfortunately I can't repro this issue when installing in a clean environment. Fixing numba == 0.49.1 should be a good approach, as the llvmlite package comes in from the numba install.

[2020-06-12 19:04] JohnZed commented on #2404
Maybe we can just self-assign all of the relevant variables after fit? A more automated solution to proxy over to the solver could be appealing, but I don't think it applies to that many different estimators.
Adding to 0.15 as it would be important to get at least a logistic regression solution.

[2020-06-12 19:09] beckernick commented on #2399
Thanks @JohnZed ! That sounds great

[2020-06-12 19:23] beckernick commented on #2393
After discussing with @dantegd , this seems like a good opportunity to update the existing `Mixin` classes

[2020-06-12 21:03] dantegd opened #2412 "[FEA] CumlArray improvements for CuPy interop, contiguity and flexibility"
Description upcoming.

[2020-06-12 21:56] cjnolet commented on #2105
I believe an initial tiled implementation of this should be very straightforward using cusparse along with our `sortColsPerRow` primitive:

Here's the pseudocode:
[code]

This will tile over both the rows and the columns of the resulting pair-wise distance matrix, reducing each batch into the final knn matrix so that we never need to compute more than `n_row_batch` * `n_col_batch` entries at the s

[2020-06-12 22:16] Nanthini10 commented on #2360
The error message is talking about the dtype of `y_cudf` in your code. There's a mismatch in dtypes between X and y for the fit.
`X_cudf.dtypes`
[code]
`y_cudf.dtype`
[code]

You can resolve this by using `convert_dtype`

[code]

[2020-06-12 22:46] dkobak commented on #2147
@danielhanchen Hmm. I don't see it in the paper. http://jmlr.org/papers/volume15/vandermaaten14a/vandermaaten14a.pdf. I think it only says

More generally, increasing early exaggeration above 12 could potentially help for large datasets if the learning rate is held constant at 200. However, if the learning rate is scaled as N/early_exaggeration as we discussed in https://github.com/rapidsai/cuml/i

[2020-06-12 23:05] cjnolet opened #2414 "[FEA] Move Linear Model's SyncFitMixin to dask/linear_models/base.py"
I started moving this in a PR but backed out the change to keep the PR sized controlled. This mixin should be moved since it is only relevant to the linear models. Pydocs should also be added.

[2020-06-12 23:28] cjnolet opened #2415 "[DOC] Convert all remaining Python docstrings to pydoc and examples to doctest"
There are several places in the codebase currently that are not using the proper docstrings format [1].

It would be worth scraping through the codebase and updating these.

[1] https://numpydoc.readthedocs.io/en/latest/format.html

[2020-06-13 21:09] aroraakshit commented on #1756
I believe this notebook is getting updated through: https://github.com/rapidsai/notebooks-contrib/pull/284
and so this bug is no longer relevant.

[2020-06-13 21:09] #1756 closed

[2020-06-13 22:05] cjnolet opened #2416 "[FEA] Investigate potential for asynchronous fit() in Dask estimators"
@JohnZed got me thinking about this recently. We might be able to remove the `wait` calls that most Dask estimators are doing at the end of their fit() functions by having each of the training futures close their own NCCL comms.

But it’s not immediately obvious to me how a user would interact with this object after calling fit. Since the `fit()` function returns the estimator and not the futures,

[2020-06-15 14:54] beckernick opened #2418 "[QST] Is num_classes necessary in the randomforest classifier prediction API?"
The RandomForest classifier prediction API has a parameter `num_classes`, but it doesn't appear to be used in any downstream code. It looks like all uses of the `num_classes` concept are handled by `self.num_classes`, set during the fit process. If this is true, it might be nice to remove the explicit `num_classes` parameter from the API surface.

I may have missed some uses, but it looks like:

-

[2020-06-15 19:20] JohnZed opened #2421 "[DOC] metrics.roc_auc_score should be added to API docs online"
Currently missing. Should audit for other missing metrics.

[2020-06-15 20:11] Salonijain27 opened #2422 "[BUG] cuml memory tests need to be updated for numba 0.49.1"
In numba 0.48.0 the memory leak tests run without any issues.

In numba 0.49.1 (currently installed in cuml envs) `get_memory_info` function throws a `NotImplementedError ` when called after importing cuml or cudf. :
[code]

However, if we run :
[code]

[code]
and then import cuml and/or cudf `NotImplementedError ` is not thrown.

[2020-06-15 20:47] mlalma opened #2423 "[BUG] --singlegpu flag doesn't work as expected when running build.sh"
**Describe the bug**
When executing build.sh with flag --singlegpu, it doesn't actually use it since the parsing of the flag uses variable SINGLEGPUPYTHON and the script partially expects to use variable SINGLEGPU.

Additionally running ./build.sh --singlegpu (or with any combination of flags) without specified targets won't compile the projects as there are more than zero arguments, but no target

[2020-06-15 20:59] beckernick opened #2425 "[BUG] Information loss check in convert_dtype does not flag all overflows"
in `convert_dtype`, there is a check to make sure that no information was lost if a numpy array is cast to a different dtype:

https://github.com/rapidsai/cuml/blob/bc822c8117fffdba2e0e4e81f55ce62198371196/python/cuml/common/input_utils.py#L398-L404

We may want to update this to check the post-typecast data for `np.inf`, rather than the original data. Knowing that the original data has np.inf doe

[2020-06-16 05:11] mlalma commented on #2423
#2424 Fixes this issue.

[2020-06-16 18:07] JohnZed commented on #2423
Closed by https://github.com/rapidsai/cuml/pull/2424

[2020-06-16 18:07] #2423 closed

[2020-06-16 18:08] JohnZed opened #2430 "[FEA] Rename libcumlprims to libcumlprims_mg"
The libcumlprims library only contains multi-GPU primitives. Users are sometimes confused about what it does and when it is needed. We should rename to `libcumlprims_mg` to clarify.

[2020-06-17 01:42] hcho3 commented on #2160
Treelite is now officially on Conda: https://anaconda.org/conda-forge/treelite. Install it by running
[code]

[2020-06-17 04:36] geometrylearner opened #2434 "[DOC] The sample of cuml.UMAP is required."
## cuml.UMAP sample on cudf dataframe Needed

**Report needed documentation**
I need a sample of cuml.UMAP applied on a cudf dataframe successfully, where the cudf dataframe better be random one, since I am trying to reduce the tough dimension of my dataset in form of cudf dataframe and the dimension might case over-fitting of training. I think the UMAP may be a good solution.

**Describe the docu

[2020-06-17 06:35] #2434 closed

[2020-06-17 11:23] teju85 opened #2435 "[FEA] Provide support for ensemble.AdaBoost* weighted classifiers"
**Is your feature request related to a problem? Please describe.**
This is based on @zachmayer's feature request on xgboost [here](https://github.com/dmlc/xgboost/issues/5802). I believe cuML is better suited to provide such an interface. Atleast to begin with, we need to provide `sklearn.ensemble.AdaBoost*` classes based off of cupy functions.

**Describe the solution you'd like**
0. Update all m

[2020-06-17 15:39] divyegala opened #2436 "[TASK] Remove `_sparse_model` from PCA"
After #2392 is merged, we will remove the instance variable `_sparse_model` which currently controls the code path taken from the inputs that were used for fit. Once @dantegd 's improvements come in for `CumlArray` <-> `cupy.ndarray` inter-operability, we will use that instead for input agnostic PCA

[2020-06-17 17:04] #2393 closed

[2020-06-17 17:15] zachmayer commented on #2435
I can already use `sklearn.ensemble.AdaBoostClassifier` so I don't really need the feature in cuml.  I'd love to be able to specify an arbitrary base learner in xgboost, and take advatange of all the cool innovations xgboost brought to boosting.

[2020-06-17 18:19] Salonijain27 opened #2437 "[BUG] Dask RF accuracy reduces on increase in number of gpus and partitions_per_worker"
This test example was taken from test/dask/test_random_forest.py and modified to scale the number of samples and number of estimators with increase in number of gpus.
[code]
Looking into it further

[2020-06-18 02:22] hungjuchou opened #2438 "[BUG] coef_ of Lasso result is None in cuml-0.14"
**Describe the bug**
The coef_ parameter of Lasso result is None in cuml 0.14.
pip list shows cuml version is 0.14.0+0.g31202da.dirty.

**Steps/Code to reproduce bug**
Docker image: rapidsai/rapidsai:0.14-cuda10.1-runtime-ubuntu18.04-py3.7
Use the sample codes from cuml api tutorial:
https://docs.rapids.ai/api/cuml/stable/api.html#lasso-regression

import numpy as np
import cudf
from cuml.linear_m

[2020-06-18 05:10] Salonijain27 commented on #1998
Hi @nikiforov-sm ,
I have created a PR which will let you print the the dask RF model #2439
I am also working on a PR to create a function which would return a list containing features used to split each node.

[2020-06-18 14:36] nikiforov-sm commented on #1998
Hi @Salonijain27 ,
Thank you for this update!

[2020-06-18 20:25] hcho3 opened #2443 "[TASK] Replace treelite.gallery.sklearn -> treelite.sklearn"
In Treelite 0.92, the API `treelite.gallery.sklearn` was moved to `treelite.sklearn`. Importing `treelite.gallery.sklearn` produces a warning:
[code]

TODO. Replace all uses of `treelite.gallery.sklearn` with `treelite.sklearn`.

[2020-06-18 20:28] hcho3 commented on #2438
I managed to reproduce the issue with latest cuML (branch-0.15). We will investigate. Thanks for letting us know.

[2020-06-18 20:50] JohnZed opened #2444 "[FEA] Add integration test that uses libcumlprims_mg"
We recently had an integration issue with a release build that could have been caught by exercising the final release build of libcumlprims_mg on all architectures. We should add a simple integration test (maybe an mnmg linear model?) to the container testing repo.

[2020-06-18 21:24] hcho3 commented on #2438
The issue turned out to be a simple typo to fix. I filed a pull request #2445 to address it.

[2020-06-18 21:30] cjnolet opened #2446 "[BUG] Training cuml estimators w/ UVM memory manager throws memory error when device memory fills up"
I have been using `rmm.reinitialize(managed_memory=True)` to test out the speed of different workflows when the GPU memory is oversubscribed. Thus far, I've had a lot of success using cupy for exploratory data analysis even after the GPU memory has filled up.

I've verified cuml estimators are using the default allocator, which is provided in the cuml handle. I've also verified that estimators are

[2020-06-18 21:39] hcho3 commented on #2418
You are right. The `num_classes` parameter appears to be unused. Also, the RF classifier object already stores an attribute `self.num_classes`.

[2020-06-18 21:43] hcho3 commented on #2111
Closing this, since Lasso and ElasticNet depends on CD, and CD uses CumlArray.

[2020-06-18 21:43] #2111 closed

[2020-06-18 21:50] hcho3 commented on #2425
Can we use the `casting` option in the `ndarray.astype()` method? It appears to provide varying levels of safety:

From https://numpy.org/doc/1.18/reference/generated/numpy.ndarray.astype.html

[2020-06-18 21:52] hcho3 commented on #2446
What is the expected behavior when GPU memory runs out? Do some memory blocks from GPU memory get evicted onto the main memory?

[2020-06-18 21:57] cjnolet commented on #2446
Thanks @hcho3, I'll try and verify that. I believe there is almost 10gb of memory that is sitting dormant from previous preprocessing tasks that should be able to be evicted but I'll check more closely to make sure.

[2020-06-18 21:58] hcho3 commented on #2446
Is the eviction behavior documented somewhere?

[2020-06-18 21:59] cjnolet commented on #2446
I think @nsakharnykh would be the best person to tag in this discussion.

[2020-06-18 22:02] hcho3 commented on #2422
Yes, I personally ran into this issue multiple times.

[2020-06-18 22:06] hcho3 commented on #2399
Note that #2263 was merged yesterday, which speeds up serialization of RF objects. We should run the benchmark again to obtain the new measurement for RF->FIL conversion.

[2020-06-18 22:07] cjnolet commented on #2446
Here's what I see Mark Harris' blog from 2017:

[code]

https://devblogs.nvidia.com/unified-memory-cuda-beginners/

[2020-06-18 22:37] hcho3 commented on #2422
The `get_memory_info()` API was broken by rapidsai/rmm#363.

[2020-06-18 23:21] cjnolet commented on #2446
Also tagging @harrism, in hopes he might have some ideas about this behavior.

[2020-06-18 23:41] hcho3 commented on #2422
Should be fixed in #2448

[2020-06-18 23:49] hcho3 commented on #1953
Fixed in #1968

[2020-06-18 23:49] #1953 closed

[2020-06-18 23:56] hcho3 commented on #2332
@Salonijain27 Was MBSGD crash fixed?

[2020-06-18 23:56] hcho3 commented on #2296
Will close this issue once #2332 is resolved.

[2020-06-19 01:52] cjnolet commented on #2446
I'm having the suspicion this might be related to an overflow somewhere and not the managed memory. For example- I think an `int` might need to be changed to a `size_t` somewhere.

[2020-06-19 01:55] hungjuchou commented on #2438
Hi Philip,

Good to hear you find the root cause quickly. Thank you for the fix.

On Fri, Jun 19, 2020 at 5:25 AM Philip Hyunsu Cho <notifications@github.com>
wrote:

--
Best Regards,

Edward (周宏儒)

[2020-06-19 02:44] hcho3 commented on #2422
We need rapidsai/rmm#415 for a proper fix. We'll mark the test as XFAIL for the time being.

[2020-06-19 03:22] cjnolet commented on #2446
I have confirmed this is indeed related to an overflow. I'm closing this to open up a more targeted issue.

[2020-06-19 03:22] #2446 closed

[2020-06-19 15:16] yasmina-altair opened #2451 "[BUG] LabelEncoder inverse_transform() fails when fitted with fit_transform()"
**Describe the bug**
When creating a LabelEncoder and fitting it with fit_transform(), the inverse transformation throws an error. When fitting it with fit() and then transform(), there are no errors.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
[code]

**Environment details:**
 - Linux Distro/Architecture: [Ubuntu 18.04]
 - CUDA: [10.1]

[2020-06-19 19:15] galipremsagar opened #2452 "[DOC] CumlArray documentation seems to be missing"
## Report incorrect documentation

**Location of incorrect documentation**
Seems like we haven't exposed the `CumlArray` documentation via `api.rst`: https://docs.rapids.ai/api/cuml/nightly/search.html?q=CumlArray&check_keywords=yes&area=default

**Describe the problems or issues found in the documentation**
No doc.

**Steps taken to verify documentation is incorrect**
https://docs.rapids.ai/api/c

[2020-06-19 20:52] hcho3 commented on #2452
#2453 adds CumlArray to the API doc.

[2020-06-19 21:54] hcho3 commented on #2422
https://github.com/rapidsai/cuml/pull/2454 marks the test as XFAIL.

[2020-06-19 23:22] hcho3 commented on #2451
@yasmina-altair Thanks to the succinct example script you posted, we managed to find a quick bug fix: #2455.

[2020-06-19 23:28] hcho3 opened #2456 "[BUG] Audit cuML source code and add test to catch incorrect use of cuML array"
Recently, we updated all cuML algorithms to use cuML arrays. The convention is that fields of estimators that are of cuML array type should be prefixed with an underscore, like this:
[code]
It is quite easy to leave out the underscore:
[code]
Leaving out the underscore in the cuML array field is dangerous because, when the user accesses the field, they'll get `None`. This is what happened in the b

[2020-06-19 23:46] hcho3 commented on #1084
Consolidating to #2160.

[2020-06-19 23:46] #1084 closed

[2020-06-19 23:47] hcho3 commented on #1305
In #2263, cuML switched to using the new binary serializer of Treelite, so Protobuf is no longer involved in RF->FIL conversion.

[2020-06-19 23:47] #1305 closed

[2020-06-19 23:57] #2348 closed

[2020-06-21 03:17] rlratzel opened #2457 "[FEA] cuml benchmarks in `cuml/python/cuml/benchmark` need updating"
The benchmarks in `cuml/python/cuml/benchmark` need updating to the upcoming RAPIDS-wide python benchmarking standard, as already adopted by cugraph (see examples [here](https://github.com/rapidsai/cugraph/tree/branch-0.15/benchmarks)) and documented [here](https://github.com/rapidsai/benchmark/tree/mvp_docs#writing-and-running-python-benchmarks).

These are based on `pytest` and the [`rapids-pyte

[2020-06-21 19:22] Quentin-Anthony opened #2458 "[BUG] Kmeans MNMG Notebook: NCCL Error"
**Describe the bug**
I'm running the kmeans mnmg notebook example on an HPC system, and running 'kmeans_cuml.fit(X_cudf)' gives the error:

[code]

Full trace on Client:
[code]

Full trace on Worker:
[code]

**Steps/Code to reproduce bug**
- Initialize dask cluster via dask-mpi
- Run following script:

[code]

**Environment details (please complete the following information):**
 - Environment loca

[2020-06-22 13:57] #2398 closed

[2020-06-22 14:05] #2451 closed

[2020-06-22 15:09] JohnZed commented on #2456
Let's get these shaken out within 0.15. I'm sure some annoying bugs are lurking as a result.

[2020-06-22 16:14] JohnZed commented on #2456
@dantegd 's comment on the PR #2445:
[code]

[2020-06-22 18:01] cjnolet opened #2459 "[BUG] UVM failures when data grows very large."
Below is a reproducible example on the 0.15 nightly of cuML w/ CUDA 10.2.

There are several estimators that fail with either `illegal memory access was encountered` or `invalid configuration argument`, both of which seem to indicate an integer overflow might be occurring when representing the size of the underlying array.

[code]

Here's the exception
[code]

In the above example, I used a size o

[2020-06-22 18:06] cjnolet commented on #2459
Logistic regression seems to throw an error before the algorithm even executes and it seems to be from CuPy:

[code]
[code]

[2020-06-22 22:47] cjnolet opened #2460 "[FEA] Refactor T-SNE to use device_buffer"
T-SNE is still using the allocator directly, which is very prone to memory leaks. Most of the other algorithms / primitives have since been refactored to use the `device_buffer`, which is RAII, in order to avoid the potential for leaks.

[2020-06-22 22:56] #2460 closed

[2020-06-23 11:11] cataclysmus commented on #1503
Hi all,

I spent about a week to build cuML without conda, docker, etc... Had a lot of bugs, but all of them were linker missing some libs. To fix protobuf bug mentioned above, I modified `CMakeFiles/cuml++.dir/link.txt` file and added `-lprotobuf` at the end.

Another common bug related to python packages is missing declaration of `cuda, cudart` in setup.py
For example, I modified setup.py this w

[2020-06-23 14:37] #2438 closed

[2020-06-23 14:45] dantegd opened #2462 "[FEA] Improve logging usage in CumlArray, input_utils and other `cuml.common` components"
Now that logging is in place, it is not being used in CumlArray, input_utils, memory_utils and other files for the most part, where it would be very useful to have debug level logging.

[2020-06-23 16:29] cwharris opened #2463 "[BUG] Rename "master" branch."
Decades from now, will history students wonder why an entire industry decided to rename a core part of its infrastructure, or will they wonder why it was named that way to begin with?

Let's rename the "master" branch.

rapidsai/cudf#5560

[2020-06-23 16:36] cjnolet opened #2464 "[FEA] BenchmarkRunner should accept"
The `BenchmarkRunner` would be a little more flexible if it accepted a dataset directly. This would make it easier to execute the benchmark on pre-defined conditions (such as trying to reproduce a bug with a specific set of data).

[2020-06-23 17:11] mike-wendt commented on #2463
As mentioned in rapidsai/cudf#5560 there is a coordinated effort for this that is still in progress. Once approved a new issue with steps for each repo will be created here and the necessary PRs for the transition in the next few weeks.

[2020-06-23 17:11] #2463 closed

[2020-06-23 17:40] mdemoret-nv commented on #2384
Following up on this, I was able to get the python side of `cuml` built using CUDA 11 with some work. I was unable to run any of the python tests due to the dependence on `cudf` built with CUDA 11 but the build was successful, it just failed to run.

For posterity, here are the steps I took to get it building with CUDA 11:

Note: There was quite a bit of trial and error and these steps have been c

[2020-06-23 17:55] #2452 closed

[2020-06-23 19:41] cjnolet commented on #2459
I executed the `1Mx5k` training and inference on several more models:

| *NearestNeghbors* | did not fail |
| *KNeighborsClassifier/Regressor* | failed on predict |
| *KMeans* | failed in training |
| * SVR/SVC* | failed in training |
| *DBSCAN* | failed in training |
| *RandomForestClassifier* | did not fail |
| *RandomForestRegressor* | failing in training |
| *GaussianRandomProjection* |
| *UMA

[2020-06-23 19:45] #2400 closed

[2020-06-23 19:45] #2425 closed

[2020-06-23 21:08] brandon-b-miller opened #2466 "[BUG] Test failures when env contains treelite > 0.9, but XGBoost is not installed"
**Describe the bug**
A few cuML tests in `test_fil.py` are marked as `xfail` if the treelite version is wrong. However if the test is not skipped it expects the function `simulate_data` to be defined, which only happens if `xgboost` is also installed at the same time. Therefore if your environment is configured with `treelite>0.9` but is missing `xgboost` these tests fail with a `NameError`.

**St

[2020-06-23 21:13] hcho3 commented on #2466
FYI, Treelite is now a hard dependency of cuML, and the tests are no longer marked with xfail. See commit https://github.com/rapidsai/cuml/commit/5772a491fa2825c9d032169c0a1e11afc3e0b7cb.

We still need to fix the problem of missing `simulate_data()`.

[2020-06-24 00:15] cjnolet opened #2467 "[BUG] Remove direct imports from `sklearn` in non-pytest code"
There are a couple estimators that are importing sklearn directly and sklearn is not a direct dependency of cuML.

A very quick grep shows imports from sklearn in `benchmarks`, `feature_extraction`, `preprocessing`, & `datasets`.

We should consider mirroring very trivial imports, such as exceptions, in our codebase so that we don't have any dependencies on Scikit-learn outside of our pytests.

[2020-06-24 18:48] divyegala opened #2470 "[TODO] Use streams from handle in MG algorithms"
Once the move-over of MNMG algorithms is completed, we need to pick streams from the handle instead of creating them. This will also require the corresponding cumlprims prims API to reflect that change

[2020-06-24 18:53] divyegala opened #2471 "[TODO] Update API of MG algorithm functions"
Currently, some MNMG algorithm functions accept `Matrix::RankSizePair **rank_sizes` and `Matrix::Data<T> **input`. We want to change those to accept `Matrix::PartDescriptor &input_desc` and `std::vector<Matrix::Data<T> *> &input_data` respectively. This must also be passed down directly from the cython layer

[2020-06-24 19:00] beckernick opened #2472 "[BUG] Intermittent test failure for dask kmeans score method"
As discussed in https://github.com/rapidsai/cuml/pull/2468#issuecomment-648936993, there seems to be an intermittent test failure with multi-GPU KMeans score.

To evaluate (and possibly fix) this, we could:
- Measure the value from failures to see how close to the threshold it is
- Increase the tolerance threshold of the test and see how that affects the pass/fail rate across several runs (https:/

[2020-06-24 19:07] #2395 closed

[2020-06-24 20:24] divyegala opened #2474 "[TODO] Use inverse transform to assert in PCA MG gtest"
Depends on https://github.com/rapidsai/cuml/issues/2471

[2020-06-25 07:54] nikiforov-sm commented on #1998
Hi @JohnZed ,
Do you have news about these improvements to reduce the random forest metadata size in the gpu-memory?

[2020-06-25 12:04] Nyrio opened #2477 "[FEA] Batched CUDA implementation of L-BFGS-B (for ARIMA)"
ARIMA is currently using `_lbfgsb` from `scipy.optimize` as its optimizer. When using sum-of-square estimation (CSS), this is by far the bottleneck. With log-likelihood estimation (ML), it is not the bottleneck but is still a significant cost.

Feature/enhancement requested:
- a batched implementation of L-BFGS-B in C++ and CUDA
- porting most of the Python code in ARIMA to the C++ side, and remov

[2020-06-25 16:55] teju85 opened #2478 "[BUG] LogisticRegression suffers from accuracy loss when penalty is enabled"
**Describe the bug**
When the `penalty` term is enabled, it appears that the resulting accuracy of the cuML model is worse when compared to the equivalent one from scikit-learn.

**Steps/Code to reproduce bug**
@tfeher was able to reproduce this internally. Tagging him to add a reproducer when he's ready.

Also tagging @yasmina-altair as she too has been facing similar issues.

**Expected behavior

[2020-06-25 16:56] teju85 commented on #2478
@yasmina-altair, please do provide us a way to reproduce your findings when you are ready.

[2020-06-25 17:57] jfpuget opened #2479 "[BUG] SVR.predict() output cannot be transformed into a numpy array"
**Describe the bug**
Executing this line triggers this error:

        y_oof[train_ind] = model.predict(train_df[features])

where model is a SVR, train_df a cuDF dataframe, and y_oof a numpy array .

Error message:

TypeError: Implicit conversion to a host NumPy array via __array__ is not allowed,             To explicitly construct a GPU array, consider using             cupy.asarray(...)
To exp

[2020-06-25 18:26] daxiongshu commented on #2479
There are three ways to fix this as detailed in this [blog](https://medium.com/rapids-ai/input-and-output-configurability-in-rapids-cuml-e719d72c135b)

1. At the very beginning of the script:
[code]

2. Before definition of the model:
[code]

3. In the definition of the model:
[code]

[2020-06-25 20:00] JohnZed commented on #1878
Closed by #2245

[2020-06-25 20:00] #1878 closed

[2020-06-25 20:15] jfpuget commented on #2479
Thanks, but output_type is an undocumented argument to SVR constructor unfortunately.

[2020-06-25 20:38] alxhrzg opened #2481 "[BUG] Parameters Missing in methods 'get_params' and 'set_params'"
Maybe I am overlooking something or it is intended, but for the models SVR and ElasticNet the following parameters are missing form the get- and set_params methods, namely:

* ElasticNet: "l1_ratio"
* SVR: "epsilon"

_Note: Those are the only ones which threw an error on me, there might be other params missing!_

Reading the code of the implementation in your repos, I am seeing that the parameters

[2020-06-25 21:28] beckernick opened #2482 "[BUG] Some pytests require functions defined only if xgboost is available but aren't skipped if missing"
In `test_fil.py`, `test_fil_skl_classification`, `test_fil_skl_regression` and perhaps `small_classifier_and_preds` rely on `simulate_data`, which is only defined if xgboost is available. All other tests that rely on `simulate_data` are marked to skip if xgboost isn't available. Do we possibly want to mark these for skipping as well, or perhaps move the function definition out of the `has_xgboost(

[2020-06-26 04:23] otavioon commented on #2458
Hello,

I am also having the same problem using MNMG K-means implementation in an HPC environment

[2020-06-26 09:29] tfeher commented on #2478
Here is a reproducer:

[code]

Which produces output:
[code]

The difference in the score can be much larger, depending on the dataset and the model size.

[2020-06-26 09:44] tfeher commented on #2478
The actual problem is caused by how the regularization strength term is interpreted. cuML's implementation has an additional n_samples factor in it. With the current version of cuML, one needs to set C_cuml = n_samples * C_skl to get the same results.

So after the following changes we get the same results:

[code]

We will fix the handling of C parameter in cuML, so that it is interpreted the sam

[2020-06-26 12:55] beckernick commented on #2401
Small oversight in my initial scoping. The original list of issues will only unlock some of the meta-estimators. We'll need to add a `self.classes_` attribute to unlock the remaining meta estimators for classification. However, AdaBoostClassifier will only be unlocked estimator by estimator as we need to support sample weights for our cuML base estimator of choice.

Filing an issue for the classes

[2020-06-26 13:07] beckernick opened #2484 "[FEA] Add a classes_ attribute during estimator fit for classifiers containing unique class labels"
In scikit-learn, classifier estimator assign the unique classes in the target data to `self.classes_` during the `fit` stage. Existence of this estimator attribute is necessary for several checks/enforcements that happen during parts of model selection and cross validation, primarily around ensuring that each fold is well [stratified](https://en.wikipedia.org/wiki/Stratified_sampling) . Beyond com

[2020-06-26 14:45] cjnolet commented on #2458
@Quentin-Anthony @otavioon,

Can you provide the output of `conda list`?

[2020-06-26 14:52] beckernick opened #2485 "[QST] Best practices for using with_cupy_rmm vs rmm_cupy_ary"
It's often desirable to use RMM as the memory allocator for CuPy functions. At the function execution level, this can be done by wrapping the function call with `rmm_cupy_ary`. At the function definition level, this can be done by using the `with_cupy_rmm` decorator.

Both of these approaches are used across the codebase. For developers looking to contribute, are there guidelines as to when they s

[2020-06-26 17:28] JohnZed commented on #2478
Nice analysis, @tfeher!

[2020-06-26 17:36] JohnZed commented on #2482
It looks like we could move simulate_data out of that block, right? It seems to be indented incorrectly. Let me know if you have a time to do a PR for it or otherwise we'll add it to the bug queue.

[2020-06-26 17:41] JohnZed commented on #2479
The model is behaving as expected, in that it is returning a cuDF output after receiving a cuDF input. The underlying change from 0.13 is on the cuDF side, where they changed coercion from cuDF to numpy so that it requires an explicit to_array.
  In addition to @daxiongshu 's options listed, if you want a pure-numpy experience, you can pass in numpy input data to train, then you'll get numpy outpu

[2020-06-26 17:41] #2479 closed

[2020-06-26 18:20] beckernick opened #2488 "[FEA] Wrap estimator fit type, dtype, and attribute checks and sets into a single generic setter"
As discussed in https://github.com/rapidsai/cuml/pull/2431#discussion_r445694546, scikit-learn performs a variety of checks, attribute sets, and other validation steps during the process of fitting an estimator. It might be nice for us to wrap our output type, output dtype, number of features, and other future data validation calls into a generic setter, such as `self._set_base_attributes(X, outpu

[2020-06-26 20:45] Quentin-Anthony commented on #2458
@cjnolet

Sure.

[code]

[2020-06-26 23:14] Banus opened #2491 "[BUG] KNeighborsClassifier predict crashes for medium/large datasets"
**Describe the bug**
When using 20k or more samples to fit a KNeighborsClassifier, training goes on smoothly but the method `predict` crashes with the following message:
[code]

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
`predict` should return the predictions for the given samples.

**Environment details (please complete the following information):**
 - Environment location: [B

[2020-06-27 15:41] cjnolet commented on #2459
I believe the solution for most of these should be to convert any and all variables representing number of array elements (e.g., n_rows * n_cols) to `size_t`.

[2020-06-27 15:43] cjnolet commented on #2491
@Banus

Thank you for opening this issue. I have verified this crash also occurs in our pytests when the data sizes are set to 20k rows and 248 cols.

[2020-06-28 16:42] cjnolet commented on #2458
@Quentin-Anthony,

In general, we expect that the cuml Dask algorithms be executed on a cluster that is running a set of `dask_cuda-worker` processes or a `LocalCUDACluster` from the [Dask-CUDA](https://github.com/rapidsai/dask-cuda) project.

I’m not sure if it’s possible to launch Dask-CUDA workers with Dask-MPI. Cuml’s distributed algorithms will create a NCCL clique behind the scenes across th

[2020-06-29 15:06] tfeher commented on #2478
Thanks to @yjk21 for finding the root cause!

[2020-06-29 16:19] JohnZed commented on #2456
Tagging @mdemoret-nv who will look at this

[2020-06-29 16:22] cjnolet opened #2495 "[FEA] CuPy Sparse Enhancements"
This umbrella issue includes enhancements we are contributing to CuPy 8.0.0 which have been found to be useful for ML workflows. There are 3 main enhancements:

- Slicing & fancy indexing of compressed sparse matrices
- Setters w/ slicing and fancy indexing of compressed sparse matrices
- Computing mean

Currently, the elementwise `.mulitply()` function throws a `NotImplementedError` for compresse

[2020-06-29 16:28] JohnZed commented on #2104
Will add new metrics but follow a similar pattern to: https://github.com/rapidsai/cuml/pull/2394

[2020-06-29 16:33] Salonijain27 commented on #2418
This was used at one point and it is removed in the cython refactor PR (https://github.com/rapidsai/cuml/pull/2237)

[2020-06-29 19:19] beckernick commented on #2482
Happy to pick this up @JohnZed

[2020-06-29 20:50] yasmina-altair commented on #2478
Hi,
seems that you found the source of the issue. As a reference, here's another example that I just created in colab:
[code]

AUC is 0.5 for cuml LogisticRegression, there is no class separation, the model is always predicting one class. When I run:
[code]
the output is an array of ones.

[2020-06-30 16:34] Quentin-Anthony commented on #2458
@cjnolet

We tried using the Dask-CUDA project via the instructions in the [kmeans mnmg notebook](https://github.com/rapidsai/cuml/blob/branch-0.15/notebooks/kmeans_mnmg_demo.ipynb), but came across the following error:

[code]

[2020-06-30 18:56] JohnZed opened #2498 "[TASK] Triage and fix LGTM static analysis issues"
See https://lgtm.com/projects/g/rapidsai/cuml/?mode=list
for a static analysis report on cuML. There is nothing crazy at first glance, but we should do a deeper dive.

[2020-07-01 16:25] #2372 closed

[2020-07-01 16:55] #2396 closed

[2020-07-01 17:18] Salonijain27 opened #2501 "[FEA] Print Dask RF forest information on Client and not the Worker"
On running Dask RF workers on different nodes by using `dask-scheduler` and `dask-worker` cli. The `print_summary` and `print_detailed` functions present in Dask RF display the model information on the individual workers and not on the client. Therefore, the user does not see the entire forest information in one place.

[2020-07-02 15:28] hassanshamji opened #2503 "[QST] Difficulty joining the output of cuml.dask.preprocessing.OneHotEncoder with the source dask_cudf"
I am having trouble joining the output of cuml.dask.preprocessing.OneHotEncoder with the source dask_cudf. What is a correct way to do that?

1. Create dask_cudf
[code]

2. OHE
[code]

Even though I pass in a dask_cudf, I receive a dask array of cupy.ndarrays (which is slightly unexpected). However, when I inspect the column values it all looks correct.
[code]

3. Merge to original dask_cudf
[code

[2020-07-02 17:26] beckernick commented on #2399
@hcho3 looks like the serialization changes made a meaningful improvement. The below example is from the 2020-07-01 nightly as of 3 PM EDT. Looks to be about 4 seconds shaved off, or about 1/3 of the time.

[code]

The conversion slowdown appears strongly related to the number of features. While not surprising, it's interesting to see it play out:

[code]

[2020-07-02 18:53] cjnolet commented on #2458
@Quentin-Anthony @otavioon,

I just encountered the (NCCL) error in this issue's description in the nightly but after downgrading the NCCL conda package to 2.5, I was not able to reproduce it again.

On a fresh install of 0.13, I was able to reproduce your latest error and the NCCL version didn't seem to matter. It's possible this could be some combination of updated Dask/Distributed versions and

[2020-07-02 18:58] cjnolet opened #2504 "[DOC] Update notebooks"
Some of our notebooks have gotten out of date. For example, the k-means mnmg notebook is using `cuml.dask.datasets.make_blobs` incorrectly, as it was updated in 0.14 to build dask arrays instead of dask-cudfs. As a result, it throws an error, which isn't useful to users.

We should scrape through the other notebooks just to catch any other cases like this.

[2020-07-02 18:59] cjnolet commented on #2458
Also created #2504 to update the k-means notebook.

[2020-07-02 19:36] KeertiBafna opened #2505 "Multi GPU support for time series models"
Is there any way currently to run the rapids time series models (ARIMA, ESM) on multiple gpus ?

[2020-07-02 20:11] otavioon commented on #2458
Hello @cjnolet

Unfortunately I no longer have access to the machines used.

I was using a fresh n1-highmem google cloud instance with 4xT4 Nvidia gpus in it, using CUDA 10.2.
RAPIDS was executed over a Docker container, from docker rapidsai/rapidsai:cuda10.2-runtime-ubuntu18.04-py3.7, without any other new package.

I will try to request access again.

Att,

[2020-07-03 00:55] mdemoret-nv commented on #2456
I'm breaking this down into several steps to incrementally improve the repo:

- [ ] Modify the tests to identify current issues without a performance impact
- [ ] Fix the incorrect uses of base in the repo
- [ ] Develop caching system on CumlArray to avoid unnecessary `to_output()` calls
- [ ] Determine if caching system has performance impact
- [ ] If the caching system is beneficial, incorporate

[2020-07-06 09:26] viclafargue opened #2509 "[FEA] Consolidate OPG KNN Classifier/Regressor"
The Python code for OPG KNN Classifier/Regressor would need further consolidation/factorization to remove useless duplications of code. See #2211

[2020-07-06 15:44] Salonijain27 opened #2510 "[BUG] Dask cuml RF multi classification does not generalize successfully for 10 classes and above"
This issue was reported in PR: #2248 (https://github.com/rapidsai/cuml/pull/2248#issuecomment-629052267)

[2020-07-06 15:52] #2482 closed

[2020-07-06 15:55] Salonijain27 commented on #2437
Compared the forest built in dask RF with the ones built in non-dask RF implementation. The non dask forests when built with using the same seed values as used in dask RF workers created almost identical forests.

This issue could be due to the fact that on changing the seed value for the forest we can see that the RF model accuracy varies a lot. Since each worker has a different seed the forest c

[2020-07-06 16:29] JohnZed opened #2511 "[DOC] Add pickling to intro notebook in API docs"
Mirror it in a multi-gpu version of the notebook as well

[2020-07-06 16:54] divyegala opened #2512 "[DOC] Update docs for MPI installation when building `cumlcommsmpi`"
We specify that users need to install `openmpi` or have it in their environment when building `cumlcommsmpi`. We should update that to specify that it is a CUDA-aware MPI installation, and that a flag needs to be passed with `mpirun` or an environment variable needs to be set to run with CUDA awareness.

The flag is: `OMPI_MCA_opal_cuda_support=true`

The installation is available as: `conda insta

[2020-07-07 11:10] tfeher commented on #2478
The regularization strength is corrected, and the fix is available in the nightly images. Using this the [first problem](https://github.com/rapidsai/cuml/issues/2478#issuecomment-650084732) disappears.

The problem reported by @yasmina-altair still exists. It is not related to the penalty parameter (the example does not apply any penalty factors). The problem is related to the scaling of the input

[2020-07-07 12:03] yjk21 commented on #2478
Hey @tfeher
The problem seems to be that log.reg. in sklearn applies L2 regularization with C=1 by default: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

If you enable it also for cuml, the accuracy seems on par.

[2020-07-07 13:49] cjnolet opened #2516 "[FEA] Provide equivalent of Dask-ML's ParallelPostFit"
While cuml models do appear to work natively inside Dask ML's `ParallelPostFit` the configurable scoring methods used inside could be accelerated by using the versions in cuML.

Since `ParallelPostFit` is already a pretty trivial wrapper, and since we don't have an official dependency on Dask ML within cuML, I think we should provide an equivalent implementation within cuML.

[2020-07-07 14:02] tylerjthomas9 opened #2517 "[BUG] Low accuracy for LogisticRegression when compared to Scikit-learn"
**Describe the bug**
Poor logistic regression performance compared to sklearn's logistic regression with the same parameters.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
I expected to get similar accuracy scores. In this example, sklearn lr gets 96.5% accuracy and cuml lr gets 62.23% accuracy, and is predicting 1 for every observation.

**Environment details (please complete the

[2020-07-07 14:08] cjnolet commented on #2517
@tylerjthomas9, this may be a duplicate of https://github.com/rapidsai/cuml/issues/2478.

It would be helpful to know if the cuml 0.15 nightly conda package from the `rapidsai-nightly` conda channel fixes this.

You should also be able to set the `penalty='none'` option in both the cuml and Scikit-learn estimators to verify if this is indeed related to #2478.

[2020-07-07 14:27] tylerjthomas9 commented on #2517
I created a new environment with the nightly version, and `penalty='none`. I got the same results as above. From @tfeher's comment in #2478, I tried using the standard scalar, and it fixed the issue. This is with `penalty='none`. I think you are right that this is a duplicate of #2478. The standard scalar also fixes the low accuracy for me with different C values and L2 regularization. I will look

[2020-07-07 14:27] #2517 closed

[2020-07-07 19:42] Salonijain27 opened #2518 "[BUG] Considerable difference between the sklearn and cuml RF accuracy"
The difference in accuracy between sklearn and cuml RF varies in the range of 3-7% (3% difference obtained after hyper-parameter tuning) for the below example. The base code for the example below is the rf notebook present in the notebooks-contrib repo (https://github.com/rapidsai/notebooks-contrib/blob/branch-0.14/intermediate_notebooks/examples/rf_demo.ipynb)  :
[code]

Output :
[code]

[2020-07-08 00:10] divyegala commented on #2505
@KeertiBafna as of now, there is no support. I will convert this into a feature request for future work

[2020-07-08 00:20] divyegala commented on #2503
Tagging @Garfounkel as the output should be mirrored to the input. Also, we should be returning the same number of partitions, right?

@hassanshamji while we look into the input/output mismatch, we could try making the current code work. Before you do `out.compute_chunk_sizes()`, could you try `out.rechunk((int(out.shape[0] / 3) + 1, -1)`?

[2020-07-08 00:28] divyegala commented on #2481
@alxhrzg Thank you for pointing these, you are welcome to raise a PR with the fixes and become a part of the cuML code-contributor family! If not, I will go ahead and fix this :)

[2020-07-08 07:27] alxhrzg commented on #2481
@divyegala Hi, thank you very much for this offer! I will contribute the fixes and make a PR! Love to become a part of the cuML-family! :)

[2020-07-08 16:15] Garfounkel opened #2523 "[ENH] Remove dependency on Scikit-learn by using our own `NotFittedError`"
As discussed here https://github.com/rapidsai/cuml/pull/2520#discussion_r451201419 we should remove the dependency on Scikit-learn when this is possible by using our own `NotFittedError` exception instead of sklearn's.

[2020-07-08 16:44] divyegala commented on #2481
@alxhrzg awesome, thanks for your contributions! As your first PR, this guide will help in getting started https://github.com/rapidsai/cuml/blob/branch-0.15/CONTRIBUTING.md

[2020-07-08 16:51] divyegala opened #2524 "[TASK] Update MNMG GLM and solver to use `device_buffer`"
Once #2480 is merged, we would want to update MNMG GLM and solver to use `device_buffer`

[2020-07-08 16:59] divyegala opened #2525 "[TODO] Update the cmake include path for cumlprims_mg"
It would be better for readability for files included from `cumlprims_mg` to have their include path as `#include <cumlprimsmg/...>`

[2020-07-08 17:09] Garfounkel commented on #2503
The number of partitions is correct, but in order to have the same behavior as scikit-learn we transpose the resulting one hot encoded matrix so the final shape is `(number_of_samples, categories)`, or in your case `(12, 8)`. Therefore the indexing you want to use to retrieve a columns is `out[:, col_number]` instead of `out[col_number]`.
[code]

As for the output type mirroring the input. Again,

[2020-07-08 17:12] #2421 closed

[2020-07-08 17:20] divyegala commented on #2503
@Garfounkel thanks for looking into this! It doesn't seem like a bug anymore then. @hassanshamji if you confirm the above works for you, I will go ahead and close this issue

[2020-07-08 17:38] alxhrzg commented on #2481
@divyegala One more question. I've seen that most classes in python/cuml inherit from cuml.common.Base which implements the getter- and setter methods (sklearn-style). A lot of classes inherit from Base but are missing the relevant *get_param_names* method, so *get_params* and *set_params* will never work. Next to adding the *get_params_names* method to all classes I started populating it for all

[2020-07-08 17:55] mahdiehgh opened #2527 "[QST]Definition of fit function in cuml/cluster/kmeans_mg.pyx"
I've beed trying to debug an issue I'm facing with kmeans. I can see that KMeansMG class in cuml/cluster/kmeans_mg.pyx is calling fit function from "cumlprims/opg/kmeans.hpp".  I know there is a fit function defined in cpp/src/kmeans/kmeans.cu. But apparently, this is not the one used by KMeansMG.

Would you please point me where I can find the definition of fit function used by KMeansMG class? Is

[2020-07-08 18:02] divyegala commented on #2527
@mahdiehgh What version of cuml are you using? We only recently open-sourced KMeansMG. You can find it in the most-recent `branch-0.15` at https://github.com/rapidsai/cuml/blob/branch-0.15/cpp/src/kmeans/kmeans_mg_impl.cuh#L381

[2020-07-08 18:09] divyegala commented on #2481
@alxhrzg Thanks for pointing these out! It does indeed seem like the intention was for each class deriving from base to override `get_param_names` https://github.com/rapidsai/cuml/blob/branch-0.15/python/cuml/common/base.pyx#L217. Love your changes!

[2020-07-08 19:07] KeertiBafna commented on #2505
@divyegala Thank you for the response.
If i have two gpu's on my machine, is there any way to run tasks in parallel on them?
Say task1 on gpu-0 and task2 on gpu-1 in parallel?

[2020-07-08 19:31] mahdiehgh commented on #2527
Thanks for your prompt response. I was using the same version but haven't pulled it recently. Thanks

[2020-07-08 19:47] zbjornson opened #2528 "[DOC] Stale C++ build instructions for v0.15"
(Opening this as a DOC bug instead of a BUG, but it might be a build problem.)

## Report incorrect documentation

**Location of incorrect documentation**
https://github.com/rapidsai/cuml/blob/branch-0.15/BUILD.md

**Describe the problems or issues found in the documentation**
This pertains to the cpp build only; I haven't tried the python build.

* Since f2eb38ba1d5e43f34266d723d2ebb412904ef3cc,

[2020-07-08 20:04] hcho3 commented on #2528
@zbjornson Are you using a Conda environment? Treelite is now part of the `cuml_dev` environment. What is our expectation for building cuML without a Conda environment?

[2020-07-08 20:07] zbjornson commented on #2528
I'm not using a Conda env (I'm building just the C++ lib for use with a non-Python language). Before 5772a491fa2825c9d032169c0a1e11afc3e0b7cb, it was possible to build just by running `cmake .. && make -j cuml++`, which was really nice.

[2020-07-08 23:17] Nanthini10 commented on #2498
Closed by #2513

[2020-07-08 23:17] #2498 closed

[2020-07-09 01:01] hassanshamji commented on #2503
Thanks for the quick follow-up, @divyegala & @Garfounkel.

1. Regarding the input/output type, returning an array seems good. I was trying to highlight that it was an array of cupy.ndarray, rather than what I would have expected, an array of cudfs. I could be expecting the wrong thing, but just wanted to clarify that point.

2. Thanks for the response, @Garfounkel. When I ran  `ddf['temp'] = out[:

[2020-07-09 01:40] #2491 closed

[2020-07-09 11:53] aerdem4 opened #2530 "[FEA] Feature Importance/Selection LOFO + RAPIDS"
**Is your feature request related to a problem? Please describe.**
I currently maintain  [LOFO Importance](https://github.com/aerdem4/lofo-importance) package which is a model agnostic, validation scheme dependent feature importance tool. It can be an initial step to automated feature selection. It currently uses sklearn and pandas. I wanted it to have cuml support but I am missing 2 important skl

[2020-07-09 12:07] Nyrio commented on #2353
#2172 has been merged, providing initial support for auto-ARIMA.

[2020-07-09 13:32] titericz opened #2531 "[FEA] PCA partial_fit method."
**Is your feature request related to a problem? Please describe.**
Fit() method in cuml PCA can't handle big data in GPU memory.

**Describe the solution you'd like**
The solution is to fit PCA by batches using IncrementalPCA algorithm.

**Additional context**
Sklearn implements a partial_fit for IncrementalPCA (IPCA) that makes possible to reduce dimension by batches. Would be great if cuml PCA (

[2020-07-09 17:07] NV-Reynaldog opened #2533 "[FEA] Gaussian Process Regressor needed"
**Is your feature request related to a problem? Please describe.**
I need the sklearn GaussianProgressRegressor available as a cuML library.

https://scikit-learn.org/stable/modules/generated/sklearn.gaussian_process.GaussianProcessRegressor.html

**Describe the solution you'd like**
Drop-and-replace RAPIDS version of sklearn.gaussian_process.GaussianProcessRegressor

**Describe alternatives you'v

[2020-07-09 17:22] Salonijain27 opened #2534 "[BUG] Dask RF fails when one worker has no data (causes Dask RF test to intermittently fail)"
Dask RF regression test `test_rf_regression_dask_fil` in `cuml/test/dask/test_random_forest.py` intermittently fails. The `DistributedDataHandler.create` function in `cuml/dask/ensemble/base.py` does not seem to always split the data into n_workers.
For example if 2 workers are being to run the test. The dataset is not split between the two workers and is provided only to worker 0.

The stack trac

[2020-07-09 18:10] JohnZed commented on #2531
Targeting 0.16+ - a fair chance it will not make 0.16 exactly, but we'll start on it before that timeframe and get a better feel of total effort estimate then.

[2020-07-09 20:12] cjnolet commented on #2495
PR for sparse slicing/indexing: https://github.com/cupy/cupy/pull/3486
PR for indexed/sliced setting: https://github.com/cupy/cupy/pull/3533
PR for sparse mean: https://github.com/cupy/cupy/pull/3487

[2020-07-09 20:20] JohnZed commented on #2511
https://docs.rapids.ai/api/cuml/nightly/estimator_intro.html

CC @miroenev

[2020-07-09 20:22] JohnZed commented on #2013
rerun tests

[2020-07-10 05:28] vinaydes opened #2537 "[BUG] The C++ RF test fails if number of inference samples is different from number of training samples"
The issue is caused by line https://github.com/rapidsai/cuml/blob/branch-0.15/cpp/test/sg/rf_test.cu#L107. It tries to copy `data_len`
number of items from a `inference_data_len` array. I'll create a PR for fixing this issue soon.

[2020-07-10 06:21] hcho3 commented on #2528
@zbjornson To build cuML without Conda, you will need to build and install the C++ library for Treelite (`libtreelite.so`), as follows:
[code]

[2020-07-10 06:50] hcho3 commented on #2528
It looks like Protobuf is causing a headache in building Treelite outside a Conda environment. Let me file a pull request to remove the Protobuf requirement.

[2020-07-10 06:55] zbjornson commented on #2528
Thank you.

I don't have my build notes from yesterday in front of me right now, but I think I just had to build the same version of protoc (3.6.2?) that you're using and install it. I'll double check when I get home. If that's all it takes, it might be worth leaving protobuf as a dep if it's important?

[2020-07-10 06:56] zbjornson commented on #2528
(ah, and I just saw your edits saying something similar!)

[2020-07-10 07:03] hcho3 commented on #2528
@zbjornson Did you set `-DENABLE_CUMLPRIMS_MG=OFF` or `-DSINGLEGPU=ON`? Otherwise it'd look for `libcumlprims_mg`, which is only available from `nvidia` Conda channel (this is a non open source code).

[2020-07-10 17:13] loretoparisi commented on #2389
I also had this problem with `librosa` and the solution was using

[code]

[2020-07-10 17:26] vinaydes commented on #2537
The change is pending as I am facing build issues related to https://github.com/rapidsai/cuml/pull/2538. I'll push the change once I can build locally

[2020-07-10 18:10] Garfounkel commented on #2503
@hassanshamji I am not able to reproduce your issue. When I run the following I don't get any errors:
[code]
Could you try this and tell us if this works for you?

[2020-07-10 19:15] zbjornson commented on #2528
@hcho3 I see in #2538 that removing protobuf probably won't have a major impact, that's great. Thanks for doing that.

Below is how I build branch-0.14 without Conda on Ubuntu 20.04. It works without `-DENABLE_CUMLPRIMS_MG=OFF` or `-DSINGLEGPU=ON`.

[code]

For branch-0.15, I added your treelite step and thought I could work around the cumlprims issue by manually installing it out of the Conda bun

[2020-07-10 22:19] hcho3 commented on #2528
@zbjornson libcumlprims is necessary for MG (multi-GPU) support. When you apply `-DSINGLEGPU=ON`, it also implies `DENABLE_CUMLPRIMS_MG=OFF`.

As for the error message, I believe you'd need to install all dependencies of libcumlprims. Yes, if you'd like to use multiple GPUs for training, using Conda would be the easiest path. Keep in mind that Conda is not only for Python application. Think of Con

[2020-07-11 16:39] zbjornson commented on #2528
@hcho3 thanks so much! Got it building with Conda. Also found libcumlprims-*0.15a* (which has that missing header) under https://anaconda.org/rapidsai-nightly/libcumlprims/files, so my manual install method ended up working also.

The cpp/ build docs should probably still be updated sometime with this info. I'd open a PR to do so but don't feel authoritative on this matter and if the plan is to dr

[2020-07-11 17:26] tfeher opened #2546 "[BUG] Logistic regression does not return fit status"
**Describe the bug**
Logistic regression uses the QN solver. The QN solver defines a set of return codes https://github.com/rapidsai/cuml/blob/39e1bb2290dcb82b7c935f79164f098400158467/cpp/src/glm/qn/qn_util.cuh#L40-L46

While [qn_fit returns](https://github.com/rapidsai/cuml/blob/39e1bb2290dcb82b7c935f79164f098400158467/cpp/src/glm/qn/qn.cuh#L49) these codes to the caller, [qnFit ignores](https://

[2020-07-11 17:32] tfeher commented on #2478
@yasmina-altair The numerical problems that can occur with unscaled data will be fixed by #2546. After that is merged, the reproducer that you gave should work correctly. (The default values for regularization parameters are in agreement with Sklearn).

Thanks @yjk21 for the helpful discussions.

[2020-07-11 18:54] aleksficek opened #2547 "[FEA] Add KNN Sparse Output to Dask Layer"
**Is your feature request related to a problem? Please describe.**
Scikit-learn provides a `kneighbors_graph` feature that performs a `kneighbors` and returns a Sparse CSR matrix. This is being implemented in https://github.com/rapidsai/cuml/pull/2461 but to have this in the Dask layer, cupy-backed sparse arrays need to have desired functionality completed. This functionality is being completed as

[2020-07-12 17:24] divyegala commented on #2528
@dantegd isn't this similar to the issue that @trxcllnt was also facing recently?

[2020-07-12 17:24] #2527 closed

[2020-07-12 17:33] divyegala commented on #2505
@KeertiBafna that can be achieved through the projects https://github.com/rapidsai/dask-cuda and https://dask.org/

Just a small code snippet to get you started:

[code]

`LocalCUDACluster()` creates a GPU cluster with the number of GPUs available in your system, controlled by the environment variable `CUDA_VISIBLE_DEVICES`. `Client(cluster)` creates a `dask.Client` object which can then help you

[2020-07-12 19:25] miroenev commented on #2534
Seeing similar behavior with RF Classifier as well

[code]

[2020-07-12 19:50] cjnolet commented on #1103
Fixed by #2364

[2020-07-12 19:50] #1103 closed

[2020-07-12 22:56] zbjornson commented on #1753
This is from the rows dimension being mapped to the CUDA grid's Y dimension, which can only have 65,535 blocks. That limits the number of rows to `TPB_X` * 65,535 = 32 * 65,535 = 2,097,120.

https://github.com/rapidsai/cuml/blob/069a2292ed8a9664f69f927000316a87c61e6210/cpp/src_prims/sparse/coo.cuh#L931-L933

Adding fix to #2548 shortly.

[2020-07-12 23:33] zbjornson opened #2549 "[BUG] Barnes-Hut tSNE does not obey initialize_embeddings param"
**Describe the bug**

`TSNE_fit` (and its Python interface) takes a parameter `initialize_embeddings`:

https://github.com/rapidsai/cuml/blob/069a2292ed8a9664f69f927000316a87c61e6210/cpp/include/cuml/manifold/tsne.h#L62-L63

That's obeyed by `TSNE::Exact_TSNE` but not by `TSNE::Barnes_Hut`, which doesn't even have that as a function parameter.

Compare to exact's impl:

https://github.com/rapidsai

[2020-07-13 10:14] KeertiBafna commented on #2505
Thanks @divyegala. This is what i wanted to know.
To run 2 functions in async, do i need to specify some parameter ?
I tried the above code, i have 2 workers and i initiated 2 model objects (ESM and ARIMA),
est_esm = ExponentialSmoothing(grp_df_1, ts_num=grp_df_1.shape[1])
est_arima = ARIMA(grp_df_1, order=(1,0,1), seasonal_order=(1,0,1, 52))
Running the client like above is showing GPU utilisatio

[2020-07-13 11:35] duhaime commented on #1753
thanks @zbjornson ! Just to be clear, once #2548 is merged will we be able to use more than 2,097,120 rows?

[2020-07-13 13:10] yasmina-altair commented on #2478
awesome, thank you for the update!

[2020-07-13 14:25] JohnZed commented on #1684
We'll add a number of sklearn-based preprocessors in 0.15, based on work from @wxbn

[2020-07-13 15:40] divyegala commented on #2505
@KeertiBafna that was my fault. I think it's not `client.run`, it is `client.submit`. You should be able to just change the function name without having to change the arguments. Let me know if that works. To confirm, both your estimators are cuml models, right? Also, can you print the result of `client.has_what()` for me if the above substitution does not work?

[2020-07-13 15:54] KeertiBafna commented on #2505
@divyegala Yes, both are cuml models. Below are the details:
grp_df1 ==> cuDF dataframe with ts as columns
ARIMA ==> cuml.tsa.arima
ExponentialSmoothing ==> from cuml.tsa.holtwinters
client.has_what() = {'tcp://127.0.0.1:33577': (), 'tcp://127.0.0.1:45575': ()}

The command i run is ==> client.submit(est_esm .fit(), workers=workers[0])
Even if i change workers[0] to workers[1] i always see my GPU

[2020-07-13 16:00] divyegala commented on #2505
@KeertiBafna could you show me your `workers` variable? Also, can you try `workers=[workers[0]]` (putting it in a list)

[2020-07-13 16:27] divyegala commented on #2505
@KeertiBafna oh of course, I just realised what was wrong. The model was created on the `client`. Ideally, you would have something like:

[code]

What this changes is creating the model on the worker and then fitting it there too. Can you try this way?

[2020-07-13 16:59] dantegd commented on #2528
@zbjornson there is no plan to 100% require conda for building cuML 0.15 since there are users that are in environments where conda is not an option at all (some HPC clusters for example). So far, those cases haven't been the more common route, but as you saw, we've been getting more and more requests for alternative non conda options, so there is working being done on that front.

That said, the

[2020-07-13 16:59] hassanshamji commented on #2503
@Garfounkel,

That is strange. I ran those steps exactly and am getting the same error that I reproduced above, (`TypeError: Implicit conversion to...`)

I'm using a p3.8xlarge | 32 Cores | 244 GB Memory | 4 - NVIDIA V100 GPU

What information can I provide to help diagnose this?

[2020-07-13 17:07] zbjornson commented on #1753
@duhaime yep! You might run out of memory though. I have another commit I'll open a PR for soon that reduces memory requirements by about 25%. With that one I've been able to stress-test through 5.5M rows x 4 cols (x 90 neighbors) with 16 GB of GPU memory so far. (Memory usage scales less with number of cols than rows fortunately.)

[2020-07-13 18:04] KeertiBafna commented on #2505
@divyegala This worked . Thank you very much :)

[2020-07-13 18:05] KeertiBafna commented on #2505
The code thatworked just FYI:
from cuml.tsa.arima import ARIMA
def fit1():
    est = ARIMA(grp_df_1, order=(1,0,1), seasonal_order=(1,0,0,52))
    est.fit()
    frcs = est.forecast(6)
    return frcs
def fit2():
    est2 = ARIMA(grp_df_2, order=(1,0,1), seasonal_order=(1,0,0,52))
    est2.fit()
    frcs = est2.forecast(6)
    return frcs
##
a = client.submit(fit1, workers=[workers[0]])
b = client.

[2020-07-13 18:10] divyegala commented on #2505
Awesome! This might have upped both your GPU utilization, but I believe by calling `a.result()`, you block your client to wait on a's results before reading b. To keep it truly async, you could do `dask.distributed.wait([a, b])` which means you won't block the client on a anymore and it will wait for both a and b to fully finish and have the results ready. After which, you could do `a.result()` an

[2020-07-13 19:28] KeertiBafna commented on #2505
@divyegala Yes, i did notice that.
When i tried to add "dask.distributed.wait([a, b])" after defining a and b, the time taken was surprisingly a bit more. Below is the modified code, is there something i missed?

a = client.submit(fit1, workers=[workers[0]])
b = client.submit(fit2, workers=[workers[1]])
dask.distributed.wait([a, b])
res_a = a.result()
res_b = b.result()

[2020-07-14 02:15] divyegala commented on #2505
@KeertiBafna I would think that would be very use-case dependent. How big are the models that you are fitting? I would say `dask.distributed.wait` would start showing benefits as the run-time needed to fit both a and b is large enough

[2020-07-14 04:21] cjnolet commented on #2105
Also looking into Sparse ANN method through JL transform.

[2020-07-14 13:22] Salonijain27 opened #2556 "[DOC] MNMG linear models"
The documentation for mnmg linear models have a typo in the files. A part of the statement is repeated twice in linear regression and ridge documentation:
[code]

Furthermore, the documentation for the model mentions that it accepts only dask cudf dataframes.
(https://docs.rapids.ai/api/cuml/nightly/api.html#cuml.dask.linear_model.LinearRegression
 https://docs.rapids.ai/api/cuml/nightly/api.html#

[2020-07-14 16:36] #2311 closed

[2020-07-15 06:35] hcho3 commented on #2399
Update: **Pickle protocol 5 speeds up RF -> FIL conversion further.** It uses a technique called "out-of-band serialization" to speed up conversion between NumPy arrays and bytes.

## Benchmark setup
* Using [this script](https://github.com/hcho3/cuml/tree/rf_benchmark) by @Salonijain27 and @hcho3. See the link for instructions. To use a more recent version of cuML, it suffices to copy over `make_

[2020-07-15 06:38] jakirkham commented on #2399
As a note, the Distributed change ( https://github.com/dask/distributed/pull/3849 ) will be part of the 2.21.0 release.

[2020-07-15 10:08] teju85 commented on #2353
Thanks Louis. Closing this issue.

[2020-07-15 10:08] #2353 closed

[2020-07-15 14:19] Salonijain27 commented on #2518
on reducing the number of trees to 1 and max_depth=1 we see a large difference in sklearn and cuml's confusion matrix and accuracy. For reference the dataset has 52% 1's and 48% 0's:
[code]
Output:
[code]

When the max_depth is increased to `max_depth=10` the accuracy of both the models increases considerably but cuML's accuracy is lower than sklearns :
[code]

[2020-07-15 16:11] robocopnixon opened #2561 "[BUG] Random Forest slowerthan SKL on classification problem"
**Describe the bug**
The random forest algorithm performs poorly and more slowly than SKL on 200,000 observations of

**Steps/Code to reproduce bug**
I've attached a Jupyter notebook, and the data can be found here https://www.kaggle.com/wendykan/lending-club-loan-data.

**Expected behavior**
cuML should at least match the accuracy of SKL. This is not the case in this example.

**Environment detai

[2020-07-15 16:21] robocopnixon commented on #2518
#2561 Is related

[2020-07-15 18:30] hershkoy commented on #2333
I am having the same issue. I tried with 0.14 and then with 0.15a nightly.
Initial attempt was with 280K samples (121 dimensions). When it crashed, I to downsample by 50 and it worked. But downsample by 30 already crashed.

Unfortunately I don't have a way for you to reproduce it on a sample dataset. I just wanted to let you know that it is still happening

`---------------------------------------

[2020-07-15 19:32] aleksficek opened #2562 "[FEA] Move Kneighbors X is None Logic to C++ layer"
**Overview**
It was discovered that cuML's `kneighbors` function did not match scikit-learn's when `X=None` was being passed in. This issue was solved as part of https://github.com/rapidsai/cuml/issues/2547 with a corresponding unit test to support it. However, trimming the first column of the output in the Python layer is inefficient and it should be investigated if this can be done in the C++ la

[2020-07-16 00:47] hcho3 commented on #2561
Thank you for reporting the bug with a reproducible example. I tried running it on my workstation and reproduced the problem myself:
[code]

[2020-07-16 06:23] hcho3 commented on #2561
I ran the script 20 times. The gap between scikit-learn and cuML is reproduced consistently:

![figure](https://user-images.githubusercontent.com/2532981/87634440-1bdbdb00-c6f2-11ea-84a3-1372e510e177.png)

[2020-07-16 10:14] KeertiBafna commented on #2505
@divyegala Currently i was trying on a subset. I will surely try it full scale and update you.
Anyways thank you very much for the help.

[2020-07-16 14:10] JohnZed commented on #2561
Can we consolidate this with https://github.com/rapidsai/cuml/issues/2518? They are both similar classification issues, and I'd like to have one place to track progress.

[2020-07-16 14:13] JohnZed commented on #2518
The 1-tree, depth=1 result is really interesting and should be helpful. If sklearn can get to 0.61 with that, there is clearly one feature that has a lot of content. Either we're picking the wrong feature or the wrong split for a good feature.

[2020-07-16 15:31] Garfounkel commented on #2503
@hassanshamji Could you provide us your installed packages information? (The output of `conda list`)

I don't have access to a GPU at the moment so it's a bit difficult to help with this, @divyegala or @dantegd could you follow up on this when you get a moment?

[2020-07-16 16:09] Nanthini10 opened #2568 "[FEA] Accept one input in train_test_split"
**Is your feature request related to a problem? Please describe.**
scikit-learn allows the user to pass just one array or dataframe to the train_test_split function. cuML requires a second argument, error posted below.

**Describe the solution you'd like**
Ability to call `cuml.preprocessing.model_selection.train_test_split` on just one input argument.

[code]
[code]

**Describe alternatives you'v

[2020-07-16 16:48] teju85 commented on #2518
Tagging @vinaydes since he's currently ramping up on the RF code and also working to fix accuracy issues.

[2020-07-16 19:45] hcho3 commented on #2561
Increasing the number of bins helps a bit but does not close the gap entirely.

![figure](https://user-images.githubusercontent.com/2532981/87715349-15854780-c762-11ea-953c-dfc55d3cb08a.png)

[2020-07-16 19:45] JohnZed commented on #2561
For accuracy issues, focus discussion on issue: https://github.com/rapidsai/cuml/issues/2518

This issue will look at slowdowns in this example.

[2020-07-17 00:44] hcho3 commented on #2518
I've reduced the example from #2561 as follows:
[code]

This minimal example fits a single tree stump (depth 1) using the whole training dataset without any sampling. All features are used in all splits.

I ran the script 10 times and the results are now deterministic:
[code]

[2020-07-17 06:42] hcho3 commented on #2518
The notebook from #2561 takes the last 20000 data points as the test set (`pd_df.tail(20000)`) and the rest as the training set. It doesn’t shuffle the data prior to the split. I suspect the lack of shuffling might have introduced an artificial difference between the training and test sets.

When I tried 10-fold cross-validation, I get
[code]
Still a noticeable difference but now we don’t get a 0

[2020-07-17 12:05] vinaydes commented on #2518
I think I spotted at least one of the reasons for the discrepancy. The depth of the tree is 0-based in sklearn and it is 1-based in cuML. What it means is when `max_depth` is set to `1`, sklearn trained model has three nodes, one root and two leaf nodes. However cuML model contains one root and one leaf node. To get similar models from both, the `max_depth` parameter needs to be more by `1` in cas

[2020-07-17 13:42] mcamplaniROVCO opened #2571 "[DOC]"
From the cuML documentation
https://docs.rapids.ai/api/cuml/stable/api.html#support-vector-machines

It is not clear if one-class svm is supported or not. Can you clarify this point

[2020-07-18 06:09] rommelDB opened #2572 "[BUG] Assertion fails when handling memory from a managed allocator on the KMeans algorithm"
**Describe the bug**
Some assertion fails when handling memory that came from a managed allocator on the KMeans algorithm.
This results in a crash with the message shown below:

[code]

**Steps/Code to reproduce bug**
The crash can be reproduced with the sample minimum script:

[code]

**Expected behavior**
The script should run smoothly.

**Environment details:**
 - Environment location: Bare-met

[2020-07-20 06:33] vinaydes commented on #2537
This is fixed by PR 2552, so closing.

[2020-07-20 06:33] #2537 closed

[2020-07-20 14:40] hassanshamji commented on #2503
TY @Garfounkel, I'm attaching the conda requirements file I've been using. Please let me know if you need more information.

[code]

[2020-07-20 16:19] JohnZed commented on #2523
TODO:
 * Find and remove all sklearn exception usages for NotFittedError

[2020-07-20 17:47] cjnolet commented on #2495
Linking in release schedule: https://github.com/cupy/cupy/issues/3627

[2020-07-21 14:45] Salonijain27 commented on #226
The solution for this issue has been merged into cuML. Retested using the reproducible code provided by the user and the above reported issue is not seen.

[2020-07-21 14:45] #226 closed

[2020-07-21 22:26] #2568 closed

[2020-07-21 22:33] drobison00 opened #2579 "[BUG] Attempting to add target data back to data frame after train_test_split appears to merge on incorrect indices"
**Describe the bug**
Using the 'Airlines' data set, the following code snippet results in 'null' values appearing in the 'ArrDelayBinary' column of 'd_train'.

This problem only occurs when 'shuffle' is set to True, and appears to be related to the target indices not being reset.

[code]

**Steps/Code to reproduce bug**
See above

**Expected behavior**
This should, effectively, just re-attach the

[2020-07-22 00:09] miroenev commented on #2511
PR submitted #2580

[2020-07-22 02:29] #2572 closed

[2020-07-22 13:39] Salonijain27 opened #2585 "[DOC] Update mbsgd docs to include missing information"
in the mbsgd classifier and regressor cython files, the documentation does not mention l1_ratio and batch_size in the list of parameters but is defined in the __init__ functions of the two models.

https://github.com/rapidsai/cuml/blob/cc0318dd2088a8d22e37bb88410b073487f59012/python/cuml/linear_model/mbsgd_classifier.pyx#L68

https://github.com/rapidsai/cuml/blob/cc0318dd2088a8d22e37bb88410b073487

[2020-07-22 15:01] #2359 closed

[2020-07-22 15:08] wxbn commented on #1896
Code is available here : [cuML MNMG nightly tests](https://gitlab-master.nvidia.com/RAPIDS/cuml-mnmg-nightly-tests)

[2020-07-22 15:08] #1896 closed

[2020-07-22 15:25] wxbn commented on #2030
The test was re-enabled in #2201 thanks to fix in #1950 .

[2020-07-22 15:25] #2030 closed

[2020-07-22 15:29] wxbn commented on #1903
Reproducibility issues fixed in #1950

[2020-07-22 15:29] #1903 closed

[2020-07-22 15:33] wxbn commented on #556
Partially completed thanks to #1985

[2020-07-22 15:50] Salonijain27 commented on #2585
It will also be nice to mention in the documentation that increasing the batch size will reduce the accuracy. The trade off between time and accuracy will give the user a whole picture about the mbsgd model.