[2020-10-28 17:16] Nanthini10 commented on #3068
The test isn't failing in this case. The last part of the test is comparing it with known bad labels...

[code]

... to see if the ValueError is raised, and this causes the Exception to be printed out. But that's the expected behavior.

[2020-10-28 23:28] cjnolet commented on #2980
ref #3058

[2020-10-29 12:30] daria-dc opened #3079 "TypeError: cannot pickle 'TaskStepMethWrapper' object with dask-cuml RandomForestRegressor() and dask-ml HyperbandSearchCV()"
Hi,

I already created an issue for this here:

https://github.com/dask/dask-ml/issues/750

and was suggested to look for help in this repo.

I want to perform a Random Forest Regression using dask-cuml on multiple GPUs and want to tune the hyper parameters of my model with HyperbandSearchCV from dask-ml.

However, I run into an error I have not been able to solve:

[code]

For a minimal reproduci

[2020-10-29 15:47] wphicks opened #3080 "[FEA] Explore caching of sample data in tests"
Following up on [discussion](https://github.com/rapidsai/cuml/pull/3075#discussion_r514338866) on PR #3075, it would be good to look at where we are repeatedly generating artificial datasets in our tests and see if caching is appropriate. This should be done somewhat carefully to ensure that:

1. We do not use up GPU memory unnecessarily or leave caches lying around holding onto GPU memory
2. The

[2020-10-29 15:52] wphicks opened #3081 "[FEA] Reduce overparameterization of tests in test_datasets.py"
Following up on PR #3070, we should try to further reduce the redundant tests in test_datasets.py.

[2020-10-29 16:10] Nanthini10 commented on #3079
We'll take a look at what is causing this issue, but for now you can look at using Optuna or RayTune as alternatives for the HPO task. Here are some examples using it with cuML
https://github.com/rapidsai/cloud-ml-examples/blob/main/optuna/notebooks/optuna_rapids.ipynb
https://github.com/rapidsai/cloud-ml-examples/blob/main/ray/notebooks/Ray_RAPIDS_HPO.ipynb
https://github.com/optuna/optuna/blob/m

[2020-10-29 16:13] miroenev commented on #3079
Thanks for raising this @daria-dc

I was able to reproduce your issue, for some reason there appears to be a socket in the client attribute that causes a pickling issue. When the client is removed the RFRegressor can indeed be pickled. As @Nanthini10 mentioned above, we'll definitely take a closer look.

[code]

output:

[code]

[2020-10-29 16:48] miroenev commented on #3079
Digging a bit deeper, @cjnolet helped us understand that the pickling should not be called directly on the RandomForestRegressor but rather on the result of the [get_combined_model](get_combined_model)() which is the serializable/pickle-able form of the model and does not include the additional dask objects (including the socket that was causing the initial errors).

However looking at your [origi

[2020-10-29 17:17] wphicks commented on #3080
As a follow up to #3075, we should also look for a simple way to clear the cache introduced there.

[2020-10-29 18:08] wphicks commented on #3045
PR #3075 and #3077 still needed to close this.

[2020-10-29 18:26] JohnZed opened #3082 "XGBoost and linker errors in FIL test on Centos"
These appear like:

[code]

Michael's PR #3062 works around this by allowing has_xgboost to fail in this case, but we still need to resolve it.

[2020-10-29 18:28] JohnZed commented on #1758
Done

[2020-10-29 18:28] #1758 closed

[2020-10-29 18:28] wphicks commented on #3053
Looks like this also affects `LabelEncoder`.

[2020-10-29 18:29] hcho3 commented on #3082
It appears that the XGBoost package was compiled with newer OS than the CentOS CI machine?

[2020-10-29 18:32] #2343 closed

[2020-10-29 18:33] #2901 closed

[2020-10-29 18:34] JohnZed commented on #2052
Done, though we still need to ensure it is used everywhere and meets all needs such as logging in pytests

[2020-10-29 18:34] #2052 closed

[2020-10-29 18:42] zbjornson commented on #3057
Bisected to 6a93762b1 with ~95% confidence. This is difficult to assess because that commit aimed to fix another bug that caused funky plots, i.e. there were artifacts both before and after, but I think I can tell the difference visually and the artifacts seem to happen more frequently after that commit. The key visual telltale is that the "new bad" sometimes makes a cluster disappear or pinpoint,

[2020-10-29 18:47] zbjornson commented on #3057
Scratch that: that commit aimed to fix a deadlock, I was thinking of a different commit.

Now I'm even more curious how changing the cache pref for the summarization kernel between Shared and L1 can cause a deadlock or change the output.

[2020-10-29 19:40] JohnZed commented on #3080
Could use fixtures for these

[2020-10-29 19:50] JohnZed commented on #1464
Fixed.

[2020-10-29 19:50] #1464 closed

[2020-10-29 20:10] mdemoret-nv commented on #3082
@JohnZed I believe the root cause of the issue has been fixed, but I am not sure we should close this just yet.

Ray stated this was fixed with the following commit https://github.com/rapidsai/xgboost-conda/commit/b345308270f31ba332e112c923e867a8ef83e3b9

Checking the log of a recent centos7 CI run, I see the following:
[code]
The test `cuml/test/test_fil.py::test_fil_classification[2-1-30-1000]`

[2020-10-29 20:15] JohnZed opened #3085 "[TEST] PoC of hypothesis testing library"
Maybe try with test_datasets first? PoC to check how hard it will be to roll this out and whether we can get adequate coverage.

[2020-10-29 20:17] JohnZed opened #3087 "[TEST] Deep dive into worst offenders of insufficient CI test coverage"

[2020-10-29 20:36] wphicks commented on #3081
Related: Issue #3085

[2020-10-29 21:49] wphicks commented on #3045
#3077 Still needed. Hmmm... May need to improve my GitHub skills when it comes to multiple PRs on a single issue.

[2020-10-29 23:53] #3043 closed

[2020-10-30 01:32] teju85 commented on #3063
Just collecting more info here...

@tzemicheal any ideas if we should also support `bootstrap` and `max_samples` hyper-params as supported in sklearn? Because the [original paper](https://link.springer.com/article/10.1007/s10994-006-6226-1) on ET explicitly says the following: `... and that it uses the whole learning sample (rather than a bootstrap replica) to grow the trees.`

[2020-10-30 03:41] #3031 closed

[2020-10-30 04:56] #3049 closed

[2020-10-30 05:17] vinaydes opened #3089 "[BUG] Random Forest Cython API and related refactoring"
**Describe the bug**
We should consider following refactorings in the RF Cython and related C++ code.

1. Break RF parameters in to two categories:
   - Strictly RF parameters: Parameters that are consistent with scikit-learn RF parameters. Ex `max_features`, `max_depth` etc.
   - Implementation/tuning parameters: Parameters that tweak implementation, ex. `split_algo`, `max_batch_size`.
     A use

[2020-10-30 05:17] vinaydes commented on #3089
@venkywonka Would be taking look at the issues reported here.

[2020-10-30 08:43] aerdem4 opened #3090 "[BUG] SVC with probability=True on cudf dataframes throws error"
**Describe the bug**
I am not able to train SVC with probability=True on rapids-0.16.

**Steps/Code to reproduce bug**
I did a clean rapids-0.16 conda install on Ubuntu. Then simply fit function fails on cudf dataframes. Same code runs on rapids0.15 without an issue. If I set probability=False, I don't get any issue on 0.16 as well.

[code]
The error is on cudf indexing:
`IndexError: Failed to con

[2020-10-30 12:00] HilbertXu opened #3091 "[QST] Different result"
**What is your question?**

[2020-10-30 13:31] daria-dc commented on #3079
Hi @Nanthini10 and @miroenev,

thanks for your quick replies and suggestions.
I tried adapting the dask-optuna workflow for my purpose, but I run into a serialization error again.

This is an example code snippet to reproduce the issue:
[code]

The final error output says:

[code]
I am quite new to dask/rapids so maybe I have some mistakes in the code (?)

Again, I am grateful for any remarks/sugg

[2020-10-30 14:22] tfeher commented on #3090
Indeed this fails with 0.16. Here is a complete reproducer:

[code]

Note that setting `probability=True` means that under the hood we use scikit-learn's CalibratedClassifierCV method to fit cuml's SVM, and then calibrate the probability. Because we involve sklearn, the data is first converted to numpy, passed to sklearn, which calls cuml with the numpy data (more about this in issue #2608). The p

[2020-10-30 16:32] mdemoret-nv commented on #2782
Just want to add my error log to this bug. Ran into this issue this week with the test: `cuml/test/test_kmeans.py::test_traditional_kmeans_plus_plus_init`. Here is the below stack trace and command I used to run the test after building with `./build.sh -g`.

[code]

I did try adding several `CUDA_CHECK(cudaStreamSynchronize(stream));` in `kmeansPlusPlus` to get a more precise location of the bug (

[2020-10-30 16:35] wphicks commented on #2782
Oh great! Thanks @mdemoret-nv. Having a single pytest invocation as a reproducer will make this quite a bit easier to investigate.

[2020-10-30 18:15] mdemoret-nv opened #3093 "[FEA] Improve Pytest Organization and Configuration"
Our current organization of pytest configuration files is not optimal for locally running tests and could be improved to add flexibility and increase utility for both local and CI runs. Most of what follows are my personal issue with the current setup and ideas for how it could be improved. I would love to have a discussion on this topic and incorporate feedback from the team.

For some context, I

[2020-10-30 18:25] #1716 closed

[2020-10-30 18:27] Nyrio opened #3094 "[BUG] Incorrect batched weak connected components algorithm used in DBSCAN"
The DBSCAN implementation currently uses a batched algorithm. The idea is to update the labels batch-wise by propagating them between the nodes of the current batch and their neighbors. However, I think that this approach fails to compute the correct labels.

## Problem 1

The first issue is that edges from previous batches are "forgotten" when processing further batches, so updating labels from p

[2020-10-30 19:24] revathik1991 opened #3095 "[FEA] Apriori/FP-Growth in CUML"
**Is your feature request related to a problem? Please describe.**
Just want to know if there is/(will there be) any development on CUML to have pattern matching algorithm in it's packages.

**Describe the solution you'd like**
Expecting to use Apriori/FP-Growth algorithms from CuML

**Describe alternatives you've considered**
I have been using mlxtend's FP-Growth. I'd like to optimize it on GPU m

[2020-10-30 19:35] #3082 closed

[2020-10-30 20:45] #3029 closed

[2020-10-30 21:21] cjnolet commented on #3057
@zbjornson, Here's the TSNE projection from our single-cell examples with your PR:
![image](https://user-images.githubusercontent.com/1242464/97757893-1ef9ac00-1ad4-11eb-9527-aac549a728cb.png)

And here's the TSNE projection pre-0.16:
![image](https://user-images.githubusercontent.com/1242464/97757922-2f118b80-1ad4-11eb-952c-13087ef1c0fc.png)

At first glance, it appears your PR fixes the problem.

[2020-10-30 21:53] cjnolet opened #3097 "[FEA] T-SNE support to embed out-of-sample points"
UMAP's ability to embed out-of-sample data points has allowed us to create a fairly simple Dask wrapper for distributed inference, by embedding a subset of the training data on a single GPU and then broadcasting the trained model to Dask workers to perform inference in parallel. We have found that as long as the training dataset is a representative sample of the neighborhoods in the larger populat

[2020-10-30 21:59] cjnolet opened #3098 "[FEA] Pre-image support for UMAP (inverse_transform)"
A powerful feature that was added to UMAP after we ported it to the GPU is `inverse_transform()`. This enables many new types of data analysis and has been explicitly requested by users. This shouldn't be hard to support.

At a glance, I believe the current layout optimizer CUDA kernel can be used almost in its entirety. At some point, we will also want to consider using C++ lambda functions for a

[2020-10-30 22:47] cjnolet opened #3099 "[FEA] Single-linkage Hierarchical Clustering"
This will use the MST prim that is currently being built for RAFT. The Python API should provide an option to either compute the entire pairwise distance matrix or use a KNN (and provide the expected value of k).

A novel kernel will perform the agglomerative linkage step- which will combine pairs of low distance neighbor points & clusters into a dendrogram.

[2020-10-30 22:50] cjnolet opened #3100 "[FEA] Sparse Semi-ring primitive for generalized Lp distances"
While building a primitive for computing sparse pairwise L1 distances, I realized that many of the Lp distances can be abstracted into a single primitive that accepts pluggable functions for the `sum` and `product` steps. This primitive can be mapped to device warps in a matrix-vector-like layout to maximize utilization.

[2020-10-30 22:53] cjnolet opened #3101 "[FEA] Sparse Inputs to TSVD"
We have two methods for this-

1. Once the LOBPCG primitive is in the cupy project, we will be able to use `cupyx.scipy.sparse.linalg.svds`

2. We also have an old PR with fairly isolated changes that computes an LU-based RSVD.

The second method needs a little work and evaluation but it should provide better speedups than the QR-based variant.

[2020-10-30 22:55] cjnolet opened #3102 "[FEA] Sparse Inputs to DBSCAN"
Once the sparse pairwise distance prim is finished, we should be able to accept sparse inputs into DBSCAN and use it to compute the adjacency graph.

[2020-10-30 22:57] cjnolet opened #3103 "[FEA] Sparse inputs to K-means"
Once the sparse KNN PR (https://github.com/rapidsai/cuml/pull/2836) is merged, we should be able to use the new sparse pairwise distance primitive for the L2 point-to-centroid distance computations.

[2020-10-30 23:03] cjnolet opened #3104 "[FEA] Sparse PCA via implicitly centered TSVD"
This will require either cupy-based `LOBPCG` implementation, the `cupyx.scipy.sparse.linalg.svds` implement, or both to accept the `LinearOperator` API so that we can perform the mean centering in the computation of the dot product during optimization rather than having to convert the sparse matrix to dense by doing it across the whole matrix beforehand.

More details [here](https://github.com/sci

[2020-10-30 23:08] cjnolet opened #3105 "[FEA] Sparse inputs to linear regression"
For ordinary least squares regression, we should be able to support inputs pretty easily by wrapping cusolver's `csrlsvqr` function (we should probably do this in Cupy as well).

[2020-10-30 23:16] cjnolet opened #3106 "[FEA] Move sparse prims to RAFT"
This should also include breaking the prims into separate directories that (somewhat) mirror the non-sparse prims (e.g. linalg, stats, etc...).

[2020-10-31 02:20] hcho3 opened #3107 "[BUG] raft::cuda_error thrown from experimental RF backend"
**Describe the bug**
The experimental RF backend crashes with an exception `raft::cuda_error`.

Output:
[W] [19:16:40.163584] Using experimental backend for growing trees

[W] [19:16:43.017118] Using experimental backend for growing trees

[W] [19:16:45.835559] Using experimental backend for growing trees

[W] [19:16:48.644952] Using experimental backend for growing trees

[W] [19:16:51.465764] Us

[2020-10-31 03:11] hcho3 commented on #3107
Backtrace from GDB:
[code]

[2020-11-01 05:43] ShineCain opened #3108 "the Bug of Installing cuml by conda"
For the cudf,cuxfilter, cuspatial, and cugraph tools, i can install them successfully, but when i use 'conda install -c rapidsai cuml=0.16', it reports that as follows:
Found conflicts! Looking for incompatible packages.failed
UnsatisfiableError: The following specifications were found to be incompatible with each other:
Output in format: Requested package -> Available versionsThe following specif

[2020-11-02 04:36] teju85 commented on #1014
Since we will now be focusing on the new backend from now onwards, this issue can be closed.

[2020-11-02 04:36] #1014 closed

[2020-11-02 04:38] teju85 commented on #1118
With the above PR merged. We do not have to keep this issue open.

[2020-11-02 04:38] #1118 closed

[2020-11-02 04:39] teju85 commented on #1675
@chaithyagr can you remind me of where we left the last time, please? Is this done or are there other files remaining? Also, you were planning to add some sort of an automated check for these rules, no? Any updates on it?

[2020-11-02 08:23] daria-dc commented on #3079
@Nanthini10,

thank you very much for your help! I adapted the code and it is working now.

I will close this issue now, but I think It might be helpful to include the suggestions for hyper parameter optimization in the docs of RandomForestRegressor.

[2020-11-02 16:46] dantegd commented on #3108
Thanks for the issue @ShineCain. I think this might be an issue of needing additional channels in the command, particularly the `nvidia` conda channel, so I would recommend doing `conda install -c rapidsai -c nvidia -c conda-forge cuml` instead. Particularly, by omitting those channels, the dependency `libcumlprims` will not be found. I would recommend following the commands from the rapids.ai sel

[2020-11-02 17:24] JohnZed opened #3110 "[FEA] Add cython to code coverage"
Looks like it should be possible to use coverage.py with the right build options.

[2020-11-02 17:24] JohnZed commented on #3110
Should sync with other RAPIDS repos as well.

[2020-11-02 17:34] JohnZed commented on #2896
Relates to #2352

[2020-11-02 17:43] JohnZed commented on #3028
Closed by #3052

[2020-11-02 17:43] #3028 closed

[2020-11-02 18:02] chaithyagr commented on #1675
Well, I was stuck with trying to merge the automated checks

Yes, This branch has them. Let me try to pull up the latest branch and add these scripts to it.

[2020-11-02 18:51] #3057 closed

[2020-11-02 19:28] mdemoret-nv commented on #3110
I quickly tested how difficult this would since I had everything setup at the moment. Seems like the only changes that need to be make are:
1. Enabling `linetrace=True` via a compiler directive
   1. Source: https://cython.readthedocs.io/en/latest/src/tutorial/profiling_tutorial.html#enabling-line-tracing
   1. See [this line](https://github.com/rapidsai/cuml/blob/branch-0.17/python/cython_build_e

[2020-11-02 21:31] mdemoret-nv commented on #3093
After further experimentation, I think using the `addopts = -p "cuml.test.plugins.custom_options_plugin"` value in `pytest.ini` might not be the best way to set this up. The major downside of doing it this way is this causes `cuml` to be imported very early in the pytest lifecycle. This is only a problem for code coverage since most of the `cuml/**/__init__.py` files will be marked as missed since

[2020-11-02 21:46] mdemoret-nv commented on #3093
Regarding the "quick_run" plugin I mentioned above, I have done a quick codecov comparison to see how much coverage we lose for the improved testing time. Preliminary results (all run locally with a recent 0.17 branch):

**Running full tests:**
- 20749/34030 tests run
- 3717 line misses
- Total coverage: 58.60%
- Total runtime: 1232.56 s

**Running with `--quick_run`:**
- 1922/34030 tests run
- 37

[2020-11-02 23:54] #3045 closed

[2020-11-03 00:51] teju85 commented on #1675
can you point me to that branch?

[2020-11-03 06:48] #3047 closed

[2020-11-03 16:59] chaithyagr commented on #1675
@teju85 , last I remember was with v0.15 at https://github.com/rapidsai/cuml/pull/2268
I will try to get the latest branch (0.17) and get a build up, then make a new PR perhaps. Trying to be quicker this time.

[2020-11-03 20:50] miroenev commented on #3091
Hey @HilbertXu thanks for your kind words!

I'm having some difficulty replicating the error you are finding, are you able to provide a sample reproducer script?

One thing to look out for is the column order during dlpack conversions as captured in the UserWarning below. Have you tried transposing the car data you have in your example?

```/opt/conda/envs/rapids/lib/python3.8/site-packages/cudf/i

[2020-11-03 22:31] chaithyagr commented on #1675
I have made updates on the branch, kinda rebuilt the codebase, added on the script and updated final changes n perhaps some new changes needed for files not following the rules defined above.

[2020-11-04 02:42] #3048 closed

[2020-11-04 02:45] HilbertXu commented on #3091
Hey @miroenev thanks for your help!

Here I upload the data and script i used to test. It can reproduce the strange error i met, hoping it can provide some useful information.

[script&data.zip](https://github.com/rapidsai/cuml/files/5485171/script.data.zip)

![test_cuml-Jupyter-Notebook](https://user-images.githubusercontent.com/33152255/98063111-3e088d00-1e8a-11eb-8af9-542479230c15.png)

**BTW**

[2020-11-04 18:35] miroenev commented on #3091
Thanks for sharing the additional data and notebook @HilbertXu,

I was indeed able to reproduce your issue and there seems to be something strange about going through a DLPack conversion prior to feeding DBScan.

Hope to pass this along to the team so we can take a deeper look at this ASAP. I'll also try to get more info regarding batch-processing.

Minimal reproducer code snippet below;
Re-attach

[2020-11-04 20:22] cjnolet opened #3116 "[FEA] Dense KNN to batch inputs to kneighbors() when sparse input is given"
The initial implementation of the KNN has the following characteristics:
- when trained on a sparse input and given a dense input to `kneighbors()`, the dense input will be converted to a sparse format.
- when trained on a dense input and given a sparse input to `kneighbors()`, the sparse input will be converted to dense

This can be dangerous when the number of features and rows is high but the d

[2020-11-04 21:24] #3042 closed

[2020-11-05 01:17] HilbertXu commented on #3091
Hey @miroenev , Thanks for your quick reply!

I've changed the screen-capture into a link. I'm glad to find out a potential bug and make a slight contribution.

Well, I'm currently implement some cluster algorith such as DBSCAN, KMEANS into my project which uses pytorch framework. However, transform between pytorch tensor to cudf object is really time-consuming, especially when you have to use "fo

[2020-11-05 07:47] hcho3 opened #3118 "[FEA] Consider adopting C++20 style Span class abstraction"
**Problem.**

#3107 was caused by an out-of-bounds access to an array. Many cuML algorithms such as random forest uses lots of arrays, and it is easy to introduce an out-of-bounds access to the codebase by accident. In addition, out-of-bounds access in CUDA kernels is quite difficult to pinpoint and debug, as the kernel crash with `cudaErrorIllegalAddress` exception, and we'd have to manually run

[2020-11-05 07:50] hcho3 commented on #3118
Assigning myself to this ticket. TODO. File a pull request to implement POC for device-side `Span` class in cuML.

[2020-11-05 07:54] hcho3 commented on #3118
Performance impact can be mitigated by supplying `data()` method to the `Span` class. A small performance-critical loop can extract the raw pointer from the `Span` class to avoid the overhead of bounds checking in `operator[]`. This should be done sparingly, and only for small tight loops where the bounds of the loop variable is clearly identified.

[2020-11-05 18:11] JohnZed commented on #3118
It looks like some Span implementations do bounds checking in debug builds but not release builds, e.g. https://github.com/tcbrindle/span
Would this be desirable behavior to mitigate performance concerns? Frequent bounds checks do seem expensive to me unless the compiler can do a lot of magic to lift them out of key loops and kernels.

[2020-11-05 18:34] jrhemstad commented on #3118
Note that libcudf also has a [`device_span`](https://github.com/rapidsai/cudf/blob/89b802e6cecffe2425048f1f70cd682b865730b8/cpp/include/cudf/utilities/span.hpp) class. We don't do any bounds checking on accesses (debug or otherwise).

Bounds checking for `operator[]` is not inline with `std::span` where an OOB access is UB: https://en.cppreference.com/w/cpp/container/span/operator_at

Furthermore,

[2020-11-05 18:50] trivialfis commented on #3118
Interesting.  I will try the built-in assertfail.

[2020-11-05 18:55] teju85 commented on #3118
Even though it is dangerous, bounds-check has performance concerns (as stated by everyone before me). So, for key algos like RF, I'd not want bounds-check to be done in device code, atleast not in release builds.

Ideally, we should emphasize on better unit-tests and them coupled with [cuda-memcheck](https://github.com/rapidsai/cuml/blob/branch-0.17/cpp/scripts/cuda-memcheck.py) enabled runs shoul

[2020-11-05 19:03] hcho3 commented on #3118
Got it. In that case, we can conditionally enable bound checks in Debug builds.

Even without bound checks, Span is a useful abstraction. For example, we can eliminate the mistake of using the wrong bounds when multiple arrays are being passed in as function arguments.

[2020-11-05 19:05] canonizer commented on #3118
I'm in favor of bounds checking. Are there any measurements for performance penalties caused by device-side bounds checking, especially for memory bandwidth-bound problems?

[2020-11-05 19:13] trivialfis commented on #3118
@canonizer I believe it varies between different cards.  Also most of the hot loops have pre defined bound hence they can be avoided manually in those loops.  I'm also in favor of having span, it's not only safer, but also a nice abstraction.

[2020-11-05 19:16] hcho3 commented on #3118
I've updated the title of this issue, to separate the two concerns: 1) introducing `Span` in general; and 2) performing bounds check in `operator[]`.

[2020-11-05 19:34] cjnolet commented on #2597
This is also a problem for our 1M cells notebook in https://github.com/clara-parabricks/rapids-single-cell-examples. We would like to port the `rank_genes_groups` function to the 1M cells notebook but we cannot run the logistic regression on such a large dataset.

[2020-11-05 20:18] JohnZed opened #3120 "[FEA] Ensure that all tests can run with 4GB or less of GPU RAM"
This will allow ops to run multiple tests in parallel on one gpu in the future.

[2020-11-05 20:24] hcho3 commented on #3120
Running multiple tests concurrently on a single GPU may result in performance degradation due to contention. The XGBoost CI server used to run 2 tests concurrently on each GPU worker and some tests slowed down substantially. See https://github.com/dmlc/xgboost/issues/6313

[2020-11-05 20:52] miroenev commented on #3091
+ @EvenOldridge for some pointers to RAPIDS+PyTorch content RE data-loaders

[2020-11-05 20:57] JohnZed commented on #3030
Closed by @cjnolet 's recent PR

[2020-11-05 21:18] #3030 closed

[2020-11-06 00:57] EvenOldridge commented on #3091
I'm wondering if this isn't related to an issue we're currently chasing down with the dataloaders.  @jperez999 for context.

@HilbertXu if you're doing looping within PyTorch it's possible that the buffers you're using are tensor views and are being overwritten by the next batch.  A quick way to test this is to add an explicit clone of the tensor before calling to_dlpack.

That may not be what you

[2020-11-06 01:23] teju85 commented on #3118
I too am completely in favor of span. Just a couple of notes:
1. relying on this feature for safety of our code is not enough (I have made this mistake in the past!). Rigorous testing as well as regularly running our tests with cuda-memcheck tooling enabled are a more robust and sure-shot way to achieve safer code.
2. since we already have a lot of algos with varying roofline behavior, we'll need

[2020-11-06 02:04] hcho3 commented on #3118
Thanks for pointing to `device_span`, @jrhemstad. Would it be a good idea to submit a PR to put it in RAFT, so that cuML can also use it? (I don't think cuML has direct access to libcudf's headers.)

cc @dantegd

[2020-11-06 03:30] #3110 closed

[2020-11-06 06:28] trivialfis commented on #3118
Hi @jrhemstad ,  I looked into the `__assertfail` you mentioned in your previous comment and got a few questions:

- Is `__CUDACC_ARCH__` a real macro defined by nvcc?
- Skimming through the cuda header `common_functions.h`, `__assertfail` seems to be only defined in runtime compilation?

I also looked into the host device function `__assert_fail`.  There might be a nvcc bug which turns it into un

[2020-11-06 12:51] xgdgsc opened #3122 "[BUG] crash with pycarert lightgbm"
**Describe the bug**
crash when running with pycaret gpu force and lightgbm. Any ideas?

**Steps/Code to reproduce bug**

regression.setup(..., use_gpu="force")

**Environment details (please complete the following information):**
 - Environment location:  Bare-metal
 - Linux Distro/Architecture: [CentOS 7 amd64]
 - GPU Model/Driver: [V100 and driver 396.44]
 - CUDA: [10.2]
 - Method of cuDF & cuM

[2020-11-06 15:34] jrhemstad commented on #3118
Wow, that's definitely wrong and definitely not a real macro. Looks like a mismash of `__CUDACC__` and `__CUDA_ARCH__`. It looks like our code hasn't actually been using `__assertfail` for a long time.

I corrected it to `__CUDA_ARCH__` and confirmed that I'm seeing undefined reference errors. I'm investigating now.

[2020-11-06 15:59] jrhemstad commented on #3118
I'm hoping to ultimately get it into Thrust. That would be the ideal place for it to live.

[2020-11-06 16:29] jrhemstad commented on #3118
@trivialfis thank you for pointing out this mistake. Looks like a perfect storm of typos/misunderstanding and a dropped unit test led to this being uncaught for a very long time. I've corrected it here: https://github.com/rapidsai/cudf/pull/6696

[2020-11-06 16:36] cjnolet commented on #3106
Depends on #2836

[2020-11-06 16:37] cjnolet commented on #3104
Depends on #2772 and `LinearOperator` capability

[2020-11-06 16:38] cjnolet commented on #3101
Depends on #2772

[2020-11-06 16:38] cjnolet commented on #3100
Depends on #2836

[2020-11-06 16:39] cjnolet commented on #3099
Depends on https://github.com/rapidsai/raft/issues/52

[2020-11-06 17:03] cjnolet opened #3123 "[FEA] UMAP: expose `_fuzzy_simplicial_set` and `_simplicial_set_embed` functions through Python"
The reference UMAP implementation exposes these functions and many other libraries, such as [the nearest neighbors implementation in Scanpy](https://github.com/theislab/scanpy/blob/master/scanpy/neighbors/__init__.py#L350), use them to compute "connectivities", or the [fuzzy union](http://math.mit.edu/~dspivak/files/metric_realization.pdf) of the nearest neighbors graph.

[2020-11-06 20:07] zbjornson commented on #3097
I think #861 can be merged into this issue.

[2020-11-06 20:18] jrhemstad commented on #3118
I've opened https://github.com/NVIDIA/thrust/issues/1336. We'll work with the Thrust team to try and get this added in the medium term. It probably won't be ready in the short term, so if you want something sooner than later, copying what is in cudf is probably the best thing to do.

[2020-11-06 20:29] zbjornson commented on #2980
#3084 resolved the artifacts and the remaining non-determinism appears to be from FP atomics. Don't think there's anything left to do (without major perf impacts).

[2020-11-07 05:50] miroenev commented on #3122
hey @xgdgsc, thanks for sharing your issue and the stack trace.

Could you also please share a minimal code example that reproduces this error?

[2020-11-09 06:54] teju85 opened #3124 "[FEA] Add support for RGF"
**Is your feature request related to a problem? Please describe.**
Add support for Regularized Greedy Forests as described [here](https://arxiv.org/abs/1109.0887). For reference API, we could use the one from [this](https://github.com/RGF-team/rgf/tree/master/python-package) repo.

**Additional context**
This seems to be getting popular with Kaggler's. Eg: the discussion [here](https://www.kaggle.

[2020-11-09 06:59] teju85 commented on #3124
That said, [from the looks of it](https://www.statworx.com/de/blog/regularized-greedy-forest-the-scottish-play-act-ii/), it appears that ExtraTrees (#3063) seems like a better candidate compared to RGF? (atleast from the simple examples that the author of this blog uses for his demo)

[2020-11-09 09:24] MatthiasKohl commented on #3094
Could you explain this example exactly / step by step ? I haven't taken much time to dive into it, but I've spent quite some time on DBScan in the last months.

This should definitely not happen, because all batches are aware of connections to all other points. That's why we have `BxN` sized matrices with `B` the batch size and `N` the number of points (see for example `adjSize` in the runner code

[2020-11-09 11:04] Nyrio commented on #3094
For anyone else going through this thread, the reason why it happens is that a batch is only aware of connections between the points it owns and not the rest of the graph. So if it changes the labels of a node in another batch that is itself connected to a third node, this third node might never get the correct label.

The path that we are currently taking (because it will be useful for mnmg anywa

[2020-11-09 13:53] MatthiasKohl commented on #3094
Sure, maybe I can add something useful

[2020-11-09 14:07] jeremiedbb opened #3125 "Compatibility with scikit-learn API"
Hi,

I tested the scikit-learn tool (`check_estimator`) to check that an estimator is compatible with the scikit-learn API and all fail because they don't implement estimator tags (they might fail for other reasons but that was the first failure).

Having an estimator pass `check_estimator` makes sure it can be used in scikit-learn model evaluation and model selection tools. Here is a list about w

[2020-11-09 15:28] dantegd commented on #3125
Hi @jeremiedbb, thanks for the issue! We are aware of this indeed, and just started the tags system very recently, see #3113, which is very likely to land this week. Passing the API compatibilty test (at least the less strict upcoming one) is something that is in our radar, so this issue will be great to use for tracking it.

[2020-11-09 15:32] jeremiedbb commented on #3125
Ah I did see this PR, should have looked closer. This is great !

[2020-11-09 17:22] JohnZed opened #3127 "[FEA] Allow arbitrary CMake flags to be passed through ./build.sh"
Possibly with an environment variable

[2020-11-09 17:25] JohnZed commented on #645
Blocked by #2918

[2020-11-09 17:26] JohnZed commented on #3068
Per discussion above, not actually a failing test - just an expected warning message

[2020-11-09 17:26] #3068 closed

[2020-11-09 18:42] JohnZed commented on #3124
Yes, there have been several questions and feature requests about ExtraTrees #3063. The current plan is to make sure the 2nd generation RF backend is as fast and stable as possible before moving on to tree extensions, but then ET would be a good candidate. Could look into RGF after that depending on popularity.

[2020-11-09 19:37] hcho3 opened #3128 "[BUG] 10x slowdown with cuML RF regression with new experimental backend"
**Describe the bug**
`RandomForestRegressor` with the new experimental backend is up to 10x slower than the old backend.

**Steps/Code to reproduce bug**
[code]
which produces
[code]

on my machine. Note that `RandomForestClassifier` does not have this issue.

**Environment details (please complete the following information):**
 - Environment location: Bare-metal
 - Linux Distro/Architecture: Ubun

[2020-11-09 23:09] hcho3 commented on #3128
Performance profile from `nsys`:
[code]

[2020-11-10 19:49] ptartan21 commented on #1522
Hi, I'd like to pick this issue up if there's no one else working on it (I'm currently an intern working at NVIDIA).

[2020-11-10 20:57] wphicks commented on #2782
The minimal reproducer that I put in the initial issue report no longer reproduces this on branch-0.17, but the problem still exists. I'm continuing to look into it.

[2020-11-10 21:36] #1700 closed

[2020-11-10 21:51] hcho3 opened #3131 "[FEA] Store data frequencies in tree nodes of RF"
Currently, RF model does not store the number of data points associated with each tree node:
https://github.com/rapidsai/cuml/blob/146d90b2d2d87f89c6956b76d7d1f120fdd6de65/cpp/include/cuml/tree/flatnode.h#L28-L34

The data frequency should be computed and saved, to enable computation of TreeSHAP.

cc @RAMitchell

[2020-11-11 03:19] hcho3 commented on #3128
The old and new backends produce drastically different trees.

Distribution of data count per node:
[code]

[2020-11-11 03:48] teju85 commented on #3128
This is the method responsible for deciding whether the current node needs to be split: https://github.com/rapidsai/cuml/blob/branch-0.17/cpp/src/decisiontree/batched-levelalgo/kernels.cuh#L243

We are missing the checks for `splits[nid].nLeft` (and corresponding count for right child) against the hyper-param `min_rows_per_node`. Can you retry the above experiment with this fix, @hcho3 ?

Tagging

[2020-11-11 07:51] xgdgsc commented on #3122
Thanks. It was a problem of a colleage. He managed to use lightgbm directly with no problem.

[2020-11-11 07:51] #3122 closed

[2020-11-11 15:53] daria-dc commented on #3079
Hi again,

I am afraid I have to reopen this issue as I realised that the pickling problems also prevent the model from being saved with joblib.dump, raising a "cannot pickle 'socket' object" error.

Is there any other way to save the final model?

Thanks!

[2020-11-11 17:26] Nanthini10 opened #3133 "[FEA] Cython wrapper for hingeloss"
**Is your feature request related to a problem? Please describe.**
Add support for hingeloss in python level.

See more: https://github.com/rapidsai/cuml/issues/608

[2020-11-11 22:40] beckernick commented on #1522
cc @JohnZed

[2020-11-12 00:40] #3107 closed

[2020-11-12 14:41] daria-dc commented on #3079
Okay, sorry, I just realised I have to make it a single-GPU model first, then it works, closing this again.

[2020-11-12 14:41] #3079 closed

[2020-11-12 18:35] cjnolet commented on #2980
Opening this back up to track continued investigation of potential data races in floating point additions

[2020-11-12 18:35] cjnolet commented on #2980
Tagging @avantikalal

[2020-11-13 21:53] wphicks opened #3138 "[BUG] Debug build results in huge memory allocation in KMeans"
In test `KMeansTests/KMeansTestF.Result/0`, an incorrect evaluation of the number of classes results in a huge memory allocation, causing a cuda out-of-memory error when a debug build of cuML is used. This is related to #2782 but is not the only memory issue with the debug build.

## Steps to reproduce
[code]
## Details
The following sequence of events leads to this error:

- At line [91 of kmeans

[2020-11-13 22:49] pseudotensor opened #3139 "[BUG] Dask kmeans failure with init=scalable-kmeans++"
[code]

Just use dask cuml but pass `init='scalable-kmeans++'` .  The overloading of `init` as also a numpy array seems to not be working and it fails when a string.

Expect can choose `init` as one of the string options.

Running rapids 0.14, conda pre-built rapids packages, cuda 10.0, 440.33.01, RTX 2080, Ubuntu 18.04.

I didn't see any existing issue, so not sure fixed in 0.16.

Work-around: Do

[2020-11-13 23:17] pseudotensor opened #3140 "[BUG] ValueError: Attribute __setstate__ not found in <class 'cuml.dask.cluster.kmeans.KMeans'>"
**Describe the bug**

Pickle dump of cuml instance doesn't complain, but pickle.load does.

[code]

Just fit some kmeans state:

[code]

This fails as above during loads.

Without ability to persist the state of the encoder, this makes it impossible to use for any inference case in any separate session.  It's unusual to have to always fit and predict/transform in exact same fork.  No production ca

[2020-11-13 23:36] pseudotensor commented on #3140
Note that the non-dask version has no problems with being pickle dumped and loaded.

[2020-11-14 00:23] teju85 commented on #3138
My initial guess is that we are missing initialization of one of the buffers. @wphicks can you run this test using `cuda-memcheck --tool initcheck`? More usage details are [here](https://docs.nvidia.com/cuda/cuda-memcheck/index.html#initcheck-tool).

[2020-11-14 00:26] pseudotensor opened #3142 "[BUG] tsvd.cuh line=277: Parameter n_rows: number of rows cannot be less than two"
[code]

Just fit any cuml TruncatedSVD case and then transform with only 1 row.

One expects that there should be no limit to transform, 1 row should be perfectly normal/possible.

rapids 0.14, conda pre-built, Ubuntu 18.04, cuda 10.2, RTX 2080

[2020-11-14 00:28] pseudotensor commented on #3142
Problem happens with jacobi or full algos.

[2020-11-15 10:22] miguelusque opened #3143 "[FEA] Add haversine metric to cuml.neighbors.NearestNeighbors"
**Is your feature request related to a problem? Please describe.**
While porting some code from SKL to cuML, I have noticed that [haversine  metric](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.DistanceMetric.html#sklearn.neighbors.DistanceMetric) is not supported in `cuml.neighbors.NearestNeighbors`.

**Describe the solution you'd like**
To have haversine metric available i

[2020-11-16 15:16] wphicks commented on #3138
Thanks @teju85! I suspected the same thing and did that a few days ago. Here's the output. I was not able to find a solution based on it, but if you have more insight, it would be very welcome.

[code]

Running `initcheck` more broadly shows a number of issues in both cuML and upstream libraries, so I'm a bit wary of red herrings here, though I do agree that this feels very much like an uninitiali

[2020-11-16 15:36] wphicks commented on #3138
For completeness, here's the straight `memcheck` output as well:

[code]

[2020-11-16 16:31] teju85 commented on #3138
@wphicks can retry this after adding the following cmake option `-DLINEINFO=ON`? (it enables line number information in the device builds, which the tools like `cuda-memcheck` can then take advantage of during reporting)

[2020-11-16 16:35] dantegd commented on #3142
On the fun side of life, I ran into the same issue last week while working on gpu explainers. I have a branch with an experimental solution that just needs some testing, and pending any unforeseen failures, should have a quick fix this week.

[2020-11-16 16:39] wphicks commented on #3138
I *think* this was with both line info and kernel info enabled, but I'm doing a rebuild and rerun right now to confirm. I'll post the new results as soon as I have them.

[2020-11-16 17:07] #3016 closed

[2020-11-16 17:27] JohnZed commented on #2843
Possible staging / elements:

- [ ] Hide scikit-learn warnings by default
- [ ] Add python wrapper that allows us to fail on any warnings (with ability for expected warnings)
- [ ] Reroute C++ logging through python logger to allow it to participate in python fail options

See also: adding log_once / warn_once to reduce spew consistently

[2020-11-16 17:31] JohnZed commented on #2843
See also:
 - [ ] Adding custom SummaryWriter that will make it easier to find and view error

[2020-11-16 18:39] wphicks commented on #3138
Yep, I was able to reproduce the same output after double-checking the cmake flags. Here's the new run:

[code]

[2020-11-16 19:05] #3059 closed

[2020-11-16 19:10] wphicks commented on #3059
@yasmina-altair The fix from #3069 just got merged. You should see this problem resolved in the next nightly build. If you run into any further issues, please do reach out.

[2020-11-16 19:34] dantegd commented on #3142
Ha I totally missed that this has been fixed on `branch-0.17` (PR https://github.com/rapidsai/cuml/pull/2829/files), so the upcoming 0.17 release won't have this wrong limitation. Thanks for the issue @pseudotensor!

[2020-11-16 19:34] #3142 closed

[2020-11-16 20:17] dantegd commented on #3108
Will close the issue for now due to inactivity, if any other conda installation issues arise feel free to re-open or open a new issue. Thanks!

[2020-11-16 20:17] #3108 closed

[2020-11-16 21:04] JohnZed commented on #2456
In good shape now with the addition of CumlArrayDescriptor

[2020-11-16 21:04] #2456 closed

[2020-11-16 23:44] divyegala opened #3145 "[FEA] Use RMM directly instead of adapters"
Linking issue from RAFT: https://github.com/rapidsai/raft/issues/97

Other things to consider:
1. RMM also has adapters for thrust device vectors which is especially useful when trying to use the thrust API in cuml code and creates a nice abstraction as I have also found out that we use explicit kernels for quite a good number of tasks that could be a couple liners with thrusts
2. While the discus

[2020-11-17 00:08] dantegd commented on #3145
why not put the other things to consider in the original issue as well to avoid split discussions?

[2020-11-17 00:16] divyegala commented on #3145
I figured these other things were specific only to cuML for now, but if not then I'll just append it to the original issue

[2020-11-17 01:07] taureandyernv commented on #2951
Should we close this? @divyegala @dantegd ?

[2020-11-17 01:49] dantegd commented on #2951
@taureandyernv yeah I think given the lack of activity it can be closed, if the issue persists or other issues arise it can be re-opened or another issue created. Thanks!

[2020-11-17 12:21] carpenie opened #3147 "[QST] How to make inference on a cuml/dask Random Forest model on a window machine where cuml can't be installed"
Is there any possibility of deploying a cuml.dask.ensemble.RandomForestClassifier model for CPU inference to a Windows 10 virtual machine with python 3.6 but where cuml can't be installed?

Is it even possible to export a cuml random forest model to treelite to generate an inference dll library? If so, how can it be achieved?

I have tried to use 'model.get_combined_model().to_treelite_model()' wh

[2020-11-17 15:38] datametrician commented on #3143
@JohnZed is this possible for 0.17?

[2020-11-17 18:23] mdemoret-nv opened #3148 "[BUG] Remove `no_bad_cuml_array_check` Marker from PyTest"
The marker `no_bad_cuml_array_check` was necessary in 0.16 to avoid asserting on bad uses of `CumlArray` in specific tests. As of 0.17, this is no longer necessary.

This marker should be removed from `pytest.ini` as well as any tests that used it. A quick search shows this is used in 2 tests in `test_incrementa_pca.py`

[2020-11-17 20:22] reductio-ad-absurdum opened #3149 "[BUG]: SVC fit fails with "Only binary classification is implemented at the moment" even when data only has 2 labels"
**Describe the bug**
With more than 5000 samples SVC.fit(X, y) fails with a runtime error even when data only has 2 labels:

[code]

**Steps/Code to reproduce bug**
Create a conda environment:
[code]
Run the following python script (from the command line or in Jupyter notebook):
[code]
When sample_count <~ 4800, this succeeds. With sample_count > 5000, it fails on the "Only binary classification i

[2020-11-17 21:55] VibhuJawa opened #3150 "[BUG] cuml.dask.naive_bayes now fails if n_chunks in X and y are >1"
**Describe the bug**
cuml.dask.naive_bayes fails if n_chunks in X and y are >1

**Steps/Code to reproduce bug**
[code]
Log on Worker:
[code]

Log on client
[code]

**Expected behavior**
I would expect it to work as it used to work in earlier nightly.

It fails on below environment:

[code]

It works on the below environment:

[code]

**Additional context**
This should likely be the cause of https:

[2020-11-17 22:57] dantegd commented on #3150
@VibhuJawa I found the issue, it is a small thing that wasn't updated in the PR of the cumlarray descriptor. Will have a fix in a bit.

[2020-11-18 01:35] cjnolet opened #3153 "[BUG] NearestNeighbors accepts col-major layout while KNeighborsClass/Reg require row-major"
Now that the knn primitive accepts col-major, I think we should be able to accept F-major in the kneighbors classifier/regressor. I think this might even work better for the multilabel `y` since each column is carved off during inference.

[2020-11-18 04:12] #3153 closed

[2020-11-18 06:48] pseudotensor commented on #3140
I'm aware that some CUML transformers cannot be pickled until fit, but this cannot be pickled even after fit.

Any thoughts from CUML team?

[2020-11-18 09:38] darshats commented on #2895
Hello,
Is there an update on this bug? I'm using rapids.ai v0.16 for pixel level segmentation and see this pattern as well. Scikit-learn random forest is consistently better by about 3% points.
I have pretty high tree depth of about 128 and training data is ~1.2 million labels. With bootstrap=False there was a small improvement from 96% to 96.3%, whereas scikit is at 99.42%. I can share the data i

[2020-11-18 10:25] teju85 commented on #2895
@darshats we are working towards a [better backend](https://github.com/rapidsai/cuml/tree/branch-0.17/cpp/src/decisiontree/batched-levelalgo) that's responsible for building decision trees on GPUs. In the process, we also identified a few shortcomings in the existing backend. We are aiming to have this new backend to be able to completely replace the existing one in the next couple of releases or

[2020-11-18 13:32] darshats commented on #2895
Sure I can try that out. So the code remains exactly the same - except I get one of the latest nightly builds, and set this flag to true?

[2020-11-18 13:59] #1707 closed

[2020-11-18 14:58] teju85 commented on #2895
That's correct.

[2020-11-18 15:42] #2206 closed

[2020-11-18 16:23] darshats commented on #2895
As per documentation max_depth can only be 14. Whereas I am using 128. Will it work now?

use_experimental_backendboolean (default = False)
If set to true and following conditions are also met, experimental
decision tree training implementation would be used:
split_algo = 1 (GLOBAL_QUANTILE) 0 < max_depth < 14 max_features = 1.0 (Feature sub-sampling disabled) quantile_per_tree = false (No per tre

[2020-11-18 16:29] teju85 commented on #2895
IIRC, there was a PR recently done to remove this max_depth limit. @vinaydes am I right?

[2020-11-18 16:57] Nanthini10 commented on #3139
Can you provide code to reproduce this example?

Also, it is recommended you run a later version of RAPIDS. You can install the 0.16 stable version now.

[2020-11-18 17:01] Nanthini10 commented on #3140
@pseudotensor  I'm looking into this, sorry for the delay.

[2020-11-18 18:01] Nanthini10 commented on #3147
It isn't possible for a cuML model to be deployed on Windows. But it might be possible to use `treelite` if they support Windows. It might be helpful to ask on https://github.com/dmlc/treelite for help with this.

[2020-11-18 18:01] #3147 closed

[2020-11-18 18:03] Nanthini10 commented on #3149
I'm unable to reproduce this error on CUDA 10.2 with RAPIDS 0.16 and 0.17

Can you try to setup the environment again and try? I'd also recommend a docker installation to see if that helps.

[2020-11-18 18:33] darshats commented on #2895
I made the change, the accuracy did go up by 1% approx, but still 1.5% behind scikit-learn's rf.

[2020-11-18 18:50] pseudotensor commented on #3139
Yes, can try 0.16.  But no repro needed, just run any example and try to pass init as one of the strings allowed.

[2020-11-18 20:28] cjnolet commented on #3140
@pseudotensor, in general, the `cuml.dask` wrappers are not meant to be pickled because they often contain connection information for the local Dask cluster (and potentially other environment-specific information).

You can extract the underlying single-GPU model with `serializable_model = encoder.get_combined_model()`. The single GPU inference also works on this serializable model. You can also u

[2020-11-18 20:56] pseudotensor commented on #3140
Best would be if this was handled by CUML class itself rather than user going through those steps.  E.g. requiring a separate package just to handle load/save is a bit much.  And requiring a separate package just to do predict/transform is also alot.  And it's not clear, even given what you said, the impact.  I
cannot be sure I would do the right things to ensure it behave same as any reference sc

[2020-11-18 22:38] reductio-ad-absurdum commented on #3149
I switched to docker and I am able to repro the error with the CUDA 11.0 image: cuda11.0-runtime-ubuntu18.04-py3.8.

However when I use the CUDA 10.2 image (cuda10.2-runtime-ubuntu18.04-py3.8), I can not reproduce the error.

I also built from sources with ```./build.sh --singlegpu```, using the 11.1 nvcc (Cuda compilation tools, release 11.1, V11.1.105) and I could not repro the error.

So it loo

[2020-11-18 23:46] cjnolet opened #3158 "[FEA] Move sparse primitives to RAFT"
We have moved many of the core primitives to RAFT and the sparse primitives should be moved as well. This will be especially appealing since

[2020-11-18 23:52] cjnolet commented on #3158
Duplicate of #3106

[2020-11-18 23:52] #3158 closed

[2020-11-19 00:10] cjnolet opened #3159 "[TASK] Investigate & profile UMAP threads per block constants (TPB_X)"
The UMAP implementation currently has a constant for setting the default threads per block for many of the underlying kernels and it's also passed along to a few of the primitives. Rather than setting a single default constant for this, we should probably investigate the different kernels by looking at each of them individually with nsight compute.

[2020-11-19 02:03] teju85 commented on #2895
yes @darshats, we are aware of this accuracy difference and are working towards closing this gap. In the meanwhile, can you provide us with the hyper-param values that you used in this experiment?

[2020-11-19 02:31] darshats commented on #2895
Hi Thejaswi,
I used estimators=200, tree_depth 128, split_algo=1, bootstrap=false, experimental_backend=true. All others are default.

[2020-11-19 02:54] teju85 commented on #2895
Thank you. This will be useful for us.

[2020-11-19 04:34] #3127 closed

[2020-11-19 15:08] #2105 closed

[2020-11-19 15:08] #2750 closed

[2020-11-19 15:08] #2854 closed

[2020-11-19 16:58] cjnolet commented on #2821
This is currently blocked by https://github.com/conda-forge/faiss-split-feedstock/pull/17. We need to wait for the FAISS 1.6.4 conda package

[2020-11-19 18:39] JohnZed opened #3161 "[DEBT] Remove use of downloaded sklearn datasets from CI tests"
We have a few tests (naive bayes certainly) that use sklearn datasets that are auto-downloaded. We've seen these downloads time out recently and fail CI, so they present a chance for a flaky test. We should either eliminate use of these datasets or find a place to check them in / cache them reliably.

[2020-11-19 20:50] JohnZed commented on #2933
@wphicks can look at this after current work on Silhouette score.

[2020-11-20 10:10] pseudotensor commented on #3140
Also, FYI, pickling of dask CUML algos is even already mentioned here https://docs.rapids.ai/api/cuml/stable/api.html#manifold  `Known issue: If a UMAP model has not yet been fit, it cannot be pickled`.

[2020-11-20 12:19] lowener opened #3163 "[BUG] IncrementalPCA: Unexpected type error on fit() call"
**Describe the bug**
I encountered a type error with IncrementalPCA.
The issue seems to be with self._noise_variance.

Stacktrace:
[code]
**Steps/Code to reproduce bug**
[code]
This happens with `n_components=2` but not with `n_components=1`

**Expected behavior**
The call to fit() is successful with cuml PCA and sklearn IncrementalPCA. The inputs are valid, but it still fails here.

**Environment

[2020-11-20 16:18] dantegd commented on #3163
@lowener thanks for opening the issue, this has been resolved in branch-0.17:

[code]

[2020-11-20 18:21] asedova commented on #3006
We also would really like weights in KNN classifier, like in scikit learn:
**weights{‘uniform’, ‘distance’} or callable, default=’uniform’
weight function used in prediction. Possible values:

‘uniform’ : uniform weights. All points in each neighborhood are weighted equally.

‘distance’ : weight points by the inverse of their distance. in this case, closer neighbors of a query point will have a gr

[2020-11-20 21:27] #3163 closed

[2020-11-20 22:56] #3150 closed

[2020-11-20 23:30] maschepps opened #3165 "[FEA] Particle Swarm Optimization (PSO), Genetic Algorithms (GA), Differential Evolution (DE), and other Metahueuristics"
We have many statistical methods in here. Metaheuristics are being used more commonly, and are greatly situated for parallelization. Many papers and textbooks have been written on parallelization (one attached)
.

I have written a rudimentary PSO algorithm. Would love to develop optimization and metaheuristics in RAPIDS

[1-s2.0-S1877050915022796-main.pdf](https://github.com/rapidsai/cuml/files/55

[2020-11-23 08:57] dominicshanshan opened #3166 "[FEA] Support one dimensional OLS in cuML linear regression"
**Is your feature request related to a problem? Please describe.**
cuML linear regression cannot support one dimensional OLS calculation
code:
from cuml import LinearRegression

data = tmp[['next_returning', 'signal', 'ticker']]
lr = LinearRegression(fit_intercept = True, normalize = False,
                      algorithm = "eig")
result = lr.fit(data[['signal']], data[['next_returning']])

------

[2020-11-23 15:10] wphicks opened #3167 "[FEA] Enforce one imported symbol per line via linting"
On a recent review, I was asked to import only one symbol per line in my Python imports. If that's a rule we'd like to stick to, we should add it to linting.

[2020-11-23 15:12] wphicks opened #3168 "[FEA] Enforce one line per function parameter via linting"
On a recent review, I was asked to put each Python function parameter on a separate line. If that's a rule we'd like to stick to, we should add it to linting.

[2020-11-23 15:14] Nanthini10 commented on #3139
I was able to reproduce this - we'll work on the fix for this in the coming weeks. Thanks!

[2020-11-23 15:24] beckernick commented on #2890
Perhaps this could now be closed, with the merge of #2645 ?

[2020-11-23 15:50] ChrisJar commented on #2614
Would love to work on this

[2020-11-23 16:34] wphicks opened #3169 "[FEA] Support more numpy types for silhouette_score"
Right now, we only expose a single instantiation of the `silhouette_score` template declared in silhouette_score.cuh through metrics.hpp. By exposing other signatures, we can allow more numpy types to be supported in the Python wrapper (#3164).

[2020-11-23 17:12] JohnZed opened #3170 "[TASK] Update XGBoost in CI to 1.3.0rc"

[2020-11-23 17:18] JohnZed opened #3171 "[FEA] Add Dask test code coverage to codecov.io"

[2020-11-23 17:21] JohnZed commented on #3120
RMM's "Limiting memory resource" could be used to test this

[2020-11-23 17:23] VibhuJawa opened #3172 "[FEA] Distributed CountVectorizer"
**Is your feature request related to a problem? Please describe.**

Now that we have a distributed hashing vectorizer we should also have a distributed count vectorizer. This is especially useful for cases when we want weights associated with each vector especially when tied up our distributed tf-[idf vectorizer](https://github.com/rapidsai/cuml/blob/146d90b2d2d87f89c6956b76d7d1f120fdd6de65/python

[2020-11-23 17:26] VibhuJawa opened #3173 "[DOC] Missing documentation for distributed tf-idf vectorizer"
## Missing documentation for distributed tf-idf vectorizer
We seem to be missing our documentation for our distributed tf-idf vectorizer.  We need to fix it.

See below:
![image](https://user-images.githubusercontent.com/4837571/99994371-c2557e00-2d6d-11eb-9e4d-98de091400d2.png)

We probably need to add a multi-gpu link [after this](https://github.com/rapidsai/cuml/blob/branch-0.17/docs/source/api

[2020-11-23 17:27] VibhuJawa commented on #3173
Happy to take this on.

[2020-11-23 17:27] VibhuJawa commented on #3172
Happy to take this on.

[2020-11-23 17:31] JohnZed opened #3174 "[TASK] Benchmark pytest-xdist / pytest-parallel with multiple workers"
Should post full suite speedup numbers on this issue

[2020-11-23 21:08] tfeher commented on #3090
I have tested this with the nigthly ubuntu 18.04 images, and the error disappeared. I suspect that the CumlArrayDescriptor related changes fixed the problem (#3040). I have improved the unit tests in #3176 to catch such errors in the future.

[2020-11-23 21:14] tfeher commented on #3149
Using v100, I could not reproduce this error with the cuda 11 nightly or 0.16 images. I will try a few other GPUs and report back here.

[2020-11-23 22:42] paden848 opened #3178 "[QST] AutoML with GPU"
Hi, is there any implementation of AutoML that uses GPU?

[2020-11-24 00:04] Str-Gen opened #3181 "[QST] CuML on a rolling OS"
I'm trying to get CuML installed in my conda environment on Arch Linux (5.9.8) and this keeps happening:
The environment was just created as per the widget:

`conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge -c defaults cudf=0.16 python=3.7 cudatoolkit=10.1 nb_conda_kernels jupyterlab`

but then when I try to add just the cuml package it fails every solve and complains that my host

[2020-11-24 03:04] JohnZed commented on #3181
Hi, @Str-Gen - the error message is really coming from conda, so it's not something we can control, unfortunately. Definitely conda can have some unintuitive errors. In this case, it' seems that your second conda command doesn't include all of the channels necessary for dependencies (e.g. it does not include the ` -c nvidia -c conda-forge` channels). But the easiest approach to install will be to

[2020-11-24 03:05] JohnZed commented on #3178
We have several integrations of HPO and other AutoML approaches. You can see a summary at https://rapids.ai/hpo
See also the recent blog post on TPOT + cuML: https://medium.com/rapids-ai/faster-automl-with-tpot-and-rapids-758455cd89e5

[2020-11-24 03:05] #3178 closed

[2020-11-24 03:16] JohnZed commented on #3173
Hi, Vibhu, if you have time, that would be excellent! You just need to add its mention to the API docs .rst:

https://github.com/rapidsai/cuml/blob/branch-0.17/docs/source/api.rst

[2020-11-24 03:24] #645 closed

[2020-11-24 03:24] #796 closed

[2020-11-24 05:11] #3090 closed

[2020-11-24 07:17] vinaydes commented on #2895
Sorry for the delay in reply. As you have already figured, There is no restriction on `max_depth` in nightly build.

[2020-11-24 19:48] lowener opened #3183 "[BUG] IncrementalPCA: transform() call fails when using whitening"
**Describe the bug**
Trying to use transform() on IPCA when using whitening fails.

Stacktrace:
[code]

**Steps/Code to reproduce bug**
[code]
This happens when whiten=True.

**Expected behavior**
The call to transform() is successful with cuml PCA and sklearn IncrementalPCA.

**Environment details (please complete the following information):**
 - Docker image used: rapidsai/rapidsai-dev-nightly:0

[2020-11-24 23:10] wphicks commented on #2933
The reported value error comes from an intermittent failure in the percentile calculation [here](https://github.com/rapidsai/cuml/blob/branch-0.17/python/cuml/_thirdparty/sklearn/preprocessing/_discretization.py#L201). Occasionally the final element in the percentile array is NaN, and the error propagates from there. Breaking in at that point with a debugger, we see that numpy's `percentile` call

[2020-11-25 00:59] JohnZed commented on #3183
@divyegala can you take a look and/or share some pointers with @lowener so he could dig further?

[2020-11-25 01:10] divyegala commented on #3183
@lowener looks like it's occurring because attribute `n_rows` https://github.com/rapidsai/cuml/blob/f1abcb88c8086c7aea75f9f9e7694e7fd4f26d92/python/cuml/decomposition/pca.pyx#L629 is not being set for IncrementalPCA. It will likely be fixed if you set that attribute during `IncrementalPCA.fit`, if you want to try?

[2020-11-25 09:48] hcho3 opened #3188 "[BUG] Old and new backends diverge on a 10-row toy example"
The old and new backends of RF produces different models for a toy example (given below).

Minimum reproducer: this reproducer consists of a toy example with 10 rows and 2 columns, generated by `make_blobs`.
[code]
The reproducer also includes a toy implementation of the Decision Tree algorithm:
[code]

Here are the results with varying values for max_depth.

**max_depth=1**
[code]

**max_depth=2*

[2020-11-25 09:54] hcho3 commented on #3188
Note. Make sure to apply the patch #3186 to obtain the gain values.

[2020-11-25 10:09] hcho3 commented on #3188
@vinaydes

Observations so far:
* The old RF backend yields wrong MSE gain values, whereas the new RF backend yields correct gain values.
* On the other hand, the new RF backend produces a gratuitous split when max_depth is set to 3. The following node is an unnecessary split because all the three data rows belonging to this node all have identical label (2).
[code]

[2020-11-25 10:22] hcho3 commented on #3188
Visualization of the toy data:
![toy_data](https://user-images.githubusercontent.com/2532981/100214743-17f06e80-2ec5-11eb-8c0e-247fa727c6af.png)

[2020-11-25 10:38] hcho3 commented on #3188
I just found a silly mistake in my toy decision tree implementation and fixed it now.

[2020-11-25 10:55] Str-Gen commented on #3181
Alright I'll try that. If the environment still ends up not ready to install any other package after creation, I'll head over to the conda issues.

[2020-11-25 11:50] tfeher opened #3189 "[BUG] LARS solver in fp32 mode fails to fit due to NaNs in X"
**Describe the bug**

The error happens if the following conditions are met:
- input is fp32
- n_rows >= 65536
- `normalize=True` solver parameter is used.

Symptoms:
- The input feature matrix X has NaN values [here](https://github.com/tfeher/cuml/blob/f789ddc3aba6848adcb15fafa0f70dfc41ebebb0/cpp/src/solver/lars_impl.cuh#L557). This results the initial correlations to be NaN.
- Since the initial

[2020-11-25 22:32] hcho3 commented on #3188
Minimal reproducer for the gratuitous split when a node has rows with identical label:
[code]

Output:
[code]

[2020-11-25 23:29] hcho3 commented on #3188
I found the reason why the new backend was adding the unnecessary split in the example https://github.com/rapidsai/cuml/issues/3188#issuecomment-733974738. It's because of the order at which three floating-point numbers are added together in the computation of the gain value:
[code]
which prints
[code]

[2020-11-26 07:37] fadilparves opened #3193 "[BUG] SGD-cudaErrorMemoryAllocation out of memory-@500mb memory usage"
Hai everyone,

I have a dataset of 100k rows with 7k+ features
Im trying to use SGD from cuml.solvers but I am getting this error after it runs for a while

`Traceback (most recent call last):
  File "main.py", line 56, in <module>
    sgd.fit(X_train, y_train)
  File "/home/fadil/anaconda3/envs/ML2/lib/python3.7/site-packages/cuml/common/memory_utils.py", line 56, in cupy_rmm_wrapper
    return f

[2020-11-26 14:37] mu745511 commented on #1317
2020 is going to end and still they didnt add Kernel PCA !

[2020-11-27 07:24] teju85 commented on #3188
This is probably a bit of digression from topic of this issue, but I feel like what I'm writing here might be helpful in fixing this in our new backend...

@hcho3
during our 1:1, @vinaydes and I found something that could be a potential problem with the way new backend is splitting nodes. Let me explain by only taking into account MSE metric (but should apply to all the other 3 metrics too). [Here

[2020-11-27 15:51] alxhrzg commented on #959
Just for someone looking for and intermediate solution, you can wrap e.g. SVC in sklearns OneVsRestClassifier wrapper such as:
For some background:

- [Nesting classifiers in OneVsRestClassifier](https://stackoverflow.com/questions/12632992/gridsearch-for-an-estimator-inside-a-onevsrestclassifier)

[code]

[2020-11-28 11:33] tfeher commented on #3189
The problem was caused by a value dependent implicit type conversion in the [following lines](https://github.com/tfeher/cuml/blob/f355cc01c90ac871862b435495a36e0ddf2876d4/python/cuml/experimental/linear_model/lars.pyx#L172):

[code]
- Initially X is fp32.
- If `X.shape[0]` > 65535 than x_scale becomes fp64, otherwise it is fp32.
- The data type of X after scaling will be the same of x_scale.
- The

[2020-11-28 11:33] #3189 closed

[2020-11-29 00:02] nasa-nccs-cds opened #3195 "Anomalous behavior in NearestNeighbors"
Finding seriously anomalous results from cuml.neighbors.   Here is the script that compares the NearestNeighbors results from scikit-learn and cuml.

At the bottom are the results of running the script.   Please note the differences between the cuml  index values (I_cuml) as compared with the correct-looking sklearn index values (I_sk).  The index computation from scikit-learn looks appropriate, b

[2020-11-30 03:58] nasa-nccs-cds commented on #3195
Here is my 0.17 conda env:

### Name                    Version                   Build  Channel
_libgcc_mutex             0.1                 conda_forge    conda-forge
_openmp_mutex             4.5                       1_gnu    conda-forge
_tflow_select             2.1.0                       gpu
abseil-cpp                20200225.2           he1b5a44_2    conda-forge
absl-py

[2020-11-30 11:32] viclafargue opened #3197 "[FEA] Merge MNMG NN and MNMG NN Cl&Re"
**Is your feature request related to a problem? Please describe.**
MNMG NN and MNMG NN Cl&Re currently have largely separate code. For increased stability and maintainability, it would be interesting to share some portion of code that could be common to these two algorithms. Along with that change, references to indices and distances could also be removed from MNMG NN Cl&Re as long as it doesn't i

[2020-11-30 12:13] moi90 opened #3198 "[DOC] How to install side by side with PyTorch?"
## Report needed documentation

**Report needed documentation**

I only found information on how to install cuml individually: https://rapids.ai/start.html

`conda create -n rapids-0.17 -c rapidsai-nightly -c nvidia -c conda-forge -c defaults cuml=0.17 python=3.7 cudatoolkit=10.1`, for example, installs `nvidia/linux-64::cudatoolkit-10.1.243-h6bb024c_0`

PyTorch, on the other hand, asks for: `cond

[2020-11-30 15:40] cjnolet opened #3199 "[DOC] Add ParallelPostFit example to estimator picking doc"
Adding the example is a trivial change but it has been held up while we figure out the best way to add the Dask-ml conda dependency.

[2020-11-30 16:08] cjnolet opened #3200 "[BUG] Speed up test_umap (single-GPU)"
It looks like the single GPU umap pytests are taking 3.5 minutes and could be sped up.

Specifically, the `test_umap_fit_transform` and `test_umap_reproducibility` tests should be investigated.

[2020-11-30 16:23] viclafargue opened #3201 "[ENH] Make preprocessing models fully compliant with cuML's estimator Base class and tagging system"
**Is your feature request related to a problem? Please describe.**
Currently, users cannot make use of the features offered by cuML's estimator Base class and tagging system. The change will make preprocessing models compliant with these.

[2020-11-30 16:30] JohnZed commented on #3193
Hi, @fadilparves - this crash is occurring when trying to make a large allocation necessary to get this data into the algorithm. As you have ~700M elements, that is at least 2.8GB in device memory usage on a 3GB card, plus additional room will be needed for working space. Working space depends on the algorithm, but can be significant as well. I would recommend working on a subset of the data or us

[2020-11-30 16:47] JohnZed opened #3202 "[BUG] [TEST] possible flaky test dask/test_random_forest.py"
This crash appears periodically:

[code]

Need to root cause and ensure it is not sporadically failing.

[2020-11-30 16:52] cjnolet opened #3203 "[FEA] Asynchronous mode for estimator operations that use cuda streams"
Most of our estimators use a cuda stream that has been set on the base class to make calls to the c++ API underneath, blocking the main thread to synchronize the stream. While this design works nicely for larger datasets that can utilize most or all of the GPU at the same time, it doesn't provide any benefit for smaller datasets that could be able to perform many parallel train/predict calls in pa

[2020-11-30 17:38] JohnZed opened #3205 "[BUG] [TEST] Flaky test failures in FilTests/PredictSparse16FilTest.Predict"
Noted in several PRs in CI but hard to reproduce locally. Example failure: ```
09:38:27 /opt/conda/envs/rapids/conda-bld/libcuml_1606459702665/work/cpp/test/sg/fil_test.cu:363: Failure
09:38:27 Value of: raft::devArrMatch(want_preds_d, preds_d, ps.num_rows, raft::CompareApprox<float>(tolerance), stream)
09:38:27   Actual: false (actual=2 != expected=0 @19182)
09:38:27 Expected: true
09:38:27 [  FA

[2020-11-30 17:49] tfeher opened #3206 "[BUG] PredictSparse16FilTest error"
**Describe the bug**

One of the FIL tests produces errors in CI. Here is an example:

https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci/job/cuml/job/prb/job/cuml-gpu-test/CUDA=10.2,OS=centos7,PYTHON=3.8/111/console

This is not deterministic, I have seen 3x on CI. Once I could reproduce it locally. Several other times I could not reproduce it.

**Steps/Code to reproduce bug**
[code]

This

[2020-11-30 17:56] tfeher opened #3207 "[BUG] CI incorrectly marks failing test as passed"
**Describe the bug**

CI incorrectly marks tests as passed when cpp unit test has actually  failed. Examples:

- https://gpuci.gpuopenanalytics.com/blue/organizations/jenkins/rapidsai%2Fgpuci-a100%2Fcuml%2Fprb%2Fcuml-gpu-build/detail/cuml-gpu-build/829/pipeline#log-114
- https://gpuci.gpuopenanalytics.com/blue/organizations/jenkins/rapidsai%2Fgpuci-a100%2Fcuml%2Fprb%2Fcuml-gpu-build/detail/cuml-gp

[2020-11-30 19:00] Nanthini10 commented on #1542
Closed by https://github.com/rapidsai/cuml/pull/1827

[2020-11-30 19:00] #1542 closed

[2020-11-30 19:19] #2951 closed

[2020-11-30 21:38] hcho3 opened #3209 "[FEA] Missing value handling for LightGBM models in FIL"
LightGBM offers two modes of handling missing values:
1. Assign default direction per each test node: This is similar to how XGBoost handles missing values.
2. Replace missing values with zeroes (0.0): This behavior is unique to LightGBM.

dmlc/treelite#227 adds a new field `missing_value_to_zero_` to the model spec to handle the second mode. FIL should also recognize this field.

* Note that ther

[2020-11-30 22:37] canonizer commented on #3205
Note that a similar problem is described in #3206.

[2020-11-30 22:38] canonizer commented on #3206
A similar problem is described in #3205. I'm closing this bug, and will track further work on this problem in #3205.

[2020-11-30 23:53] wphicks opened #3210 "[BUG] cuml_dev environment files result in ResolutionImpossible error during install"
Attempting to install the cuml_dev environment file from any of the existing conda env files results in `ResolutionImpossible` due to a mismatch between the version of dask we are trying to install and the version expected by distributed. Adding `@master` to the dependency string allows installation to proceed, but it is not clear to me why this would make a difference for these repos.

[2020-12-01 00:10] cjnolet opened #3211 "[BUG] Intermittent failing test: test_silhouette_samples"
I noticed this one in the [CI log](https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci/job/cuml/job/prb/job/cuml-gpu-test/CUDA=10.1,OS=ubuntu16.04,PYTHON=3.7/128/) for #3177

[2020-12-01 00:29] wphicks opened #3212 "[BUG] Debug build results in compile error"
**Describe the bug**
Building with the debug flag results in following compiler error:
[code]

**Steps/Code to reproduce bug**
`./build.sh -g`

**Expected behavior**
Library should compile

**Environment details (please complete the following information):**
 - Environment location: Bare-metal
 - Linux Distro/Architecture: Ubuntu 20.04
 - GPU Model/Driver: Quadro RTX 8000, 455.39
 - CUDA: 11.0
 -

[2020-12-01 01:15] #3207 closed

[2020-12-01 03:03] hcho3 commented on #3188
I filed #3216 according to your suggestion. While it does not fix the issue in the particular toy example, I believe it should be merged on its own merit, namely ignoring ineligible split candidates.

[2020-12-01 05:52] #3211 closed

[2020-12-01 08:34] #3076 closed

[2020-12-01 10:37] #3173 closed

[2020-12-01 13:02] viclafargue commented on #3053
Solved with #3192

[2020-12-01 13:02] #3053 closed

[2020-12-01 13:03] viclafargue commented on #2966
Solved with #3194

[2020-12-01 13:03] #2966 closed

[2020-12-01 14:54] tfeher commented on #3206
Closing this as duplicate of #3205.

[2020-12-01 14:54] #3206 closed

[2020-12-01 15:14] fadilparves commented on #3193
Hi @JohnZed , thank you for clarifying the issue for me, i tried it on bigger memory GPU and it was working fine. I guess need to upgrade my GPU haha. Closing this issue as it is not related to rapids but more to issuer hardware.

[2020-12-01 15:14] #3193 closed

[2020-12-01 17:18] wphicks commented on #3210
This is a result of [recent changes](https://pip.pypa.io/en/stable/user_guide/#resolver-changes-2020) to the pip resolver. Adding `@master` is the correct solution for now, though this may represent a bug in pip. I'll create a PR accordingly.

[2020-12-01 17:29] zdk123 commented on #1798
bumping this since I am also interested in custom metrics for UMAP

[2020-12-01 18:26] JohnZed opened #3220 "Release 0.17 checklist"
Recurring tasks before each release:

**New algorithm support:**
- [x] Each new algorithm added to API docs
- [x] Each new algorithm added to README
- [x] Blog posts planned for new algos as appropriate (John)

**Docs and examples:**
- [ ] Built API docs & checked for formatting
- [x] Verified & updated API docs (@JohnZed )

**Additional testing:**
- [ ] Stress tests run (@wphicks )
- [ ] Final re

[2020-12-01 18:37] #2614 closed

[2020-12-01 19:02] JohnZed commented on #3166
LinearRegression should be automatically converting from eig to svd in this case but still completing successfully. In my local test on cuml branch-0.17, it successfully switched to svd and fit. Are you seeing a crash after this message or just the message about eig?

[2020-12-01 19:03] JohnZed commented on #3181
Closing for now, but feel free to reopen or add more info if you find cuml issues blocking progress.

[2020-12-01 19:03] #3181 closed

[2020-12-01 19:24] #2890 closed

[2020-12-01 20:02] dantegd opened #3224 "[FEA] Follow up items for experimental GPU SHAP explainers"
PR #3126 has the first experimental version of 2 black box general SHAP explainers: Kernel and Permutation. This issue captures follow up tasks, improvements and fixes in progress for the next version

- Kernel SHAP
    - [ ] Add row major synthetic dataset generation and use estimator tags to generate the correct one
    - [x] Check googletest case that was flaky on CUDA 10.1/Ubuntu 16.04 and re-

[2020-12-01 20:24] JohnZed commented on #3195
Thank you for the detailed reproducer!

I added a small snippet to print the abs and max abs diffs in distances between skl and cuml.

[code]

On a Turing RTX8000 on CUDA 11 _or_ CUDA 10.2 (though both times with driver 455.23.04), I'm seeing very little diff like:

[code]

However, on a V100 with CUDA 10.2 (installed via conda), I'm seeing larger diffs, similar to the original comment: ```
Distan

[2020-12-01 21:07] #3205 closed

[2020-12-01 23:42] wphicks commented on #2933
Something has changed in the past week in terms of reproducing this. I am still able to reproduce the issue, but it takes much longer to do so, and I have only seen a failure on the `cudf-quantile onehot-dense` versions of this test, whereas before I saw it on at least some other `cudf-quantile` tests. When I began tracking it, mean time to failure was around 180 iterations. Now, it is slightly un

[2020-12-02 00:07] #3210 closed

[2020-12-02 00:56] dantegd opened #3228 "[BUG] Analysis of pytest execution difference between running tests locally vs CI"
**Describe the bug**
This issue is not really a bug, but more of a description of the results of a quick analysis of why sometimes some tests that locally work super fast, end up in the list of the slowest pytests by orders of magnitude. It probably does not explain _entirely_ why does this happen since it was a naive fast test. But is a good place to start the analysis, and can serve as a good to

[2020-12-02 03:46] reductio-ad-absurdum commented on #3149
I am unable to repro since installing the latest GPU driver (NVIDIA-SMI 455.45.01    Driver Version: 455.45.01    CUDA Version: 11.1). I have tried all the images mentioned above and they all work fine. Closing.

[2020-12-02 03:46] #3149 closed

[2020-12-02 05:52] #1558 closed

[2020-12-02 13:26] viclafargue commented on #2933
Same, it's really hard to reproduce. I wonder if the disappearance of the `ordinal` error is not linked to recent change in #3194 that converts cuDF dataframes to cuPy arrays before the call to `input_to_cuml_array`. The `onehot-dense` error seems to be a separate issue.

[2020-12-02 14:12] beckernick opened #3232 "[DOC] Enhance documentation for MNMG KNN"
As noted in https://stackoverflow.com/questions/64785654/why-is-cuml-predict-method-for-knearestneighbors-taking-so-long-with-dask-cudf , the `batch_size` parameter is important for throughput. This is currently an undocumented parameter, as the `KNeighborsRegressorMG` class accepts it but the dask `KNeighborsRegressor` accepts it only through `**kwargs`.

We should document all relevant parameter

[2020-12-02 14:52] beckernick opened #3233 "[BUG] SVC fitting 240MB of data causes 32GB V100 to go out of memory"
Fitting an SVC on 240MB of data with default parameters currently causes a 32GB V100 to go out of memory.

[code]

[code]

[2020-12-02 15:24] lowener commented on #3183
Solved with #3190

[2020-12-02 15:24] #3183 closed

[2020-12-02 17:39] wphicks opened #3234 "[BUG] AssertionError in multithreaded KBinsDiscretizer"
**Describe the bug**
When running `KBinsDiscretizer` in a multithreaded environment, we sometimes (once every ~50 calls) get the following `AssertionError`

[code]
Analyzing with a debugger, we can see that `cuml.global_output_type` has indeed been set to `'mirror'` when the error occurs, but it is not clear why this happens only in a multithreaded environment

**Steps/Code to reproduce bug**
[cod

[2020-12-02 18:04] nasa-nccs-cds commented on #3195
Thanks, John, for looking into this.   The issue that most concerned my was the anomalous index values produced by NearestNeighbors.kneighbors.   Since you did not mention the indices then I assume in your case they match the result produced by scikit-learn.    If that is true then I'm left wondering why my results differ from yours.

[2020-12-02 18:52] #3170 closed

[2020-12-02 18:54] #2963 closed

[2020-12-02 19:19] wphicks commented on #3234
This is a result of using the `_using_mirror_output_type` context manager, which sets `cuml.global_output_type` to `mirror` in one thread when another thread requires that it not be `mirror`. Following discussion with the team, this does not seem to be an especially important issue, since we rely on dask for our parallelism model. I'll open a separate issue to more clearly document what our thread

[2020-12-02 19:23] wphicks opened #3237 "[DOC] Clearly document (lack of) thread safety guarantees for Python multithreading and multiprocessing"
## Report needed documentation

**Report needed documentation**
It would be helpful to clearly indicate that we do not expect `cuML` to work with Python's multithreading or multiprocessing models and that users should only rely on `dask` for parallelism. This will help avoid reporting of errors like #3234.

**Describe the documentation you'd like**
A short paragraph stating what our thread safety

[2020-12-02 22:25] JohnZed commented on #3233
@tfeher can you take a look and provide a little guidance on expected memory usage? Seems to die around 2.1M rows on a 48GB GPU. I'm wondering if there could be a bug in the calculation of allocation sizes, as 2M rows never uses more than about 9GB and 2.1M rows ends up with a cudaMalloc failure very quickly.

[2020-12-02 23:05] JohnZed commented on #2352
Closed via #3126

[2020-12-02 23:05] #2352 closed

[2020-12-02 23:06] JohnZed commented on #2518
Improvements to the new backend show significant progress, but we'll keep this open in next release until we get the last few tests done.

[2020-12-02 23:13] wphicks commented on #2933
I have fairly compelling evidence now that the ValueError is a result of some interaction with pytest's `fixture` code. I have not successfully reproduced the ValueError in over 30K runs after refactoring the test to avoid using the fixture (but using exactly the same code to generate the test data). I still saw the AssertionError once.

[2020-12-02 23:17] wphicks commented on #2933
It is worth mentioning that I changed the fixture scope to `function` rather than `session` for these tests.

[2020-12-02 23:38] tfeher commented on #3233
Thanks @beckernick for opening the issue. There is one known problem with memory usage #2122. For that problem I have a work in progress solution (#2449).

This one seems to be a different problem. SVM is expected to use n_rows * 1024*sizeof(X.dtype) + cache_size + O(n_rows) memory. Seems like a bug. I suspect that there might be an incorrect data type used while calculating the allocation size. I

[2020-12-03 07:52] #3202 closed

[2020-12-03 17:28] Nyrio commented on #3094
I added a section about the issue with `fa`/`xa`.

[2020-12-03 18:03] tfeher commented on #3233
The immediate cause of the bug is the allocation here: https://github.com/rapidsai/cuml/blob/1287e86c477f61c73967ee8ef4adb87f2c706cce/cpp/src/svm/kernelcache.cuh#L112

The `n_rows * n_ws` multiplication will cause an int overflow (n_ws = 1024).

Secondary problems are any such multiplications for example in
https://github.com/rapidsai/cuml/blob/1287e86c477f61c73967ee8ef4adb87f2c706cce/cpp/src/svm/

[2020-12-03 20:47] JohnZed opened #3247 "[DOC] Add decorator or sphinx plugin to automate cloning args from SG -> Dask estimators"
E.g. **kwargs in dask.KNeighborsRegressor should be able to reuse the params definitions from the SG version.

[2020-12-03 21:14] JohnZed commented on #1031
Added as experimental in 0.17.

[2020-12-03 21:14] #1031 closed

[2020-12-03 22:29] miroenev commented on #3120
Sample runs on A100 and 1/7th MIG
[MIG_all_but_pca_dask.txt](https://github.com/rapidsai/cuml/files/5639263/MIG_all_but_pca_dask.txt) -- 22 mins
[singleA100_all_tests.txt](https://github.com/rapidsai/cuml/files/5639264/singleA100_all_tests.txt) -- 1hr and 4mins

In the case of the small MIG test_pca.py causes an out of memory error, and dask tests were failing during LocalCUDACluster initializatio

[2020-12-04 00:48] cjnolet commented on #3195
@nasa-nccs-cds, I'm just leaving a little note let you know that I have been investigating this issue. I'm also on Centos7 and so far what I've noticed is that I get unexpected results only when cuml is installed through the conda packaging (rather than bring built from source).

I am running the following simplified reproducer script on your data:
[code]

When installing cuml from source, I get t

[2020-12-04 01:09] joker3212 commented on #1090
I would like to start working on this ticket and was wondering if someone could point me in the right direction. This is my first contribution to this project so any pointers are appreciated.

[2020-12-04 02:17] roarjn opened #3251 "[BUG] "TypeError: To use Dask RF data should have dtype float32" in cuml/notebooks/random_forest_mnmg_demo.ipynb"
**Describe the bug**
In cuml/notebooks/random_forest_mnmg_demo.ipynb I observe the following issue with no changes to the notebook.
RAPIDS 0.16 installed.
[code]

Appreciate any suggestions.

[2020-12-04 04:55] hcho3 opened #3252 "[FEA] Rename variables in RF metric kernels to clarify their meaning"
https://github.com/rapidsai/cuml/pull/3243#discussion_r535667272. Variables like `scount`, `spred`, and `spredP` do not indicate what they are for. They should be renamed for better clarity.

[2020-12-04 04:56] hcho3 opened #3253 "[FEA] Explore a possible single-pass implementation of MSE metric kernel"
#3243 revised the MSE metric kernel to make two passes over the data. While this improved numerical stability, it came at the cost of performance slowdown. We should explore an alternative single-pass implementation that is also numerically stable.

[2020-12-04 05:22] #3128 closed

[2020-12-04 10:42] moi90 opened #3255 "[BUG] Correct quadratic memory usage in silhouette_score and re-enable Python bindings"
**Describe the bug**
The process is terminated: `terminate called after throwing an instance of 'raft::cuda_error'`

[code]

**Steps/Code to reproduce bug**

[code]

**Expected behavior**

1. I expect that an error just raises an exception, not that it terminates the application.
2. I expect that `silhouette_samples` runs without problem. The size of the data is just over 16 MiB.

**Environment de

[2020-12-04 10:42] moi90 commented on #3255
[conda_list.txt](https://github.com/rapidsai/cuml/files/5642147/conda_list.txt)

[2020-12-04 15:28] wphicks commented on #3255
Thanks very much for the bug report @moi90! I was able to reproduce this immediately and will look into it further.

The relevant parameter seems to be `n_samples`. The unit tests don't touch anything that large, and I successfully tried values of `n_features` large enough to use the same total memory as the given reproducer. Experiments with the following values of `n_samples` had the results lis

[2020-12-04 15:41] wphicks commented on #3255
I was able to reproduce this at the C++ layer as well.

[2020-12-04 19:31] wphicks commented on #3255
This feature will be temporarily suppressed via #3258. Once the underlying issue is resolved in C++, the Python bindings should be unhidden.

[2020-12-04 19:44] moi90 commented on #3255
I'm currently investigating a CPU implementation (unrelated to rapidsai); the key to circumvent the memory issue seems to be the processing in chunks because otherwise a distance matrix of n*n is constructed.

[2020-12-04 19:44] moi90 commented on #3255
Also thanks for looking into this issue!

[2020-12-04 20:07] JohnZed commented on #3251
Thank you for reporting this, @roarjn
This was a bug in the notebook in 0.16. It needed an `X.astype(np.float32)` conversion. I have confirmed that in 0.17 (releasing soon) this is now fixed.

[2020-12-04 20:07] #3251 closed

[2020-12-04 20:41] drobison00 opened #3259 "[BUG] RAPIDS 0.16 container appears to be missing cupy library."
**Describe the bug**
Given a dask_kubernetes cluster, with multiple workers running 'rapidsai/rapidsai:cuda11.0-runtime-ubuntu18.04-py3.8', the cuML call below results in:

[code]

**Steps/Code to reproduce bug**
[code]

[code]
[code]

On the worker:

[code]

**Expected behavior**
X should be persisted across workers.

**Environment details (please complete the following information):**
 - Environ

[2020-12-04 20:58] drobison00 commented on #3259
This error also affects cuml.dask.datasets.regression.make_regression, when shuffle=True

[code]

Client
[code]

worker
[code]

[2020-12-04 21:19] JohnZed opened #3260 "[BUG] test_naive_bayes should use local data / not download"
We've seen several cases where downloading the newsgroups dataset for test_naive_bayes times out in CI, causing a failed test. We should either make this test optional or replace the dataset used.

[2020-12-04 22:03] drobison00 commented on #3259
One thing that stands out is that installing RAPIDS in a local environment, with the command copied from rapids.ai yields an environment with cupy 7.8.0:

conda create -n rapids-0.16 -c rapidsai -c nvidia -c conda-forge -c defaults rapids=0.16 python=3.8 cudatoolkit=11.0

while the 'rapidsai/rapidsai:cuda11.0-runtime-ubuntu18.04-py3.8' container has cupy 8.0.0

Trying to specify cupy 8.0.0 on the

[2020-12-04 22:24] drobison00 opened #3261 "[BUG] MNMG KMeans fit fails with NCCL errors in multi-worker cluster."
**Describe the bug**

Calling fit in the cluster, on a known good data set results in the following:
[code]

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Should return a Kmeans model

**Environment details (please complete the following information):**
 - Environment location: (Cloud) Google Kubernetes Engine
 - Linux Distro/Architecture: Ubuntu 18.04
 - GPU Model/Driver: 450.xx

[2020-12-04 22:38] drobison00 commented on #3261
On the worker node
[code]

[2020-12-06 09:59] miguelusque opened #3266 "[FEA] Add 'output_type' parameter to 'datasets.make_blobs' method"
**Is your feature request related to a problem? Please describe.**
Hi,

I have just noticed that `datasets.make_blobs`does not accept `output_type`.

It is not a big deal, and can be easily workarounded. Nevertheless, I think it would be great to add support to that parameter for consistency with other similar methods, such as `datasets.make_arima` or `cuml.preprocessing.TargetEncoder` among other

[2020-12-06 11:54] miguelusque opened #3267 "[FEA] Expose model_selection in a similar way to Scikit-learn"
**Is your feature request related to a problem? Please describe.**
While porting some code from SKL to cuML, I have noticed the following:

SKL:
`from sklearn.model_selection import train_test_split`
cuML:
`from cuml.preprocessing.model_selection import train_test_split`

If I try to do `from cuml.model_selection import train_test_split`, the following error is displayed:
`ModuleNotFoundError: No

[2020-12-06 12:03] miguelusque opened #3268 "[DOC] Missing n_samples parameter in datasets.make_classification signature"
## Report incorrect documentation

**Location of incorrect documentation**
https://docs.rapids.ai/api/cuml/stable/api.html?highlight=make_classification#cuml.datasets.make_classification

**Describe the problems or issues found in the documentation**
`n_samples` parameter is accepted by the method, but missing in the method's signature documentation.

![image](https://user-images.githubusercontent

[2020-12-06 13:52] Matrix-World opened #3269 "How to get libcuml.so and call the library through java to use ML algorithm？"
**What is your question?**
Hello, I am new to github and cuml projects, and I have a  question. In https://github.com/rapidsai/cuml, some algorithms in the python module do not seem to use the files in the cpp file, such as cuml/python/cuml/linear_model/logistic_regression.pyx. Instead, use the cupy module to directly interact with cuda to achieve GPU acceleration, right? So is it possible to thin

[2020-12-06 16:23] lowener commented on #3268
Same with `datasets.make_blobs`:

![image](https://user-images.githubusercontent.com/9810050/101285836-acbd6b00-37e7-11eb-9948-da0604c94e17.png)

[2020-12-06 16:52] teju85 commented on #3269
That's correct. For algos which we want to be implemented quickly and/or not perf-critical, we directly implement them via python layer using cupy. For the rest, we implement them with C++/cuda interface, expose them on `libcuml++.so` and then wrap them with cython .pyx files.

If you want to call the ML algos that are exposed in `libcuml++.so`, then yes, you'll first have to build/download `libcu

[2020-12-07 15:51] Matrix-World commented on #3269
thx, I want to know, if I want to call libcuml++.so library through java, do I also need to use libcuml.so. Or these two can be used separately, and librmm.so is also needed? Do you have a website provided to download libcuml++.so and libcuml.so that you have compiled?

[2020-12-07 16:22] viclafargue commented on #3232
Solved with #3246.

[2020-12-07 16:22] #3232 closed

[2020-12-07 16:42] teju85 commented on #3269
`libcuml.so` is a wrapper over `libcuml++.so`. So, if you want to wrap `libcuml++.so` from your JNI wrapper, then you do NOT need `libcuml.so`. For now, I'd say that the easiest way for you to get started with writing this wrapper would be as follows:
1. Install [conda](https://docs.conda.io/projects/conda/en/latest/user-guide/install/)
2. Then install cuML package following the instructions from

[2020-12-07 17:09] JohnZed commented on #3009
Closed bu #3051

[2020-12-07 17:09] #3009 closed

[2020-12-07 20:06] wphicks commented on #3195
I was able to partially reproduce when building from source (Ubuntu 20.04, CUDA 10.1). The reported nearest neighbor distance for a sample with itself was non-zero, but the indices were correct. I've just created PR #3273 to test this across a wider range of systems, and I'll continue to investigate in the meantime.

[2020-12-07 21:22] dantegd opened #3274 "[TASK] Consolidate/Remove redundant code in GLM C++ code"
PR #3256 consolidates the Python code of the predict functions of the linear models (OLS, Ridge, Lasso and Elastic) into a single Mixin, and removes some redundant functions in the C++ code.

Yet, there are still quite a few places where the same function (GEMM followed by a sum of the intercept value) still happen in the C++ code, like the CD and SGD solvers. This task captures the need to clean

[2020-12-07 23:32] drobison00 commented on #3261
Also seeing the same errors for PCA.

[code]

[2020-12-07 23:42] hcho3 commented on #3261
@drobison00 Do you think this issue is specific to Kubernetes? I'm interested to see if the issue can be reproduced with `LocalCUDACluster`.

[2020-12-08 05:38] John-8704 opened #3276 "[QST] Why is Silhouette score not available in 0.17a (nightly)?"
**What is your question?**
I have tried to import Silhouette score using `from cuml.metrics.cluster import silhouette_score` but it return attribute error. Is the development still in progress (or) completed?

Any update on this?

[2020-12-08 05:42] hcho3 commented on #3276
Hello, the Silhouette score feature was temporarily hidden due to its excessive memory use. See #3255 and #3258.

[2020-12-08 05:54] #3276 closed

[2020-12-08 10:24] viclafargue commented on #2816
This problem has normally been taken care of with #3051. I checked again with` n_target=1`, the pytests fail at first, but this is just a problem with testing. The output shape and content is now correct. A least very mostly correct (problem with kNN).

[2020-12-08 10:24] #2816 closed

[2020-12-08 17:09] Matrix-World commented on #3269
Thanks, I get it. I have another question,
The kmeans algorithm in cuml/cpp/src/kmeans is implemented by cuda, right?
kmeans in cuml/cpp/examples/kmeans is implemented in c++/cuda, right? Why doesn't kmeans_example use cuml/cpp/src/kmeans directly? If I get libcudf++.so and use java to call kmeans to achieve GPU acceleration, the corresponding kmeans algorithm should be in cuml/cpp/src/kmeans. I d

[2020-12-08 17:45] wphicks commented on #3212
The missing `cusparseScsrmv` issue is a red herring from a poorly set-up CUDA 11 environment, but the missing `alloc_knn_graph` appears to be a real problem.

[2020-12-08 17:47] JohnZed commented on #3260
Should see if we can cache a dataset in CI servers.

[2020-12-08 17:52] JohnZed commented on #3260
Let's xfail with a reason of the network error exception. I believe this is an IOError? https://docs.pytest.org/en/latest/skipping.html
Should still fail if there are other exceptions.

[2020-12-08 18:43] divyegala opened #3277 "[FEA] Break out cython bindings into `.pxd` file for cuML algorithms"
Right now, we have both cython bindings and cython code in the same `.pyx` files. This limits readability as some of our cython code has become large, both for development and review purposes. We should separate the bindings into a `.pxd` file to improve conciseness

[2020-12-08 20:06] drobison00 commented on #3261
@hcho3 LocalCUDACluster works as expected, but doesn't seem like a good comparison, because you're not exercising any multi-node functionality.

Planning to test on a bare metal (non kubernetes) environment this week; however, I'm skeptical its K8s related. Once the worker pods are up, they're not terribly different from any other machine. Also, I can train an xgboost model in the cluster on the f

[2020-12-08 20:06] lowener opened #3278 "[FEA] Generalize the "NotFittedError""
As mentionned by @dantegd it would be good to generalize and automate the `NotFittedError` for all estimators (`predict/transform/predict_proba` etc)  by using estimator tags (in particular `requires_fit`).

[2020-12-08 20:07] drobison00 commented on #3261
Also appears to affect TruncatedSVD, so I'm guessing its more of a framework level issue.

[code]

[2020-12-08 20:28] wphicks commented on #3212
Problem first appears at b205e8fd0.

[2020-12-08 20:36] dantegd commented on #3277
@divyegala this was the way we had it originally and it led to _a lot_ of extra files that had little re-use in all of our folders with very little added benefit, so I would be strongly against going back to that.

I think our current approach of separate pxd files for wrapped functions that get re-used and single .pyx wrapped files for ones that don't is just better from a pragmatical as well as

[2020-12-08 20:43] divyegala commented on #3277
@dantegd We could likely hide the `.pxd` files in something like `decomposition/detail/pca.pxd` as taking PCA's example and following C++'s `detail` convention. This would hide away PCA binding API to libcuml++ which is barely ever updated anyway, while hiding away 100 lines of 731 lines of `pca.pyx` that currently exist, allowing updates to be specific to the cython code and not having to scroll

[2020-12-08 21:02] dantegd commented on #3277
That is exactly what I was referring to when mentioning that this was how things were originally. This duplicates _a lot_ of files if done blindly, which is just changing one trade off for another. In PCA itself I see pretty much no benefit of doing that.

I don't see how it makes it any easier at all, it is the exact same change, just showed in two files or one, so I don't see the upside? It is j

[2020-12-08 21:32] drobison00 opened #3280 "[BUG] MNMG RandomForest 'print_summary' and 'print_detailed' produce incorrect behavior, in a multi-node environment."
**Describe the bug**
After fitting a RandomForestClassifer (cuml.dask.ensemble), its class methods appear to output their information on the worker, rather than the client. This is likely not appropriate.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Each API method should print its results on the client.

**Environment details (please complete the following information):**
 - Env

[2020-12-08 22:38] hcho3 commented on #3280
@drobison00 `print_detailed` and `print_summary` should be revised to behave like `dump_as_json`, which returns a string instead of printing to stdout. Can you try `dump_as_json` and see if the result is available on the client?

[2020-12-08 22:40] hcho3 commented on #3280
Oops, never mind. The `dump_as_json()` isn't yet exposed to the Dask interface. My point still stands: The two functions should return a string instead of directly writing to stdout.

[2020-12-09 00:42] wphicks commented on #3195
Following up: PR #3273 ran successfully on all CI systems, though my source builds on Ubuntu 20.04 with CUDA 10.1 and 10.2 consistently fail.

[2020-12-09 03:24] SHUIGUYU opened #3283 "[QST]Using cuML kmeans from C++ application is falied"
**What is your question?**
I downloaded cuml-branch-0.14.zip and unzipped it, and then compiled kmeans_example.cpp according to https://github.com/rapidsai/cuml/tree/branch-0.18/cpp/examples/kmeans/README.md, I hope to get it The so library can be used by c++. You can always prompt when executing make: fatal error: cuml/cluster/kmeans.hpp: No such file or directory.
How can I solve it?

[2020-12-09 12:01] kratika464 opened #3284 "[DOC] Experimental preprocessing examples use imports from the wrong location"
**Describe the bug**
About MinMaxScaler Module:-

We were using sklearn in pandas. So, in sklearn we were using a module (i.e. "from sklearn.preprocessing import MinMaxScaler").
So, The same module we want to use in CUML and that is ("from cuml.preprocessing import MinMaxScaler"),
But it gives an error (i.e. ImportError: cannot import name 'MinMaxScaler' from 'cuml.preprocessing'
(/home/ubuntu/ana

[2020-12-09 12:28] kratika464 opened #3285 "[QST]"
**What is your question?**
Why is CUDF getting more time to read CSV compare to pandas?

1) We read a csv in pandas(pd.read_csv()) and CUDF(cudf.read_csv()) and their time and csv size compare:-

Stock = QQQ
Total no. of rows 1445
Size of file is :  61.1884765625 KB  [ time with cudf  2.691218376159668 sec ]  [ time with pandas : 0.004311561584472656 sec]

Stock = TOPS
Total no. of rows 4104
Size

[2020-12-09 15:37] wphicks commented on #3284
Thanks for checking out cuML's preprocessing features! `MinMaxScaler` is currently in experimental status, so you'll need to import it from `cuml.experimental.preprocessing` rather than `cuml.preprocessing`. That being said, you're absolutely right that our docs do not correctly reflect that at the moment. I'm going to convert this over to a docs issue and we'll get that updated.

[2020-12-09 15:41] wphicks commented on #3285
This question seems to be related to cuDF rather than cuML. Would you mind submitting it over [there](https://github.com/rapidsai/cudf/issues)?

[2020-12-09 15:41] #3285 closed

[2020-12-09 17:20] phillify opened #3287 "[FEA] .inverse_transform(y) method for UMAP"
**Is your feature request related to a problem? Please describe.**
Inverse transforms were (recently?) added to the python implementation of UMAP (https://umap-learn.readthedocs.io/en/latest/inverse_transform.html)

**Describe the solution you'd like**
I would like the `.inverse_transform(y)` method added to the cuML implementation of UMAP

**Describe alternatives you've considered**
- other infer

[2020-12-09 23:40] wphicks commented on #3195
To help track reproducers for this, we'll add onto this table, which tracks whether or not the error was observed, the GPU architecture, the cuda version, whether it was a source build or conda install, and whether FAISS was built from source or installed from conda. For other members of the team: please add rows even (especially) if it contradicts the findings from an existing row, since that wil

[2020-12-10 16:01] lowener commented on #3266
The parameter `output_type` is marked [on `datasets.make_arima`](https://github.com/rapidsai/cuml/blob/0aad11cc93f648584cbbca0e0828267efab1d9e1/python/cuml/datasets/arima.pyx#L104) as `deprecated` and is supposed to be removed for 0.18.

@JohnZed do we really want to add it to `datasets.make_blobs` ?

[2020-12-10 16:37] miguelusque commented on #3266
Hi!

Alternatively, I’d be happy if it would return the same data type as the input type. It would also make sense.

Nevertheless, `output_type` seems like a nice property to reduce the number of lines in the code (I am not saying less lines of code is always better, but I’d say it is in this case)

[2020-12-10 17:57] wphicks commented on #3195
I was able to reproduce the issue with significantly non-zero distances with FAISS code independent of cuML. Slightly non-zero results would not be terribly surprising due to the numeric stability issues documented [here](https://github.com/facebookresearch/faiss/wiki/Implementation-notes#matrix-multiplication-to-do-many-l2-distance-computations), but these values seem more significantly non-zero

[2020-12-10 20:20] dantegd commented on #3224
Here are some (micro) benchmarking results that are being used to finish optimizations of kernel shap to "graduate it" from experimental. These are not final numbers, more profiling numbers that are guiding the optimization efforts (so OLS's predict is useful for comparing runtimes, even if linear SHAP would be used for it).

Using SVR, when compared to running SHAP on the CPU with Scikit-learn's

[2020-12-10 20:41] JohnZed commented on #3120
@miroenev and @mdemoret-nv to PR a fix for PCA memory consumption

[2020-12-11 01:19] wphicks commented on #3195
@nasa-nccs-cds Can you confirm that the csv you provided corresponds to the same data used to generate the results you posted? I ask because the data frame doesn't appear to have the same values when I load it:

[code]

At this point, I've been able to reproduce the issue with scrambled indices, and I have a fairly good idea of what's causing it (more detail to follow), but I'm concerned about the

[2020-12-11 13:52] dominicshanshan commented on #3166
![image](https://user-images.githubusercontent.com/30051912/101911227-0e704180-3bfb-11eb-8138-e4b4717c9638.png)
@JohnZed, sorry to reply so late... seems not in my case

[2020-12-11 15:35] Nyrio commented on #2953
Hi @zhangdan8962,

`min_samples` is not the minimum number of samples in a cluster like you're implying. It is the minimum number of samples in the neighborhood of a point such that it can be considered a core point. Cf [the definition of core points and clusters](https://en.wikipedia.org/wiki/DBSCAN).

Border points can be at the edge of multiple distinct clusters and in that case, they are arbit

[2020-12-11 16:01] Nyrio commented on #2164
@MatthiasKohl This has been fixed, right? If so, can you close this issue?

[2020-12-11 16:08] MatthiasKohl commented on #2164
You're right, closed.

[2020-12-11 16:08] #2164 closed

[2020-12-11 16:12] Nyrio commented on #2163
@MatthiasKohl Was this solved in #2212? If yes, can you close this issue?

[2020-12-11 16:29] MatthiasKohl commented on #2163
Indeed this is solved. Closing

[2020-12-11 16:29] #2163 closed

[2020-12-11 16:55] wphicks opened #3295 "[BUG] CUDA OOM in PCA Stress Test"
**Describe the bug**
On a V100, `cuml/test/dask/test_tsvd.py::test_pca_fit[dataframe-data_info1]` exhausts all available CUDA memory

**Steps/Code to reproduce bug**
`pytest --run_stress -k "test_pca_fit[dataframe-data_info1]"`

**Expected behavior**
Stress tests should be able to run to completion on V100

**Environment details (please complete the following information):**
 - Environment locatio

[2020-12-11 17:01] Nyrio commented on #1773
Hi @xieshuqin,

The definition of DBSCAN in [the original paper](https://www.aaai.org/Papers/KDD/1996/KDD96-037.pdf) assumes a distance function. The [mathematical definition of a distance](https://en.wikipedia.org/wiki/Metric_(mathematics)#Definition) requires symmetry. This assumption of the paper is made clear after definition 2 when they note that the "directly density-reachable" relationship

[2020-12-11 17:46] nasa-nccs-cds commented on #3195
Hi William,
    I just checked and the data that I used to generated the output that I send in my email is different from the file that I posted.

    The data frame output that you display below does appear to match the file that I posted at  https://www.dropbox.com/s/um8eg8u88m0091e/spectraclass_data.csv?dl=0<https://gcc02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.dropbox.com%2Fs%2

[2020-12-11 17:55] wphicks commented on #3195
Wonderful! Thank you very much @nasa-nccs-cds. I'll do a bit of cross-referencing against my own results and then update you from there.

[2020-12-11 18:11] nasa-nccs-cds commented on #3195
BTW, the data file that I used to generate the other result can be accessed at:
https://www.dropbox.com/s/6szj4v2jls6j7f1/spectraclass_data_1.csv.txt?dl=0

From: William Hicks <notifications@github.com>
Reply-To: rapidsai/cuml <reply@reply.github.com>
Date: Friday, December 11, 2020 at 12:55 PM
To: rapidsai/cuml <cuml@noreply.github.com>
Cc: NASA High Performance Data Analytics <tpmaxwel@nccs.nasa

[2020-12-11 21:04] xieshuqin commented on #1773
@Nyrio Thanks for the feedback!

Yes you are right. It shouldn't be asymmetric. I will close this issue.

[2020-12-11 21:04] #1773 closed

[2020-12-11 21:52] #1780 closed

[2020-12-11 22:00] kevingerman opened #3297 "[FEA] Implement integration blogs as benchmark tests"
It is important to track performance and function of integrations that rapids has made into other projects. Especially where we have published blogs describing those features.

Implement benchmark test cases using the Algorithm example that will be skipped if dependencies are not present in the current environment.

External test repos tend to drift as the target project grows and changes.

First

[2020-12-12 00:08] cjnolet opened #3298 "[BUG] Speed up `test_umap.py`"
There are a few tests in here that have gotten quite slow. Speed them up.

[2020-12-12 00:10] cjnolet opened #3299 "[DOC] Add ParallelPostFit example to distributed pickling docs"
This is also going to require adding Dask-ML as a dependency so the docs can build

[2020-12-12 00:11] #3298 closed

[2020-12-12 00:11] #3299 closed

[2020-12-12 00:43] cjnolet opened #3300 "[BUG] Fix nearest neighbors stress test"
As @wphicks found in 0.17, the nearest neighbors tests are very slow and 5000k data points is quite a lot to expect to execute on the cpu for each parameter combination.

These can be sped up by using the dataset generator from cuml and lowering the amount of rows to something more reasonable, like 1k or 10k.

[2020-12-12 06:03] kratika464 commented on #3284
As you suggest  cuml.experimental.preprocessing work for me. Thanks for
helping me.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Wed, 9 Dec 2020 at 21:07,

[2020-12-12 09:19] nmate1988 commented on #3280
Then is there a way to export a MNMG random forest model?

[2020-12-12 10:17] h-vetinari commented on #2821
Just FYI, conda-forge/faiss-split-feedstock#17 has been merged 🙃

[2020-12-12 16:05] drobison00 commented on #3261
Discussed this with Corey and did some additional NCCL debugging. Looks like a problem with the workers attempting to connect directly back to the client during the fit process, and timing out. Looking into solutions now.

[2020-12-12 16:09] cjnolet opened #3301 "[TASK] Investigate and tune block sizes of UMAP kernels"
UMAP contains a lot of embarrassingly-parallel CUDA kernels and most of the kernels don’t require shared memory. Still, the register usage varies from kernel to kernel and their optimal block sizes are likely to differ. At some point, a bunch of the kernels were linked to the same default block size for simplicity, but this could be limiting occupancy for some kernels.

During the writing of the U

[2020-12-13 00:58] WangWenhao0716 opened #3302 "The support for "precomputed" in DBSCAN [FEA]"
It can be observed from [sklearn-dbscan](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.DBSCAN.html) that the metric can be “precomputed” and X can be a distance matrix. However, currently, cuML does not support this "precomputed" metric.
I want to know whether this feature will be added to a future version of cuML?
Thanks.

[2020-12-13 11:21] teju85 commented on #3302
This should be possible. But would like to hear thoughts from @Nyrio who's currently working on dbscan.

@WangWenhao0716 I'm assuming you'd be interested in passing a dense distance matrix as input?

[2020-12-13 11:25] WangWenhao0716 commented on #3302
@teju85 Thanks a lot! The assumption is right!

[2020-12-13 23:25] cjnolet commented on #3287
@phillify, this feature that has been on our radar and the implementation should be straightforward. Closing as a duplicate of #3098.

[2020-12-13 23:25] #3287 closed

[2020-12-13 23:36] cjnolet commented on #3098
Linking #3287

[2020-12-14 00:52] cjnolet commented on #2821
This change will also require the hardcoded `int64_t` knn indices to be updated to `int` everywhere. We should be able to use the int64_t indices when necessary (such as in scaling the mnmg knn).

[2020-12-14 09:08] Jie2World commented on #3302
Looking forward to good news.

[2020-12-14 10:43] Nyrio commented on #3302
I agree with @teju85. It is possible to support that in our implementation.

[2020-12-14 10:52] WangWenhao0716 commented on #3302
@Nyrio Thanks, is there a timetable to realize this feature?

[2020-12-14 14:33] Nyrio opened #3303 "Use expanded computation of the L2-squared epsilon-neighborhood to speed up DBSCAN"
`epsUnexpL2SqNeighborhood` in [epsilon_neighborhood.cuh](https://github.com/rapidsai/cuml/blob/branch-0.18/cpp/src_prims/distance/epsilon_neighborhood.cuh), which is used to compute the dense adjacency matrix and vertex degrees for DBSCAN, uses the simple formula `d(x,y) = sum (x[i]-y[i])^2` for the L2-squared distance.

This gemm-like kernel is compute-bound and can be sped up by expanding the fo

[2020-12-14 21:37] #3260 closed

[2020-12-14 22:26] mikacashman commented on #3066
I am going to close this.  We have been able to mostly eliminate two of the errors and the still prevalent error (3) remains to be benign.  The keys seems to mostly being careful of running more than one job at a time on the same batch node (or any other dask jobs as the batch nodes are shared).  There is also a notable lag time found between job death and all dask scheduler code being cleaned up.

[2020-12-14 22:26] #3066 closed

[2020-12-15 01:15] ibrisa opened #3305 "[BUG] Negative R-Squared with Nightly (0.17)"
**Describe the bug**
I am using nightly v0.17 RAPIDS on x86 to run the random forest regression algorithm and observing negative r-squared cuML values. I am comparing to sklearn on the same data and those r-squared values are positive.  The MSE values do look correct (low and close to the sklearn MSE). The smallest example dataset I consistently see this occurring with is available [here](https://

[2020-12-15 05:45] mdemoret-nv commented on #3120
For reference, here is the top few tests from my tracking memory output:
![image](https://user-images.githubusercontent.com/42954918/102176098-f5b39600-3e5d-11eb-843d-d65414e66f1c.png)
(Sorry for the screenshot. Copy/Paste gets all of the collapsed lines)

[2020-12-15 17:33] wphicks commented on #3195
@nasa-nccs-cds Thank you for your patience while we investigated this. I've just posted a PR for review that offers a new flag to deal with the problem you observed. I've provided all of the details below, both for our own reference and in case it's of interest to you.

cuML's nearest neighbor capabilities are built on FAISS. When FAISS performs a brute-force nearest neighbor search with a Euclide

[2020-12-15 18:52] JohnZed commented on #3266
Ok, after some offline discussion, we're in pretty good agreement that all generators should have an `output_type` - it's just such a useful property to avoid the dreaded "Q: why is this demo slow on my consumer card? A: you are accidentally using fp64 when you don't particularly want it."

[2020-12-15 23:38] wphicks commented on #2933
Documenting some miscellaneous findings here:

- This bug appears to reproduce less often (approx every 1500 runs) with the debug build
- Running cuda-memcheck's racecheck tool on the debug build shows a race condition in cudf's `valid_if_n_kernel`
- Running cuda-mecheck's synccheck on the debug build errors out with `rmm::bad_alloc`
- Breaking after the `percentile` call if it returns a NaN, we g

[2020-12-15 23:46] cjnolet commented on #3101
Linking LOBPCG from cupy. As far as I know, this is the last piece of the puzzle: https://github.com/cupy/cupy/pull/4281

[2020-12-15 23:47] cjnolet commented on #3104
Linking LOBPCG from cupy. This, along with the new LinearOperator API, should make this possible: https://github.com/cupy/cupy/pull/4281

[2020-12-16 15:50] tzemicheal opened #3311 "[FEA] Add implementation for average precision recall score."
**Is your feature request related to a problem? Please describe.**
I would like to be able use cuML for average precision recall score (area under precision-recall curve). This is similar to the `sklearn.metrics.average_precision_recall_score`.  I see, there is `auc_score` and `precision_recall_curve` under `cuML.metrics`. I think adding feature for `cuML.metrics.average_precision_score` is a smal

[2020-12-16 17:46] tzemicheal commented on #3311
I can submit PR of my implementation based on similar implementation #1522 .

[2020-12-16 20:23] wphicks commented on #2933
I have now confirmed that the `ValueError` is the result of [this cuPy issue](https://github.com/cupy/cupy/issues/4451) and was able to reproduce it independently of cuML. I'll create a workaround.

I still am not certain about the causes of the other observed errors or even if they still apply. I was only able to reproduce them about one in every 100K runs before, and I haven't seen them in quite

[2020-12-17 01:36] wphicks commented on #2933
Partial fix available here: https://github.com/rapidsai/cuml/pull/3315. This eliminates the ValueError, but I cannot guarantee that the other sporadic failure cases have been addressed.

[2020-12-17 11:53] #3209 closed

[2020-12-17 11:54] hcho3 commented on #3209
No longer necessary, since `default_left` field already contains the enough information. See dmlc/treelite#234.

[2020-12-17 17:47] wphicks opened #3317 "[TASK] Remove workaround for cupy.percentile issue after it is corrected"
Once https://github.com/cupy/cupy/issues/4451 is resolved and we update to the corresponding version of cupy, we should revert PR #3315 in order to avoid alterations of adopted sklearn code.

[2020-12-17 20:48] hcho3 commented on #3283
@SHUIGUYU You should download the source code for 0.18 (cuml-branch-0.18.zip) to use the latest version of cuML.

[code]
Are you trying to build `kmeans_example` as a standalone executable?

[2020-12-17 21:29] wphicks opened #3318 "[BUG] Memory access error in IVFPQ unit test"
**Describe the bug**
As shown in [the CI log](https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci/job/cuml/job/prb/job/cuml-gpu-test/CUDA=10.1,OS=ubuntu16.04,PYTHON=3.7/267/console) for [this apparently unrelated PR](https://github.com/rapidsai/cuml/pull/3281), one of the IVFPQ unit tests fails with a memory access error in FAISS code. I have not yet been able to reproduce this independently

[2020-12-17 21:36] zhangdan8962 commented on #2953
Hi @Nyrio,

Thank you so much for the reply! I can see  your point and it totally makes sense.

I am wondering if you have any suggestion for the selection of hyperparameter. Because no matter how I choose the `eps`, my result is always skewer-like(most points will be labeled either as first cluster or noise).

My data is 128-d array and do you think I need to do some pre-processing before DBSCAN?

[2020-12-17 21:52] cjnolet opened #3319 "[FEA] Replace ML::MetricType with raft::distance::DistanceType"
Currently, the KNN (both sparse and dense) is the only place that uses ML::MetricType. It was originally meant to be used as an ML counterpart to the faiss::MetricType enum so that we didn't need to expose FAISS's specific types through our API. Now that we have `raft::distance::DistanceType` being used more generally, we should just use that everywhere.

[2020-12-17 22:22] #3212 closed

[2020-12-18 01:43] #3220 closed

[2020-12-18 01:43] hcho3 commented on #3220
Closing, since 0.17 has been released.

[2020-12-18 01:47] hcho3 commented on #3198
@moi90 I just tried
[code]
and it installed the following set of packages:
[code]

[2020-12-18 18:56] mdemoret-nv commented on #3266
@miguelusque In case you weren't aware, I just wanted to point out that it currently is possible to configure the output type of `datasets.make_blobs` (and any other method in `cuml`) by using the [Global Output Data Type Configuration](https://docs.rapids.ai/api/cuml/stable/api.html#output-data-type-configuration) settings.

The Global Output Data Type can be configured in 2 ways. If you would pr

[2020-12-18 23:24] ptartan21 commented on #3267
I will pick this up

[2020-12-18 23:24] ptartan21 commented on #3274
I will pick this up

[2020-12-18 23:25] ptartan21 commented on #2361
I will pick this up

[2020-12-19 05:58] moi90 commented on #3198
Yes, it installs. But PyTorch will be built against a different CuDNN, right?

I still think that the documentation should contain a small sentence telling cautious users that it is OK to have both installed side by side.

[2020-12-19 06:28] hcho3 commented on #3198
@moi90 Conda packages use dynamic linking by default, so PyTorch will be using the cuDNN library from the `cudnn` Conda package. So there will be only one copy of cuDNN.

[2020-12-19 14:50] WangWenhao0716 commented on #3302
any update?

[2020-12-21 08:24] ysq151944 commented on #2399
i saw there's only one core was used during the conversion, maybe a multiprocess task could speedup the inference?

[2020-12-22 00:54] jakirkham commented on #2399
Probably not. Most of the savings here is avoiding copies. Once that is done, which I believe is already the case here, we are just passing pointers and metadata around until it goes over the wire. Though feel free to correct me if I'm missing anything here Philip 🙂

[2020-12-22 01:06] hcho3 commented on #2399
We need more perf benchmark before we can conclusively say what's causing the slowdown.

[2020-12-22 08:20] ysq151944 commented on #2399
okay...

I have another question: Is it possible to inference without conversion?

In some financial scenarios, we compare the labels and preds for just a few times(even just one time).

[2020-12-22 11:52] Matrix-World opened #3322 "[BUG]Prompt that cumlHandle is undefined by using branch-0.14"
Follow cuml/cpp/examples/kmeans/README.md(branch-0.14), when running ./kmeans_example -num_rows 260753 -num_cols 298 -input output.txt, it prompts that cumlHandle is undefined.
undefined symbol: _ZN2ML10cumlHandlec1Ev
I checked kmeans_example.cpp in cuml/cpp/examples/kmeans/, in line 147, cumlHandle has been defined.
I don’t know the specific reason, I look forward to your reply.

[2020-12-22 23:36] pseudotensor commented on #3140
Any progress on this?  I don't think there is any technical hurdle and any normal scikit model/transformer can do this, and I think dask algos can too with minimal effort.

[2020-12-23 15:31] leung1024 opened #3323 "[QST]compile problem: libcusolver.so.10 not found"
**What is your question?**
hi, When I compile libcuml, there will be an exception:
[code]
Is libcusolver.so.10 related to the cuda version? i only found libcusolver.so.11 in the path of cuda-11.0 . What should I do?

[2020-12-24 09:24] kratika464 opened #3325 "Getting error in CUML package ("cuml.metrics.regression.mean_squared_error")"
**CUML**

Actually, I am getting an error(Error:- "TypeError: X matrix format <class 'list'> not supported"). When I am using this package of CUML ("cuml.metrics.regression.mean_squared_error") and my code line is "err = np.sqrt(cuml.metrics.regression.mean_squared_error(actual, predicted))".

**ERROR**
Traceback (most recent call last):
  File "GPU_Code_CUML.py", line 471, in <module>
    result

[2020-12-24 10:39] miguelusque commented on #3143
Hi!

I have just noticed that haversine distance is now available in cuSpatial.

Is there any chance it might be reused that code to implement haversine distance in cuML?

Thanks! And Merry Xmas!

Regards,
Miguel

[2020-12-24 15:07] #3323 closed

[2020-12-24 22:46] lowener commented on #3325
Hi, the error message seems to suggest that the input type is not good. Have you tried to use another type of array such as numpy/cupy/cudf array?

Before your call to `mean_squared_error` you can try to do:
[code]

[2020-12-26 13:04] kratika464 commented on #3325
Thanks, It's working for me. when I change "actual = cupy.array(actual)" "predicted = cupy.array(predicted)".

[2020-12-26 13:29] kratika464 opened #3326 "Getting Error in cupy module(cupy.append())"
Getting Error in cupy module(cupy.append()):-
error:- Getting Error in cupy module(cupy.append())
full error:-  File "GPU_Code_CUML.py", line 478, in <module>
    result = sse_numba(symbol,look_back)
  File "GPU_Code_CUML.py", line 420, in sse_numba
    actual_price_start_date_plus_five = cupy.append(actual_price_start_date_plus_five, ['nan'], axis=None)
AttributeError: module 'cupy' has no attrib

[2020-12-28 11:20] lowener commented on #3326
Hi, can you check the version of CuPy that you're using?
The `cupy.append` function seems to be new as I can't find it on the version `8.3` (or on the `stable` version).
If you're not using the latest version you can try to use `cupy.concatenate`.

[2020-12-28 14:41] wphicks commented on #3317
The fix for cupy has been merged and is in available in pre-release version 9.0.0b1.

[2020-12-28 14:41] #3325 closed

[2020-12-28 15:04] wphicks commented on #3322
Thanks for checking out our examples, @Matrix-World! I just tested this on our latest release version and was unable to reproduce it there. Could you try [updating to 0.17](https://rapids.ai/start.html#get-rapids) and see if the example works for you?

[2020-12-29 03:44] Abdul-Moeed opened #3330 "[QST] Multi-GPU UMAP fit_transform()"
**Is there a way to use multi-GPUs to plot a large UMAP using fit_transform()?**

I have a large matrix (around 500000x128) for which I want to plot a UMAP. The data doesn't fit the VRAM of a single-GPU -- it throws a CUDA OOM error -- so now I'm trying to use `dask.manifold.umap` with a multi-GPU setup. As far as I can tell, there is no distributed implementation of `fit_transform()` in cuml, and

[2020-12-29 07:27] kratika464 commented on #3326
The version of cupy module is 8.1. So, can you suggest to me on which version cupy.append function can run successfully.
And cupy module comes with rapids and I download rapids through conda.
cmd:-
conda create -n rapids-0.17 -c rapidsai -c nvidia -c conda-forge \
    -c defaults rapids-blazing=0.17 python=3.7 cudatoolkit=10.1

So, how can I updated cupy version on rapids environment.

[2020-12-29 16:31] wphicks commented on #3330
At this time, we only support local calls to `fit`. For many use cases, it is sufficient (and efficient!) to train on a representative local dataset and then perform a distributed `transform` on the entirety of the data you wish to analyze. If that doesn't work for your specific use case, though, please do open a feature request, and we'll consider ways we might support that.

If fitting on a repr

[2020-12-29 17:51] Nanthini10 commented on #3305
R2 score _can_ be negative depending on how the classifier fits. For more detailed explanation:  https://stats.stackexchange.com/questions/12900/when-is-r-squared-negative

Below is a small code to show that sklearn and cuml both produce negative R2 scores. In your case, these values are still different because you're using sklearn RFR and cuml.dask RFR - these might produce different results.

[c

[2020-12-29 18:29] wphicks commented on #3326
It looks like as of right now, a clean install of the 0.17 environment requires 8.1, and `cupy.append` was not introduced until 8.3. Looking at the environment specs, I believe we allow anything less than 9.0, so the conda solver must have detected that one of our required packages is holding cupy back to 8.1. Therefore, you will not be able to install cupy 8.3 in your current environment using co

[2020-12-29 18:29] #3326 closed

[2020-12-29 23:07] jameslamb opened #3331 "[BUG] Dask RandomForestClassifier get_combined_model() and .internal_model return None"
**Describe the bug**

I've been trying out `cuml.dask.ensemble.RandomForestClassifier` for multi-node, multi-GPU training. Training works without issue and the results look reasonable, but I'm unable to save the trained model using the public API of `cuml.dask.ensemble.RandomForestClassifier`.

I see the same behavior on single-node, single-GPU training with `dask_cuda.LocalCUDACluster`.

Since th

[2020-12-30 00:40] hcho3 commented on #2817
#3316 is needed to reliably detect all Treelite models with float64 values.

[2020-12-30 07:34] Abdul-Moeed commented on #3330
Thanks for the detailed response! For now I will sample from my data and plot for this subset. I'll open a feature request as it may be useful to have a distributed `fit_transform()` in cuml.

[2020-12-30 13:55] viclafargue opened #3333 "[BUG] Tag system"
**Describe the bug**
The `_get_tags` function doesn't return the right tags. It seems like the content can be overwritten by calls to the function.

**Steps/Code to reproduce bug**
[code]

Outputs :
[code]

**Expected behavior**
Supposed to print :
[code]

[2020-12-30 15:19] wphicks commented on #3330
I'll actually go ahead and just convert this issue to a feature request. We'll provide updates in this thread after the team has determined how we might pursue this and where it should fall among our priorities based on available workarounds.

Also, since the cloud team already got back to me, I'll mention that A100s are available on the p4d.24xlarge instances on AWS. A100 instances are in alpha o

[2020-12-30 17:08] viclafargue commented on #3333
It looks like it comes from a shallow copy of the static dictionary `_default_tags`.
Replacing this [line](https://github.com/rapidsai/cuml/blob/ae7e4442a3dccdf6c360bd7d20248c69cd706fb2/python/cuml/common/base.pyx#L382) with `collected_tags = copy.deepcopy(_default_tags)` works.

@dantegd @mdemoret-nv

[2020-12-30 18:33] wphicks opened #3334 "[BUG] make_blobs does not respect global output type"
**Describe the bug**
The output type of `make_blobs` is `cupy.core.core.ndarray` regardless of cuml's global output type.

**Steps/Code to reproduce bug**
[code]
Output:
[code]

**Expected behavior**
As we can see in the above output, `make_blobs` consistently returns `cupy.core.core.ndarray` output while `make_arima` seems to respond appropriately to the global output type.

**Environment details

[2020-12-30 18:35] wphicks commented on #3334
@mdemoret I think you have the most expertise on this one. Am I just completely misunderstanding something here and/or is this just a "TODO" for some of our dataset generation functions?

[2020-12-30 18:39] wphicks commented on #3266
@mdemoret-nv It's possible (probable!) I'm misunderstanding something here, but doesn't the example you've shown here demonstrate that this does *not* work? It seems like `X` ought to be a numpy array, but it appears to be a cupy array. See #3334 as well, and feel free to tell me I'm way off the mark on this.

[2020-12-31 00:35] wphicks commented on #3331
Thanks very much for bringing this to our attention and for the excellent bug report!

The issue here is that the trees in our random forest model must be concatenated before we can set the internal model, and we do that at prediction time. So until the RF model has been used for at least one prediction, `get_combined_model` returns `None`. That's very much less than ideal, so we'll move the conca

[2020-12-31 09:03] hcho3 opened #3335 "[BUG] cuML fails to build with GCC 7"
**Describe the bug**
I was not able to build the latest cuML from the source and got the following build error:
[code]

Output of `gcc --version`:
[code]

[Conda-forge upgraded to GCC 9.3.0 as of October 8, 2020](https://conda-forge.org/docs/user/announcements.html), so the error might have to do with the different version of GCC on my machine.

**Steps/Code to reproduce bug**
1. Check out the lat

[2020-12-31 10:05] hcho3 commented on #3335
Indeed, upgrading to CUDA 11 + GCC 9 fixed the build.

[2020-12-31 16:00] wphicks commented on #3335
I just did a build with gcc 7 and CUDA 10.2 with a clean reinstall of my conda environment without issue. Any chance there was some other factor at play in your environment?

[2020-12-31 18:05] ibrisa opened #3336 "[QST] Column Limit on Random Forest"
I'm trying to run cuML random forest on 100,000 features (columns), but I kept getting an error which gave a specific column limit:

I found where it defines this in the source code [here](https://github.com/rapidsai/cuml/blob/54ea23c33e1d44a8f79413ed13e7607ad6e3e211/cpp/src/fil/infer.cu#L468-L480), and it appears to do so dynamically.

I followed to where the dynamic part happens [here](https://g

[2020-12-31 18:06] ibrisa commented on #3305
Thank you so much for the response and the link, it was helpful to read. It sounds like the R2 is poor because of the model fit then. Our main concern is that there’s such a big difference between the sklearn and cuml, mainly that we always get a negative on cuml, and always get a positive on sklearn. Can you help us identify what the reason might be for that?

Here are the MSE and R2 results for

[2021-01-01 14:08] wphicks commented on #3336
@canonizer: It looks like you left a TODO to look at this later. Do you remember why we go through the calculation of shared memory but never exceed the "standard" value currently?

[2021-01-03 15:27] jameslamb commented on #3331
Thanks! I'd be happy to work on that change and submit a PR if maintainers would like.

[2021-01-03 23:15] wphicks commented on #3331
That would be *very* welcome, actually! Please feel free to tag me on the PR whenever it's up. The only question is whether concatenation should happen during training or in the `get_combined_model` call. I'll raise that with the rest of the team in our Monday meeting and see what the consensus is.

[2021-01-03 23:30] jameslamb commented on #3331
ok sure! Let me know what's decided and I'd be happy to implement it.

[2021-01-04 08:06] darshats opened #3337 "[BUG] min_samples_leaf is not supported with RandomForestClassifier?"
I am not able to specify min_samples_leaf param for the RandomForestClassifier. The documentation doesnt say so. Is this feature not supported? Its useful for regularization. I tried both on rapids 0.16 and 0.17

Thanks
Darshat

[code]

[2021-01-04 08:17] hcho3 commented on #3337
@darshats The parameter was added in the 0.17 version, so it's not available for 0.16. Can you double-check if you are actually using 0.17? The source code 0.17 does not contain the error you posted.

[2021-01-04 08:18] hcho3 commented on #3337
We also run tests using `min_samples_leaf`:
https://github.com/rapidsai/cuml/blob/54ea23c33e1d44a8f79413ed13e7607ad6e3e211/python/cuml/test/test_random_forest.py#L487-L506

[2021-01-04 11:26] darshats commented on #3337
I had installed an nightly build of 0.17 to check on accuracy of experimental backend vs scikit-learn. Let me install an official drop and try again. Thanks!

From: Philip Hyunsu Cho <notifications@github.com>
Sent: Monday, January 4, 2021 1:48 PM
To: rapidsai/cuml <cuml@noreply.github.com>
Cc: darshats <darshat@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [rapidsai/cuml] [BUG]

[2021-01-04 14:55] Nyrio commented on #2953
For the selection of hyperparameters, I am no expert but I think that a common recommendation is to choose:

- `min_samples > D` (e.g `2*D` for a noisy dataset)
- for `eps`, you compute the distance to a k-nearest neighbor of each point (where k is the value you selected), sort these distances and find a critical change or "elbow" ; cf https://iopscience.iop.org/article/10.1088/1755-1315/31/1/0120

[2021-01-04 15:55] wphicks commented on #2399
This conversion step is an essential part of our inference code at the moment, but speeding it up is currently my focus and number one priority. The short version of my profiling findings is that our use of `unordered_map` is the bottleneck. Lookups are slow, and data locality is notoriously poor with `unordered_map` due to its use of a linked list for the hash-table buckets. I was able to make th

[2021-01-04 16:37] Nyrio commented on #2953
The number of dimensions (128 in your case iiuc).

[2021-01-04 18:02] wphicks commented on #3331
All right! Just got out of the meeting, and the consensus was that this should happen in `get_combined_model`. Thanks again for taking this on, and let me know if any unexpected weirdness comes up that you need input on.

[2021-01-04 19:05] hcho3 commented on #3335
I just tried rebuilding with GCC 7 + CUDA 11 and the build was successful. It appears that something went wrong with my machine. I will close this issue for now. I will file another issue if I run across a similar problem again.

[2021-01-04 19:05] #3335 closed

[2021-01-04 19:30] #1859 closed

[2021-01-04 21:49] jameslamb commented on #3331
sounds good, will let you know if I run into any issues

[2021-01-04 23:22] wphicks commented on #3330
After discussion with some of the folks who originally worked on this, it sounds like we did consider implementing this at one point but found the multi-GPU implementation to have some fundamentally challenging aspects to it. Given that, this will probably remain fairly low priority unless we hear of more use cases where using a representative subsample does not work.

That being said, we'll certa

[2021-01-05 00:28] mdemoret-nv commented on #3334
@wphicks You are correct, this is a bug. `make_blobs()` needs to be decorated with `api_return_generic()` instead of `api_return_any()`. I'll make a quick PR.

[2021-01-05 01:43] mdemoret-nv commented on #3266
You are correct. I should have double checked my output before being so confident. I've created PR #3339 to fix the issue.

[2021-01-05 03:33] darshats commented on #3337
After installing latest 0.17 drop, this has gone away. Thanks!

I'm running into a different issue - is the output_class=False param not supported? I am looking to get the raw probabilities and then threshold them in my code itself instead of inferencing each time.

`NotImplementedError: Predict_proba function is not available for Regression models. If you are  using a Classification model, please

[2021-01-05 03:37] hcho3 commented on #3337
That's odd, are you using `RandomForestRegressor`?

[2021-01-05 04:16] hcho3 commented on #3280
@nmate1988 I submitted #3340 to add `export_as_json()` to the MNMG RF model.

[2021-01-05 04:19] darshats commented on #3337
No its the classifier

[2021-01-05 04:23] hcho3 commented on #3337
@darshats Can you post your code?

[2021-01-05 04:26] darshats commented on #3337
The core of the code is like this:
[code]

[2021-01-05 08:36] miguelusque commented on #3266
@mdemoret , Thank you for your detailed example. Much appreciated!

I was aware of `cuml. set_global_output_type`, but not of `cuml.using_output_type`.

Both are really useful. Thank you!

[2021-01-05 08:40] miguelusque commented on #3266
@mdemoret , Thank you for your detailed example. Much appreciated!

I have read a bit more about them here [https://medium.com/rapids-ai/input-and-output-configurability-in-rapids-cuml-e719d72c135b].

Both are really useful. Thank you!

[2021-01-05 17:30] JohnZed opened #3342 "[FEA] Allow optional "broadcast data" mode for Dask RF inference"
Right now, RF broadcasts the model to all workers and infers on all of them in parallel. This is ideal for large inference problems. However, for small amounts of inference data and/or very many trees, it may sometimes be preferrable to broadcast the data to all workers, infer in parallel, then reduce the tree results on the client. We should start this with a PoC to confirm whether it makes a lar

[2021-01-05 18:02] JohnZed opened #3343 "[FEA] Add optional data broadcast mode for Dask RF training"
In Dask RF, we currently partition the data across all workers.
We should have an *optional* approach to broadcast all data to all workers for smaller datasets.

[2021-01-05 19:56] JohnZed opened #3344 "[FEA] Update linear models to use RMM-style memory allocation"
Some linear models (e.g. ridge.cuh) allocate and deallocate with raft::allocate and cudaFree directly. We should move these to use the RMM allocator via device_vector and take advantage of the memory pool and auto-deallocation.

Additionally, I see some small bonus cleanups that could be done here that probably date back to the port to raft handle. E.g. ridgeSVD creates local variables for cublas_

[2021-01-05 20:52] drobison00 commented on #3261
It appears that NCCL requires the ability to be able to connect back to the 'root' node where a communicator is created, which is not possible for use cases where the uniqueId for the communicator is created on the client, and the workers are isolated in a remote cluster.

Looking into a solution that would allow us to create the comm object on the scheduler, which would allow for the most flexibi

[2021-01-06 00:31] JohnZed commented on #3319
Note that https://github.com/rapidsai/raft/pull/116 will add several more distances here very shortly, so we'll want to hold off on finalizing this PR until they are in.

[2021-01-06 01:19] vinayprabhu opened #3346 "[BUG] KNeighborsClassifier prediction fails"
**Describe the bug**
Encountering the following error when trying to predict using a trained KNN classifier:
`RuntimeError: Exception occured! file=/conda/conda-bld/libcuml_1591208841859/work/cpp/src_prims/selection/knn.cuh line=519: FAIL: call='cudaPeekAtLastError()'. Reason:invalid argument
Obtained 64 stack frames `

**Steps/Code to reproduce bug**
Here is the colab notebook:
https://gist.githu

[2021-01-06 03:07] hcho3 commented on #3337
Yes, it appears that `output_class` is not working.

[2021-01-06 03:49] hcho3 opened #3347 "[BUG] Confusing behavior of predict() / predict_proba() of RF when output_class is specified"
## Describe the bug

The `predict()` and `predict_proba()` methods of `RandomForestClassifier` behave in a confusing way when `output_class` parameter is specified.

## Code to reproduce bug

**Binary classification**
[code]

* Setting `output_class=True` has no effect on `predict_proba()`. The `predict_proba()` function still produces probability prediction, when the presence of `output_class=Tru

[2021-01-06 03:54] hcho3 commented on #3337
I filed #3347 to clarify the behavior of `predict_proba()`. For now, please call `predict_proba()` without the parameter `output_class=False`. According to my experiment, `m.predict_proba(x_cudf)` will yield the probability for the positive class (assuming the output label is binary).

[2021-01-06 19:16] wphicks commented on #3346
Unfortunately, Colab is on Python 3.6, so the latest supported RAPIDS version in that environment is 0.14. Our latest stable release is 0.17, and a lot of bugfixes have come in since then. We now recommend http://app.blazingsql.com/ for people looking for a Colab-like experience with an up-to-date stack. Can you try running your notebook there (or locally with an install of 0.17) and see if that t

[2021-01-06 19:28] vinayprabhu commented on #3346
Hey @wphicks ,
Thanks for the quick reply!
The issue with BlazingSQL notebooks is that you cannot you cannot currently install basic Deep learning packages such as TF etc :(

As for `Can you try running your notebook there (or locally with an install of 0.17) and see if that takes care of the issue?`, I'll give it a try!

![image](https://user-images.githubusercontent.com/7390549/103811323-98040b0

[2021-01-06 19:30] wphicks commented on #3346
Ah right! Didn't think about the fact that you had some TF stuff in that notebook. Thanks for giving it a go locally.

[2021-01-06 20:35] hcho3 opened #3350 "[FEA] Redirect cuml log to Dask logging"
Dask uses Python's `logging` module for logging. In particular, [all logs pushed to `logging` on the workers' side are forwarded to either stderr or a log file.](https://docs.dask.org/en/latest/debugging.html#logs)

Currently, cuML's logger writes to stdout; it should instead write to `logging` so that Dask can capture logs from the workers.

Related: #3280

[2021-01-06 20:37] hcho3 commented on #3350
cc @drobison00

[2021-01-07 03:37] #2160 closed

[2021-01-07 03:37] #2795 closed

[2021-01-07 03:37] #2817 closed

[2021-01-07 04:07] #2751 closed

[2021-01-07 16:42] Nyrio opened #3351 "[FEA] Logging in multi-node multi-GPU algorithms"
**Is your feature request related to a problem? Please describe.**
If we use the k-means notebooks as an example, adding `verbose=cuml.common.logger.level_debug` to the single-GPU version produces an output (extract shown below):
[code]

Despite these logs being present in the MNMG code as well, no output is produced when using the same verbosity level with the MNMG version, neither in the noteboo

[2021-01-07 18:57] drobison00 commented on #3350
@hcho3 Thanks for the update. looks good.

[2021-01-07 20:32] wphicks commented on #3351
Thanks, @Nyrio. This should be resolved by implementing #3350, so I'm going to close this in favor of that issue. Please do feel free to provide additional feedback over there, though, if you have more thoughts on this feature.

[2021-01-07 20:32] #3351 closed

[2021-01-07 20:55] JohnZed commented on #3300
Can use a GPU-only stress test - don't run sklearn, but just use GPU assert to verify neighborhoods.

[2021-01-07 20:58] JohnZed commented on #2821
Particularly important for approximate NN, in which FAISS owns a larger block of memory. Will also require updating indices back to 32-bit for newer FAISS rev.

[2021-01-07 21:33] cjnolet commented on #1448
This will be implemented in https://github.com/rapidsai/cuml/pull/3146

[2021-01-07 21:52] #3280 closed

[2021-01-08 06:11] KIIIIK opened #3353 "[QST]GridSrarchCV"
Does the cuMl has the class like sklearn GridSearchCV or RandomSearchCV?thanks

[2021-01-08 10:01] nmate1988 commented on #3280
Thank you very much, I will take a look and try it out

[2021-01-08 15:47] wphicks commented on #3353
At the moment, cuML does not independently provide those, but because cuML estimators implement the sklearn estimators API, I believe you should be able to run sklearn's `GridSearchCV` and/or `RandomSearchCV` on cuML objects while still getting the full benefit of GPU acceleration.

If you're in a multi-GPU or multi-node setting, you can see an example of using the `dask_ml` implementation of both

[2021-01-08 16:46] viclafargue opened #3354 "[BUG] MNMG nightly test failures"
**Describe the bug**
Some of the MNMG tests are currently failing.

**List**
[code]

[2021-01-08 18:05] wphicks commented on #2399
A brief update on profiling and where we're at with this:

# Profiling Setup
I'm currently profiling the single-GPU case only; I'll be looking at the MNMG class independently later. All reported results below are for randomly-generated (but consistent) data with 100,000 samples and 20 features. An RF classifier is trained with 300 trees, and prediction is run once on the same data used for trainin

[2021-01-08 20:38] subhamiitk opened #3355 "[BUG] RuntimeError: CUDA_ERROR_INVALID_PTX while fitting TargetEncoder"
**Describe the bug**
cuml is throwing "RuntimeError: CUDA_ERROR_INVALID_PTX" when using TargetEncoder in preprocessing

**Steps/Code to reproduce bug**
Follow this guide http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.
[code]
### Traceback

<details>

[code]

</detai

[2021-01-08 23:18] wphicks commented on #3355
Thanks very much for the report and for the very concise reproducer! I was not immediately able to reproduce this, but it has my attention and I'll investigate further on Monday. Just to confirm, this is 0.17, correct?

[2021-01-09 00:39] hcho3 commented on #3280
@nmate1988 The latest cuML source code now has `get_summary_text()` and `get_detailed_text()` methods, which will export the tree model as human-friendly text. If you want JSON format instead, use `dump_as_json()` instead. (This method is about to be renamed to `get_json()` in #3340, which is not yet merged.)

[2021-01-09 04:01] KIIIIK opened #3356 "[QST]MemoryError"
`
import pandas as pd
import cudf
import cuml
from sklearn.pipeline import Pipeline
from cuml.svm import SVR

Dataset = pd.read_pickle('DATA_SET.pkl')
Dataset = cudf.DataFrame.from_pandas(Dataset)
Dataset.dropna(axis=0, how='any', inplace=True)

Dataset.reset_index(drop=True, inplace=True)

train_data = Dataset.sample(frac=0.8, random_state=111, axis=0)
test_data = Dataset[~Dataset.index.isin(trai

[2021-01-09 06:28] KIIIIK opened #3357 "[QST]TypeError"
`
from cuml import RandomForestRegressor

rf = RandomForestRegressor()
rf.fit(X_train, y_train)
y_hat = rf.predict(np.float32(X_test.as_matrix()))
`
type(X_test) : cudf.core.dataframe.DataFrame

when I predict the model ,it raises error:
TypeError: GPU based predict only accepts np.float32 data.  In order use the GPU predict the model should  also be trained using a np.float32 dataset.  If you wou

[2021-01-10 19:21] subhamiitk commented on #3355
Yeah @wphicks, this is rapids-0.17.

[2021-01-10 21:22] #2703 closed

[2021-01-11 02:36] KIIIIK commented on #3357
OK， the question is soveled!
The train data is also needed to transform to np.float32!
`
 rf = RandomForestRegressor(n_estimators=n_estimators, random_state=111)
 # rf = cuRF_mg()
 rf.fit(cupy.array(X_train.as_gpu_matrix(), dtype='float32'), y_train)
 y_hat = rf.predict(X_test.astype(np.float32))
`

[2021-01-11 02:37] #3357 closed

[2021-01-11 15:09] wphicks commented on #3356
Can you give us just a little bit more information about your dataset and environment? How many samples and how many features are you working with? What version of cuML are you on and how did you install it? What CUDA version are you on and what GPU are you working with? Thanks!

[2021-01-11 15:33] wphicks commented on #3355
I was unable to reproduce this on V100/CUDA 10.2/440.64.00 or RTX8000/CUDA 11.0/455.38. Next step is probably to spin up a GCP instance and try it in exactly the same environment. We'll continue to investigate.

[2021-01-11 16:20] dantegd commented on #3355
@wphicks @subhamiitk this error is coming from libcudf's binary operations code, I would raise the issue in the cuDF repo to get help from folks from there that have seen similar issues before.

[2021-01-11 16:27] wphicks commented on #3355
Yep, I noticed that. I was hoping to reproduce it to see if we were calling cuDF in some unexpected way, but now that I think about it, a bad PTX symbol isn't going to be coming from our side of the fence. @subhamiitk could you migrate this bug report over to cudf? I'm going to close this for now, but we can reopen if it turns out that there's something very odd here that is ultimately coming from

[2021-01-11 16:27] #3355 closed

[2021-01-11 16:27] dantegd commented on #3333
Thanks for the find @viclafargue! Will add the fix to the open tags PR #3257

[2021-01-11 16:57] Nyrio commented on #2387
While benchmarking, I made the same observation that `csr_row_op` is a massive bottleneck for large datasets.

I have a few comments regarding the discussion above, though.

- Why are you talking about a kernel to compute the average degree? Is that not `nnz / n_rows`?
- Regarding coalesced memory accesses, iiuc the current code **is** coalesced wrt the dense matrix, which is a column-major BxN ma

[2021-01-11 17:09] JohnZed opened #3359 "[FEA] Expose sklearn GridsearchCV and related search APIs in namespace"
A good approach would be to import the ones from sklearn to our namespace, add tests to ensure we always comply with their API, and document how these are being done.

[2021-01-11 17:39] JohnZed commented on #3266
Closing this as the context manager is the best approach. However, we need to fix #3334 to make this reliably usable for make_blobs.

[2021-01-11 17:39] #3266 closed

[2021-01-11 17:52] #3334 closed

[2021-01-11 18:10] taureandyernv commented on #3353
I think @JohnZed is has a new feature request on this: https://github.com/rapidsai/cuml/issues/3359.  Looks like their aiming to have for version 0.18 at the moment

[2021-01-11 18:19] MatthiasKohl commented on #2387
Thanks for looking into this @Nyrio.

- Why a separate kernel: you are right, ```nnz / n_rows``` is the average degree, I believe at the time I was just thinking about a more generic case where we don't have ```nnz``` but on second thought, I guess you can always get this from the last element of the ```row_ind``` array.
- You are right that the access to `adj` is coalesced but not to `row_ind_ptr

[2021-01-11 18:20] wphicks commented on #3353
Yes, that's right. As a matter of fact, I'm going to close this out in favor of #3359, but @KIIIIK, please feel free to provide any further input you may have on that issue.

[2021-01-11 18:20] #3353 closed

[2021-01-11 18:58] Nanthini10 commented on #3305
@ibrisa Sorry for the late response. Can you try to run the workflow on single-GPU instead of multi-GPU? And set `n_streams=1` for better reproducibility.

[2021-01-11 20:27] rilango opened #3360 "TSNE freeze..."
**Describe the bug**
For this given dataset TSNE freezes with GPU at 100% utilization and no change is mem utilization.

https://drive.google.com/file/d/1PY3GcwTpoupba_oqwTlX5bP8CdW9YfNS/view?usp=sharing

**Steps/Code to reproduce bug**
# reduced.hdf5 can be obtained from https://drive.google.com/file/d/1PY3GcwTpoupba_oqwTlX5bP8CdW9YfNS/view?usp=sharing
test_df = cudf.read_hdf(reduced.hdf5', 'redu

[2021-01-11 20:33] BenWynne-Morris opened #3361 "[FEA] cuML random forest: features to add"
I've been impressed with the speed at which I can train a cuML random forest, which I've been able to get working with WSL2.

However, I've noticed that a couple of fairly standard random forest features appear to be missing:
1. out-of-bag scores (https://scikit-learn.org/stable/auto_examples/ensemble/plot_ensemble_oob.html)
2. feature importance scores (https://scikit-learn.org/stable/auto_exampl

[2021-01-11 21:05] #3138 closed

[2021-01-11 21:59] taureandyernv commented on #3361
@BenWynne-Morris can you rename the feature request to `[FEA] sklearn "add out-of-bag" and "feature importance" scores to Random Forest`.  Making the title more descriptive will help us with tracking and what not.

[2021-01-11 22:03] BenWynne-Morris commented on #3361
No problem, thanks Taurean

[2021-01-11 23:57] JohnZed commented on #3360
Thanks for filing! It seems you're using CUDA 11.2. CUDA 11.2 is not tested or supported at this time. Can you try again with CUDA 11 and see if you observe this issue?

[2021-01-12 12:01] teju85 commented on #3302
@WangWenhao0716 @Jie2World sorry for the delayed response. We can get this implemented in 0.19 release [timeframe](https://docs.rapids.ai/maintainers). Does that sound ok to you?

[2021-01-12 12:28] WangWenhao0716 commented on #3302
OK Thanks a lot！

发自我的iPhone

------------------ Original ------------------
From: Thejaswi. N. S <notifications@github.com&gt;
Date: Tue,Jan 12,2021 8:02 PM
To: rapidsai/cuml <cuml@noreply.github.com&gt;
Cc: Wenhao Wang <2609667791@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [rapidsai/cuml] The support for "precomputed" in DBSCAN [FEA] (#3302)

@WangWenhao0716 @Jie2World sorr

[2021-01-12 12:29] Nyrio commented on #2387
So, if I recap your idea of combining both approaches, we would:

- Tile the dense matrix in 2D.
- Scan the tile in shared memory.
- For each row, atomic add to k the number of nnz values found in the scan
- For each nnz element, write the id in the neighbor list at the position old_k + offset computed in the scan

Notes:

- 32 rows for coalesced reads, and then we can play with the number of thre

[2021-01-12 16:51] #959 closed

[2021-01-12 18:31] MatthiasKohl commented on #2387
Could we discuss this live at some point? I got confused with how rows and columns are actually defined in the implementation.

In any case, I agree with what you're suggesting, and I think it is the way to go, there are just some subtleties I wanted to make sure I understood correctly.

[2021-01-12 18:36] Nyrio commented on #2387
Sure, it's better to discuss that live. The definition of rows and columns is quite confusing in the code indeed.

[2021-01-12 22:06] beckernick opened #3366 "[BUG] Bump conda required CuPy to >=7.8"
Due to using `cupy.full` with the signature that requires at least CuPy 7.8, we should update the requirement in the conda `meta.yaml` (currently, it's `cupy>7.1.0,<9.0.0a0`)

https://docs.cupy.dev/en/v7.8.0/reference/generated/cupy.full.html has an additional parameter compared to https://docs.cupy.dev/en/v7.7.0/reference/generated/cupy.full.html

[2021-01-13 01:14] rilango commented on #3360
I am able to reproduce this issue on two separate machines on container derived from **0.17-cuda11.0-devel-ubuntu18.04-py3.8**

Machine 1
-----------------------------------
Driver Version: 450.102.04
CUDA Version: 11.0
Device:  GP100

Machine 2
-----------------------------------
Driver Version: 450.36.06
CUDA Version: 11.0
Device:  V100

[2021-01-13 01:15] rilango commented on #3360
I am able to reproduce this issue on two separate machines on container derived from **0.17-cuda11.0-devel-ubuntu18.04-py3.8**

Machine 1
-----------------------------------
Driver Version: 450.102.04
CUDA Version: 11.0
Device:  GP100

Machine 2
-----------------------------------
Driver Version: 450.36.06
CUDA Version: 11.0
Device:  V100

[2021-01-13 18:07] #3267 closed

[2021-01-13 18:43] ibrisa commented on #3336
Hello! Thank you for triaging this. Any updates?

[2021-01-13 18:47] teju85 commented on #3336
hopefully one of @canonizer and @levsnv might be able to look at it and come up with possible fixes.

[2021-01-13 19:08] canonizer commented on #3336
The row on which the prediction is performed is stored in shared memory, which is limited. Using more shared memory can increase the row size, but not up to the required 100K rows.

@levsnv: I remember you've done some experiments with caching the input row in L1. How hard would it be to make it into a pull request? The idea is as follows. If the row fits into shared memory, we proceed as we do no

[2021-01-13 20:04] divyegala opened #3368 "[TASK] Investigated shared memory kernels for Batched SilhouetteScore"
With the introduction of a batched SilhouetteScore implementation in https://github.com/rapidsai/cuml/pull/3362, there is room for improvement by introducing shared memory usage in the kernel which computes `a` and `b`.

[2021-01-13 21:06] miroenev commented on #3085
Adding hypothesis overview & cuml integration demo notebook from our team call as a reference.

 [cuml_hypothesis.zip](https://github.com/rapidsai/cuml/files/5811082/cuml_hypothesis.zip)

[2021-01-13 23:25] JohnZed commented on #3360
@divyegala can you take a look and try to repro?

[2021-01-13 23:56] JohnZed opened #3369 "[FEA] Remove allocator from RAFT handle"
We always use the default RMM allocator for device allocations. Managing an allocator separately in each handle instance is not necessary and could be removed, simplifying the API.

[2021-01-14 06:47] levsnv commented on #3336
Half way done with the implementation: https://github.com/rapidsai/cuml/pull/3370
Right now, it will be much slower than the shared-memory case, so it's a purely functional support to get @ibrisa unblocked, but with a couple PRs it might become reasonably fast.

[2021-01-14 16:22] cjnolet opened #3371 "[FEA] Optimizations to sparse semiring distances"
Some planned optimizations to the sparse semiring distance prims:

## (balanced) COO SPMV Semiring
1. When n_cols < max_cols_per_block, set the smem buffer size to the actual number of columns.
2. The current load-balancing depends upon the rows of A being stored in dense form in smem. This provides very fast lookups for the columns in B. Can we lower this requirement to be on the order of the deg

[2021-01-14 17:21] JohnZed opened #3372 "[FEA] Deprecate positional arguments using sklearn decorator"
As with sklearn, we do not want to encourage positional arguments for e.g. initializers. We can take advantage of the scikit-learn decorator to deprecate older arguments. Should also update developer guide to note that we don't support positionals for these.

[2021-01-14 17:22] JohnZed opened #3373 "[FEA] Deprecate positional arguments for initializers as skl does"
As with sklearn, we do not want to encourage positional arguments for e.g. initializers. We can take advantage of the scikit-learn decorator to deprecate older arguments. Should also update developer guide to note that we don't support positionals for these.

[2021-01-14 18:06] JohnZed commented on #3372
Dupe created by accident

[2021-01-14 18:06] #3372 closed

[2021-01-14 22:50] mdemoret-nv opened #3375 "[FEA] Modernize CMake Build Structure"
Discovered in PR #3367, our CMake build architecture could benefit from moving to a more modern design using targets instead of the current implementation. This is a blocker for migrating to scikit-build. A non-complete list of improvements to make:

- Remove all uses of `CMAKE_CXX_FLAGS` and `CMAKE_CUDA_FLAGS`
- Use generator functions for option dependent `target_include_directories` and `target

[2021-01-14 23:03] mdemoret-nv opened #3376 "[BUG] Clean Up `#include` Dependencies"
Discovered in PR #3367, there are dependencies to `cpp/src` from the include folder, C-API, prims, tests, benchmark, etc. which causes issues when determining cmake `PUBLIC` interface includes for `libcuml++`. Due to this dependency, `cpp/src` needs to be listed as `PUBLIC`, implying it would be installed into the `include` directory on a system. Since this does not happen, any dependent cmake pac

[2021-01-14 23:38] cjnolet opened #3377 "[FEA] Update sparse KNN to use rmm device buffer"
This is something we plan to eventually do for the entire codebase (cuml + raft), but it might be more simple to start with things that have been created / updated more recently.

[2021-01-15 00:25] dantegd commented on #3375
There is a related issue as well regarding cmake 3.18 features: https://github.com/rapidsai/cuml/issues/2194, linking it so that we close both

[2021-01-15 14:47] wphicks commented on #3322
@Matrix-World Were you able to give this a whirl with 0.17? If it's still an issue for you there, please do let us know, and we'll investigate further.

[2021-01-15 14:49] wphicks commented on #3337
I'm going to close this for now, since the original issue seems to be resolved, and the new problem has been more thoroughly documented in #3347. Thanks for bringing it to our attention, @darshats!

[2021-01-15 14:49] #3337 closed

[2021-01-15 19:51] ibrisa commented on #3305
Hi @Nanthini10, thanks for the response.

I have tried it on single-GPU before (on a Power9 system with v14) and the MSE and R2 results from cuML and sklearn matched, leading me to think this is an issue specific to the multi-gpu version.

I reran the single GPU code on x86 system with v17 with the previously linked data and `n_streams=1` for reproducibility, and it matched the results I had previ

[2021-01-15 21:14] divyegala opened #3380 "[FEA] Use gcc to compile gtests that don't have CUDA source"
I got this idea from `cudf`, who use `.cpp` extensions on gtests that don't have any CUDA source in them. By allowing `gcc` to compile those tests over `nvcc`, they speed up local as well as CI build times. I think this would be very beneficial to execute for us, and a simple enough change as well.

Thoughts @rapidsai/cuml-cpp-codeowners ?

[2021-01-15 23:13] wphicks commented on #2399
Another update based on the same profiling setup. My general approach has been to develop cheap/quick PoCs exploring different possible avenues for conversion speedup and using them to guide further exploration and longterm development decisions. A quick summary of a few areas of investigation and the runtime for a single prediction (`predict` call) with the corresponding PoC:
| Approach | `predic

[2021-01-16 01:37] #3106 closed

[2021-01-16 01:51] dantegd commented on #3380
Sounds like a good idea with no drawbacks, +1 from me for sure.

[2021-01-18 12:46] dsouzavijeth opened #3381 "AttributeError: 'DataFrame' object has no attribute 'unique'"
I'm trying to build a Random Forest Classifier using cuml.dask.ensemble.RandomForestClassifier.
4 A100 GPUs are used.

[code]
This gives - `AttributeError: 'DataFrame' object has no attribute 'unique'`

![image](https://user-images.githubusercontent.com/56159189/104917059-ea054300-59b8-11eb-817b-c40d044b474b.png)

I also tried converting dask dataframe to dask array
`curf_model.fit(X_dask_cudf.to_

[2021-01-19 05:49] teju85 commented on #2121
@aerdem4 we are going to have an intern provide us with an initial implementation of this in cuML! For starters, can we assume max program AST depth of 10 or so? Or do you think that's too low to begin with? In practice, what's the deepest program you've come across?

[2021-01-19 08:39] aerdem4 commented on #2121
@teju85 thanks for the good news! I think 10 is enough for AST depth. Generated features don't need to be very complex but should capture the interactions the model can't. If the intern needs any help, I would be happy to be involved btw.

[2021-01-19 12:41] trivialfis opened #3383 "[BUG] version `GLIBCXX_3.4.26' not found."
**Describe the bug**
I tried to run the gtest executable `cpp/build/test/ml`, an error message is shown:

[code]

**Steps/Code to reproduce bug**
Run:
[code]

**Expected behavior**
Run the unittest suite.

**Environment details (please complete the following information):**
 - Environment location: Bare-metal
 - Linux Distro/Architecture: [Ubuntu 20.04 amd64]
 - GPU Model/Driver: [GTX1080TI and dr

[2021-01-19 15:51] dantegd commented on #3383
@trivialfis it sounds like you are using gcc/g++ 9.x, I ran into the same issue if I didn't build the build stack to 9.3 (as in the PR https://github.com/rapidsai/cuml/pull/3379) or used gcc/g++ 8.x

[2021-01-19 16:09] #1965 closed

[2021-01-19 16:12] dantegd commented on #566
This has been addressed by the `gpuci_conda_retry` command that is used in CI now if I'm not mistaken

[2021-01-19 16:12] #566 closed

[2021-01-19 16:15] dantegd commented on #448
This issue is superseded by https://github.com/rapidsai/cuml/issues/3145 unless I'm mistaken

[2021-01-19 16:15] #448 closed

[2021-01-19 16:19] dantegd commented on #692
Notes have been added to our docs api in https://docs.rapids.ai/api/cuml/stable/pickling_cuml_models.html

[2021-01-19 16:19] #692 closed

[2021-01-19 16:20] dantegd commented on #610
@cjnolet closing the issue since it seems like it was the tracking issue of when the comms was being developed, let me know if I'm mistaken and feel free to re-open if so

[2021-01-19 16:20] #610 closed

[2021-01-19 16:21] #607 closed

[2021-01-19 16:24] dantegd commented on #1001
Given the presence of the `tech debt / quality of life` board (and that most issues have been closed), this issue is no longer needed

[2021-01-19 16:24] #1001 closed

[2021-01-19 16:25] dantegd commented on #887
This can be closed now that the rapids build meta packages are being used

[2021-01-19 16:25] #887 closed

[2021-01-19 16:25] #1169 closed

[2021-01-19 16:26] #1160 closed

[2021-01-19 16:26] #1123 closed

[2021-01-19 16:29] dantegd commented on #1094
I believe this is no longer an issue, but if it is given the age of the issue it might be good to open a new one using recent versions of the packages

[2021-01-19 16:29] #1094 closed

[2021-01-19 16:30] #1960 closed

[2021-01-19 16:31] #1343 closed

[2021-01-19 16:33] #1189 closed

[2021-01-19 16:34] dantegd commented on #1499
Notebook is in the docs now https://docs.rapids.ai/api/cuml/stable/estimator_intro.html

[2021-01-19 16:34] #1499 closed

[2021-01-19 16:37] dantegd commented on #1495
If I'm not mistaken this issue is solved (and @cjnolet already moved it to done in the corresponding version board), so just closing the issue accordingly

[2021-01-19 16:37] #1495 closed

[2021-01-19 16:38] dantegd commented on #1492
Closing issue due to age and it pertains to an older (0.10) cuML version, feel free to open a new issue if similar situation happens with current versions.

[2021-01-19 16:38] #1492 closed

[2021-01-19 16:39] #1437 closed

[2021-01-19 16:40] #1426 closed

[2021-01-19 16:42] #1592 closed

[2021-01-19 16:42] #1536 closed

[2021-01-19 16:43] dantegd commented on #1525
I think this is no longer needed with recent versions of cuml/treelite, but feel free to re-open if I'm wrong

[2021-01-19 16:43] #1525 closed

[2021-01-19 16:44] #1713 closed

[2021-01-19 16:47] dantegd commented on #1818
@tuffr5 I think the issue has been solved from your last message, so closing it, feel free to re-open or open a new issue if the problem still persists. Thanks!

[2021-01-19 16:47] #1818 closed

[2021-01-19 16:49] #1797 closed

[2021-01-19 16:50] dantegd commented on #1958
Issue pertained to an older version of cuml and distributed, closing  but feel free to re-open or opening a new issue if the problem still persists. Thanks!

[2021-01-19 16:50] #1958 closed

[2021-01-19 16:51] #1942 closed

[2021-01-19 16:52] #1913 closed

[2021-01-19 16:53] #2037 closed

[2021-01-19 16:56] dantegd commented on #2367
Superseded by https://github.com/rapidsai/cuml/issues/3369

[2021-01-19 16:56] #2367 closed

[2021-01-19 16:57] #2346 closed

[2021-01-19 16:57] #2361 closed

[2021-01-19 16:58] #2332 closed

[2021-01-19 16:58] #2331 closed

[2021-01-19 16:59] #2296 closed

[2021-01-19 17:02] dantegd commented on #2466
@hcho3 I believe this issue should be safe to close, right?

[2021-01-19 17:07] JohnZed opened #3384 "[BUG] Allow xfail for holt winters cpu reference code to support gcc 9.3"
See failures for: https://github.com/rapidsai/cuml/pull/3379

[2021-01-19 17:09] JohnZed commented on #3025
Closed by #3364

[2021-01-19 17:17] dantegd commented on #2602
This should be solved in the current cuML versions, but if not feel free to re-open/open a new issue. Thanks!

[2021-01-19 17:17] #2602 closed

[2021-01-19 17:21] #2776 closed

[2021-01-19 17:21] #2757 closed

[2021-01-19 18:24] mdemoret-nv commented on #3376
Quick analysis using our C++ Doxygen output shows some of the dependencies:
![image](https://user-images.githubusercontent.com/42954918/105075551-1f587200-5a47-11eb-9727-96923f3b6737.png)

Seems like the following number of files need to be cleaned up:
1. Files that `#include "src/..."` from `include`: 13
2. Files that `#include "src_prims/..."` from `include`: 1
3. Files that `#include "src/..."`

[2021-01-19 18:51] Nanthini10 commented on #3305
Thanks for the details @ibrisa! This is helpful, let me debug this and get back to you.

[2021-01-19 20:36] dantegd commented on #3381
I just tried using the current nightlies and did not run into this issue with a simple example, could you provide more information about the versions of packages and the  data that is in `X_dask_cudf` and `y_dask_cudf`? The best way would be to run this script https://github.com/rapidsai/cuml/blob/branch-0.18/print_env.sh since that would provide us as much information as possible to debug things.

[2021-01-19 22:31] dantegd commented on #3383
Funnily enough, forgot to switch the gcc version I was using on a server and can confirm I get the exact same error:

[code]
with:
[code]

Just wanted to add the output to my comment for reference.

[2021-01-19 23:40] miroenev commented on #3174
Parallel pytest with 4 workers reduces test time by 25% (16 to 12 minutes).
Run on single V100 with 0.17-dev container and a 8 core limit (--cpuset-cpus).

[1 worker output](https://github.com/rapidsai/cuml/files/5839192/1.txt)
[4 worker output](https://github.com/rapidsai/cuml/files/5839191/4.txt)

Issues:
- the dask tests were skipped (preventing multiple clusters spun up on single GPU)
- runnin

[2021-01-19 23:59] dantegd commented on #3174
@miroenev I think an interesting combination to compare would also be 4 cores with 2 workers, just to check with a configuration more similar to the current CI nodes (which AFAIK are still limited to 4 cores per job).

[2021-01-20 02:08] teju85 commented on #2121
tagging @vimarsh6739 who'll be implementing this.

[2021-01-20 03:51] JohnZed commented on #3259
Closing as this is 0.16-related

[2021-01-20 03:51] #3259 closed

[2021-01-20 04:04] JohnZed commented on #2864
Refers to: https://github.com/rapidsai/cuml/blob/branch-0.18/notebooks/random_forest_mnmg_demo.ipynb

[2021-01-20 04:05] JohnZed commented on #2864
Should be able to switch to cuml metrics there too.

[2021-01-20 10:46] hcho3 commented on #3383
@trivialfis Can you take out the option `--buildgtest`? Your Conda environment should already have a pre-built GTest available.

[2021-01-20 11:51] hcho3 commented on #3383
I just tested it using a Linux machine running Ubuntu 20.04, and I ran into the same issue.
* GCC version: 9.3.0
* NVCC version: 11.0

I tried removing the flags `--buildgtest` and `-g`:
[code]
But the same error still persists.

[2021-01-20 12:26] hcho3 commented on #3383
Users of Ubuntu 20.04 can work around this issue by using GCC 7:
[code]
Install GCC 7 by running
[code]

[2021-01-20 14:08] trivialfis commented on #3383
Okay, I got the build completed, then run into another error.  Will submit another issue for that.

@hcho3 To make a full switch (notice the cuda host compiler):

[code]

[2021-01-20 14:15] trivialfis opened #3390 "[BUG] illegal memory access in unittest."
**Describe the bug**

Here is a partial log for the error:
[code]

**Steps/Code to reproduce bug**
Build cuml with:
[code]
Run unittest:
[code]

**Expected behavior**
No error.

**Environment details (please complete the following information):**
 - Environment location: [Bare-metal]
 - Linux Distro/Architecture: [Ubuntu 20.04 amd64]

   g++/gcc-8 is used instead of default g++-9 due to https://gi

[2021-01-20 14:15] trivialfis commented on #3383
Should I close this one?

[2021-01-20 14:28] hcho3 commented on #3390
Have you tried using GCC 7?

[2021-01-20 14:31] hcho3 commented on #3383
Yes

[2021-01-20 14:31] trivialfis commented on #3390
Em, no.  I don't think switching cuda host compiler can cause a device memory error?

[2021-01-20 14:32] trivialfis commented on #3390
But if that happened before I can try another build.

[2021-01-20 14:32] trivialfis commented on #3383
Many thanks! @dantegd @hcho3

[2021-01-20 14:32] #3383 closed

[2021-01-20 14:34] hcho3 commented on #3390
I ask because the CI currently uses GCC 7 and the tests pass there. An ABI break could potentially lead to memory corruption, due to undefined behavior.

[2021-01-20 15:00] P3ngLiu commented on #1653
@cjnolet Hi! Just curious. Are you going to implement this feature on 0.18 Release?

[2021-01-20 15:14] trivialfis commented on #3390
I think running `cuda-memcheck` helped:

[code]

[2021-01-20 15:52] wphicks commented on #2933
I think we're past the window we set for watching for additional failures. @JohnZed Should we close this out or wait until we finalize 0.18 to give it a bit longer to appear?

[2021-01-20 16:12] dantegd commented on #3390
I was unable to reproduce in my environment, built from source with:

- Environment location: [Bare-metal]

- Linux Distro/Architecture: [Ubuntu 20.04 amd64]

- gcc 8.4

- GPU Model/Driver: 3080 / 460.32.03

- CUDA: 11.1

Here is the output:

[code]

So this seems that this might be related to the Pascal GPU. I am building on a Turing machine to see if it happens or not there as well.

[2021-01-20 16:41] dantegd commented on #3390
Just ran in a machine with a 2070 Super, and it did not reproduce the issue either:

- Environment location: [Bare-metal]

- Linux Distro/Architecture: [Ubuntu 20.04 amd64]

- gcc 8.4

- GPU Model/Driver: 2070S / 450.102.04

- CUDA: 10.2

So this seems to be something Pascal (or environment) specific. Output attached for reference:

[code]

[2021-01-20 16:52] trivialfis commented on #3390
@dantegd Please see my `cuda-memcheck` log https://github.com/rapidsai/cuml/issues/3390#issuecomment-763700538.  The failed test is `QuasiNewtonTest.multiclass_logistic_vs_sklearn`

[2021-01-20 17:39] dantegd commented on #3390
@trivialfis thanks for the clarification, totally missed the first line on the log so (wrongly) assumed it was a cuda-memcheck fail on the same test. I can confirm that it reproduces the same on my environments

[2021-01-20 17:40] #3261 closed

[2021-01-20 21:37] lowener commented on #2510
I could not reproduce this issue. I tried multiple times on more than 10 classes and the models are able to converge with more than 95% accuracy

[2021-01-20 21:49] JohnZed commented on #2510
Closing as outdated.

[2021-01-20 21:49] #2510 closed

[2021-01-20 22:27] Santyk1993 opened #3392 "[QST] How to fix unequal partitioning of data across workers in dask_cudf dataframe!"
For using multi-GPU Random Forest using cuML library, I have partitioned my data using the dask fuctions 'dask_cudf', 'dask_client' and 'persist_across_workers'. I have 4 GPUs which I have assigned as 4 workers. And I have partitioned my data like so:

[code]

The result of 'persist_across_workers' seems to be that the data/partitions is unevenly distributed across the workers; an example result a

[2021-01-21 04:49] dsouzavijeth commented on #3381
This didn't work : `y_dask_cudf = dask_cudf.from_cudf(Y_train_df, npartitions=n_partitions)`
 and this worked : `y_dask_cudf = dask_cudf.from_cudf(Y_train_df['label'], npartitions=n_partitions)`

Thanks for the support. I'm closing this issue.

[2021-01-21 04:49] #3381 closed

[2021-01-21 05:17] miroenev commented on #3174
Sure I'll run that as well and follow up.

[2021-01-21 06:32] Jie2World commented on #3302
Thanks. You made my day.

[2021-01-21 16:54] miroenev commented on #3174
2 workers with 4 cores finishes in 14 minutes and 20 seconds vs single worker @ 16 minutes

[2021-01-22 05:15] caubekimo opened #3399 "[BUG] Running cuml.dask.decomposition.PCA Example leads NameError: name 'cuml' is not defined error"
**Describe the bug**
I am running Example code of cuml.dask.decomposition.PCA:
[code]

and the output is
[code]

A clear and concise description of what the bug is.

**Steps/Code to reproduce bug**
1. run docker using:
    docker run --rm --gpus all -it -p 8888:8888 -p 8787:8787 -p 8786:8786 rapidsai/rapidsai:05_with_sudo
2. cd to the directory of python code
3. python pca-test-rapids-multiGPU.py

[2021-01-22 05:19] caubekimo commented on #3399
the sample code comes from here:
[cuML API Reference](https://docs.rapids.ai/api/cuml/stable/api.html?highlight=pca#cuml.dask.decomposition.PCA)

Examples

from dask_cuda import LocalCUDACluster
from dask.distributed import Client, wait
import numpy as np
from cuml.dask.decomposition import PCA
from cuml.dask.datasets import make_blobs

cluster = LocalCUDACluster(threads_per_worker=1)
client = Cli

[2021-01-22 05:19] caubekimo commented on #3399
the sample code comes from here:
[cuML API Reference](https://docs.rapids.ai/api/cuml/stable/api.html?highlight=pca#cuml.dask.decomposition.PCA)

Examples

from dask_cuda import LocalCUDACluster
from dask.distributed import Client, wait
import numpy as np
from cuml.dask.decomposition import PCA
from cuml.dask.datasets import make_blobs

cluster = LocalCUDACluster(threads_per_worker=1)
client = Cli

[2021-01-22 05:32] P3ngLiu commented on #1653
@JohnZed @fondaing can someone please tell me the answer? Thanks!

[2021-01-22 09:35] viclafargue commented on #3318
Answered by #3391

[2021-01-22 16:20] snakeztc commented on #1653
Same question here! When can this function be released since it's crucial for word2vec viz using cosine distance. @cjnolet

[2021-01-22 17:50] dantegd commented on #3399
Hi @caubekimo, thanks for the issue!

There is a bug with the import of the logging level, if you change the example script to:

[code]

it works well, the problem was with the import of cuml.logger, we'll work to get this fixed in the upcoming version. Thanks, and let us know if you run into any further issues with running the example (or any other of your code).

[2021-01-22 20:01] cjnolet commented on #1653
Our UMAP API does accept a `knn_graph` argument in the `fit()`, `transform()` and `fit_transform()` functions. This should allow  UMAP to embed different metrics in the meantime:

[code]

[2021-01-23 14:11] snakeztc commented on #1653
@cjnolet this is great. thanks!

[2021-01-23 16:17] tfeher commented on #3390
I run into the same problem using `rapidsai/rapidsai-dev-nightly:0.18-cuda11.0-devel-ubuntu18.04-py3.7` both on V100 and A100. With these parameters I see the error only if I compile in debug mode. Apart from `RPROJTestD2.EpsilonCheck` there is also a problem with `SmoSolverTest/0.SvcTest`.

[code]

The SVC problem is thrown from `Distance::distance<raft::distance::DistanceType::L2Unexpanded,...`,

[2021-01-23 23:51] abhipn opened #3403 "[FEA] TfidfVectorizer to accept Pandas Series as input"
I am trying to use tfidf vectorizer and I keep getting this below error,

I am using the cuml 0.17 stable.

[code]

[2021-01-24 04:51] #3392 closed

[2021-01-24 05:26] Santyk1993 opened #3404 "[QST] How to perform saving and loading of multi-GPU cuml dask RandomForestClassifier models?"
There aren't clear documentation examples for saving and loading the 'cuml.dask.ensemble.RandomForestClassifier' trained models.

I have trained the model using 4 GPUs.
After training, I have used the 'get_combined_model()' function on the distributed model to get a single GPU model for pickling, as mentioned in:
https://docs.rapids.ai/api/cuml/stable/pickling_cuml_models.html#Distributed-Model-Pi

[2021-01-24 16:10] dantegd commented on #3403
Thanks for the issue @abhipn , I was wondering if you could provide the script and data that caused this to happen? This would very helpful to triage the issue. Thanks!

[2021-01-24 16:17] dantegd commented on #3404
Hi @Santyk1993 I believe what you ran into is a bug in the 0.17 version, particularly described by this issue:

https://github.com/rapidsai/cuml/pull/3331

This PR should fix it (once it is merged) for the upcoming versions: https://github.com/rapidsai/cuml/pull/3388

[2021-01-24 17:48] #2412 closed

[2021-01-24 18:28] dantegd opened #3406 "[BUG] CUDA 11.2 libcuml++ C++ test failures EDIT: Updated with 11.2 update 2"
**Describe the bug**
During the weekend I was updating my workstation to add CUDA 11.2 as one of the installed versions, and ran the `libcuml++` C++ tests to see  potential issues we could run into. Prims tests all passed. Since we have (relatively very) few failures, I'm opening this issue to track things.

***Updated with cuda 11.2 update 2 results (identical to update 1)***

**Steps/Code to rep

[2021-01-25 11:07] viclafargue commented on #2933
For some reason, it seems that there's still a problem with KBinsDiscretizer : [CI log](https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci/job/cuml/job/prb/job/cuml-gpu-test/CUDA=10.1,GPU_LABEL=gpu,OS=ubuntu16.04,PYTHON=3.7/441/display/redirect). It will be very hard to debug failures that happen that rarely...

[2021-01-25 11:20] tfeher commented on #3390
Since I am investigating the same distance prims in connection to #3233, I will have a look at this problem as well.

[2021-01-25 16:36] wphicks commented on #3318
Unfortunately, even with this fix I still saw the memory access error in CI for #3304. I'm going to reopen this for now to facilitate further discussion.

[2021-01-25 16:45] JohnZed commented on #3377
Future update for @lowener who has gotten some practice with these conversions recently?

[2021-01-25 16:48] #3384 closed

[2021-01-25 16:52] #3174 closed

[2021-01-25 17:11] #3085 closed

[2021-01-25 17:34] #1760 closed

[2021-01-25 17:34] JohnZed commented on #1760
notebook no longer present in cuml repo

[2021-01-25 17:39] JohnZed commented on #3166
@wphicks to check on more recent CUDAs

[2021-01-25 17:48] JohnZed commented on #1099
Closed by #3157

[2021-01-25 17:48] #1099 closed

[2021-01-25 17:53] divyegala commented on #3360
Prioritizing on getting #3058 through the line first so as to give another backend for TSNE

[2021-01-25 21:09] wphicks commented on #3166
This currently does not work on CUDA >10.1 because our `CUDART_VERSION` check in RAFT only checks if we're >=10.1, not if we're <10.2. A quick test demonstrated that at least for CUDA 11, correcting that check allows us to correctly run reproducer code. I'll submit a (very short) PR over there which should get this working for more recent CUDA versions.

[2021-01-26 11:56] martinfleis opened #3412 "[BUG] Significant difference between cuML KMeans and sklearn KMeans"
**Describe the bug**
I am comparing sklearn's KMeans and cuML's one and I am getting significantly different results. `adjusted_rand_score` between the two is about 0.33 while I would assume it to be close to 1.0. The results are consistent across many runs with different random states.

**Steps/Code to reproduce bug**
I was not able to reproduce it with different data than those I actually use, s

[2021-01-26 17:45] #3195 closed

[2021-01-26 17:49] Nyrio opened #3414 "[BUG] DBSCAN: fix or remove "naive" versions of the building blocks"
The naive versions of the building blocks `vertexdeg` and `adjgraph` use a row-major BxN matrix `adj`, though the real algorithms use a column-major BxN matrix (described in some pieces of the code as a row-major NxB matrix, which is equivalent).

I think that these algorithms should be made consistent or removed. I am wondering what is the reason for keeping them around?

[2021-01-26 19:19] wphicks commented on #3412
I was able to reproduce this and am looking into it further. Thanks very much for the complete reproducer code!

[2021-01-26 22:15] wphicks commented on #3412
After some initial investigation, I discovered that I could reproduce this with just 2 columns of the provided data (columns 5 and 6), which made it a bit easier to visualize what was going on. We can see below the different NN labelings provided by cuML and sklearn respectively:

![image](https://user-images.githubusercontent.com/11039110/105912170-0e849f00-5ff9-11eb-9b1a-40a2381e7eaa.png)
![imag

[2021-01-26 22:46] tfeher commented on #3390
The same error comes up when we run the distance prim tests if they are compiled in debug mode. The error is present since a long time. I have tried the following combinations:

- branch-0.15 with `rapidsai/rapidsai-dev:0.15-cuda10.1-devel-ubuntu18.04-py3.7`
- branch-0.16 with `rapidsai/rapidsai-dev:0.16-cuda10.1-devel-ubuntu18.04-py3.7`
- branch-0.17 with `rapidsai/rapidsai-dev:0.17-cuda11.0-deve

[2021-01-26 23:18] #1130 closed

[2021-01-27 11:07] aerdem4 commented on #2121
A simple Kaggle test case:
https://www.kaggle.com/c/loan-default-prediction People claim without extracting the feature f527-f528, GBM performs poor in this old competition. There may be more complex magic features too.

I can also create artificial datasets that we can test if GP can reverse engineer the features that contribute to the target.

[2021-01-28 12:20] abhipn commented on #3403
@dantegd I don't have the permissions to share the data, it's text sentences and i want to convert them to tfidf vector matrix.

[code]
This is all I have used, and it returned that error

[2021-01-28 13:37] beckernick commented on #3403
Based on the error message, it looks like you may be passing a pandas Series to `fit_transform`. This functionality currently only accepts cuDF Series inputs, which is noted in the docstring. Does using cuDF resolve your issue?

@dantegd , perhaps this should be updated to be a feature request for input type conversion on the TFIDF vectorizer, and perhaps the other vectorizers if need be.

[2021-01-28 17:07] #3025 closed

[2021-01-28 17:16] JohnZed commented on #1970
Closed by #3400

[2021-01-28 17:16] #1970 closed

[2021-01-28 17:29] tfeher commented on #3233
Most of the problems will be fixed by #3420. Note that if we compile in debug mode, than problem #3390 still exist (problem with distance prims).

After the memory issue is fixed there seem to be a convergence issue, similar to what is discussed [here](https://github.com/rapidsai/cuml/issues/2857#issuecomment-702732511). I still have to confirm whether it is the same convergence problem. It can be

[2021-01-28 17:32] JohnZed commented on #3318
* Observed failures on V100 on Centos with CUDA 10.2

[2021-01-28 17:34] wphicks commented on #3318
Also observed on CUDA 11 on #3409

[2021-01-28 17:39] JohnZed opened #3421 "[FEA] FFT-based tSNE (FitSNE)"
Relates to #3058

[2021-01-28 19:26] Nyrio opened #3422 "[FEA] DBSCAN: abstract C++ code in a class, and separate OPG logic"
This is a follow-up on a [discussion](https://github.com/rapidsai/cuml/pull/3382#discussion_r564610857) on PR #3382.

As explained by @cjnolet:

[2021-01-28 22:45] #3344 closed

[2021-01-28 23:38] mdemoret-nv opened #3425 "[BUG] Fix Codecov.io Base Reports for PRs"
Discovered while working on PR #3338, all of the PRs are currently missing their base reports (PRs can be found [here](https://app.codecov.io/gh/rapidsai/cuml/pulls?page=1&state=open&order=-pullid)). This started when we switched to a 'squash and merge' strategy for PRs. The last PR with a base report is #3340.

Without an accurate base report, many of the codecov comments are incorrect since it w

[2021-01-29 14:43] #3166 closed

[2021-01-29 15:29] cjnolet opened #3431 "[BUG] Strange thrust host copy error causing race conditions"
I was recently troubleshooting some strange race conditions I was seeing in gtests and `cuda-memcheck --tool initcheck` raised the following trace:

[code]

The offending call was this Thrust function:

[code]

I also found [a Thrust issue](https://github.com/NVIDIA/thrust/issues/1048) reporting the exact same problem which was opened exactly 1 year ago from the date of this issue. Replacing the t

[2021-01-29 17:07] wphicks commented on #3322
Going to close this for now, but please feel free to reopen if you find that this is still an issue in the latest stable release.

[2021-01-29 17:07] #3322 closed

[2021-01-29 20:59] #3268 closed

[2021-01-29 22:14] cjnolet commented on #3371
As suggested by @tfeher, it would be a good idea to accelerate the reduction of the coo row norms using warp- and block-level reductions before the atomic writes to global memory (similar to what we've done with the spmv kernel).

[2021-01-29 22:31] beckernick opened #3435 "[BUG] SimpleImputer requires array input (and incorrect docs)"
In the 2021-01-29 nightlies, the SimpleImputer example in the documentation throws an error during fit. The namespace may need to be `cuml.experimental.preprocessing` at the moment. The example also fails in `fit` due to expecting an object that has a `dtype` attribute.

[code]

Fixing the namespace, we get the following:

[code]

Scikit-learn is able to pass a list.

[code]

[code]

[2021-01-29 22:47] #3300 closed

[2021-01-30 03:53] #1448 closed

[2021-01-30 07:26] levsnv commented on #3336
The PR is on track to merge by 0.18

[2021-01-30 07:36] levsnv opened #3440 "[BUG] FIL might eventually underestimate CUB shared memory footprint"
**Describe the bug**
FIL uses two CUB reductions (float Max and float+int ArgMax), which need a shared memory workspace. It needs to know this ahead of time to pack the right number of blocks (and soon, decide on where the input rows should reside).
The problem is that it's hardcoded to Pascal. It is hopefully an upper bound due to shuffle instructions in Volta onwards, but may eventually be wrong

[2021-01-30 07:37] levsnv commented on #3440
not planning to fix by 0.18, perhaps by 0.19?

[2021-02-01 16:23] #2969 closed

[2021-02-01 16:47] #3255 closed

[2021-02-01 16:56] #3297 closed

[2021-02-01 17:22] JohnZed commented on #3100
closed by #3146

[2021-02-01 17:22] #3100 closed

[2021-02-01 17:24] JohnZed commented on #2399
Closed by #3395 - there is more room for optimization but this is by far the most important speedup we need

[2021-02-01 17:24] #2399 closed

[2021-02-01 18:20] wphicks commented on #2399
The brief version of the final speedup we obtained was that we got about a 21.23x speedup relative to baseline for the parameters described above. I'll do one more "matrix" of runs with a variety of tree depths, number of features etc., and I'll post that table here for final comparison.

[2021-02-01 22:13] wphicks commented on #2933
Using Hypothesis, I was able to find either some consistent reproducers of at least one of the problems represented by this issue or else consistent reproducers for a new issue. I'll give the simplest one that I've found so far below:
[code]
As demonstrated by the random values in the input, the rest of the matrix does not seem to matter so long as this *precise* number appears (as far as I can te

[2021-02-02 01:00] caubekimo commented on #3399
Hi @dantegd , here is the result after running your code:
`
Input Matrix
[[8.698725  3.1011004 1.2859464]
 [8.69769   3.1051154 1.2579664]
 [8.699014  3.1087606 1.2712977]
 [8.683004  3.121161  1.2739574]
 [8.69741   3.125896  1.2544217]
 [8.683235  3.0888617 1.259266 ]]
Transformed Input Matrix
[[-0.01268349]
 [ 0.00039271]
 [-0.00055033]
 [ 0.00854769]
 [ 0.02101233]
 [-0.01671977]]
`
the proble

[2021-02-02 01:00] #3399 closed

[2021-02-02 07:50] teju85 commented on #3024
I think we should just deprecate (and eventually remove) the support for "quantile per tree" feature. @vinaydes ?

[2021-02-02 08:12] teju85 commented on #2852
Related issue #3095

[2021-02-02 14:49] denfromufa commented on #286
This would make possible to run rapidsai models for inference on Windows. The feature with exporting to TensorRT, onnx or scikit-learn would be helpful. Ideally just a guide to transfer the model parameters from CUML to SKLEARN would be great.

[2021-02-02 16:30] wphicks commented on #2933
Probably related: https://github.com/scikit-learn/scikit-learn/issues/13194 and https://github.com/numpy/numpy/issues/10373

[2021-02-02 18:23] wphicks commented on #2933
Fixed by https://github.com/numpy/numpy/pull/16273, which is part of numpy 1.20.0. As of 2 days ago, 1.20.0 became available on conda-forge, and it is now the default version installed in our environments. I'm going to do some further testing to see if there is some *other* issue which is also cropping up here, but I'm beginning to have some hope that this has been resolved.

[2021-02-02 19:15] mdemoret-nv opened #3446 "[BUG] Fix References to Deprecated CuSparse Functions"
As of 0.16, when building from source, many CuSparse deprecated messages are shown polluting the log and making it easy to miss valid warnings. Most of the deprecation messages are of the form:

[code]

These should be fixed to use the non-deprecated function or at the very least hidden during compilation with `-DDISABLE_CUSPARSE_DEPRECATED`

[2021-02-02 22:15] wphicks commented on #2933
There is still an issue because of https://github.com/cupy/cupy/issues/4607, which presents the exact same problem as in numpy but for different "magic" input values. I'm going to put in a quick workaround and submit a fix to cupy.

[2021-02-03 00:01] cjnolet opened #3449 "[BUG] CI errors for for sparse knn w/ minkowski distances"
This isn't really a bug in the code but rather in the assertion. The minkowski distances match to the tolerance but a couple of the indices are ordered differently. We should apply a separate threshold so that, for example, when only 2 out of 400 indices are different, the test still passes.

[2021-02-03 00:04] wphicks commented on #2933
The "quick workaround" was not actually correct, but I think there's a messier workaround available. I'm putting in a PR to xfail the test since we're about to hit burndown and then try to figure out a better approach until the fix works its way into a version of cupy that we can use.

[2021-02-03 00:08] mdemoret-nv opened #3451 "[DOC] Update Python Docs to Use Python Inline String and References"
From PR https://github.com/rapidsai/cuml/pull/3445 two new capabilities were added to the python documentation: default role and inline python code. Due to the size of the current documentation, updating the docstrings to take advantage of these new features would be a very large task. So the new features were added to allow them to be used immediately and this issue is being created to track upda

[2021-02-03 10:15] Nyrio commented on #3094
Fixed in #3382

[2021-02-03 10:15] #3094 closed

[2021-02-03 21:18] #3449 closed

[2021-02-04 00:25] wphicks commented on #2933
The plan now is to wait for https://github.com/cupy/cupy/pull/4617 to get in before removing the xfail again. I'll do a couple tests in the meantime to make sure there's not *another* issue lurking somewhere in here, but `cupy.percentile` definitely needs to get updated for us to match sklearn output consistently.